= simple_form_for(@cms_resource_image) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :res_image, :label => 'Resource image'

  - if @is_edit
    .back-btn
      %h3 Current image
      - @find_image.each do |image|
        = image_tag 'http://assets2.solidfire.com/uploads/resources/' + image.id + '-' + image.res_image_file_name
      %br

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"
