.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_resource_image.title
      .link
        = link_to 'Manage Resource Images', cms_resource_images_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Resource Images', cms_resource_images_path, :class => 'cms-white-button'
