.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Resource Images

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_resource_image_path}
        %span.plus +
        New Resource Image


    .record-wrapper
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_resource_images.each do |cms_resource_image|
      .custom-landing-item
        .record-email
          = cms_resource_image.title
        .record-destroy
          = link_to 'Destroy', cms_resource_image, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_resource_image_path(cms_resource_image), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_resource_image_path}
          %span.plus +
          New Resource Image
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'

    .back-btn
      = will_paginate @cms_resource_images
