.span6
  %h2 INTERNS
  %p At SolidFire, we believe a great internship begins with a meaningful assignment and clear goals. Interns are a valuable voice on teams because they lend a unique point of view. We foster a learning environment by pairing interns with mentors. Our interns have written code for our product releases, analyzed sales data, and assisted in financial audits and process documentation. There aren’t many places where interns can see the direct impact of their work, but as an intern at SolidFire, you always will. Check out our Intern positions below and be fueled by SolidFire.
.span6right
  =image_tag 'careers/careers_interns_image.jpg'
