.span6
  %h2 MARKETING
  %p Our marketing team is changing the way the world thinks about storage. We market technology that is cutting edge and leading the pack. Imagine seeing your project from start to finish with measurable impact to customers. Unforeseen paths are inevitable.A “glass half full” attitude and a little patience is key to your success. We respect every team member’s voice in our creative process. Check out our Marketing positions below and be fueled by SolidFire.
  %p If you are interested in Inside Sales or Sales Operations, these positions are located within the Sales department.
.span6right
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_VgHZ_UE6TnrCQ3GYwgKpRw', :src => '//play.vidyard.com/VgHZ_UE6TnrCQ3GYwgKpRw.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_VgHZ_UE6TnrCQ3GYwgKpRw();'}
      =image_tag 'careers/careers_marketing_image.jpg'

