.span6
  %h2 OPERATIONS & ADMINISTRATION
  %p With so many ways to contribute in the Operations & Administration team, you will find a way to do what you are passionate about. We are a talented group of people who support and manage our people, products, and processes. We are champions of taking ownership and initiative on our projects. We empower team members to make their own decisions on what needs to happen. Check out our Operations & Administration positions below and be fueled by SolidFire.
  %p The Operations and Administration department includes everything from Finance and Accounting to Human Resources, Legal, Facilities, Supply Chain, Customer Support and Information Technology.

.span6right
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_Ix4JWNYKOCzVlRYdf0rflw', :src => '//play.vidyard.com/Ix4JWNYKOCzVlRYdf0rflw.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_Ix4JWNYKOCzVlRYdf0rflw();'}
      =image_tag 'careers/careers_operationsAdmin_image.jpg'
