.span6
  %h2 PRODUCT & ENGINEERING
  %p At SolidFire, our engineers work each day to revolutionize the entire storage industry. We believe collaboration is the single most important key to team success. Every engineer touches the code in our hands-on design process. We live and breathe quality; a feature which has been built into the very architecture of our products. Envision a place where your successes and milestones are celebrated by the entire team. Imagine the freedom to influence what you work on each day.
  %p Check out our Engineering positions below and be fueled by SolidFire.
.span6right
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_AHgDVQXMh5C9WRxifMpazQ', :src => '//play.vidyard.com/AHgDVQXMh5C9WRxifMpazQ.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_AHgDVQXMh5C9WRxifMpazQ();'}
      =image_tag 'careers/careers_productEngineering_image.jpg'
