.span6
  %h2 SALES
  %p At SolidFire, scale-out architecture means we form a true partnership to meet our customer’s goals. We influence and guide customers to boldly transform their own ideas about storage. The data storage market is a constantly changing landscape and SolidFire is recognized as the industry leader. We are sales professionals who are interested in building something transformational. We need your personal agility and creativity to try new ideas as we grow.  Our sales teams are geographically diverse and will continue to expand.
  %p
    Our clients and partners are some of the largest companies known around the globe.
    %a.sales-link{href: customers_path}
      Read more about our case studies here.
  %p Check out our Sales positions below and be fueled by SolidFire.

.span6right
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_5kcyAohVkNSUyoqq5_mqQA', :src => '//play.vidyard.com/5kcyAohVkNSUyoqq5_mqQA.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_5kcyAohVkNSUyoqq5_mqQA();'}
      =image_tag 'careers/careers_sales_image.jpg'
