%header.page-header.clearfix
  .header-nav.clearfix
    .column-1
      #logo
        = link_to(image_tag("global/LOGOSIRA1x .png", :class => "img-responsive cms_logo"), cms_home_index_path, :id => "solidfire-header-logo")
    - if @user.email
      .column-2.clearfix
        .user-menu
          .user-email
            = @user.email
          .user-drop-down-button
            %span.triangle-bullet
              %i.icon-RightArrow20
          .drop-down-menu
            = link_to 'Logout', cms_logout_path

