.span12
  %h2 Guaranteed performance and full system automation change the game.
  %p SolidFire is fueling competitive differentiation and new enterprise business.

.span12
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_w-bvaIqdkufHca77bnyaLg', :src => '//play.vidyard.com/w-bvaIqdkufHca77bnyaLg.js?v=3.1.1&type=lightbox'}
    .outer_vidyard_wrapper
      .vidyard_wrapper{:onclick => 'fn_vidyard_w$bvaIqdkufHca77bnyaLg();'}
        = image_tag 'solutions/case_studies/d47fe36b-50a2-4dcc-b3a2-bd818bf88f18.png', alt: 'Crucial'
        .vidyard_play_button
          %a{:href => 'javascript:void(0);'}
.span12
  .second-video-link
    %i.icon-icon_playVideo2
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_w-bvaIqdkufHca77bnyaLg', :src => '//play.vidyard.com/w-bvaIqdkufHca77bnyaLg.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_w$bvaIqdkufHca77bnyaLg();'}
      See how Crucial is going after new customers with SolidFire storage.
