.span12
  %h2 Witness the transformation from backup supplier to full IaaS provider.
  %p Databarracks is using SolidFire high-performance storage to give their customers the infrastructure they’ve been asking for.

.span12
  .video
    %a{href:"http://fast.wistia.net/embed/iframe/vb6xv45crs?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]"}
      =image_tag 'solutions/case_studies/aa0c2466-807d-4a8c-a090-e23c933bb6e0.png', alt: 'Sungard'

