.span12
  %h2 Scope. Scale. Organizational Agility

.span12
  %p Understanding the client's business objectives.
  =image_tag 'solutions/case_studies/bed2f50d-99e9-407e-a73f-781bf54f362f.png', alt: 'Datapipe', class: 'top-banner'
