.span12
  %h2 Saying goodbye to the performance variability of legacy storage.

.span12
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_DpNZLDCK8HENPzYJZh46JA', :src => '//play.vidyard.com/DpNZLDCK8HENPzYJZh46JA.js?v=3.1.1&type=lightbox'}
    .outer_vidyard_wrapper
      .vidyard_wrapper{:onclick => 'fn_vidyard_DpNZLDCK8HENPzYJZh46JA();'}
        = image_tag 'solutions/case_studies/76e02951-549f-458f-87c5-edc18907c233.png', alt: 'elastx'
        .vidyard_play_button
          %a{:href => 'javascript:void(0);'}
.span12
  .second-video-link
    %i.icon-icon_playVideo2
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_DpNZLDCK8HENPzYJZh46JA', :src => '//play.vidyard.com/DpNZLDCK8HENPzYJZh46JA.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_DpNZLDCK8HENPzYJZh46JA();'}
      See how Elastx is using SolidFire to deliver predictable application performance.







