.span12
  %h2 Australia’s Only Guaranteed & Predictable White Label Desktop Hosting


.span12
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_1j4pBVErc18kQpynDNt1DA', :src => '//play.vidyard.com/1j4pBVErc18kQpynDNt1DA.js?v=3.1.1&type=lightbox'}
    .outer_vidyard_wrapper
      .vidyard_wrapper{:onclick => 'fn_vidyard_1j4pBVErc18kQpynDNt1DA();'}
        = image_tag 'solutions/case_studies/616034e9-271f-4080-b9c7-f6a44f2a5ad9.png', alt: 'Hosted Network'
        .vidyard_play_button
          %a{:href => 'javascript:void(0);'}


