.span12
  %h2 iWeb bets the future of their cloud business on the ability to guarantee predictable performance.

.span12
  %p Leveraging OpenStack and SolidFire, iWeb architects a cloud platform designed from the ground up to deliver predictable performance.

.span12
  .video
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_o3fMouxXjpjwESu-VRjoJQ', :src => '//play.vidyard.com/o3fMouxXjpjwESu-VRjoJQ.js?v=3.1.1&type=lightbox'}
    .outer_vidyard_wrapper
      .vidyard_wrapper{:onclick => 'fn_vidyard_o3fMouxXjpjwESu$VRjoJQ();'}
        = image_tag "solutions/case_studies/6ee99d48-6a1a-4b05-9388-fa501031cab4.png", alt: "iWeb"
        .vidyard_play_button
          %a{:href => 'javascript:void(0);'}
.span12
  .second-video-link
    %i.icon-icon_playVideo2
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_o3fMouxXjpjwESu-VRjoJQ', :src => '//play.vidyard.com/o3fMouxXjpjwESu-VRjoJQ.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_o3fMouxXjpjwESu$VRjoJQ();'}
      See how SolidFire and OpenStack are able to deliver predictable application performance.


