.span12
  %h2 We removed 100% of performance issues.

.span12
  %p
    %q SolidFire set us free, because it unlocked the scalability and guaranteed performance of our platforms.
    =image_tag "solutions/case_studies/a44e50d2-1000-49da-b30c-1cdbef181d0f.png", alt: "RFA", alt: "RFA", class: 'top-banner'
