.span12
  %h2 SolidFire’s Guaranteed QoS Powers New ServInt VPS Offering

.span12
  .video
    .video
      %a{href:"http://fast.wistia.net/embed/iframe/qaizh5xghr?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]"}
        =image_tag 'solutions/case_studies/49e4e730-9864-4d33-acb8-cf708098e50d.png', alt: 'ServInt'


