= simple_form_for(@cms_user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email
    = f.input :password

    .margin-bottom-fifty

  .radio-wrapper
    %p
      - if @is_edit == true
        Sections available to this user
        %hr
        .section-item-wrapper
          - if @available_sections
            -  @available_sections.each do |item|
              .section-item
                %input{:type => 'checkbox', :name => 'cms_user[sections][]', :value => item.id, :id => 'cms_user_sections_' + item.id, :checked => true}
                = item.title
        .radio-wrapper.top-margin-50
    %p User permission

    %hr
    .section-item-wrapper
      - @cms_sections.each do |item|
        .section-item
          %input{:type => 'checkbox', :name => 'cms_user[sections][]', :value => item.id, :id => 'cms_user_sections_' + item.id}
          = item.title

  .form-inputs.edit-user-form-section
    %br
    = f.input :is_admin, :label => 'Make this user an admin', as: :boolean, class: 'edit-user-label'
  .margin-bottom-fifty

  .form-actions
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px; margin-bottom: 15px;"
