.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p User information
      .link
        = link_to 'Manage Users', cms_users_path, :class => 'cms-white-button'

    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage users', cms_users_path, :class => 'cms-white-button'
