.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Users dashboard

    .resource-options.float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_user_path}
        %span.plus +
        New User

    .record-wrapper.events
      .record-email
        %span.title Email
      .record-edit
        &nbsp;
      .record-destroy
        &nbsp;

    - @cms_users.each do |cms_user|
      .events-item
        .record-email
          = cms_user.email
        .record-destroy
          = link_to 'Edit', edit_cms_user_path(cms_user), :class => 'edit button--grey--small'
          = link_to 'Destroy', cms_user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_user_path}
          %span.plus +
          New User
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
