= content_for :head do
  = stylesheet_link_tag 'cms/login', :media => 'all'

.login
  .login_container
    %h1 Reset password
    .form-wrapper

      = form_for(@user, url: cms_password_reset_path(params[:id]), method: "patch") do |f|

        %ul
          -@user.errors.full_messages.each do |msg|
            %li.alert= msg

        = hidden_field_tag :email, @user.email
        = f.label :password
        = f.password_field :password, placeholder: "password"
        = f.submit "Update password", class: 'btn'
