= content_for :head do
  = stylesheet_link_tag 'cms/login', :media => 'all'

.login
  .login_container
    %h1 Forgot password

    .form-wrapper
      %p
        - flash.each do |name, msg|
          = content_tag :div, msg, class: (flash[:error] ? 'alert' : 'success')

      = simple_form_for(:password_reset, url: cms_password_resets_path) do |f|
        = f.input :email, placeholder: "Email"
        = f.button :submit, class: "btn btn-orange", :value => "Submit"