#developers
  .container
    .full-row
      .col6
        %h1{:class => 'developersTitle'}Welcome to the SolidFire Developer Community
        %p Welcome.  We are currently under construction on the SolidFire Developer Community.  This will be a central hub for all things SolidFire development from a great community of customers, partners, SolidFire employees, and other interested people.  If you are interested in being notified when we go live please provide us with your contact information and interests below.
        .elio_rocket
          = image_tag 'developers/rocket_eilo.png', {:class => 'elio'}
      .col5.form
        %p.formInstructions Get notified when the Developer Community launches
        <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
        %form{:id => 'mktoForm_2174'}
        <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2174);</script>
      %hr


