= form_for (@press), :html => { :multipart => true } do |f|
  - if @press.errors.any?
    #error_explanation
      %h2= "#{pluralize(@press.errors.count, "error")} prohibited this press from being saved:"
      %ul
        - @press.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :summary
    = f.text_field :summary
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :logo
    = f.file_field :logo
    = f.hidden_field :logo_image_name
  .actions
    = f.submit 'Save'



