%h1 Listing presses

%table
  %thead
    %tr
      %th Title
      %th Summary
      %th Url
      %th
      %th
      %th
      
  %tbody
    - @presses.each do |press|
      %tr
        %td= press.title
        %td= press.summary
        %td= press.url
        %td= link_to 'Show', press
        %td= link_to 'Edit', edit_press_path(press)
        %td= link_to 'Destroy', press, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Press', new_press_path
