= simple_form_for(@cms_section) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :label => 'Title'
    = f.input :url, :label => 'Section path'

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"

