.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading CMS Sections

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_section_path}
        %span.plus +
        New Section


    .record-wrapper.events
      .record-email
        %span.title Title

      .record-destroy
        &nbsp;

    - @cms_sections.each do |cms_section|
      .custom-landing-item
        .record-email
          = cms_section.title

        .record-destroy
          = link_to 'Destroy', cms_section, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_section_path(cms_section), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_section_path}
          %span.plus +
          New Section
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
