.resources
  .resources__container
    %p
      %h2
        The new CMS section
        = @cms_section.title
        has been successfully created.
    .back-btn
      = link_to 'cms sections', cms_sections_path, :class => 'cms-red-button'
