= simple_form_for(@cms_news) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :label => 'Title'
    = f.input :url, :label => 'News URL'
    = f.input :url_shorten, :as => :hidden
    = f.input :pub_date, :label => 'Date of News Article', :id => 'datepicker'
    = f.input :publication, :label => 'Publication'

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"

