.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading News

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_news_path}
        %span.plus +
        News Post
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'


    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_news.each do |cms_news|
      .custom-landing-item
        .record-email
          = cms_news.title

        .record-destroy
          = link_to 'Destroy', cms_news, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_news_path(cms_news), :class => 'edit button--grey--small margin-right-fifteen'

    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_news_path}
          %span.plus +
          News Post
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
    .back-btn
      = will_paginate @cms_news
