.resources
  .resources__container
    %p
      %h2
        The news post
        = @cms_news.title
        has been successfully created.
    .back-btn
      = link_to 'cms news posts', cms_news_index_path, :class => 'cms-red-button'

