= content_for :head do
  = stylesheet_link_tag 'parallex', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'landing_pages/analyst-day'

.animation
.background-image
%section.module.content.analyst-day
  .logo-row
    %a{href: 'http://www.solidfire.com/'}
      %i.icon-SFNTAPP-HZ-Logo-Black

  .container.analyst-day-container
    %h3 SolidFire + NetApp Analyst Day
    %h1
      Unstoppable Force 2016
    %h3 Join us June 2, 2016 | Boulder, CO
    .analyst-day--top-cta
      .span12
        .button-container
          = link_to 'book your flight', 'https://solidfire.nutravel.com/home.jsp', :class => 'button-blue link-margin-right', :target => '_blank'
        .button-container
          = link_to 'register for hotel & activities', 'https://docs.google.com/a/solidfire.com/forms/d/1kZGo_fU6qDJ4cK2w1tMIuHAeJQOMR3J6wtcyGllUTEQ/edit', :class => 'button-red', :target => '_blank'
    %p.small-text *All expenses courtesy of SolidFire.

%section.module.content.what-is-analyst-day
  .container.analyst-day-container
    %h2 Discover how NetApp and SolidFire are creating an unstoppable force of storage.
    %p.margin-bottom In 2010, SolidFire changed the world of storage with the only solution that guaranteed performance to every application or workload. Now, SolidFire and NetApp are disrupting the world again, offering the industry’s broadest all-flash portfolio with solutions for any data center and every management need.
    %p You can be among the first to hear from SolidFire and NetApp executives, customers, and partners how SolidFire will continue to deliver unsurpassed agility and data center transformation as part of NetApp. And you’ll hear first-hand what SolidFire will deliver for service providers and enterprises alike in 2016.

%section.module.parallax.parallax-2.event-agenda
  .container.analyst-day-container
    %h2 Event agenda
    .event-container
      .event-item
        .event-day
          .arrow-box.light-blue
            Wed, June 1
        .event-details
          %p
            Arrive in Boulder for SolidFire kick-off event, including NetApp’s Hops and IOPS truck
            &#46;
            %p
              5 p.m. MST
      .event-item.white-top-border
        .event-day
          .arrow-box.medium-blue
            Thurs, June 2
        .event-details
          %p
            %span SolidFire Analyst Day 2016
            followed by happy hour and dinner
            %p
              8 a.m. - 6 p.m.
      .event-item.white-top-border
        .event-day
          .arrow-box.dark-blue
            Fri, June 3
        .event-details
          %p
            Activity TBD. Stay tuned for more details. (Limited availability on a first-come/first-served basis.)

%section.module.content.meet-solidfire
  .container.analyst-day-container
    %h2 Meet the people
    .meet-solidfire-bio-wrapper
      .meet-solidfire-bio
        %h3 Dave Wright
        .title SolidFire Founder, Vice President and GM
        = image_tag 'landing_pages/analyst-day/DW.jpg', :class => 'dw'
        %p
          Ernst and Young’s reigning  Entrepreneur of the Year in the Technology category, Dave has a proven history of revolutionizing industries with a unique approach to innovation. SolidFire is Dave’s third venture and his most disruptive yet — transforming how the world uses cloud computing.
      .meet-solidfire-bio
        %h3 Dan Berg
        .title Vice President, Product Operations
        = image_tag 'landing_pages/analyst-day/dan.jpg'
        %p
          Dan oversees the engineering, development, and quality of all products at SolidFire. He is focused on expanding SolidFire's core and sustaining engineering teams while driving excellence in execution, innovation and technical strategy.
      .meet-solidfire-bio.no-right-margin
        %h3 Dave Cahill
        .title Senior Director, Product and Strategy
        = image_tag 'landing_pages/analyst-day/Dave.jpg'
        %p
          Dave is responsible for driving the planning, prioritization and execution of SolidFire’s strategic growth initiatives, partnerships and industry-leading solution integrations. Dave brings a differentiated blend of industry experience, technical depth, financial analysis and capital markets perspective.

    .meet-solidfire-bio-wrapper
      .meet-solidfire-bio
        %h3 Joel Reich
        .title Executive Vice President of Product Operations
        = image_tag 'landing_pages/analyst-day/joel.jpg', :class => 'dw'
        %p
          Joel has over 30 years of product and technology management experience in the storage industry, spanning storage systems, software and components. Today, Joel leads the advancement of the NetApp portfolio of innovation and drives delivery of the Data Fabric strategy, products and solutions.
      .meet-solidfire-bio
        %h3 Lee Caswell
        .title Vice President Product, Solution and Services Marketing
        = image_tag 'landing_pages/analyst-day/lee.jpg'
        %p
          Lee Caswell is vice president of Product and Solutions Marketing at NetApp, where he leads a team that speeds the customer adoption of new products, partnerships,	 and integrations. Lee joined NetApp in 2014 and has extensive experience in executive leadership within the storage, flash and virtualization markets.
      .meet-solidfire-bio.no-right-margin
        %h3 Brendon Howe
        .title Senior Vice President, Emerging Products
        = image_tag 'landing_pages/analyst-day/brendan.jpg'
        %p
          Brendon Howe is vice president of the Emerging Products Group at NetApp, responsible for launching new products and growing new businesses based on key emerging technologies. He's been at NetApp for 8 years, driving the acquisitions of Bycast and Engeni. He has also served as executive sponsor for several of NetApp's major accounts.

%section.module.parallax.parallax-3.sacrafice-nothing
  .container.analyst-day-container
    %h2
      Watch where we take storage from here

    .sacrafice-nothing--text
      %p
        %span SolidFire’s innovation is now combined with the power of NetApp’s global resources to support every type of enterprise application. From traditional, application-specific storage, to core enterprise IT, to the next-generation cloud, SolidFire and NetApp enable the broadest range of infrastructure needs and support the widest number of use cases. The all-flash array is the storage standard, and only SolidFire + NetApp deliver the speed, scale and data services for all data center needs.
= render 'shared/footer'

:javascript
  !function(e){"use strict";var t,n;n={},e.fn.jParticle=function(n){return this.each(function(i,a){"object"==typeof a.sandbox&&e(a).removeJParticle(),a.sandbox=t(a,n)}),this},e.fn.removeJParticle=function(){return this.each(function(e,t){t.sandbox&&(t.sandbox.remove(),delete t.sandbox)}),this},e.fn.freezeJParticle=function(){return this.each(function(e,t){t.sandbox&&t.sandbox.freeze()}),this},e.fn.unfreezeJParticle=function(){return this.each(function(e,t){t.sandbox&&t.sandbox.unfreeze()}),this},t=function(t,i){var a,o;return a={},a.canvas={},a.mouse={},a.particles=[],a.isAnimated=!1,a.initialize=function(e,t){a.initParams(t),a.initHTML(e),a.initParticles(),a.initEvents(),a.initAnimation()},a.initParams=function(t){t&&t.color&&(!t.particle||t.particle&&!t.particle.color)&&(t.particle||(t.particle={}),t.particle.color=t.color),a.params=e.extend({particlesNumber:100,linkDist:50,createLinkDist:150,disableLinks:!1,disableMouse:!1,background:"black",color:"white",width:null,height:null,linksWidth:1},t)},a.initHTML=function(t){var n;n=a.canvas,n.container=e(t),n.element=e("<canvas/>"),n.context=n.element.get(0).getContext("2d"),n.container.append(n.element),n.element.css("display","block"),n.element.get(0).width=a.params.width?a.params.width:n.container.width(),n.element.get(0).height=a.params.height?a.params.height:n.container.height(),n.element.css("background",a.params.background)},a.resize=function(e,t){e&&(canvas.element.get(0).width=e),t&&(canvas.element.get(0).height=t)},a.initParticles=function(){var e,t;for(e=0,t=a.params.particlesNumber;t>e;e+=1)a.particles.push(o(a.canvas.element.get(0),a.params.particle))},a.initEvents=function(){a.canvas.element.mouseenter(function(){a.mouse.hoverCanvas=!0,a.isAnimated||a.draw()}),a.canvas.element.mouseleave(function(){a.mouse.hoverCanvas=!1}),a.canvas.element.mousemove(function(t){a.mouse=e.extend(a.mouse,n.getMousePosition(t,a.canvas.element[0]))})},a.initAnimation=function(){window.requestAnimFrame=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.ORequestAnimationFrame||window.msRequestAnimationFrame||function(e){setTimeOut(e,1e3/60)},a.isAnimated=!0,a.draw()},a.draw=function(){var e,t,n,i,o,r;for(e=0,n=a.particles.length,i=a.canvas,i.context.clearRect(0,0,i.element.get(0).width,i.element.get(0).height);n>e;e+=1)if(o=a.particles[e],a.isAnimated&&o.update(),o.draw(),!a.params.disableMouse&&a.mouse.hoverCanvas&&a.drawLink(o.getPosition("x"),o.getPosition("y"),a.mouse.x,a.mouse.y),!a.params.disableLinks)for(t=e+1;n>t;t+=1)r=a.particles[t],a.drawLink(o.getPosition("x"),o.getPosition("y"),r.getPosition("x"),r.getPosition("y"));a.requestID=window.requestAnimFrame(a.draw)},a.drawLink=function(e,t,i,o){var r;n.getDistance(e,t,i,o)<=a.params.createLinkDist&&(r=a.canvas.context,r.save(),r.beginPath(),r.lineWidth=a.params.linksWidth,r.moveTo(e,t),r.lineTo(i,o),r.globalAlpha=a.getOpacityLink(e,t,i,o),r.strokeStyle=a.params.color,r.lineCap="round",r.stroke(),r.closePath(),r.restore())},a.getOpacityLink=function(e,t,i,o){var r,s,c,u;return r=n.getDistance(e,t,i,o),c=a.params.linkDist,u=a.params.createLinkDist,s=c>=r?1:r>u?0:1-100*(r-c)/(u-c)/100},a.freeze=function(){a.isAnimated&&(a.isAnimated=!1)},a.unfreeze=function(){a.isAnimated||(a.isAnimated=!0)},a.remove=function(){a.canvas.element.remove()},o=function(t,i){var a;return a={},a.canvas={},a.vector={},a.initialize=function(t,n){a.params=e.extend({color:"white",minSize:2,maxSize:4,speed:60},n),a.setCanvasContext(t),a.initSize(),a.initPosition(),a.initVectors()},a.initPosition=function(){a.x=n.getRandNumber(0+a.radius,a.canvas.element.width-a.radius),a.y=n.getRandNumber(0+a.radius,a.canvas.element.height-a.radius)},a.initSize=function(){a.size=n.getRandNumber(a.params.minSize,a.params.maxSize),a.radius=a.size/2},a.initVectors=function(){do a.vector.x=n.getRandNumber(-a.params.speed/60,a.params.speed/60,!1),a.vector.y=n.getRandNumber(-a.params.speed/60,a.params.speed/60,!1);while(0==a.vector.x||0==a.vector.y)},a.setCanvasContext=function(e){var t;if(a.canvas.element=e,t=e.getContext("2d"),"object"!=typeof t||"object"!=typeof t.canvas)throw"Error: Can't set canvas context to Particle because context isn't a CanvasRenderingContext2D object.";a.canvas.context=t},a.draw=function(){var e=a.canvas.context;e.beginPath(),e.arc(a.x,a.y,a.size/2,0,2*Math.PI),e.fillStyle=a.params.color,e.fill(),e.closePath()},a.update=function(){a.x+=a.vector.x,a.y+=a.vector.y,(0>a.x-a.radius||a.x+a.radius>a.canvas.element.width)&&(a.vector.x=-a.vector.x),(0>a.y-a.radius||a.y+a.radius>a.canvas.element.height)&&(a.vector.y=-a.vector.y)},a.getPosition=function(e){return"string"==typeof e&&"x"!=e&&"y"!=e&&(e=null),"string"==typeof e?a[e]:{x:a.x,y:a.y}},a.initialize(t,i),{getPosition:a.getPosition,update:a.update,draw:a.draw}},a.initialize(t,i),{remove:a.remove,freeze:a.freeze,unfreeze:a.unfreeze,resize:a.resize}},n.getRandNumber=function(e,t,n){var i;return null==e&&(e=0),null==t&&(t=10),null==n&&(n=!0),i=Math.random()*(t-e)+e,n?Math.round(i):i},n.getDistance=function(e,t,n,i){return Math.sqrt(Math.pow(n-e,2)+Math.pow(i-t,2))},n.getMousePosition=function(t,n){var i;return"undefined"==typeof n&&(n=e("body")[0]),i=n.getBoundingClientRect(),{x:t.clientX-i.left,y:t.clientY-i.top}}}(jQuery);


