.slider-wrapper
  .slider.slider1
    #take-your-cloud-slider
      .container
        #take-your-cloud-image
          .take-your-cloud__slide-wrapper
            = image_tag 'landing_pages/cisco_slider_1.png'
          .slider_text
            %p Storage built for the most demanding OpenStack environments.
    #talk-to-us-slider
      .container
        .talk-to-us-slider__wrapper
          = image_tag 'landing_pages/cisco_slider_2.png'
        .talk-to-us-text
          %a{:href => '#opestack__summit__vancouver__section__two'}
            .schedule_meeting
              %p Schedule a meeting
          %p to see where we can take your OpenStack environment
    #selfies-slider
      .container
        .selfies-slider__wrapper
          = image_tag 'landing_pages/cisco_slider_3.png'
        .selfies-text
          %a{:href => '#opestack__summit__vancouver__section__five'}
            .take_picture
              %p Photograph yourself
          %p.win_big with our claw crane for a chance to win a Sonos Play package
#sticky-anchor
#opestack__summit__vancouver__navigation
  .container
    .full-row.cisco
      %a{:href => '#opestack__summit__vancouver__section__one'}
        .nav-section.first
          %p SolidFire @ Cisco Live
      %a{:href => '#opestack__summit__vancouver__section__two'}
        .nav-section
          %p Meet with us
      %a{:href => '#opestack__summit__vancouver__section__five'}
        .nav-section.last
          %p Win stuff
%section#opestack__summit__vancouver__section__one.opestack__summit__vancouver
  .container
    .full-row
      .col7
        %h1 SolidFire at Cisco Live
        %p.bold Discover how your cloud can get right to business.
        %p With SolidFire Agile Infrastructure (AI) for OpenStack and Cisco, you’ll have the reference architecture needed to launch your high-performance cloud faster than your wildest expectations. In 90 minutes, you’ll be ready to run business operations, development, and testing on a single platform  — all with guaranteed performance.
      .col5.cisco-right
        %p
          %span.bold.SF-title SolidFire
          %br
          %span.bold.date June 8-11, 2015
          %br
          %span.bold.date Booth #3103
        %p
          Be Fueled by SolidFire.
          %br
          Do what’s never been done.
%section#opestack__summit__vancouver__section__two.opestack__summit__vancouver.even-row.cisco
  .container
    .full-row
      .col7
        %h2 Meet with us at Cisco Live
        %p.bold Want to see how fast can you go from zero to high-performance cloud?
        %p Talk to us. We’ll show you how to launch your high-performance, easily scalable cloud in no time, so you’ll have more time for advancing your business.
        %p Whether you are guaranteeing performance to all the applications in your stack, consolidating workloads onto a single array, or even eliminating storage sprawl in your infrastructure, you can be certain the SolidFire AI reference architecture will help you Do More with OpenStack and Cisco.
      .col5
        %p.keynote Schedule time to meet with us
        %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
        %form{:id => 'mktoForm_2374'}
        :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2374);
    .full-row
      %p
      %p.bold Can’t make it to San Diego? No problem.
      %p Schedule a virtual meeting with us — we can have the same conversation about how our platform enables the promise of rapid IT delivery and ensures your cloud will keep up with the pace of business.
      %hr{:style => 'background-color: #555;'}
      %p Where can you take your OpenStack cloud when storage is an enabler, not a limitation? See how the answer to that one question is driving the transformation to the next generation data center — powered by OpenStack, fueled by SolidFire.
      %a{:class => 'fancybox-media openstack-video', :href => 'https://www.youtube.com/watch?v=hGRHUDx0lz4'}
        = image_tag'landing_pages/openstack_video.jpg'
%section#opestack__summit__vancouver__section__five.opestack__summit__vancouver
  .container
    .full-row
      .col7
        %h2 Win stuff at Cisco Live
        %p.bold Take home more than just some new thumb drives.
        %p Stop by the SolidFire booth to take your turn at the SolidFire Claw Crane — your chance to grab one of many cool prizes, including SolidFire craft brews, socks, and more!
        %p
          And while you’re there, take a selfie to enter to win a new
          %a{:href => 'http://www.sonos.com/shop/products/play3?r=1', :target => '_blank'} Sonos Play:3 HiFi speaker system
          and
          %a{:href => 'http://www.sonos.com/shop/products/bridge', :target => '_blank'}wireless Bridge.
        %p We will pick one tagged selfie as the winner and announce via Twitter on June 11.
      .col5
        %p.keynote Here’s all it takes for a chance to win a Sonos Play:3
        = image_tag 'landing_pages/sonos_giveaway.jpg'
        %ul
          %li
            %p
              Follow
              %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}@SolidFire on Twitter
          %li
            %p Take a selfie with “the claw” in our booth
          %li
            %p Post the selfie on your Facebook/Twitter/Instagram with the #FueledbySF and #CLUS hashtags
          %li
            %p One tagged selfie will be picked as the winner and announced via Twitter on June 11.
#logo-slider
  %a{:href => 'http://www.solidfire.com'}
    %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text(style="color: white; font-size: 3em;")

