= content_for :head do
  = stylesheet_link_tag 'landing_pages/berlin-live', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'landing_pages/analyst-day'

#page-container
  .berlin-live
    .video-dark-overlay
    .video-div
      %iframe(src="https://player.vimeo.com/video/152606733?controls=0&autoplay=1&loop=1&portrait=0&badge=0&byline=0&autopause=0&title=0" frameborder="0" allowfullscreen width="100%" height="1300px")

    .logo-row
      %a{:href => home_index_path}
        %i.icon-SFNTAPP-HZ-Logo-Black
    .berlin-live__container
      %h1
        Cisco Live | February 15-19, 2016 | Berlin, Germany
      %h2
        Discover OpenStack and VMware at the speed of business
      %h3
        And get your new SolidFire socks at
        %span
          Booth #E40.
      .berlin-live--top-cta
        %a{href: "#schedule", class: 'anchorLink button-blue'} Meet us there!

  .what-is-berlin-live
    .berlin-live__container
      %h2 Now you can easily deliver IaaS with guaranteed performance to every application.
      %p.center Join SolidFire in Berlin at Cisco Live to see how you'll benefit from deploying an integrated reference architecture that's built for mixed workloads on VMware or OpenStack, not just for single use cases.
      .center-block
        %ul
          %li Have the agility to grow on demand using SolidFire's scale-out architecture
          %li Run production and dev/test on the same platform to accelerate innovation
          %li Deploy OpenStack in a Cisco environment in under 2 hours
          %li Keep pace with business by growing incrementally and non-disruptively

  .one-on-one#schedule
    .berlin-live__container
      .span12
        .span7
          %h2 Schedule a 1:1 with SolidFire
          %p Looking for a deeper, more integrated solution for your OpenStack environments? Or want to understand how to accelerate your Metapod implementation with flash storage? Talk to us about how SolidFire has teamed with Cisco to deliver greater Metapod outcomes with all flash storage.
        .span5last
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_3340'}
            %h3 Schedule your 1:1 now
          :javascript
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 3340);

  .no-compromises
    .berlin-live__container
      %h1 No compromise all-flash storage
      .span12
        .span6right
          %p SolidFire is the industry's most complete all-flash storage system and Gartner's highest-rated solid-state array for overall use two years in a row*. Whether you're using SolidFire's Agile Infrastructure blueprints to guide your deployment, wanting to accelerate your Metapod OpenStack cloud, or simply looking for the best all flash storage to enhance your datacenter, SolidFire is the storage choice to enhance your Cisco infrastructure.
        .span6
          =image_tag "landing_pages/live-berlin/NodeCiscoLive.jpg"

  .disclaimer
    .berlin-live__container
      %p
        * * SolidFire received the highest overall score for: 1 Product Scores for the Overall Use Case, 2) Product Scores for the Online Transaction Processing Use Case, 3) Product Scores for the Server Virtualization Use Case, 4) Product Scores for the High-Performance Computing Use Case, 5) Product Scores for the Analytics Use Case.
  = render 'shared/footer'