= content_for :head do
  = stylesheet_link_tag 'landing_pages/architectural_comparisons', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'comparing_platforms'

#idc
  .idc-section.one
    .span12
      .red.span6.scrolling-div
        .red-container
          .span12
            %a{:href => home_index_path, :id => 'sf-logo-top-nav'}
              =image_tag 'landing_pages/architectural_comparisons/logo.png', class: 'logo', align: 'left'

          .span12
            %h1.idc Architectural comparisons of SolidFire, Pure Storage, and EMC XtremIO
          .span12
            =image_tag 'landing_pages/architectural_comparisons/comparison.png', class: 'report'
          %p No doubt; flash storage has transformed today’s enterprise data center.
          %p And it’s increasingly affordable — making all-flash architectures viable for a broad set of enterprise applications and use cases.
          %p But big decisions need to be made before you deploy an all-flash storage architecture.
          %p In these three comparison documents, we walk you through four key design choices (scale, redundancy, data organization and flash data layout) each vendor made so you’re better equipped to decide which product provides the best:

      .white.span6
        .white-container
          .contents
            .span12
              %h2 Evaluate the four design choices you need to understand when choosing your all-flash storage architecture.
              %script{:src => '//app-ab03.marketo.com/js/forms2/js/forms2.min.js'}
              %form{:id => 'mktoForm_1458'}
              :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1458)

            .span12
              .small-text
                100%
                %span
                  privacy
                guaranteed. We’ll never share you email.