#dell-training
  .container
    .full-row
      .col6.leftContainer
        %h1 Denver Metro SolidFire Sales Training for Dell - June 12, 2015
        = image_tag 'landing_pages/dell-tech-partner.jpg', :align => 'center'
        %p
          %strong
            Location: SolidFire HQ
          %br
          1600 Pearl St., Suite 200, Boulder, CO 80302
        %p
          %strong
            Happy Hour: West Flanders Brewery
          %br
          1125 Pearl St., Boulder, CO 80302
        %p
          %strong
            Agenda:
        %table
          %tbody
            %tr
              %td 12:00 - 12:15
              %td Welcome/Introductions - lunch provided
            %tr
              %td 12:15 - 12:45
              %td Compensation - Tier 1 S&P partner
            %tr
              %td 12:45 - 1:00
              %td Break
            %tr
              %td 1:00 - 1:30
              %td Positioning SolidFire in the Dell Storage Portfolio
            %tr
              %td 1:30 - 2:30
              %td Competitive Positioning - Pure, EMC, HP
            %tr
              %td 2:30 - 2:45
              %td Break
            %tr
              %td 2:45 - 4:00
              %td
                Technology overview
                %ul
                  %li Architecture
                  %li Performance
                  %li 5 Elements
            %tr
              %td 4:00 - 4:30
              %td Where to sell - best use cases
            %tr
              %td 4:30 - 4:45
              %td Who to work with - sales, engineering, marketing, channels
            %tr
              %td 4:45 - 5:00
              %td How to engage - via Dell’s channel partners
            %tr
              %td 5:00 - 5:15
              %td Q&A
            %tr
              %td 5:15 - 7:00
              %td Happy Hour and Networking
      .col6
        .formContainer
          %p
            Fill out the form to register
            %br
            for the event
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_2399'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2399);</script>