= content_for :head do
  = stylesheet_link_tag 'landing_pages/dm', :media => 'all'
.direct-mail
  .direct-mail__container
    .direct-mail-wrapper
      %p
        - if @dm_flag == true
          = image_tag 'landing_pages/dm/' + @dm_img
        - else
          = image_tag 'landing_pages/dm/' + @get_params + '.png'
      %h1
        Download your free Cloud and Managed Hosting Service Provider Toolkit.
    .direct-mail-wrapper
      .direct-mail-content
        %p
          In this kit, you’ll learn how you can create new profit centers, improve customer satisfaction, and achieve operational efficiencies most of your cloud and managed hosting competitors can’t.
          %ul
            %li Differentiate with value-added services to avoid price wars
            %li Win more customer applications on your platforms
            %li Achieve higher margins and greater revenue density in the data center
            %li Learn where the next growth opportunity is in the cloud and hosting business
        %h4
          Get your free Cloud and Managed Hosting Service Provider Toolkit.
        = image_tag 'landing_pages/toolboxhero.png'
      .direct-mail-form
        %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
        %form{:id => 'mktoForm_2831'}
        :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", "2831");
