#elementOS
  .container
    .full-row
      %h1 Element OS — the foundation of the next generation data center
      %h2 Discover how Element OS 8 (Oxygen) expands the capabilities of the preferred storage OS for cloud computing.
      %p Only Element OS delivers the agile, scalable, automated, and predictable storage operating system necessary for cloud environments. With Element OS, you can achieve the five critical capabilities you need to achieve a next generation data center infrastructure — giving your cloud the most complete range of enterprise-class features.
      %p
        And now,
        %span{:style => 'font-weight: 500;'} the latest Oxygen release of Element OS truly sets new standards in data assurance,
        as organizations continue to emphasize data security as a top concern when moving toward the next generation data center.
      .button-container
        %a.btn{:href => '#header-demo', :data => {:mkto =>'1087'}, :class => 'button-red header-demo', :id => 'oxygen_demo'}Request an oxygen demo
      .announcing-os-container
        .div-one
          %p Announcing Element OS 8
          %a{:href => '/press-releases/solidfires-new-element-os-release-deepens-data-assurance-capabilities-and-accelerates-transition-to-next-generation-data-center'} READ PRESS RELEASE →
        .div-two
          %p Fueling your storage transformation with Oxygen
          %a{:href => '/blog/fueling-your-storage-transformation-with-oxygen/'} Get to know the 5 Elements →
        .div-three
          %p All the features, benefits, and specifications
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_ProductDatasheet.pdf', :target => '_blank'}
            Download the
            %br
            product datasheet →
      .enhancements-container
        .enhancements-text
          %p Element OS 8 (Oxygen) reduces operational risk and eases worries by enabling new data protection and security enhancements:
        .enhancements-left
          .dataprotection
            = image_tag 'landing_pages/data-protection-icon.png', :align => 'middle'
            %p.title DATA PROTECTION
          .synchronous-replication
            = image_tag 'landing_pages/synchronous-replication-icon.png', :align => 'middle'
            %p.title SYNCHRONOUS REPLICATION
            %p Synchronously replicate-mission critical applications to a second site for increased data protection
          .snapshot-replication
            = image_tag 'landing_pages/snapshot-icon.png', :align => 'middle'
            %p.title SNAPSHOT REPLICATION
            %p Replicate snapshots to a second site for rollback flexibility
          .scheduler-manager
            = image_tag 'landing_pages/scheduler-icon.png', :align => 'middle'
            %p.title SCHEDULER / RETENTION MANAGER
            %p Simplifies the scheduling of recurring snapshots and automates how long the system keeps them
        .enhancements-spacer
        .enhancements-right
          .security
            = image_tag 'landing_pages/security-icon.png', :align => 'middle'
            %p.title SECURITY
          .vlan
            = image_tag 'landing_pages/vlan-icon.png', :align => 'middle'
            %p.title EXPAND VLAN TAGGING
            %p Expanded support for additional secure, logically isolated per tenant storage networks on the same physical network infrastructure
          .ldap
            = image_tag 'landing_pages/LDAP-icon.png', :align => 'middle'
            %p.title LDAP AUTHENTICATION
            %p Tie into existing centralized user account administration systems to manage user access to SolidFire vs using local accounts


