#esg
  .container
    .full-row
      .col6.leftContainer
        %h1 Discover how SolidFire will lower your operating expenses by 67% over traditional storage.
        %h2 Download your free Enterprise Strategy Group (ESG) report and see the wiser way to buy storage.
        = image_tag 'landing_pages/ESG-thumbnail.png', :align => 'center'
      .col6
        .formContainer
          %p
            Download the ESG
            %br
            Lab Whitepaper
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_2205'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2205);</script>
    .full-row
      %h2.headline ESG recommends SolidFire for the Next Generation Data Center.
      %ul
        %li Avoid up to 93% of storage performance-related issues
        %li Spend 12X less time scaling your storage to meet your growth
      %ul
        %li Deploy VMs up to 15X faster
        %li Save up to 226 hours of administrative productivity over five years
      %hr