#net_app_lp
  .container
    .full-row
      .col6
        %h1 5 ways your storage vendor is costing you more than you think
        %h2 Storage today is very different than it was two to three years ago. Is your storage vendor keeping up with today’s demands, or is it holding your business back from penetrating new markets and attracting customers?
        = image_tag 'landing_pages/hero_vendor_costing_you.png', :align => 'left'
        %p In this paper, you’ll get valuable tips on how to evaluate your current storage to assess:
        %ul
          %li
            %span{:style => 'text-decoration: underline;'} The long-term viability
            of your storage solution
          %li
            %span{:style => 'text-decoration: underline;'}The true cost
            of your storage platform
          %li
            %span{:style => 'text-decoration: underline;'} Your competitive position
            with regard to your ability to deliver innovative features and new capabilities to customers
      .col6
        .formContainer
          %p
            Fill Out the Form to Download
            %br
            %span.bold 5 ways your storage vendor is costing you more than you think
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_2170'}
    .full-row
      %p
        Traditional storage systems are no longer fast, simple, or reliable enough and are being replaced by more agile and predictable storage solutions.
        %span.bold Download now and learn how to achieve greater innovation in your storage platform today.
    .full-row.bottom_logos
      %p.bold{:style => 'text-align: center'} Proven with the world's most demanding service providers.
      = image_tag 'landing_pages/logos.jpg', :align => 'center'
