= content_for :javascript do
  %script{:src => '//cdn.optimizely.com/js/2499550236.js'}

#gmq
  .container
    .full-row
      .col5
        %h1 Gartner 2014 Magic Quadrant for Solid-State Arrays
        %h2 SolidFire recognized as a Visionary and ranked #1 for overall flash use case in the Critical Capabilities Study
        = image_tag 'landing_pages/gartner_thumbnail.png', :align => 'left'
      .col6
        .formContainer
          %p Download the Gartner Magic Quadrant and Critical Capabilities Study:
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_1619'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1619);</script>
    .full-row
      %h2.headline Learn how SolidFire meets today's enterprise performance demands while driving greater consolidation, automation, and scale across your entire storage infrastructure.
      %ul
        %li Read Gartner's 2014 Magic Quadrant for Solid-State Arrays to learn why we’re a visionary.
        %li Discover why we’re ranked the #1 overall solid-state array in the Critical Capabilities research.
        %li See how the SolidFire architecture compares against other all-flash arrays
      %p.disclaimer
        %strong Disclaimer:
        Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose. This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. The Gartner document is available upon request from SolidFire, Inc.
#lp_video
  .container
    .full-row.videoContainer
      .col6.videoText
        .text
          %p Watch SolidFire's CEO on the Gartner Magic Quadrant
      .col6.imageThumbnail
        %a{:href => 'https://www.youtube.com/watch?v=n7Kk2AQbqn4', :class => 'fancybox-media gmq_video'}
          = image_tag 'landing_pages/gmq_video_thumbnail.png', :align => 'right'


