= content_for :javascript do
  %script{:src => '//cdn.optimizely.com/js/2499550236.js'}
#gmq_b
  .container
    .full-row
      %h1.gmq_b_headline Gartner 2014 Magic Quadrant for Solid-State Arrays
      %h2.gmq_b_sub_headline
        SolidFire recognized as a Visionary and ranked #1 for overall flash
        %br
        use case in the Critical Capabilities Study
      .col5
        = image_tag 'landing_pages/gartner-magic-quadrant-for-operations-support-systems.png', :align => 'left', :class => 'gmq_image'
      .col6
        .form
          %p Download the Gartner Magic Quadrant and Critical Capabilities Study:
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_1619'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1619);</script>
#gmq_b.even-row
  .container
    .full-row
      %h2.even_row_sub_headline
        Learn how SolidFire meets today's enterprise performance demands
        %br
        while driving greater consolidation, automation and scale across your
        %br
        entire storage infrastructure.
      .col8
        %ul
          %li
            See how
            %a{:href => 'http://www-solidfire-dev2.barkleylabs.com/competitivecomparison/' } SolidFire compares
            to other vendors in our field. Watch the  SolidFire CEO
            %a{:href => 'http://www-solidfire-dev2.barkleylabs.com/competitivecomparison/' } presentation videos
            from Storage Tech Field Day 5.
          %li
            Download
            %a{:href => '#' }Gartner's 2014 Magic Quadrant
            for Solid-State Arrays
          %li
            Get the
            %a{:href => '#' }Critical Capabilities research
            from Gartner
      .col4
        %p SolidFire's CEO on the Gartner Magic Quadrant
        %a{:href => 'https://www.youtube.com/watch?v=n7Kk2AQbqn4', :class => 'fancybox-media gmq_video'}
          = image_tag 'landing_pages/gmq_video_thumbnail.png', :align => 'right'
        %a.button--green see how we compare
      %p.disclaimer
        %strong Disclaimer:
        Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose. This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. The Gartner document is available upon request from SolidFire, Inc.


