= content_for :head do
  = stylesheet_link_tag 'landing_pages/idc', :media => 'all'

#idc
  .idc-section.one
    .span12
      .red.span6
        .red-container
          .span12
            %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text(style="color: white; font-size: 3em;")
          .span12
            %h1.idc Find out which all-flash array IDC recognized as a Major Player... and why.
          .span12
            =image_tag 'landing_pages/idc/IDCreport.png', class: 'report'
          %h2 What's in the report?
          %p Here’s your assessment of which all-flash array (AFA) is right for the needs of your data center. Every platform delivers speed and capacity, but each vendor has uniquely distinguished itself in a certain area.
      .white.span6
        .white-container
          .contents
            .span12
              %h2 Get your free IDC MarketScape:  Worldwide All-Flash Array 2015-2016 Vendor Assessment.
              %script{:src => '//app-ab03.marketo.com/js/forms2/js/forms2.min.js'}
              %form{:id => 'mktoForm_3322'}
              :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 3322)

            .span12
              .small-text
                100%
                %span
                  privacy
                guaranteed. We’ll never share you email.

  .idc-section.two
    .container
      .span12
        %h2 What makes SolidFire SF Series a major player?

      .span12
        .span3
          .span12.max-height
            =image_tag 'landing_pages/idc/QoSicon.png', align: 'left'
          .span12
            %p.bold QoS Capabilities
          .span12
            %p SolidFire sets the bar by providing a complete set of controls on the array itself to set maximum, minimum, and burst limits for IOPS.

        .span3
          .span12.max-height
            =image_tag 'landing_pages/idc/ScaleOutIcon.png', align: 'left'
          .span12
            %p.bold Scale-out architecture
          .span12
            %p SolidFire allows more granular performance expansion options than the other two AFA vendors using scale-out architectures.

        .span3
          .span12.max-height
            =image_tag 'landing_pages/idc/MultitendencyIcon.png', align: 'left'
          .span12
            %p.bold Multi-tenancy support
          .span12
            %p More than any other AFA, SolidFire's support for multitenant environments is extensive, supporting an installed base runs at higher levels of utilization.

        .span3
          .span12.max-height
            =image_tag 'landing_pages/idc/TopEndScalabilityIcon.png', align: 'left'
          .span12
            %p.bold Top-end scalability
          .span12
            %p By allowing generational mixing, SolidFire supports an excellent technology refresh paradigm that is flexible, nondisruptive, and guaranteed.



