= content_for :head do
  = stylesheet_link_tag 'landing_pages/flash_with_you', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'landing_pages/mtfbwy'
.mtfbwy
  .mtfbwy__container
    .mtfbwy-left-column
      = image_tag 'landing_pages/mtfbwy/mtfbwy-lg.png'
      %h1
        The Flash is Strong with SolidFire
      %h2
        SolidFire is Gartner’s highest-rated solid-state array.*
        %br
        Two years in a row.
      %p
        The right all-flash storage delivers more than cheap speed. Talk to us about how SolidFire can help you:
      %p
        %span
          &#149; Scale-out
        quickly and easily &#151; no forklift upgrades needed
      %p
        %span
          &#149; Increase
        application performance and data availability
      %p
        %span
          &#149; Run
        all Tier 1 and Tier 2 workloads on one system
      %p
        Talk with us to Get a BB-8TM by Sphero if SolidFire is right for you!
      .mtfbwy-sf-logo
        %i.icon-SFNTAPP-HZ-Logo-Black
        %br
        = link_to 'See Terms and Conditions', '#mtfbwy-terms-page', :class => 'mtfbwy-terms confidential'
        %p.gartner-terms
          * SolidFire received the highest overall score for: 1) Vendors’ Product Scores for the Overall Use Case, 2) Vendors’ Product Scores for the Online Transaction Processing Use Case, 3) Vendors’ Product Scores for the Server Virtualization Use Case, 4) Vendors’ Product Scores for the High-Performance Computing Use Case, 5) Vendors’ Product Scores for the Analytics Use Case.
    .mtfbwy-right-column
      .mtfbwy-form-absolute
        .mtfbwy-form-wrapper
          %h3
            %span
              Get a BB-8 by Sphero
            %br
            if SolidFire is right for you.
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_3081'}
          :javascript
            MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 3081);
  .mtfbwy-robot
    = image_tag 'landing_pages/mtfbwy/robot-lg.jpg'
  .mtfbwy-robot-small
    = image_tag 'landing_pages/mtfbwy/robot-sm.jpg'
#mtfbwy-terms-page
  %h3
    May the Flash Be With You
    %br
    TERMS AND CONDITIONS
  %p
    Upon successful completion of the SolidFire May the Flash be With You Promotion (the “Promotion”), subject to the terms and conditions below, you will be awarded a gift package valued over $200, including the BB-8TM by Sphero (the “Gift Package”). The Promotion applies to both physical and virtual evaluations, and no purchase of SolidFire products is required.
  %p
    Eligibility for the Gift Package is subject to SolidFire’s approval, in its sole discretion, and pursuant to the general terms and conditions: SolidFire reserves the right to modify or cancel the Promotion at any time. The Promotion is open through December 31, 2015, and may be extended at SolidFire’s sole discretion.
  %p
    No substitution of the Gift Package is permitted, except at SolidFire’s sole option. SolidFire will not replace any lost or stolen Gift Packages.
  %p
    You are solely responsible for any and all federal, state, provincial and local taxes, if any, that apply to gift package.
  %p
    One Gift Package per eligible customer.
  %p
    The Gift Package is awarded without warranty, express or implied, of any kind.
  %p
    Release and Hold Harmless. By accepting the Gift Package, you agree to and hereby release and hold harmless SolidFire, its directors, officers, employees and assigns (collectively, the “Released Parties”) from and against any claim or cause of action arising out of participation in the Promotion or receipt, use, or misuse of the Gift Package, including, but not limited to, personal injury, death, or damage to or loss of property.
  %p
    Limitations of Liability. The Released Parties are not responsible for any of the following: (a) any incorrect or inaccurate information, whether caused by entrants, printing errors or by any of the equipment or programming associated with or utilized in the Promotion; (b) unauthorized human intervention in any part of the entry process or the Promotion; or (c) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant’s participation in the Promotion.
