= content_for :head do
  = stylesheet_link_tag 'addthisevent.theme7', :media => 'all'
  = stylesheet_link_tag 'landing_pages/openstack_tokyo', :media => 'all'
= content_for :javascript do
  %script{:type => 'text/javascript', :src => 'https://addthisevent.com/libs/1.6.0/ate.min.js'}
  %script{:type => 'text/javascript'}
    addthisevent.settings({
    css        : false
    });
.openstack-tokyo
  %header
    .openstack-tokyo__container
    .header-content
      .header-content-images
        %a{href: root_path}
          %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text
        %span
          @ OpenStack Summit
          Tokyo 2015
      .header-content-social
        .social
          %p #FueledbySF
          %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
            = image_tag 'landing_pages/twitter.png', :align => 'left', :class => 'twitter'
          %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
            = image_tag 'landing_pages/linked-in.png', :align => 'left', :class => 'linkedin'
          %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
            = image_tag 'landing_pages/facebook.png', :align => 'left', :class => 'facebook'
          %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
            = image_tag 'landing_pages/youtube.png', :align => 'left', :class => 'youtube'
  .vmworld-padding
    .openstack-tokyo-content__container
      .left-full
        .great-feats
          .great-feats-logo
            %p
              %i.icon-SFNTAPP-HZ-Logo-Black
            %p
              %span.main
                Take your cloud to
              %br
              %span.main.highlight
                places others can't...
              %br
              %span.red
                Storage built
              for the most demanding OpenStack environments
          .sub-text-tokyo
            Visit us at OpenStack Summit Tokyo to discover what's possible when storage works for you, not against you.
          .booth-info
            .booth-logo
              .bb8-div
                = image_tag 'landing_pages/BB82.png'
              %p
                %strong
                  Booth #S12
                %br
                OpenStack Tokyo 2015
                %br
                27 - 29 October
                %br
                %span
                  Win a Star Wars BB-8 Robot!
                %br
                %span.small Daily raffles in our booth. Must be present to win.
        .meet-wmworld
          %p.headline
            Meet with us
          %p.meet It's time for storage to enable opportunities. Meet with us to find out how.
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_2865'}
          :javascript
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2865);
        .schedule-mobile
          %p.mobile-header
            SolidFire's events at OpenStack Summit Tokyo
          .schedule-mobile-header
            Tuesday 27 October
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10:45 AM – 4:40 PM, 6 PM – 7:30 PM
              %br
              Visit SolidFire at booth S12 in the Marketplace
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:30 AM SolidFire overview in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              1 PM SolidFire overview (Japanese) in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              2:30 PM Configuring SolidFire for OpenStack demo in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              4 PM Creating & Modifying OpenStack Volumes demo in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              = link_to '5:30 PM A Conversation With Cinder Developers panel in Gyoko', '#cinder'
          .schedule-mobile-header
            Wednesday 28 October
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10:45 AM – 6:10 PM Visit SolidFire at booth S12 in the Marketplace
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:30 AM Live Migration demo in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              1 PM Deploying SolidFire with Mirantis & Platform9 demo in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              = link_to '2:00 PM The OpenStack Orchestra: The Next Wave of OpenStack Specialist Startups panel in Seigyoku', '#openstack-orchestra'
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              2:30 PM SolidFire overview in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              = link_to '2:50 PM The Stack and Beyond: Analysis Paralysis panel in Gyoko', '#stack-beyond'
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              4 PM SolidFire overview (Japanese) in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              5:30 PM Live Migration demo in booth S12
          .schedule-mobile-header
            Thursday 29 October
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              9:00 AM – 2:00 PM Visit SolidFire at booth S12 in the Marketplace
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10 AM Configuring SolidFire for OpenStack demo in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:30 AM SolidFire overview in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              1 PM SolidFire overview (Japanese) in booth S12
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              = link_to '1:50 PM Persisting Data In Your Cloud with Cinder Block Storage session in Gyoko', '#cinder-block'
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              = link_to '3:30 PM Block Storage Replication with Cinder session in Gyoko', '#block-storage'
              %br
              %br
        .schedule
          %p
            SolidFire's events at OpenStack Summit Tokyo
          %table
            %tr
              %th.right-border.bottom-border
                %span Tuesday
                %span.date 27 October
              %th.right-border.bottom-border
                %span Wednesday
                %span.date 28 October
              %th.bottom-border
                %span Thursday
                %span.date 29 October
            %tr
              %td.right-border.bottom-border
                %span
                  10:45 AM – 4:40 PM, 6 PM – 7:30 PM
                  %br
                  Visit SolidFire at booth S12 in the Marketplace
              %td.right-border.bottom-border
                10:45 AM – 6:10 PM
                %br
                Visit SolidFire at booth S12 in the Marketplace
              %td.bottom-border
                9:00 AM – 2:00 PM
                %br
                Visit SolidFire at booth S12 in the Marketplace
            %tr
              %td.right-border.bottom-border
                11:30 AM SolidFire overview in booth S12
              %td.right-border.bottom-border
                11:30 AM Live Migration demo in booth S12
              %td.bottom-border
                10 AM Configuring SolidFire for OpenStack demo in booth S12
            %tr
              %td.right-border.bottom-border
                1 PM SolidFire overview (Japanese) in booth S12
              %td.right-border.bottom-border
                1 PM Deploying SolidFire with Mirantis & Platform9 demo in booth S12
              %td.bottom-border
                11:30 AM SolidFire overview in booth S12
            %tr
              %td.right-border.bottom-border
                2:30 PM Configuring SolidFire for OpenStack demo in booth S12
              %td.right-border.bottom-border
                = link_to '2:00 PM The OpenStack Orchestra: The Next Wave of OpenStack Specialist Startups panel in Seigyoku', '#openstack-orchestra'
              %td.bottom-border
                1 PM SolidFire overview (Japanese) in booth S12
            %tr
              %td.right-border.bottom-border
                4 PM Creating & Modifying OpenStack Volumes demo in booth S12
              %td.right-border.bottom-border
                2:30 PM SolidFire overview in booth S12
              %td.bottom-border
                = link_to '1:50 PM Persisting Data In Your Cloud with Cinder Block Storage session in Gyoko', '#cinder-block'
            %tr
              %td.right-border.bottom-border
                = link_to '5:30 PM A Conversation With Cinder Developers panel in Gyoko', '#cinder'
              %td.right-border.bottom-border
                = link_to '2:50 PM The Stack and Beyond: Analysis Paralysis panel in Gyoko', '#stack-beyond'
              %td.bottom-border
                = link_to '3:30 PM Block Storage Replication with Cinder session in Gyoko', '#block-storage'
            %tr
              %td.right-border.bottom-border
                &nbsp;
              %td.right-border.bottom-border
                4 PM SolidFire overview (Japanese) in booth S12
              %td.bottom-border
                &nbsp;
            %tr
              %td.right-border
                &nbsp;
              %td.right-border
                5:30 PM Live Migration demo in booth S12
              %td
                &nbsp;
        .schedule-details-wrapper
          %a{:name => 'cinder'}
          .schedule-header
            A Conversation With Cinder Developers
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Tuesday, October 27, 5:30PM - 6:30PM
              John Griffith - Principal Software Engineer, SolidFire
              %br
              Jay Bryant - IBM Cinder Subject Matter Expert
              %br
              Patrick East - Software Engineer, Pure Storage
              %br
              Zhiteng Huang - Engineer, eBay
              %br
              Sean McGinnis - Sr. Principal Software Engineer, Dell, Dell
              %br
              Mike Perez - Senior Software Engineer, Datera
              %br
              Xing Yang - Consultant Technologist, Office of the CTO at EMC
            %p
              Continuing the conversation from Vancouver, meet a number of Cinder developers including Core team members.  Hear thoughts from active developers on the state of Cinder, where things are going, and some of the current challenges with the block storage project.
            %p
              This session will also provide the audience time to "ask the experts" in an interactive Q&A format.  This will be a great opportunity to get your questions answered and voice your ideas, opinions, and concerns about block storage within OpenStack.
            %a{:href => 'https://openstacksummitoctober2015tokyo.sched.org/event/b2911465845bf1790a7eafba468200bf?iframe=no&w=i:100;&sidebar=yes&bg=no#.VhLYNZ3BzGc', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'openstack-orchestra'}
          .schedule-header
            The OpenStack Orchestra: The Next Wave of OpenStack Specialist Startups
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Wednesday, October 28, 2:00PM - 2:40PM
              Boris Renski - Co-founder and CMO at Mirantis
              %br
              Ken Rugg - Founder and CEO of Tesora (Trove)
              %br
              Joe Arnold -  Founder and CPO of SwiftStack (Swift)
              %br
              Evan Powell - Co-founder and CEO of StackStorm (Mistral)
              %br
              Pere Monclus - Founder and CTO of PLUMgrid (Neutron)
              %br
              John Griffith - Software Engineer at SolidFire (Cinder)
            %p
              OpenStack is like an Orchestra, made up of many different instruments each playing different parts that come together to form an open source masterpiece.  The next wave of OpenStack companies are a set of specialists who are becoming masters at their own instrument.  In this panel, we will have one of the virtuosos of the first wave of OpenStack startups, Boris Renski, Co-founder and CMO of Mirantis, acting as conductor.  He will be directing an all-star ensemble of instrumentalists from companies specializing in projects that harmonize to form the OpenStack symphony.
            %p
              The first wave of OpenStack startups were generalists delivering a complete OpenStack solutions.  Many of these have now been acquired by larger companies, for example Cisco's acquisition of Metacloud.  Other recent acquisitions include Blue Box, Piston Cloud, and Cloudscaling.  Now there are a number of companies emerging that are focused on specific OpenStack projects.
            %p
              In this session, Boris will lead a panel discussion with CxOs of a group of companies from this next wave of OpenStack specialists. The panel will consist of Ken Rugg, CEO of Tesora, Joe Arnold, CPO of SwiftStack, Evan Powell, CEO of StackStorm, Pere Monclus, CTO of PLUMgrid, and John Griffith, Software Engineer at SolidFire and former PTL of Cinder.  They will discuss evolving roles of specialists and generalists in the OpenStack community, how companies should define themselves in a rapidly changing landscape, dissect interactions between specialists and generalists as the market matures, and explore predictions on the future of the OpenStack ecosystem.
            %a{:href => 'https://openstacksummitoctober2015tokyo.sched.org/event/7c454900dbbc7eef9bcc9f4ba1f519a9?iframe=no&w=i:100;&sidebar=yes&bg=no#.VhLZ7Z3BzGc', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'stack-beyond'}
          .schedule-header
            The Stack and Beyond: Analysis Paralysis
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Wednesday, October 28, 2:50PM - 3:30PM
              Shamail Tahir - Cloud Architect, EMC Office of the CTO
              %br
              Jim Haselmaier - Product Management, EMC
              %br
              André Bearfield - Senior Director of Product, Blue Box
              %br
              Aaron Delp - Technical Solutions Director, SolidFire
            %p
              As the OpenStack ecosystem experiences consolidation of OpenStack providers, the landscape of tools, platforms, and vendor-provided hardware/software solutions above and below the stack continues to grow. While the variety of OpenStack-compatible technologies means that users and consumers have a tremendous amount of choice, it also presents an ever-expanding set of decisions that must be made by both users and providers of commercial OpenStack Solutions. In this session, panelists will discuss:
            %p
              &#149; The balance between flexibility/choice and vendor lock-in
            %p
              &#149; Building loosely coupled/independent services versus fully supported/validated full-stack solutions
            %p
              &#149; The impact of PaaS, containers, APIs, and application deployment/management methods
            %p
              &#149; Barriers to exit and switching costs
            %p
              &#149; Emerging technologies and what the community can do to ease adoption and impact for users, operators, and providers
            %p
              This is a must-attend session for those building OpenStack clouds, whether you’re building your own or building commercial solutions.
            %p
              %a{:href => 'https://openstacksummitoctober2015tokyo.sched.org/event/c1bf29e272e5d58ff3f35f2b9a016d78?iframe=no&w=i:0;&sidebar=yes&bg=no#.VhLcpJ3BzGc', :target => '_blank'}
                view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'block-storage'}
          .schedule-header
            Block Storage Replication with Cinder
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Thursday, October 29, 3:30PM - 4:10PM
              John Griffith - Principal Software Engineer, SolidFire
              %br
              Ed Balduf - Cloud Architect, SolidFire
            %p
              Block storage replication has been available in the Cinder code since Juno, but has experienced many challenges.  An effort is underway for Liberty to make replication more feature full, working, stable and usable.  This session will explain the state of replication as of the Liberty release and where future enhancements will focus. A demo will be shown and a feedback taken for M release planning.
            %p
              Key Take-aways for Attendees:
            %p
              &#149; Understand the use-cases for replication in OpenStack
            %p
              &#149; Awareness of any limitations in replication for the Liberty release
            %p
              &#149; Configuration options and requirements for replication
            %p
              &#149; Walk through an example configuration of block replication on at least one storage platform
            %p
              %a{:href => 'https://openstacksummitoctober2015tokyo.sched.org/event/50d12dae51f54e9f9c745491b73cf224?iframe=no&w=i:0;&sidebar=yes&bg=no#.VhLe8J3BzGc', :target => '_blank'}
                view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'cinder-block'}
          .schedule-header
            Persisting Data In Your Cloud With Cinder Block Storage
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Thursday, October 29, 1:50PM - 2:30PM
              John Griffith - Principal Software Engineer, SolidFire
              %br
              Kenneth Hui - Director of Technical Marketing, Platform9
            %p
              The Block Storage project (Cinder) is often overlooked but can be critical in an OpenStack deployment. In this presentation, we'll have OpenStack experts from the deployment side as well as the development side join forces and walk through not merely the basics of Cinder, but show how Cinder is being deployed today and provide some use case examples and demos!!  Here's your chance to see a live demo go horribly wrong, or go extremely well... either way you WILL be entertained and learn some new things.
            %p
              This presentation will focus on the vendor neutral use cases for block storage in OpenStack but the demo will provide a specific example of how Cinder can be deployed in production.
            %p
              %a{:href => 'https://openstacksummitoctober2015tokyo.sched.org/event/7d49f1a7926da2f2b28eea1f19cac740#.VhQsWxNVhBc', :target => '_blank'}
                view more &gt;&gt;
= render 'shared/no_navigation_footer'




