.slider-wrapper
  .slider.slider1
    #take-your-cloud-slider
      .container
        #take-your-cloud-image
          .take-your-cloud__slide-wrapper
            = image_tag 'landing_pages/slide_1.jpg'
          .slider_text
            %p Storage built for the most demanding OpenStack environments.
    #talk-to-us-slider
      .container
        .talk-to-us-slider__wrapper
          = image_tag 'landing_pages/slide_2.jpg'
        .talk-to-us-text
          %a{:href => '#opestack__summit__vancouver__section__two'}
            .schedule_meeting
              %p Schedule a meeting
          %p to see where we can take your OpenStack environment
    #selfies-slider
      .container
        .selfies-slider__wrapper
          = image_tag 'landing_pages/slide_3.jpg'
        .selfies-text
          %a{:href => '#opestack__summit__vancouver__section__five'}
            .take_picture
              %p Photograph yourself
          %p.win_big with our claw crane for a chance to win a Sonos Play package
#sticky-anchor
#opestack__summit__vancouver__navigation
  .container
    .full-row
      %a{:href => '#opestack__summit__vancouver__section__one'}
        .nav-section.first
          %p SolidFire@OpenStack
      %a{:href => '#opestack__summit__vancouver__section__two'}
        .nav-section
          %p Meet with us
      %a{:href => '#opestack__summit__vancouver__section__three'}
        .nav-section
          %p See us
      %a{:href => '#opestack__summit__vancouver__section__five'}
        .nav-section.last
          %p Win stuff
%section#opestack__summit__vancouver__section__one.opestack__summit__vancouver
  .container
    .full-row
      .col7
        %h1 SolidFire at OpenStack Summit Vancouver
        %p.bold Discover what’s possible with your cloud when storage works for you, not against you.
        %p SolidFire believes storage should never be a barrier to cloud computing. That’s why our high-performance, high-availability platform is built to enable the demands of production-ready OpenStack environments. It’s that simple.
      .col5
        %p.keynote Sessions:
        %p
          %span.keynoteTitle Keynote with CEO, Dave Wright: Take Your Cloud to Places Others Can’t
          %br
          MONDAY |  10:30 a.m.
        %p
          %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/02222cb27e6c7a975169016de65762eb#.VTVbnxPF-Yp', :target => '_blank', :class => 'keynoteTitle'}A conversation with Cinder developers
          %br
          MONDAY |  12:05 p.m. - 12:45 p.m.
        %p
          %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/7a3e80abbbdc062a04cac43eb82dce8b#.VTVckRPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Efforts in Cinder to provide quality as well as compatibility
          %br
          MONDAY |  3:40 p.m. - 4:20 p.m.
        %p
          %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/339b3439145dfde4afd30350a906da7e#.VTVcYxPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Past, present and future of Fibre Channel in OpenStack
          %br
          TUESDAY |  12:05 p.m. - 12:45 p.m.
        %p
          %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/4d9b95c6fffa9624172b5306053bb7b3#.VTVcTBPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Ask the experts: Designing storage for the enterprise
          %br
          THURSDAY |  11:00 a.m. - 11:40 a.m.
%section#opestack__summit__vancouver__section__two.opestack__summit__vancouver.even-row
  .container
    .full-row
      .col7
        %h2 Meet with us at OpenStack Summit Vancouver
        %p.bold Talk to us about how we can enable your cloud to go places others can’t.
        %p It’s time for storage to enable opportunities, not introduce obstacles. Schedule a meeting with us to find out how.
        %p Whether you are guaranteeing performance to every application in your stack, accelerating time to market, or even configuring clouds in minutes rather than weeks, you can be certain that the SolidFire platforms will achieve results no other storage can match.
      .col5
        %p.keynote Schedule time to meet with us
        %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
        %form{:id => 'mktoForm_2345'}
        :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2345);
%section#opestack__summit__vancouver__section__three.opestack__summit__vancouver
  .container
    .full-row
      %h2 See us at OpenStack Summit Vancouver
    .full-row
      .col2
        = image_tag 'landing_pages/dave_wright.png'
      .col9
        %p
          %span.keynote Dave Wright keynote &#8212; Take your cloud to places others can’t
          %br
          Monday, May 18, 2015 | 10:30 a.m.
          %br
          Can't make the event? You can still make the keynote! Watch the live stream at
          %a{:href => 'https://www.openstack.org/', :target => '_blank'} OpenStack.org
        %p Where would you take your OpenStack Cloud if infrastructure weren’t a limitation? Join Dave Wright, CEO of SolidFire, as he discusses how that one question is driving the transformation to the next generation data center — powered by OpenStack, fueled by SolidFire. You’ll discover how storage now can be the cornerstone for adding new users and services in minutes,  guaranteeing performance to mission-critical production applications, and much more. It’s time to launch an OpenStack infrastructure that can go to new possibilities and beyond.
#opestack__summit__vancouver__section__four.opestack__summit__vancouver.even-row
  .container
    .full-row
      %p
        %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/02222cb27e6c7a975169016de65762eb#.VTVbnxPF-Yp', :target => '_blank', :class => 'keynoteTitle'} A conversation with Cinder developers
        %br
        Monday, May 18 • 12:05 p.m. – 12:45 p.m.
        %br
        This session will provide the opportunity to meet with a number of Cinder developers, including members of the core team. SolidFire senior software engineer and former Cinder PTL, John Griffith (@jdg_8), will participate.
      %p
        %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/7a3e80abbbdc062a04cac43eb82dce8b#.VTVckRPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Efforts in Cinder to provide quality as well as compatibility
        %br
        Monday, May 18 • 3:40 p.m. – 4:20 p.m.
        %br
        SolidFire’s John Griffith and EMC’s Shamail Tahir will lead this session, providing an overview of the control and assurance procedures being taken in Cinder, specifically through third-party CI.
      %p
        %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/339b3439145dfde4afd30350a906da7e#.VTVcYxPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Past, present and future of Fibre Channel in OpenStack
        %br
        Tuesday, May 19 • 12:05 p.m. – 12:45 p.m.
        %br
        Fibre Channel support is one of OpenStack’s better kept secrets. Have you ever wondered why Fibre Channel attached storage was added to OpenStack? Understand how competing companies work together to provide a common solution that works for the community. SolidFire’s John Griffith will participate.
      %p
        %a{:href => 'http://openstacksummitmay2015vancouver.sched.org/event/4d9b95c6fffa9624172b5306053bb7b3#.VTVcTBPF-Yp', :target => '_blank', :class => 'keynoteTitle'} Ask the experts: Designing storage for the enterprise
        %br
        Thursday, May 21 • 11:00 a.m. – 11:40 a.m.
        %br
        This panel discussion will focus on the challenges for OpenStack storage and allow you to get direct feedback from users and developers in the audience on their adoption of OpenStack storage. Aaron Delp (@aarondelp), SolidFire Technical Solutions Director, will participate.
%section#opestack__summit__vancouver__section__five.opestack__summit__vancouver
  .container
    .full-row
      .col7
        %h2 Win stuff at OpenStack Summit Vancouver
        %p.bold Take home more than just a few memories and some new thumb drives.
        %p Stop by the SolidFire booth to take your turn at the SolidFire Claw Crane — your chance to grab one of many cool prizes, including SolidFire craft brews, socks, and more!
        %p
          And while you’re there, take a pic to enter to win a new
          %a{:href => 'http://www.sonos.com/shop/products/play3?r=1', :target => '_blank'} Sonos Play:3 HiFi speaker system
          and
          %a{:href => 'http://www.sonos.com/shop/products/bridge', :target => '_blank'}wireless Bridge.
        %p We will pick one tagged photo as the winner and announce via twitter on 5.22.15
      .col5
        %p.keynote Here’s all it takes for a chance to win a Sonos Play:3
        = image_tag 'landing_pages/sonos_giveaway.jpg'
        %ul
          %li
            %p
              Follow
              %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}@SolidFire on Twitter
          %li
            %p Take a pic with “the claw” in our booth
          %li
            %p Post the pic on your Facebook/Twitter/Instagram with the #FueledbySF and #OpenStackSummit hashtags
          %li
            %p One tagged photo will be picked as the winner and announced via Twitter on 5.22.15
