#opestack__getting__it__right
  .container
    .full-row
      .col6
        %h1 OpenStack Private Cloud Storage
        %h2 Storage is a complex, expensive aspect of setting up a cloud...one you can’t afford to get wrong.
        = image_tag 'landing_pages/openstack-getting-it-right.png', :align => 'left', :alt => 'Openstack getting it right'
        %p If you’ve chosen or are considering OpenStack, you need to read this in-depth guide to learn about:
        %ul
          %li Why OpenStack?
          %li Orchestrating your IT infrastructure
          %li The benefits of cloud computing, inside your firewall
          %li What the right OpenStack block storage looks like
        %p ... and much more.

        %p.bold
          Complete the form to download
          %span.redText Getting It Right: OpenStack Private Cloud Storage now.
      .col6
        .formContainer
          %p
            Download
            %span.bold Getting It Right:<br>OpenStack Private Cloud Storage
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_2295'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2295);</script>