= content_for :head do
  = stylesheet_link_tag 'landing_pages/sp-benchmark', :media => 'all'

#sp-benchmark
  .white-ribbon
    .container
      %a{href: root_path}
        %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text
  .red-ribbon
    .container
      %h1 Évaluez vos offres de service de stockage face à la compétition

  .main
    .container
      .span12
        .span7
          %script(type='text/javascript' id='vidyard_embed_code_jKI3EqaCzRj6mHAlws7Zqg' src='//play.vidyard.com/jKI3EqaCzRj6mHAlws7Zqg.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_jKI3EqaCzRj6mHAlws7Zqg();')
              %img(alt="Benchmark_French" width="360" src="//play.vidyard.com/jKI3EqaCzRj6mHAlws7Zqg.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")

        .span5right
          %p
            %a.download{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"}
              Téléchargez ce rapport
            pour voir comment d'autres fournisseurs de services déploient, transforment et profitent du stockage flash dans leur cloud et services d'hébergement.
          %button.button--red
            %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"} Télécharger maintenant