= content_for :head do
  = stylesheet_link_tag 'landing_pages/sp-benchmark', :media => 'all'

#sp-benchmark
  .white-ribbon
    .container
      %a{href: root_path}
        %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text
  .red-ribbon
    .container
      %h1 Messen Sie Ihr Angebot an Storage Services mit dem Ihrer Mitbewerber

  .main
    .container
      .span12
        .span7
          %script(type='text/javascript' id='vidyard_embed_code_kgIkxXkaG77T7UX_sObyMA' src='//play.vidyard.com/kgIkxXkaG77T7UX_sObyMA.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_kgIkxXkaG77T7UX_sObyMA();')
              %img(alt="Service Provider Benchmark Report_Updated" width="360" src="//play.vidyard.com/kgIkxXkaG77T7UX_sObyMA.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")


        .span5right
          %p
            %a.download{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"}
              Laden sie diesen Report herunter
            um zu erfahren wie andere Service Provider Flash Storage für Ihre Cloud und Managed Hosting Services einsetzen, welche Produkte Sie damit bilden und wie Sie davon profitieren.

          %button.button--red
            %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"} Jetzt Herunterladen