= content_for :head do
  = stylesheet_link_tag 'landing_pages/sp-benchmark', :media => 'all'

#sp-benchmark
  .white-ribbon
    .container
      %a{href: root_path}
        %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text

  .red-ribbon
    .container
      %h1 Assess your storage service offerings against the competition

  .main
    .container
      .span12
        .span7
          %script(type='text/javascript' id='vidyard_embed_code_oedgKQXbrg2q-m4FvRv9mQ' src='//play.vidyard.com/oedgKQXbrg2q-m4FvRv9mQ.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_oedgKQXbrg2q$m4FvRv9mQ();')
              %img(alt="Service Provider Benchmark Report_Updated" width="360" src="//play.vidyard.com/oedgKQXbrg2q-m4FvRv9mQ.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")

        .span5right
          %p
            %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"}
              Download this free report
            to see how other service providers are deploying, productizing and profiting from flash storage in their cloud and managed hosting services.
          %button.button--red
            %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/ServiceProviderBenchmarkReport.pdf", target:"_blank"} Download now