#storage__mrd__template
  .container
    .full-row
      .col6
        %h1 Free storage product management template
        %h2 Get help productizing your cloud and managed storage services with this storage market requirements document (MRD) template.
        = image_tag 'landing_pages/SF_LP_MRD.png', :align => 'left'
        %p Developed by product management experts with over 20 years of experience devising and managing storage offerings for service providers, this storage MRD template can help you:
        %ul
          %li
            %span{:style => 'text-decoration: underline;'} Expedite the product development process
            and bring your storage services and new releases to market faster
          %li
            %span{:style => 'text-decoration: underline;'}Deliver better results
            from your storage products/services
          %li
            %span{:style => 'text-decoration: underline;'} Obtain best practices
            for storage service development based on market demands and differentiation
      .col6
        .formContainer
          %p
            Fill Out the Form to Download
            %br
            %span.bold Storage market requirements document (MRD) template
          <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
          %form{:id => 'mktoForm_2307'}
          <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2307);</script>
    .full-row
      %p.bold Download now and start streamlining your product planning and development process today.
    .full-row.bottom_logos
      %p.bold{:style => 'text-align: center'} Proven with the world's most demanding service providers.
      = image_tag 'landing_pages/logos.jpg', :align => 'center'
