
= content_for :head do
  = stylesheet_link_tag 'landing_pages/unstoppable', :media => 'all'
= content_for :javascript do
  %script{:type => 'text/javascript'}
    $(".header-demo").fancybox({
    maxWidth: 330,
    maxHeight: 555,
    fitToView: true,
    width: '100%',
    height: '100%',
    autoSize: false,
    closeClick: false,
    openEffect: 'none',
    closeEffect: 'none',
    padding: 0,
    scrolling: 'no'
    });
.unstoppable
.unstoppable--red-background
  .unstoppable__container
    .full-row
      = image_tag 'landing_pages/pd1-logo.png', :class => 'pd1-logo'
      %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MLac-rFLTIYn9S6XowBLLA', :src => '//play.vidyard.com/MLac-rFLTIYn9S6XowBLLA.js?v=3.1.1&type=lightbox'}
      %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MLac$rFLTIYn9S6XowBLLA();'}
        = image_tag 'landing_pages/unstoppable-video.jpg'
    .full-row
      %h1
        Accelerate your data center transformation like never before with NetApp and SolidFire.
      %p
        Hear SolidFire founder Dave Wright discuss the advantages of using our combined flash portfolio to achieve the best outcome across your data center use cases. SolidFire is still the same disruptive force of all-flash storage &#151; now combined with the power of NetApp.
      %p
        = link_to 'request a demo', '#header-demo', :class => 'button-red header-demo'
#header-demo
  %h3 Request a Demo
  %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
  %form{:id => 'mktoForm_1087'}
  :javascript
      MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1087);