= content_for :head do
  = stylesheet_link_tag 'addthisevent.theme7', :media => 'all'
  = stylesheet_link_tag 'landing_pages/vmworld', :media => 'all'
= content_for :javascript do
  %script{:type => 'text/javascript', :src => 'https://addthisevent.com/libs/1.6.0/ate.min.js'}
  %script{:type => 'text/javascript'}
    addthisevent.settings({
    css        : false
    });
.vmworld
  %header
    .vmworld__container
    .header-content
      .header-content-images
        %a{href: root_path}
          %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text
        = link_to(image_tag('landing_pages/@vmworld.png', :class => 'vmworld-logo', :align => 'left',), vmworld_path)
      .header-content-social
        .social
          %p #FueledbySF
          %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
            = image_tag 'landing_pages/twitter.png', :align => 'left', :class => 'twitter'
          %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
            = image_tag 'landing_pages/linked-in.png', :align => 'left', :class => 'linkedin'
          %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
            = image_tag 'landing_pages/facebook.png', :align => 'left', :class => 'facebook'
          %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
            = image_tag 'landing_pages/youtube.png', :align => 'left', :class => 'youtube'
  .vmworld-padding
    .vmworld-europe__container
      .left-full
        .great-feats
          .great-feats-logo
            %p
              Visit us at VMworld to learn why SolidFire received the
              %span
                highest score for overall use case in Gartner’s Critical Capabilities for Solid-State Arrays*
              &#8212; Again.
          .booth-info
            .booth-logo
              .bb8-div
                = image_tag 'landing_pages/BB82.png'
              %p
                %strong
                  Booth #G210
                %br
                VMworld 2015 Europe
                %br
                12 - 15 October
                %br
                %span
                  Win a Star Wars BB-8 Robot!
                %br
                %span.small Daily raffles in our booth. Must be present to win.
        .meet-wmworld
          %h1.sorry Sorry.<br>Our party is full!
        .schedule-mobile
          %p.mobile-header
            SolidFire's events at VMworld
          .schedule-mobile-header
            Sunday 11 Oct
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              20:00
              %br
              = link_to 'vRockStar Party', 'https://www.eventbrite.com/e/vrockstar-2015-pre-vmworld-meetupparty-tickets-18768783938', :target=> '_blank'
              at the Hard Rock Barcelona for your chance to win the SolidFire Lost Luggage Care Package!
              = link_to 'RSVP >>>', 'https://www.eventbrite.com/e/vrockstar-2015-pre-vmworld-meetupparty-tickets-18768783938', :target=> '_blank'
          .schedule-mobile-header
            Monday 12 Oct
          .schedule-mobile-header
            Tuesday 13 Oct
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:00 - 17:30
              %br
              Visit SolidFire at booth #G210 in the Solutions Exchange
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              12:30 - 13:30
              %br
              = link_to 'SDDC6907-SPO - Workload Consolidation - From Silos to Software Defined Data Center', '#workload-consolidation'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 10/13/2015 12:30 PM
                %span{:class => 'end'} 010/13/2015 01:30 PM
                %span{:class => 'timezone'} Europe/Madrid
                %span{:class => 'title'} Workload Consolidation - From Silos to Software Defined Data Center
                %span{:class => 'description'} Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesn’t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and an automated part of an overall virtualized platform, designed to provide the performance and availability that today’s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. We’ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
                %span{:class => 'location'} Barcelona
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              17:30 - 18:00
              %br
              Bus ride from Gran Fira to Dock
              %br
              18:00-20:00
              %br
              Rock the Yacht Party
          .schedule-mobile-header
            Wednesday | Oct 14
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:00 - 17:00
              %br
              Visit SolidFire at booth #G210 in the Solutions Exchange
          .schedule-mobile-header
            Thursday | Oct 15
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10:30 - 16:00
              %br
              Visit SolidFire at booth #G210 in the Solutions Exchange
              %br
              %br
              %br
              %br
        .schedule
          %p
            SolidFire's events at VMworld
          %table
            %tr
              %th.right-border.bottom-border
                %span Sunday
                %span.date 11 Oct
              %th.right-border.bottom-border
                %span Monday
                %span.date 12 Oct
              %th.right-border.bottom-border
                %span Tuesday
                %span.date 13 Oct
              %th.right-border.bottom-border
                %span Wednesday
                %span.date 14 Oct
              %th.bottom-border
                %span Thursday
                %span.date 15 Oct
            %tr
              %td.right-border.bottom-border
                %span
                  %span.title-sf-red 20:00
                  %br
                  Sign up for
                  = link_to 'vRockStar Party', 'https://www.eventbrite.com/e/vrockstar-2015-pre-vmworld-meetupparty-tickets-18768783938', :target=> '_blank'
                  at the Hard Rock Barcelona for your chance to win the SolidFire Lost Luggage Care Package!
                  = link_to 'RSVP >>>', 'https://www.eventbrite.com/e/vrockstar-2015-pre-vmworld-meetupparty-tickets-18768783938', :target=> '_blank'
              %td.right-border.bottom-border
                &nbsp;
              %td.right-border.bottom-border
                %span.title-sf-red 11:00 - 17:30
                %br
                Visit SolidFire at
                %span.booth-bold
                  booth &#35;G210
                in the Solutions Exchange
              %td.right-border.bottom-border
                %span.title-sf-red 11:00 - 17:00
                %br
                Visit SolidFire at
                %span.booth-bold
                  booth &#35;G210
                in the Solutions Exchange
              %td.bottom-border
                %span.title-sf-red 10:30 - 16:00
                %br
                Visit SolidFire at
                %span.booth-bold
                  booth &#35;G210
                in the Solutions Exchange
            %tr
              %td.right-border.bottom-border
              %td.right-border.bottom-border
              %td.right-border.bottom-border
                %span
                  %span.title-sf-red 12:30 - 13:30
                %br
                = link_to 'SDDC6907-SPO - Workload Consolidation - From Silos to Software Defined Data Center', '#workload-consolidation'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 10/13/2015 12:30 PM
                  %span{:class => 'end'} 010/13/2015 01:30 PM
                  %span{:class => 'timezone'} Europe/Madrid
                  %span{:class => 'title'} Workload Consolidation - From Silos to Software Defined Data Center
                  %span{:class => 'description'} Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesn’t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and an automated part of an overall virtualized platform, designed to provide the performance and availability that today’s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. We’ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
                  %span{:class => 'location'} Barcelona
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td.right-border.bottom-border
              %td.bottom-border
            %tr
              %td.right-border

              %td.right-border

              %td.right-border
                %span.title-sf-red 17:30 - 18:00
                %br
                Bus ride from Gran Fira to Dock
                %br
                %span.title-sf-red 18:00 - 20:00
                %br
                Rock the Yacht Party
              %td.right-border
              %td
                &nbsp;
        .schedule-details-wrapper
          %a{:name => 'workload-consolidation'}
          .schedule-header
            SDDC6907-SPO - Workload Consolidation - From Silos to Software Defined Data Center
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Tuesday, October 13, 12:30 - 13:30
              Josh Atwell - Cloud Architect SolidFire
            Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesn’t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and an automated part of an overall virtualized platform, designed to provide the performance and availability that today’s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. We’ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
            %a{:href => 'https://vmworldeurope2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=1515&tclass=popup', :target => '_blank'}
              view more &gt;&gt;
        .fine-print
          %p
            * SolidFire received the highest overall score for:
            %br
            1) Vendors' Product Scores for the Overall Use Case
            %br
            2) Vendors' Product Scores for the Online Transaction Processing Use Case
            %br
            3) Vendors' Product Scores for the Server Virtualization Use Case
            %br
            4) Vendors' Product Scores for the High-Performance Computing Use Case
            %br
            5) Vendors' Product Scores for the Analytics Use Case
          %p
            This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. The Gartner document is available upon request from SolidFire.
          %p
            Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.
= render 'shared/no_navigation_footer'




