= content_for :head do
  = stylesheet_link_tag 'landing_pages/vmworld', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'landing_pages/vmworld'
.vmworld
  %header
    .vmworld__container
    .header-content
      .header-content-images
        = link_to(image_tag('landing_pages/solidfire-vmworld.png', :class => 'sf-vmworld-logo', :align => 'left',), home_index_path)
        = link_to(image_tag('landing_pages/@vmworld.png', :class => 'vmworld-logo', :align => 'left',), vmworld_path)
      .header-content-social
        .social
          %p #FueledbySF
          %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
            = image_tag 'landing_pages/twitter.png', :align => 'left', :class => 'twitter'
          %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
            = image_tag 'landing_pages/linked-in.png', :align => 'left', :class => 'linkedin'
          %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
            = image_tag 'landing_pages/facebook.png', :align => 'left', :class => 'facebook'
          %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
            = image_tag 'landing_pages/youtube.png', :align => 'left', :class => 'youtube'
  .vmworld-padding
    .vmworldvip__container
      .vmworldvip--top-red-wrapper
        .vmworldvip--top-red-wrapper--image
          = image_tag 'landing_pages/vexpert-badge.png', :class => 'booth-logo-img'
        .vmworldvip--top-red-wrapper--text
          %h2 Hey vExpert, get exclusive VMworld VIP privileges ahead of time.
          %p Register now for:
          %ul
            %li Exclusive pre-party dinner
            %li Private, catered lunch
            %li A special gift that will have you laughing for hours
    .vmworldvip__container
      .vmworldvip--events-wrapper
        = image_tag 'landing_pages/hoppiness-red.png', :class => 'booth-logo-img'
        %h3
          %span.full Dinner is full!
          %br
          vExpert VIP Dinner &
          %br
          Pursuit of Hoppiness Party
        %p.event-details Monday Aug 31 &#124; Dinner 5:00-6:00pm, Party 6:00-9:00pm
        %p
          Party with industry influencers and craft beer aficionados at the third annual SolidFire ThirstyBear party.
          %br
          &#149; Exclusive dinner before the party
          %br (no drinking on empty stomachs)
          &#149;  Meet up with SolidFire CEO Dave Wright
        %p
          = link_to 'sign up for the wait list', '#inline-dinner', :class => 'vexpert-form-dinner'
          = link_to 'rsvp for the party', 'http://tweetvite.com/event/Hoppiness', :class => 'rsvp', :target => '_blank'
      .vmworldvip--events-spacer
      .vmworldvip--events-wrapper.vmworldvip--events-wrapper-right
        = image_tag 'landing_pages/burger-fries.jpg', :class => 'burger-image'
        %h3
          %span.full Session is full!
          %br
          Wednesday Lunch Roundtable &#150; define
          %br
          the future of the data center
        %p.event-details Wednesday Sept 2 &#124; 12:00pm
        %p
          Forego the ordinary conference food and join your fellow vExperts for lunch in the eWow suite at the W Hotel.
          %br
          &#149; An intimate catered lunch
          %br
          &#149; Uninterrupted WiFi
          %br
          &#149; A quick break from the conference
        %p
          = link_to 'sign up for waitlist', '#inline', :class => 'vexpert-form-lunch'
    .mobile-social
      %p #FuledbySF
      %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
        = image_tag 'landing_pages/twitter.png', :class => 'twitter'
      %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
        = image_tag 'landing_pages/linked-in.png', :class => 'linkedin'
      %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
        = image_tag 'landing_pages/facebook.png', :class => 'facebook'
      %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
        = image_tag 'landing_pages/youtube.png', :class => 'youtube'
    #inline
      %h3 vExpert Lunch Roundtable
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2505'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2505);
    #inline-dinner
      %h3 vExpert VIP Dinner
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2526'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2526);
= render 'shared/no_navigation_footer'








