= content_for :head do
  = stylesheet_link_tag 'addthisevent.theme7', :media => 'all'
  = stylesheet_link_tag 'landing_pages/vmworld', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'landing_pages/vmworld'
  %script{:type => 'text/javascript', :src => 'https://addthisevent.com/libs/1.6.0/ate.min.js'}
  %script{:type => 'text/javascript'}
    addthisevent.settings({
    css        : false
    });
.vmworld
  %header
    .vmworld__container
    .header-content
      .header-content-images
        = link_to(image_tag('landing_pages/solidfire-vmworld.png', :class => 'sf-vmworld-logo', :align => 'left',), home_index_path)
        = link_to(image_tag('landing_pages/@vmworld.png', :class => 'vmworld-logo', :align => 'left',), vmworld_path)
      .header-content-social
        .social
          %p #FueledbySF
          %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
            = image_tag 'landing_pages/twitter.png', :align => 'left', :class => 'twitter'
          %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
            = image_tag 'landing_pages/linked-in.png', :align => 'left', :class => 'linkedin'
          %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
            = image_tag 'landing_pages/facebook.png', :align => 'left', :class => 'facebook'
          %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
            = image_tag 'landing_pages/youtube.png', :align => 'left', :class => 'youtube'
  .vmworld-padding
    .vmworld__container
      .left
        .great-feats
          .great-feats-logo
            %p
              Visit us at VMworld to learn why SolidFire received the
              %span
                highest score for overall use case in Gartnerâ€™s Critical Capabilities for Solid-State Arrays*
              &#8212; Again.
          .booth-info
            .booth-logo
              %p
                %strong
                  Booth #929
                %br
                VMworld San Francisco
                %br
                Aug 30 - Sept 3
        .meet-wmworld
          %p.headline
            Enter to win a 2015 SolidFire bike.
          %p.meet Schedule a meeting with us.
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_2504'}
          :javascript
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2504);
        .schedule-mobile
          %p.mobile-header
            SolidFire's events at VMworld
          .schedule-mobile-header
            Sunday | Aug 30
          .schedule-mobile-content
            %span{:class => 'title-sf-red'}
              3:00pm-5:00pm
              %br
              v0dgeball
              %br
              %a{:href => ' http://tweetvite.com/event/v0dgeball15', :target => '_blank', :class => 'signup'}
                Sign up &gt;&gt;
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 08/30/2015 03:00 PM
                %span{:class => 'end'} 08/30/2015 05:00 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} vOdgeball
                %span{:class => 'description'} vOdgeball
                %span{:class => 'location'} San Francisco, CA
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              4:00pm-7:00pm
              %br
              Visit Booth #929 in Solutions Exchange
          .schedule-mobile-content
            %span{:class => 'title-sf-red'}
              8:00pm-11:00pm
              %br
              VMunderground / Opening Acts
              %br
              %a{:href => 'http://blog.vmunderground.com/', :tagret => '_blank', :class => 'signup'}
                Sign up &gt;&gt;
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 08/30/2015 08:00 PM
                %span{:class => 'end'} 08/30/2015 11:00 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} VMunderground / Opening Acts
                %span{:class => 'description'} VMunderground / Opening Acts
                %span{:class => 'location'} San Francisco, CA
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-header
            Monday | Aug 31
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              12:00pm-6:00pm
              %br
              Visit Booth #929 in Solutions Exchange
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              12:20pm-12:40pm
              %br
              = link_to 'Session: Realizing Next Generation Consumer Capabilities with VMware and SolidFire', '#next-gen'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 08/31/2015 12:20 PM
                %span{:class => 'end'} 08/31/2015 12:40 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Session: Realizing Next Generation Consumer Capabilities with VMware and SolidFire
                %span{:class => 'description'} SolidFire's all-flash array and VMware are empowering a new generation of IT consumer enablement. This presentation will be on SPBM and the evolution of VMware's vSphere API for Storage Awareness, and build the framework for describing how these features can be utilized by vRealize Automation and vRealize Orchestrator.
                %span{:class => 'location'} Solutions Exchange Theater
                %span{:class => 'date_format'} MM/DD/YYYY
              %br
              %br
              %span{:class => 'title-sf-red'}
                12:00pm-1:00pm
                %br
                = link_to 'Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage, configurations, and demo', '#lunch-n-learn'
                %br
                %a{:href => '#inline-lunch-n-learn', :class => 'lunch-n-learn signup'}
                  Sign up &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/31/2015 12:00 PM
                  %span{:class => 'end'} 08/31/2015 01:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage
                  %span{:class => 'description'} Join us for a catered lunch session to discuss the traditional storage platform limitations that VVols may expose. Learn why VVols is about ease of management and increased scalability and how SolidFire is delivering the storage features you need to get the most from VVols. This session describes how VVols is implemented on a SolidFire cluster, and how the unique ability to virtualize performance and capacity independently delivers more agility for introducing VVols to your environment. Enjoy the lunch and ask your burning VVols questions with answers coming from someone who knows the technical details.
                  %span{:class => 'location'} eWOW Suite, W Hotel
                  %span{:class => 'date_format'} MM/DD/YYYY
              %br
              %br
              %span{:class => 'title-sf-red'}
                3:00pm-4:00pm
                %br
                = link_to 'The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center (W Hotel Session)', '#confidential'
                %br
                %a{:href => '.vexpert-form-lunch', :class => 'confidential signup'}
                  Sign up &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/31/2015 03:00 PM
                  %span{:class => 'end'} 08/31/2015 04:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center
                  %span{:class => 'description'} If you manage or use VMware, you will want to learn about the importance of building your Software Defined Data Center on something other than your legacy storage platform. Attend this forum hosted by SolidFire CEO Dave Wright to learn why it was critical to develop the SolidFire platform as an alternative to the storage platforms of the past. Youâ€™ll hear insights directly from the SolidFire CEO and get the chance to participate in the dialogue around the current and future state of flash storage, and how VMware environments benefit from modernizing the storage platform. Learn how you can deliver the most agile VMware ecosystem when you build from the foundation of the SolidFire platform.
                  %span{:class => 'location'} eWOW Suite, W Hotel
                  %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            5:00pm-6:00pm
            %br
            vExpert VIP Dinner
            %span.title-sf-red SOLDOUT
            %br
            %a{:href => vmworld_vip_path, :class => 'signup'}
              Sign up &gt;&gt;
          .schedule-mobile-content
            %span{:class => 'title-sf-red'}
              6:00pm-9:00pm
              %br
              SolidFire Pursuit of Hoppiness Party at ThirstyBear
              %br
              %a{:href => 'http://tweetvite.com/event/Hoppiness', :target => '_blank'}
                RSVP &gt;&gt;
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 08/31/2015 06:00 PM
                %span{:class => 'end'} 08/31/2015 09:00 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} SolidFire Pursuit of Hoppiness Party at ThirstyBear
                %span{:class => 'description'} SolidFire Pursuit of Hoppiness Party at ThirstyBear
                %span{:class => 'location'} San Francisco, CA
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-header
            Tuesday | Sept 1
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              11:00am-5:00pm
              %br
              Visit Booth #929 in Solutions Exchange
          .schedule-mobile-content
            %span{:class => 'title-sf-red'}
              7:00am-8:30am
              %br
              = link_to 'Breakfast of Channel Champions: Cloud Builders for Virtualization', '#breakfast-channel'
              %br
              %a{:href => '#inline-breakfast-channel', :class => 'breakfast-channel signup'}
                Sign up &gt;&gt;
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/01/2015 07:00 AM
                %span{:class => 'end'} 09/01/2015 08:30 AM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Breakfast of Channel Champions: Cloud Builders for Virtualization
                %span{:class => 'description'} Join us on Tuesday morning for a special channel partner breakfast to get an overview of our latest updates around SolidFire solutions for virtualization and related channel programs. Attend and youâ€™ll learn how SolidFireâ€™s translates to VMware opportunity and how to get the new virtualization specialization training.
                %span{:class => 'location'} eWOW Suite, W Hotel
                %span{:class => 'date_format'} MM/DD/YYYY
              %br
              %br
            %span{:class => 'title-sf-red'}
              10:30am-11:30am
              %br
              = link_to 'Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire (W Hotel Session)', '#government'
              %br
              %a{:href => '#inline-government', :class => 'government signup'}
                Sign up &gt;&gt;
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/01/2015 10:30 AM
                %span{:class => 'end'} 09/01/2015 11:30 AM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire
                %span{:class => 'description'} Join this session to get an introduction to Gartnerâ€™s Highest Rated All Flash Storage Platform, learn how ESG identified 93% administrative savings for storage, and how your government programs will benefit from the agility you gain with SolidFire.  Step above the technology platform battle to understand why breaking free of the traditional storage platform can help you achieve greater agility to deliver program results. This session will include some technical content, but will focus primarily on aligning with program initiatives and opportunities for partners.
                %span{:class => 'location'} eWOW Suite, W Hotel
                %span{:class => 'date_format'} MM/DD/YYYY
              %br
              %br
              %span{:class => 'title-sf-red'}
                12:00pm-1:00pm
                %br
                = link_to 'Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation (W Hotel Session)', '#lunch-n-learn-vmware'
                %br
                %a{:href => '#inline-lunch-n-learn-vmware', :class => 'lunch-n-learn-vmware signup'}
                  Sign up &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 09/01/2015 12:00 PM
                  %span{:class => 'end'} 09/01/2015 01:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation
                  %span{:class => 'description'} Join this catered lunch roundtable and get into a technology and market dialogue with Dave Wright and Dave Cahill. This session will cover the current and future state of technology and market conditions for virtualization, automation, and cloud. Weâ€™ll cover a range of topics such as: the Software Defined Data Center, the state of OpenStack and where VMware could play, and Dave Wrightâ€™s â€œConsumption Continuumâ€.  Curious about the technology opportunities coming with containers and the future of automation? This event will be moderated by Jeramiah Dooley and will give you an opportunity to join the conversation to ask your own questions of the SolidFire executives.
                  %span{:class => 'location'} eWOW Suite, W Hotel
                  %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              4:30pm-6:00pm
              %br
              Expo Hall Crawl
          .schedule-mobile-header
            Wednesday | Sept 2
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10:00am-5:00pm
              %br
              Visit Booth #929 in Solutions Exchange
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              10:00am-11:00am
              %br
              = link_to 'Panel: Storage Upstarts: More than a "Flash" in the Pan', '#storage-upstarts'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/02/2015 10:00 AM
                %span{:class => 'end'} 09/02/2015 11:00 AM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Panel: Storage Upstarts: More than a "Flash" in the Pan
                %span{:class => 'description'} SolidFire's all-flash array and VMware are empowering a new generation of IT consumer enablement. This presentation will be on SPBM and the evolution of VMware's vSphere API for Storage Awareness, and build the framework for describing how these features can be utilized by vRealize Automation and vRealize Orchestrator.
                %span{:class => 'location'} Solutions Exchange Theater
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              12:00pm vExpert Lunch Roundtable
              %span.title-sf-red SOLDOUT
              %br
              %a{:href => vmworld_vip_path, :class => 'signup'}
                Sign up &gt;&gt;
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              2:30pm-3:30pm
              %br
              = link_to 'Session: Workload Consolidation- From Silos to the Software Defined Data Center', '#workload-consolidation'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/02/2015 02:30 PM
                %span{:class => 'end'} 09/02/2015 03:30 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Session: Workload Consolidation- From Silos to the Software Defined Data Center
                %span{:class => 'description'} Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesnâ€™t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and easily managed part of an overall virtualized platform, designed to provide the performance and availability that todayâ€™s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. Weâ€™ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
                %span{:class => 'location'} Solutions Exchange Theater
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              4:00pm-5:00pm
              %br
              = link_to 'Panel: A Practical Introduction to DevOps for VMware Administrators', '#devops-intro'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/03/2015 04:00 PM
                %span{:class => 'end'} 09/03/2015 05:00 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Panel: A Practical Introduction to DevOps for VMware Administrators
                %span{:class => 'description'} Youâ€™ve heard of DevOps, but you may not be 100% clear on what benefits it can bring to your IT organization.  Join this session to see, and possibly participate in, live demonstrations of popular DevOps tools like Puppt, Chef, Ansible, PowerShell DSC, Razor, Jenkins, Docker, and more. DevOps experts will be on-hand to present information on DevOps tools and practices and to answer your questions about how these solutions integrate with VMware technologies.  In this session, you will also learn how to keep your developers happy whilst maintaining control of the infrastructure you know and love.
                %span{:class => 'location'} Solutions Exchange Theater
                %span{:class => 'date_format'} MM/DD/YYYY
          .schedule-mobile-header
            Thursday | Sept 3
          .schedule-mobile-content
            .schedule-mobile-content-grey-text
              12:00pm-1:00pm
              %br
              = link_to 'Session: Explaining Advanced Virtual Volumes Configurations (W Hotel Session)', '#ad-virtual'
              %br
              %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                Add to your calendar &gt;&gt;
                %span{:class => 'start'} 09/03/2015 12:00 PM
                %span{:class => 'end'} 09/03/2015 01:00 PM
                %span{:class => 'timezone'} America/Los_Angeles
                %span{:class => 'title'} Session: Explaining Advanced Virtual Volumes Configurations
                %span{:class => 'description'} Not content to simply describe the Virtual Volume (VVOL) framework, this session instead examines practical use cases: How different configurations and workloads benefit from VVOLs. Learn how Storage Policy Based Management (SPBM) couples with VVOLs to provide VM configuration options not previously available. We demonstrate a handful of real-life scenarios, specifically covering how VVOLs benefits oversubscribed systems, disaster recovery preparation and multi-tenant requirements for customers. Specific configuration options and constraints are covered in detail, including how they work with underlying storage.
                %span{:class => 'location'} Solutions Exchange Theater
                %span{:class => 'date_format'} MM/DD/YYYY
              %br
              %br
              %br
              %br
        .schedule
          %p
            SolidFire's events at VMworld
          %table
            %tr
              %th.right-border.bottom-border
                %span Sunday
                %span.date Aug 30
              %th.right-border.bottom-border
                %span Monday
                %span.date Aug 31
              %th.right-border.bottom-border
                %span Tuesday
                %span.date Sept 1
              %th.right-border.bottom-border
                %span Wednesday
                %span.date Sept 2
              %th.bottom-border
                %span Thursday
                %span.date Sept 3
            %tr
              %td.right-border.bottom-border
                %span{:class => 'title-sf-red'}
                  3:00pm-5:00pm
                  %br
                  v0dgeball
                %br
                %a{:href => ' http://tweetvite.com/event/v0dgeball15', :target => '_blank', :class => 'signup'}
                  Sign up &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/30/2015 03:00 PM
                  %span{:class => 'end'} 08/30/2015 5:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} vOdgeball
                  %span{:class => 'description'} vOdgeball
                  %span{:class => 'location'} San Francisco, CA
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td.right-border.bottom-border
                12:00pm-6:00pm
                %br
                Visit Booth #929 in Solutions Exchange
              %td.right-border.bottom-border
                11:00am-5:00pm
                %br
                Visit Booth #929 in Solutions Exchange
              %td.right-border.bottom-border
                10:00am-5:00pm
                %br
                Visit Booth #929 in Solutions Exchange
              %td.bottom-border
                &nbsp;
            %tr
              %td.right-border.bottom-border
                4:00pm-7:00pm
                %br
                Visit Booth #929 in Solutions Exchange
              %td.right-border.bottom-border
                12:20pm-12:40pm
                %br
                = link_to 'Session: Realizing Next Generation Consumer Capabilities with VMware and SolidFire', '#next-gen'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/31/2015 12:20 PM
                  %span{:class => 'end'} 08/31/2015 12:40 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Session: Realizing Next Generation Consumer Capabilities with VMware and SolidFire
                  %span{:class => 'description'} SolidFire's all-flash array and VMware are empowering a new generation of IT consumer enablement. This presentation will be on SPBM and the evolution of VMware 's vSphere API for Storage Awareness, and build the framework for describing how these features can be utilized by vRealize Automation and vRealize Orchestrator.
                  %span{:class => 'location'} Solutions Exchange Theater
                  %span{:class => 'date_format'} MM/DD/YYYY
                %br
                %br
                %span{:class => 'title-sf-red'}
                  12:00pm-1:00pm
                  %br
                  = link_to 'Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage (W Hotel Session)', '#lunch-n-learn'
                  %br
                  %a{:href => '#inline-lunch-n-learn', :class => 'lunch-n-learn signup'}
                    Sign up &gt;&gt;
                  %br
                  %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                    Add to your calendar &gt;&gt;
                    %span{:class => 'start'} 08/31/2015 12:00 PM
                    %span{:class => 'end'} 08/31/2015 01:00 PM
                    %span{:class => 'timezone'} America/Los_Angeles
                    %span{:class => 'title'} Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage
                    %span{:class => 'description'} Join us for a catered lunch session to discuss the traditional storage platform limitations that VVols may expose. Learn why VVols is about ease of management and increased scalability and how SolidFire is delivering the storage features you need to get the most from VVols. This session describes how VVols is implemented on a SolidFire cluster, and how the unique ability to virtualize performance and capacity independently delivers more agility for introducing VVols to your environment. Enjoy the lunch and ask your burning VVols questions with answers coming from someone who knows the technical details.
                    %span{:class => 'location'} eWOW Suite, W Hotel
                    %span{:class => 'date_format'} MM/DD/YYYY
                %br
                %br
                %span{:class => 'title-sf-red'}
                  3:00pm-4:00pm
                  %br
                  = link_to 'The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center (W Hotel Session)', '#confidential'
                  %br
                  %a{:href => '#inline-confidential', :class => 'confidential signup'}
                    Sign up &gt;&gt;
                  %br
                  %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                    Add to your calendar &gt;&gt;
                    %span{:class => 'start'} 08/31/2015 03:00 PM
                    %span{:class => 'end'} 08/31/2015 04:00 PM
                    %span{:class => 'timezone'} America/Los_Angeles
                    %span{:class => 'title'} The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center
                    %span{:class => 'description'} If you manage or use VMware, you will want to learn about the importance of building your Software Defined Data Center on something other than your legacy storage platform. Attend this forum hosted by SolidFire CEO Dave Wright to learn why it was critical to develop the SolidFire platform as an alternative to the storage platforms of the past. You'll hear insights directly from the SolidFire CEO and get the chance to participate in the dialogue around the current and future state of flash storage, and how VMware environments benefit from modernizing the storage platform. Learn how you can deliver the most agile VMware ecosystem when you build from the foundation of the SolidFire platform.
                    %span{:class => 'location'} eWOW Suite, W Hotel
                    %span{:class => 'date_format'} MM/DD/YYYY
              %td.right-border.bottom-border
                %span{:class => 'title-sf-red'}
                  7:00am-8:30am
                  %br
                  = link_to 'Breakfast of Channel Champions: Cloud Builders for Virtualization', '#breakfast-channel'
                  %br
                  %a{:href => '#inline-breakfast-channel', :class => 'breakfast-channel signup'}
                    Sign up &gt;&gt;
                  %br
                  %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                    Add to your calendar &gt;&gt;
                    %span{:class => 'start'} 09/01/2015 07:00 AM
                    %span{:class => 'end'} 09/01/2015 08:30 AM
                    %span{:class => 'timezone'} America/Los_Angeles
                    %span{:class => 'title'} Breakfast of Channel Champions: Cloud Builders for Virtualization
                    %span{:class => 'description'} Join us on Tuesday morning for a special channel partner breakfast to get an overview of our latest updates around SolidFire solutions for virtualization and related channel programs. Attend and youâ€™ll learn how SolidFireâ€™s translates to VMware opportunity and how to get the new virtualization specialization training.
                    %span{:class => 'location'} eWOW Suite, W Hotel
                    %span{:class => 'date_format'} MM/DD/YYYY
                  %br
                  %br
                %span{:class => 'title-sf-red'}
                  10:30am-11:30am
                  %br
                  = link_to 'Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire (W Hotel Session)', '#government'
                  %br
                  %a{:href => '#inline-government', :class => 'government signup'}
                    Sign up &gt;&gt;
                  %br
                  %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                    Add to your calendar &gt;&gt;
                    %span{:class => 'start'} 09/01/2015 10:30 AM
                    %span{:class => 'end'} 09/01/2015 11:30 AM
                    %span{:class => 'timezone'} America/Los_Angeles
                    %span{:class => 'title'} Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire
                    %span{:class => 'description'} Join this session to get an introduction to Gartnerâ€™s Highest Rated All Flash Storage Platform, learn how ESG identified 93% administrative savings for storage, and how your government programs will benefit from the agility you gain with SolidFire.  Step above the technology platform battle to understand why breaking free of the traditional storage platform can help you achieve greater agility to deliver program results. This session will include some technical content, but will focus primarily on aligning with program initiatives and opportunities for partners.
                    %span{:class => 'location'} eWOW Suite, W Hotel
                    %span{:class => 'date_format'} MM/DD/YYYY
                %br
                %br
                %span{:class => 'title-sf-red'}
                  12:00pm-1:00pm
                  %br
                  = link_to 'Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation (W Hotel Session)', '#lunch-n-learn-vmware'
                  %br
                  %a{:href => '#inline-lunch-n-learn-vmware', :class => 'lunch-n-learn-vmware signup'}
                    Sign up &gt;&gt;
                  %br
                  %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                    Add to your calendar &gt;&gt;
                    %span{:class => 'start'} 09/01/2015 12:00 PM
                    %span{:class => 'end'} 09/01/2015 01:00 PM
                    %span{:class => 'timezone'} America/Los_Angeles
                    %span{:class => 'title'} Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation
                    %span{:class => 'description'} Join this catered lunch roundtable and get into a technology and market dialogue with Dave Wright and Dave Cahill. This session will cover the current and future state of technology and market conditions for virtualization, automation, and cloud. Weâ€™ll cover a range of topics such as: the Software Defined Data Center, the state of OpenStack and where VMware could play, and Dave Wrightâ€™s â€œConsumption Continuumâ€.  Curious about the technology opportunities coming with containers and the future of automation? This event will be moderated by Jeramiah Dooley and will give you an opportunity to join the conversation to ask your own questions of the SolidFire executives.
                    %span{:class => 'location'} eWOW Suite, W Hotel
                    %span{:class => 'date_format'} MM/DD/YYYY
                %br
                %br
                4:30pm-6:00pm
                %br
                Expo Hall Crawl
              %td.right-border.bottom-border
                10:00am-11:00am
                %br
                = link_to 'Panel: Storage Upstarts: More than a "Flash" in the Pan', '#storage-upstarts'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 09/02/2015 10:00 AM
                  %span{:class => 'end'} 09/02/2015 11:00 AM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Panel: Storage Upstarts: More than a "Flash" in the Pan
                  %span{:class => 'description'} SolidFire's all-flash array and VMware are empowering a new generation of IT consumer enablement. This presentation will be on SPBM and the evolution of VMware's vSphere API for Storage Awareness, and build the framework for describing how these features can be utilized by vRealize Automation and vRealize Orchestrator.
                  %span{:class => 'location'} Solutions Exchange Theater
                  %span{:class => 'date_format'} MM/DD/YYYY
                %br
                %br
                12:00pm vExpert Lunch Roundtable
                %span.title-sf-red SOLDOUT
                %br
                %a{:href => vmworld_vip_path, :class => 'signup'}
                  Sign up &gt;&gt;
                %br
                %br
                2:30pm-3:30pm
                %br
                = link_to 'Session: Workload Consolidation- From Silos to the Software Defined Data Center', '#workload-consolidation'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 09/02/2015 02:30 PM
                  %span{:class => 'end'} 09/02/2015 03:30 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Session: Workload Consolidation- From Silos to the Software Defined Data Center
                  %span{:class => 'description'} Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesnâ€™t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and easily managed part of an overall virtualized platform, designed to provide the performance and availability that todayâ€™s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. Weâ€™ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
                  %span{:class => 'location'} Solutions Exchange Theater
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td.bottom-border
                12:00pm-1:00pm
                %br
                = link_to 'Session: Explaining Advanced Virtual Volumes Configurations', '#ad-virtual'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 09/03/2015 12:00 PM
                  %span{:class => 'end'} 09/03/2015 01:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Session: Explaining Advanced Virtual Volumes Configurations
                  %span{:class => 'description'} Not content to simply describe the Virtual Volume (VVOL) framework, this session instead examines practical use cases: How different configurations and workloads benefit from VVOLs. Learn how Storage Policy Based Management (SPBM) couples with VVOLs to provide VM configuration options not previously available. We demonstrate a handful of real-life scenarios, specifically covering how VVOLs benefits oversubscribed systems, disaster recovery preparation and multi-tenant requirements for customers. Specific configuration options and constraints are covered in detail, including how they work with underlying storage.
                  %span{:class => 'location'} Solutions Exchange Theater
                  %span{:class => 'date_format'} MM/DD/YYYY
            %tr
              %td.right-border
                %span{:class => 'title-sf-red'}
                  8-11pm
                  %br
                  VMunderground / Opening Acts
                %br
                %a{:href => 'http://blog.vmunderground.com/', :target => '_blank', :class => 'signup'}
                  Sign up &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/30/2015 07:00 PM
                  %span{:class => 'end'} 08/30/2015 09:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} VMunderground / Opening Acts
                  %span{:class => 'description'} VMunderground / Opening Acts
                  %span{:class => 'location'} San Francisco, CA
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td.right-border
                %span{:class => 'title-sf-red'}
                  5:00pm-6:00pm
                  %br
                  vExpert VIP Dinner
                  %span.title-sf-red SOLDOUT
                  %br
                  %a{:href => vmworld_vip_path, :class => 'signup'}
                    Sign up &gt;&gt;
                %br
                %br
                %span{:class => 'title-sf-red'}
                  6:00pm-9:00pm
                  %br
                  SolidFire Pursuit of Hoppiness Party at ThirstyBear
                %br
                %a{:href => 'http://tweetvite.com/event/Hoppiness', :target => '_blank'}
                  RSVP &gt;&gt;
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 08/31/2015 06:00 PM
                  %span{:class => 'end'} 08/31/2015 09:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} SolidFire Pursuit of Hoppiness Party at ThirstyBear
                  %span{:class => 'description'} SolidFire Pursuit of Hoppiness Party at ThirstyBear
                  %span{:class => 'location'} San Francisco, CA
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td.right-border
                &nbsp;
              %td.right-border
                4:00pm-5:00pm
                %br
                = link_to 'Panel: A Practical Introduction to DevOps for VMware Administrators', '#devops-intro'
                %br
                %div{:title => 'Add to Calendar', :class => 'addthisevent'}
                  Add to your calendar &gt;&gt;
                  %span{:class => 'start'} 09/03/2015 04:00 PM
                  %span{:class => 'end'} 09/03/2015 05:00 PM
                  %span{:class => 'timezone'} America/Los_Angeles
                  %span{:class => 'title'} Panel: A Practical Introduction to DevOps for VMware Administrators
                  %span{:class => 'description'} Youâ€™ve heard of DevOps, but you may not be 100% clear on what benefits it can bring to your IT organization.  Join this session to see, and possibly participate in, live demonstrations of popular DevOps tools like Puppt, Chef, Ansible, PowerShell DSC, Razor, Jenkins, Docker, and more. DevOps experts will be on-hand to present information on DevOps tools and practices and to answer your questions about how these solutions integrate with VMware technologies.  In this session, you will also learn how to keep your developers happy whilst maintaining control of the infrastructure you know and love.
                  %span{:class => 'location'} Solutions Exchange Theater
                  %span{:class => 'date_format'} MM/DD/YYYY
              %td
                &nbsp;
        .schedule-main-header
          Don't miss our main sessions
        .schedule-details-wrapper
          %a{:name => 'ad-virtual'}
          .schedule-header
            STO5074 - Explaining Advanced Virtual Volumes Configurations
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Thursday, Sept 3, 12:00pm - 1:00pm
              Ken Werneburg - Senior Architect - Technical Marketing, VMware
              %br
              Andy Banta - Storage Janitor, SolidFire
            Not content to simply describe the Virtual Volume (VVOL) framework, this session instead examines practical use cases: How different configurations and workloads benefit from VVOLs. Learn how Storage Policy Based Management (SPBM) couples with VVOLs to provide VM configuration options not previously available. We demonstrate a handful of real-life scenarios, specifically covering how VVOLs benefits oversubscribed systems, disaster recovery preparation and multi-tenant requirements for customers. Specific configuration options and constraints are covered in detail, including how they work with underlying storage.
            %a{:href => 'https://vmworld2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=5074', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'workload-consolidation'}
          .schedule-header
            SDDC6541-SPO - Workload Consolidation- From Silos to the Software Defined Data Center
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Wednesday, Sept 2, 2:30pm - 3:30pm
              Jeramiah Dooley - Principal Architect, SolidFire
              %br
              Josh Atwell - Cloud Architect, SolidFire
            Storage has become an anchor on the ship of progress in the modern, virtualized data center. Up until recently it has been slow, unpredictable, inflexible, and requires far too much operational overhead. Showing its age, storage is still sized, deployed, and managed using methods created in the 1980s. Worst of all, storage capacity and performance are often still locked together in fixed ratios, making it inevitable that even the best-run storage environment will be wasteful and inefficient. It doesnâ€™t have to be this way. The technology and know-how exists to have storage that is a predictable, flexible, and easily managed part of an overall virtualized platform, designed to provide the performance and availability that todayâ€™s end user workloads demand. Join us as we examine a year-in-the-life of an enterprise data center. Weâ€™ll show how migrating workloads onto a single platform can be the crucial missing step as VMware customers transition from legacy architecture into a Software Defined Data Center (SDDC).
            %a{:href => 'https://vmworld2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=6541', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'next-gen'}
          .schedule-header
            STP6305 - Realizing Next Generation Consumer Capabilities with VMware and SolidFire
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Monday Aug 31, 12:20pm - 12:40pm
              Josh Atwell - Cloud Architect, SolidFire
            SolidFire's all-flash array and VMware are empowering a new generation of IT consumer enablement. This presentation will be on SPBM and the evolution of VMware's vSphere API for Storage Awareness, and build the framework for describing how these features can be utilized by vRealize Automation and vRealize Orchestrator.
            %a{:href => 'https://vmworld2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=6305', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'devops-intro'}
          .schedule-header
            INF5116 - A Practical Introduction to DevOps for VMware Administrators
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Wednesday, Sept 2, 4:00pm - 5:00pm
              Josh Atwell - Cloud Architect, SolidFire
              %br
              Trevor Roberts Jr - Senior Technical Marketing Manager, VMware
              %br
              Yvo van Doorn - Manager, Solution Architects, Chef Software
              %br
              Egle Sigler - Principal Architect, Rackspace
              %br
              Chris Sexsmith - Sr Manager of Field Enablement, Cloud-Native Apps, VMware
            Youâ€™ve heard of DevOps, but you may not be 100% clear on what benefits it can bring to your IT organization.  Join this session to see, and possibly participate in, live demonstrations of popular DevOps tools like Puppt, Chef, Ansible, PowerShell DSC, Razor, Jenkins, Docker, and more. DevOps experts will be on-hand to present information on DevOps tools and practices and to answer your questions about how these solutions integrate with VMware technologies.  In this session, you will also learn how to keep your developers happy whilst maintaining control of the infrastructure you know and love.
            %a{:href => 'https://vmworld2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=5116', :target => '_blank'}
              view more &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'storage-upstarts'}
          .schedule-header
            VAPP6681-SPO - Storage Upstarts: More than a "Flash" in the Pan
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Wednesday, Sept 2, 10:00am - 11:00am
              Howard Marks - Founder and Chief Scientist, DeepStorage, LLC
              %br
              Jeramiah Dooley - Principal Architect, SolidFire
            As the storage industry is constantly evolving, Howard Marks, the legendary Odin of storage, will moderate this panel to highlight the changes and innovations in the market. He will manage the discussion with storage experts that are driving the industry forward through new architectures and advanced technologies. The experts will discuss how the industry is changing the way organizations use and interact with storage, specifically highlighting new service oriented architectures, improved storage implementation and management technologies, and more. In addition to the moderator and panelists, audience members will be active members of this session and are encouraged to send their burning questions for the panelists to Marks via Twitter. Therefore, attendees will hear their questions answered live during the panel, and the session will be interactive, entertaining and informative. Including panelists from Tegile Systems, Pure Storage, Nimble Storage, TinTri, Coho Data, and Data Gravity.
            %a{:href => 'https://vmworld2015.lanyonevents.com/connect/sessionDetail.ww?SESSION_ID=6681', :target => '_blank'}
              view more &gt;&gt;

        .schedule-details-wrapper
          %a{:name => 'lunch-n-learn'}
          .schedule-header
            Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Monday, August 31, 12:00pm - 1:00pm
              Andy Banta - Software Engineer, SolidFire
              %br
              John Pelletier - Product Manager, SolidFire
              %br
              Location: eWOW Suite, W Hotel
              %br
              RSVP:
              = link_to 'Save your spot!', '#inline-lunch-n-learn', :class => 'lunch-n-learn'
            Join us for a catered lunch session to discuss the traditional storage platform limitations that VVols may expose. Learn why VVols is about ease of management and increased scalability and how SolidFire is delivering the storage features you need to get the most from VVols. This session describes how VVols is implemented on a SolidFire cluster, and how the unique ability to virtualize performance and capacity independently delivers more agility for introducing VVols to your environment. Enjoy the lunch and ask your burning VVols questions with answers coming from someone who knows the technical details.
            %a{:href => '#inline-lunch-n-learn', :class => 'lunch-n-learn'}
              Sign up &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'confidential'}
          .schedule-header
            The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Monday, August 31, 3:00pm - 4:00pm
              Dave Wright - CEO and Founder, SolidFire
              %br
              Location: eWOW Suite, W Hotel
              %br
              RSVP:
              = link_to 'Save your spot!', '#inline-confidential', :class => 'confidential'
            If you manage or use VMware, you will want to learn about the importance of building your Software Defined Data Center on something other than your legacy storage platform. Attend this forum hosted by SolidFire CEO Dave Wright to learn why it was critical to develop the SolidFire platform as an alternative to the storage platforms of the past. Youâ€™ll hear insights directly from the SolidFire CEO and get the chance to participate in the dialogue around the current and future state of flash storage, and how VMware environments benefit from modernizing the storage platform. Learn how you can deliver the most agile VMware ecosystem when you build from the foundation of the SolidFire platform.
            %span.bold-light NDA required at entrance.
            Attend this interactive forum hosted by Dave Wright to hear about current and future VMware solutions innovation from SolidFire. You'll hear insight from SolidFire's CEO and get the chance to participate in dialogue about the current and future state of SolidFireâ€™s VMware solutions. In this session, we'll cover our approach to
            %span.bold-light VMware Virtual Volumes,
            our roadmap for
            %span.bold-light VMware Automation,
            and our current
            %span.bold-light Agile Infrastructure options
            plus our upcoming next release with Dell.
            %a{:href => '#inline-confidential', :class => 'confidential'}
              Sign up &gt;&gt;
            .schedule-body--note
              Note: Attendees should please have a base understanding of SolidFireâ€™s storage platform
        .schedule-details-wrapper
          %a{:name => 'lunch-n-learn-vmware'}
          .schedule-header
            Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Tuesday, September 1, 12:00pm - 1:00pm
              Dave Wright - CEO and Founder, SolidFire
              %br
              Dave Cahill - VP of Corporate Development & Strategy, SolidFire
              %br
              Jeramiah Dooley - Principal Architect, SolidFire
              %br
              Location: eWOW Suite, W Hotel
              %br
              RSVP:
              = link_to 'Save your spot!', '#inline-lunch-n-learn-vmware', :class => 'lunch-n-learn-vmware'
            Join this catered lunch roundtable and get into a technology and market dialogue with Dave Wright and Dave Cahill. This session will cover the current and future state of technology and market conditions for virtualization, automation, and cloud. Weâ€™ll cover a range of topics such as: the Software Defined Data Center, the state of OpenStack and where VMware could play, and Dave Wrightâ€™s â€œConsumption Continuumâ€.  Curious about the technology opportunities coming with containers and the future of automation? This event will be moderated by Jeramiah Dooley and will give you an opportunity to join the conversation to ask your own questions of the SolidFire executives.
            %a{:href => '#inline-lunch-n-learn-vmware', :class => 'lunch-n-learn-vmware'}
              Sign up &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'government'}
          .schedule-header
            Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Tuesday, September 1, 10:30am - 11:30am
              Mat Gruen - Director of Worldwide Systems Engineering, SolidFire
              %br
              Keith Norbie - Sr. Business Development Manager, SolidFire
              %br
              Doug Chamberlain - Product Marketing Manager, SolidFire
              %br
              Aaron Patten - Cloud Architect, SolidFire
              %br
              Location: eWOW Suite, W Hotel
              %br
              RSVP:
              = link_to 'Save your spot!', '#inline-government', :class => 'government'
            Join this session to get an introduction to Gartnerâ€™s Highest Rated All Flash Storage Platform, learn how ESG identified 93% administrative savings for storage, and how your government programs will benefit from the agility you gain with SolidFire.  Step above the technology platform battle to understand why breaking free of the traditional storage platform can help you achieve greater agility to deliver program results. This session will include some technical content, but will focus primarily on aligning with program initiatives and opportunities for partners.
            %a{:href => '#inline-government', :class => 'government'}
              Sign up &gt;&gt;
        .schedule-details-wrapper
          %a{:name => 'breakfast-channel'}
          .schedule-header
            Breakfast of Channel Champions: Cloud Builders for Virtualization
          .schedule-body
            .schedule-speaker-titles
              .date-time
                Tuesday, September 1, 7:00am - 8:30am
              Gene Kussmann - Senior Sales Engineer, SolidFire
              %br
              Mark Conley - Director, America Channel Sales, SolidFire
              %br
              Keith Norbie - Sr. Business Development Manager, SolidFire
              %br
              Location: eWOW Suite, W Hotel
              %br
              RSVP:
              = link_to 'Save your spot!', '#inline-breakfast-channel', :class => 'breakfast-channel'
            Join us on Tuesday morning for a special channel partner breakfast to get an overview of our latest updates around SolidFire solutions for virtualization and related channel programs. Attend and youâ€™ll learn how SolidFireâ€™s translates to VMware opportunity and how to get the new virtualization specialization training. Specific topics will include:
            %ul.breakfast
              %li VMware SolidFire solutions update - Today vs Tomorrow (SIOC+QoS, VVols etc.)
              %li Agile Infrastructure
              %li Virtualization Specialization certification
              %li Cloud Builder Program Updates
            %a{:href => '#inline-breakfast-channel', :class => 'breakfast-channel'}
              Sign up &gt;&gt;

        .thirsty-bear.mobile-right
          = image_tag 'landing_pages/hoppiness-white.png', :class => 'thirsty-bear-logo'
          %p.time
            Monday Aug 31
            %br
            6:00-9:00pm
            %br
            ThirstyBear Brewery
          %p Youâ€™re invited. Space is limited. Join your peers and vExperts for beer, food, and festivities on SolidFire.
          %a{:href => 'http://tweetvite.com/event/Hoppiness', :class => 'button-blue', :target => '_blank'} RSVP for the party
        .vmware-expert.mobile-right
          = image_tag 'landing_pages/vexpert-badge.png', :class => 'booth-logo-img'
          %p Show us your vExpert badge to get your VIP party pass, and we'll invite you at an exclusive lunch.
          %a{:href => vmworld_vip_path, :class => 'button-blue'} See the benefits
        .mobile-social
          %p #FuledbySF
          %a{:href => 'https://twitter.com/solidfire', :target => '_blank'}
            = image_tag 'landing_pages/twitter.png', :class => 'twitter'
          %a{:href => 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'}
            = image_tag 'landing_pages/linked-in.png', :class => 'linkedin'
          %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank'}
            = image_tag 'landing_pages/facebook.png', :class => 'facebook'
          %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'}
            = image_tag 'landing_pages/youtube.png', :class => 'youtube'
        .fine-print
          %p
            * SolidFire received the highest overall score for:
            %br
            1) Vendors' Product Scores for the Overall Use Case
            %br
            2) Vendors' Product Scores for the Online Transaction Processing Use Case
            %br
            3) Vendors' Product Scores for the Server Virtualization Use Case
            %br
            4) Vendors' Product Scores for the High-Performance Computing Use Case
            %br
            5) Vendors' Product Scores for the Analytics Use Case
          %p
            This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. The Gartner document is available upon request from SolidFire.
          %p
            Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.
      .right
        .thirsty-bear
          = image_tag 'landing_pages/hoppiness-white.png', :class => 'thirsty-bear-logo'
          %p.time
            Monday Aug 31
            %br
            6:00-9:00pm
            %br
            ThirstyBear Brewery
          %p Youâ€™re invited. Space is limited. Join your peers and vExperts for beer, food, and festivities on SolidFire.
          %a{:href => 'http://tweetvite.com/event/Hoppiness', :class => 'button-blue', :target => '_blank'} RSVP for the party
        .vmware-expert
          = image_tag 'landing_pages/vexpert-badge.png', :class => 'booth-logo-img'
          %p Show us your vExpert badge to get your VIP party pass, and we'll invite you to an exclusive lunch.
          %a{:href => vmworld_vip_path, :class => 'button-blue'} GET VIP ACCESS
    #inline-dinner
      %h3 vExpert VIP Dinner
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2526'}
      :javascript
        MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2526);
    #inline
      %h3 vExpert Lunch Roundtable
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2505'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2505);
    #inline-lunch-n-learn
      %h3 Lunch-n-Learn: VVols Deep Dive: Introducing Agility and Automation to VM Storage
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2751'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2751);
    #inline-confidential
      %h3 The Disruptive Trend from Disk to Flash: Dave Wright on the Next-Gen Data Center
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2755'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2755);
    #inline-lunch-n-learn-vmware
      %h3 Lunch-n-Learn: Peering into the Crystal Ball: Exploring the Future of Virtualization and Automation
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2756'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2756);
    #inline-government
      %h3 Control Gov/Public Sector Costs by Addressing VMware Storage Needs with SolidFire
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2757'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2757);
    #inline-breakfast-channel
      %h3 Breakfast of Channel Champions: Cloud Builders for Virtualization
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_2791'}
      :javascript
          MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2791);
= render 'shared/no_navigation_footer'



