.custom-landing
  .custom-landing__container.full-row
    - if @lp.mkto_form_id? || @lp.asset_link?
      .col6.leftContainer
        - if @lp.landing_title?
          %h1
            = @lp.landing_title.try(:html_safe)
        - else
          %h1
            = @lp.title.try(:html_safe)
        - if @lp.sub_title?
          %h2
            = @lp.sub_title.try(:html_safe)
        - if @lp.custom_image_id?
          = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @lp.custom_image_id + '-' + @lp.custom_image
        .description
          %p
            = @lp.description.try(:html_safe)
      .col5.rightContainer
      - if @lp.mkto_form_id?
        .formContainer
          - if @lp.form_description
            .form-description
              = @lp.form_description.try(:html_safe)
          .form-message
            %p
              - if @lp.form_message?
                = @lp.form_message
              - else
                Complete the form below:
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_' + @lp.mkto_form_id}
          :javascript
            if('#{@lp.thank_you_url}'){
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", "#{@lp.mkto_form_id}", function(form){
                //Add an onSuccess handler
                form.onSuccess(function(values, followUpUrl){
                //Take the lead to a different page on successful submit, ignoring the form's configured followUpUrl.
                location.href = '#{@lp.thank_you_url}';
                //return false to prevent the submission handler continuing with its own processing
                return false;
                });
              });
            } else {
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", "#{@lp.mkto_form_id}");
             }
          :javascript
            MktoForms2.whenReady(function (form) {
              $('input[name=Marketing_Channel_First__c]').val('#{@get_mcf}');
              $('input[name=Marketing_Channel_Detail_First__c]').val('#{@get_mcdf}');
              $('input[name=Marketing_Channel_Last__c]').val('#{@get_mcl}');
              $('input[name=Marketing_Channel_Detail_Last__c]').val('#{@get_mcdl}');
            });
          = link_to 'Privacy policy', 'http://www.solidfire.com/legal/privacy', :class => 'privacy-policy-link', :target => '_blank'
      - if !@lp.mkto_form_id?
        .buttonContainer
          %p
            Download asset now!
          %a.download-link{:href => @lp.asset_link }Download
    - if @lp.utube_id?
      .col12.videoContainer
        - if @lp.landing_title?
          %h1
            = @lp.landing_title.try(:html_safe)
        - else
          %h1
            = @lp.title
        - if @lp.sub_title?
          %h2.sub-title-centered
            = @lp.sub_title.try(:html_safe)
        %iframe{:id => 'youtubeFrame', :src => 'https://www.youtube.com/embed/' + @lp.utube_id, :frameborder => '0', :allowFullScreen => true}
        .description
          %p
            = @lp.description.try(:html_safe)
    - if @lp.vidyard_id?
      .col12.videoContainer
        - if @lp.landing_title?
          %h1
            = @lp.landing_title.try(:html_safe)
        - else
          %h1
            = @lp.title
        - if @lp.sub_title?
          %h2.sub-title-centered
            = @lp.sub_title.try(:html_safe)
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_' + @lp.vidyard_id, :src => '//play.vidyard.com/' + @lp.vidyard_id + '.js?v=3.1.1&type=inline'}
        .description
          %p
            = @lp.description.try(:html_safe)
    - if !@lp.utube_id? && !@lp.mkto_form_id? && !@lp.asset_link? && !@lp.vidyard_id?
      .col12.videoContainer
        - if @lp.landing_title?
          %h1
            = @lp.landing_title.try(:html_safe)
        - else
          %h1
            = @lp.title
        - if @lp.sub_title?
          %h2.sub-title-centered
            = @lp.sub_title.try(:html_safe)
        - if @lp.custom_image_id?
          = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @lp.custom_image_id + '-' + @lp.custom_image
        .description
          %p
            = @lp.description.try(:html_safe)
    .related-resources
      %p You may also be interested in these free resources:
      %hr
      .resources
        .resource.first
          %a{:href => 'http://www.solidfire.com/esg', :class => 'first-btn'}
            = image_tag 'landing_pages/lab_paper.jpg', :align => 'middle', :class => 'resource-img'
            .resource-footer
              = image_tag 'landing_pages/download_icon.png', :align => 'middle', :class => 'download_icon'
              %p Get the ESG Report
        .resource.second
          %a{:href => 'http://www.solidfire.com/lp/netapp-for-ent-landing-page', :class => 'second-btn'}
            = image_tag 'landing_pages/comparison_paper.jpg', :align => 'middle', :class => 'resource-img'
            .resource-footer
              = image_tag 'landing_pages/download_icon.png', :align => 'middle', :class => 'download_icon'
              %p Read the Comparison Paper
        .resource.third
          %a{:href => 'http://www.solidfire.com/greatfeats/qos', :class => 'third-btn'}
            = image_tag 'landing_pages/storage_performance.jpg', :align => 'middle', :class => 'resource-img'
            .resource-footer
              = image_tag 'landing_pages/download_icon.png', :align => 'middle', :class => 'download_icon'
              %p Guarantee Storage Performance