.search
  .search__container
    %h1 Search
    .total-results
      %h4
        Your search for
        %span
          #{@get_search_term}
        returned
        %span
          #{@total_results}
        results.
    .search-results
    %input{:type => 'hidden', :class => 'input-next', :value => '9' }
    %input{:type => 'hidden', :class => 'input-prev' }
    %input{:type => 'hidden', :class => 'query', :value => @get_search_query_full }
    %input{:type => 'hidden', :class => 'total-results-index', :value => @total_results }
      .default-search








