- @get_search.each do |item|
  .search-item
    = link_to item[:title], item[:link]
    %br
    = item[:snippet]
    %br
.page-result{:data => {:results => @total_results}}
  .prev
  %ul.pagination#page-navigation
    - @num_results.each do |num|
      %li
        %a{:href => 'javascript://', :data => {:page => num, :query => @get_search_term}, :class => 'search-page-ajax page-', :id => num }
          = num
  .next










