@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.automated-management-nav a.automated-management-link, .hidden-nav a.automated-management-link{
  color: $red-01;
}

#request-form {
  display: none;
}

.hidden-nav {
  z-index: 100 !important;
}

.mktoModalContent {
  padding: 30px !important;
}

label.mktoLabel {
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

#automated-management {
  p {
    font-size: 18px;
    line-height: 30px;
  }

  .table {
    width: 950px;
    height: 572px;
  }

  .table {
    .design, .installation, .operating, .scaling, .upgrade{
      width: 190px;
      height: 572px;
      float: left;

      ul{
        @include font-size(14px);
        list-style-type: none;
        padding: 0 10px;
        line-height: 18px;

        li{
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: 500;
        }
      }

      .header{
        width: 100%;
        background-color: #A9A9A9;

        p{
          margin-top: 0;
          padding: 10px;
          padding-top: 8px;
          padding-bottom: 8px;
          @include font-size(18px);
          margin-bottom: 0;
        }
      }
      .body{
        padding-right: 20px;
        height: 527px;
      }

      .body {
        border: 1px $grey-02 solid;
      }

      .body.no-left-border {
        border-left: none;
      }
    }

    .front {
      .header {
        p {
          color: white;
        }
      }

      .header.border-right {
        border-right: 1px solid lightgrey;
      }

      .upgrade .body {
        background-image: image-url('platform/automated_management/flip-icon.png');
        background-repeat: no-repeat;
        background-position: right bottom;
      }
    }

    .back {
      background-color: $red-01;

      .header {
        background-color: $grey-02;
      }

      .header.border-right {
        border-right: 1px solid $grey-03;
      }

      p {
        color: white;

      }

      ul {
        li {
          color: white;
          font-weight: 500;
        }
      }
    }

    .bottom-border {
      position:relative;
      bottom: 100px;
    }
  }


  .angle-section-0 {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-bottom: -300px;

    .container {
      @include container(960px);
    }

    .section-top-left {
      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);

      @include transform(skewY(-2deg));
    }

    .section-under-left {
      height: 300px !important;
      margin-bottom: 1200px;
      top: -25px;
    }

    .skew-fix-left {
      @include transform(skewY(2deg));

      padding: 0;
    }
  }
  .automated-management-container, .native-performance-container {
    @include container(960px);
  }

  .skew-fix {
    @include transform(skewY(-3deg));
  }

  .automated-management-section-one {
    width: 100%;
    position: relative;
    float: left;
    padding: 100px 20px 90px 20px;
    background-color: #fafafa;
    margin-top: -100px;

    @include transform(skewY(3deg));

    h1 {
      margin-top: 0;
      line-height: 1.2em;
      font-weight: 400;
      color: $grey-04;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    .span9{
      margin-right: 0;
    }
  }

  .automated-management-section-two {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 20px;
    margin-top: 120px;

    h2 {
      margin-top: 0px;
    }

    .automated-management-container {
      .links {
        max-width: 460px;
        border-top: 1px solid $red-01;
        margin-top: 30px;

        p {
          font-size: 14px;
          text-transform: uppercase;
          color: $red-01;
          font-weight: 400;

          span {
            font-size: 26px;
            position: relative;
            top: 1px;
          }
        }

        p:hover {
          color: $red-04;

        }
      }
    }

    .native-performance-container {
      margin-top: 120px;
      .text {
        h3 {
          margin-top: 0;
        }
      }
    }
  }
  .automated-management-section-three {
    width: 100%;
    position: relative;
    float: left;
    padding: 60px 20px;
    margin-top: 50px;

    h3 {
      font-size: 24px;
    }

    h3 {
      margin-top: 15px;
    }

    h3.caps{
      color: $red-01;
      margin-bottom: 0;
    }

    .automation-graphic{
      margin-top: 100px;
    }

    .banner {
      img {
        padding-top: 100px;
        margin: 0;
        width: 950px;
      }
    }
  }

  /* media queries */

  @media(min-width: $tablet) {
    .page-top-margin {
      margin-top: 220px;
    }

    .automated-management-container {
      .image {
        @include span(6 of 12 last);
      }

      .text {
        @include span(6 of 12 narrow);
      }
    }

    .native-performance-container {
      margin-top: 120px;
      .text {
        @include span(6 of 12 last);
      }

      .image {
        @include span(6 of 12);
      }
    }
  }

  @media (max-width: $tablet - 1) {
    .automated-management-section-one {
      .span3 , .span9{
        width: 100%;
      }

      h1, h3 {
        text-align: center;
      }

      .play-video {
        margin: auto;
      }
    }

    .automated-management-container, .native-performance-container {
      .image, .text {
        @include span(12 of 12);

        img {
          padding-top: 30px;
          float: left;
        }
      }
    }

    .angle-section-0 {
      display: none;
    }
  }

  @media (max-width: $phone){
    .page-top-margin {
      margin-top: 300px;
    }
  }
}