@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.automated-management-nav a.data-assurance-link, .hidden-nav a.data-assurance-link {
  color: $red-01;
}

.hidden-nav {
  z-index: 100 !important;
}

#data-assurance {
  .data-assurance-section-two {
    .graph {
      @include span(12 of 12);
      position: relative;

      img {
        padding: 0;
      }
    }

    .yellow-graph-topper, .red-graph-topper {
      position: absolute;
      opacity: 0;
      bottom: 27px;
    }

    #node-one {
      left: 1000px;
      position: relative;
    }

    #node-two {
      position: relative;
      left: 1000px;
      bottom: 55px;
    }

    #node-three{
      position: relative;
      bottom: 110px;
    }

    #node-four {
      position: relative;
      bottom: 165px;
    }

    #node-five {
      position: relative;
      bottom: 220px;
    }

    .nodes {
      height: 0;
    }

    #grey-bar-dots {
      height: 0;

      p {
        text-align: center;
        font-weight: 500;
        color: white;
      }
    }

    #grey-bar-animation {
      padding-top: 10px;
    }

    .grey-bar {
      width: 310px;
      height: 40px;
      background-color: lightgrey;
      margin: 10px 0;
      border-radius: 5px;
    }

    .a p, .b p, .c p, .d p {
      position: relative;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      opacity: 0;
    }

    .a p {
      background-color: $red-01;
    }

    .b p {
      background-color: $yellow-04;
    }

    .c p {
      background-color: $aqua-01;
    }

    .d p {
      background-color: $blue-04;
    }

    .a p:first-of-type {
      top: -255px;
      left: 20px;
    }

    .a p:last-of-type {
      top: -251px;
      right: -260px;
    }

    .b p:first-of-type {
      top: -350px;
      left: 140px;
    }

    .b p:last-of-type {
      top: -250px;
      left: 140px;
    }

    .c p:first-of-type {
      top: -295px;
      left: 260px;
    }

    .c p:last-of-type {
      top: -294px;
      left: 20px;
    }

    .d p:first-of-type {
      top: -341px;
      left: 200px;
    }

    .d p:last-of-type {
      top: -490px;
      left: 75px;
    }
  }

  .data-protection-img {
    margin-top: 40px;
  }

  ul {
    line-height: 32px;
  }

  ul {
    margin-top: 30px;
    font-size: 12px;
    span {
      font-size: 18px;
      position: relative;
      top: 2px;
    }
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 , h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .angle-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }

    .section-top-left {
      @include transform(skewY(-2deg));

      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);
    }

    .skew-fix-left {
      @include transform(skewY(2deg));
      padding: 0;
    }
  }
}

.container {
  @include container;
  width: 100%;
}

.data-assurance-container {
  background-color:transparent;
  @include container(960px);
}

.data-assurance-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 100px 20px 60px;
  margin-top: -100px;
  background-color: #fafafa;

  h1 {
    margin-top: 0;
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  .span9{
    margin-right: 0;
  }
}

.data-assurance-section-two{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 70px;
  margin-bottom: 70px;

  .span6{
    img{
      padding: 0 40px;
      margin-top: 35px;
    }
  }

  .span6.padding-right {
    padding-right: 30px;
  }
}

.data-assurance-three{
  .data-assurance-container {
    padding: 0 20px;
  }

  .video{
    margin-top: 60px;
  }

  .object-storage{
    margin-bottom: 80px;
  }
}

.marginTop{
  margin-top: 100px;
}

.right {
  margin-right: 0;
}

.data-assurance-four{
  .vlan-tagging-img{
    margin-top: 40px;
  }
}

/* media queries */
@media (min-width: $tablet) {
  .data-assurance-section-one img {
    margin-top: 10px;
  }

  .span6graphs {
    @include span(6 of 12);
  }

  .span6graphs-right {
    @include span(6 of 12 last);
  }

  .yellow-graph-topper {
    right: 34px;
  }
  .red-graph-topper {
    right: 35px;
  }

  .span6right {
    @include span(6 of 12 last);
  }

  .page-top-margin {
    margin-top: 220px;
  }

  .angle-section {
    margin-bottom: 800px;
  }

  ul {
    padding-left: 30px;
  }
}

@media (max-width: $tablet - 1) {
  .page-top-margin {
    margin-top: 120px;
  }

  .data-assurance-section-one {
    h1, h3 {
      text-align: center;
    }
  }

  .data-assurance-section-two {
    img {
      float: left;
    }
  }

  .angle-section {
    margin-top: 300px;
    margin-bottom: 1000px;
    img {
      float: none;
    }
  }

  .graphs {
    margin-bottom: 0;
  }

  #node-one, #node-two, #node-three, #node-four, #node-five {
    padding-left: 0;
  }

  .span3, .span4, .span6, .span6right, .span8, .span9 {
    width: 100%;
    clear: both;
  }

  .yellow-graph-topper, .red-graph-topper{
    left: 81px;
  }

  #grey-bar-animation {
    text-align: center;
  }
}

@media (max-width: $phone){
  ul {
    padding-left: 15px;
  }

  .data-assurance-section-one {
    padding-bottom: 300px;
  }

  .animations {
    display: none;
  }
  .page-top-margin {
    margin-top: 300px;
  }

  .angle-section {
    margin-bottom: 1400px;
  }

  .span4 {
    img {
      float: none;
      padding-bottom: 0;
    }
  }
  .span8 {
    p {
      padding-top: 0;
    }
  }

  .data-assurance-container {
    margin-bottom: -200px;
  }
}