@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

a#platform{
  color: $red-01 !important;
}

a.element-software-mobile-header{
  color: $red-01 !important;
}

a.element-software-header {
  color: $red-01 !important;
}

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}


.content-module-thirds {
  width: 100%;
  height: 350px;
}

.flip-icon {
  position: absolute;
  bottom: -21px;
  left: 221px;
}

.back:hover {
  hr {
    color: white;
    background-color: white;
  }
}

.element-os-container {
  background-color:transparent;
  padding: 0 20px;
  @include container(960px);

  p {
    font-size: 18px;
    line-height: 26px;
  }

  h5.lighter {
    font-weight: 100;
    line-height: 30px;
  }
}

.element-os-section-one {
  @include transform(skewY(3deg));
  padding-bottom: 100px;

  background-color: #fafafa;

  .front {
    border: 1px solid $grey-03;
    border-radius: 5px;
    padding: 20px 20px 100px;

  }

  h5 {
    font-size: 18px;
  }

   p {
     font-size: 15px;
   }

  .span12 {
    padding-bottom: 50px;
  }
}

.skew-fix {
  @include transform(skewY(-3deg));
}

.section-bottom {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 200px;
  margin-top: 100px;
  .container {
    @include container(960px);
  }

  .mktoForm button.mktoButton {
    background-color: $red-01;
  }

  .mktoForm button.mktoButton:hover {
    background-color: $red-04;
  }

  .section-top-left {
    background: #FFFFFF;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);

    @include transform(skewY(-2deg));
  }

  .section-under-left {
    top: -25px;
  }

  .skew-fix-left {
    @include transform(skewY(2deg));
  }
}

.element-os-section-four {
  padding-bottom: 60px;
}

.element-os-section-one {
  padding-top: 50px;
}

.element-os-section-one, .element-os-section-four {
  width: 100%;
  position: relative;
  float: left;

  i.icon-ElementOS {
    font-size: 130px;
    color: $red-01;
  }

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  .content-module-thirds .icon-with-bg {
    background-color: $red-01;
    border: solid 4px $grey-01;
  }

  .content-module-thirds .icon-icon_ScaleOut {
    @include font-size(50px);
    padding-left: 24px;
    padding-top: 17px;
    width: 93px;
    height: 93px;
  }

  .content-module-thirds .icon-icon_GuaranteedPerformance {
    @include font-size(65px);
    padding-left: 8px;
    padding-top: 8px;
    width: 93px;
    height: 93px;
  }

  .content-module-thirds .icon-icon_Automation {
    @include font-size(65px);
    padding-left: 18px;
    padding-top: 7px;
    width: 93px;
    height: 93px;
  }

  .content-module-thirds .icon-icon_DataAssurance {
    @include font-size(60px);
    padding-left: 25px;
    padding-top: 14px;
    width: 93px;
    height: 93px;
  }

  .content-module-thirds .icon-icon_GlobalEfficiencies {
    @include font-size(55px);
    padding-left: 20px;
    padding-top: 14px;
    width: 93px;
    height: 93px;
  }

  #scaleout, #guaranteed-performance, #automated-management{
    min-height: 300px;
    .front {
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    .back {
      min-height: 290px;
    }
  }

  #data-assurance, #global-efficiencies{
    .front {
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    min-height: 310px;
    .back {
      min-height: 320px;
    }
  }

  .back{
    background-color: $aqua-01;
    min-width: 288px;
    border-radius: 5px;
    padding: 20px;

    p{
      color: $white;
      @include font-size(18px);
      font-weight: 400;
      margin:10px 0 0;
    }

    p.underline {
      border-bottom: 2px solid $white-01;
      padding-bottom: 5px;
    }

    ul{
      color: $white;
      @include font-size(14px);
      font-weight: 400;
      padding-left: 15px;
    }
  }

  .content-module-thirds:hover a {
    color: inherit;
  }

  .content-module-thirds .button-white-outline{
    padding: 4px 10px;
    float: right;
    margin-top: 0px;
    @include font-size(14px);
  }

  .content-module-thirds .button-white-outline:hover {
    background-color: #fff;
    color: $aqua-01;
  }
}

.element-os-section-three {
  background-color: $alt-grey-02;
}

.element-os-section-two, .element-os-section-three {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 50px;

  h3 {
    margin-top: 65px;
  }

  .element-os-container {
    padding: 0;
  }
}

.element-os-section-two{
  margin-top: 100px;
  .video-thumbnail{
    width: 165px;
    height: 154px;
    padding-top: 15px;
    float: left;
    margin-right: 16px;

    .icon-icon_playVideo2{
      @include font-size(40px);
      color: $blue-01;
      padding-left: 60px;
    }

    p{
      font-weight: 400;
      text-align: center;
      padding-top: 70px;
      line-height: 19px;
      font-size: 16px;
      color: $red-01;
    }
  }

  .scale-out{
    background: image-url("platform/scale_video.png") no-repeat #f5f5f5;
  }

  .guaranteed-performance{
    background: image-url("platform/guaranteed_performance_video.png") no-repeat #f5f5f5;
  }

  .automated-management{
    background: image-url("platform/automated_management_video.png") no-repeat #f5f5f5;
  }

  .data-assurance{
    background: image-url("platform/data_assurance_video.png") no-repeat #f5f5f5;
  }

  .global-efficiencies{
    background: image-url("platform/global_efficiencies_video.png") no-repeat #f5f5f5;
  }
}

.element-os-section-three {
  .scale-out-agility, .guaranteed-performance, .automated-management, .inline-global-efficiencies{
    width: 25%;
    float: left;
    min-width: 240px;

    .header{
      width: 100%;
      height: 50px;
      background-color: $red-01;
      padding-left: 20px;
      border-right: 1px #fff solid;

      p{
        margin-top: 0;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        @include font-size(18px);
      }
    }
    .body{
      padding-right: 20px;
      border: 1px $grey-03 solid;
      border-right: none;
      height: 331px;
    }
  }

  .inline-global-efficiencies{
    .header{
      border: none;
    }

    .body{
      padding-right: 20px;
      border-right: 1px $grey-03 solid;
    }
  }

  .data-assurance {
    .header {
      width: 100%;
      height: 50px;
      background-color: $red-01;
      padding-left: 20px;

      p {
        margin-top: 0;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        @include font-size(18px);
      }
    }

    .span12{
      border: 1px $grey-03 solid;
    }

    .body{
      padding-right: 20px;
      padding-left: 20px;
      width: 25%;
      float: left;

      ul{
        padding-left: 20px;
      }

      p{
        font-weight: 400;
      }
    }
  }
}

.element-os-section-four{
  .element-os-container {
    padding: 0;
  }

  margin-top: 100px;

  h2{
    padding-top: 64px;
  }

  h3{
    margin-top: 0;
  }

  .right{
    margin-right: 0;

    form{
      margin: auto;
    }

    .form{
      max-width: 340px;
      background-color: #f5f5f5;
      border: 1px $grey-01 solid;
      border-radius: 5px;
      float: right;

      h3{
        text-align: center;
      }
    }
  }
}

/* media queries */
@media(min-width:$tablet) {
  .page-top-margin {
    margin-top: 80px;
  }

  .mktoForm button.mktoButton {
    max-width: 300px;
  }

  .element-os-section-one {
    margin-top: -100px;
    padding-top: 100px;
    i.icon-ElementOS {
      position: relative;
      left: 40px;
      top: 40px;
    }
  }

  .element-os-section-four .right{
    .form{
      padding: 30px 40px 40px;
    }
  }
}

@media (max-width: $tablet - 1) {
  .span4, .span4last {
    @include span(12 of 12);
  }

  .element-os-section-four .right{
    .form{
      padding: 30px 40px 40px;
    }
  }

  .mktoForm button.mktoButton {
    max-width: 300px;
  }
  .automated-management-nav.section {
    margin-top: -105px;
  }

  .page-top-margin {
    margin-top: 150px;
  }

  .element-os-section-one {
    padding-top: 150px;
    margin-top: -150px;

    h1 {
      text-align: center;
    }

    i.icon-ElementOS {
      float: none;
      margin: auto;
      text-align: center;
      display: block;
      margin-bottom: 30px;
      margin-top: -30px;
    }
  }

  .span3, .span9right {
    width: 100%;
  }

  .element-os-content-module {
    width: 100%;
    text-align: center;

    h5 {
      text-align: center;
    }
  }

  h2 {
    text-align: center;
  }

  .video-thumbnail{
    margin-bottom: 15px;
  }

  .element-os-section-three {
    .scale-out-agility, .guaranteed-performance, .automated-management, .inline-global-efficiencies {
      width: 50%;
    }

    .guaranteed-performance{
      .body{
        border: 1px $grey-03 solid;
      }
    }

    .data-assurance {
      .body{
        width: 33%;
      }
    }
  }

  .element-os-section-four {
    .span6{
      width: 100%
    }

    .right {
      .form {
        float: none;
        margin: auto;
      }
    }
  }

  .section-bottom {
    margin-bottom: 500px;

    h2 {
      padding-top: 0;
    }
    .span6 {
      padding-bottom: 40px;
    }
  }
}

@media (max-width: $phone){
  .element-os-section-one {
    padding-top: 200px;
    margin-top: -200px;
  }

  .element-os-section-two{
    margin-bottom: -100px;
    a{
      display: block;
      margin: auto;
      width: 175px;
    }
  }

  .mktoForm button.mktoButton {
    max-width: 200px;
  }

  .element-os-section-three{
    .scale-out-agility, .guaranteed-performance, .automated-management, .inline-global-efficiencies {
      width: 100%;

      .body {
        border: 1px $grey-03 solid;
        min-height: 0;
        height: inherit;
      }
    }

    .data-assurance{
      .body{
        width: 100%;
      }
    }
  }

  .element-os-section-four{
    .right{
      .form{
        border-radius: 5px;
        padding: 30px 10px 40px;
      }
    }
  }

  .section-bottom {
    margin-bottom: 450px;
  }

  .content-module-thirds {
    width: 100%;
  }
}