@import "variables";

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.sub-nav-with-demo-button a.resources-link {
  color: $red-01;
}

i.icon-icon_playVideo2, i.icon-whitepapericon {
  color: $red-01;
}

i.icon-whitepapericon {
  float: left;
  margin-right: 10px;
}

#resources-toolbox {
  .top-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }

    h3 {
      font-size: 24px;
      text-align: left;
    }

    ul {
      list-style: none;
      padding-left: 0;

      i {
        position: relative;
        top: 8px;
        padding-right: 8px;
        padding-bottom: 15px;
        font-size: 1.2em;
      }

      li {
        line-height: 32px;
        padding-bottom: 8px;
      }

      a {
        font-size: 18px;
      }
    }
  }

  .fit-container-relative {
    margin-bottom: 100px;
  }

  .angle-section-0 {
    .section-top-left {
      background: #FFFFFF;
      background-image: linear-gradient(-154deg, rgba(255,255,255,0.05) 5%, rgba(250,250,250,0.05) 22%, rgba(0,0,0,0.05) 100%);
      @include transform(skewY(-4deg));
    }

    .section-under-left {
      @include transform(skewY(4deg));
    }

    .skew-fix-left {
      @include transform(skewY(4deg));
      padding: 0 20px;
    }
  }

  .resource-section {
    @include span(12 of 12 last);
  }
}

@media(min-width: $tablet) {
  .top-section {
    top: -50px;
  }

  .page-top-margin {
    margin-top: 100px;
  }
}

@media(max-width: $tablet - 1) {
  .angle-section-0{
    margin-top: -200px;
  }

  h1 {
    padding-top: 200px;
  }
}

@media(max-width: 770px) {
  .top-section {
    top: -100px;
  }
}

@media(max-width: 488px) {
  .top-section {
    margin-top: 200px;
  }
}
