@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.automated-management-nav a.global-efficiencies-link, .hidden-nav a.global-efficiencies-link {
  color: $red-01;
}

.hidden-nav {
  z-index: 100 !important;
}

#demo-form {
  display: none;
}

#global-efficiencies {
  p {
    font-size: 18px;
    line-height: 30px;
  }
  
  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .skew-fix-left {
    padding: 0;
  }

  p {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  .content {
    @include span(12 of 12);
  }

  .container {
    @include container;
    width: 100%;
  }

  .global-efficiencies-container {
    background-color:transparent;
    @include container(960px);
  }

  .global-efficiencies-content-module {
    width: 30%;
    float: left;
    margin-right: 5%;

    p a {
      text-transform: capitalize;
      font-weight: 400;
    }

    p a:hover {
      color: $aqua-01;
    }
  }

  .global-efficiencies-section-one{
    width: 100%;
    position: relative;
    float: left;
    padding: 100px 20px 90px;
    margin-top: -100px;
    background-color: #fafafa;


    h1 {
      margin-top: 0px;
      line-height: 1.2em;
      font-weight: 400;
      color: $grey-04;
    }

    .span9{
      margin-right: 0;

      img {
        margin-left: 0;
        padding-top: 70px;
      }
    }
  }

  .global-efficiencies-section-two {
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;

    h2 {
      font-size: 36px;
    }

    .title{
      color: $white;
      @include font-size(30px);
      font-weight: 300;
      text-align: center;
    }

    .average-efficiencies{
      display: none;
    }

    .table-container{
      position: relative;
    }

    .execute, .fine-grained, .always-on, .increase-performance, .no-performance, .hot-spots, .remains-compressed, .space-used, .automatic-space{
      background-color: $white;
      padding: 10px 0;
      text-align: center;
      width: 90%;
      border: $grey-02 solid 1px;
      position: absolute;
      top: 100px;
      left: 45px;

      p{
        font-weight: 400;
        margin-top: 14px;
        margin-bottom: 14px;
        line-height: 24px;
      }
    }

    .fine-grained{
      top: 190px;
    }

    .always-on{
      top: 280px;
    }

    .increase-performance{
      top: 370px;
      width: 57%;
    }

    .no-performance{
      top: 370px;
      width: 23%;
      left: 689px;
      padding: 13px 5px;

      p{
        margin: 0;
      }
    }

    .hot-spots, .remains-compressed, .space-used{
      top: 460px;
      width: 23%;
      left: 45px;
      padding: 13px 5px;

      p{
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 24px;
      }
    }

    .hot-spots{
      padding: 10px 0;
      p {
        margin: 16px 0;
      }
    }

    .remains-compressed{
      left: 372px;
    }

    .space-used{
      left: 689px;
    }

    .automatic-space{
      top: 550px;
      width: 23%;
      left: 689px;
      padding: 13px 15px;

      p{
        margin: 0;
      }
    }

    .deduplication, .compression, .thin-provisioning{
      background-color: $blue-01;
      height: 870px;
      ul {
        padding: 480px 30px 0 60px;
        color: $white;

        li{
          margin-top: 20px;
          @include font-size(14px);
          line-height: 16px;
          font-weight: 400;
        }
      }
    }

    .thin-provisioning{
      ul{
        padding-top: 600px;
      }
    }

    .compression{
      background-color: $blue-03;
    }

    .thin-provisioning{
      background-color: $blue-04;
    }

    .table-container {
      padding-bottom: 120px;
    }
  }

  .global-efficiencies-section-three{
    padding: 0 20px;
    background: white;
    padding-bottom: 70px;

    p {
      font-size: 18px;
    }

    .span12 {
      margin-top: 100px;
    }

    img.stack {
      margin-top: 50px;
    }

  }

  .marginTop{
    padding-top: 50px;
  }

  .right {
    margin-right: 0;
  }

  .brief-container {
    width: 100%;
    height: 120px;
    background-color: $grey-01;
    text-align: center;
    padding: 0 20px;

    a {
      display: inline-block;
      position: relative;
      top: -5px;
      color: $red-01;
      font-weight: 400;
      font-size: 24px;
    }

    .icon {
      display: inline-block;
      position: relative;
      top: 33px;
      color: $red-01;
      font-size: 3em;
      padding-right: 20px;
    }
  }

  .demo-section {
    width: 100%;
    background-color: $alternate-gray;
    padding-bottom: 70px;

    .demo-container {
      width: 800px;
      margin: 0 auto;
      padding-top: 50px;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
      h2 {
        font-weight: 300;
      }
    }
  }

  .data-efficiency-container {
    max-width: 800px;
    margin: 0 auto;

    h2, h3 {
      text-align: center;
    }

    p {
      padding-bottom: 50px;
    }

    img.chart {
      padding-bottom: 120px;
    }
  }

  .environmental-benefits-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;

    h2, h3, p.center, h5 {
      text-align: center;
    }

    h5 {
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      padding-bottom: 30px;
    }

    a.button-red {
      margin: 0 auto;
      display: block;
      max-width: 300px;
    }

    p {
      padding-bottom: 30px;
    }

    h2 {
      margin-top: 0;
    }

    img.node {
      padding-bottom: 30px;
    }
  }

  /* media queries */
  @media(min-width: $tablet) {
    .bottom-angle-section.one {
      margin-bottom: 3500px;
    }

    .page-top-margin {
      margin-top: 220px;
    }

    .global-efficiencies-section-three {
      .span8right {
        @include span(8 of 12 last);
      }

      .span4right {
        @include span(4 of 12 last);
      }
    }
  }

  .calculator-section {
    padding-bottom: 50px;
  }

  .calculator-container {
    @include container(960px);

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      margin: 30px;
      text-align: center;
    }

    tr#deduplication {
      border-bottom: 1px solid white;
    }

    table {
      background-color: #4a4a4a;
      border-radius: 10px;
      margin: auto;
      width: 900px;
      th {
        color: white;
        font-weight: 100;
      }

      th.side {
        padding-right: 35px;
        padding-left: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: right;
        font-size: 18px;
      }

      th.top {
        padding-right: 100px;
        padding-top: 60px;
        padding-bottom: 20px;
        text-align: left;
        font-size: 22px;
      }

      #number-of-vms {
        th {
          max-width: 150px;
          padding-top: 14px;
          padding-bottom: 14px;
        }

      }

      select, input {
        width: 180px !important;
        margin-left: 0 !important;
        height: 35px;
        font-size: 1.2em !important;
        border-radius: 3px;
        text-indent: 12px;
        border: 1px solid grey;
      }

      #workload-options, #percent-of-system, #number-of-vms, #divergence {
        input {
          background-color: white;
        }

        select {
          background-color: #dbdbdb;
        }

        input.grey {
          background-color: transparent;
          border-color: #979797;
        }
      }

      #deduplication, #compression, #thin-provisioning {
        input {
          color: white;
          background-color: transparent;
          border-color: #979797;
        }
      }

      #workload-efficiency {
        td {
          color: #00afff;
          font-size: 25px;
          font-weight: 500;
          padding-left: 15px;
        }
      }

      #total-efficiency {
        td {
          color: #2cfee1;
          font-size: 25px;
          font-weight: 500;
          padding-left: 15px;
        }
      }
    }

    .refresh {
      background-color: transparent;
      border: 1px solid white;
      color: white;
      width: 178px;
      text-align: center;
      font-size: 1.2em;
      border-radius: 3px;
      font-weight: 100;
      padding-top: 5px;
      padding-bottom: 5px;
      text-decoration: none;
    }

    button.refresh:hover {
      background-color: #555;
      color: $white;
      text-decoration: none;
    }

    button.refresh:focus {
      outline: none;
    }

    td {
      position: relative;
    }

    .tooltip{
      color: lightgrey;
      position: absolute;
      border-radius: 50%;
      top: 27px;
      right: 45px;
      width: 20px;
      height: 20px;
      border: 1px solid lightgrey;
    }
    a.tooltip {
      font-family: "Times New Roman", Georgia, Serif;
      font-size: 1.1em;
      padding-left: 7px;
      padding-top: 1px;
    }

    a:hover {
      text-decoration: none;
      font-weight: 500;
      color: white;
      background-color: #cc1f26;
      border: 1px solid #cc1f26;
    }

    .tooltip-box {
      width: 200px;
      background-color: #797979;
      border: 1px solid lightgrey;
      border-radius: 3px;
      color: white;
      padding: 20px;
      position: absolute;
      z-index: 1;
      bottom: 60px;
      left: 12px;
    }

    .tooltip-box:after,
    .tooltip-box:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #797979;
      bottom: -10px;
      content: '';
      left: 75%;
      margin-left: -10px;
      position: absolute;
    }

    .tooltip-box:before {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid;
      border-top-color: inherit; /* Can't be included in the shorthand to work */
      bottom: -12px;
      margin-left: -12px;
    }

    .hidden {
      visibility: hidden;
    }

    .error {
      border: 2px solid #da4e32;
    }
    .disabled-error {
      border: 2px solid #da4e32;
    }

    .error-message {
      position: relative;
      color: #da4e32;
      top:295px;
      left: 240px;
      font-weight: 100;
      visibility: hidden;
    }
  }

  @media (max-width: $tablet - 1) {
   .page-top-margin {
      margin-top: 120px;
    }

    .global-efficiencies-section-three {
      .span8right, .span4right, .span8, .span4 {
        @include span(12 of 12);
      }

      img {
        margin-top: 30px;
        float: left;
      }
    }

    .global-efficiencies-content-module.top-margin-75 {
      margin-top: 45px;
    }

    .global-efficiencies-section-one {
      .icon-icon_GlobalEfficiencies{
        @include font-size(60px);
        padding-left: 25px;
        padding-top: 17px;
        width: 100px;
        height: 100px;
      }
    }

    .global-efficiencies-section-three {
      .blue-container {
        .span6{
          width: 100%;
          padding-left: 70px;
        }
      }
    }

    .span3, .span9 {
      width: 100%;
    }

    .global-efficiencies-section-one {
      h1, h3 {
        text-align: center;
      }
    }

    .play-video {
      margin: auto;
    }
  }

  @media(max-width: 832px) {
    .bottom-angle-section.one {
      margin-bottom: 1400px;
    }

    .calculator-section {
      display: none;
    }

    .global-efficiencies-section-two{
      .table-container{
        display: none;
      }
    }

    .brief-container {
      margin-top: -20px;
    }
  }

  @media (max-width: $phone) {
    .global-efficiencies-section-two {
      margin-bottom: 50px;
    }

    .button-red {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .bottom-angle-section.one {
      margin-bottom: 1500px;
    }

    .page-top-margin {
      margin-top: 300px;
    }

    .global-efficiencies-section-three {
      .blue-container {
        .span6 {
          padding-left: 20px;
        }
      }
    }

    .span3, .span9 {
      width: 100%;
    }

    .data-efficiency-section {
      img.chart {
        display: none;
      }
    }
  }
}