@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
}

.automated-management-nav a.guaranteed-performance-link, .hidden-nav a.guaranteed-performance-link {
  color: $red-01;
}

.hidden-nav {
  z-index: 100 !important;
}

#guaranteed-performance {
  .skew-fix-left {
    padding: 0;
  }

  .video {
    height: 280px;
    float: left;
  }

  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .angle-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }

    .section-top-left {
      @include transform(skewY(-2deg));
    }

    .skew-fix-left {
      @include transform(skewY(2deg));
    }

    .section-under-left {
      top: -25px;
    }
  }

  .content {
    @include span(12 of 12);
  }

  .three-left {
    @include span(3 of 12);
  }

  .six-left-narrow {
    @include span(6 of 12 narrow);
  }

  .six-right {
    @include span(6 of 12 last);
  }

  .nine-right {
    @include span(9 of 12 last);
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h5 {
    line-height: 26px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .control-performance {
    margin-left: 55px;
    font-size: 16px;
  }

  .guaranteed-performance-section-one {
    width: 100%;
    position: relative;
    float: left;
    padding: 100px 20px 90px;
    background-color: #fafafa;
    margin-top: -100px;

    h1 {
      margin-top: 0;
      line-height: 1.2em;
      font-weight: 400;
    }
  }

  .section-top-left {
    background: #FFFFFF;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);
  }

  .fine-grain {
    margin-top: 65px;
  }

  .links {
    max-width: 220px;
    margin-top: 30px;
    border-top: 1px solid $red-01;

    p {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 0;
      color: $red-01;

      span {
        font-size: 26px;
        position: relative;
        top: 1px;
      }
    }

    p:hover {
      color: $red-04;
    }
  }

  .videos {
    img {
      padding-right: 40px;
    }

    h5.title {
      font-size: 15px;
      margin-top: 0;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      margin-top: 0;
      width: 270px;
    }
  }

  .guaranteed-performance-container {
    background-color:transparent;
    @include container(960px);
  }

  .guaranteed-performance-section-two {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 20px;
    margin-top: 120px;

    margin-bottom: 50px;
    h3.extra-top-margin {
      margin-top: 40px;
    }

    img.performance-sla {
      margin-top: 30px;
    }

    .content.margin-top {
      margin-top: 100px;
    }

    .performance-virtualization{
      margin-bottom: 0;
    }

    .way-better{
      margin-top: 10px;
    }

    .span12 {
      margin-top: 50px;
    }

    .text{
      margin-top: 0;

      p {
        margin-top: 0;
      }
    }

    .right {
      margin-right: 0;
    }

    .control-performance{
      text-align: center;
      border-top: 2px solid $grey-01;
      padding-top: 10px;
    }

    .content.marginTop {
      margin-top: 40px;
    }
  }

  .guaranteed-performance-section-three {
    width: 100%;
    position: relative;
    float: left;
    padding: 50px 20px 0;
    margin-top: 50px;
    margin-bottom: 150px;

    .iops, .video-description{
      @include font-size(15px);
    }

    .video{
      margin-top: 35px;
    }

    .min-max-burst, .qos-video {
      margin-top: 35px;
      padding-right: 30px;
    }

    .span4 {
      padding-right: 20px;
    }

    h5.title {
      font-size: 18px;
      font-weight: 600;
    }

    .video-image {
      margin-top: 60px;
    }

    .video-image-two {
      margin-top: 30px;
    }
  }

  .right {
    margin-right: 0;
  }

  .guaranteed-performance-section-four {
    width: 100%;
    position: relative;
    float: left;
    padding: 50px 20px 0;
    margin-top: 50px;
  }

  .angle-section.two {
    h5 {
      font-size: 22px;
      margin-top: 70px;
    }

    p.title {
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .angle-section.three {
    h5 {
      font-size: 24px;
      margin-top: 65px;
    }

    .resources {
      .description {
        padding-top: 10px;
        min-height: 120px;
      }

      .read-more-container {
        padding-top: 40px;
      }

      .icon-whitepapericon {
        font-size: 50px;
        color: $red-01;
      }
    }

    img.video-image-two {
      margin-top: 35px;
    }

    p.video-description {
      font-size: 15px;
    }
  }


  @media(min-width: $tablet) {
    video {
      width: 300px;
    }

    .guaranteed-performance-section-three {
      h5 {
        margin-top: 75px;
      }
    }

    .angle-section.one {
      margin-bottom: 1850px;
    }

    .angle-section.three {
      margin-bottom: 600px;

      .mixed-workloads {
        padding-right: 30px;
      }

      .resources {
        .read-more-container {
          height: 220px;
        }

        .span4 {
          @include span(4 of 12);
        }

        .span4middle {
          @include span(4 at 5 of 12);
        }

        .span4last {
          @include span(4 of 12 last);
        }
      }
    }

    .video-description {
      clear: both;
      padding-right: 40px;
    }

    .page-top-margin {
      margin-top: 220px;
    }

    .performance{
      margin-top: 130px;
    }

    .guaranteed-performance-section-three {
      .span6.right.image-and-text {
        padding-left: 40px;
      }
    }
  }

  @media (min-width: 975px) {
    .angle-section.two {
      margin-bottom: 800px;
    }
  }

  @media (max-width: 974px) {
   .angle-section.two {
      margin-bottom: 1200px;
    }
  }

  @media (max-width: 679px) {
    .angle-section.two {
      margin-bottom: 2200px;
    }
  }

  @media(max-width: $tablet - 1) {
    .angle-section.one {
      margin-bottom: 1800px;
    }

    .angle-section.three {
      margin-bottom: 1200px;

      .resources {
        .read-more-container {
          height: auto;
        }

        .span4, .span4middle, .span4last {
          @include span(12 of 12);
        }
      }

      p.video-description {
        text-align: left;
      }
    }

    .guaranteed-performance-section-three {
      h5 {
        margin-top: 50px;
      }

      .span6.right.image-and-text {
        padding-left: 0;
      }

      img {
        float: none;
        margin: auto;
      }
    }

    .performance {
      margin-top: 75px;
    }

    p.margin-bottom {
      margin-bottom: 50px;
    }

    .video-description {
      clear: both;
      padding-right: 0;
    }

    .span6, .span6right, .span5, .span7 {
      width: 100%;
    }

    .video-description {
      float: none;
      text-align: center;
    }

    .span12 {
      clear: both;
    }

    .six-left-narrow, .six-right  {
      @include span(12 of 12);
    }

    .guaranteed-performance-section-one {
      .span3, .span9 {
        width: 100%;
      }

      h1, h3 {
        text-align: center;
      }

      .play-video {
        margin: auto;
      }
    }

    .guaranteed-performance-section-two {
      h2, h3 {
        text-align: left;
      }

      img {
        float: none;
        text-align: center;
        margin-top: 30px
      }
    }

    .control-performance {
      margin-left: 0;
      text-align: left;
    }

    .guaranteed-performance-section-four {
      .span4.read-more {
        clear: both;
        margin-bottom: 30px;
      }
    }

    .videos {
      .span4 {
        clear:both;
        width: 100%;
        margin-bottom: 20px;
      }

      h5 {
        margin-top: 0;
      }
    }

    .span12.performance.noise {
      display: none;
    }
  }

  @media (max-width: 552px) {
    .angle-section.one {
      margin-bottom: 2100px;
    }
  }

  @media (max-width: 481px) {
    .angle-section.one {
      margin-bottom: 2400px;
    }
  }

  @media (max-width: $phone) {
    .angle-section.three {
      .mixed-workloads {
        padding-right: 0;
      }
    }

    video {
      width: 100%;
    }

    .performance{
      margin-top: 100px;
    }

    h1 {
      text-align: center;
    }

    .three-left, .nine-right,  {
      @include span(12 of 12);
    }

    .page-top-margin {
      margin-top: 300px;
    }

    .span12.performance.noise {
      display: none;
    }

    .control-performance {
      text-align: left;
    }

    .span3, .span4, .span5, .span7, .span9{
      width: 100%;
    }

    .videos{
      .span4{
        margin-top: 15px;

        a{
          display: block;
        }

        div{
          margin: auto;
          float: none;
        }
      }
    }
  }
}

