@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);

@include border-box-sizing;

a#platform{
  color: $red-01 !important;
}

a.nodes-mobile-header{
  color: $red-01 !important;
}

a.nodes-header {
  color: $red-01 !important;
}

.sub-nav a.hardware-link {
  color: $red-01;
}

.sub-nav.section {
  background-color: transparent;
  position: absolute;
}

.sub-nav.section.hidden {
  background-color: #fbfbfb;
  display: none;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;
}

#nodes {
  .skew-fix-left {
    padding: 0;
  }

  .bottom-angle-section.one {
    .section-top-left {
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 20%);
    }
  }

  #demo-form {
    display: none;
  }

  .angle-section-0, .bottom-section {
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
  }

  .angled-container {
    @include container(960px);
    padding: 75px 20px 75px 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .top-section {
    width: 100%;
    position: relative;
    float: left;
    top: -100px;
    .container {
      @include container(960px);
    }

    .section-top-right {
      /* Rectangle 31: */
      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
      @include transform( skewY(4deg));
      padding-top: 50px;
      top: -90px;
    }

    .skew-fix-right {
      @include transform(skewY(-4deg));
      padding: 0 20px;
    }

    .section-under-right.blue-under.top {
      top: -70px;
    }

    .page-top-margin.container {
      padding-bottom: 60px;

      h1{
        margin-bottom: 0px;
        margin-top: 60px;
      }

      h2 {
        margin-top: 0;
        padding-top: 10px;
      }

      ul {
        list-style: none;
        margin-top: 0px;

        li {
          font-size: 18px;
        }
      }

      a.crumb {
        color: grey;
        font-size: 14px;
      }

      a:hover {
        color: $red-01;
      }

      span.bullet {
        padding-right: 15px;
      }

      .button-red {
        width: 220px;
        height: 40px;
        font-size: 16px;
        padding-top: 6px;
        margin-left: 0;
      }

      .button-red:hover {
        color:white;
      }

      .hardware-pic {
        position: absolute;
        top: 320px;
        left: 290px;
        img {
          margin: 0;
          display: inline;
        }
      }
    }
  }

  .section.next-generation {
    padding: 0 20px;
    margin-top: 20px;
    top: -130px;

    p {
      font-size: 18px;
    }

    p.smaller {
      font-size: 14px;
    }
  }

  .section.choose-your-nodes {
    padding-top: 0px;
    margin-top: -50px;
    margin-bottom: 75px;

    h4 {
      font-size: 18px;
    }
  }

  .section.hide-tablet-portrait {
    padding-bottom: 75px;
    margin-top: -10px;
    h2 {
      font-size: 30px;
      margin-bottom: 0;
    }

    em {
      font-size: 20px;
      font-weight: 500;
    }

    p.help {
      padding-top: 20px;
    }
  }

  .bottom-section {
    text-align: center;

    h2 {
      font-size: 30px;
      margin: 0px 0px 50px 0px;
      font-weight: 300;
    }

    .text {
      margin: auto;
    }

    .image {
      width: 800px;
      max-width: 100%;
      max-height: 100%;
      height: 300px;
      overflow: hidden;
      margin: 30px auto 0 auto;
      opacity: 1;

      img {
        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }

  a#demo {
    margin: 20px 0px 50px 0px;
  }

  a.get-started { margin-top: 20px; }

  .hero-left {
    float: left !important;
    width: span(5);
  }

  .hero-right {
    float: left;
    width: span(7);
  }

  .container-50 {
    float: left;
    width: span(6);
  }

  .video-image {
    width: 800px;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 30px auto 0 auto;

    img {
      max-width: 100%;
    }

    i {
      color: white;
      font-size: 75px;
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      width: 75px;
      height: 75px;
    }
  }

  .layered {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    max-width: 100%;

    img { margin: 0px; }

    .slideUp.animate {
      height: 100%;
    }

    .slideUp {
      .slideUpContent {
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .padded-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .container-50 {
      padding: 0px 20px;

      h2 {
        margin: 0px;
      }
    }
  }

  .scale-to-slide {
    img {
      width: 966px;
      margin: 10px 0;
    }
  }

  h3.slide {
    color: #555555;
    font-size: 28px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 0;
    margin: 0;
    text-rendering: optimizelegibility;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .slide-to-scale {
    position: relative;
    margin-bottom: 38px;

    .table-wrap {
      display: inline-block;
      margin-top: 35px;
      position: absolute;
      background: white;
      border: none;
      padding: 10px;
      border-radius: 0;
      box-shadow: 0 0 20px #888888;
    }

    h3 {
      text-align: center;
      margin-bottom: 20px;
      float: right;
      width: 600px;
      clear: both;
      font-size: 22px;
      color: #555555;
      line-height: 1em;
      font-weight: 400;
      margin: 0;
    }

    em {
      font-weight: 300;
      font-size: 18px;
      display: inline-block;
      padding-bottom: 10px;
      font-style: italic;
    }

    .scale-out-slider {
      border-top: 1px dashed black;
      width: 488px;
      float: right;
      right: 0;
      margin-bottom: 44px;
      padding: 0 157px 0 0;
      box-sizing: content-box;
    }

    .scale-out-slider-well {
      margin-left: 0%;
      width: 100%;

      .ui-slider-handle {
        margin-left: -14px !important;
      }

      .anchor {
        position: absolute;
        width: 46px;
        height: 46px;
        margin-left: 70px;
        margin-top: -23px;
        background: #9b1d20;
        border-radius: 50%;

        .line {
          position: absolute;
          left: 21px;
          top: 10px;
          height: 26px;
          width: 3px;
          background: white;
          border-radius: 15px;
        }

        .line:before {
          left: -7px;
          position: absolute;
          content: "";
          height: 26px;
          width: 3px;
          background: white;
          border-radius: 15px;
        }

        .line:after {
          left: 7px;
          position: absolute;
          content: "";
          height: 26px;
          width: 3px;
          background: white;
          border-radius: 15px;
        }
      }
    }

    .ui-slider {
      position: relative;
    }

    .ui-slider-handle {
      display: inline-block;
      position: absolute;
    }


    table.full {
      clear: both;
      width: 960px;

      td {
        border-right: 10px solid white;
      }
    }

    p.caption.small {
      margin-top: 80px;
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
    }

    table {
      color: white;
      border: none;
      margin-bottom: 0;
      background: none;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      display: table;
      max-width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      td {
        border: none;
        width: 150px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        padding: 0;
        display: table-cell;
        vertical-align: inherit;
      }

      .rowName {
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        line-height: 1.1;
      }

      tr.sf3 {
        background: #cbcccb;
      }

      tr.sf9.third, tr.sf6.third, tr.sf3.third.sp, tr.sf3.third {
        height: 39px;
      }

      tr.sf6 {
        background: #ba252b;
        .bg {
          background: #9e9f9e;
        }
      }

      tr.sf9 {
        height: 62px;
        background: #882327;
      }

      tr.sf9 {
        td.bg {

         background: #777776;
        }
      }

      tr.sp {
        border-top: white 13px solid;
      }

      tbody .rowName.smallName {
        border-right-width: 2px;
      }

      tbody .rowName {
        background: #ce2026;
      }

      thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
          color: #515151;
          background: white;
          height: 45px;
        }
      }
    }
  }

  .slide-to-scale {
    position: relative;
    margin-bottom: 38px;

    .table-wrap {
      display: inline-block;
      margin-top: 35px;
      position: absolute;
      left: 5px;
      background: white;
      border: none;
      padding: 10px;
      border-radius: 0;
      box-shadow: 0 0 20px #888888;

      &:focus, &:active { outline: 0; }

      table {
        color: white;
        border: none;
        width: 148px;

        thead tr {
          background: white;
          color: $red-04;
        }

        thead td {
          font-weight: 300;
          padding-bottom: 5px;
          padding-top: 5px;
        }

        tr.sf6.third.sp {
          height: 39px;
        }

        tr.sf3 { background: #cbcccb; }
        tr.sf6 { background: #ba252b; }
        tr.sf9 { background: #882327; }

        td.r4{ height: 57px; }
        td.r9{ height: 60px; }
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 20px;
      float: right;
      width: 600px;
      clear: both;
      font-size: 22px;
    }
  }

  .node {
    float: left;
    padding: 5px 0px;

    p {
      margin-top: 0;
      font-size: 15px;
    }

    ul {
      font-size: 10px;
      background-color: #F5F5F5;
      padding-left: 30px;
    }

    li span {
      font-size: 15px;
    }

    .header {
      height: 60px;
      color: white;
      text-align: center;
      padding-top: 16px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      h4 {
        margin: 0px;
        color: white;
      }
    }

    .new-banner {
      position: relative;

      p {
        position: absolute;
        left: 170px;
        top: 10px;
        z-index: 1;
        @include transform(rotate(45deg));
        color: white;
      }

      img {
        position: absolute;
        left: 142px;
        top: -10px;
      }
    }

    .header.blue-one, .blurb.blue-one {
      background-color: $blue-01;
    }

    .header.blue-two, .blurb.blue-two {
      background-color: $blue-02;
    }

    .header.blue-three, .blurb.blue-three {
      background-color: $blue-03;
    }

    .header.blue-four, .blurb.blue-four {
      background-color: $blue-04;
    }

    .product {
      text-align: center;
      height: 100px;

      h4 { margin: 15px; }
    }

    .blurb {
      background-color: $red-01;
      color: white;
      padding: 10px 20px;
    }

    .stats {
      background-color: $alt-grey-01;
      height: 170px;
      margin-top: -15px;
      padding-top: 1px;

      ul { font-weight: 400; }
    }
  }

  .bottom-angle-section.one {
    .section.hide-tablet-portrait {
      padding-top: 100px;
    }
  }

  .bottom-angle-section.two {
    .bottom-section {
      padding-top: 50px;
    }
  }

  @media (min-width: $tablet) {
    ul {
      padding-left: 15px;
    }

    h2 {
      font-size: 30px;
    }

    .bottom-angle-section.one {
      margin-bottom: 700px;
    }

    .section.next-generation {
      img.chart {
        margin-top: 40px;
      }
    }
  }

  @media (max-width: $tablet - 1) {
    .span6, .span6right {
      width: 100%;
    }

    img.chart {
      float: left;
    }
    ul {
      padding-left: 15px;
    }

    .hero-left {
      width: span(12);
    }

    .hero-right {
      width: span(12);
    }

    .container-50 {
      width: span(12);
    }

    .span3 {
      @include span(6 of 12);
    }

    .span3last {
      @include span(6 of 12 last);
    }

    .top-section {
      top: -130px;
      .hardware-pic {
        display: none;
      }
    }

    .section.next-generation {
      top: -150px;
    }

    .section.choose-your-nodes {
      margin-top: -140px;
    }

    .bottom-angle-section.one {
      display: none;
    }

    .section.next-generation {
      img.chart {
        margin-top: 10px;
        margin-bottom: 100px;
      }
    }
  }

  @media(max-width: 959px) {
    .bottom-angle-section.one {
      display: none;
    }
  }

  @media(max-width: 973px) {
    .new-banner {
      display: none;
    }
  }

  @media(max-width: 768px) {
    .top-section {
      margin: 0;
    }
  }

  @media(max-width: 600px) {
    .bottom-section {
      .section-top-right {
        height:420px;
        h2 {
          font-size: 22px;
        }
      }
    }
  }

  @media(max-width: 580px) {
    .top-section {
      top: -40px;
    }
  }

  @media(max-width: 465px) {
    .section.next-generation {
      img {
        display: none;
      }
    }

    .node {
      width: span(12);
    }
  }

  @media(max-width: $phone) {
    ul {
      padding-left: 0;
    }

    .bottom-angle-section.two{
      margin-bottom: 250px;
    }
  }
}