@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

a#platform{
  color: $red-01 !important;
}

a.platform-mobile-header{
  color: $red-01 !important;
}

.container {
  @include container;
  width: 100%;
}

.sub-nav.fixed {
  a.nodes-link, a.elements-overview-link, a.support-link {
    color: $grey-02;
  }
}

.sub-nav.platform.fixed a.platform-link {
  color: $grey-01;
}

.sub-nav.scroll-down a.platform-link {
  color: $red-01;
}

.sub-nav.platform.section {
  background-color: transparent;
  position: absolute;
}

.sub-nav.platform.section.hidden {
  background-color: #fbfbfb;
  display: none;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;
}

#platform-overview {
  .link {
    border-top: 1px solid $red-01;
    max-width: 300px;
    a {
      color: $red-01;
    }
  }

  ul {
    list-style: none;
    margin-top: 0px;

    li {
      font-size: 18px;
    }
  }

  span.bullet {
    padding-right: 15px;
  }

  .platform-overview-container {
    background-color:transparent;
    @include container(960px);
  }

  .top-section {
    width: 100%;
    position: relative;
    float: left;

    .container {
      @include container(960px);
    }

    h1 {
      line-height: 55px;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 40px;
    }

    h3 {
      font-size: 24px;
      color: white;
      font-weight: 300;
    }

    p {
      font-size: 18px;
      line-height: 29px;
    }

    img {
      position: absolute;
      bottom: -420px;
      right: 60px;
    }
  }

  .element-os-software {
    .container {
      padding-top: 75px;
      border-top: 2px solid lightgrey;
    }
  }

  .active-support {
    .container {
      padding-bottom: 150px;
      border-bottom: 2px solid lightgrey;
    }
  }

  .element-os-software, .active-support {
    .image {
      @include span(6 of 12);
      margin-top: 30px;
      padding-right: 40px;
    }

    .text {
      @include span(6 of 12 last);
    }
  }

  .sf-series-hardware {
    .image {
      @include span(6 of 12 last);
      margin-top: 30px;
      padding-left: 40px;
    }

    .text {
      @include span(6 of 12);
    }
  }

  .element-os-software, .sf-series-hardware, .active-support {
    @include span(12 of 12);
    padding-top: 75px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }

    li {
      line-height: 30px;
    }

    a {
      font-weight: 400;
    }

    span.right-carrot {
      padding-top: 10px;
      font-size: 2em;
      position: relative;
      font-weight: 100;
      top: 2px;
    }
  }

  .platform-overview-section-one {
    width: 100%;
    position: relative;
    float: left;
    margin-top: -150px;
    margin-bottom: 100px;
    padding-bottom: 175px;
    padding-right: 20px;
    padding-left: 20px;

    h1 {
      line-height: 1.2em;
      font-weight: 300;
      color: white;
    }

    p {
      color: $grey-01;
      line-height: 30px;
    }
  }

  .platform-overview-section-one-image{
    padding-top: 200px;
  }

  /* media queries */
  @media(min-width: $tablet) {
    .top-section {
      margin-top: 30px;

      background: image-url('platform/overview/PlatformHero2.jpg') 50% -20% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
      max-height: 800px;
      margin-bottom: -50px;

      h1 {
        margin-top: 20px;
      }
    }

    .page-top-margin {
      margin-top: 80px;
    }

    ul {
      padding-left: 10px;
    }
  }

  @media (max-width: $tablet - 1) {
    .top-section {
      margin-top: -20px;

      background: image-url('platform/overview/PlatformHero2.jpg') 43% -20% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
      max-height: 800px;
      margin-bottom: 0px;

      h1 {
        margin-top: 160px;
      }

      .span4 {
        @include span(7 of 12);
      }
      .span10 {
        width: 100%;
      }
    }

    ul {
      padding-left: 0;
    }

    .platform-overview-section-one, .element-os-software, .sf-series-hardware  {
      padding-bottom: 100px;
    }

    .element-os-software, .active-support, .sf-series-hardware {
      margin-top: -75px;
      .container {
        border-top: 0px solid lightgrey;
        padding-top: 0;
      }

      .image {
        @include span(12 of 12);
        margin-top: 0;
        padding: 0;
      }

      .text {
        @include span(12 of 12);
      }
    }

    h2 {
      text-align: center;
    }

    .active-support {
      .container {
        padding-bottom: 150px;
        border-bottom: none;
      }
    }
  }
  @media(max-width: 480px) {
    .top-section {
      margin-top: 0px;
      background: #545454;
      margin-bottom: 50px;

      h1 {
        margin-top: 230px;
      }

      .span4 {
        width: 100%;
      }
      .span10 {
        width: 100%;
      }
    }
  }
}

