@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);

@include border-box-sizing;

.sub-nav-with-demo-button a.product-specifications-link {
  color: $red-01;
}

.hidden-nav {
  z-index: 100 !important;
}

#demo-form {
  display: none;
}

#product_spec {
  .skew-fix-left {
    padding: 0;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .angle-section-0, .angle-section-1, .angle-section-2 {
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
  }

  .top-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }

    .section-top-right {
      @include transform(skewY(2deg));
      padding-top: 150px;
      margin-top: -25px;
      top: -90px;
      /* Rectangle 31: */
      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
    }

    .skew-fix-right {
      @include transform(skewY(-2deg));
      padding: 0 20px;
    }
  }

  .angle-section-2 {
    .datasheets-container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .angle-section-1{
    .section-top-right {
      background: #E3E3E3;
      background-image: linear-gradient(12deg, rgba(255,255,255,0.00) 0%, #FFFFFF 88%);;
    }
  }

  .section.videos {
    margin-top: -100px;

    img {
      width: 80%;
    }

    .span12 {
      margin-top: 50px;
    }

    p {
      text-align: center;
      color: $red-01;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .page-top-margin.container {
    padding-bottom: 60px;

    h1{
      margin-bottom: 0px;
    }

    h3 {
      font-size: 24px;
      max-width: 700px;
    }

    a:hover {
      color: $red-01;
    }
  }

  .angle-section-2 {
    top: -175px;

    a {
      font-weight: 300;
      line-height: 1.7em;
    }
  }

  .feature-set {
    top: -260px;
    margin-bottom: -300px;

    .container {
      padding-bottom: 100px;
    }
  }

  .angled-container {
    padding: 55px 20px 0px 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .section.system-specifications {
    top: -100px;
  }

  .node360content {
    width: 800px;
    max-width: 100%;
    height: 246px;
    overflow: hidden;
    margin: 30px auto 0 auto;
    opacity: 1;

    img { max-width: 100%; }
  }

  #node360 {
    display: inline-block;
  }

  .section.about {
    top: 70px;
    h2 {
      margin-bottom: 0;
    }

    img {
      padding-bottom: 75px;
    }
  }

  .bottom-angle-section {
    .section-top-left {
      @include transform(skewY(-2deg));

      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 30%);
    }
  }

  .sub-text {
    font-size: 12px;
    line-height: 17px;
    color: $grey-02;
  }

  .datasheets-container {
    padding: 50px 0px;

    ul {
      list-style-type: none;
      margin-top: 10px;

      i { margin-right: 5px; }
    }

    a {
      color: white;
    }
  }
}

@media (min-width: $tablet) {
  .angle-section-0 {
    h1 {
      margin-top: 60px;
    }
  }

  .bottom-angle-section {
    margin-bottom: 1600px;
  }

  .page-top-margin {
    margin-top: 50px;
  }
  .datasheets-container {
    margin-left: 100px;
    a {
      font-size: 18px;
    }

  }
}

@media (max-width: $tablet - 1) {
  .angle-section-0 {
    margin-top: -100px;
    h1 {
      padding-top: 150px;
    }
  }

  .bottom-angle-section {
    margin-bottom: 1400px;
  }

  .page-top-margin {
    margin-top: 50px;
  }

  .angle-section-2 {
    margin-bottom: -250px;
  }
}

@media (max-width: $phone - 1) {
  .angle-section-0 {
    margin-top: -100px;

    h1 {
      padding-top: 230px;
    }
  }
  .span6, .span6last {
    @include span(12 of 12);
  }
  .slider-box {
    width: 260px !important;

    .slider { width: 220px !important; }
  }

  .angle-section-1 {
    .section.system-specifications {
      @include span(12 of 12);
      height: 250px;

      p {
        padding-right: 0px;
      }
    }

    .section.system-specifications {
      @include span(12 of 12);
      height: 250px;
    }
  }

  .datasheets-container {
    margin-left: 0;
    ul {
      padding-left: 0;
      padding-bottom: 50px;
    }

    a {
      font-size: 15px;
    }
  }
}
