@import "variables";

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.sub-nav-with-demo-button a.resources-link {
  color: $red-01;
}

i.icon-icon_playVideo22, i.icon-whitepapericon {
  color: $red-01;
}

#demo-form {
  display: none;
}

#resources-toolbox {
  .top-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }
  }

  .resources-section {
    padding: 0;
    margin: 0;
  }

  .fit-container-relative {
    margin-bottom: 100px;
  }

  .angle-section-0 {
    .section-top-left {
      margin-top: -70px;
      padding-top: 200px;
      background: #FFFFFF;
      background-image: linear-gradient(-154deg, rgba(255,255,255,0.05) 5%, rgba(250,250,250,0.05) 22%, rgba(0,0,0,0.05) 100%);
      @include transform(skewY(-4deg));
    }

    .section-under-left {
      @include transform(skewY(4deg));
    }

    .skew-fix-left {
      @include transform(skewY(4deg));
      padding: 0 20px;
    }
  }
}

@media(min-width: $tablet) {
  .top-section {
    top: -50px;
  }

  .page-top-margin {
    margin-top: 100px;
  }

  h3 {
    text-align: center;
  }

  .videos {
    @include span(6 of 12);
  }

  .collateral {
    @include span(6 of 12 last);
  }
}

@media(max-width: 978px) {
  h3 {
    text-align: left;
  }

  .videos {
    @include span(12 of 12);
    margin-bottom: 50px;
  }

  .collateral {
    @include span(12 of 12 last);
  }
}

@media(max-width: 770px) {
  .top-section {
    top: -100px;
  }
}

@media(max-width: 488px) {
  .top-section {
    margin-top: 200px;
  }
}

@media(max-width: $phone) {
  .top-section {
    margin-top: 100px;
  }
}