@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.automated-management-nav a.scale-out-link, .hidden-nav a.scale-out-link {
  color: $red-01;
}

.hidden-nav {
  z-index: 100 !important;
}

#scale-out {
  p.quote-text {
    font-size: 16px;
  }

  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .angle-section {
    width: 100%;
    position: relative;
    float: left;
    .container {
      @include container(960px);
    }

    .section-top-left {
      @include transform(skewY(-2deg));

      background: #FFFFFF;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);
    }

    .skew-fix-left {
      @include transform(skewY(2deg));
      padding: 0;
    }

    .section-under-left {
      top: -25px;
    }
  }

  .quote {
    border-top: 2px solid $grey-01;
  }

  .content {
    @include span(12 of 12);
  }
}

.container {
  @include container;
  width: 100%;
}

.scale-out-container {
  background-color:transparent;
  @include container(960px);
}

.scale-out-content-module {
  width: 30%;
  float: left;
  margin-right: 5%;

  p a {
    text-transform: capitalize;
    font-weight: 400;
  }

  p a:hover {
    color: $aqua-01;
  }
}


.scale-out-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 100px 20px 90px;
  background-color: #fafafa;
  margin-top: -100px;

  h1 {
    margin-top: 0px;
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .span9{
    margin-right: 0;
  }
}

.scale-out-section-six {
  .animation-two {
    position: relative;
    height: 500px;

    .help-text {
      position: absolute;
      top: 140px;
      width: 230px;
      left: 750px;
      font-size: 14px;
      line-height: 18px;
    }

    .pools {
      position: absolute;
      left: 160px;
    }

    .cluster {
      position: absolute;
      left: 430px;
      top: 150px;
    }

    .second-node-one {
      position: absolute;
      top: 19px;
      left: -1000px;
    }

    .second-node-two {
      position: absolute;
      top: 52px;
      left: -1000px;
    }

    .second-node-three {
      position: absolute;
      top: 85px;
      left: -1000px;
    }

    .second-node-four {
      position: absolute;
      top: 118px;
      left:-1000px;
    }

    p.second-plus {
      position: absolute;
      top: 150px;
      left: 770px;
      z-index: 1;
      font-size: 4em;
      width: 50px;
      background-color: $aqua-01;
      padding: 10px;
      border-radius: 50%;
      color: white;
      transition: background-color 0.5s ease;
    }

    p.second-minus {
      position: absolute;
      top: 150px;
      left: 830px;
      z-index: 1;
      font-size: 4em;
      width: 50px;
      background-color: $red-01;
      padding: 5px 25px 15px 15px;
      border-radius: 50%;
      color: white;
      text-align: center;
      transition: background-color 0.5s ease;
    }

    .ellipse-two {
      position: absolute;
      top: -50px;
      left: 540px;
      opacity: 0;
    }

    .plus-and-minus-back {
      background-color: $grey-01;
      height: 60px;
      width: 130px;
      left: 760px;
      top: 205px;
      position: absolute;
      border-radius: 30px;
    }

    .second-plus:hover, .second-minus:hover {
      cursor: pointer; cursor: hand;
    }

    .second-plus:hover {
      background-color: $aqua-04;
    }

    .second-minus:hover {
      background-color: $red-04;
    }

    .tiles {
      opacity: 1;
      transition: opacity 0.5s linear;
    }

    .tiles-two, .tiles-three, .tiles-four, .tiles-five,  {
      opacity: 0;
      transition: opacity 0.5s linear;
    }

    .tiles, .tiles-two, .tiles-three, .tiles-four, .tiles-five {
      position:absolute;
      left: 447px;
      bottom: 203px;
      z-index: 100;


      .tile.yellow {
        background-color: #ffac00;
      }

      .tile.green {
        background-color: #00baa5;
      }

      .tile.red {
        background-color: #ff0000;
      }

      .tile.blue {
        background-color: #00afff;
      }

      .tile {
        width: 13px;
        height: 22px;
        margin-right: 5px;
        z-index: 100;
        display:inline-block;
      }
      .row{
        z-index: 100;
        width: 230px;
        height: 30px;
        margin-bottom: 3px;
      }
    }
  }
}

.scale-out-section-two {
  .span6.right.animation-container {
    height: 400px;
  }

  .animation {
    position: relative;
    top: 410px;

    .help-text {
      position: absolute;
      top: -400px;
      width: 230px;
      left: 300px;
      font-size: 14px;
    }

    .ellipse {
      position: absolute;
      top: -350px;
      left: 111px;
      opacity: 0;
    }

    .plus {
      position: absolute;
      top: -405px;
      left: 350px;
      z-index: 1;
      font-size: 4em;
      width: 50px;
      background-color: $aqua-01;
      padding: 10px;
      border-radius: 50%;
      color: white;
      transition: background-color 0.5s ease;
    }

    .plus:hover, .minus:hover {
      cursor: pointer; cursor: hand;
    }

    .plus:hover {
      background-color: $aqua-04;
    }

    .minus:hover {
      background-color: $red-04;
    }

    .minus {
      position: absolute;
      top: -405px;
      left: 410px;
      z-index: 1;
      font-size: 4em;
      width: 50px;
      background-color: $red-01;
      padding: 5px 25px 15px 15px;
      border-radius: 50%;
      color: white;
      text-align: center;
      transition: background-color 0.5s ease;
    }

    .plus-and-minus-back {
      background-color: $grey-01;
      height: 60px;
      width: 130px;
      left: 340px;
      top: -350px;
      position: absolute;
      border-radius: 30px;
    }

    .node-four {
      position: absolute;
      bottom: 231px;
      left: -2000px;
    }

    .node-three {
      position: absolute;
      bottom: 198px;
      left: -2000px;
    }

    .node-two {
      position: absolute;
      bottom: 165px;
      left: -2000px;
    }

    .node-one {
      position: absolute;
      bottom: 132px;
      left: -2000px;
    }

    .node-cluster {
      position: absolute;
      bottom: 0;
    }

    .blue-box {
      height: 66px;
      width: 60px;
      position: absolute;
      left: 420px;
      bottom: 50px;
      background-color: $cta-blue;
      display: inline-block;
    }

    .yellow-box {
      height: 100px;
      width: 60px;
      position: absolute;
      left: 340px;
      bottom: 50px;
      color: $yellow-04;
    }

    .curtain{
      position:absolute;
      bottom:0px;
      width:60px;
      height: 66px;
    }

    .yellow-curtain {
      @extend .curtain;
      height: 100px;
      background: $yellow-04;
    }

    .blue-curtain {
      @extend .curtain;
      background: $cta-blue;
    }

    p.box-text {
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      line-height: 16px;
      position:absolute;
      bottom:-60px;
    }

    p.box-text.blue {
      left: -7px;
    }
  }


}

.scale-out-section-two, .scale-out-section-four, .scale-out-section-six, .scale-out-section-seven, .scale-out-section-eight{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 50px;

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  ul {
    margin-top: 0px;
  }

  span.bullet {
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .flash-forward-logo {
    margin-top: 25px;
  }

  .mix-nodes-img {
    margin-top: 35px;
    padding-left: 0;
  }

  .span12 {
    margin-bottom: 40px;
  }

  .marginTop{
    margin-top: 50px;
  }

  hr {
    margin-bottom: 60px;
  }

  p.play-video-link {
    text-align: center;
    color: $red-01;
    padding-top: 30px;
  }

  p.list-item {
    margin: 0;
  }
}

.scale-out-section-three{
  padding: 0 20px;
  .scale-out-container {
    border-top: 1px solid lightgrey;
  }

  img{
    padding: 50px 20px 40px;
  }

  p{
    padding-top: 50px;
  }

  .skew-fix-left {
    margin-top: 50px;
  }

  .links {
    max-width: 300px;
    border-top: 1px solid $red-01;
    margin-top: 20px;
    padding-top: 15px;

    a {
      color: $red-01;
      text-transform: uppercase;
      padding-top: 10px;

      span {
        position: relative;
        top: 1px;
        font-size: 20px;
      }
    }

    a:hover {
      color: $red-04;
    }
  }
}

.scale-out-section-seven {
  margin-top: -100px;
}

.scale-out-section-five {
  width: 100%;
  position: relative;
  float: left;
  padding: 70px 20px 60px;
  background-color: #fafafa;

  .scale-out-container {
    margin-top: 50px;
  }

  p{
    text-align: center;
  }

  .play-video-link{
    p {
      padding-top: 2px;
    }
    color: $red-01;
    font-weight: 400;
  }
}

.scale-out-section-seven {
  margin-bottom: 50px;
  img.granular {
    padding-top: 30px;
  }
}

.right {
  margin-right: 0;
}

/* media queries */
@media (min-width: $tablet) {
  .scale-out-section-six {
    img.auto-rebalance {
      padding-top: 75px;
    }
  }

  .page-top-margin {
    margin-top: 220px;
  }

  .angle-section {
    margin-bottom: 700px;
  }

  .span6{
    img{
      padding: 0 40px;
    }
  }

  .span6right {
    @include span(6 of 12 last)
  }

  .performance-capacity-img {
    margin-top: 85px;
  }
}

@media (max-width: $tablet - 1) {
  .page-top-margin {
    margin-top: 120px;
  }

  .animation-two {
    display: none;
  }

  .scale-out-section-seven {
    margin-top: 50px;
  }
  .scale-out-section-one {
    h1, h3 {
      text-align: center;
    }

    img {
      margin-top: 10px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }

    .play-video {
      margin: auto;
    }

    .span3, .span9 {
      width: 100%;
    }
  }

  .scale-out-section-two {
    .span6, .span6right {
      width: 100%;
      img {
        float: none;
      }
    }
  }

  .angle-section {
    margin-bottom: 1200px;
  }

  .flash-forward-logo, .performance-capacity-img, .mix-nodes-img {
    margin-left: 0px;
    padding-left: 0px;
    float: none;
    margin: auto;
    margin-top: 30px;
  }

  .span6, .span6right {
    width: 100%;
  }

  img {
    float: none;
  }

  .scale-out-section-six {
    img.auto-rebalance {
      padding-top: 30px;
    }
  }

}

@media (max-width: $phone) {
  ul {
    padding-left: 15px;
  }

  .go-to-resource {
    width: 100%;
  }

  h2 {
    margin-top: 0px;
  }

  .span12.marginTop {
    margin-top: 0px;
  }

  .span6.right.animation-container {
    display: none;
  }

  .page-top-margin {
    margin-top: 300px;
  }

  .angle-section {
    margin-bottom: 1400px;
  }

  .scale-out-section-one {
    .span9 {
      margin-top: 30px;
    }
  }

  .span3, .span4, .span8, .span9 {
    width: 100%;
  }

  .scale-out-section-three {
    .span3 {
      img {
        float: none;
        padding-bottom: 0;
      }
    }

    .quote-text {
      padding: 0 30px;
    }
  }

  .scale-out-section-four {
    img {
      float: left;
    }
  }

  .span4 {
    img {
      float: none;
      padding-bottom: 0;
    }
  }

  .span8 {
    p {
      padding-top: 0;
    }
  }

  .scale-out-section-four, .scale-out-section-six, .scale-out-section-seven {
    margin-top: 0px;
  }

  .angle-section {
    margin-bottom: 1250px;
  }
}