@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);

@include border-box-sizing;

a#platform{
  color: $red-01 !important;
}

a.support-item-mobile-header{
  color: $red-01 !important;
}

a.support-item-header {
  color: $red-01 !important;
}

#hidden-form{
  display:none;
}

.support-sub-nav.hidden-nav {
  a {
    font-size: 15px;
  }
}

#request-form{
  form {
    text-align: center;
    padding-bottom: 20px;

    p {
      text-align:center;
    }
  }

  p {
    font-family: "Source Sans Pro";
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 100;
    padding-top: 10px;
    text-align: center;
  }

  input[type=text], input[type=email], input[type=tel], textarea {
    font: normal normal 400 15px/22px "Source Sans Pro", sans-serif !important;
    border-radius: 5px;
    padding: 10px;
    color: #5a5a5a;
    border: 1px solid #ccc;
    padding: 0 20px !important;
    width: 100% !important;
    height: 30px;
    text-align: left;
    margin-bottom: 10px;
  }

  .button-blue {
    background-color: #0CA2B3;
    color: $white;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: right;
    border: none;
    margin-top: -50px;
    transition: background-color 0.5s ease;
  }

  .button-blue:hover {
    background-color: #248397;
    color: $white;
  }
}

#support {
  p {
    font-size: 18px;
    line-height: 30px;
  }
  .border-bottom {
    hr {
      margin-top: 100px;
    }
  }
  .support-link {
    color: $red-01;
  }

  .active-iq-img {
    margin-top: 50px;
    margin-left: 70px;
  }

  .angle-section-0 {
    .section-top-left {
      background-color: #FAFAFA;
    }

    .skew-fix-left {
      padding: 0;
    }
  }

  .section.skew-right {
    padding-top: 200px;
    margin-top: -300px;
  }

  .section.grey {
    background-color: $alt-grey-04;
    padding-bottom: 100px;
  }

  a.active { color: $red-01; }

  .section.hero {
    .top {
      h1 {
        margin-top: 0px;
      }

      h4 {
        font-size: 24px;
      }

      .text {
        display: inline-block;
        width: 60%;
      }

      img {
        display: inline-block;
        padding-right: 50px;
        vertical-align: top;
      }

      .netapp-sf-support {
        display: inline-block;
        margin-bottom: 15px;
      }
    }

    .icons {
      margin-top: 80px;
      padding-bottom: 50px;

      h4 { margin-bottom: 0px; }
      p { margin-top: 7px; }

      .icon {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
      }

      .round-icon {
        width: 75px;
        height: 75px;
        border-radius: 50px;
        color: $red-01;
        text-align: center;
        padding-top: 17px;

        i {
          font-size: 40px;
          position: relative;
          right: 10px;
          top: 10px;

        }
      }
    }
  }

  .section.active-iq {
    margin-top: 100px;
    margin-bottom: 100px;

    .text {
      width: 60%;
      display: inline-block;
      vertical-align: top;
    }

    .image {
      display: inline-block;
      width: 38%;
      text-align: right;
      padding-top: 75px;
    }

    ul {
      li {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .section.table {
    margin-top: 100px;
    margin-bottom: 120px;

    h2 {
      margin-top: 0;
    }
  }

  .section.datasheets {
    margin-top: -200px;

    .resources-section {
      margin: 0;
      padding: 0;
    }

    h2 {
      margin-top: 200px;
    }

    .text {
      width: 50%;
      font-size: 18px;
      padding-top: 20px;

      a {
        font-weight: 600;
      }
    }
  }

  @media(min-width: $tablet) {
    .span4first, .span4middle, .span4last {
      padding-right: 30px;
    }

    .span4first {
      @include span(4 of 12);
    }

    .span4middle {
      @include span(4 at 5 of 12);
    }

    .span4last {
      @include span(4 at 9 of 12);
    }

    .page-top-margin {
      margin-top: 200px;
    }
  }

  @media (max-width: 944px) {
    .buttons {
      margin-top: 0;
    }
  }

  @media (max-width: $tablet - 1) {
    .buttons {
      margin-top: -40px;
    }

    .button {
      margin-top: -10px;
    }
    ul {
      padding-left: 15px;
    }

    .section.skew-right {
      padding-top: 200px;
      margin-top: -400px;
    }

    .support-sub-nav {
      margin-top: -50px;
    }

    .span4first, .span4middle, .span4last {
      @include span(12 of 12);
      padding-right: 0;
    }

    .page-top-margin {
      margin-top: 250px;
    }

    .top-grey-angle {
      img {
        padding-left: 0;
        margin: auto;
        padding-bottom: 30px;
      }
    }

    .section.hero {
      .top {
        .text {
          width: 90%;
        }
      }

      .icons {
        margin-top: 20px;

        .icon {
          padding: 20px 10px;
          width: 100%;
        }
      }
    }

    .section.active-iq {
      .text {
        width: 100%;
      }
    }

    .section.datasheets {
      ul{
        width: 100%;
      }

      .text {
        width: 100%;
      }
    }
  }
}
