@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.careers-container {
  background-color:transparent;
  @include container(960px);
}

.selected-header {
  .icon-RightArrow20 {
    transform: rotate(90deg);
  }
}

.selected-section {
  display: block;
}

.hero-image{
  max-height: 390px;
  position: absolute;;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  img{
    margin-top: -15px;
  }
}

.careers-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  margin-top: 220px;

  .links {
    max-width: 100%;
    a {
      display: inline-block;
      float: left;
      color: $grey-02;
      text-transform: uppercase;
      padding-right: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }


  h1 {
    line-height: 1.2em;
    font-weight: 300;
    color: $white;
    text-align: center;

    span{
      font-weight: 400;
    }
  }

  .page-top-margin {
    margin-top: 90px;
  }

  .button-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;

    a{
      @include font-size(16px);
      margin-top: 0;
    }

    .button-red{
      display: inline-block;
      float: left;
      margin-right: 20px;
      min-width: 210px;
    }

    .button-trans-white-border{
      padding: 8px 30px 8px;
      transition: background-color 0.5s ease;
      float: left;
      min-width: 210px;

      p{
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
      }
    }

    .button-trans-white-border:hover{
      background-color: rgba(255, 255, 255, .6);

      p{
        color: #CC1F26;
      }
    }
  }
}

.all-jobs-section {
  width: 100%;
  position: relative;
  float: left;
  padding-top: 150px;
  padding-right: 20px;
  padding-left: 20px;

  .job-title {
    font-size: 18px;
  }

  h3 {
    margin-bottom: 0;
  }

  .job {
    margin-bottom: 20px;
  }

  .department-jobs {
    margin-bottom: 50px;
  }

  p {
    margin-top: 0;
  }
}

.careers-section-two {
  width: 100%;
  position: relative;
  float: left;

  a.bold{
    font-weight: 500;
    font-size: 18px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }
}

.careers-section-eight {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 80px;
  background-color: $grey-04;
  margin-bottom: 0;

  p, h2 {
    color: white;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
  }

  h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0;
  }

  .block {
    display: inline-block;
    float: left;

    img {
      margin: 0;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }

  .block:hover {
    img {
      position: relative;
    }

    p {
      font-weight: 600;
    }
    cursor: pointer;
  }
}


.careers-section-three {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 60px;
  background-color: #f5f5f5;

  h2{
    float: left;
  }

  .number{
    @include font-size(55px);
    font-weight: 400;
    color: $blue-01;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
  }

  .description{
    @include font-size(26px);
    font-weight: 300;
    color: $grey-04;
    text-align: center;
    margin-top: 0;
  }

  .counted-numbers{
    display: none;
  }
}

.careers-section-four {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 0px 20px;

  h2{
    float: left;
  }

  h3{
    margin: 15px 0 0;
  }

  .span6 div {
    margin-top: 5px;

    h3, p {
      color: $grey-01;
    }
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .span6 .health{
    h3, p {
      color: $grey-04;
    }
  }

  .health, .flexibility, .vacation{
    border-bottom: 1px solid $grey-01;
  }


  .health:hover, .flexibility:hover, .vacation:hover, .community:hover{
    cursor: pointer;

    h3, p {
      color: $grey-04;
    }
  }

  .health-img, .flexibility-img, .time-off-img, .community-img{
    float: left;
  }

  .flexibility-img, .time-off-img, .community-img{
    display: none;
  }

  .perks-description{
    float: right;
  }
}

.careers-section-five {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 60px;

  p {
    font-size: 18px;
    line-height: 30px;
  }

  h2{
    float: left;
  }

  .header{
    min-height: 80px;
    background-color: $grey-04;
    padding: 21px;
    display: inline-block;
    margin-bottom: -5px;
    width: 100%;

    h2{
      color: white;
      font-weight: 300;
      margin: 0
    }
  }

  .top-work-places{
    margin-top: 40px;
  }

  .awards-container{
    border: $grey-02 solid 1px;
    display: inline-block;
    width: 100%;

    .grey-bg{
      background-color: #f5f5f5;
    }

    .span3{
      padding: 30px 0;
      margin: 0;
      width: 25%;

      img{
        margin: 0 auto;
      }

      .gptw{
        padding: 7px 0;
      }

      .b-top{
        padding: 52px 0;
      }

      .emerging-vendors{
        padding: 49px 0;
      }

      .stevie{
        padding: 21.5px 0;
      }

      .best-places-work{
        padding: 15px 0;
      }
    }
  }
}

.careers-section-six {
  width: 100%;
  position: relative;
  float: left;
  padding: 80px 20px 60px;

}

.careers-section-seven {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 60px;
  background-color: #f5f5f5;

  a {
    font-size: 18px;
  }

  h2 {
    display: inline-block;
    padding-right: 15px;
  }

  h4.question {
    margin: 0;
    padding-bottom: 20px;
  }

  p.answer {
    padding-bottom: 50px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .answer {
    display: none;
  }

  .question:hover {
    cursor: pointer;
    color: $red-01;
  }

  .selected-question {
    color: $red-01;
  }
}

.department-description-section {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 60px;

  img {
    margin-top: 100px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  a.job-title {
    font-size: 18px;
  }
}

.job-openings-section {
  @extend .department-description-section;
  margin-top: 0;

  h3 {
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  a.job-title {
    font-size: 18px;
  }

  p.job-location {
    text-transform: uppercase;
    padding-top: 5px;
    margin-top: 0;
  }

  .job {
    margin-top: 30px;
  }
}

.sub-nav{
  background-color: #fbfbfb;
  padding: 10px 0 5px 0;
  display: none;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;

  .team-navigation, .navigation{
    display: block;
    margin-left: auto;
    margin-right: auto;

    .button-trans-white-border, .button-red{
      padding: 4px 30px;
      font-size: 14px;
      border-radius: 4px;
      margin-top: 0;
      display: inline-block;
    }

    .button-red {
      width: 205px;
      float: left;
    }

    .button-trans-white-border {
      border: solid 2px $red-01;
      color: $red-01;
      padding: 0 30px;
      margin-left: 20px;
      float: right;
      width: 205px;


      p {
        float: none;
        text-align: center;
        margin: 8px 0 8px;
        color: #fff;
        font-weight: 400;
        font-style: normal;
        line-height: 14px;
        font-size: 14px;
        color: $red-01;
      }
    }

    .button-trans-white-border:hover {
      -moz-outline-radius: 3px solid $red-04;
      border: solid 2px $red-03;
      color: $red-03;

      p{
        color: $red-03;
      }
    }
  }

  .team-navigation {
    ul {
      margin: 0;
    }
  }

  .navigation {
    max-width: 450px;
  }
}


.marginTop{
  padding-top: 50px;
}

.right {
  margin-right: 0;
}

.offset:before{
  height: 185px;
  margin: -185px 0 0;
  content: " ";
  visibility: hidden;
  display: block;
}

.hide-desktop{
  display: none;
}

.icon-with-bg {
  @include font-size(18px);
  color: #FFF;
  background-color: $red-01;
  border: solid 1px $red-01;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  padding: 5px 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon-RightArrow20{
  float: right;
  margin-top: 16px;
  display: none;
}

.icon-RightArrow20:hover {
  cursor: pointer;
}

.icon-RightArrow20.large-screen{
  float: none;
  display: inline-block;
  opacity: 1;
}


/* media queries */
@media(min-width: $tablet + 1) {
  .careers-section-two {
    padding: 80px 20px 60px;
  }

  .links {
    margin-top: 230px;
  }

  .careers-section-eight {
    .block:hover {
      img {
        outline: 3px solid white;
      }
    }
  }
}

@media(max-width: 1050px) {
  .careers-section-one {

    .links {
      margin-top: 80px;
    }
  }
}

@media (max-width: $tablet) {
  .all-jobs-section {
    margin-top: -110px;
  }

  .careers-section-one {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 20px 60px;
    margin-top: 50px;

    h1{
      font-size: 30px;
    }

    .links {
      margin-top: 120px;
    }
  }

  .careers-section-two {
    padding: 20px 20px 60px;
  }

  .careers-section-four{
    .span6{
      width: 100%
    }

    .span6 div h3, .span6 div p{
      color: #4a4a4a;
    }

    .health, .flexibility, .vacation, .community {
      h3, p {
        color: $grey-04
      }
    }
  }

  .department-description-section {
    .span6, .span6right {
      width: 100%;
    }

    img {
      margin-top: 30px;
    }
  }

  .careers-section-eight {
    .block:hover {
      img {
        outline: 3px solid white;
      }
    }
  }
}

@media (max-width: 892px) {
  .careers-section-one .button-container .button-trans-white-border p {
    color: $red-01;
  }

  .button-trans-white-border {
    border: 2px solid $red-01;
  }
}

@media (max-width: 836px) {
  .links {
    a {
      clear: both;
    }
  }
}

@media (max-width: 768px) {
  .careers-section-one .button-container .button-trans-white-border p {
    color: $white;
  }

  .button-trans-white-border {
    border: 2px solid $white;
  }
}

@media (max-width: 570px) {

  .button-container {
    position: relative;
    top: 30px;
  }
  .careers-section-one .button-container .button-trans-white-border p {
    color: $red-01;
  }

  .button-trans-white-border {
    border: 2px solid $red-01;
  }
}

@media (max-width: $phone){
  .department-description-section {
    h2 {
      margin-top: 0px;
    }
  }

  .hero-image {
    display: none;
  }

  .icon-RightArrow20.large-screen{
    display: none;
  }

  .careers-section-one {
    margin-top: 30px;
    padding-bottom: 0;

    .links {
      margin-top: 150px;
      height: 150px;
    }

    h1{
      font-size: 30px;
      color: $grey-04;
      font-weight: 400;
    }


    .button-container{
      margin-top: -10px;
      max-width: 210px;

      .button-red{
        margin-bottom: 20px;
      }

      .button-trans-white-border{
        text-align: center;
        margin-left: 0;
        padding-right: 10px;
        padding-left: 30px;
        width: 207px;

        p, .icon-icon_playVideo2{
          margin-left: 0;
        }
      }
    }
  }

  .hide-mobile{
    display: none;
  }

  .hide-desktop{
    display: block;
  }

  .careers-navigation{
    display: none;
  }

  .careers-section-two{
    padding-top: 0;
    margin-top: 80px;
  }

  .careers-section-three, .careers-section-four, .careers-section-five, .careers-section-seven, .careers-section-eight{
    padding: 0 20px;
    border-top: 1px solid $grey-02;
    margin-top: 0;
    background-color: $white;

    h2{
      margin: 10px;
      float: left;
    }

    .span3{
      width: 100%;
    }

    .robot{
      display: none;
    }
  }

  .careers-section-eight {
    h2 {
      font-weight: 500;
    }

    background-color: $white;
    h2, p {
      color: $grey-04;
    }
    .block:hover {
      img {
        outline: 3px solid $red-01;
      }
    }
  }

  .careers-section-seven{
    border-bottom: 1px solid $grey-02;
  }

  .perks-image{
    display: none;
  }

  .span6{
    width: 100%;
  }

  .careers-section-four .span6 div h3, .careers-section-four .span6 div p{
    color: #4a4a4a;
  }

  .careers-section-five .awards-container{
    padding: 20px 0;
  }

  .careers-section-five .awards-container .span3{
    width: 50%;
    background-color: $white;
    padding: 0 10px;
  }

  .careers-section-six{
    margin-top: 0;
  }

  td{
    width: 90%;
  }

  .section-content{
    display: none;
  }

  .icon-RightArrow20{
    display: block;
  }
}