.section
  .container
    .full-row
      %h1 Style Guide
      %h2 Fonts
      .text-display
        %h1 This is an Example of an H1
        %p Font: Source Sans Pro #4A4A4A - Size 2.5em | 40px
        %h2 This is an Example of an H2
        %p Font: Source Sans Pro #4A4A4A - Size 1.875em | 30px
        %h3 This is an Example of an H3
        %p Font: Source Sans Pro #4A4A4A - Size  1.5em | 24px
        %h4 This is an Example of an H4
        %p Font: Source Sans Pro #4A4A4A -  1.250em | 20px
        %p.p-text
          Lorem ipsum dolor sit amet,
          %span.bold consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel feugait nulla facilisi.
        %p.p-text
          Font: Source Sans Pro #4A4A4A -  1em | 16px
          %br
          %span.bold Bold: font-weight: 600
        %ul
          %li Lorem ipsum dolor sit amet, consectetuer
          %li Nibh euismod tincidunt ut laoreet nisl ut aliquip ex
          %li enim ad minim veniam, quis nostrud exerci tation ullamcorper
          %li ea commodo consequat. Duis autem vel feugait nulla facilisi.
        %p.p-text
          Font: Source Sans Pro #4A4A4A -  1em | 16px
.section.even
  .container
    .full-row
      %h2 Colors
      .colors.red
        .color
          .color-box.color-one
          %p
            Color: #CC1F26
            %br
            $red-01
        .color
          .color-box.color-two
          %p
            Color: #BC1E24
            %br
            $red-02
        .color
          .color-box.color-three
          %p
            Color: #AC1D22
            %br
            $red-03
        .color
          .color-box.color-four
          %p
            Color: #9C1C20
            %br
            $red-04
    .colors.yellow
      .color
        .color-box.color-one
        %p
          Color: #FFCC00
          %br
          $yellow-01
      .color
        .color-box.color-two
        %p
          Color: #FFC200
          %br
          $yellow-02
      .color
        .color-box.color-three
        %p
          Color: #FFB800
          %br
          $yellow-03
      .color
        .color-box.color-four
        %p
          Color: #FFAE00
          %br
          $yellow-04
    .colors.green
      .color
        .color-box.color-one
        %p
          Color: #2BB3A3
          %br
          $green-01
      .color
        .color-box.color-two
        %p
          Color: #27A495
          %br
          $green-02
      .color
        .color-box.color-three
        %p
          Color: #249487
          %br
          $green-03
      .color
        .color-box.color-four
        %p
          Color: #208579
          %br
          $green-04
    .colors.blue-green
      .color
        .color-box.color-one
        %p
          Color: #0CA2B3
          %br
          $aqua-01
      .color
        .color-box.color-two
        %p
          Color: #1892A5
          %br
          $aqua-02
      .color
        .color-box.color-three
        %p
          Color: #248397
          %br
          $aqua-03
      .color
        .color-box.color-four
        %p
          Color: #307389
          %br
          $aqua-04
    .colors.blue
      .color
        .color-box.color-one
        %p
          Color: #459DC4
          %br
          $blue-01
      .color
        .color-box.color-two
        %p
          Color: #3F8FB6
          %br
          $blue-02
      .color
        .color-box.color-three
        %p
          Color: #3A82A7
          %br
          $blue-03
      .color
        .color-box.color-four
        %p
          Color: #347499
          %br
          $blue-04
    .colors.black
      .color
        .color-box.color-one
        %p
          Color: #D8D8D8
          %br
          $grey-01
      .color
        .color-box.color-two
        %p
          Color: #A9A9A9
          %br
          $grey-02
      .color
        .color-box.color-three
        %p
          Color: #797979
          %br
          $grey-03
      .color
        .color-box.color-four
        %p
          Color: #4A4A4A
          %br
          $grey-04
.section
  .container
    .full-row
      %h2 Buttons
      %a.button-blue{:href => '#'}Button
      %a.button-blue-outline{:href => '#'}Button
      %a.text-link{:href => '#'}This is an example of a text link »
.section.dark-bg
  .container
    .full-row
      %h2 Icons
      .icon
        = image_tag 'style_guide/white-paper-icon.png', :align => 'left', :class => 'doc-icon'
        %p.icon-text Download doc icon