= simple_form_for(@cms_project_request_status) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => 'Status description'

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px; width: 100%;"

