.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading  Project Request Status

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_project_request_status_path}
        %span.plus +
        New Project Request Status

    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_project_request_statuses.each do |cms_status|
      .custom-landing-item
        .record-email
          = cms_status.name

        .record-destroy
          = link_to 'Destroy', cms_status, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_project_request_status_path(cms_status), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_project_request_status_path}
          %span.plus +
          New Project Request Status
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
