.resources
  .resources__container
    %p
      %h2
        The status
        = @cms_project_request_status.name
        has been successfully created.
    .back-btn
      = link_to 'project request status', cms_project_request_statuses_path, :class => 'cms-red-button'
