@import "susy";

// breakpoints for devices
$desktop: 980px;
$tablet-desktop: 768px 980px;
$tablet: 768px;
$phone: 480px;
$small: 320px;
$tablet-max: max-width 768px;
$phone-max: max-width 480px;
$small-max: max-width 320px;

// random variables for sitewide use
$solidfire-red: #9d1b1b;
$cta-green: #75a25e;
$cta-green-hover: #8dc173;
$white: #FFF;
$alternate-gray: #f6f6f6;
$cta-grey: #ebebeb;
$cta-grey-hover: #d6d3d3;
$cta-blue-hover: #1A7AA2;
$cta-blue: #1D96BB;
$cta-red: #1D96BB;
$alt-grey: #fcfcfc;


//colors
$red-01: #CC1F26;
$red-02: #BC1E24;
$red-03: #AC1D22;
$red-04: #9C1C20;

$yellow-01: #FFCC00;
$yellow-02: #FFC200;
$yellow-03: #FFB800;
$yellow-04: #FFAE00;

$green-01: #2BB3A3;
$green-02: #27A495;
$green-03: #249487;
$green-04: #208579;

$aqua-01: #0CA2B3;
$aqua-02: #1892A5;
$aqua-03: #248397;
$aqua-04: #307389;

$blue-01: #459DC4;
$blue-02: #3F8FB6;
$blue-03: #3A82A7;
$blue-04: #347499;

$grey-01: #D8D8D8;
$grey-02: #A9A9A9;
$grey-03: #797979;
$grey-04: #4A4A4A;

$pg-bg:             #dcdcdc;
$rr-bg:             #232E39;
$rr-bg-hover:       darken($rr-bg, 10%);

$rr-height:         70px;
$rr-slant:          20px;
$rr-gutter:         1%;
$rr-width:          50%;



// this function calculates rem values
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// adds a pixel value first for ie < 9
@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}


