@import "cms/cms-sitewide";

.categories {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.categories__container {
  @include container(960px);
}

.form-inputs {

  input {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  label {
    @include font-size(20px);
  }
}