@import "variables";
@import "jquery-ui.min";

body {
  font-family: "Source Sans Pro",sans-serif;
}

h1 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  @include font-size(40px);
  line-height: 50px;
  color: $grey-04;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(32px);
  line-height: 40px;
  color: $grey-04;
}

h2.welcome {
  font-weight: 300;
}

h3.cms-heading {
  margin-top: 0;
}

p.bold{
  font-weight: 600;
}

p.margin-top {
  margin-top: 70px;
}

.cms-margin-top {
  margin-top: 70px;
}

.full-width {
  width: 100%;
}

span.plus {
  border: 1px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.4em;
  width: 15px;
  height: 15px;
  padding-right:7px;
  padding-left: 7px;
  position: relative;
  top: 1px;
  right: 5px;
}

.span12.border-top, .border-top{
  border-top: 1px solid #A9A9A9;
  padding-top: 20px;
}

.cms-form-heading {
  border-bottom: 1px solid #A9A9A9;
  width: 100%;
  height: 50px;
}

.button--red.cms {
  background-color: $red-01;
  font-weight: 400;
}

h3 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(24px);
  line-height: 31px;
  color: $grey-04;
}

h4 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(20px);
  line-height: 25px;
  color: $grey-04;
}

h5 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(15px);
  line-height: 25px;
  color: $grey-04;
  margin-bottom: 0;
}

.button-container {
  display: inline-block;
  float: right;
}

.edit-user-form-section {
  input[type='checkbox'] {
    width: 20px;
  }
}

.section-item-wrapper {
  padding-top: 10px;
}

.section-item-wrapper .section-item {
  padding-bottom: 15px;
}

form.edit_cms_user, form.new_cms_event, form.new_cms_landing_page, form.new_cms_project_request, form.new_cms_user {
  margin-top: 70px;
}

.record-destroy {
  padding-bottom: 50px;
}

.record-wrapper-unarchived .record-wrapper-item .record-email, .record-wrapper-unarchived .record-wrapper-item .record-status, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-email, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-status, .record-wrapper-unarchived .record-wrapper-item .record-date, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-date {
  font-size: 15px;
  font-weight: 400;
}

.record-wrapper {
  float:left;
  width:100%;
  padding:10px 0;
  border-bottom: 1px solid #A9A9A9;
  margin-bottom: 30px;

  .record-email {
    float:left;
    width:50%;
    @include font-size(20px);
    font-weight: 300;
    padding-right: 50px;
    font-size: 15px;
  }

  .record-email span, .record-status span, .record-date span  {
    font-weight: 300;
    font-size: 15px;
  }

  .record-edit {
    float:left;
    width:15%;
  }

  .record-destroy {
    float:left;
    width:35%;
  }
}

.button--grey{
  color: #686868;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: solid 1px #bbbbbb;
}

.button--grey:hover{
  background-color: $cta-grey-hover;
  color: #686868;
  text-decoration: none;
}

.button--grey--small{
  background-color: $cms-dark-grey;
  color: white;
  text-decoration: none;
  padding: 4px 12px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 0;
}

.button-light-blue-small {
  @extend .button--grey--small;
  background-color: $cms-light-blue;
}

.button-dark-blue-small {
  @extend .button--grey--small;
  background-color: $cms-dark-blue;
}

.show-archive-button, a.cms--button {
  color: #686868;
  text-decoration: none;
  padding: 9px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  border: solid 1px #bbbbbb;
  margin-top: 15px;
}

.cms-green--button {
  color: white;
  background-color: $cta-green;
  text-decoration: none;
  padding: 9px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  border: none;
  margin-top: 15px;
}

.cms-green--button:hover {
  background-color: $cta-green-hover;
  color: white;
}

@mixin cms-base-button($color) {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  border: none;
  padding: 9px 30px;
  font-size: 13px;
  font-weight: 400;
  background-color: $color;
  width: 100%;
  margin-top: 15px;
  border: 1px solid $color;

  &:hover {
    opacity: .6;
    color: white;
  }
}

.cms-red-button {
  @include cms-base-button($cms-red);
}

.cms-dark-grey-button {
  @include cms-base-button($grey-nav);
}

.cms-purple-button {
  @include cms-base-button($cms-fuscia);
}

.cms-orange-button {
  @include cms-base-button($cms-orange);
}

.cms-dark-blue-button {
  @include cms-base-button($cms-dark-blue);
}

.cms-light-blue-button {
  @include cms-base-button($cms-light-blue);
}

.cms-green-button {
  @include cms-base-button($cms-green);
}

.cms-dark-green-button {
  @include cms-base-button($cms-dark-green);
}

.cms-white-button {
  @include cms-base-button(white);
  @extend .cms--button;
}

.cms-white-button:hover {
  background-color: #686868;
}

.button--purple-small {
  @extend .button--grey--small;
  background-color: $cms-fuscia;
}

.button--grey--small:hover{
  opacity: .6;
  color: white;
  text-decoration: none;
}

.button--red--small{
  @extend .button--grey--small;
  background-color: $solidfire-red;
}

.back-btn {
  float:left;
  width:100%;
}

.margin-right-twenty-five {
  margin-right: 25px;
}

.margin-right-fifteen {
  margin-right: 15px;
}

.margin-bottom-twenty-five {
  margin-bottom: 25px;
}

.resources {
  width:100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 130px;
}

.resources.project-request-index {
  margin-top: 70px;
}

.resources__container {
  @include container(960px);
}

.form-inputs {
  abbr[title], abbr[description] {
    border-bottom: 0px;
    color: $cms-red;
  }
}

.form-inputs {
  clear: both;

  input, textarea {
    height: 40px;
    @include font-size(15px);
    margin-bottom: 25px;
  }

  textarea {
    height: 200px;
  }

  label {
    @include font-size(15px);
    display: block;
  }

  #meta-tags {
    display: none;
    margin-top: 30px;
  }

  input[type='checkbox'] {
    margin-bottom: 0px;
    position: relative;
    top: 12px;
    margin-right: 10px;
  }
}

form {
  margin-top: 100px;
}

form .radio-wrapper select, form .radio-wrapper p, form .form-inputs label, form .form-inputs textarea, form .form-inputs input{
  @include font-size(15px);
}

form .form-inputs label {
  margin-bottom: 15px;
}

.radio-wrapper {
  float:left;
  width:100%;

  p {
    font-weight: 400;
    margin-top: 0;
    @include font-size(15px);
  }

  select {
    @include font-size(15px);
  }

  span {
    @include font-size(15px);
    display:inline-block;
    padding:10px;
  }
}

.submit-wrapper {
  padding-top:30px;
  float:left;
  margin-bottom:30px;
}

.pagination {

  @include font-size(20px);
  margin: 25px 0;

  .previous_page {
    display: none;
  }

  .next_page {
    display: none;
  }

  .current {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

}

.ui-widget-header .ui-icon {
  background-image:image-url("jquery/ui-icons_ffffff_256x240.png");
}

.ui-widget-content {
  border:1px solid #ddd;
  background:#eee image-url("jquery/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
  color:#333;
}

.ui-widget-header {
  border:1px solid #e78f08;
  background:#f6a828 image-url("jquery/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
  color:#fff;
  font-weight:bold;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
  border:1px solid #fed22f;
  background:#ffe45c image-url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
  color:#363636;
}

.resources__container {
  h2 {
    font-weight: 300;
  }
}

.alert {
  width: 60%;
  background-color: $red-01;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
  @include font-size(20px);
  margin: 30px auto;
  padding: 15px 0 16px 0;
  font-weight: 300;
  text-align: center;
}

.success {
  width: 50%;
  background-color: $blue-01;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
  @include font-size(20px);
  margin: 30px auto;
  padding: 15px 0 16px 0;
  font-weight: 300;
  text-align: center;
}

.user-menu {
  width: 525px;
  float: right;
  position: relative;
  margin-top: 25px;
  padding-bottom: 50px;

  .user-email {
    width: 500px;
    float: left;
    text-align: right;
    @include font-size(18px);
    font-weight: 300;
  }

  .user-drop-down-button {
    width: 25px;
    float: left;

    span.triangle-bullet  {
      display: block;
      float: left;
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  .drop-down-menu {
    display: none;
    position: absolute;
    width: 180px;
    background-color: #fff;
    right: 10px;
    top: 30px;
    padding: 10px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
  }

}

.user-menu:hover {
  .drop-down-menu {
    display: block;
  }

  span.triangle-bullet {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

header.page-header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: $cms_nav;
  border-color: #9d1b1b -moz-use-text-color -moz-use-text-color;
  height: 110px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transition: background-color 500ms ease 0s, border-color 500ms ease 0s;
  width: 100%;
  z-index: 9999;
}

header.page-header .clearfix:before, header.page-header .clearfix:after {
  content: " ";
  display: table;
}
header.page-header .clearfix:after {
  clear: both;
}
header.page-header .img-responsive {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
header.page-header .img-block {
  display: block;
}
header.page-header .pull-right {
  float: right;
}
header.page-header .pull-left {
  float: left;
}
header.page-header.transparent {
  background-color: transparent;
  border-top: 5px solid transparent;
}
header.page-header.transparent.sticky {
  background-color: #313131;
  border-top: 5px solid #9d1b1b;
}
header.page-header .header-nav {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 15px;
}
header.page-header .header-nav > * {
  float: left;
}
header.page-header .column-1 {
  display: table;
  margin-left: 1%;
  padding-left: 1%;
  width: 15%;
}
header.page-header .column-2 {
  width: 83%;
}
header.page-header b, header.page-header i {
  font-style: normal;
  font-weight: normal;
}
header.page-header #logo {
  display: table-cell;
  height: 68px;
  margin: 0 auto;
  max-width: 220px;
  vertical-align: middle;
  width: 100%;
}
header.page-header #logo a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
header.page-header #logo b {
  display: block;
  position: absolute;
  text-indent: -9999px;
}
header.page-header #logo img {
  margin-left: 0;
  margin-top: 0;
  max-width: 170px;
}

.button--red{
  background-color: $solidfire-red;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--red:hover{
  background-color: #555;
  color: $white;
  text-decoration: none;
}

.button--green{
  background-color: $cta-green;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  @include font-size(13px);
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--green:hover{
  background-color: $cta-green-hover;
  color: $white;
  text-decoration: none;
}


.button--red{
  background-color: $red-01;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--red:hover{
  background-color: $red-04;
  color: $white;
  text-decoration: none;
}

.button--grey{
  background-color: $cta-grey;
  color: #686868;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
  border: solid 1px #bbbbbb;
}

.button--grey:hover{
  background-color: $cta-grey-hover;
  color: #686868;
  text-decoration: none;
}

.button--trans-white-border {
  background-color: transparent;
}

.button--trans-white-border:hover {
  background-color: transparent;
}

.btn{
  background-color: $red-01;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
}

.button--default-styles {
  color: $white;
  text-decoration: none;
  padding: 5px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

input.email, input.password{
  padding-left: 10px;
}

input.btn.button--red {
  background-color: $red-01;
}

input.email#password_reset_email {
  height: 40px;
}

footer.cms {
  width:100%;
  position: relative;
  float: left;
  margin-top: 60px;
  padding: 0 20px;
  background-color: transparent;
}

footer.active {
  position: absolute;
  background-color: white;
  margin-top: 40px;
  top: 0;
}

footer h3 {
  color: #565455;
  @include font-size(12px);
  font-weight: 400;
  margin: 42px 0 0 0;
  text-transform: uppercase;
}

footer .platform, footer .resources{
  margin-top: 15px
}


footer h3 a {
  font-weight: 600;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
}

footer ul li {
  margin-top: 6px;
  text-transform: uppercase;
}

footer a, .ft-btm-col3, footer .company {
  color:#565455;
  line-height:1.3em;
  @include font-size(12px);
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}

footer .additional-resources {
  width: 100%;
}

footer #footer-column-wrapper {
  text-align:left;
}

footer #footer-column-container {
  padding: 0;
}

footer .column-widths {
  width: 100%;
}

footer .container {
  background-color:transparent;
  @include container(960px);
}

footer .container .col1 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col2 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col3 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col4 {
  width: 25%;
  float: left;
  margin-right: 0;
}

footer #bottom-section {
  width:100%;
  position: relative;
  float: left;
  margin-top: 30px;
}

footer #bottom-section .container {
  border-top: solid 1px #bbb;
}

footer #bottom-section .container .ft-btm-col1 {
  @include span(7 of 12);
  margin-top:10px;
  color: $grey-02;
  font-weight: 300;
  @include font-size(12px);

  span {
    display: block;
    color: $grey-02;
    @include font-size(12px);
  }

  span.font-weight-thick {
    color: $grey-03;
    display: inline;
    font-weight: 600;
  }

  a {
    color: $grey-03;
    text-decoration: none;
  }

  .legal-links {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
  }

  .contact-us{
    margin-right: 3px;
  }
}

footer #bottom-section .container .ft-btm-col2 {
  @include span(5 of 12 last);
  margin: 20px 0 0 0;
  text-align: center;
  float: right;
}

footer #bottom-section .container .ft-btm-col3 {
  @include span(3 of 12);
  margin-top:20px;
  text-align: left;
  float: left;
  margin-right: 0;
}

footer .phone-number{
  background-image: image-url("global/phone_icon.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  height: 20px;
  text-align: left;
}

footer #bottom-section  .logo {
  text-indent: -9999em;
  background-image: image-url("global/logo-footer@2x.png");
  width: 129px;
  height: 15px;
  background-size: auto 100%;
  display: block;
  background-repeat: no-repeat;
}

footer #social-wrapper {
  display: block;
  float: left;
  list-style: none;
  width: 100%;
}

footer .social-container {
  margin: 0 auto;
  width: 230px;
  float: right;
}

footer i {
  @include font-size(18px);
  margin-right: 15px;
}

footer .slideshare{
  margin-right: 0;
}

footer .facebook:hover{
  color: #4a619d;
}

footer .twitter:hover{
  color: #429cc1;
}

footer .instagram:hover{
  color: #104778;
}

footer .gplus:hover{
  color: #d23a39;
}

footer .youtube:hover{
  color: #c60f27;
}

footer .slideshare:hover{
  color: #2076b4;
}

footer .container .footer-search {
  @include span(12 of 12 last);
  text-align: center;
  display: none;
}

footer .container .footer-search input {
  height: 30px;
  width: 70%;
  border: solid 1px #565455;
}

footer form {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

footer .search-form label {
  background-image: image-url("global/icon-search-eeeeee.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  cursor: pointer;
  display: block;
  height: 19px;
  position: absolute;
  right: 16%;
  top: 5px;
  width: 19px;
  z-index: 1;
}

footer #top-footer-links a:hover {
  color: #9d1b1b;
}

footer .text-transform-normal {
  text-transform: none;
}

img {
  display: block;
  height: auto;
  margin: 10px auto 20px;
  max-width: 100%;
  width: auto;
}

#page-navigation {

  @include font-size(20px);
  margin: 55px 0;
  float: left;

  .active-page {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 7px 10px;
    text-decoration: none;
  }
}

select {
  -webkit-appearance: menulist-button;
}

.user-menu .user-drop-down-button {
  width: 25px;
  float: left;
}

.error {
  color: $solidfire-red;
}

label.error {
  color: red;
}

.cms-form-button-container {
  width: 100%;
}

.margin-bottom-fifty {
  margin-bottom: 50px;
}

.edit-user-top {
  height: 65px;
  border-bottom: 1px solid #A9A9A9;
  .user, .link {
    display: inline-block;
  }

  .user {
    float: left;
    position: relative;
    margin-top: 10px;
  }

  .link {
    float: right;
    position: relative;
    margin-top: 15px;
  }
}

@media(min-width: $tablet) {
  .form-inputs input, .form-inputs textarea {
    width: 50%;
  }

  .record-wrapper, .record-wrapper.events {
    height: 40px;
  }

  .record-wrapper-unarchived .record-wrapper-item .record-email, .record-wrapper-unarchived .record-wrapper-item .record-status{
    padding-right: 50px;
  }

  .record-wrapper-ajax-archived .record-wrapper-item-archived .record-email, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-status{
    padding-right: 50px;
  }

  .cms-button-grid {
    @include gallery(3 of 12);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .record-wrapper-ajax-archived .record-wrapper-item-archived, .record-wrapper-item {
    .record-destroy {
      .archive, .edit, .destroy, .copy, .view {
        float: left;
      }
    }
  }

  .events-item, .custom-landing-item {
    .record-destroy {
      .edit, .destroy, .copy, .view {
        float: right;
      }
    }
  }

  .events-item {
    .record-email {
      width: 75%;
      display: inline-block;
      float: left;
    }

    .record-destroy {
      width: 25%;
      display: inline-block;
      float: left;
    }
  }

  .custom-landing-item {
    .record-email {
      width: 50%;
      display: inline-block;
      float: left;
    }

    .record-destroy {
      width: 50%;
      display: inline-block;
      float: left;
    }
  }

  .cms-form-button {
    display: inline-block;
    float: left;
    width: 185px;
  }

  .minus-eighty-margin-top {
    margin-top: -80px;
  }
}

@media(max-width: $tablet - 1) {
  .form-inputs input, .form-inputs textarea {
    width: 50%;
  }

  .cms-form-button {
    display: inline-block;
    float: left;
    clear:both;
    width: 185px;
  }

  .record-wrapper, .record-wrapper.events {
    height: 40px;
  }

  .margin-right-fifteen {
    margin-right: 0;
  }

  .events-item, .custom-landing-item {
    .record-email, .record-destroy {
      width: 100%;
      padding-top: 10px;
    }
  }

  .button-container {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }

  h3.cms-heading {
    margin-bottom: 10px;
  }

  .record-wrapper-unarchived .record-wrapper-item .record-destroy, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-destroy {
    width: 100%;
    padding-top: 20px;

    .archive, .edit, .destroy {
      float: left;
    }
  }

  .record-wrapper-unarchived .record-wrapper-item .record-email, .record-wrapper-unarchived .record-wrapper-item .record-status {
    padding-right: 20px;
    min-width: 80px;
  }

  .record-wrapper-ajax-archived .record-wrapper-item-archived .record-email, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-status {
    padding-right: 20px;
    min-width: 80px;
  }

  .record-wrapper-unarchived .record-wrapper-item .record-date, .record-wrapper-ajax-archived .record-wrapper-item-archived .record-date {
    padding-right: 0;
    min-width: 80px;
  }

  .cms-button-grid {
    @include gallery(4 of 12);
  }

  .record-wrapper-unarchived .record-wrapper-item .record-destroy{
    .destroy, .archive, .edit {
      margin-right: 1px;
    }
  }
}

@media(max-width: $phone) {
  .record-wrapper.events {
    height: 40px;
  }

  .record-wrapper {
    height: 60px;
  }

  .cms-home .span12 .cms-button-grid {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    clear: both;
  }

  form .form-inputs input, form .form-inputs textarea {
    width: 100%;
  }

  .resources__container form .radio-wrapper select {
    width: 100%;
  }
}

