@import "cms/cms-sitewide";
@import "jquery-ui.min";

.resources {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.resources__container {
  @include container(960px);
}

.form-inputs {

  input, textarea {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  textarea {
    height: 200px;
  }

  label {
    @include font-size(20px);
  }

  #meta-tags {
    display: none;
    margin-top: 30px;
  }
}

.radio-wrapper {
  float:left;
  width:100%;

  p {
    font-weight: 400;
    @include font-size(20px);
  }

  span {
    @include font-size(16px);
    display:inline-block;
    padding:10px;
  }
}

.submit-wrapper {
  padding-top:30px;
  float:left;
  margin-bottom:30px;
}

.pagination {

  @include font-size(20px);
  margin: 25px 0;

  .previous_page {
    display: none;
  }

  .next_page {
    display: none;
  }

  .current {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

}

.error {
  color: $solidfire-red;
}

.display-images {
  display: none;

  img {
    margin: 0;
    width: 200px;
  }
}

label.error {
  color: red;

}

.res-image-wrapper {
  @include span(12 of 12 last);
}

.res-image-container {
  @include span(4 of 12 last);
  float: left;
  min-height: 300px;

  p {
    width: 90%;
  }
}

p.event-image-wrapper {
  text-align: center;
}

.ui-widget-header .ui-icon {
  background-image:image-url("jquery/ui-icons_ffffff_256x240.png");
}

.ui-widget-content {
  border:1px solid #ddd;
  background:#eee image-url("jquery/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
  color:#333;
}

.ui-widget-header {
  border:1px solid #e78f08;
  background:#f6a828 image-url("jquery/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
  color:#fff;
  font-weight:bold;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
  border:1px solid #fed22f;
  background:#ffe45c image-url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
  color:#363636;
}
