@import "cms/cms-sitewide";

.cms-home {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.cms-home__container {
  @include container(960px);
}

.cms-row {
  @include span(12 of 12 last);

  .cms-item {
    @include span(3 of 12);
  }
}
