@import "cms/cms-sitewide";


.login {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.login_container {
  @include container(960px);
}

.form-wrapper {
  text-align: center;

  input {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }
}

.login_container {
  h1 {
    text-align: center;
    font-weight: 300;
  }

  input[type="submit"] {
    width: 200px;
    height: 45px;
  }
}
label {
  display: none;
}
.forgot-password {
  text-decoration: none;
  color: $grey-04;
  font-weight: 600;
  position: relative;
  top: -15px;
}

.forgot-password:hover {
  color: $red-01;
  text-decoration: none;
}
