@import "cms/cms-sitewide";
@import "jquery-fancybox";

.resources {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.resources__container {
  @include container(1140px);
}

.form-inputs {

  input, textarea {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  textarea {
    height: 200px;
  }

  label {
    @include font-size(20px);
  }

  #meta-tags {
    display: none;
    margin-top: 30px;
  }


}

.radio-wrapper {
  float:left;
  width:100%;

  p {
    font-weight: 400;
    @include font-size(20px);
  }

  span {
    @include font-size(16px);
    display:inline-block;
    padding:10px;
  }

  img {
    margin: 0;
  }

  select {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  input[type="radio"] {
    height: 20px;
    width: 20px;
  }
}

.submit-wrapper {
  padding-top:30px;
  float:left;
  margin-bottom:30px;
}

.pagination {

  @include font-size(20px);
  margin: 25px 0;

  .previous_page {
    display: none;
  }

  .next_page {
    display: none;
  }

  .current {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

}

.record-wrapper {
  span {
    font-weight: 600;
  }
}

.record-wrapper, .record-wrapper-item, .record-wrapper-item-archived {
  float: left;
  width: 100%;
  padding: 10px 0;
}

.record-wrapper-item-archived .record-email, .record-wrapper-item .record-email, .record-wrapper .record-email {
  width: 40%;
  font-weight: 300;
  padding-right: 10px;
  float: left;
  @include font-size(18px);
}

.record-wrapper-item-archived .record-status, .record-wrapper-item .record-status, .record-wrapper .record-status {
  float: left;
  @include font-size(18px);
  font-weight: 200;
  line-height: 24px;
}

.record-wrapper-item-archived .record-status, .record-wrapper-item-archived .record-destroy, .record-wrapper-item .record-status, .record-wrapper-item .record-destroy, .record-wrapper .record-status, .record-wrapper .record-destroy {
  width: 25%;
  float: left;
}

.record-wrapper-item-archived .record-date, .record-wrapper-item .record-date, .record-wrapper .record-date {
  width: 10%;
  float: left;
  @include font-size(18px);
  font-weight: 200;
}

.archive-section-wrapper {
  margin-top: 50px;
  display: none;

  h2 {
    padding: 0;
    float: left;
    width: 65%;
  }
}

#page-navigation {
  width: 100%;
}

#page-navigation-second {
  margin: 55px 0;
  float: left;
  width: 100%;
}

.additional-info {
  display: none;
}

.request-logic {
  .web-page-update, .new-url, .current-url, .graphics-direction, .google-doc-graphics, .content-direction, .final-content-url, .seo-requirements, .new-page, .digital-item, #graphics-type-other, .new-graphics, .new-collateral, .graphic-list, .collateral-list, .graphics-collateral {
    display: none;
  }
}

.radio-wrapper.creative-brief, .radio-wrapper.file-types, .cms_project_request_current_url, .collateral-list, .other-info {
  display: none;
}

.form-inputs input.collateral-type {
  margin-right: 10px;
  height: auto;
  width: auto;
}

label[for=cms_project_request_graphic_guidelines] {
  width: 50%;
}

.fancybox-inner {
  color: #CC1F26;
  @include font-size(18px);
  font-weight: 400;
}

.error-red-border {
  border: solid 1px #CC1F26;
}

.error-green-border {
  border: solid 1px #2BB3A3;
}

span.required-filed {
  color: #CC1F26;
  @include font-size(18px);
  padding: 0;
  font-weight: 700;
  float: left;
}

.required-field-width {
  float: left;
  width: 98%;
}


