@import "cms/cms-sitewide";

.resources {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.resources__container {
  @include container(960px);
}

.form-inputs {

  input, textarea {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  textarea {
    height: 200px;
  }

  label {
    @include font-size(20px);
  }
}

.submit-wrapper {
  padding-top:30px;
  float:left;
  margin-bottom:30px;
}

.pagination {

  @include font-size(20px);
  margin: 25px 0;

  .previous_page {
    display: none;
  }

  .next_page {
    display: none;
  }

  .current {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

}

.back-btn {
  img {
    text-align:center;
    margin: 0;
  }
}

.resources-wrapper {

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
    @include font-size(20px);
    font-weight: 300;
    padding-top: 10px;
  }
}

.list {
  min-height: 500px;
}

.all-resources {
  @include span(6 of 12);
}

.order-resources-container {
  @include span(6 of 12 last);
}

.order-resources {
  min-height: 600px;
  border: solid 2px #000;
}

#page-navigation {

  @include font-size(20px);
  margin: 55px 0;
  float: left;

  .active-page {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }
}
