@import "cms/cms-sitewide";

.resources {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.resources__container {
  @include container(960px);
}

.form-inputs {

  input, textarea {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  textarea {
    height: 200px;
  }

  label {
    @include font-size(20px);
  }

  #meta-tags {
    display: none;
    margin-top: 30px;
  }
}

.radio-wrapper {
  float:left;
  width:100%;

  p {
    font-weight: 400;
    @include font-size(20px);
  }

  span {
    @include font-size(16px);
    display:inline-block;
    padding:10px;
  }
}

.submit-wrapper {
  padding-top:30px;
  float:left;
  margin-bottom:30px;
}

.pagination {

  @include font-size(20px);
  margin: 25px 0;

  .previous_page {
    display: none;
  }

  .next_page {
    display: none;
  }

  .current {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin-right: 5px;
    padding: 7px 10px;
    text-decoration: none;
  }

}

.back-btn {
  img {
    text-align:center;
    margin: 0;
  }
}