@import "cms/cms-sitewide";

.users {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.users__container {
  @include container(960px);
}

.form-inputs {

  input {
    height: 40px;
    width: 50%;
    @include font-size(20px);
    margin-bottom: 25px;
  }

  label {
    @include font-size(20px);
  }
}

.is-admin {
  margin: 30px 0 50px 0;
}

.section-item-wrapper {
  width:100%;
  float:left;
}

.section-item {
  width: 25%;
  float: left;
  @include font-size(16px);
}