= content_for :head do
  = stylesheet_link_tag 'why_solidfire', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'why_solidfire'
  = javascript_include_tag 'jquery.flip.min'

#why-solidfire
  .top-section
    .container
      .text
        %h1 The definitive all-flash array for the next generation data center.

  .section-one
    .container
      %h2.italic-style
        We're not here to tell you that your infrastructure is transforming.
        %br
        %span.heavy-weight
          We're here to help transform it.
      .top-text
        %p
          SolidFire's all-flash array solves the challenges of resource allocation, simplified management, and application predictability at scale. Now, you can transform IT from how it has been done to how IT should be done. That's the next generation data center.
      .section--item-container
        .span12
          .span4
            #why-card-one
              .front
                %i.icon-Careers
                %h5 Private Cloud
                %p Accelerate self-service and private cloud infrastructure deployment
              .back
                %p SolidFire is the block storage choice for private cloud infrastructures, ensuring performance to every application and proven in the world’s most demanding multi-tenant infrastructures.
          .span4
            #why-card-two
              .front
                %i.icon-RapidRespond
                %h5 Web infrastructure
                %p Rapidly respond to what customers need from your IT.
              .back
                %p SolidFire’s scalability and predictable performance controls ensure consistent delivery of SaaS and web services — so you can provide a more profitable customer experience.
          .span4last
            #why-card-three
              .front
                %i.icon-Consolidate
                %h5 Workload consolidation
                %p Consolidate all workloads within a single all-flash array
              .back
                %p SolidFire is built for highly virtualized, mixed workload environments — enabling customers to predictably run thousands of applications within a single shared storage system.
      .span12
        .span4
          #why-card-four
            .front
              %i.icon-managedhosting
              %h5 Managed hosting
              %p Develop and monetize new services
            .back
              %p Born from the cloud, SolidFire’s scale-out, guaranteed performance architecture is reinventing cloud hosting and managed services offerings.
        .span4
          #why-card-five
            .front
              %i.icon-SIOCQoS
              %h5 Dev/Ops
              %p Speed up application development and test cycles
            .back
              %p SolidFire’s deep automation capabilities enable dynamic, rapid allocation and tear down of storage resources for on-demand provisioning.
        .span4last
          .section--item-wrapper--last
            .fit-container
              %p.discover Discover how the SolidFire all-flash array powers the world’s most demanding data centers
              %a.button-red.discover#learn-more-solutions{href: solutions_overview_path}
                learn more
                %span &#187

  .bottom-angle-section-right
    .section-under-right
    .section-top-right
      .skew-fix-right
        .inner-angle-section
          .container
            .fit-container-relative.margin-section-top
              %h2 One array. Complete capabilities.
              .section--item-container.one-platform
                .section--item-wrapper
                  .fit-container
                    .icon-circle-wrapper
                      %i.icon-managedhosting
                  .platform-height
                    %h5 Element Software
                    %p
                      The core of SolidFire's unique capabilities. Only Element OS enables all five critical capabilities for next generation data center.
                  .links
                    %a{:href => elements_os_path}
                      %p
                        learn more
                        %span &nbsp; &#187;
                .section--item-wrapper
                  .fit-container
                    .icon-circle-wrapper
                      %i.icon-StorageNodes
                  .platform-height
                    %h5 SF-series Hardware
                    %p
                      The building blocks of the SolidFire platform. Scales to 3.5PB effective capacity and 7.5M IOPS* over iSCSI Fibre Channel.
                  .links
                    %a{:href => hardware_path}
                      %p
                        learn more
                        %span &nbsp; &#187;
                .section--item-wrapper--last
                  .fit-container
                    .icon-circle-wrapper
                      %i.icon-Support
                  .platform-height
                    %h5 Support
                    %p
                      Proactive support for ensuring SolidFire products are maintained and operated at the highest possible levels.
                  .links
                    %a{:href => support_path}
                      %p
                        learn more
                        %span &nbsp; &#187;
  .lowering-the-cost-section
    .container
      .fit-container-relative.margin-section-top
        %h2 Lowering the cost of all-flash storage by advancing the data center
        %p ESG Lab’s cost/benefit analysis of SolidFire indicates that by consolidating with SolidFire, organizations can expect to deploy far less hardware compared with traditional storage, while simplifying management and guaranteeing performance

        .section--item-container.one-platform
          .section--item-wrapper
            .fit-container
              .icon-rounded-wrapper
                %i.icon-icon_ScaleOut
              %p
                Scale with SolidFire and
                %br
                %span
                  reduce storage administrative time by 12x.
          .section--item-wrapper
            .fit-container
              .icon-rounded-wrapper
                %i.icon-uniE808
              %p
                SolidFire automation can help
                %br
                %span
                  lower operating expenses by up to 67%.
          .section--item-wrapper--last
            .fit-container
              .icon-rounded-wrapper
                %i.icon-GuaranteedTotalPerf
              %p
                SolidFire QoS can help avoid the need
                %span to deal with up to 94% of traditional performance-related storage problems.

        %hr
          .button-container
            %a.button-red.discover{href: "http://www.solidfire.com/esg"}
              read the report
              %span &#187

  .bottom-angle-section.one
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-two
          .container
            %h2
              The most complete feature set in all-flash storage.
              %br
              And then some.
            .top-text
              %p
                Yes, SolidFire is fast. And yes, our array delivers all the features you demand from storage &#151; real-time replication, integrated backup/recovery, end-to-end security, and broad integrations for VMware, OpenStack, and more.
            %h2.margin-top
              And that's just the beginning.
            .top-text
              %p
                You can’t run a modern data center with yesterday’s technologies. SolidFire delivers all the transformative  capabilities you need to deploy new applications and capabilities faster, more securely, with greater agility, and more cost-efficiently.
            .section--item-container
              .section--item-wrapper
                .fit-container-relative
                  %i.icon-icon_ScaleOut
                %h5 Scale out
                .section-two-feature-height
                  %ul
                    %li 10s of TBs to multiple PBs
                    %li Nondisruptive, no downtime scaling
                    %li Mix hardware and protocols in the same cluster

              .section--item-wrapper
                .fit-container-relative
                  %i.icon-icon_Automation
                %h5 Complete automation
                .section-two-feature-height
                  %ul
                    %li Comprehensive API and cloud-based monitoring
                    %li Instant provisioning
                    %li Automatic data distribution and load balancing

              .section--item-wrapper--last
                .fit-container-relative
                  %i.icon-icon_GuarPerformance2
                %h5 Guaranteed Quality of Service
                .section-two-feature-height
                  %ul
                    %li Independent control of storage performance and capacity
                    %li Fine-grain QoS settings
                    %li real-time performance management

            .section--item-container
              .section--item-wrapper
                .fit-container-relative
                  %i.icon-icon_DataAssurance
                %h5 Data assurance
                .section-two-feature-height
                  %ul
                    %li 256-bit encryption at rest
                    %li Self-healing drive and node rebuilds
                    %li Rapid, space -efficient snapshots and clones
                    %li Real-time replication (Asynchronous and Synchronous)

              .section--item-wrapper
                .fit-container
                  %i.icon-icon_GlobalEfficiencies
                %h5 Global efficiencies
                .section-two-feature-height
                  %ul
                    %li Inline & post-process compression
                    %li Always-on deduplication
                    %li Global thin provisioning
                    %li No performance impact

            .section--item-container
              %hr
              .button-container
                %a.button-red.discover{href: elements_os_path}
                  see full features
                  %span &#187

  .bottom-angle-section.three
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-three
          .container
            %h2 Ensure your storage investment is never obsolete
            %p
              Eliminate your storage refresh cycles, compatibility concerns, and drive wear for good with SolidFire
              %br
              Flash Forward Program &#151; the storage industry's best guarantee.
            = image_tag 'why_solidfire/flash-forward-program.png'
            .fit-container-relative
              .flash-forward-features-left
                %h3 Hardware Compatibility Guarantee
                %ul
                  %li Mix new hardware with older generations of nodes for life
              .flash-forward-features-right
                %h3 Unlimited Drive Wear Guarantee
                %ul
                  %li Drives guaranteed against wear no matter the use cases or workloads.
                  %li Free replacements (if you ever need them)
            .section--item-container
              %hr
              .button-container
                %a.button-red.discover{href: flash_forward_path, target: "_blank"}
                  learn more
                  %span &#187
  .bottom-angle-section.two
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-two
          .container
            %h2 Built around how you purchase your infrastructure
            %h3 Which option is right for you?
            .span3.padding-top
              %i.icon-SoftwareAsCommSW
              %h5 Storage Applications
              %p Build your next generation storage infrastructure with the SolidFire SF Series family of storage appliances.
            .span3second.padding-top
              %i.icon-StorageNodes
              %h5 Software only
              %p Combine SolidFire's award-winning Element Operating System with your hardware supply chain.
            .span3third.padding-top
              %i.icon-ConvergedInfrastructure
              %h5 Converged infrastructure
              %p Take the fastest path to cloud with SolidFire's Agile Infrastructure &#45; pre&#45;validated reference designs that allow you to go from zero to cloud in under 90 minutes.
            .span3last.padding-top
              %i.icon-IaaS2
              %h5 As a Service
              %p Consume SolidFire storage with guaranteed performance on-demand from the world's leading cloud service providers.

            .section--item-container
              %hr
              .span6
                %a.button-red.discover{href: how_to_buy_path}
                  how to buy
                  %span &#187
              .span6right
                %a.demo-button-red-outline.discover{href: infrastructure_continuum_path}
                  download the white paper
                  %span &#187

