.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_project_request_type.name
      .link
        = link_to 'Manage Project Request Types', cms_project_request_types_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Project Request Types', cms_project_request_types_path, :class => 'cms-white-button'
