.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Project Request Types

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_project_request_type_path}
        %span.plus +
        New Project Request Type

    .record-wrapper.events
      .record-email
        %span.title Types
      .record-destroy
        &nbsp;

    - @cms_project_request_types.each do |cms_type|
      .custom-landing-item
        .record-email
          = cms_type.name

        .record-destroy
          = link_to 'Destroy', cms_type, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_project_request_type_path(cms_type), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_project_request_type_path}
          %span.plus +
          New Project Request Type
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
