.resources
  .resources__container
    %p
      %h2
        The type
        =  @cms_project_request_type.name
        has been successfully created.
    .back-btn
      = link_to 'project request types', cms_project_request_types_path, :class => 'cms-red-button'