@import "variables";


#page-container {
  height: 2000px;
}

.berlin-live__container {
  @include container(960px);
}

p, li {
  font-size: 16px;
  line-height: 30px;
}

h2 {
  @include font-size(36px);
}

h3 {
  @include font-size(22px);
}

.berlin-live .logo-row .icon-SFNTAPP-HZ-Logo-Black {
  color: $red-01;
  display: block;
  margin-top: 50px;
  @include font-size(45px);
}

.span12 {
  margin: 0;
}

#gk-header {
  background: transparent!important;
  overflow: hidden;
}

.video-div {
  margin-top: 50px;
  position:absolute;
  height:100%;
  width:200%;
  left:-50%;
  z-index: -1000;
}

.video-dark-overlay {
  opacity: 0;
  position:absolute;
  height:100%;
  width:200%;
  left:-50%;
  z-index: -900;
  background-color: #4b4b4b;
}

iframe {
  position:absolute;
  top: -350px;
  margin: auto;
  min-height:100%;
  min-width:50%;
}

.berlin-live {
  width:100%;
  position: fixed;
  float: left;
  overflow: hidden;
  padding: 0 20px;
  margin-top: -30px;
  height: 2000px;

  h1 {
    @include font-size(42px);
    font-weight: 500;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    color: white;
    line-height: 75px;
    margin-top: 130px;
    margin-bottom: 0;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
  }

  h3 {
    color: white;
    text-align: center;
    font-weight: 300;

    span {
      font-weight: 500;
    }
  }

  .logo-row {
    width: 100%;
    float:left;
    margin-bottom: 50px;

    .icon-SFhztLogo {
      @include font-size(26px);
      color: #FFF;
      float: left;
      margin: 50px 0 0 20px;
    }
  }

  .berlin-live--top-cta {
    width: 100%;
    float: left;
    text-align: center;
  }

  .link-margin-right {
    margin-right: 25px;
  }

  .button-blue {
    background-color: #0CA2B3;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border: none;
    margin-top: 30px;
    transition: background-color 0.5s ease;
  }

  .button-blue:hover {
    background-color: #248397;
    color: white;
    text-decoration: none;
  }

}

.what-is-berlin-live {
  width: 100%;
  position: relative;
  float: left;
  background-color: white;
  padding: 70px 20px 80px 20px;

  h2 {
    text-align: center;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #4b4b4b;
  }

  p.center {
    text-align: center;
    padding: 0 30px;
    color: #4b4b4b;
  }
  ul li {
    color: #4b4b4b;
  }

  .center-block {
    padding-top: 30px;
    margin: 0 auto;
    @include container(500px)
  }
}

.one-on-one {
  background-color: $grey-04;
  width: 100%;
  position: relative;
  float: left;

  .span7 {
    margin: 0;
  }

  .span5last {
    margin: 0;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 10px;
  }

  h2, p {
    color: white;
  }

  form {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 20px 60px 40px;
    width: 100% !important;
    max-width: 363px;

    input {
      max-width: 100% !important;
      height: 40px !important;
      margin-bottom: 5px !important;
    }

    h4 {
      font-size: 22px;
      font-weight: 300;
    }

    label {
      display: none !important;
    }
  }
}

.no-compromises {
  background: $red-01;
  width: 100%;
  position: relative;
  float: left;

  .span6, .span6right {
    margin: 0;
  }

  h1 {
    color: white;
    text-align: center;
    font-weight: 300;
  }
  p {
    color: white;
  }
}


.disclaimer {
  width: 100%;
  position: relative;
  float: left;
  background-color: white;
  padding: 50px 20px;

  p {
    @include font-size(12px);
    text-align: left;
    border-bottom: solid 1px $grey-01;
    padding-bottom: 50px;
  }
}

footer {
  background-color: white;
  margin-top: 0;
}

@media(min-width: 914px) {
  h1 {
    line-height: 60px !important;
  }

  h2 {
    line-height: 50px;
  }

  .berlin-live {
    height: 500px;
  }

  .what-is-berlin-live {
    margin-top: 470px;
  }

  .one-on-one {
    padding: 70px 20px 50px 20px;
  }

  .span7 {
    @include span(7 of 12);
    padding-right: 150px;
  }

  .span5last {
    @include span(5 of 12 last);
  }

  .span6 {
    @include span(8 of 12);
  }

  .span6right {
    @include span(4 of 12 last);
  }

  .no-compromises {
    padding: 70px 20px 46px 20px;

    img {
      position: absolute;
      margin-left: -70px;
      margin-top: -10px;
    }
  }
}

@media (max-width: 913px) {
  h1 {
    line-height: 50px !important;
  }

  h2 {
    @include font-size(36px);
    line-height: 40px;
  }

  .berlin-live {
    height: 500px;
  }

  .what-is-berlin-live {
    margin-top: 500px;
  }

  .one-on-one {
    padding: 40px 20px 90px 20px;
  }

  .span7, .span5last, .span6, .span6right {
    @include span(12 of 12);
  }

  .span7 {
    padding-right: 0;
  }

  form {
    margin: 0 auto !important;
  }

  .what-is-berlin-live {
    ul {
      padding-left: 20px;
    }
  }

  .one-on-one {
    h2, p {
      text-align: center;
    }

    p {
      margin-bottom: 50px;
    }
  }

  .no-compromises {
    padding: 70px 20px 0px 20px;

    img {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 0;
    }

    p {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  @media(max-width: $phone) {
    h1 {
      line-height: 50px !important;
    }

    h2 {
      @include font-size(36px);
      line-height: 40px;
    }

    .berlin-live {
      height: 600px;
    }

    .what-is-berlin-live {
      margin-top: 600px;
    }
  }
}


