@import "variables";

.direct-mail {
  width:100%;
  position: relative;
  float: left;
  margin-top: 120px;
}

.direct-mail__container {
  @include container(960px);
  padding: 0 20px;

  span {
    font-weight: 600;
    text-transform: capitalize;
  }
}

.direct-mail-wrapper {
  @include span(12 of 12 last);

  h1 {
    text-align: left;
    @include font-size(40px);
  }

  img {
    margin: 0 0 25px 0;
    text-align: left;
  }

  .direct-mail-content {
    @include span(8 of 12);

    ul {
      margin-left: 25px;
      @include font-size(15px);
      line-height: 26px;
      margin-top: 25px;
    }

    p {
      @include font-size(15px);
      line-height: 26px;
    }
  }

  .direct-mail-form {
    @include span(4 of 12 last);
    background-color: $alt-grey;
    padding: 20px;
    border: solid 1px $grey-01;
  }
}

h4 {
  @include font-size(24px);
  font-family: "Source Sans Pro",sans-serif;
  line-height: 34px;
  font-weight: 400;
}

@media(max-width: $tablet - 1) {
  .direct-mail-wrapper .direct-mail-content, .direct-mail-wrapper .direct-mail-form {
    width: 100%;

  }
}