@import "variables";

.mtfbwy {
  width:100%;
  float: left;
  padding: 0 20px;
  margin-top: 50px;

  h1 {
    @include font-size(38px);
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro",sans-serif;
    color: $red-01;
    text-align: left;
  }

  h2 {
    @include font-size(58px);
    font-weight: 400;
    text-align: left;
    border-top: dotted 2px $grey-02;
    border-bottom: dotted 2px $grey-02;
    padding: 25px 0;
    line-height: 55px;
  }
  
  h3 {
    color: $red-01;
    font-weight: 300;
    text-align: center;
    line-height: 40px;

    span {
      font-weight: 600;
    }
  }

  .full{
    color: $solidfire-red;
  }
}

.mtfbwy__container {
  @include container(1140px);
}

.mtfbwy__container {

  .mtfbwy-left-column {
    @include span(6 of 12);

    p span {
      font-weight: 600;
    }

    p {
      @include font-size(20px);
    }

    p.gartner-terms {
      @include font-size(12px);
      margin-top: 40px;
    }

    img {
      margin: 0;
    }

    .mtfbwy-sf-logo {
      margin-top: 30px;

      .icon-SFNTAPP-HZ-Logo-Black {
        color: $red-01;
        @include font-size(30px);
        margin-top: 30px;
      }

      a.mtfbwy-terms {
        color: $red-01;
        text-decoration: none;
        @include font-size(14px);
        font-weight: 500;
      }

      a.mtfbwy-terms:hover {
        color: $red-04;
      }
    }

  }

  .mtfbwy-right-column {
    @include span(6 of 12 last);

    .mtfbwy-form-wrapper {
      background-color: $alt-grey-03;
      border: solid 1px $grey-02;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      min-height: 300px;
      position: relative;
      width: 500px;

      .mktoForm {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
      }

      .mktoButton {
        width: 250px !important;
        margin-left: -12px;
      }

      select#Project_Capacity_Requirements__c {
        width: 250px !important;
      }
    }

    .mtfbwy-form-absolute {
      position: absolute;
      z-index: 10;
      width: 100%;
    }
  }

}

.mtfbwy-robot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 646px;
  height: 726px;

  img {
    margin: 0;
  }
}

.mtfbwy-robot-small {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 427px;
  display: none;

  img {
    margin: 0;
  }
}

#mtfbwy-terms-page {
  display: none;
}

@media (max-width: 1140px - 1 ) {

  .mtfbwy-robot-small {
    display: block;
  }

  .mtfbwy-robot {
    display: none;
  }

  .mtfbwy__container .mtfbwy-right-column .mtfbwy-form-wrapper {
    width: 45%;
  }
}

@media (max-width: $tablet) {

  .mtfbwy-robot-small {
    display: none;
  }

  .mtfbwy__container .mtfbwy-left-column, .mtfbwy__container .mtfbwy-right-column .mtfbwy-form-wrapper {
    width: 100%;
  }

  .mtfbwy__container .mtfbwy-right-column {
    width: 100%;
    margin-top: 30px;
  }

  .mtfbwy__container .mtfbwy-right-column .mtfbwy-form-absolute {
    position: relative;
  }
  
}