@import "variables";

$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

#idc {
  button.mktoButton {
    background-color: $red-01 !important;
    border: none !important;
    transition: background-color 0.2s ease;

  }

  button.mktoButton:hover {
    background-color: $red-03 !important;
  }
}
.idc-section {
  width:100%;
  position: relative;
  float: left;

  p {
    font-size: 18px;
    line-height: 30px;
  }

  h1 {
    line-height: 1.2em;
    text-align: left;
  }

  h2 {
    line-height: 40px;
  }

  .span12 {
    margin: 0;
    width: 100%;
  }

  .span6 {
    margin: 0;
  }
}


.idc-section.one {
  .red {
    background-color: $red-01;
    padding: 80px 20px;

    .red-container {
      @include container(480px);

      h1, h2, p {
        color: white;
      }

      .logo {
        max-width: 200px;
        padding-bottom: 30px;
      }

      .report {
        padding-bottom: 30px;
      }
    }
  }

  .white {
    padding: 80px 20px;

    .white-container {
      @include container(480px);

      .contents {
        .text-input {
          height: 40px;
          width: 100%;
          max-width: 350px;
          padding-left: 10px;
          font-size: 14px;
          margin-bottom: 10px;
        }

        .checkbox {
          font-size: 14px;
          margin-right: 10px;
        }

        .small-text {
          font-size: 14px;
          padding-top: 20px;
        }

        span {
          color: $red-01;
        }
      }
    }
  }
}

.idc-section.two {
  padding: 80px 20px;
  background-color: #f2f2f2;
  .container {
    @include container(960px);
  }

  h2 {
    padding-bottom: 50px;
  }

  p {
    padding-right: 30px;
  }

  p.bold {
    font-weight: 500;
  }

  .max-height {
    height: 120px;
  }
}

@media(min-width: $tablet) {
  .red, .white {
    width: 50%;
  }
  .red {
    .red-container {
      float: right;
      padding-right: 30px;
    }
  }

  .white {
    .white-container {
      float: left;
      padding-left: 30px;
      margin-top: 100px;
    }
  }
  .span3 {
    @include span(3 of 12);
    margin: 0;
  }
}

@media(max-width: $tablet - 1) {
  h1.idc {
    margin-top: 28px;
  }

  .span6 {
    width: 100%;
    float: none;
    clear: both;
  }

  .red {
    .red-container {
      padding-right: 0;
      width: 100%;
    }
  }

  .white {
    .white-container {
      margin: 0 auto;
      @include container(480px);
      padding-left: 0;
      margin-top: 0;
      float: none;
      display: block;
    }
  }

  .span3 {
    @include span(12 of 12);
    padding-bottom: 40px;
  }

  .idc-section.two {

    .container {
      @include container(480px)
    }
  }
}