@import "variables";

.vmworld {
  width:100%;
  position: relative;
  float: left;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro",sans-serif;
  }

  h2 {
    @include font-size(20px);
    font-weight: 200;
    text-align: center;
  }

  .full{
    color: $solidfire-red;
  }
}

.openstack-tokyo__container {
  @include container(1200px);
}

.openstack-tokyo-content__container {
  @include container(980px);
}

.vmworldvip__container {
  @include container(1000px);
}

.openstack-tokyo {

  .openstack-tokyo-content__container {
    .meet-wmworld {
      background-image: none;
      padding: 10px 30px;
    }

    .great-feats {
      height: auto;
    }

    .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date] {
      margin-left: 20px !important;
      margin: 8px;
    }


    .mktoForm button.mktoButton {
      width: 250px !important;
      margin-left: 15px;
    }

    .booth-bold {
      font-weight: 600;
    }

    .mktoForm {
      margin-left: -8px;
    }
  }

  .vmworld-padding {
    width:100%;
    position: relative;
    float: left;
    padding: 0 20px;
  }

  header{
    width: 100%;
    height: 70px;
    background-color: $red-01;
    margin-bottom: 25px;
    padding: 0 20px;

    .header-content{
      max-width: 1200px;
      margin: auto;

      .vmworld-logo{
        margin-top: 20px;
      }

      .sf-vmworld-logo{
        margin-top: 23px;
        margin-right: 8px;
      }

      .social{
        float: right;
        margin-top: 15px;

        p{
          color: $white;
          float: left;
          margin-right: 15px;
        }

        img{
          margin-top: 12px;
        }

        .twitter, .linkedin, .facebook, .youtube, .slide-share, {
          margin-right: 12px;
        }

        .linkedin, .youtube, .google{
          margin-top: 10px;
        }

        .slide-share{
          margin-top: 9px;
        }
      }
    }

    .header-content-images {
      width:60%;
      float:left;
      text-align:left;

      img.elio-weights {
        padding:0;
        margin-left:0;
        padding-left: 10px;
      }

      a {
        display: inline-block;
        float: left;
      }

      i {
        color: white;
        font-size: 2em;
        position: relative;
        top: 30px;
      }

      span {
        float: right;
        margin-top: 0;
        position: relative;
        top: -12px;
        left: 20px;
      }
    }

    .header-content-social {
      width:40%;
      float:left;
    }

    span {
      @include font-size(26px);
      font-weight: 500;
      display: inline-block;
      margin-top: 22px;
      color: #FFF;
    }
  }

  .mobile{
    display: none;
  }

  .left{
    width: 81%;
    float: left;
  }

  .left-full {
    width: 100%;
    float: left;
  }

  .right{
    width: 19%;
    margin-right: 0;
    float: left;
  }

  .great-feats{
    height: 484px;
    background: image-url("landing_pages/openstack-tokyo.jpg") no-repeat;
    max-width: 540px;
    float: left;
    border: $grey-01 1px solid;
    border-radius: 5px;
    margin-bottom: 35px;
    padding-top: 10px;

    strong{
      font-weight: 600;
    }

    .great-feats-logo{
      margin: 0 0 25px auto;
      float: none;
      padding: 0 40px;

      .icon-SFNTAPP-HZ-Logo-Black {
        color: $red-01;
        @include font-size(28px);
      }


      img{
        float: none;
      }

      p{
        text-align: left;
        color: $grey-04;
        @include font-size(24px);
        margin: 0 auto;
        width: 100%;
      }

      span.main {
        font-weight: 400;
        @include font-size(34px);
        line-height: 42px;
      }

      span.highlight {
        background-color: #ffd835;
        display: inline-block;
        padding: 5px;
        margin-bottom: 10px;
      }

      span.red {
        color: $red-01;
        font-weight: 400;
      }

    }

    .sub-text-tokyo {
      @include font-size(20px);
      display: inline-block;
      padding: 0 40px;
      font-weight: 200;
      line-height: 30px;
      background-color: #c8d2d3;
    }

    .booth-info{
      width: 100%;
      padding: 20px 0 35px 0;

      .booth-logo {
        max-width: 355px;
        margin: 0 auto;
        padding-top: 7px;

        span {
          @include font-size(20px);
          font-weight: 600;
        }

        span.small {
          @include font-size(14px);
        }

        p {
          color: $grey-04;
          @include font-size(18px);
          margin: 0;
          line-height: 24px;
          text-align: center;
        }

        .booth-logo-img{
          margin-right: 20px;
        }

        .bb8-div {
          position: absolute;
          width: 125px;
          height: 153px;
          margin-left: 260px;
          margin-top: -60px;
        }
      }
    }
  }

  .meet-wmworld {
    float: left;
    max-width: 340px;
    background-color: #CDD3D5;
    border: #999 1px solid;
    border-radius: 5px;
    margin: 0 30px 0 46px;
    padding: 10px 40px;
    box-shadow: inset 1px 1px 100px #999;
    height: 484px;
    margin-bottom: 35px;
    background: image-url("landing_pages/vmware-bike-desktop.png") no-repeat;

    p {
      text-align: center;
      color: #000;
    }

    .headline {
      color: $grey-04;
      @include font-size(22px);
      font-weight: 400;
      padding: 0;
    }

    p.meet {
      margin:0;
      padding:0;
      @include font-size(14px);
    }
  }

  .vmware-expert{
    background-color: $grey-03;
    border: $grey-03 1px solid;
    border-radius: 5px;
    box-shadow: inset 1px 1px 100px #444;
    max-width: 242px;
    float: left;
    margin-bottom: 32px;


    img{
      margin-top: 0;
    }

    p{
      color: $white;
      @include font-size(15px);
      padding: 0 28px 20px 28px;
      text-align: center;
    }

    .vexpert-vip{
      @include font-size(22px);
      font-weight: 400;
      text-align: center;
      padding: 0 0 15px;
    }

    a{
      text-align: center;
    }
  }

  .button-blue {
    background-color: #459DC4;
    color: $white;
    text-decoration: none;
    padding: 7px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: center;
    display: block;
    border: none;
    transition: background-color 0.5s ease;
    max-width: 200px;
    margin: 0 auto 24px;
  }

  .button-blue:hover {
    background-color: #248397;
    color: $white;
  }

  .schedule{
    width: 100%;
    float: left;

    p {
      text-align: center;
      @include font-size(26px);
      font-weight: 300;
      padding-bottom: 15px;
      color: $grey-04;

    }

    table {
      width:95.5%;
      border:solid 1px $grey-04;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      border-collapse:separate;
      margin-bottom: 30px;
    }

    td {
      padding: 20px 5px 20px 20px;
      width: 20%;
      @include font-size(16px);
      color: $grey-03;
      font-weight: 300;
      line-height: 24px;
      vertical-align: top;

      a {
        color: $blue-01;
        font-weight: 500;
      }

      a:hover {
        color: $blue-04;
      }

      .addthisevent-drop {
        color: $green-02;
        font-weight: 500;
        z-index: 1;
        @include font-size(14px);
        font-family: "Source Sans Pro",sans-serif;
      }
    }

    a.signup {
      color: $aqua-04;
    }

    a.signup:hover {
      color: $aqua-01;
    }

    .right-border {
      border-right: solid 1px $grey-04;
    }

    .bottom-border {
      border-bottom: solid 1px $grey-04;
      @include font-size(16px);
      font-family: "Source Sans Pro",sans-serif;
    }

    th {
      background-color: $red-02;
      color: #FFF;
      font-weight: 200;
      @include font-size(22px);
      line-height: 30px;
      padding: 10px 0;

      span {
        font-weight: 400;
        @include font-size(20px);
        display: block;
      }

      span.date {
        font-weight: 200;
        display: block;
        margin-top: -6px;
        @include font-size(18px);
      }
    }

  }

  .title-sf-red {
    color: $red-01;
  }

  .schedule-mobile {
    width: 100%;
    display: none;

    .schedule-mobile-header {
      background-color: $red-02;
      color: #FFF;
      text-align: center;
      font-weight: 300;
      padding: 20px 0;
      @include font-size(20px);
      margin-top: 20px;
    }

    .schedule-mobile-content {
      margin-left: 30px;
      @include font-size(18px);
      margin-top: 25px;
      line-height: 22px;
      color: $red-01;

      a {
        color: $blue-01;
        font-weight: 500;
        @include font-size(18px);
      }

      a:hover {
        color: $blue-04;
      }

      .addthisevent-drop {
        color: $green-02;
        font-weight: 500;
        @include font-size(18px);
        z-index: 1;
      }

      .schedule-mobile-content-grey-text {
        color: $grey-04;
      }

      .margin-bottom {
        margin-bottom: 30px;
      }
    }
  }

  .vmworld-footer {
    background-color: $red-01;
    width: 100%;
    float:left;

    .social {
      img {
        margin-right: 12px;
        float: none;
      }
    }
  }

  .schedule-main-header {
    font-weight: 500;
    text-align: center;
    float: left;
    @include font-size(24px);
    color: $grey-04;
    width: 100%;
    margin-bottom: 25px;
  }

  .schedule-details-wrapper {
    width: 97%;
    float: left;

    .schedule-header {
      background-color: $red-01;
      color: #FFF;
      padding: 12px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      font-weight: 200;
      @include font-size(18px);
    }

    .schedule-speaker-titles {
      font-weight: 300;
      @include font-size(18px);
      color: $red-01;
      line-height: 22px;
      margin-bottom: 20px;

      .date-time {
        font-weight: 500;
      }
    }

    .schedule-body {
      @include font-size(18px);
      line-height: 22px;
      color: $grey-04;
      font-weight: 300;
      padding-left: 12px;
      margin-top: 20px;
      margin-bottom: 25px;

      a {
        color: $blue-01;
        text-transform: uppercase;
        font-weight: 400;
      }

      a:hover {
        color: $blue-04;
      }

    }

    .schedule-body--note {
      font-style: italic;
      margin-top: 25px;
    }
  }

  .schedule-table {
    border: 1px solid #555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    max-width: 875px;
    display: inline-block;
    width: 100%;

    .day {
      border-right: 1px solid #C0BDBD;
      width: 20%;
      float: left;
      height: 430px;

      .day-header {
        height: 80px;
        background-color: $red-01;
        box-shadow: inset 0px 10px 10px $red-03;

        p {
          color: $white;
          @include font-size(20px);
          font-weight: 400;
          text-align: center;
        }

        span {
          font-weight: 300;
        }
      }
      .day-agenda {
        padding: 10px 0 20px 20px;
        p {
          @include font-size(16px);
          padding-bottom: 10px;
        }

        a {
          font-weight: 400;
          color: $blue-01;
        }
      }
    }

    .last {
      border: none;
    }
  }

  .thirsty-bear {
    background-color: #798890;
    border: #798890 1px solid;
    border-radius: 5px;
    box-shadow: inset 1px 1px 100px #444;
    max-width: 242px;
    float: left;
    padding-top: 10px;
    margin-bottom: 15px;



    p {
      color: $white;
      @include font-size(15px);
      padding: 0 28px 15px 28px;
      text-align: center;
    }

    .party {
      @include font-size(22px);
      font-weight: 400;
      text-align: center;
      padding: 0;
    }

    .time {
      @include font-size(16px);
      font-weight: 400;
      text-align: center;
    }

    a {
      text-align: center;
    }

    img {
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .fine-print{
    margin: 50px 0 ;
    width: 100%;
    float: left;

    p, ul, li{
      @include font-size(10px);
      font-style: italic;
      color: #555;
    }
  }
}

.vmworldvip--top-red-wrapper {
  @include span(12 of 12 last);
  background-color: $red-01;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  .vmworldvip--top-red-wrapper--image {
    @include span(3 of 12);

    img {
      margin: 0 20px 20px 30px;
    }
  }

  .vmworldvip--top-red-wrapper--text {
    @include span(9 of 12 last);
    color: #FFF;

    h2 {
      color: #FFF;
      text-align: left;
      margin: 40px 0 0 0;
      @include font-size(24px);
    }

    li, p {
      color: #FFF;
    }

    li {
      margin: 5px 0 0 35px;
    }
  }
}

.vmworldvip--events-wrapper {
  width: 47.5%;
  float: left;
  margin-right: 5%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px $grey-04;
  text-align: center;
  padding: 0 20px;
  margin-top: 30px;

  h3 {
    margin: 0;
    @include font-size(26px);
  }

  p.event-details {
    font-weight: 600;
  }

  a {
    display: inline-block;
    background-color: $blue-02;
    color: #FFF;
    text-transform: uppercase;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  a:hover {
    background-color: $blue-04;
  }

  a.rsvp {
    display: inline-block;
    color: $blue-01;
    text-transform: uppercase;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px $blue-02;
    background-color: #FFF;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  a.rsvp:hover {
    background-color: $blue-04;
  }

  img.burger-image {
    margin-bottom: 26px;
    margin-top: 38px;
  }

}

#inline {
  display:none;
  width:360px;

  h3 {
    margin-bottom: 0;
  }
}

#inline-lunch-n-learn, #inline-confidential, #inline-lunch-n-learn-vmware, #inline-government, #inline-breakfast-channel {
  display: none;
}

#mktoForm_2504 {
  padding: 20px;
}

.vmworldvip--events-wrapper-right {
  width: 47.5%;
  float: left;
  margin-right: 0;
}

.vmworld-vip-left-column {
  float: left;
  width: 100%;


  .vmworld-vip-left-column__top-box {
    width: 100%;
    float: left;
    background-color: $red-01;

    .vmworld-vip-left-column__top-box--game-box {
      width: 33%;
      float: left;
      padding-right: 20px;
    }

    .vmworld-vip-left-column__top-box--text-area {
      width: 100%;
      float: left;
      text-align: center;

      p {
        color: #FFF;
        @include font-size(22px);
        padding: 20px;
      }

      .vmworld-vip-left-column__top-box--text-area--both-info {
        width: 100%;
        float: left;
        @include font-size(20px);
        font-weight: 200;
        margin: 0 auto;
        line-height: 30px;
        text-align: center;
        background-color: $red-04;
        padding: 10px 0 5px 0;

        .left-top-box {
          width: 50%;
          float: left;
          text-align: right;

          img {
            display: inline;
            padding-right: 20px;
          }
        }

        .right-top-box {
          width: 50%;
          float: left;
          text-align: left;
          color: #FFF;
          line-height: 22px;
          padding-top: 15px;

          span {
            font-weight: 500;
          }
        }
      }
    }
  }

  .vmworld-vip-left-column__bottom-content {
    @include font-size(24px);
    float: left;
    margin-top: 50px;
    line-height: 30px;
  }

  .vmworld-vip-left-column__lunch {
    margin-top: 30px;
    float: left;
    border-bottom: solid 1px $grey-02;
    padding-bottom: 40px;

    img {
      float: left;
      padding-right: 25px;
    }

    .vmworld-vip-left-column__lunch--text {
      width: 76%;
      float: left;
      @include font-size(20px);
      font-weight: 200;

      span {
        font-weight: 500;
      }

      ul {
        margin: 20px 0 0 30px;
        color: $grey-03;

        li {
          line-height: 30px;
        }
      }

      p {
        color: $grey-03;
      }
    }

    .button-width {
      width: 280px;
    }

  }

  .vmworld-vip-left-column__lunch:last-of-type{
    border-bottom: none;
  }
}

.vmworld-vip-right-column {
  @include span(4 of 12 last);
}

.mobile-right {
  display: none;
}

.mobile-social {
  background-color: $red-01;
  width: 100%;
  float: left;
  text-align: center;
  display: none;
  margin-top: 25px;

  img {
    display: inline-block;
    margin: 12px 5px;
  }

  p {
    color: #FFF;
  }
}

#inline-dinner {
  display:none;
  width:360px;
  z-index:500;

  h3 {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

#inline {
  display:none;
  width:360px;
}

.vmworld .great-feats .great-feats-logo p {
  width: 82%;
}

ul.breakfast {
  margin: 25px;
}

@media (max-width: 1230px ) {
  .openstack-tokyo .meet-wmworld, .openstack-tokyo .great-feats {
    margin: 0 auto 30px;
    float: none;
  }

  .openstack-tokyo .right {
    margin-left: 2%;
    width: 17%;
  }
}

/* marketo form over rides */
#mktoForm_2756 input, #mktoForm_2757 input, #mktoForm_2755 input, #mktoForm_2751 input {
  margin-left: 20px !important;
  margin-top: 0 !important;
}

#mktoForm_2756 button, #mktoForm_2757 button, #mktoForm_2755 button, #mktoForm_2751 button {
  margin-left: 18px !important;
}


@media (max-width: $tablet - 1px ) {
  .openstack-tokyo header .header-content-social {
    display: none;
  }

  .openstack-tokyo .right, .vmworld .left {
    width: 100%;
  }

  .openstack-tokyo .schedule-mobile {
    display: block;
  }

  p.mobile-header {
    @include font-size(26px);
    font-weight: 300;
    text-align: center;
    padding: 15px;
  }

  .mobile-right, .mobile-social {
    display: block;
  }

  .right {
    display: none;
  }
}

@media (max-width: $phone) {

  .openstack-tokyo .great-feats {
    height: auto;
    background-color: #c8d2d3;
    max-width: 100%;
    padding-bottom: 0;
  }

  .openstack-tokyo .great-feats .great-feats-logo {
    margin-top: 30px;
  }

  .openstack-tokyo .meet-wmworld {
    height: auto;
  }

  .openstack-tokyo .schedule-mobile {
    display: block;
  }
}