@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);
//

@include border-box-sizing;

i {
  font-size: 3em;
  position: relative;
  top: 30px;
}

.container {
  @include container(960px);
  padding-right: 20px;
  padding-left: 20px;
}

.white-ribbon {
  width: 100%;
  position: relative;
  float: left;
  height: 100px;

  .page-top-margin {
    margin-top: 200px;
  }

  img.solidfire-logo {
    position: absolute;
    margin-top: 40px;
    width: 220px;
  }
}

.red-ribbon {
  width: 100%;
  position: relative;
  float: left;
  background-color: $red-01;

  h1 {
    display: block;
    margin: 0 auto;
    color: $white;
    font-weight: 500;
    line-height: 50px;
    padding-top: 40px;
    padding-bottom: 45px;
    max-width: 700px;
  }
}

.main {
  width: 100%;
  position: relative;
  float: left;
  padding: 80px 0px 0px;

  .span12, .span7, .span5right {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a.download {
    font-size: 18px;
  }

  .button--red {
    background-color: $red-01;
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .button--red:hover {
    background-color: $red-04;
    a {
      color: white;
    }
  }

  a {
    color: $red-01;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  a:hover {
    color: $red-04;
  }
}

@media(min-width: $tablet) {
  .span7 {
    @include span(7 of 12);
  }

  .span5right {
    @include span(5 of 12 last);
    padding-top: 30px;
    padding-left: 40px;
  }
}

@media(max-width: $tablet - 1) {
  .span7, .span5right {
    width: 100%;
    float: none;
    margin: 0;
    clear: both;
  }

  .span5right {
    padding-right: 0;
  }

  .main {
    p {
      text-align: center;
    }

    button {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}

