@import "variables";

.unstoppable {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;
}

.unstoppable__container {
  @include container(960px);

  .pd1-logo {
    margin-bottom: 30px;
  }

  h1 {
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    color: $grey-04;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    @include font-size(34px);
  }

  p {
    color: $grey-02;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    @include font-size(16px);
    text-align: center;
    width: 60%;
    margin: 15px auto;
  }

  .full-row {
    width: 100%;
    float: left;
  }
}

footer {
  background-color: transparent;
  margin-top: 0;
}

.unstoppable--red-background {
  width: 100%;
  height: 500px;
  background-color: $red-01;
  margin-top: -75px;
}

i.icon-SFhztLogo {
  color: #FFFFFF;
  @include font-size(24px);
}