.pr
  .pr__container
    %h1 Press Releases
    .pr-wrapper
      - @pr.each do |item|
        .pr-item
          .pr-item__title-index
            = link_to item.title, '/press-releases/' + item.slugs[0]
          .pr-item__date-pub-index
            = item.pub_date.strftime("%B %d, %Y")
    .hidden-fileds
      %input{:type => 'hidden', :id => 'current_page'}
      %input{:type => 'hidden', :id => 'show_per_page'}
    #page-navigation



