.pr
  .pr__container
    .pr-social
      .pr-social-container
        = link_to 'Twitter', 'https://twitter.com/home?status=' + @pr.title.to_param + '%20' + @pr.short_url + '%20%40solidfire', :target => '_blank', :class => 'twitter', :title => 'Twitter'
        = link_to 'Linkedin', 'https://www.linkedin.com/shareArticle?mini=true&url=' + @pr.short_url + '&title=' + @pr.title.to_param + '&summary=&source=', :target => '_blank', :class => 'linkedin', :title => 'Linkedin'
        = link_to 'Google +', 'https://plus.google.com/share?url=' + @pr.short_url, :target => '_blank', :class => 'gplus', :title => 'Google +'
        = link_to 'Facebook', 'https://www.facebook.com/sharer/sharer.php?u=' + @pr.short_url, :target => '_blank', :class => 'facebook', :title => 'Facebook'
    .press-header
      %h1= @pr.title
    .pr-wrapper-single
      .pr-item__sub-title
        = @pr.sub_title
      .pr-item__date-pub
        %p
          #{@pr.location},
          = @pr.pub_date.strftime("%B %d, %Y")
        = @pr.body.try(:html_safe)
        %p
          %span
            About SolidFire
        %p
          SolidFire, now part of NetApp, Inc. (NASDAQ: NTAP), is the market leader in all-flash storage systems built for the Next Generation Data Center. Leveraging SolidFire’s all-flash architecture, with volume-level Quality of Service (QoS) controls, customers now can guarantee storage performance to thousands of applications within a shared infrastructure. Coupling this functionality with in-line data reduction techniques and system-wide automation results in substantial capital and operating cost savings relative to traditional disk and basic all-flash storage systems.
        = @pr.about.try(:html_safe)