@import "variables";


.angle-section {
  width: 100%;
  position: relative;
  float: left;
  .container {
    @include container(960px);
  }
}

.skew-fix-left {
  width: 100%;
  float: left;
  @include transform(skewY(1deg));
  padding: 0 20px;
}

.section-top-left {
  background-color: #3f3f3f;
  margin: 100px 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  min-height: 200px;
  background: #3f3f3f;
  @include transform(skewY(-1deg));
}

.section-under-left {
  background-color: #2ca1b8;
  margin: 100px 0;
  z-index: 2;
  position: relative;
  left: 0;
  top: -36px;
  width: 100%;
  min-height: 200px;
  background-color: #2ca1b8;
  @include transform(skewY(2deg));
}

.skew-fix-right {
  width: 100%;
  float: left;
  @include transform(skewY(-1deg));
  padding: 0 20px;
}

.section-top-right {
  background-color: #3f3f3f;
  margin: 100px 0;
  z-index: 2;
  position: relative;
  left: 0;
  top: -36px;
  width: 100%;
  min-height: 200px;
  background: #3f3f3f;
  @include transform(skewY(1deg));
}


.section-under-right {
  margin: 100px 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  @include transform(skewY(-2deg));
}

.section-top-double {
  background-color: #3f3f3f;
  margin: 100px 0;
  z-index: 2;
  position: relative;
  left: 0;
  top: -36px;
  width: 100%;
  background: #3f3f3f;
  @include transform(skewY(1deg));

}

.top-grey-angle {
  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix {
    @include transform(skewY(-3deg));
  }
}

.bottom-angle-section {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 200px;

  .container {
    @include container(960px);
  }

  .section-top-left {
    @include transform(skewY(-2deg));
    background: #FFFFFF;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);
  }

  .section-under-left {
    top: -25px;
  }

  .skew-fix-left {
    @include transform(skewY(2deg));
  }
}

.bottom-angle-section-right {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 200px;

  .container {
    @include container(960px);
  }

  .section-top-right {
    background-color: #3f3f3f;
    margin: 100px 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
    min-height: 200px;
    background: #3f3f3f;
    padding-bottom: 200px;
    @include transform(3deg);
    background: #FFFFFF;
  }

  .section-under-right {
    top: -35px;

    background-color: #2ca1b8;
    margin: 100px 0;
    z-index: 2;
    position: relative;
    left: 0;
    top: -20px;
    width: 100%;
    min-height: 200px;
    background-color: #2ca1b8;
    @include transform(skewY(-2deg));
  }

  .skew-fix-right {
    @include transform(skewY(-3deg));
  }
}


.inner-angle-section {
  width:100%;
  position: relative;
  padding: 0 20px;
  float: left;
}

.red-under {
  background-color: $red-01;
}

.dark-red-under {
  background-color: $red-04;
}

.yellow-under {
  background-color: $yellow-01;
}

.dark-yellow-under {
  background-color: $yellow-04;
}

.blue-under {
  background-color: $blue-01;
}

.netapp-blue-under {
  background-color: #0077be;
}

.aqua-under {
  background-color: $aqua-01;
}
.off-white-top {
  background-color: $alt-grey-03;
}

.alternate-grey-top {
  background-color: $alternate-gray;
}

.dark-grey-top {
  background-color: $grey-04;
}

.white-top {
  background-color: white;
}

.two-tone {
  background-image: linear-gradient(bottom, #1ea2b2 50%, #2aa1c5 50%);
  background-image: -o-linear-gradient(bottom, #1ea2b2 50%, #2aa1c5 50%);
  background-image: -moz-linear-gradient(bottom, #1ea2b2 50%, #2aa1c5 50%);
  background-image: -webkit-linear-gradient(bottom, #1ea2b2 50%, #2aa1c5 50%);
  background-image: -ms-linear-gradient(bottom, #1ea2b2 50%, #2aa1c5 50%);
}

.white-blue {
  background-image: linear-gradient(bottom, #1ea2b2 50%, #FFF 50%);
  background-image: -o-linear-gradient(bottom, #1ea2b2 50%, #FFF 50%);
  background-image: -moz-linear-gradient(bottom, #1ea2b2 50%, #FFF 50%);
  background-image: -webkit-linear-gradient(bottom, #1ea2b2 50%, #FFF 50%);
  background-image: -ms-linear-gradient(bottom, #1ea2b2 50%, #FFF 50%);
}

.dark-grey-gradient {
  background: #414141;
  background-image: linear-gradient(51deg, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
}

.light-grey-gradient {
  background: #D6D5D5;
  background-image: linear-gradient(-35deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
}
