@import "variables";

.sub-nav{
  background-color: #fbfbfb;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;

  ul{
    list-style-type: none;
    padding-left: 0;

    li{
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 20px;

      a{
        color: $grey-03;
        text-transform: uppercase;
        font-weight: 400;
      }

      a:hover{
        color: $red-01;
      }
    }

    li.padding-right-wide {
      padding-right: 30px;
    }
  }
}

.sub-nav.platform {
  background-color: #F5F5F5;
}

.automated-management-nav {
  @extend .sub-nav;
  position: absolute;
  background-color: transparent;
   a {
     font-size: 13px;
   }
}

.hidden-nav {
  @extend .sub-nav;
  a {
    font-size: 13px;
  }
}

.hidden-nav {
  display: none;
  background-color: #fbfbfb;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;
  z-index: 1000;
}

.service-providers-nav {
  @extend .sub-nav;
  position: absolute;
  background-color: transparent;

  a {
    font-size: 14px;
  }
}

.sub-nav-with-demo-button {
  @extend .sub-nav;
  position: absolute;
  background-color: transparent;

  .demo-button-red {
    float: right;
    margin-top: -55px;
  }
}

.sub-nav-with-demo-button.hidden-nav {
  display: none;
  background-color: #fbfbfb;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;
  z-index: 1000;

  a {
    font-size: 15px;
  }
}

@media(max-width: $tablet - 1) {
  .sub-nav {
    margin-top: 0;
    position: absolute;
    top: 100px;
  }

  .sub-nav.agile {
    margin-top: 0;
    position: absolute;
    top: -55px;
  }
}

@media(max-width: $phone) {
  ul {
    li {
      width: 100%;
      padding-left: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media(max-width: 714px) {
  .sub-nav-with-demo-button {
    padding-bottom: 50px;

    .demo-button-red {
      float: none;
    }
  }
}