@import "variables";

.sub-navigation{
  background-color: $alt-grey-03;
  margin-top: 0px !important;
  z-index: 100;

  p{
    float: left;
    font-weight: normal;
  }

  ul{
    list-style-type: none;
    float: left;

    li{
      float: left;
      margin-right: 40px;

      a{
        color: $grey-02;
        @include font-size(14px);
      }

      a:hover{
        color: $red-01;
      }
    }
  }

  .pipe{
    margin: 16px 0px 16px 30px;
    font-size: 24px;
    font-weight: 300;
  }

  @media (max-width: $tablet - 1) {
    &.section { padding: 0px 0px 0px 10px; }

    .pipe { margin: 16px 0px 16px 10px; }
    ul {
      padding-left: 13px;
      li { margin-right: 15px; }
    }
  }
}

