@import "variables";

.support-sub-nav{
  background-color: #fbfbfb;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;

  .support-resources {
    padding-right: 150px;
  }

  .nav-button-two, .nav-button-three {
    margin-right: 20px;
  }

  ul{
    display: inline-block;
    float: left;
    list-style-type: none;
    padding-left: 0;

    li{
      display: inline-block;
      padding-right: 5px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 20px;

      a{
        color: $grey-02;
        text-transform: uppercase;
      }

      a:hover{
        color: $red-01;
      }
    }

    li.no-padding-left {
      padding-left: 0;
    }
  }
}

@media(min-width: $tablet) {
  .support-sub-nav {
    .buttons {
      display: inline-block;
      float: left;

      .button {
        display: inline-block;
        float: left;
      }
    }
  }
}

@media(max-width: $tablet - 1) {
  .support-sub-nav .support-resources {
    margin-bottom: 10px;
  }

  li.no-padding-left {
    margin-bottom: -10px;
  }
  .support-sub-nav {
    position: absolute;
    ul {
      li {
        display: block;
        width: 100%;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .buttons {
    display: block;
    float: left;
    padding-bottom: 30px;

    .button {
      display: block;
      width: 100%;
      float: left;
    }
  }
}

@media(max-width: 944px) {
  .buttons {
    margin-top: -40px;
  }
}

