%footer
  #top-footer-links
    .container
      .footer-search
        %form{:id => 'footer-search-form', :class => 'search-form', :method => 'get', :action => 'http://www.solidfire.com/search-results'}
          %label{:for => 'query-footer'}
          %input{:id => 'query', :class => 'nav-search', :type => 'text', :placeholder => 'Search', :name => 'q'}
      #footer-column-wrapper
        #footer-column-container
          .col1
            %div.column-widths
              %h3
                = link_to 'Why SolidFire?', why_solidfire_path, :class => 'why-sf-footer'
              %h3.platform
                = link_to 'platform ', platform_overview_path, :class => 'platform-footer'
              %ul
                %li
                  = link_to 'element software', elements_os_path, :class => 'element-software-footer'
                %li
                  = link_to 'SF series hardware', hardware_path, :class => 'nodes-footer'
                %li
                  = link_to 'support', support_path, :class => 'support-footer'
          .col2
            %div.column-widths
              %h3
                = link_to 'solutions', solutions_overview_path, :class => 'solutions-footer'
              %ul
                %li
                  = link_to 'openstack', openstack_path, :class => 'openstack-footer'
                %li
                  = link_to 'Cloudstack', cloudstack_path, :class => 'cloudstack-footer'
                %li
                  = link_to 'VMware', vmware_solutions_path, :class => 'vmware-footer'
                %li
                  = link_to 'cloud', cloud_orchestration_path, :class => 'cloud-footer'
                %li
                  = link_to 'vdi', vdi_path, :class => 'vdi-footer'
                %li
                  = link_to 'database', database_path, :class => 'database-footer'
                %li
                  = link_to 'Agile Infrastructure', agile_infrastructure_path, :class => 'agile-infrastructure-footer'
                %li
                  = link_to 'element x', elementx_path, :class => 'elementx-footer'
                %li
                  = link_to 'service providers', service_providers_path, :class => 'service-providers-footer'
          .col3
            %div.column-widths
              %h3
                = link_to 'how to buy', how_to_buy_path, :class => 'how-to-buy-footer'
              %h3.resources
                = link_to 'Resources', resources_path, :class => 'resources-footer'
              %ul
                %li
                  = link_to 'blog', 'http://www.solidfire.com/blog/', :class => 'blog-footer'
                %li
                  = link_to 'partner portal', 'https://solidfirepartners.force.com/CloudBuilders/portallogin', :class => 'partner-portal-footer'
          .col4
            %div.column-widths
              %h3
                = link_to 'Company', overview_path, :class => 'company-overview-footer'
              %ul
                %li
                  = link_to 'customers', customers_path, :class => 'customers-footer'
                %li
                  = link_to 'channel partners', channel_partners_path, :class => 'channel-partners-footer'
                %li
                  = link_to 'technology partners', technology_partners_path, :class => 'technology-partners-footer'
                %li
                  = link_to 'news', news_path, :class => 'news-footer'
                  &#47;
                  = link_to 'press releases', pr_index_path, :class => 'pr-footer'
                %li
                  = link_to 'events', events_path, :class => 'events-footer'
                %li
                  = link_to 'webinars', type_result_path('webinars'), :class => 'webinars-footer'
                %li
                  = link_to 'Contact Us', contact_path, :class => 'contact-footer'
  #bottom-section
    .container
      .ft-btm-col1
        %span
          Copyright &copy;
          = Time.now.year
          SolidFire All rights reserved.

        = link_to 'Terms of Use', legal_path, :class => 'legal-links terms-footer'
        = link_to 'Privacy Policy', privacy_path, :class => 'legal-links privacy-footer'
        = link_to 'Cookie Policy', cookies_path, :class => 'legal-links cookies-footer'
        .hide-mobile.legal-links Need help?
        = link_to 'Contact Us', contact_path, :class => 'legal-links contact-us contact-bottom-footer'
        &#124;&nbsp;
        %span.font-weight-thick 1-855.375.4742
      .ft-btm-col2
        #social-wrapper
          .social-container
            %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank', :title => 'Facebook', :class => 'facebook facebook-footer'}
              %i{:class => 'icon-Facebook facebook'}

            %a{:href => 'https://twitter.com/solidfire', :target => '_blank', :title => 'twitter', :class => 'twitter twitter-footer'}
              %i{:class => 'icon-Twitter twitter'}

            %a{:href => 'https://instagram.com/fueledbysolidfire/', :target => '_blank', :title => 'Instagram', :class => 'instagram instagram-footer'}
              %i{:class => 'icon-Instagram instagram'}

            %a{:href => 'https://plus.google.com/+Solidfire/posts', :target => '_blank',  :title => 'Google +', :class => 'gplus gplus-footer'}
              %i{:class => 'icon-GooglePlus gplus'}

            %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank', :title => 'YouTube', :class => 'youtube youtube-footer'}
              %i{:class => 'icon-Youtube youtube'}

            %a{:href => 'http://www.slideshare.net/SolidFireInc/', :target => '_blank', :class => 'slideshare slideshare-footer', :title => 'SlideShare'}
              %i{:class => 'icon-SlideShare slideshare'}