.header__container.fade-in-three
  .header__container--bsp-container.fade-in-three
    = link_to 'Resources', resources_path, :class => 'resources-header'
    = link_to 'Blog', 'http://www.solidfire.com/blog/', :class => 'blog-header'
    = link_to 'Support', support_path, :class => 'support-header'
    = link_to 'Partner Portal', 'https://solidfirepartners.force.com/CloudBuilders/portallogin', :class => 'partner-portal-header'
  .header__container--logo-container.fade-in-three
    .header__container--logo
      .header__container--logo__wrapper
        %a{:href => home_index_path, :id => 'sf-logo-top-nav'}
          %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.white-text
  .header__container--main-nav.fade-in-three
    .header__container--main-nav__item
      = link_to 'why SolidFire?', why_solidfire_path, :id => 'why-sf-nav', class: 'grey-text'
      = link_to 'why', why_solidfire_path, :id => 'why-sf-nav-mobile', class: 'grey-text'
    .header__container--main-nav__item
      .header__container--main-nav__item--vertical-bar.grey-text
        &#124;
    .header__container--main-nav__item
      = link_to 'platform', platform_overview_path, :id => 'platform', class: 'grey-text'
      .header__container--main-nav__item--rollover
      .header__container--main-nav__item__rollover-box.rollover-box-explore--margin-left
        .main-nav__item--wrapper.drop-down-nav
          .icon-wrapper
            %i{:class => 'icon-ElementOS element-icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'element software', elements_os_path, :class => 'element-software-header'
            The most complete storage operating system
          .icon-wrapper
            %i{:class => 'icon-StorageNodes storage-nodes-icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'sf series hardware', hardware_path, :class => 'nodes-header'
            Scale-out, all-flash storage nodes
          .icon-wrapper
            %i{:class => 'icon-Support support-icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'support', support_path, :class => 'support-item-header'
            Real-time support for total agility
    .header__container--main-nav__item
      = link_to 'solutions', solutions_overview_path, :id => 'solutions', class: 'grey-text'
      .header__container--main-nav__item--rollover
      .header__container--main-nav__item__rollover-box.header__container--main-nav__item__rollover-box--use-cases.rollover-box-use--margin-left
        .main-nav__item--wrapper--left
          .main-nav__item--wrapper.drop-down-nav
            .icon-wrapper
              %i{:class => 'icon-OpenStack icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'openstack', openstack_path, :class => 'openstack-header'
              Storage built for the most demanding OpenStack clouds
            .icon-wrapper
              %i{:class => 'icon-CloudDatabase icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'cloudstack', cloudstack_path, :class => 'cloudstack-header'
              The block storage solution for CloudStack
            .icon-wrapper
              %i{:class => 'icon-VMware icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'VMware', vmware_solutions_path, :class => 'vmware-header'
              The most agile platform for the Software Defined Data Center
        .main-nav__item--wrapper--middle
          .main-nav__item--wrapper.drop-down-nav
            .icon-wrapper
              %i{:class => 'icon-CloudOrchestration icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'cloud orchestration', cloud_orchestration_path, :class => 'cloud-header'
              The deepest cloud integrations in storage
            .icon-wrapper
              %i{:class => 'icon-VDI icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'vdi', vdi_path, :class => 'vdi-header'
              Agile, massively scalable storage for virtual desktops
            .icon-wrapper
              %i{:class => 'icon-icon_AccelerateDatabase icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'database', database_path,:class => 'database-header'
              One shared platform for all database workloads
            .icon-wrapper
              %i{:class => 'icon-DataProtection icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'data protection', data_protection_path,:class => 'data-protection-header'
              Disaster recovery strategy and data backup solution
        .main-nav__item--wrapper--right
          .main-nav__item--wrapper.drop-down-nav
            .icon-wrapper
              %i{:class => 'icon-iconAI icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'agile infrastructure', agile_infrastructure_path, :class => 'agile-infrastructure-header'
              Pre-validated, cloud-ready reference architectures
            .icon-wrapper
              %i{:class => 'icon-ElementX icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'element x', elementx_path, :class => 'elementx-header'
              SolidFire software on your hardware
            .icon-wrapper
              %i{:class => 'icon-ServiceProviders icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'service providers', service_providers_path, :class => 'service-providers-header'
              The only storage system designed to monetize storage
            .icon-wrapper
              %i{:class => 'icon-Virtualization icon-nav'}
            .main-nav__item--text.main-nav__item--text-thirds
              %span.icon-link
                = link_to 'virtualization', virtual_infrastructure_path, :class => 'virtualization-header'
              An ecosystem of providers, one pre-validated design
    .header__container--main-nav__item.no-right-margin
      = link_to 'how to buy', how_to_buy_path, :id => 'how-to-buy', class: 'grey-text'
  .header__container--burger-menu.fade-in-three
    .header__container--burger-menu--image
      %span.grey-text MENU
      %i.burger-image.icon-Menu.grey-text
    .header__container--burger-menu--rollover-box.rollover-box-burger--margin-left
      .burger-menu--rollover-box--padding
        .burger-menu--rollover-box--demo
          = link_to 'request a demo', '#header-demo', :class => 'button--red button--width-full header-demo', :id => 'next-gen-data-center__scale--learn-more'
        .burger-menu--rollover-box--search
          %form{:action => '/search/', :method => 'GET', :id => 'header-search-form', :class => 'search-form'}
            %input{:class => 'nav-search', :id => 'query', :name => 'q', :type => 'text', :placeholder => 'SEARCH'}
            %label{:class => 'search-submit icon-search', :for => 'top-nav-search'}
      .burger-menu--rollover-box--padding
        .burger-menu--rollover-box--left-column-nav
          .main-nav__item--wrapper
            %i{:class => 'icon-Careers icon-nav'}
            .main-nav__item--text
              %span.icon-link
                = link_to 'careers', careers_path, :class => 'careers-header'
              Join us to do what's never been done
          .main-nav__item--wrapper
            %i{:class => 'icon-Resources icon-nav'}
            .main-nav__item--text
              %span.icon-link
                = link_to 'Resources', resources_path, :class => 'resources-box-header'
              Learn more about SolidFire, our customers,
              %br
              and use cases
          .main-nav__item--wrapper
            %i{:class => 'icon-Blog2 icon-nav'}
            .main-nav__item--text
              %span.icon-link
                = link_to 'contact us', contact_path
              Get in touch with us
        .burger-menu--rollover-box--middle-column-nav
          %ul
            %li
              = link_to 'events', events_path, :class => 'events-header'
            %li
              = link_to 'webinars', type_result_path('webinars'), :class => 'webinars-header'
            %li
              = link_to 'news', news_path, :class => 'news-header'
              &#47;
              = link_to 'press', pr_index_path, :class => 'pr-header'
            %li
              = link_to 'customers', customers_path, :class => 'customers-header'
        .burger-menu--rollover-box--right-column-nav
          %ul
            %li
              = link_to 'company overview', overview_path, :class => 'company-header'
            %li
              = link_to 'channel partners', channel_partners_path, :class => 'channel-partners-header'
            %li
              = link_to 'technology partners', technology_partners_path, :class => 'technology-partners-header'
            %li
              = link_to 'Analyst Reviews', analyst_reviews_path, :class => 'analyst-reviews-header'
  .header__container--burger-menu--rollover-box--mobile
    .rollover-box--mobile--item
      = link_to 'why solidfire?', why_solidfire_path, :class => 'why-solidfire-mobile'
    .rollover-box--mobile--item.rollover-box--mobile--item--no-right-padding
      = link_to 'platform', platform_overview_path, :class => 'platform-mobile-header'
      .plus-expand.platform.expand-nav{:data => {:sub_section => 'platform'}}
        &#43;
      .minus-close.platform.expand-nav{:data => {:sub_section => 'platform'}}
        &#150;
      .rollover-box--mobile-sub-nav.platform
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-ElementOS icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'element software', elements_os_path, :class => 'element-software-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-StorageNodes icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'sf series hardware', hardware_path, :class => 'nodes-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-Support icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'support', support_path, :class => 'support-item-mobile-header'
    .rollover-box--mobile--item.rollover-box--mobile--item--no-right-padding
      = link_to 'solutions', solutions_overview_path, :class => 'solutions-mobile-header'
      .plus-expand.use-cases.expand-nav{:data => {:sub_section => 'use-cases'}}
        &#43;
      .minus-close.use-cases.expand-nav{:data => {:sub_section => 'use-cases'}}
        &#150;
      .rollover-box--mobile-sub-nav.use-cases
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-OpenStack icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'openstack', openstack_path, :class => 'openstack-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-CloudDatabase icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'cloudstack', cloudstack_path, :class => 'cloudstack-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-VMware icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'vmware', vmware_solutions_path, :class => 'vmware-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-CloudOrchestration icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'cloud orchestration', cloud_orchestration_path, :class => 'cloud-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-VDI icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'vdi', vdi_path, :class => 'vdi-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-icon_AccelerateDatabase icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'database', database_path, :class => 'database-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-DataProtection icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'data protection', data_protection_path, :class => 'data-protection-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-iconAI icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'agile infrastructure', agile_infrastructure_path, :class => 'agile-infrastructure-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-ElementX icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'elementx', elementx_path, :class => 'elementx-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-ServiceProviders icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'service providers', service_providers_path, :class => 'service-providers-mobile-header'
        .mobile-sub-nav--wrapper
          .icon-wrapper
            %i{:class => 'icon-Virtualization icon-nav'}
          .main-nav__item--text
            %span.icon-link
              = link_to 'virtualization', virtual_infrastructure_path, :class => 'virtualization-mobile-header'

    .rollover-box--mobile--item
      = link_to 'how to buy', how_to_buy_path, class: 'how-to-buy-mobile'
    .rollover-box--mobile--item
      .burger-menu--rollover-box--demo
        = link_to 'request a demo', '#header-demo', :class => 'button--red button--width-full header-demo', :id => 'next-gen-data-center__scale--learn-more'

      .burger-menu--rollover-box--search
        %form{:action => '/search/', :method => 'GET', :id => 'footer-search-form', :class => 'search-form'}
          %input{:class => 'nav-search', :id => 'query-footer', :name => 'q', :type => 'text', :placeholder => 'SEARCH'}
          %label{:class => 'search-submit icon-search', :for => 'footer-nav-search'}
    .rollover-box--mobile--item
      = link_to 'blog', 'http://www.solidfire.com/blog/', :class => 'blog-mobile-header'
    .rollover-box--mobile--item
      = link_to 'support', support_path, :class => 'support-mobile-header'
    .rollover-box--mobile--item
      = link_to 'partner portal', 'https://solidfirepartners.force.com/CloudBuilders/portallogin', :class => 'partner-portal-mobile-header'
    .rollover-box--mobile--item
      = link_to 'careers', careers_path, :class => 'careers-mobile-header'
    .rollover-box--mobile--item
      = link_to 'resources', resources_path, :class => 'resources-mobile-header'
    .rollover-box--mobile--item
      = link_to 'contact us', contact_path, :class => 'contact-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'events', events_path, :class => 'events-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'webinars', type_result_path('webinars'), :class => 'webinars-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'news', news_path, :class => 'news-mobile-header'
      &#47;
      = link_to 'press', pr_index_path, :class => 'pr-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'company overview', overview_path, :class => 'company-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'channel partners', channel_partners_path, :class => 'channel-partners-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'technology partners', technology_partners_path, :class => 'technology-partners-mobile-header'
    .rollover-box--mobile--item-text-reg.rollover-box--mobile--item
      = link_to 'customers', customers_path, :class => 'customers-mobile-header'
  #header-demo
    %h3 Request a Demo
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1087'}
    :javascript
      MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1087);

