%footer
  #bottom-section
    .container
      .ft-btm-col1
        %span
          Copyright &copy;
          = Time.now.year
          SolidFire All rights reserved.

        = link_to 'Terms of Use', legal_path, :class => 'legal-links terms-footer'
        = link_to 'Privacy Policy', privacy_path, :class => 'legal-links privacy-footer'
        Need help?
        = link_to 'Contact Us', contact_path, :class => 'legal-links contact-us contact-bottom-footer'
        &#124;&nbsp;
        %span.font-weight-thick 1-855.375.4742
      .ft-btm-col2
        #social-wrapper
          .social-container
            %a{:href => 'https://www.facebook.com/SolidFire', :target => '_blank', :title => 'Facebook', :class => 'facebook facebook-footer'}
              %i{:class => 'icon-Facebook facebook'}

            %a{:href => 'https://twitter.com/solidfire', :target => '_blank', :title => 'twitter', :class => 'twitter twitter-footer'}
              %i{:class => 'icon-Twitter twitter'}

            %a{:href => 'https://instagram.com/fueledbysolidfire/', :target => '_blank', :title => 'Instagram', :class => 'instagram instagram-footer'}
              %i{:class => 'icon-Instagram instagram'}

            %a{:href => 'https://plus.google.com/+Solidfire/posts', :target => '_blank',  :title => 'Google +', :class => 'gplus gplus-footer'}
              %i{:class => 'icon-GooglePlus gplus'}

            %a{:href => 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank', :title => 'YouTube', :class => 'youtube youtube-footer'}
              %i{:class => 'icon-Youtube youtube'}

            %a{:href => 'http://www.slideshare.net/SolidFireInc/', :target => '_blank', :class => 'slideshare slideshare-footer', :title => 'SlideShare'}
              %i{:class => 'icon-SlideShare slideshare'}