.landing-page-no-header{style: 'margin-bottom: -50px;'}
  %a{:href => home_index_path, :id => 'sf-logo-top-nav', style: 'position: relative; top: 20px; left: 20px; font-size: 40px;'}
    %i.logo-icon.icon-SFNTAPP-HZ-Logo-Black
