%footer.with-disclaimer
  #bottom-section
    .container
      .ft-btm-col1
        .logo
      .ft-btm-col3.phone-number
        1-855-376-4752
      .ft-btm-col3
        = link_to 'Terms', '/legal'
        +
        = link_to 'Privacy', '/legal/privacy'
        &copy;
        = Time.now.year
      .ft-btm-col2
        #social-wrapper
          .social-container
            = link_to 'Twitter', 'https://twitter.com/solidfire', :target => '_blank', :class => 'twitter', :title => 'Twitter'
            = link_to 'Linkedin', 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank', :class => 'linkedin', :title => 'Linkedin'
            = link_to 'Google +', 'https://plus.google.com/+Solidfire/posts', :target => '_blank', :class => 'gplus', :title => 'Google +'
            = link_to 'Facebook', 'https://www.facebook.com/SolidFire', :target => '_blank', :class => 'facebook', :title => 'Facebook'
            = link_to 'YouTube', 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank', :class => 'youtube', :title => 'YouTube'
            = link_to 'Slideshare', 'http://www.slideshare.net/SolidFireInc/', :target => '_blank', :class => 'slideshare', :title => 'Slideshare'
    .container
      .disclaimer-container
        %p.disclaimer SOURCE: IDC MarketScape: Worldwide All-Flash Array 2015-2016  Vendor Assessment, by Eric Burgener, Ashish Nadkarni, and Eric Sheppard, Dec 2015, IDC Doc#US40721815.
        %p.disclaimer IDC MarketScape vendor analysis model is designed to provide an overview of the competitive fitness of ICT suppliers in a given market.  The research methodology utilizes a rigorous scoring methodology based on both qualitative and quantitative criteria that results in a single graphical illustration of each vendor’s position within a given market. The Capabilities score measures vendor product, go-to-market and business execution in the short-term. The Strategy score measures alignment of vendor strategies with customer requirements in a 3-5-year timeframe. Vendor market share is represented by the size of the circles. Vendor year-over-year growth rate relative to the given market is indicated by a plus, neutral or minus next to the vendor name.