= simple_form_for(@cms_category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title

  .form-actions
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px; margin-bottom: 15px;"
