.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p Editing Resource CMS Category
      .link
        = link_to 'Manage Resource Categories', cms_categories_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Resource Categories', cms_categories_path, :class => 'cms-white-button'
