.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Resource categories dashboard

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_category_path}
        %span.plus +
        New Category
    .resource-options.float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'



    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_categories.each do |cms_category|
      .custom-landing-item
        .record-email
          = cms_category.title

        .record-destroy
          = link_to 'Destroy', cms_category, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_category_path(cms_category), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_category_path}
          %span.plus +
          New Category
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
