.categories
  .categories__container
    %p#notice= notice

    %p
      %h2
        The cateogy
        = @cms_category.title
        has been successfully created.

    .back-btn
      = link_to 'resource categories', cms_categories_path, :class => 'cms-red-button'
