-# .slider-wrapper
-#  .slider.slider1
-#    #VMworld-slider
-#      .container
-#        %p{:style => 'color:#FFF;text-align:center;'}
-#          Join us at VMworld 2015 &#149; Aug 30-Sept 3 &#149; San Francisco &#149; Booth #92
.home-section-one-two
  .home-container
    .hero-home-node
      = image_tag 'home/hero-home-node.png', :alt => 'SolidFire Flash Array'
  .home-section-one
    .home-container.page-top-margin
      .home-section-one--copy-area
        %h1
          THE INDUSTRY'S HIGHEST-RATED ALL-FLASH ARRAY &#42;
          %span Two years in a row.
        %p
          The most complete feature set with the broadest range of next generation capabilities.
          %br
          SolidFire is scale-out, all-flash storage for the modern data center.
        %p
          = link_to 'why is SolidFire the ultimate all-flash array?', '#', :class => 'button--default-styles button--white'
      .home-section-one--form-content
        .home-section-one--form-content--form-container
          .home-section-one--form-content--form-container--header
            Free 2015 Gartner reports
            %br
            on solid-state arrays
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_2759'}
          :javascript
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2759);
  .home-section-two
    .home-section-two-slant
    .home-container
      .why-solidfire-leader
        %h2 What SolidFire all-flash storage does
        %p
          Start you all-flash evaluation here. Download comprehensive architectural comparisons about how SolidFire's innovative scale-out, all-flash platform compares to XtremIO, Pure Storage, and Netapp.
      .industry-complete-feature-set-wrapper
        .industry-complete-feature-set
          %h5
            The industry's Most Complete
            %br
            Feature Set
          %p
            Get all the features you need from storage —  real-time replication, global data efficiencies, broad integrations, end-to-end security, and more.
          %p
            %a{:href => '#'}
              See all features &#187;
        .industry-complete-feature-set-features
          .industry-complete-feature-set-features--item
            .plus-circle-wrapper
              .plus-circle-item
                &#43;
            %h5
              Scale-Out Agility
            %p
              Add nodes without disrupting existing workloads, and respond more rapidly and predictably to changing infrastructure demands.
          .industry-complete-feature-set-features--item
            .plus-circle-wrapper
              .plus-circle-item
                &#43;
            %h5
              Guaranteed Performance
            %p
              Ensure every application has 100% predictable performance, even in the most complex, multi-application environments.
          .industry-complete-feature-set-features--item
            .plus-circle-wrapper
              .plus-circle-item
                &#43;
            %h5
              Complete Automation
            %p
              Automate all your storage provisioning, management, monitoring, and reporting tasks with the industry’s simplest and most complete REST-based API.

.home-section-three
  .home-container
    .flash-forward-container
      .flash-forward
        = image_tag 'home/flash-forward-program.png'
        %p
          Eliminate storage refresh cycles, compatibility concerns, and drive wear for good.
        %p
          %a{:href => '#', :class => 'button--red'}
            Find out more. &#187;
    .lab-whitepaper-container
      .right-half-bg-color
      .lab-whitepaper-container-absolute
        = image_tag 'home/esg-whitepaper.png'
        %p
          "SolidFire
          %span
            Automation
          can help lower
          %br
          operating expenses by up to 67%."
        %p
          %a{:href => '#', :class => 'button--red'}
            See the full report &#187;
.home-section-four
  .home-container
    .home-section-four-wrapper
      .whats-new-wrapper
        .whats-new-title
          %h3
            What's new?
        .whats-new-item
          .whats-new-item--icon
            %i{:class => 'icon-NewsPress icon-whats-new'}
          - @pr.each do |result|
            .whats-new-item--content
              .whats-new-item--title
                %h5
                  = result.title
              .whats-new-item--body
                = result.sub_title
              .whats-new-item--read-more
                %a{:href => result.short_url}
                  read more &#62;
        - @resources.each do |re|
          .whats-new-item
            .whats-new-item--icon
              %i{:class => 'icon-Resources icon-whats-new'}
            .whats-new-item--content
              .whats-new-item--title
                %h5
                  = re.title
              .whats-new-item--body
                = re.description
              .whats-new-item--read-more
                %a{:href => '/resources/' + re.slugs[0]}
                  read more &#62;
        .whats-new-item
          .whats-new-item--icon
            %i{:class => 'icon-Blog2 icon-whats-new'}
          .whats-new-item--content
            .whats-new-item--title.blog-title
            .whats-new-item--blog
              .blog-date
              .blog-author
            .whats-new-item--read-more
              %a{:href => '', :class => 'blog-link'}
                read more &#62;
      .event-wrapper
        .events-title
          %h3
            Join us at VMworld
        .event-details-date
          August 30 - September 3 | Booth #929
        .event-details-body
          %p VMworld, hosted by VMware, is a global event with two VMworld Campuses - San Francisco and Barcelona.
          %p At VMworld you'll gain the tools you need to transform conventional remedies into seamless, agile solutions that dramatically simplify your operations and provide unmatched business advantages. Join us as thousands of IT innovators explore the leading edge of the industry's most powerful trends.
          %p See SolidFire at booth #929
          %p
            %a{:href => vmworld_path, :class => 'button--red'}
              join us &#187;
.home-section-five
  .home-container
    %h3
      The world's most agile data centers demand SolidFire all-flash storage
    .customers-wrapper
      = link_to image_tag( 'home/home-page-customer-logos.png'), 'http://www.solidfire.com/about/customers/'