= content_for :head do
  = stylesheet_link_tag 'home', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'index'
  = javascript_include_tag 'jquery.flip.min'

.home-section-one
  .home-container.page-top-margin
    .home-section-one--full-racks.fade-in-three
      = image_tag 'home/HomeDoubleRack.png', class: 'banner-nodes'
    .home-section-one--content
      .slide-up
        %h1
          The world’s most complete all-flash array
        = link_to 'Storage Automation report', '/resources/2015-storage-automation-report', class: 'button-red red-changes', :id => '2015-storage-automation-report'
        = link_to 'solidfire vs emc & pure', custom_landing_path('comparing-flash-storage-platforms'), class: 'button-white-outline press-link', :id => 'pr'
.home-section-two
  .home-container
    .home-section-two--item-wrapper
      .fit-container-relative
        %i.icon-ScaleOutNew
      %h4 Scale-out effortlessly
      %p
        Increase infrastructure agility and responsiveness by delivering capacity and performance on demand.
      %p
        No more data migrations, RAID management, storage silos, disruptions, downtime... and the list goes on and on.
      .fit-container.item-wrapper-red
        %a{:href => scale_out_path}
          learn how we do it
          %span &#187
    .home-section-two--item-wrapper
      .fit-container
        %i.icon-ProvisionIcon
      %h4 Automate everything
      %p
        Deploy applications, services, and all your VMs up to 15x faster than with traditional architectures.
      %p
        Do away with menial, manual, and overhead storage tasks. See if your business can keep up with you.
      .fit-container.item-wrapper-red
        %a{href: automated_management_path}
          plug into our api
          %span  &#187
    .home-section-two--item-wrapper--last
      .fit-container-relative
        %i.icon-GuaranteedTotalPerf
      %h4 Guarantee total performance
      %p
        Deliver predictable performance to hundreds of applications on a single platform &#151; every single time.
      %p
        Stop wasting time looking for performance problems or bottlenecks. With SolidFire, you won't find them.
      .fit-container.item-wrapper-red
        %a{href: guaranteed_performance_path}
          see how we make it possible
          %span  &#187
.angle-section-0
  .section-under-left.red-under
  .section-top-left
    .home-container
      .content
        .skew-fix-left
          .fit-container-relative
            %h2
              Proven in the world's most demanding data centers
          .fit-container-relative.customer-logos
            .paypal-image
              = image_tag 'home/paypal-logo.png'
            .ebay-image
              = image_tag 'home/ebay-logo.png'
            .endicia-image
              = image_tag 'home/endicia-logo.png'
            .sungard-image
              = image_tag 'home/sungard-logo.png', :class => 'sungard'
            .ezverify-image
              = image_tag 'home/ezverify-logo.png'
          .fit-container-relative
            .learn-how
              %a{href: customers_path}
                learn how we did it
                %span &#187;

.home-section-three
  .home-container
    .fit-container-relative
      %h2.no-margin-top.investment
        The ultimate investment protection
    .fit-container-relative
      .span6
        = image_tag 'home/flash-forward-program.png'
        %p
          Eliminate storage refresh cycles, compatibility concerns, and drive wear for good.
        %p
          %a{href: flash_forward_path, class: 'button-red'}
            find out more
            %span  &#187;

      .span6right
        = image_tag 'home/whitepaper3Dhm2.png'
        %p
          Lower operating expenses up to 67% with SolidFire automation.
          %strong ESG 2015
        %p
          %a{href: 'http://www.solidfire.com/esg', class: 'button-red', target: '_blank'}
            see the full report
            %span  &#187;
.angle-section-1
  .section-under-left
  .section-top-left.off-white-top
    .home-container
      .skew-fix-left
        .content
          .fit-container-relative
            %h2.no-margin-top.happening
              Happening now
          .home-section-two--item-wrapper
            .fit-container-relative
              %i.icon-BlogP1
            %h4.blog-title
            %span.blog-author
            %br
            %span.blog-date
            .fit-container.item-wrapper-red
              %a.blog-link{:href => 'http://www.solidfire.com/blog/interview-with-john-griffith-what-are-docker-and-containers-all-about/', :target => '_blank'}
                read more
                %span
                  &#187;
          .home-section-two--item-wrapper
            .fit-container
              %i.icon-EventP1
            - if @events
              %h4= @events.title
              %span
                = @events.location
                %br
                = @events.start_date.strftime("%b %d") + (@events.start_date == @events.end_date ? '' : ' - ' + @events.end_date.strftime("%d"))
              .fit-container.item-wrapper-red
                %a{:href => @events.cta_url, :target => '_blank'}
                  read more
                  %span
                    &#187;
          .home-section-two--item-wrapper--last
            .fit-container-relative
              %i.icon-BlogP1
            %h4= @news.title
            %span
              Publication:
              = @news.publication
              %br
              = @news.pub_date.strftime("%b %d")
            .fit-container.item-wrapper-red
              %a{:href => @news.url_shorten, :target => '_blank'}
                read more
                %span
                  &#187;
.home-section-four
  .home-container
    %h2.no-margin-top Results that speak for themselves
    .span12
      .span4
        #home-card-one
          .front
            = image_tag 'home/ulitmatelogo.png', :class => 'ultimate-logo'
            %p "The performance is night and day compared to our older environments."
          .back
            %ul
              %li Improved IOPS performance 4x
              %li Enabled fast, easy recoverability
              %li VMware and OpenStack private cloud
            %a{:href => customers_path, :class => 'button-white-outline'} learn more

      .span4middle
        #home-card-two
          .front
            = image_tag 'home/puc.png', :class => 'cal-logo'
            %p "SolidFire enabled us to tackle our pain point: virtualizing that last 20% of high-IOPS applications."
          .back
            %ul
              %li Virtualized last 20% of workloads
              %li Reduced footprint from 21U to 4U
              %li Improved performance 25% to 30%
            %a{:href => customers_path, :class => 'button-white-outline'} learn more

      .span4last
        #home-card-three
          .front
            = image_tag 'home/1.1.png', :class => 'one-logo'
            %p "We can now offer two million server configurations in 55 seconds; a massive improvement for our users."
          .back
            %ul
              %li Guaranteed customer performance
              %li Reduced storage complexity
              %li Dramatically improved flexibility
            %a{:href => customers_path, :class => 'button-white-outline'} learn more




