%html
  %head

    %link{:rel => 'stylesheet', :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'}
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'}
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'}
    %script{:src => 'http://munchkin.marketo.net/munchkin.js', :type => 'text/javascript'}
  %body
    %button{:type => 'button', :class => 'btn btn-primary btn-lg', :data => {:toggle => 'modal', :target => '#myModal'}}
      Launch video modal
    #myModal.modal.fade{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
      .modal-dialog
        .modal-content
          .modal-header
            %button{:type => 'button', :class => 'close', :data => {:dismiss => 'modal'}, :aria => {:label => 'close'}}
              %span{:aria => {:hidden => 'true'}}
                &times;
          .modal-body
            #player-wrapper{:style => 'width:100%;float:left;'}
              #player
              :javascript
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var player;
                function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'zpeQqLNzwjw',
                events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
                });}

                $('.modal-content').css('width',(640 + 30) + 'px')

                function onPlayerReady(event) {
                }

                var done = false;
                function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                mktoMunchkin("538-SKP-058");
                mktoMunchkinFunction('visitWebPage', {
                url: '/{{my.videoplayURL:default=DefaultVideo}}/play', params: 'x=y&2=3'
                });
                }
                }
          .modal-footer
            %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'} }
              close