- content_for :javascript do
  = javascript_include_tag "froogaloop2.min"
.video-page__container
  .video-container
    .h_iframe{:style => 'display:block;'}
      .close-btn
        = link_to image_tag( 'home/close-button.png'), 'javascript://', :class => 'close-video'
      %iframe{:frameborder => "0", :src => "//player.vimeo.com/video/153854468?autoplay=1&api=1&player_id=gmq-video", :allowfullscreen => true, :mozallowfullscreen => true, :webkitallowfullscreen => true, :id => "gmq-video"}
      .div-overlay