= content_for :javascript do
  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('7797-372-10-6287');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7797-372-10-6287/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->
.angle-section-0
  .section-under-right.white-top
  .section-top-right.off-white-top
    .container
      .skew-fix-right
        .fit-container-relative.top-section-margin
          .how-to-buy-left-column
            %h1 Find the right infrastructure, fueled by SolidFire storage.
            %p Implement a cost-effective, high-performance, all-flash solution no matter how you choose to deploy your next generation infrastructure &#151; now and into the future.
          .how-to-buy-right-column
            .how-to-buy-request-demo-wrapper
              %h3 Talk to SolidFire today
              %p How do you plan to deploy SolidFire?
              = link_to 'request a demo', '#header-demo', :class => 'button-red header-demo'
        .fit-container-relative.feature-block-margin
          .features-wrapper-left
            %i.icon-StorageNodes
            .feature-text
              %h4 Best-of-breed appliance
              %span SolidFire's best-of-breed SF series storage nodes give you the ultimate control of your infrastructure.
              %a{:href => show_resource_path('solidfire-product-datasheet')} SF Series product datasheet &#187;
          .features-wrapper-right
            %i.icon-ConvergedInfrastructure
            .feature-text
              %h4 Converged infrastructure
              %span
                SolidFire's pre-validated agile infrastructure (AI) reference architectures are the fastest, simplest path to cloud.
              %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/Introduction%20to%20Agile%20Infrastructure.pdf', target: "_blank"} Introduction to Agile Infrastructure &#187;
          .features-wrapper-left
            %i.icon-ServiceProviders
            .feature-text
              %h4 As a Service
              %span The SolidFire Service Provider Directory features cloud and hosting services from some of the world's leading providers.
              %a{:href => "tel:720-279-1343"} Call us to learn more 720.398.6660 &#187;
          .features-wrapper-right
            %i.icon-SoftwareAsCommSW
            .feature-text
              %h4 Software only
              %span
                The Element X program allows hyperscale customers to deploy the software that powers Gartner’s highest rated all-flash storage.
              %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire-SolutionBrief-ElementX.pdf', target: "_blank"} More about Element X &#187;





