@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}


a#solutions {
  color: $red-01;
}

a.agile-infrastructure-header {
  color: $red-01 !important;
}

a.agile-infrastructure-mobile-header {
  color: $red-01 !important;
}

.agile-infrastructure-container {
  @include container(960px);
}

.sub-nav a.ai-overview-link {
  color: $red-01;
}

.hidden-nav {
  a {
    font-size: 15px;
  }
}

#demo-form {
  display: none;
}

#agile-infrastructure {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .section-one {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 20px 60px;
    background-color: #fafafa;
    margin-bottom: 100px;

    h1 {
      margin-top: 0;
    }
  }

  .section-two, .section-three, .section-four, .section-five{
    width: 100%;
    position: relative;
    float: left;
    padding: 100px 20px 60px;
    margin-bottom: 100px;

    .span12 {
      margin-top: 100px;
    }

    .image {
      @include span(6 of 12 last);
    }

    .text {
      @include span(6 of 12);
    }

    img {
      margin-top: 40px;
    }
  }

  .section-two {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-four {
    .span12 {
      margin-bottom: 140px;
    }
    .demo-container {
      width: 80%;
      margin: auto;
      text-align: center;

      h2 {
        margin-bottom: 30px;
      }

      h3 {
        margin-bottom: 0;
      }

      hr {
        margin-bottom: 60px;
      }
    }
  }

  #card-one, #card-two, #card-three {
    .front, .back {
      border: 1px solid $grey-02;
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 20px;
      border-radius: 5px;
    }


    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 320px;

    h5 {
      font-size: 24px;
      text-align: center;
      margin-top: 0;
    }
  }

  #card-one {
    img {
      margin-top: 50px;
    }
  }
}
@media (min-width: 1001px) {
  .section-four {
    .span4middle {
      @include span(4 at 5 of 12);
    }

    .span4last {
      @include span(4 of 12 last);
    }
  }

  .bottom-angle-section.two {
    margin-bottom: 800px;
  }
}
@media(max-width: 1000px) {
  .span4, .span4middle, .span4last {
    @include span(12 of 12);
    float: none;
    margin: auto;
  }

  #agile-infrastructure #card-one {
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #agile-infrastructure #card-two {
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #agile-infrastructure #card-three {
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .bottom-angle-section.two {
    margin-bottom: 1200px;
  }

  .section-four {
    h2 {
      text-align: center;
    }
  }

  .bottom-angle-section.two {
    margin-bottom: 1500px;
  }

  .bottom-angle-section.three {
    margin-bottom: 800px;
  }
}

@media(min-width: $tablet) {
  .page-top-margin {
    margin-top: 230px;
  }

  .section-one {
    padding-top: 300px;
    margin-top: -100px;
    .image {
      @include span(3 of 12);
    }

    .text {
      @include span(9 of 12 last);
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 750px;
  }

  .bottom-angle-section.three {
    margin-bottom: 750px;
  }
}

@media(max-width: $tablet - 1) {
  .section-one {
    margin-top: -100px;
    .image, .text {
      @include span(12 of 12);
    }

    h1 {
      text-align: center;
    }
  }

  .span6, .span6right {
    width: 100%;
  }

  .section-one, .section-two {
    img {
      margin-top: 30px;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 1300px;
    img {
      float: none;
      margin: auto;
    }
  }
}

@media(max-width: $phone) {
  .section-one {
    margin-top: -200px;
  }

  .page-top-margin {
    margin-top: 190px;
  }

  .bottom-angle-section.one {
    margin-bottom: 1500px;
  }

  .bottom-angle-section.two {
    margin-bottom: 1600px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1000px;
  }
}

