@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.case-studies-container {
  background-color:transparent;
  @include container(960px);
}

#case-studies {

  img.top-banner {
    margin-left: 0;
  }

  img.datapipe {
    margin-top: -25px;
  }

  .video {
    img {
      margin-left: 0;
    }
  }
  .skew-fix-left {
    padding: 0;
  }

  ul {
    padding-left: 20px;
    li {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }
  .bottom-angle-section.three {
    margin-top: -90px;
  }

  .business-challenge-section {
    margin-bottom: 90px;
  }

  .skew-right {
    @include transform(skewY(3deg));
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .case-studies-section, .at-a-glace-section, .quote-section, .business-challenge-section, .fueled-by-section{
    width: 100%;
    position: relative;
    float: left;
  }

  .case-studies-section.one {
    padding-bottom: 100px;
    background-color: #fafafa;
    margin-top: -100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 130px;
    margin-bottom: -70px;

    .main {
      .text {
        h2 {
          margin-top: 0;
        }
      }

      .second-video-link {
        margin-top: 20px;
        i, a {
          position: relative;
        }

        i {
          color: $red-01;
          top: -5px;
        }

        a {
          margin-top: 18px;
        }
      }
    }
  }

  .at-a-glace-section, .quote-section, .business-challenge-section, .fueled-by-section {
    padding: 80px 20px 80px 20px;
  }

  .fueled-by-section {
    .text {
      margin-bottom: 80px;
    }
    p.link {
      color: $red-01;

      span {
        font-size: 1.2em;
      }
    }

    p.link:hover {
      font-weight: 500;
    }
  }

  .quote-section {
    background-color: $grey-04;
    .quote, .author {
       p {
          color: white;
       }
    }

    .links {
      border-top: 1px solid white;
      padding-top: 20px;

      p {
        color: white;
        text_transform: uppercase;
        font-weight: 300;
        font-size: 14px;

        span {
          font-size: 1.5em;
        }
      }

      p:hover {
        font-weight: 500;
      }
    }
  }

  .at-a-glace-section {
    margin-top: 60px;
    margin-bottom: 10px;
  }

}

@media(min-width: $tablet){
  .page-top-margin {
    margin-top: 270px;
  }
  .case-studies-section.one{
    .side-links {
      @include span(3 of 12);
    }

    .main {
      @include span(9 of 12 last);
    }
    .image {
      @include span(3 of 12);
    }
    .text {
      @include span(8 of 12);
    }
  }

  .bottom-angle-section.three {
    margin-bottom: 700px;
  }

  .quote-section{
    .image {
      @include span(3 of 12);
      img {
        padding-right: 50px;
      }
    }
    .text {
      @include span(8 of 12);
    }
  }

  .side-links {
    .case-link {
      padding-bottom: 20px;
      a {
        font-size: 18px;
      }
    }
  }
}
@media(max-width: $tablet -1) {

  .bottom-angle-section.three {
    margin-top: -90px;
    margin-bottom: 800px;
  }

  .side-links {
    .case-link {
      padding-bottom: 10px;
      a {
        font-size: 18px;
      }
    }
  }

  .case-studies-section.one {
    .text, .image, .side-links, .main {
      width: 100% !important;
    }

    img, h2 {
      text-align: center;
    }
  }

  .quote-section, .fueled-by-section {
    span {
      font-size: 1.5em;
    }

    .image {
      @include span(12 of 12);
    }
    .text {
      @include span(12 of 12);
    }
  }
}

@media (max-width: 592px) {
  .bottom-angle-section.three {
    margin-bottom: 1100px;
  }
}

@media(min-width: 454px) {
  .bottom-angle-section {
    margin-bottom: 800px;
  }

}

@media(max-width: 453px) {
  .bottom-angle-section {
    margin-bottom: 900px;
  }
}
