@import "variables";

.section {
  margin-top: 140px;

  .full-row {
    display: inline-block;

    h2, h1{
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin-top: 0;
    }

    .bold{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .list-title{
      margin-bottom: 0;
      font-weight: normal;
    }

    .list{
      margin-top: 0;
    }

    .mongo-graphic{
      margin-top: 30px;
    }

    .mongodb-certified-graphic{
      max-width: 60px;
      margin: 20px 20px 30px 0;
    }

    .white-paper{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }


    .span5{
      margin-top: 26px;
      margin-bottom: 40px;
    }

    .span1{
      margin: 0;
    }

    .form{
      width: 100%;
      margin: 0 auto 40px auto;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;
      max-width: 390px;

      form{
        margin: auto;
      }

      button.mktoButton {
        background-color: $red-01;
      }

      button.mktoButton:hover {
        background-color: $red-04;
      }
    }
  }

  .benefits{

  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }

      .nomobile{
        display: none;
      }
    }
  }
}

@media(max-width: $phone) {
  .section {
    .full-row {
      .span10 {
        width: 100%;
        margin-left: 0;
      }

      .span1{
        display: none;
      }
    }
  }
}



