@import "variables";


a#solutions {
  color: $red-01;
}

a.cloud-mobile-header {
  color: $red-01 !important;
}

a.cloud-header{
  color: $red-01 !important;
}

footer {
  background-color: transparent !important;
}

.section {
  margin-top: 140px;

  .full-row {
    h3{
      margin-bottom: 0;
      }
    .partners {
      margin: auto;
      width: 670px;
      min-height: 100px;

      .openstack-logo {
        max-width: 100px;
        float: left;
      }

      .cloudstack-logo, .onapp-logo, .flexiant-logo {
        max-width: 150px;
        float: left;
        margin-top: 35px;
        margin-left: 40px;
      }

      .flexiant-logo{
        margin-top: 30px;
      }
    }

    .text{
      margin-left: 180px;
    }
    
    .button-blue{
      float: right;
    }

    .openstack_logo, .cloudstack_logo, .onapp_logo, .flexiant_logo{
      max-width: 138px;
    }

    .white-paper{
      float: right;
      min-width: 280px;
      margin-top: 30px;

      img{
        margin-right: 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .button-red {
      margin-bottom: 80px;
      float: right;
    }
  }
}

#partners{
  h2{
    text-align: center;
  }
}

#features{
  .icons{
    max-width: 850px;
    margin: auto;
  }
  .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency{
    float: left;
    margin: 0 10px;
    p{
      text-align: center;
      line-height: 20px;
      font-weight: 600;
    }

    img{
      max-width: 150px;
      margin-bottom: 0;
    }
  }

  .multi-tenancy{
    p{
      color: #f68121;

    }
  }

  .resource-agility{
    p{
      color: #ea6624;
    }
  }

  .maximum-availability{
    p{
      color: #e45125;
    }
  }

  .complete-automation{
    p{
      color: #ce2026;
    }
  }

  .efficiency{
    p{
      color: #9b1d20;
    }
  }
}

#sungard{
  background: #f0f6f6 image-url('solutions/solidfire_has_you_covered_simon.jpg') no-repeat;
  min-height: 500px;

  .span6{
    float: right;

    p{
      color: #9b1d20;
    }

    .quote{
      font-style: italic;
      text-align: center;
      margin-bottom: 20px;
    }

    img{
      padding: 6px 30px 0 0;
      max-width: 175px;
    }
  }
}

#onapp, #flexiant{
  .full-row{
    .white-paper{
      min-width: 232px;
    }
  }
}

@media(max-width: $tablet) {
  .section {
    .full-row {
      h1{
        padding-bottom: 0;
        margin: 0;
      }

      h2{
        text-align: center;
      }

      .span6, .span4{
        width: 100%;
        padding: 0 10px;
        margin: 0;
      }

      .text{
        padding: 0 10px;
        margin: 0;
      }

      .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency{
        float: none;
      }

      .partners{
        width: 100%;

        .openstack-logo, .cloudstack-logo, .onapp-logo, .flexiant-logo{
          float: none;
          margin: 30px auto;
        }
      }
    }
  }

  #features{
    .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency{
      float: none;
    }
  }

  #sungard {
    background: #f0f6f6;
  }
}
@media(max-width: $phone) {
  .openstack_logo, .cloudstack_logo, .onapp_logo, .flexiant_logo {
    display: none;
  }
}


