@import "variables";


a#solutions {
  color: $red-01;
}

a.cloudstack-mobile-header {
  color: $red-01 !important;
}

a.cloudstack-header{
  color: $red-01 !important;
}

.section {
  margin-top: 140px;

  .full-row {

    h2, h1{
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin-top: 0;
    }

    .bold{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .white-paper, .videos{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .span5{
      margin-top: 26px;
    }

    .form{
      width: 100%;
      margin: 0 0 40px 0;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;

      form{
        margin: auto;

        button.mktoButton {
          background-color: $red-01;
        }

        button.mktoButton:hover {
          background-color: $red-04;
        }
      }
    }
  }
}


@media(max-width: $tablet) {
  .section.top-section {
    margin-top: 60px;
    h1 {
      text-align: center;
    }
  }

  .section {
    margin-top: 60px;

    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}



