@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

#demo-form {
  display: none;
}

ul, blockquote {
  font-size: 18px !important;
  line-height: 30px !important;
}

ul {
  padding-left: 20px;
}

blockquote {
  font-style: italic;
  margin-left: 0px;
}

p.author {
  font-size: 18px;
  line-height: 30px;
}

h1 {
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
}

.competitive-comparison-section-one {
  width: 100%;
  position: relative;
  float: left;
  padding: 150px 20px 90px 20px;
  background: #FFFFFF;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
  margin-top: -100px;
  @include transform(skewY(3deg));

  h1 {
    margin-top: 0;
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .play-video {
    width: 400px;
    margin-top: 60px;

    p.link {
      color: $red-01;
      font-weight: 600 !important;

      span {
        font-size: 22px;
        position: relative;
        top: 1px;
      }
    }
  }
}

.skew-fix {
  @include transform(skewY(-3deg));
}

.competitive-comparison-section-two {
  width: 100%;
  position: relative;
  float: left;
  padding: 150px 20px 90px 20px;

  .author {
    font-size: 18px;
  }

  ul {
    margin-bottom: 30px;
  }
}

.competitive-comparison-section-three, .competitive-comparison-section-four, .competitive-comparison-section-five {
  @extend .competitive-comparison-section-two;
  padding-top: 0;
}

.competitive-comparison-container {
  @include container(960px);
}

.bottom-angle-section.one {
  .competitive-comparison-container {
    padding-top: 100px;
    padding-bottom: 60px;

    h2, h3 {
      text-align: center;
    }

    button {
      width: 250px;
    }

    .align-right {
      text-align: right;
    }
  }
}


@media(min-width: $tablet) {
  .page-top-margin {
    margin-top: 150px;
  }

  .competitive-comparison-section-two {
    .span7 {
      @include span(7 of 12);
    }

    .span5last {
      @include span(5 of 12 last);
    }
  }

  .span6right {
    @include span(6 of 12 last);
  }

  .span6 {
    button {
      float: right;
    }
  }

  .span6right {
    button {
      float: left;
    }
  }

}

@media (max-width: $tablet - 1) {
  .page-top-margin {
    margin-top: 50px;
  }
  .competitive-comparison-section-two {
    width: 100%;
    position: relative;
    float: left;
    padding: 150px 20px 90px 20px;

    .span7, .span5last {
      @include span(12 of 12);
    }
  }

  .span6, .span6right {
    @include span(12 of 12);
  }

  .span6 button, .span6right button {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .span6 {
    padding-bottom: 30px;
  }
}


