@import "variables";

a#solutions {
  color: $red-01;
}

a.data-protection-header {
  color: $red-01 !important;
}

a.data-protection-mobile-header {
  color: $red-01 !important;
}

.section {
  p, li {
    font-size: 18px;
    line-height: 30px;
  }

  .full-row {

    h2{
      margin-bottom: 0;
    }

    .span6{
      img{
        margin: 30px auto;
      }
    }

    .white-paper, .videos{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .form{
      width: 100%;
      margin: 0 auto 40px auto;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;
      max-width: 390px;

      form{
        margin: auto;
      }
    }
  }
}


@media(max-width: $tablet) {
  .section {
    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media(max-width: $phone) {
  h1 {
    text-align: center;
  }
  .section.top-section {
    margin-top: 60px;
  }
}




