@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.dbaas-container {
  background-color:transparent;
  @include container(960px);

}


.dbaas-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  background-color: #fafafa;

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }
}

.dbaas-section-two{
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 70px;
  margin-top: 0;
  background-color: #F3F3F3;

  .partners{
    max-width: 680px;
    margin: auto;
  }

  .oracle, .mongo{
    width: 205px;
    margin: 0 20px;
  }

  .oracle{
    padding-top: 86px;
  }

  .mongo{
    padding-top: 67px;
  }

  .sql{
    width: 150px;
    margin: 0 20px;
  }
}

.dbaas-section-three {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 70px;
  margin-top: 0;

}

.dbaas-section-four {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px;
  margin-top: 50px;

  .button-blue{
    float: right;
  }

  img{
    max-width: 100px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  h3{
    margin-top: 0;
  }

  .span2{
    .image-container{
      width: 100px;
    }

    p {
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 14px;
      margin-top: 0px;
    }

    .orange-one{
      color: #f58220;
    }

    .orange-two{
      color: #ea6624;
    }

    .orange-three{
      color: #e45125;
    }

    .red-one{
      color: #ce2026;
    }

  }

  .link-container {
    max-width: 810px;
  }
}


.right{
  margin-right: 0;
}

.link-container{
  float: right;
  max-width: 700px;

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }
}



/* media queries */
@media (max-width: $phone){

  .dbaas-section-one{
    margin-top: 0;

    img{
      float: none;
    }
  }

  .page-top-margin {
    margin-top: 70px;
  }

  .dbaas-section-two{
    .oracle, .sql, .mongo{
      padding: 20px 0;
      margin: auto;
      float: none;
    }
  }

  .span2, .span10, .span6, .span7, .span5{
    width: 100%;

    .image-container{
      margin: 0 auto 20px;
    }
  }
}