@import "variables";


a#solutions {
  color: $red-01;
}

a.database-header {
  color: $red-01 !important;
}

a.database-mobile-header {
  color: $red-01 !important;
}

footer {
  background-color: transparent !important;
}

.section {
  p, li {
    line-height: 30px;
    font-size: 18px;
  }

  .full-row {
    h3{
      margin-bottom: 0;
      }

    .database-img{
      max-width: 210px;
    }

    .partners {
      margin: auto;
      max-width: 800px;
      min-height: 100px;

      .oracle-logo {
        max-width: 150px;
        float: left;
        margin-top: 93px;
      }

      .mysql-logo, .sql-logo, .mongo-logo {
        max-width: 150px;
        float: left;
        margin-left: 40px;
      }

      .mysql-logo{
        margin-top: 24px;
      }

      .sql-logo{
        margin-top: 0;
      }

      .mongo-logo{
        margin-top: 80px;
      }
    }

    .text{
      margin-left: 180px;
    }
    
    .button-blue{
      float: right;
    }

    .oracle-section-logo, .mysql-section-logo, .sql-section-logo, .mongo-section-logo{
      max-width: 138px;
    }

    .white-paper{
      float: right;
      min-width: 280px;
      margin-top: 30px;

      img{
        margin-right: 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .button-red {
      margin-bottom: 80px;
      float: right;
    }
  }
}

#partners{
  h2{
    text-align: center;
  }
}

#features{
  .icons{
    max-width: 680px;
    margin: auto;
  }
  .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency{
    float: left;
    margin: 0 10px;
    p{
      text-align: center;
      line-height: 20px;
      font-weight: 600;
    }

    img{
      max-width: 150px;
      margin-bottom: 0;
    }
  }

  .multi-tenancy{
    p{
      color: #f68121;

    }
  }

  .resource-agility{
    p{
      color: #ea6624;
    }
  }

  .maximum-availability{
    p{
      color: #e45125;
    }
  }

  .complete-automation{
    p{
      color: #ce2026;
    }
  }

  .efficiency{
    p{
      color: #9b1d20;
    }
  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      h1 {
        padding-bottom: 0;
        margin: 0;
      }

      h2 {
        text-align: center;
      }

      .span6, .span5 {
        width: 100%;
        padding: 0 10px;
        margin: 0;
        float: none;
      }

      .text {
        padding: 0 10px;
        margin: 0;
      }

      .partners {
        width: 100%;

        .oracle-logo, .mysql-logo, .sql-logo, .mongo-logo {
          float: none;
          margin: 30px auto;
        }
      }
    }

    .oracle-section-logo, .mysql-section-logo, .sql-section-logo, .mongo-section-logo {
      display: none;
    }
  }

  #features {
    .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency {
      float: none;
    }
  }
}

@media(max-width: $phone) {
  h1 {
    text-align: center;
  }

  .section.top-section {
    margin-top: 60px;
  }

}


