@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.daas-container {
  background-color:transparent;
  @include container(960px);

}


.daas-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  background-color: #fafafa;

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }
}

.daas-section-two{
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 0;
  margin-top: 0;


}

.daas-section-three, {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px;
  margin-top: 50px;

  .button-blue{
    float: right;
  }

  img{
    max-width: 100px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  h3{
    margin-top: 0;
  }

  .link-container{
    float: right;
    max-width: 700px;

    h5{
      float: left;
      margin: 37px 20px 0 0;
    }
  }

  .span2{
    .image-container{
      width: 100px;
    }

    p {
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 14px;
      margin-top: 0px;
    }

    .orange-one{
      color: #f58220;
    }

    .orange-two{
      color: #ea6624;
    }

    .orange-three{
      color: #e45125;
    }

    .red-one{
      color: #ce2026;
    }

    .red-two{
      color: #9c1c20;
    }
  }
}


.right{
  margin-right: 0;
}



/* media queries */
@media (max-width: $phone){

  .page-top-margin {
    margin-top: 70px;
  }

  .span2, .span10{
    width: 100%;

    .image-container{
      margin: 0 auto 20px;
    }
  }
}