@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}


a#solutions {
  color: $red-01;
}

a.elementx-header {
  color: $red-01 !important;
}

a.elementx-mobile-header {
  color: $red-01 !important;
}

.elementx-container {
  @include container(960px);
}

#contact-form {
  display: none;
}

#elementx-page {
  .demo-button-red, .demo-button-red-outline {
    width: 300px;
    font-size: 15px;
    padding: 8px 40px;
    margin-top: 30px;
  }

  .demo-button-red {
    margin-right: 20px;
  }
}
.section-one {
  padding: 150px 20px 100px;
  margin-top: -30px;
  background-color: #fafafa;

  p {
    line-height: 30px;
    font-size: 18px;
  }

  img {
    margin-top: 40px;
  }
}

.section-two {
  padding: 50px 20px 80px;

  p {
    line-height: 30px;
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  ul {
    font-size: 12px;

    p {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  p.sub-text {
    font-size: 12px;
  }

  .sub-text-section {
    padding-top: 50px;
  }

  a {
    font-size: 18px;
    line-height: 30px;
  }
}

.section-one, .section-two {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 100px;
}

@media (min-width: $tablet) {
  .page-top-margin {
    margin-top: 40px;
  }

  .span9 {
    margin-left: 30px;
  }
}

@media(max-width: $tablet - 1) {
  .page-top-margin {
    margin-top: -70px;
  }

  .span2, .span9 {
    width: 100%;
  }

  .span9 {
    margin-left: 0;
  }
}