@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

#request-form {
  display: none;
}

label.mktoLabel {
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

.iaas-container {
  background-color:transparent;
  @include container(960px);
}

.button-red {
  margin-bottom: 80px;
  float: right;
}

.iaas-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  background-color: #fafafa;

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  img{
    margin-top: 40px;
  }
}

.iaas-section-two{
  width: 100%;
  position: relative;
  float: left;
  padding: 50px 20px 0;
  margin-top: 0;

  .link-container{
    float: right;
    max-width: 530px;
  }

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }

  .button-blue{
    float: right;
  }
}

.iaas-section-three{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 50px;

  .vmware, .flexiant{
    margin: 17px 25px;
  }

  .openstack{
    margin: 0 25px;
  }

  .cloudstack{
    margin: 20px 25px;
  }

  .onapp{
    margin: 30px 25px;
  }

  .span9{
    float: right;
    margin-right: 0;
  }

  .link-container{
    float: right;
    max-width: 680px;
  }

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }

  .button-blue{
    float: right;
  }
}

.iaas-section-four{
  width: 100%;
  position: relative;
  float: left;
  padding: 27px 20px;
  margin-top: 50px;

  img{
    padding-top: 20px;
    max-width: 90%;
  }

  .link-container{
    float: right;
    max-width: 530px;
  }

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }

  .button-blue{
    float: right;
  }
}


.iaas-section-five {
  width: 100%;
  position: relative;
  float: left;
  padding: 27px 20px;
  margin-top: 50px;

  .white-paper-icon{
    margin: 0 10px 10px;
  }

  .quote{
    color: $red-02;
  }

  .link-container{
    float: right;
    max-width: 600px;
  }

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }

  .button-blue{
    float: right;
  }
}

.iaas-section-six {
  width: 100%;
  position: relative;
  float: left;
  padding: 27px 20px;
  margin-top: 50px;

  .link-container{
    float: right;
    max-width: 700px;
  }

  h5{
    float: left;
    margin: 37px 20px 0 0;
  }

  .button-blue{
    float: right;
  }
}

.iaas-section-seven, .iaas-section-eight {
  width: 100%;
  position: relative;
  float: left;
  padding: 27px 20px;
  margin-top: 50px;

  .button-blue{
    float: right;
  }
}

.disclaimer-text{
  font-size: 12px;
  line-height: 14px;
}

.right{
  margin-right: 0;
}



/* media queries */

@media (max-width: $tablet) {

  .iaas-section-three {
    .vmware, .flexiant, .openstack, .cloudstack, .onapp {
      float: none;
      margin: 15px auto;

    }

    .span9{
      width: 100%;
    }
  }
}

@media (max-width: $phone){

  .page-top-margin {
    margin-top: 70px;
  }

  .span3, .span8, .span5, .span7{
    width: 100%;

    img{
      margin: auto;
      float: none;
    }
  }
}