@import "variables";

.section {
  .full-row {
    
    .button-blue{
      float: right;
    }

    .oracle-section-logo, .mysql-section-logo, .sql-section-logo, .mongo-section-logo{
      max-width: 138px;
    }

    .white-paper{
      margin-top: 30px;

      img{
        margin: 0 10px 0;
      }

      p{
        color: #9d1b1b;
      }
    }
  }
}

#managed-dedicated-san{
  h3{
    text-align: center;
    margin-bottom: 40px;
  }
}

#scalabilty{
  .span5{
    p{
      padding-top: 0;
      font-size: 15px;
      text-align: center;
    }
  }
}


@media(max-width: $tablet) {
  .section {
    .full-row {
      h1 {
        padding-bottom: 0;
        margin: 0;
      }

      h2 {
        text-align: center;
      }

      .span6, .span5 {
        width: 100%;
        padding: 0 10px;
        margin: 0;
        float: none;
      }

      .text {
        padding: 0 10px;
        margin: 0;
      }

      .partners {
        width: 100%;

        .oracle-logo, .mysql-logo, .sql-logo, .mongo-logo {
          float: none;
          margin: 30px auto;
        }
      }
    }

    .oracle-section-logo, .mysql-section-logo, .sql-section-logo, .mongo-section-logo {
      display: none;
    }
  }

  #features {
    .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency {
      float: none;
    }
  }
}


