@import "variables";

$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

a#solutions {
  color: $red-01;
}

a.openstack-header {
  color: $red-01 !important;
}

a.openstack-mobile-header {
  color: $red-01 !important;
}

.icon-icon_playVideo2 {
  color: $red-01;
  position: relative;
  top: 2px;
}

.sub-nav.hidden-nav {
  a {
    font-size: 15px;
  }
}

.icon {
  padding-right: 10px;
}

.container {
  @include container;
  width: 100%;
}

.openstack-container {
  background-color:transparent;
  @include container(960px);
}

.sub-nav a.openstack-link {
  color: $red-01;
}

.openstack-section {
  width: 100%;
  position: relative;
  float: left;
}

#openstack {
  h2 {
    margin-top: 0;
  }

  .skew-fix-left {
    padding: 0;
  }
  .span12.margin-top {
    margin-top: 100px;
  }

  i.icon-IaaS2, i.icon-PaaS, i.icon-SaaS, i.icon-Dev-Test, i.icon-CloudDatabase {
    font-size: 5em;
    color: $red-01
  }
}

.section-one {
  @extend .openstack-section;
  padding: 0 20px 100px;
  background-color: #fafafa;

  img {
    margin-top: 30px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }
}

.section-two {
  @extend .openstack-section;
  padding: 100px 20px;

  p {
    font-size: 18px;
    line-height: 30px;
  }

  p.quote-text {
    font-size: 26px;
    line-height: 33px;
    color: $red-01;
    margin: 0;
    padding-right: 50px;
    margin-bottom: 30px;
  }

  span {
    font-weight: 500;
  }

  p.author {
    color: $red-01;
    font-size: 17px;
    margin: 0;
    line-height: 22px;
    font-weight: 700;
    padding-top: 10px;
    border-top: 1px solid $yellow-03;
    max-width: 250px;
  }

  p.title {
    color: $red-01;
    font-size: 17px;
    margin: 0;
    line-height: 22px;
    font-weight: 500;
  }
}

.section-three, .section-four {
  @extend .openstack-section;
  padding: 130px 20px;

  p {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  p.padding-bottom {
    padding-bottom: 40px;
  }
}

.section-three {
  .agile-infrastructure-link {
    font-size: 18px;
  }
}

.section-four {
  h2 {
    margin-bottom: 60px;
  }
}

.section-five {
  @extend .openstack-section;
  padding: 130px 20px 0;

}

@media(min-width: $tablet) {
  .angle-section {
    margin-top: -100px;
  }

  .page-top-margin {
    margin-top: 200px;
  }

  img {
    margin-top: 30px;
  }

  .section-two {
    img.storage-solved {
      margin-top: 30px;
    }
    ul {
      padding-left: 30px;
    }
  }

  .section-three {
    .span12.small-margin {
      margin-top: 40px;
    }
  }

  .span4, .span4middle, .span4last {
    padding-right: 20px;
    padding-bottom: 60px;
  }

  .span4middle {
    @include span(4 at 5 of 12);
  }

  .span4last {
    @include span(4 of 12 last);
  }

  .section-three {
    img.logos-cloud {
      margin-top: 60px;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 1700px;
  }
  .bottom-angle-section.two {
    margin-bottom: 1200px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1200px;
  }
}

@media(max-width: 907px) {
  .bottom-angle-section.one {
    margin-bottom: 1850px;
  }
}
@media(max-width: 805px) {
  .bottom-angle-section.one {
    margin-bottom: 2050px;
  }
}


@media(max-width: 486px) {
  .bottom-angle-section.three {
    ul {
      li {
        padding: 0;
      }
    }

    .resources-section {
      i.icon-icon_playVideo2 {
        padding-bottom: 10px;
      }
    }
  }
}


@media(max-width: $tablet - 1) {
  .sub-nav.section {
    margin-top: -100px;
  }

  .span3, .span6, .span6right, .span8 {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  .span4, .span4middle, .span4last {
    @include span(12 of 12);
    margin:auto;
  }

  .section-one {
    img {
      margin-bottom: 30px;
    }
  }

  .section-two {
    img.storage-solved {
      margin-top: 30px;
    }
  }

  .section-three {
    img {
      margin-top: 30px;
    }

    .span4, .span4middle, .span4last {
      padding-top: 40px;
    }

    .span12.small-margin {
      margin-top: 0px;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 2500px;
  }

  .bottom-angle-section.two {
    margin-bottom: 1200px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1200px;
  }
}

@media(max-width: 585px) {
  .bottom-angle-section.one {
    margin-bottom: 2800px;
  }
}

@media(max-width: 453px) {
  .bottom-angle-section.one {
    margin-bottom: 3200px;
  }
}

@media(max-width: 465px) {
  img.computer {
    display: none;
  }
}

@media(max-width: $phone) {
  .angle-section {
    margin-top: -50px;
  }
  .page-top-margin {
    margin-top: 130px;
  }

  .section-two, .section-four {
    ul {
      padding-left: 20px;

      li {
        padding: 0;
      }
    }
  }

  .bottom-angle-section.two {
    margin-bottom: 1400px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1700px;
  }
}