@import "variables";

#openstack-infrastructure.section {
    margin-top: 140px;
}

.section {

  .full-row {
    display: inline-block;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin-top: 0;
    }

    strong{
      font-weight: 600;
    }

    .h3header{
      text-align: left;
      margin-top: 24px;
    }

    .bold{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .list-title{
      margin-bottom: 0;
      font-weight: normal;
    }

    .list{
      margin-top: 30px;
    }

    .mongo-graphic{
      margin-top: 30px;
    }

    .mongodb-certified-graphic{
      max-width: 60px;
      margin: 20px 20px 30px 0;
    }

    .white-paper{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }


    .span5{
      margin-top: 26px;
      margin-bottom: 0px;
    }

    .span1{
      margin: 0;
    }

    .form{
      width: 100%;
      margin: 0 auto 40px auto;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;
      max-width: 390px;

      form{
        margin: auto;
      }
    }
  }

  .benefits{

  }

  .automate, .consolidate{
    max-width: 44px;
  }

  .scale{
    max-width: 70px;
  }

  .span2{
    p{
      color: $solidfire-red;
      font-size: 26px;
      font-weight: 200;
      text-align: center;
    }
  }

  .span10{
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.operational-benifits.section {
  background-color: #F3F3F3;
  width: 100%;
  float: left;

  h2 {
    font-weight: 300;
    color: $grey-03;
    text-align: center;
    @include font-size(42px);
  }

  .feature-wrapper {
    width: 100%;
    float: left;
    padding-bottom: 60px;

    .span12 {
      border-top: solid 1px $grey-01;
    }
  }
}

.openstack-for-everyone {
  width: 100%;
  float: left;

  .section {
    margin-top: 0;
  }

  h2 {
    text-align: center;
    font-weight: 300;
    color: $grey-03;
  }
}

li {
  list-style: none;

  span {
    font-weight: 600;
  }
}

.center {
  text-align: center;
}

.whitePaperIcon {
  background: image-url('solutions/paper-icon.png') no-repeat;
  padding-left: 30px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  cursor: pointer;
}

.helpful-resources {
  @include font-size(20px);
  border-bottom: dotted 1px $grey-01;
  width: 400px;
  padding-bottom: 10px;
  margin-top: 50px;

  img {
    display: inline;
    margin: 0;
  }
}

.request-demo {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 70px;

  .full-row {
    border-top: solid 1px $grey-01;
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }

  .sub-header {
    @include font-size(20px);
    width: 100%;
    float: left;
    margin: 25px 0;
  }

}

#openstack-cisco, #openstack-dell, #request-demo {
  display: none;

  .mktoForm {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }

  button.mktoButton:hover {
    background-color: $red-04;
  }

  button.mktoButton {
    background-color: $red-01;
  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }

      .span2{
        margin-left: 0;
      }

      .nomobile{
        display: none;
      }
    }
  }

  #openstack-infrastructure.section {
    margin-top: 50px;
  }
}

@media(max-width: $phone) {
  .section {
    .full-row {
      .span2{
        img{
          display: none;
        }
      }

      .span9{
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .feature-wrapper {
    .span2 {
      width: 100%;
      margin-right: 0;
    }
  }

  .section .span2 p {
    font-weight: 600;
  }
}



