@import "variables";

.section {
  margin-top: 140px;

  .full-row {

    h2, h1{
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin-top: 0;
    }

    .bold{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .list-title{
      margin-bottom: 0;
      font-weight: normal;
    }

    .list{
      margin-top: 0;
    }

    .oracle-graphic{
      margin-top: 30px;
    }

    .white-paper, .videos{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .videos{
      img{
        margin: 2px 10px 10px;
      }
    }


    .span5{
      margin-top: 26px;
    }

    .form{
      width: 100%;
      margin: 0 auto 40px auto;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;
      max-width: 390px;

      form{
        margin: auto;
      }
    }
  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}



