@import "variables";

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

a#solutions{
  color: $red-01 !important;
}

a.solutions-mobile-header{
  color: $red-01 !important;
}

.container {
  @include container(960px);
  padding-right: 20px;
  padding-left: 20px;
}

.top-section {
  width: 100%;
  position: relative;
  float: left;
  padding: 100px 0;
  background-color: #FAFAFA;
}

#solutions-overview {
  h1 {
    font-size: 40px;
  }

  .navigation {
    a.button-red {
      float: left;
      margin-right: 10px;
    }
  }

  a.button-red {
    font-size: 16px;
    font-weight: 300;
    float: right;
  }

  .ai-logo, .vmware-logo {
    max-width: 140px;
  }
}

.vmware-section, .ai-section, .cloud-orchestration-section, .database-section, .vdi-section {
  width: 100%;
  position: relative;
  float: left;
  padding: 100px 0;
}

.ai-section, .database-section {
  background-color: #FAFAFA;
}

@media(min-width: $tablet) {
  .page-top-margin {
    margin-top: 60px;
  }

  .images {
    @include span(3 of 12);
    padding: 20px 30px;
  }

  .text {
    @include span(9 of 12 last);
  }
}

@media(max-width: $tablet - 1) {
  .page-top-margin {
    margin-top: -20px;
  }

  h2  {
    text-align: center;
  }

  img {
    margin-bottom: 30px;
  }
}
