@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

a#solutions {
  color: $red-01;
}

a.service-providers-header {
  color: $red-01 !important;
}

a.service-providers-mobile-header {
  color: $red-01 !important;
}

.service-providers-container {
  background-color:transparent;
  @include container(960px);
}

.service-providers-nav a.service-providers-link {
  color: $red-01;
}


#service-providers {
  p {
    font-size: 18px;
    line-height: 30px;
  }

  h2 {
    margin-top: 26px;
  }
}

.section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  background-color: #fafafa;
  margin-bottom: 250px;

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
  }

  h3 {
    font-size: 24px;
  }

  p {
    max-width: 800px;
  }

  img {
    position: absolute;
    margin-top: 60px;
    margin-left: -60px;
  }
}

.section-two {
  .service-providers-container {
    border-top: 3px solid $grey-01;
  }
}

.section-three, .section-four, .section-five {
  margin-top: 100px;
}

.section-two, .section-three, .section-four, .section-five {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 0px 60px;

  h2 {
    margin-top: 40px;
  }

  p.section-description {
    margin-bottom: 80px;
  }

  .span12 {
    margin-top: 150px;
  }

  .links {
    max-width: 300px;
    margin-top: 30px;
    border-top: 1px solid $red-01;

    p {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 0;
      padding-top: 10px;
      color: $red-01;

      span {
        font-size: 26px;
        position: relative;
        top: 1px;
      }
    }

    p:hover {
      color: $red-04;
    }
  }
}

.section-two {
  padding-right: 20px;
  padding-left: 20px;
}

@media(min-width: $tablet) {
  .page-top-margin {
    margin-top: 200px;
  }

  .section-one {
    min-height: 650px;
    margin-top: -100px;
  }

  .bottom-angle-section.one{
    margin-bottom: 1500px;
  }

  .bottom-angle-section.two {
    margin-bottom: 1400px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1000px;
  }

  img.report, img.fueled-by, img.forklift {
    margin-top: 30px;
  }

  img.magnifying-glass {
    margin-top: 10px;
  }

  img.node {
    margin-top: 40px;
  }

  img.performance-capacity {
    margin-top: 30px;
  }
}

@media(max-width: $tablet - 1) {
  .service-providers-nav {
    top: -50px;
  }

  .section-one {
    padding-top: 150px;
    margin-top: -250px;
  }

  .section-two, .section-three, .section-four, .section-five {
    img {
      margin-top: 30px;
    }
  }
  .span6, .span6right {
    width: 100%;
  }

  .bottom-angle-section.one {
    margin-bottom: 2500px;
  }

  .bottom-angle-section.two {
    margin-bottom: 2400px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1700px;
  }
}

@media(max-width: $phone) {
  .service-providers-nav {
    top: -50px;
  }

  .section-one {
    padding-top: 150px;
    margin-top: -400px;
  }
  .page-top-margin {
    margin-top: 200px;
  }

  .section-one {
    margin-bottom: 100px;
    img {
      display: none;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 2700px;
  }

  .bottom-angle-section.two {
    margin-bottom: 2600px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1800px;
  }
}
