@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  width: 100%;
}

.success-stories-container {
  background-color:transparent;
  @include container(960px);
}

.service-providers-nav a.success-stories-link {
  color: $red-01;
}

#success-stories {
  h2 {
    margin-top: 0;
  }
}

.section-one {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 60px;
  background-color: #fafafa;
  margin-bottom: 100px;

  h1 {
    max-width: 850px;
  }
}

.section-two {
  padding: 0 20px;
  margin-bottom: 100px;
  .one-and-one {
  margin-top: 0;
  }

  h2 {
    margin-bottom: 70px;
  }

  #card-one, #card-two, #card-three, #card-four, #card-five, #card-six {
    .front, .back {
      border: 1px solid $grey-02;
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 20px;
      border-radius: 5px;
    }

    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 280px;
    height: 350px;

    blockquote {
      font-size: 18px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      line-height: 26px;
    }
  }

  .back {
    background-color: #00a6b6;

    ul {
      padding-left: 20px;
      li {
        color: white;
      }
    }

    h4 {
      font-size: 28px;
      color: white;
      margin: 0 auto;
      margin-top: 10px;
      text-align: center;
    }
  }

  .success-stories-container {
    padding: 0;
  }
}

.bottom-angle-section.one {
  margin-bottom: 750px;
}

.section-three {
  padding-top: 120px;
  padding-bottom: 100px;

  h2 {
    margin-bottom: 70px;
  }

  h5 {
    font-size: 24px;
    color: $red-01;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }


  .card {
    width: 280px;
    height: 350px;
    border: 1px solid $grey-02;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
    float: left;
  }
}

.section-four {
  padding-top: 120px;
  padding-bottom: 100px;

  ul {
    li {
      font-size: 12px;
    }

    p {
      margin: 0;
    }

    p.red {
      color: $red-01;
    }
  }

  span {
    color: $red-01;
  }

  hr {
    margin: 50px 0;
  }

  h2.benefits {
    padding-top: 100px;
  }

  h3, a.h3-large {
    font-size: 24px;
  }

  h3.fueled-by {
    padding-top: 50px;
  }

  p.section-description {
    font-size: 18px;
    line-height: 30px;

    a {
      font-size: 18px;
    }
  }

  ul.bullets {
    a {
      font-size: 18px;
      line-height: 30px;
    }

    li {
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .arrow {
    display: inline;
    float: left;
    width:230px;
    margin-top: 150px;
    margin-bottom: 100px;

    p {
      margin-left: 20px;
    }
  }

  .arrow-column {
    width: 440px;
    height: 220px;
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    position: relative;
    @include transform(rotate(90deg));
    left: -120px;

    li, p {
      font-size: 13px;
    }

    h5 {
      font-size: 20px;
      padding-top: 30px;
      padding-left: 20px;
    }

    .above-text {
      position: absolute;
      @include transform(rotate(-90deg));
      top: 90px;
      left: -100px;
    }

    .text {
      @include transform(rotate(-90deg));
      position: relative;
      ul {
        li {
          width: 180px;
        }
      }
    }
  }

  .arrow-column:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 40px solid #FAFAFA;
  }

  .arrow-column:after {
    content: "";
    position: absolute;
    top: -41px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 41px solid #D8D8D8;
    z-index: -200;
  }

  .arrow-column.two {
    background-color: #F2F2F2;
    height: 250px;
    z-index: -1;

    .text {
      top: -260px;
      left: -15px;

      p {
        width: 150px;
        line-height: 20px;
      }
    }
  }

  .arrow-column.two:before {
    border-bottom: 40px solid #F2F2F2;
  }

  .arrow-column.three {
    height: 250px;
    z-index: -2;

    p {
      width: 150px;
      line-height: 20px;
    }
  }

  .arrow-column.four {
    background-color: #F2F2F2;
    height: 250px;
    z-index: -3;
  }

  .arrow-column.four:before {
    border-bottom: 40px solid #F2F2F2;
  }

  .first-half, .second-half {
    display: inline-block;
    float: left;
  }
}

.section-five {
  padding-top: 120px;
  padding-bottom: 100px;

  ul {
    list-style-type: none;
    padding: 0;

    a {
      font-size: 18px;
      line-height: 30px;
    }
  }

  i {
    padding-right: 10px;
  }


  .case {
    width: 220px;
    height: 220px;
    background-color: white;
    border: 1px solid #D8D8D8;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  .case:hover {
    outline: 3px solid $aqua-01;
  }

  .white-papers {
    margin-bottom: 60px;
  }
}

@media(min-width: $tablet) {
  .section-one {
    margin-top: -300px;
    padding-top: 200px;
  }

  .page-top-margin {
    margin-top: 230px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1300px;
  }
}

@media(max-width: 957px) {
  .bottom-angle-section.three {
    margin-bottom: 1600px;
  }
}

@media(max-width: $tablet - 1) {
  .service-providers-nav {
    top: -50px;
  }

  .section-one {
    margin-top: -300px;
    padding-top: 200px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1400px;
  }
}

@media(max-width: 766px) {
  .bottom-angle-section.three {
    margin-bottom: 1600px;
  }
}

@media(max-width: 724px) {
  .bottom-angle-section.three {
    margin-bottom: 1800px;
  }
}

@media(max-width: 568px) {
  .bottom-angle-section.three {
    margin-bottom: 2000px;
  }
}

@media(max-width: 499px) {
  .bottom-angle-section.three {
    margin-bottom: 3200px;
  }
}

@media(max-width: $phone) {
  .bottom-angle-section.three {
    margin-bottom: 3500px;
  }

  .page-top-margin {
    margin-top: 200px;
  }

  .section-four {
    h2 {
      padding-top: 0;
    }
  }

  ul {
    padding-left: 15px;
  }
}

@media(min-width: 959px) {
  .arrow-chart {
    margin-bottom: 600px;
  }

  .arrow-column.one {
    top: 15px;
    left: -110px;

    .text {
      top: -130px;
      left: -120px;
    }
  }

  .arrow-column.three {
    .text {
      left: -55px;
      top: -225px;
    }
  }

  .arrow-column.four {
    .text {
      left: -20px;
      top: -270px;
    }
  }
}

@media(min-width: 959px) {
  .bottom-angle-section.two {
    margin-bottom: 1500px;
  }
}

@media(max-width: 958px) {
  .bottom-angle-section.two {
    margin-bottom: 2200px;
  }

  .arrow-chart {
    margin-bottom: 1200px;
  }

  .first-half, .second-half {
    clear: both;
  }

  .arrow-column.one {
    top: 0;
    left: -90px;
    height: 250px;

    .text {
      top: -110px;
      left: -120px;
    }
  }

  .arrow-column.two {
    left: -70px;
  }

  .arrow-column.three {
    left: -90px;

    .text {
      left: -55px;
      top: -180px;
    }
  }

  .arrow-column.four {
    left: -70px;

    .text {
      top: -265px;
      left: -20px;

    }
  }
}

@media (max-width: 939px) {
  .bottom-angle-section.one {
    margin-bottom: 800px;
  }
}

@media (max-width: 909px) {
  .bottom-angle-section.one {
    margin-bottom: 1100px;
  }
}

@media (max-width: 639px) {
  .bottom-angle-section.one {
    margin-bottom: 1200px;
  }
}

@media (max-width: 614px) {
  .bottom-angle-section.one {
    margin-bottom: 1900px;
  }
}


@media(max-width: 571px) {
  .bottom-angle-section.two {
    margin-bottom: 1700px;
  }

  .arrow-chart {
    display: none;
  }
}

@media(max-width: $phone) {
  .service-providers-nav {
    top: -50px;
  }

  .section-one {
    margin-top: -450px;
    padding-top: 200px;
  }
}
