@import "variables";

a.vdi-header {
  color: $red-01 !important;
}

a.vdi-mobile-header {
  color: $red-01 !important;
}

a#solutions {
  color: $red-01;
}

footer {
  background-color: transparent !important;
}

.section {
  p, li {
    font-size: 18px;
    line-height: 30px;
  }

  .full-row {
    h3{
      margin-bottom: 0;
      }

    .vdi-graphic{
      max-width: 700px;
      margin-bottom: 30px;
    }

    .partners {
      margin: auto;
      max-width: 260px;
      min-height: 100px;

      .vmware-ready-logo, .citrix-ready-logo {
        max-width: 150px;
        float: left;
      }

      .vmware-ready-logo{
        margin-right: 30px
      }
    }

    .text{
      margin-left: 180px;
    }
    
    .button-blue{
      float: right;
    }

    .oracle-section-logo, .mysql-section-logo, .sql-section-logo, .mongo-section-logo{
      max-width: 138px;
    }

    .white-paper{
      float: right;
      min-width: 280px;
      margin-top: 30px;

      img{
        margin-right: 10px;
      }

      p{
        color: #9d1b1b;
      }
    }

    .button-red {
      margin-bottom: 80px;
      float: right;
    }
  }
}

#partners{
  h2{
    text-align: center;
  }
}

#features{
  .icons{
    max-width: 850px;
    margin: auto;
  }
  .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency, .simplified-vdi{
    float: left;
    margin: 0 10px;
    p{
      text-align: center;
      line-height: 20px;
      font-weight: 600;
    }

    img{
      max-width: 150px;
      margin-bottom: 0;
    }
  }

  .multi-tenancy{
    p{
      color: #f68121;

    }
  }

  .resource-agility{
    p{
      color: #ea6624;
    }
  }

  .maximum-availability{
    p{
      color: #e45125;
    }
  }

  .complete-automation{
    p{
      color: #ce2026;
    }
  }

  .simplified-vdi{
    p{
      color: $solidfire-red;
    }
  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      h1{
        padding-bottom: 0;
        margin: 0;
      }

      h2{
        text-align: center;
      }

      .text{
        padding: 0 10px;
        margin: 0;
      }

      .partners{
        width: 100%;

        .oracle-logo, .mysql-logo, .sql-logo, .mongo-logo{
          float: none;
          margin: 30px auto;
        }
      }

      .citrix-section-logo, .vmware-section-logo{
        display: none;
      }
    }
  }

  #features{
    .multi-tenancy, .resource-agility, .maximum-availability, .complete-automation, .efficiency, .simplified-vdi{
      float: none;
    }
  }
}

@media(max-width: $phone) {
  h1 {
    text-align: center;
  }

  .section.top-section {
    margin-top: 60px;
  }

  ul {
    padding-left: 15px;
  }
}


