@import "variables";

a#solutions {
  color: $red-01;
}

a.virtualization-header {
  color: $red-01 !important;
}

a.virtualization-mobile-header {
  color: $red-01 !important;
}

.section {
  margin-top: 140px;

  p, li {
    font-size: 18px;
    line-height: 30px;
  }

  .full-row {
    display: inline-block;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin-top: 0;
    }

    strong{
      font-weight: 600;
    }

    .h3header{
      text-align: left;
      margin-top: 24px;
    }

    .bold{
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }

    .list-title{
      margin-bottom: 0;
      font-weight: normal;
    }

    .list{
      margin-top: 30px;
    }

    .mongo-graphic{
      margin-top: 30px;
    }

    .mongodb-certified-graphic{
      max-width: 60px;
      margin: 20px 20px 30px 0;
    }

    .white-paper{
      margin-top: 30px;

      img{
        margin: 0 10px 10px;
      }

      p{
        color: #9d1b1b;
      }
    }


    .span5{
      margin-top: 26px;
      margin-bottom: 0px;
    }

    .span1{
      margin: 0;
    }

    .form{
      width: 100%;
      margin: 0 auto 40px auto;
      border: 1px #555 solid;
      border-radius: 5px;
      padding: 10px 30px 30px 30px;
      max-width: 390px;

      form{
        margin: auto;
      }
    }
  }

  .benefits{

  }

  .automate, .consolidate{
    max-width: 44px;
  }

  .scale{
    max-width: 70px;
  }

  .span2{
    p{
      color: $solidfire-red;
      font-size: 26px;
      font-weight: 200;
      text-align: center;
    }
  }

  .span10{
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.feature-wrapper {
  width: 100%;
  float: left;

  .span12 {
    border-top: solid 1px $grey-01;
  }
}

.request-demo {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 70px;

  .full-row {
    border-top: solid 1px $grey-01;
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }

  .sub-header {
    @include font-size(20px);
    width: 100%;
    float: left;
    margin: 25px 0;
  }

}

#request-demo {
  display: none;

  .mktoForm {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }

  button.mktoButton:hover {
    background-color: $red-04;
  }

  button.mktoButton {
    background-color: $red-01;
  }
}


@media(max-width: $tablet) {
  .section {
    margin-top: 60px;

    .full-row {
      .span6, .span5 {
        width: 100%;
        margin-left: 0;
      }

      .span2{
        margin-left: 0;
      }

      .nomobile{
        display: none;
      }
    }
  }
}

@media(max-width: $phone) {
  ul {
    padding-left: 15px;
  }
  .section.top-section {
    margin-top: 60px;
  }

  .section {
    .full-row {
      .span2{
        img{
          display: none;
        }
      }

      .span9{
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .feature-wrapper {
    .span2 {
      width: 100%;
      margin-right: 0;
    }
  }

  .section .span2 p {
    font-weight: 600;
  }
}

