@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;


a#solutions {
  color: $red-01;
}

a.solutions-header {
  color: $red-01 !important;
}

a.vmware-mobile-header {
  color: $red-01 !important;
}

a.vmware-header{
  color: $red-01 !important;
}

.container {
  @include container;
  width: 100%;
}

.vmware-container {
  background-color:transparent;
  @include container(960px);
}

.sub-nav a.vmware-link {
  color: $red-01;
}

.icon-icon_playVideo2 {
  color: $red-01;
  position: relative;
  top: 2px;
}
.sub-nav {

  a {
    font-size: 15px;
  }
}


#vmware {
  .resources-section {
    padding: 0;
  }

  .skew-fix-left {
    padding: 0;
  }

  #demo-form {
    display: none;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }

  .marginTop{
    margin-top: 50px;
  }

  p.margin-bottom {
    margin-bottom: 70px;
  }

}

.vmware-content-module {
  width: 30%;
  float: left;
  margin-right: 5%;

  p a {
    text-transform: capitalize;
    font-weight: 400;
  }

  p a:hover {
    color: $aqua-01;
  }
}


.vmware-section-one{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px 100px;
  background-color: #fafafa;

  h1 {
    line-height: 1.2em;
    font-weight: 400;
    color: $grey-04;
    margin-top: 0;
  }

  .span9{
    margin-right: 0;
  }
}

.vmware-section-two{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  padding-bottom: 100px;
  margin-top: 100px;

  a {
    font-size: 18px;
    line-height: 30px;
  }
}

.vmware-section-three{
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 50px;

  .end-user-compute{
    margin-top: 30px;
  }
}

.vmware-section-four{
  width: 100%;
  position: relative;
  float: left;
  padding: 0px 20px;
  margin-top: 50px;

  .content-module-thirds .icon-with-bg, .icon-with-bg{
    color: $red-01;
    background-color: transparent;
    border: none;

    @include font-size(50px);
    padding-left: 0;
    padding-top: 17px;
    margin-bottom: -35px;
    width: 93px;
    height: 93px;
  }

  .span4 {
    padding-right: 20px;
  }
}


.vmware-section-five {
  width: 100%;
  position: relative;
  float: left;
  padding: 0px 20px;

  ul{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
  }

  li{
    margin-bottom: 10px;
  }

  i{
    @include font-size(24px);
    margin-right: 8px;
  }

  .icon{
    float: left;
    padding-top: 2px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  a {
    font-size: 18px;
  }
}

.right {
  margin-right: 0;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.vmware-section-five i {
  display: inline-block;
  padding: 0 10px 10px 0;
}



/* media queries */

@media(min-width: $tablet - 1) {
  .vmware-section-one {
    margin-top: -100px;
  }

  .page-top-margin {
    margin-top: 200px;
  }

  .vmware-section-two {
    img.nodes {
      margin-top: 120px;
    }

    img.noisy-neighbor {
      margin-top: 50px;
    }

    img.terminal-window {
      margin-top: 50px;
    }

  }

  .vmware-section-three {
    img.end-user-compute {
      margin-top: 50px;
    }

    img.application-delivery {
      margin-top: 50px;
    }

    img.infrastructure-delivery {
      margin-top: 110px;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 2500px;
  }

  .bottom-angle-section.two {
    margin-bottom: 900px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1000px;
  }

  img.elio {
    padding-right: 30px;
  }

  .vmware-section-four {
    .span12 {
      margin-top: 50px;
    }
  }
}

@media(max-width: 922px) {
  .bottom-angle-section.one {
    margin-bottom: 2900px;
  }
}


@media (max-width: $tablet) {
  .vmware-section-one {
    margin-top: 0px;
  }

  .sub-nav.section {
    margin-top: -100px;
  }

  .bottom-angle-section.three {
    margin-bottom: 1200px;
  }

  h1 {
    text-align: center;
  }

  .page-top-margin {
    margin-top: 90px;
  }

  .span3, .span4, .span9, .span6, .span6right {
    width: 100%;
  }

  img {
    float: none;
    margin-top: 30px;
  }
  .vmware-content-module.top-margin-75 {
    margin-top: 45px;
  }

  .vmware-section-one {
    .icon-icon_DataAssurance {
      @include font-size(60px);
      padding-left: 25px;
      padding-top: 17px;
      width: 100px;
      height: 100px;
    }
  }

  .bottom-angle-section.one {
    margin-bottom: 3000px;
  }

  .bottom-angle-section.two {
    top-margin: 100px;
    margin-bottom: 1800px;
  }

  .vmware-section-four {
    .span12 {
      margin-top: 0px;
    }
  }
}


@media(max-width: 517px) {
  .bottom-angle-section.one {
    margin-bottom: 3500px;
  }
}

@media(max-width: 480px) {
  .bottom-angle-section.one {
    margin-bottom: 3700px;
  }
}

@media (max-width: $phone){
  #vmware {
    ul {
      padding-left: 20px;

      li {
        padding: 0 !important;
      }
    }
  }

  .marginTop{
    margin-top: 0;
  }

  .vmware-section-one {
    margin-top: -100px;

    .page-top-margin {
      margin-top: 180px;
    }

    .span9 {
      margin-top: 30px;

      h1 {
        text-align: center;
      }
    }
  }

  .span3, .span4, .span6, .span8, .span9 {
    width: 100%;
  }

  .span4 {
    img {
      float: none;
      padding-bottom: 0;
    }
  }
  .span8 {
    p {
      padding-top: 0;
    }
  }

  .bottom-angle-section.two {
    margin-bottom: 2400px;
    top-margin: 0;
  }

  .bottom-angle-section.three {
    ul {
      margin-left: -20px;
    }
  }

  .vmware-section-four {
    .span4 {
      margin-top: 30px;
    }
  }
}