.news
  .news__container
    %h1 News
    %h2 Stay Current On SolidFire
    .news-wrapper
      - @news.each do |item|
        .news-item
          .news-item__title
            = link_to item.title, item.url, :target => '_blank', :class => 'link-height'
          .news-item__date-pub
            = item.pub_date.strftime("%B %d, %Y")
            |
            = item.publication
          .news-social
            .news-social-container
              - if item.url_shorten
                = link_to 'Twitter', 'https://twitter.com/home?status=' + item.title.to_param + '%20' + item.url_shorten + '%20%40solidfire', :target => '_blank', :class => 'twitter', :title => 'Twitter'
                = link_to 'Linkedin', 'https://www.linkedin.com/shareArticle?mini=true&url=' + item.url_shorten + '&title=' + item.title.to_param + '&summary=&source=', :target => '_blank', :class => 'linkedin', :title => 'Linkedin'
                = link_to 'Google +', 'https://plus.google.com/share?url=' + item.url_shorten, :target => '_blank', :class => 'gplus', :title => 'Google +'
                = link_to 'Facebook', 'https://www.facebook.com/sharer/sharer.php?u=' + item.url_shorten, :target => '_blank', :class => 'facebook', :title => 'Facebook'
    .hidden-fileds
      %input{:type => 'hidden', :id => 'current_page'}
      %input{:type => 'hidden', :id => 'show_per_page'}
    #page-navigation



