= simple_form_for(@cms_landing_page) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :required => true
    = f.input :landing_title, :label => 'Landing page headline'
    = f.input :sub_title, :label => 'Landing page sub headline'
    = f.input :description, as: :text, :required => true
    = f.input :form_description, as: :text, :label => 'Description above form'
    = f.input :form_message, :label => 'Form title message'
    = f.input :asset_link, :label => 'Link to asset'
    = f.input :mkto_form_id, :label => 'Marketo form id'
    = f.input :thank_you_url, :label => 'Thank you page URL'
    = f.input :utube_id, :label => 'YouTube video id'
    = f.input :vidyard_id, :label => 'Vidyard video id'

  .radio-wrapper
    - if @is_edit == true
      %p
        Current Selected Layout:
        %span
          - if @cms_layout_find
            - @cms_layout_find.each do |used_layout|
              = used_layout.name
    %p
      Layouts
      %p
        %select{:name => 'cms_landing_page[layout_template]', :required => true}
          %option{:value => ''}
            Select landing page template
          - if @cms_layout_find
            - @cms_layout_find.each do |layout_find|
              %option{:value => layout_find.id, :selected => true}
                = layout_find.name
          - @cms_layout_templates.each do |layout_template|
            %option{:value => layout_template.id}
              = layout_template.name

  .radio-wrapper
    %p
      - if @cms_landing_page.custom_image_id?
        Current custom image
        = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @cms_landing_page.custom_image_id + '-' + @cms_landing_page.custom_image
      - else
      %input{:type => 'hidden', :id => 'cms_landing_page_custom_image', :name => 'cms_landing_page[custom_image]', :value => @cms_landing_page.custom_image}
      %input{:type => 'hidden', :id => 'cms_landing_page_custom_image_id', :name => 'cms_landing_page[custom_image_id]', :value => @cms_landing_page.custom_image_id}
    .display-images

  .cms-form-button-container
    %a{:herf => 'javascript://', :id => 'add-image-button', :class => 'cms-dark-grey-button margin-right-fifteen cms-form-button'}
      - if @cms_landing_page.custom_image_id?
        update custom image
      - else
        add featured image
    - if @cms_landing_page.custom_image_id?
      = link_to 'remove custom image', 'javascript://', :class => 'cms-dark-grey-button cms-form-button', :id => 'remove-image-button'

    = link_to 'add meta tags', 'javascript://', :class => 'cms-dark-grey-button cms-form-button margin-bottom-fifty', :id => 'meta-tags-button'

  .form-inputs
    #meta-tags
      = f.input :meta_title
      = f.input :meta_description, as: :text
      = f.input :meta_no_follow, :label => 'Don\'t allow bots to follow this page.', as: :boolean
  .radio-wrapper
    .form-inputs
      %br
      = f.input :login, :label => 'Login and password protect this page.', as: :boolean
  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"
