.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_landing_page.title
      .link
        = link_to 'Manage Landing Pages', cms_landing_pages_path, :class => 'cms-white-button'


    = render 'form'

    .back-btn
      = link_to 'Manage Landing Pages', cms_landing_pages_path, :class => 'cms-white-button'
