.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Custom landing pages dashboard

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_landing_page_path}
        %span.plus +
        New Landing Page
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'


    .record-wrapper.events
      .record-email
        %strong Title
      .record-destroy
        &nbsp;

    - @cms_landing_pages.each do |cms_lp|
      .custom-landing-item
        .record-email
          = cms_lp.title
        .record-destroy
          = link_to 'Destroy', cms_lp, :method => :delete, :data => { :confirm => 'Are you sure that you want to destroy this landing page?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_landing_page_path(cms_lp), :class => 'edit button--grey--small margin-right-fifteen'
          = link_to 'Copy', '/cms/landing-pages/copy-document/' + cms_lp.slugs[0], :method => :copy_document, :data => { :confirm => 'Are you sure that you want to copy this landing page?' }, :class => 'copy button-dark-blue-small margin-right-fifteen'
          = link_to 'View', '/lp/' + cms_lp.slugs[0], :class => 'view button-light-blue-small margin-right-fifteen', :target => '_blank'

    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_landing_page_path}
          %span.plus +
          New Landing Page
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
    .back-btn
      = will_paginate @cms_landing_pages
