= content_for :javascript do
  = javascript_include_tag 'jquery.validate.min.js'

.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p Create new landing page
      .link
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
        = link_to 'Manage Landing Pages', cms_landing_pages_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Landing Pages', cms_landing_pages_path, :class => 'cms--button'
      .button-container
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
