.resources
  .resources__container
    %p
      %h2
        The resource
        = @cms_landing_page.title
        has been successfully created.
    .back-btn
      = link_to 'custom landing pages', cms_landing_pages_path, :class => 'cms-red-button'
