= simple_form_for(@cms_event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :required => true
    = f.input :description, as: :text, :required => true
    = f.input :start_date, :required => true
    = f.input :end_date, :required => true
    = f.input :location, :required => true
    = f.input :cta_title, :label => 'CTA button title'
    = f.input :cta_url, :label => 'CTA button URL'

  .radio-wrapper
    %p
      - if @cms_event.custom_image_id?
        Current custom image
        = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @cms_event.custom_image_id + '-' + @cms_event.custom_image
      - else
      %input{:type => 'hidden', :id => 'cms_event_custom_image', :name => 'cms_event[custom_image]', :value => @cms_event.custom_image}
      %input{:type => 'hidden', :id => 'cms_event_custom_image_id', :name => 'cms_event[custom_image_id]', :value => @cms_event.custom_image_id}
    .display-images
  .add-image-wrapper
    .add-image-container
      .back-btn.margin-bottom-twenty-five
        %a{:herf => 'javascript://', :id => 'add-image-button', :class => 'cms-dark-grey-button'}
          - if @cms_event.custom_image_id?
            update custom image
          - else
            add image
    - if @cms_event.custom_image_id?
      .add-image-container
        .back-btn.margin-bottom-twenty-five
          = link_to 'remove custom image', 'javascript://', :class => 'cms-red-button', :id => 'remove-image-button'

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"
