.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Events dashboard

    .resource-options.float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_event_path}
        %span.plus +
        New Event
    .resource-options.float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'

    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_events.each do |cms_events|
      .events-item
        .record-email
          = cms_events.title
        .record-destroy
          = link_to 'Destroy', cms_events, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_event_path(cms_events), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_event_path}
          %span.plus +
          New Event
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
    .back-btn
      = will_paginate @cms_events
