.resources
  .resources__container
    %p
      %h2
        The event
        = @cms_event.title
        has been successfully created.
    .back-btn
      = link_to 'cms events', cms_events_path, :class => 'cms-red-button'
