= simple_form_for(@cms_organic_landing) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :label => 'Title'
    = f.input :sub_title, :label => 'Sub title'
    = f.input :cta_one, :label => 'Call to action title one'
    = f.input :cta_link_one, :label => 'Call to action link one'
    = f.input :cta_two, :label => 'Call to action title two'
    = f.input :cta_link_two, :label => 'Call to action link two'
    = f.input :cta_three, :label => 'Call to action title three'
    = f.input :cta_link_three, :label => 'Call to action link three'
    = f.input :body, as: :text
    = f.input :meta_title, :label => 'Meta title'
    = f.input :meta_description, :label => 'meta description'

  .form-actions
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px; margin-bottom: 15px;"



