.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_organic_landing.title
      .link
        = link_to 'Manage Organic Landing Pages', cms_organic_landings_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Organic Landing Pages', cms_organic_landings_path, :class => 'cms-white-button'
