.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Organic Landing Pages

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_organic_landing_path}
        %span.plus +
        New Landing Page
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'


    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_organic_landings.each do |cms_organic_landing|
      .custom-landing-item
        .record-email
          = cms_organic_landing.title

        .record-destroy
          = link_to 'Destroy', cms_organic_landing, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_organic_landing_path(cms_organic_landing), :class => 'edit button--grey--small margin-right-fifteen'
          = link_to 'View', '/flash-array-guides/' + cms_organic_landing.slugs[0], :class => 'view button-light-blue-small margin-right-fifteen', :target => '_blank'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_organic_landing_path}
          %span.plus +
          New Landing Page
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
