= content_for :javascript do
  = javascript_include_tag 'jquery.validate.min.js'
.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p Create new organic landing page
      .link
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
        = link_to 'Manage Organic Landing Pages', cms_organic_landings_path, :class => 'cms-white-button'

    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Organic Landing Pages', cms_organic_landings_path, :class => 'cms-white-button'
      .button-container
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
