.resources
  .resources__container
    %p
      %h2
        The resource
        = @cms_organic_landing.title
        has been successfully created.
    .back-btn
      = link_to 'cms organic landing pages', cms_organic_landings_path, :class => 'cms-red-button'


