.sub-nav.section
  .container
    %ul
      %li
        = link_to 'sf series hardware', hardware_path, class: 'hardware-link'
      %li
        = link_to 'product specifications', product_specifications_path, class: 'product-specifications-link'
      %li
        = link_to 'resources', platform_resources_path, class: 'resources-link'