.hidden-nav.section
  .container
    %ul
      %li
        = link_to 'element software', elements_os_path, class: 'element-software-link'
      %li
        = link_to 'scale-out architecture', scale_out_path, class: 'scale-out-link'
      %li
        = link_to 'guaranteed performance', guaranteed_performance_path, class: 'guaranteed-performance-link'
      %li
        = link_to 'automated management', automated_management_path, class: 'automated-management-link'
      %li
        = link_to 'data assurance', data_assurance_path, class: 'data-assurance-link'
      %li
        = link_to 'global efficiencies', global_efficiencies_path, class: 'global-efficiencies-link'