= content_for :head do
  = stylesheet_link_tag 'platform/automated_management', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'jquery.flip.min'
  = javascript_include_tag 'automated_management'

= render 'automated_management_nav'
= render 'hidden_nav'

#automated-management
  .automated-management-section-one
    .automated-management-container.page-top-margin
      .skew-fix
        .span3
          = image_tag 'platform/automated_management/red-oval.png', align: 'middle'
        .span9
          %h1 Automated management
          %h3 Easily manage and automate your entire storage infrastructure.
          %p If it’s worth doing, it’s worth automating. SolidFire's management frameworks provide both an intuitive web-based user interface as well as a robust REST-based API capable of automating every aspect of storage provisioning, management, and reporting.
          %p In addition, SolidFire storage management capabilities have been integrated with OpenStack, CloudStack, Flexiant, and OnApp frameworks, enabling native performance management.
          .play-video.margin-right
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_lFg_W87K_JzPoiTDZhWBWg', :src => '//play.vidyard.com/lFg_W87K_JzPoiTDZhWBWg.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_lFg_W87K_JzPoiTDZhWBWg();', :class => 'play-video-link'}
              %i{:class => 'icon-icon_playVideo2 play-video-link'}
              %p.link Watch the Automated Management Video

          .go-to-resource
            %a{:class => 'fancybox-media play-video-link', :href => element_os_resources_path}
              %i{:class => 'icon-whitepapericon play-video-link'}
              %p.link Element Software Resources

  .automated-management-section-two
    .automated-management-container
      .text
        %h2 Integration
        %h3 API: Fully integrated at the core
        %p In large storage deployments, automation is the key to efficiency. SolidFire’s REST-based API is integrated at the very core of the system, enabling automation of every aspect of storage provisioning, management, monitoring, and reporting. So whether you have rolled your own management framework or are using an off-the-shelf management stack, our API makes automating storage management simple and straightforward.
        .links
          %a{:href => '#request-form', :class => 'request-form'}
            %p
              Request our complete Rest-based API documentation
              %span &nbsp; &#187;
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFirePowerShellFeatureBrief.pdf', target: "_blank"}
            %p
              SolidFire’s integrated PowerShell module feature brief
              %span &nbsp; &#187;
      .image
        = image_tag 'platform/terminal_window.png', align: 'right'

    .native-performance-container
      .text
        %h3 Native performance control for leading management frameworks
        %p SolidFire’s API functionality has already been integrated with the OpenStack, CloudStack, Flexiant, and OnApp frameworks. This simplifies block storage integration and automation, allowing infrastructure managers to easily allocate, manage, and guarantee storage performance natively from each of these orchestration layers –- thus creating efficiencies that actually improve with scale, not vice versa.
        %p Performance controls can also be extended via a self-service portal, allowing customers to change performance on the fly and providers to charge customers based on their performance consumption.
      .image
        = image_tag 'platform/automated_management/automationlogos.png', align: 'left'

  #request-form
    .form
      %h3 Request form
      %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
      %form{:id => 'mktoForm_1024'}

  .angle-section-0
    .section-under-left.blue-under
    .section-top-left.white-top
      .automated-management-section-three
        .automated-management-container
          .skew-fix-left
            %h2 Simplified Management
            %h3 Tired of all the management baggage that comes with legacy storage?
            .table#table
              .front
                .design
                  .header.border-right
                    %p DESIGN
                  .body
                    %ul
                      %li Initial size (GB or IOPS)
                      %li  Anticipated growth over lifecycle of array
                      %li IOPS required lifetime of product
                      %li Node size selection
                      %li RAID type, RAID grouping
                      %li Drive type (FC, NL, Flash)
                      %li Drive quantities and ratio
                      %li Cache requirements
                      %li Drive Sparing
                      %li Aggregate/CPG
                      %li MetaLUN and Bin file layout

                .installation
                  .header.border-right
                    %p INSTALLATION
                  .body.no-left-border
                    %ul
                      %li Bin File/RAID Layout
                      %li Aggregate/MetaLUN creation
                      %li Snapshot spare spacing
                      %li Vol0/quorum drive layout
                      %li Aggregate snapshot frequency
                      %li Snapshot growth limits

                .operating
                  .header.border-right
                    %p OPERATING
                  .body.no-left-border
                    %ul
                      %li GB and IOPS required
                      %li Account Creation
                      %li Host to HBA assignment and tracking
                      %li Host initiator count limits
                      %li RAID type required
                      %li Primary Control Node assignment
                      %li IOPS limitation concerns
                      %li Snapshot growth policy
                      %li Thin Provisioning (or not)
                      %li Aggregate/CPG assignment
                      %li 40% CPU limit considerations

                .scaling
                  .header.border-right
                    %p SCALING
                  .body.no-left-border
                    %ul
                      %li GB and IOPS needed
                      %li Drive Shelves required
                      %li Power/floor space restrictions
                      %li Control node limitations (CPU storage)

                .upgrade
                  .header
                    %p UPGRADE
                  .body.no-left-border
                    %ul
                      %li HBA compatibility list
                      %li CPU utilization on control nodes
                      %li Maintenance window
                      %li Mitigate risk during node outage
              .back
                .design
                  .header.border-right
                    %p DESIGN
                  .body
                    %ul
                      %li Initial size (GB or IOPS)
                .installation
                  .header.border-right
                    %p INSTALLATION
                  .body
                    %ul
                      %li &nbsp;
                .operating
                  .header.border-right
                    %p OPERATING
                  .body
                    %ul
                      %li GB and IOPS required
                      %li Account Creation
                .scaling
                  .header.border-right
                    %p SCALING
                  .body
                    %ul
                      %li GB and IOPS needed
                .upgrade
                  .header
                    %p UPGRADE
                  .body
                    %ul
                      %li &nbsp;
            .banner
              = image_tag 'platform/automated_management/red-banner.png', align: 'middle'

  .border-bottom
    .container
      %hr




