= content_for :head do
  = stylesheet_link_tag 'platform/data_assurance', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'data_assurance.js'

= render 'automated_management_nav'
= render 'hidden_nav'

#data-assurance
  .data-assurance-section-one.skew-right
    .data-assurance-container.page-top-margin
      .skew-fix.right
        .content
          .span3
            = image_tag 'platform/data-assurance/red-oval.png'
          .span9
            %h1 Data Assurance
            %h3 High-availability data protection for cluster-wide, RAID-less data assurance
            %p Deploying an all-flash storage architecture at cloud scale typically introduces a series of challenges, like how to automatically recover from failed controllers. Not with SolidFire. While most storage vendors are still trying to solve those issues, our proven, patent-pending data protection and self-healing architecture are already built-in.
            %p Maintain your data with the highest levels of availability, data protection, and complete security, architected specifically for cloud-scale, all-flash infrastructures.

            .play-video.margin-right
              %script{:type => 'text/javascript', :id => 'vidyard_embed_code_owpftpQt6SL9E8bsics9pA', :src => '//play.vidyard.com/owpftpQt6SL9E8bsics9pA.js?v=3.1.1&type=lightbox'}
              %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_owpftpQt6SL9E8bsics9pA();', :class => 'play-video-link'}
                %i{:class => 'icon-icon_playVideo2 play-video-link'}
                %p.link Watch the Data Assurance Video

            .go-to-resource
              %a{:class => 'fancybox-media play-video-link', :href => element_os_resources_path}
                %i{:class => 'icon-whitepapericon play-video-link'}
                %p.link Element Software Resources

  .data-assurance-section-two.section
    .data-assurance-container.container
      .span12.graphs
        .span6graphs
          %h2  High availability storage systems: When all else fails, SolidFire doesn’t.
          %h3 Helix data protection
          %p SolidFire’s patent-pending Helix data protection is a distributed replication algorithm that spreads at least two redundant copies of data across all drives within the system, delivering fault tolerance superior to today’s traditional disk and all-flash array systems. With a revolutionary “shared nothing” high availability (HA) architecture, Helix data protection has no single point of failure and can absorb multiple, concurrent faults across all levels of the solution without affecting application performance.
          %ul
            %li
              %span
                No single point of failure
            %li
              %span
                Self-healing architecture
            %li
              %span
                Nondisruptive upgrades
            %li
              %span
                Fully automated
            %li
              %span
                Five 9s availability
            %li
              %span
                Rapid full mesh rebuilds
            %li
              %span
                Proven in the world’s most demanding data centers
        .span6graphs-right.animations
          .graph
            = image_tag 'platform/data-assurance/TraditionalGraphP1-1.png', align: 'right', class: 'yellow-graph'
            = image_tag 'platform/data-assurance/TraditionalGraphP2.png', align: 'right', class: 'yellow-graph-topper'
          .graph
            = image_tag 'platform/data-assurance/red-graph-under.png', align: 'right', class: 'red-graph'
            = image_tag 'platform/data-assurance/red-graph-topper.png', align: 'right', class: 'red-graph-topper'

      .span12.marginTop
        .span6right
          %h3 Self-healing architecture
          %p Recovering from a failure within a SolidFire system takes only minutes and is fully automatic. In a failure event, each drive in the system re-distributes a small percentage of its data – usually 1-2% – in parallel to the free space on all remaining drives. Failure recovery requires no operator intervention, eliminating the fire drills common with traditional RAID-based architectures.
        .span6.animations
          #grey-bar-animation
            .grey-bar
            .grey-bar
            .grey-bar
            .grey-bar
            .grey-bar

          #grey-bar-dots
            .a
              %p A
              %p A
            .b
              %p B
              %p B
            .c
              %p C
              %p C
            .d
              %p D
              %p D

      .span12.marginTop
        .span6
          %h3 Nondisruptive software and hardware upgrades
          %p Nondisruptive software upgrades on a rolling node-by-node basis, enabling upgrades to be done during production hours without interruption of service or QoS settings. New nodes are also easily added or removed from the system at any time without interruption or the need to manually migrate any data.
        .span6.right.nodes.animations
          = image_tag 'platform/data-assurance/Node1.png', align: 'right', id: "node-one"
          = image_tag 'platform/data-assurance/Node1.png', align: 'right', id: "node-two"
          = image_tag 'platform/data-assurance/Node1.png', align: 'right', id: "node-three"
          = image_tag 'platform/data-assurance/Node1.png', align: 'right', id: "node-four"
          = image_tag 'platform/data-assurance/Node1.png', align: 'right', id: "node-five"

      .span12.marginTop
        .span6right
          %h3 Lifetime wear guarantee
          %p Legacy RAID-based systems are notorious for causing SSDs to wear out prematurely due to high write amplification. SolidFire’s Helix data protection incorporates endurance management techniques which automatically and simultaneously:
          %ul
            %li
              %span Balance wear distribution across all SSDs within the system
            %li
              %span Ideally sequentialized I/O regardless of application workload from hosts
            %li
              %span Leverage in-line efficiency techniques to reduce write workloads before data is written
            %li
              %span Provide total protection for drives within every SolidFire system without use -case or workload restrictions.

        .span6
          =image_tag 'platform/data-assurance/GuaranteedBadge.png'

  .angle-section
    .section-under-left
    .section-top-left
      .data-assurance-three
        .data-assurance-container
          .skew-fix-left
            .span12.marginTop
              %h2 Data Protection
              %h4 The most simple, flexible, and efficient recovery toolset of any all-flash array
            .span6
              = image_tag 'platform/data-assurance/DataProtection.png', align: 'left', class: 'data-protection-img'
            .span6.right
              %h3 Synchronous and Real Time Replication
              %p Native disaster recovery capabilities, eliminates the need for costly third-party hardware or software.
              %ul
                %li
                  %span
                    Maintains all QoS settings and built-in efficiencies, eliminating need for additional WAN optimizers
                %li
                  %span
                    Pair a single cluster with up to four others for flexible failover, failback
                %li
                  %span
                    Create additional remote copies of data quickly and cost-effectively
                %li
                  %span
                    Synchronous, asynchronous, and snapshot replication options for flexible RPO configuration
            .span12
              %script{:type => 'text/javascript', :id => 'vidyard_embed_code_vTaj-r1fRf93s10nblZXTA', :src => '//play.vidyard.com/vTaj-r1fRf93s10nblZXTA.js?v=3.1.1&type=lightbox'}
              %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_vTaj$r1fRf93s10nblZXTA();', :class => 'play-video-link'}
                = image_tag 'platform/data-assurance/VideoDataAssurance.jpg', align: 'middle', class: 'video'

  .border-bottom
    .container
      %hr
