= content_for :head do
  = stylesheet_link_tag 'platform/elements_os', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'element-os'
  = javascript_include_tag 'jquery.flip.min'

= render 'automated_management_nav'
= render 'hidden_nav'

.element-os-section-one
  .element-os-container.page-top-margin
    .skew-fix
      .span12
        .span3
          =image_tag 'platform/elements/f830e215-5fe3-44ce-bbfd-ef2653fe1142.png'
        .span9right
          %h1 Element OS. This transforms everything.
          %h3 The only storage operating system built from the ground up to enable the next generation data center
          %h5.lighter SolidFire Element OS uniquely answers all five key storage requirements for a true, next generation data center. This all-inclusive, industry-leading storage operating system is at the core of every SolidFire infrastructure, giving you capabilities no other storage technology can match.
      .span12
        .span4
          #scaleout.content-module-thirds.top-margin-45
            .front
              %i{:class => 'icon-icon_ScaleOut icon-with-bg'}
              %h5 Scale-out
              %p
                Grow with your business demands by seamlessly and granularly adding capacity and performance for each new business need.

            %a{:href => scale_out_path}
              .back
                %p.underline Scale-out
                %ul
                  %li Deploy 10s of TBs to multiple PBs
                  %li Scale nondisruptively with no downtime
                  %li Mix nodes in the same cluster
                %p
                  %a{:href => scale_out_path, :class => 'button-white-outline'}
                    read more &#187;
        .span4
          #guaranteed-performance.content-module-thirds.top-margin-45
            .front
              %i{:class => 'icon-icon_GuaranteedPerformance icon-with-bg'}
              %h5 Guaranteed performance
              %p
                Optimize your infrastructure by managing performance independent of capacity for complete control of utilization performance.
            %a{:href => guaranteed_performance_path}
              .back
                %p.underline Guaranteed performance
                %ul
                  %li Guarantee performance to every volume
                  %li Manage performance in real time
                  %li Use fine-grain Quality of Service settings
                %p
                  %a{:href => guaranteed_performance_path, :class => 'button-white-outline'}
                    read more &#187;
        .span4last
          #automated-management.content-module-thirds.top-margin-45
            .front
              %i{:class => 'icon-icon_Automation icon-with-bg'}
              %h5 Automated management
              %p
                Set your infrastructure to automatic and respond to business demands rapidly with on-the-fly adjustments.

            %a{:href => automated_management_path}
              .back
                %p.underline Automated management
                %ul
                  %li Provision instantly and balance loads automatically
                  %li Utilize a comprehensive API
                  %li Upgrade regularly and nondisruptively
                %p
                  %a{:href => automated_management_path, :class => 'button-white-outline'}
                    read more &#187;
      .span12
        .span4
          #data-assurance.content-module-thirds.top-margin-45
            .front
              %i{:class => 'icon-icon_DataAssurance icon-with-bg'}
              %h5 Data assurance
              %p
                Consolidate with confidence using SolidFire’s Helix data protection — assurance for protecting your most critical information.

            %a{:href => data_assurance_path}
              .back
                %p.underline Data assurance
                %ul
                  %li Be certain of high availability
                  %li Safeguard data with 256-bit encryption
                  %li Protect data with real-time replication and integrated backup/recovery
                %p
                  %a{:href => data_assurance_path, :class => 'button-white-outline'}
                    read more &#187;
        .span4
          #global-efficiencies.content-module-thirds.top-margin-45
            .front
              %i{:class => 'icon-icon_GlobalEfficiencies icon-with-bg'}
              %h5 Global efficiencies
              %p
                Maximize TCO with always-on deduplication, compression, and thin provisioning that drive down storage, space, and power costs.
            %a{:href => global_efficiencies_path}
              .back
                %p.underline Global efficiencies
                %ul
                  %li Increase effective memory utilization with inline compression
                  %li Distribute data automatically (no hot spots) with always-on deduplication
                  %li Eliminate performance impact as data is written
                %p
                  %a{:href => global_efficiencies_path, :class => 'button-white-outline'}
                read more &#187;

.element-os-section-two
  .element-os-container
    = image_tag 'platform/elements/node_elementOS-overview.png', align: 'middle'
    %h2 Explore the 5 elements of a successful next generation data center
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_O__Ku-4K5grXZur_O1yy_w', :src => '//play.vidyard.com/O__Ku-4K5grXZur_O1yy_w.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_O__Ku$4K5grXZur_O1yy_w();'}
      .video-thumbnail.scale-out
        %i{:class => 'icon-icon_playVideo2'}
        %p Scale-out agility
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_7f8jwCABxav_qTdW_k4rtA', :src => '//play.vidyard.com/7f8jwCABxav_qTdW_k4rtA.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_7f8jwCABxav_qTdW_k4rtA();'}
      .video-thumbnail.guaranteed-performance
        %i{:class => 'icon-icon_playVideo2'}
        %p
          Guaranteed
          %br
          performance
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_n0Bek1q5Dm057jw_zDrrqQ', :src => '//play.vidyard.com/n0Bek1q5Dm057jw_zDrrqQ.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_n0Bek1q5Dm057jw_zDrrqQ();'}
      .video-thumbnail.automated-management
        %i{:class => 'icon-icon_playVideo2'}
        %p
          Automated
          %br
          management
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_owpftpQt6SL9E8bsics9pA', :src => '//play.vidyard.com/owpftpQt6SL9E8bsics9pA.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_owpftpQt6SL9E8bsics9pA();'}
      .video-thumbnail.data-assurance
        %i{:class => 'icon-icon_playVideo2'}
        %p Data assurance
    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MMaZK2EloY4HFaf0mxOBeg', :src => '//play.vidyard.com/MMaZK2EloY4HFaf0mxOBeg.js?v=3.1.1&type=lightbox'}
    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MMaZK2EloY4HFaf0mxOBeg();'}
      .video-thumbnail.global-efficiencies
        %i{:class => 'icon-icon_playVideo2'}
        %p Global efficiencies

.section-bottom
  .angle-section-1
    .section-under-left.red-under
    .section-top-left.white-top
      .skew-fix-left
        .element-os-section-four
          .element-os-container
            .span6
              %h2 See SolidFire for yourself
              %p Schedule a demo to best understand why our scale-out, all-flash storage infrastructure is the industry’s leading solution for next generation infrastructure.
            .span6.right
              .form
                %h3 Schedule a live demo
                %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
                %form{:id => 'mktoForm_1115'}
                :javascript
                    MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1115);

