= content_for :head do
  = stylesheet_link_tag 'platform/element_os_resources', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= render 'automated_management_nav'

#resources-toolbox
  .top-section
    .angle-section-0
      .section-under-right.red-under
      .section-top-right.alternate-grey-top
        .container
          .skew-fix-right
            .fit-container-relative.page-top-margin
              %h1 Resources
              .resource-section
                %h3 Video/Webinar
                %ul
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation-data-center-infrastructure-automated-management')} 5 Elements of a successful Next Generation Data Center infrastructure: automated management &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation-data-center-infrastructure-global-efficiencies')} 5 Elements of a successful Next Generation Data Center infrastructure: Global Effciencies &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation-data-center-infrastructure-data-assurance')} 5 Elements of a successful Next Generation Data Center infrastructure: Data Assurance &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation-data-center-infrastructure-guaranteed-performance')} 5 Elements of a successful Next Generation Data Center infrastructure: Guaranteed Performance &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation')} 5 Elements of a successful Next Generation Data Center infrastructure: Scale-Out &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:class => 'fancybox-media play-video-link', :href => 'https://www.youtube.com/watch?v=aqZZMxZJW6Q'} Demo - SolidFire Quality of Service & Guaranteed Performance &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('capacity-planning-and-scale-out-architecture-solidfire')} Capacity Planning & Scale-out Architecture - SolidFire &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('how-solidfires-rest-based-api-enables-complete-automated-management')} How SolidFire’s Rest-based API Enables Complete AUtomated Management &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('technical-demo-solidfire-5-node-cluster-installation-and-configuration')} Technical Demo - SolidFire 5-node cluster installation & Configuration &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('whiteboard-video-raid-less-data-protection-solidfire')} Whiteboard Video -Raid-less Data Protection - SolidFire &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('5-elements-of-a-successful-next-generation-data-center-infrastructure-scale-out')} Whiteboard Video - True Scale-out Architecture - SolidFire &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:href => show_resource_path('webinar-consolidate-your-enterprise-workloads-without-creating-new-performance-constraints')} Webinar - Consolidate your enterprise workloads without creating new performance constraints &nbsp; &raquo;
              .resource-section
                %h3 Datasheets/Briefs/Blogs/analyst reports/White Paper
                %ul
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('solidfire-product-datasheet')} Product Datasheet &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: 'http://www.solidfire.com/blog/fueling-your-storage-transformation-with-oxygen/', target: "_blank"} Blog: SolidFire’s New Element OS Release Deepens Data Assurance Capabilities and Accelerates Transition to Next Generation Data Center &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('gartner-2015-critical-capabilities-for-solid-state-arrays')} Gartner 2015 Critical Capabilities for Solid-State Arrays &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('solidfire-definitive-guide-guaranteeing-storage-performance')} SolidFIre Definitive Guide: Guaranteeing Storage Performance &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('451-research-solidfire-sparks-clouds-with-flash-and-qos-driven-storage')} 451 Research - SolidFIre Sparks clouds with flash and QoS-driven storage &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('datasheet-solidfire-installation-service')} Datasheet -SolidFire Installation Service &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('esg-lab-report-quantifying-the-economic-value-of-a-solidfire-deployment')} ESG Lab Report - Quantifying the Economic Value of a SolidFire Deployment &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('the-solidfire-data-availability-difference')} Brief - The SolidFire Data Availability Difference &nbsp; &raquo;

              .resource-section
                %h3 Case Studies
                %ul
                  %li
                    %i.icon-icon_playVideo2
                    %a{href: show_resource_path('video-case-study-colt')} Video Case Study Colt &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Colt.pdf', target: "_blank"} Written Case Study &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{:class => 'fancybox-media play-video-link', href: 'http://www.solidfire.com/resources/video-case-study-ultimate-software'} Video Case study - Ultimate Software &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: 'http://info.solidfire.com/rs/solidfire/images/Case%20Study%20-%20Ultimate%20Software.pdf', target: "_blank"} Written Case Study Ultimate Software &nbsp; &raquo;
                  %li
                    %i.icon-icon_playVideo2
                    %a{href: 'http://www.solidfire.com/resources/video-case-study-ezverify'} Video Case Study - EzVerify &nbsp; &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_AHCS.pdf', target: "_blank"} Written Case Study - EzVerify &nbsp; &raquo;

  .border-bottom
    .container
      %hr