= content_for :head do
  = stylesheet_link_tag 'platform/global_efficiencies', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'global_efficiencies'
  = javascript_include_tag 'demo_form'

= render 'automated_management_nav'
= render 'hidden_nav'

#global-efficiencies
  .global-efficiencies-section-one.skew-right
    .global-efficiencies-container.page-top-margin
      .skew-fix.right
        .content
          .span3
            = image_tag 'platform/global_efficiencies/red-oval.png'
          .span9
            %h1 Global data efficiencies
            %h3 Data efficiencies architected for the modern data center
            %p With comprehensive data reduction from in-line deduplication, compression, thin provisioning, and space-efficient snapshots, SolidFire makes flash at scale an economic reality.
            .play-video.margin-right
              %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MMaZK2EloY4HFaf0mxOBeg', :src => '//play.vidyard.com/MMaZK2EloY4HFaf0mxOBeg.js?v=3.1.1&type=lightbox'}
              %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MMaZK2EloY4HFaf0mxOBeg();', :class => 'play-video-link'}
                %i{:class => 'icon-icon_playVideo2 play-video-link'}
                %p.link Watch the Global efficiencies Video

            .go-to-resource
              %a{:class => 'fancybox-media play-video-link', :href => element_os_resources_path}
                %i{:class => 'icon-whitepapericon play-video-link'}
                %p.link Element Software Resources
  .global-efficiencies-section-three
    .global-efficiencies-container
      .span12
        .span4
          %h3 Global deduplication
          %p SolidFire’s always-on data deduplication works non-disruptively across the entire cluster to maximize data reduction.
        .span8right
          = image_tag 'storage_system/global-efficiencies/GlobalDuplication.png'

      .span12
        .span4right
          %h3 Two-layer compression
          %p SolidFire utilizes both an in-line and post-process compression, optimizing for space without sacrificing performance.
        .span8
          = image_tag 'storage_system/global-efficiencies/twolayercompression.png'
      .span12
        .span4
          %h3 4k granular thin provisioning
          %p SolidFire uses 4k granular thin provisioning that does not require any reserve space, returning data immediately back to free space for use by other SolidFire volumes.
        .span8right
          = image_tag 'storage_system/global-efficiencies/4kGranularThinProvisioning.png', :class => 'stack'

  .bottom-angle-section.one
    .section-under-left
    .section-top-left
      .skew-fix-left
        .calculator-section
          .calculator-container
            %p.error-message Total percent of system must equal 100.
            %h2 SolidFire data efficiencies calculator
            %table
              %thead
                %tr
                  %th.blank.top &nbsp
                  %th.top Workload 1
                  %th.top Workload 2
                  %th.top Workload 3
              %tbody
                %tr#workload-options
                  %th.side Choose Workload
                  %td
                    %select#workload-one
                      %option N/A
                      %option VDI
                      %option Virtualization
                      %option Database
                      %option Cloud
                  %td
                    %select#workload-two
                      %option N/A
                      %option VDI
                      %option Virtualization
                      %option Database
                      %option Cloud
                  %td
                    %select#workload-three
                      %option N/A
                      %option VDI
                      %option Virtualization
                      %option Database
                      %option Cloud
                %tr#percent-of-system
                  %th.side % of System Capacity
                  %td.workload-one
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-two
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-three
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                %tr#number-of-vms
                  %th.side # of: VMs / Databases / Instances / Desktops
                  %td.workload-one
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-two
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-three
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                %tr#divergence
                  %th.side % of Unique Data
                  %td.workload-one
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-two
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                  %td.workload-three
                    %input.grey(disabled)
                    %a.tooltip.hidden i
                    %p.tooltip-box.hidden
                %tr#compression
                  %th.side Compression
                  %td
                    %input.workload-one(disabled)
                  %td
                    %input.workload-two(disabled)
                  %td
                    %input.workload-three(disabled)
                %tr#thin-provisioning
                  %th.side Thin Provisioning
                  %td
                    %input.workload-one(disabled)
                  %td
                    %input.workload-two(disabled)
                  %td
                    %input.workload-three(disabled)
                %tr#deduplication
                  %th.side Deduplication
                  %td
                    %input.workload-one
                  %td
                    %input.workload-two
                  %td
                    %input.workload-three
                %tr#workload-efficiency
                  %th.side Workload Efficiency
                  %td.workload-one
                  %td.workload-two
                  %td.workload-three
                %tr#total-efficiency
                  %th.side Total Efficiency
                  %td &nbsp
                  %td.total
                %tr#refresh
                  %th.side &nbsp
                  %td &nbsp
                  %td
                  %td
                    %button.refresh Reset Calculator
        .brief-container
          .icon.icon-whitepapericon
            = link_to 'Data Efficiencies Brief', 'http://info.solidfire.com/rs/538-SKP-058/images/SolidFire-Data-Efficiencies-Breif.pdf', target: "_blank"

        .demo-section
          .demo-container.container
            %h2 All-flash storage for less than the cost of disk -- requiring a fraction of the space, power, and cooling.
            %a.button-red{:href => '#demo-form', :class => 'demo-form'}  SCHEDULE A DEMO

        .global-efficiencies-section-two.section
          .global-efficiencies-container.container
            .span12
              .data-efficiency-container
                .text
                  %h2 Don't settle for "bolt-on" efficiency
                  %h3 Native, always-on, in-line data reduction
                  %p With data efficiency fast becoming a requirement for customers, traditional array vendors are scrambling to “bolt-on” technologies to meet the need. Don’t be fooled. Bolt-on efficiency techniques create performance bottlenecks that crush storage performance, putting you right back where you started.
              .span12.table-container
                .span4.deduplication
                  %p.title Deduplication
                  %ul
                    %li Reduces repetitive writes to media 
                    %li Increases system performance and reduces SSD wear
                    %li Even capacity and performance load distribution eliminates hot spots
                .span4.compression
                  %p.title Compression
                  %ul
                    %li All I/O compressed uppon ingest and remains compressed until it’s read
                    %li Increases effective memory utilization 
                    %li Reduces the footprint of stored data
                .span4.thin-provisioning.right
                  %p.title Thin Provisioning
                  %ul
                    %li Requires no reservations or pre-allocation 
                    %li Does not consume capacity on pre-allocation or initialization
                    %li Never stalls i/O in order to allocate capacity
                .execute
                  %p Execute in-line and system-wide
                .fine-grained
                  %p 4k fine-grained block size
                .always-on
                  %p Always-on integrated functionality
                .increase-performance
                  %p Increases performance by reducing I/O and increasing cache hit ratio
                .no-performance
                  %p No performance impact as data is being written
                .hot-spots
                  %p Does not create hot spots
                .remains-compressed
                  %p Data reamains compressed across entire system
                .space-used
                  %p No space used when  pre-allocated or initalized
                .automatic-space
                  %p Automatic space reclamation when data is zeroed or deleted

            = image_tag 'storage_system/global-efficiencies/solidfire_1node_front.png', :align => 'middle', :class => 'node'

            .environmental-benefits-container
              %h2 Data center efficiencies
              %h3 Money isn't the only thing you'll save.
              %h5 With significantly higher efficiency than a legacy array, SolidFire's all-flash systems dramatically cut the energy, heating, and cooling costs required by your storage infrastructure.
              = image_tag 'storage_system/global-efficiencies/5sf-environmetal_benifits_graphics.png', :align => 'middle', :class => 'node'
              %h5 Quantifying the Economic Value of SolidFire Deployment, ESG, Feb. 2015
              %a.button-red{:href => 'http://www.solidfire.com/esg', target: "_blank"} download the report

#demo-form
  .form
    %h3 Schedule a live demo
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1115'}
