= content_for :head do
  = stylesheet_link_tag 'platform/guaranteed_performance', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= render 'automated_management_nav'
= render 'hidden_nav'

#guaranteed-performance
  .guaranteed-performance-section-one.skew-right
    .guaranteed-performance-container.page-top-margin
      .skew-fix.right
        .content
          .span3
            = image_tag 'platform/guaranteed_performance/IOPS-oval.png'
          .span9.right
            %h1 Guaranteed storage performance
            %h3 Only SolidFire delivers guaranteed Quality of Service (QoS) — the key to ensuring system performance
            %p What good is raw, all-flash performance if you can’t be certain that your applications, workloads, or tenants will have all the IOPS they demand? This is especially true as you eliminate silos and transform from dedicated infrastructure to shared environments.
            %p Welcome to SolidFire — the only storage platform that enables guaranteed storage QoS. Now you can manage performance independently from capacity and ensure predictable performance to each and every application you run.

            .play-video.margin-right
              %script{:type => 'text/javascript', :id => 'vidyard_embed_code_7f8jwCABxav_qTdW_k4rtA', :src => '//play.vidyard.com/7f8jwCABxav_qTdW_k4rtA.js?v=3.1.1&type=lightbox'}
              %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_7f8jwCABxav_qTdW_k4rtA();', :class => 'play-video-link'}
                %i{:class => 'icon-icon_playVideo2 play-video-link'}
                %p.link Watch the Guaranteed Performance Video

            .go-to-resource
              %a{:class => 'fancybox-media play-video-link', :href => element_os_resources_path}
                %i{:class => 'icon-whitepapericon play-video-link'}
                %p.link Element Software Resources


  .guaranteed-performance-section-two
    .guaranteed-performance-container
      .content
        .six-left-narrow
          %h2.performance-virtualization
            Performance virtualization: Just like virtualized capacity, only way better.
          %h3.extra-top-margin Allocate, manage, and provision storage as needed
          %p SolidFire storage arrays present performance and capacity as independent, unified, and entirely separate pools. No longer do you need to add capacity to see incremental, unpredictable performance gains. Each storage volume within a SolidFire system can be allocated an exact amount of capacity and performance, both of which can be changed on-the-fly without migrating data or impacting performance.
        .six-right
          = image_tag 'platform/guaranteed_performance/performance-capacity-thermometer.png', align: 'right'
        .six-left
        .six-right
          %p.control-performance Control performance and capacity independent of each other

      .content.marginTop
        .span12
          %h3 Define performance SLAs
          %p.margin-bottom When you can provision storage as needed, you can guarantee firm performance SLAs for applications, workloads, and tenants across your infrastructure — a key differentiator for cloud service providers and enterprise clouds alike. Now your infrastructure can host a broad range of performance-sensitive and business-critical applications, offering performance SLAs to internal or external customers and aiding the migration of applications to a more cost-effective and predictable storage infrastructure.

  .angle-section.one
    .section-under-left
    .section-top-left.white-top
      .guaranteed-performance-section-three
        .guaranteed-performance-container
          .skew-fix-left
            %h2
              Guaranteed storage QoS.
              %br
              The only way to guarantee performance to every workload and tenant.
            %p Only SolidFire gives you the ability to deliver consistent application performance regardless of system condition or application activity. Plain and simple. And that’s the only definition for QoS that matters to your next generation cloud infrastructure.
            .span12.fine-grain
              .span6
                %h3 Get fine-grain performance control for min, max, and burst settings.
                %p Most storage arrays allow you to set maximum thresholds for every application. Only SolidFire gives you control over minimum settings — the only way you can truly guarantee performance to individual workloads in resource-hungry environments. You can now tailor system performance to your application, not the other way around.
              .span6.right
                = image_tag 'platform/guaranteed_performance/thermometer-two.png', align: 'right', class: 'min-max-burst'
            .span12.iops
              .span4
                %h5.title Min IOPS
                %p I/O operations per second that are always available to the volume. Ensures guaranteed performance regardless of system condition or application activity.
              .span4
                %h5.title Max IOPS
                %p I/O operations per second that a volume can process over a sustained period of time.
              .span4.right
                %h5.title Burst IOPS
                %p I/O operations per second that a volume will be allowed to process during a spike in demand. Particularly effective for uneven and latency-sensitive workloads.
            .span12.performance
              .span6right
                %h3 Consolidate applications and eliminate noisy neighbors
                %p As more and more applications share the same storage infrastructure, they also share storage performance (both IOPS and bandwidth). Ultimately, each application ends up contending for storage resources. One highly active or poorly written application – the “noisy neighbor” – can easily consume an unfair share of the resources, crushing available performance for all the others.
                %p SolidFire’s QoS settings eliminate resource contention and variable application performance caused by noisy neighbors.
              .span6
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_jamrHS_CCuwX7yOWhfeszQ', :src => '//play.vidyard.com/jamrHS_CCuwX7yOWhfeszQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_jamrHS_CCuwX7yOWhfeszQ();'}
                  = image_tag 'platform/guaranteed_performance/video_garperf.jpg', align: 'left', class: 'qos-video'
                %p.video-description See how to control performance resources on a per volume basis and how to firewall those resources so that applications remain 100% predictable.
            .span12.performance.noise
              = image_tag 'platform/guaranteed_performance/Noisy-Neighbor.png', align: 'left'

  .angle-section.three
    .section-under-left
    .section-top-left
      .guaranteed-performance-section-four
        .guaranteed-performance-container
          .skew-fix-left
            .resources
              .span4
                .read-more-container
                  %i{:class => 'icon-whitepapericon'}
                  %p Introduction to Storage Quality of Service
                .links
                  %a{:href => show_resource_path('introduction-to-storage-quality-of-service-article')}
                    %p
                      learn more
                      %span &nbsp; &#187;
              .span4middle
                .read-more-container
                  %i{:class => 'icon-whitepapericon'}
                  %p IDC - TECHNOLOGY ASSESSMENT - Storage array QoS provisioning and guaranteeing storage performance
                .links
                  %a{:href => show_resource_path('idc-storage-array-quality-of-service-provisioning-and-guaranteeing-storage-performance')}
                    %p
                      learn More
                      %span &nbsp; &#187;
              .span4last
                .read-more-container
                  %i{:class => 'icon-whitepapericon'}
                  %p SolidFire Definitive Guide: Guaranteeing Storage Performance
                .links
                  %a{:href => show_resource_path('solidfire-definitive-guide-guaranteeing-storage-performance')}
                    %p
                      learn More
                      %span &nbsp; &#187;
            .span12.performance
              .span6.mixed-workloads
                %h3 Run mixed workloads on the same system with confidence
                %p With guaranteed performance control comes the ability to consolidate a broad range of mixed applications within a single storage platform — confidently and predictably.
              .span6.right.image-and-text
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_r_ISqueuNUCX1tg3vDigmQ', :src => '//play.vidyard.com/r_ISqueuNUCX1tg3vDigmQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_r_ISqueuNUCX1tg3vDigmQ();'}
                  = image_tag 'platform/guaranteed_performance/gaurperf_video0.jpg', align: 'left', class: 'video-image-two'
                %p.video-description See how easy it is to run virtual desktops, databases, and a broad set of virtualized applications within one SolidFire storage cluster.

  .angle-section.two
    .section-under-left.red-under
    .section-top-left
      .guaranteed-performance-section-four
        .guaranteed-performance-container
          .skew-fix-left
            %h2 Storage Quality of Service
            %p Not all QoS is the same. True QoS delivers predictable performance natively, without having to optimize or organize data layouts to achieve it. Rate limiting, prioritization schemes, and tiering algorithms are all afterthoughts that attempt to overcome limitations in storage systems that were never designed to deliver predictable performance in the first place.
            %p We built our architecture from the ground up to guarantee performance for large-scale storage infrastructure despite tenant activity or failure condition –- a solution made possible only through six core architectural elements.
            %h5 Explore the six architectural requirements for delivering guaranteed storage performance

            .videos
              %br
              %br
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_jamrHS_CCuwX7yOWhfeszQ', :src => '//play.vidyard.com/jamrHS_CCuwX7yOWhfeszQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_jamrHS_CCuwX7yOWhfeszQ();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-one.jpg', align: 'left'
                %p.title All-SSD Architecture
                %p Enables the delivery of consistent latency for every IO
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_UI96axY9RJX-kiu0EqyntQ', :src => '//play.vidyard.com/UI96axY9RJX-kiu0EqyntQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_UI96axY9RJX$kiu0EqyntQ();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-two.jpg', align: 'left'
                %p.title True Scale-Out Architecture
                %p Allow for linear, predictable performance gains as systems scale
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MRmjbs6MNysfiZFKKqdgSQ', :src => '//play.vidyard.com/MRmjbs6MNysfiZFKKqdgSQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MRmjbs6MNysfiZFKKqdgSQ();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-three.jpg', align: 'left'
                %p.title True RAID-less Data Protection
                %p Ensures predictable performance in any failure condition
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_ByrPmZPYyT8XNW5lBLTafg', :src => '//play.vidyard.com/ByrPmZPYyT8XNW5lBLTafg.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_ByrPmZPYyT8XNW5lBLTafg();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-four.jpg', align: 'left'
                %p.title Balanced Load Distribution
                %p Eliminates hot spots that create unpredictable IO latency
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_jamrHS_lWTb0tAMRuw3kVcNfvsuvQ', :src => '//play.vidyard.com/lWTb0tAMRuw3kVcNfvsuvQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_lWTb0tAMRuw3kVcNfvsuvQ();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-five.jpg', align: 'left'
                %p.title Fine Grain QoS Control
                %p Completely eliminates noisy neighbors, and guarantees volume performance
              .video
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_m1RlWA82KY3sZ548hcghQw', :src => '//play.vidyard.com/m1RlWA82KY3sZ548hcghQw.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_m1RlWA82KY3sZ548hcghQw();'}
                  = image_tag 'platform/guaranteed_performance/arch-requirement-six.jpg', align: 'left'
                  %p.title Performance Virtualization
                  %p Controls performance independent of capacity and on demand

  .border-bottom
    .container
      %hr