= content_for :head do
  = stylesheet_link_tag 'platform/nodes', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'nodes.js'

.sub-nav.section
  .container
    %ul
      %li
        = link_to 'sf series hardware', hardware_path, class: 'hardware-link'
      %li
        = link_to 'product specifications', product_specifications_path, class: 'product-specifications-link'
      %li
        = link_to 'resources', platform_resources_path, class: 'resources-link'

.sub-nav.section.hidden
  .container
    %ul
      %li
        = link_to 'sf series hardware', hardware_path, class: 'hardware-link'
      %li
        = link_to 'product specifications', product_specifications_path, class: 'product-specifications-link'
      %li
        = link_to 'resources', platform_resources_path, class: 'resources-link'

#nodes
  .top-section
    .angle-section-0
      .section-under-right.blue-under.top
      .section-top-right.alternate-grey-top
        .page-top-margin.container
          .skew-fix-right
            .fit-container-relative
              .hardware-pic
                = image_tag 'platform/nodes/NodeHeroNodesOV.png', align: 'middle', alt: 'SolidFire Nodes'
              %h1 SolidFire SF Series storage hardware
              %h2 One storage platform for confidently running multiple, mixed workloads.
              .hero-left
              %ul
                %li
                  %span.bullet •
                  For guaranteed application performance
                %li
                  %span.bullet •
                  For accelerated user productivity
                %li
                  %span.bullet •
                  For a simple, scalable flash storage platform
              %a#demo.button-red{:href => '#header-demo', :class => 'header-demo'} Schedule a Demo

  .section.next-generation
    .container
      .span6
        %h2 Start your next generation infrastructure — and grow from there
        %p
          Start with a four node cluster of any SolidFire nodes, and mix and match nodes as you scale to take advantage of the most current, cost-effective flash technology available.
        %p.smaller
          Mix and match nodes that scale incrementally as demand dictates.
          %br
            Scale a single system without limitation
            %br
              20TB to PB of effective capacity
              %br
                200K to millions of IOPS
      .span6right
        = image_tag 'platform/nodes/chartSFHardware.png', align: "right", class: 'chart'

  .section.choose-your-nodes
    .container
      %h3 Choose your nodes to right-size the predictability, automation, and scalability of your SolidFire storage platform.

      .node.span3
        .header.blue-one
          %h4 Granular scale
        .product
          %h4 SF2405
          = image_tag 'platform/nodes/NodeSmallLeft.png', align: 'middle', alt: 'SolidFire SF2405 Node'
        %p.blurb.blue-one Add 5TB and 50K IOPS to your system
        .stats
          %ul
            %li
              %span Accelerate application performance
            %li
              %span Support initial private cloud deployments

      .node.span3last
        .header.blue-two
          %h4 Versatile utility
        .product
          %h4 SF4805
          = image_tag 'platform/nodes/NodeSmallCenter.png', align: 'middle', alt: 'SolidFire SF4805 Node'
        %p.blurb.blue-two Add 10TB and 50K IOPS to your system
        .stats
          %ul
            %li
              %span Consolidate mixed workloads with a single platform
            %li
              %span Balance performance and capacity

      .node.span3
        .header.blue-three
          %h4 Optimized capacity
        .product
          %h4 SF9605
          = image_tag 'platform/nodes/NodeSmallCenter.png', align: 'middle', alt: 'SolidFire SF9605 Node'
        %p.blurb.blue-three Add 20TB and 50K IOPS to your system
        .stats
          %ul
            %li
              %span Highest density, lowest $/GB platform
            %li
              %span Ideal when scale-out capacity is a primary requirement

      .node.span3last
        .header.blue-four
          %h4 Maximized performance
        .product
          %h4 SF9010
          = image_tag 'platform/nodes/NodeSmallRight.png', align: 'middle', alt: 'SolidFire SF9010 Node'
        %p.blurb.blue-four Add 20TB and 75K IOPS to your system
        .stats
          %ul
            %li
              %span Deliver to all-flash infrastructure across the data center
            %li
              %span Highest performance, high density node

  .bottom-angle-section.one
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section.hide-tablet-portrait
          .container
            %h3.slide Solidfire System at scale

            .slide-to-scale
              %h3
                %em Slide to scale out
              .scale-out-slider.ui-slider
                .scale-out-slider-well{"data-stellar-ratio" => "1", "data-stellar-trigger" => "animate"}
                  %a.ui-slider-handle
                    .anchor
                      %span.line
              %table.full
                %thead
                  %tr
                    %td.rowName{:colspan => 2} Cluster Size
                    %td 4 Nodes
                    %td 20 Nodes
                    %td 40 Nodes
                    %td 100 Nodes

                %tbody
                  %tr.sf3.third.sp
                    %td.rowName.smallName{:rowspan => 3}
                      Effective
                      %br
                        Capacity 5x
                        %sup
                          *
                    %td SF2405
                    %td.bg 14TB
                    %td.bg 92TB
                    %td.bg 190TB
                    %td.bg 482TB

                  %tr.sf6.third
                    %td SF4805
                    %td.bg 29TB
                    %td.bg 185TB
                    %td.bg 380TB
                    %td.bg 964TB

                  %tr.sf9.third
                    %td SF9605/SF910
                    %td.bg 58TB
                    %td.bg 370TB
                    %td.bg 759TB
                    %td.bg 1.9PB

                  %tr.sf3.third.sp
                    %td.rowName.smallName{:rowspan => 3}
                      Effective
                      %br
                        Capacity 10x
                        %sup
                          *
                    %td SF2405
                    %td.bg 29TB
                    %td.bg 185TB
                    %td.bg 380TB
                    %td.bg 964TB

                  %tr.sf6.third
                    %td SF4805
                    %td.bg 58TB
                    %td.bg 370TB
                    %td.bg 759TB
                    %td.bg 1.9PB

                  %tr.sf9.third
                    %td SF9605/SF0910
                    %td.bg 116TB
                    %td.bg 739TB
                    %td.bg 1.5PB
                    %td.bg 3.8PB

                  %tr.sf6.sp
                    %td.rowName.smallName{:rowspan => 2} 4K Random IOPS
                    %td
                      SF2405/SF4805
                      %br
                        SF9605
                    %td.bg 200K
                    %td.bg 1.0M
                    %td.bg 2.0M
                    %td.bg 5.0M

                  %tr.sf9
                    %td SF9010
                    %td.bg 300K
                    %td.bg 1.5M
                    %td.bg 3.0M
                    %td.bg 7.5M

                  %tr.sf3.third.sp
                    %td.rowName.smallName{:rowspan => 3}
                      Average kW IO
                      %br
                        Load
                    %td SF2405/SF4805
                    %td.bg 0.7kW
                    %td.bg 3.6 kW
                    %td.bg 7kW
                    %td.bg 18kW

                  %tr.sf6.third
                    %td SF9605
                    %td.bg 0.8kW
                    %td.bg 4.2kW
                    %td.bg 8kW
                    %td.bg 21kW

                  %tr.sf9.third
                    %td SF9010
                    %td.bg 1.2kW
                    %td.bg 6kW
                    %td.bg 12kW
                    %td.bg 30kW

                  %tr.sf9.sp
                    %td.rowName{:colspan => 2} Rack Units
                    %td.bg 4RU
                    %td.bg 20RU
                    %td.bg 40RU
                    %td.bg 100RU
              %p.caption.small * SolidFire’s Effective capacity calculation accounts for Helix data protection, system overhead and global efficiencies including compression, deduplication and thin provisioning. SolidFire customers typically achieve an effective capacity range of 5x to 10x the raw capacity depending on application workloads. The above capacity caclulations show both 5x & 10x effciency gains while accounting for SolidFire's High Avaliability in the event of a single node failure.

  .bottom-angle-section.two
    .section-under-left
    .section-top-left
      .skew-fix-left
        .bottom-section
          .angled-container
            .text
              %h2 Powering the world’s most demanding<br/>enterprise and service provider data centers
            .image
              = image_tag 'platform/nodes/robot.png', align: 'middle', alt: 'SolidFire Customers'


