= content_for :head do
  = stylesheet_link_tag 'platform/platform_overview', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'platform_overview.js'

.sub-nav.fixed.platform.section
  .container
    %ul
      %li
        = link_to 'platform', platform_overview_path, class: 'platform-link'
      %li
        = link_to 'elements overview', elements_os_path, class: 'elements-overview-link'
      %li
        = link_to 'hardware', hardware_path, class: 'nodes-link'
      %li
        = link_to 'support', support_path, class: 'support-link'

.sub-nav.scroll-down.platform.section.hidden
  .container
    %ul
      %li
        = link_to 'platform', platform_overview_path, class: 'platform-link'
      %li
        = link_to 'elements overview', elements_os_path, class: 'elements-overview-link'
      %li
        = link_to 'hardware', hardware_path, class: 'nodes-link'
      %li
        = link_to 'support', support_path, class: 'support-link'

#platform-overview
  .top-section
    .platform-overview-section-one.page-top-margin
      .flex-skew-fix-right
        .platform-overview-container.page-top-margin.container
          .span10
            %h1 The world’s most agile data centers demand SolidFire’s all-flash storage platform
          .span4
            %h3 Scalable, automated, future-proofed storage
            %p  SolidFire delivers the most complete range of storage features combined with advanced capabilities no other storage can match — one comprehensive storage platform for your next generation needs.

  .element-os-software.section
    .container
      .image
        = image_tag 'company/13221b22-8c25-4ced-bf7c-c785e47cc90f.png', align: 'middle'
      .text
        %h2 Element OS software
        %p SolidFire Element OS is THE storage operating system of the next generation data center and is included on every SF Series Appliance. The operating system provides all the features you demand from primary storage — total reliability, all-flash performance, end-to-end security, and more — plus all five criteria for delivering agile, predictable storage performance.

        %ul
          %li
            %span.bullet •
            True scale-out architecture
          %li
            %span.bullet •
            Guaranteed performance
          %li
            %span.bullet •
            Automated management
          %li
            %span.bullet •
            Data assurance
          %li
            %span.bullet •
            Global efficiencies

          %br
          .link
            %a{:href => elements_os_path, :class => 'aqua-link'}
              LEARN HOW WE DO IT &nbsp;
              %span.right-carrot
                &raquo;

  .sf-series-hardware.section
    .container
      .image
        = image_tag 'platform/overview/SFSeriesHWImage.png', align: 'middle'

      .text
        %h2 SolidFire SF-series hardware
        %p SolidFire SF-series storage nodes are the building blocks of a SolidFire platform, allowing you to build a broad range of scale-out, all-flash storage systems that are highly available and easy to control. Mix and match any SolidFire node within a system to take advantage of the most current and cost-effective flash systems available.
        %ul
          %li
            %span.bullet •
            Scale a single system predictably without performance degradation
          %li
            %span.bullet •
            20TB to petabytes of effective capacity
          %li
            %span.bullet •
            200K to 7.5M IOPS

          %br
          .link
            %a{:href => hardware_path, :class => 'aqua-link'}
              LEARN MORE &nbsp;
              %span.right-carrot
                &raquo;

  .active-support.section
    .container
      .image
        = image_tag 'platform/overview/Active Support.png', align: 'middle'
      .text
        %h2 Active Support
        %p Proactive, comprehensive support that solves most problems before they’re ever problematic. SolidFire Active Support continuously monitors your systems, ensuring SolidFire products are maintained and operated at the highest possible level of availability and performance.
        %ul
          %li
            Proactive philosophy
          %li
            %span.bullet •
            Secure assist
          %li
            %span.bullet •
            24/7/365 worldwide availability
          %li
            %span.bullet •
            Expert tier 3-support engineers only
          %li
            %span.bullet •
            Active IQ

          %br
          .link
            %a{:href => support_path, :class => 'aqua-link'}
              LEARN MORE &nbsp;
              %span.right-carrot
                &raquo;