= content_for :head do
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'
  = stylesheet_link_tag 'platform/product_specifications', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'product_specifications.js'

= render 'sub_nav_with_demo_button'

.sub-nav-with-demo-button.section.hidden-nav
  .container
    %ul
      %li
        = link_to 'sf series hardware', hardware_path, class: 'hardware-link'
      %li
        = link_to 'product specifications', product_specifications_path, class: 'product-specifications-link'
      %li
        = link_to 'resources', platform_resources_path, class: 'resources-link'
    %a#demo.demo-button-red{:href => '#header-demo', :class => 'header-demo'} schedule a demo

#product_spec
  .top-section
    .angle-section-0
      .section-under-right.red-under.top
      .section-top-right.white-top
        .page-top-margin.container
          .skew-fix-right
            .fit-container-relative
              %h1 Product Specifications
              %h3 Discover what your infrastructure can do with optimally balanced storage performance and capacity.
              .center
                #node360.layerd.node360content
                  = image_tag 'platform/product_specifications/SolidFire_4Node_Front Copy.png', align: 'middle', alt: 'SolidFire Node'

  .section.system-specifications.hide-mobile
    .container
      %h2 System Specifications
      %table.specs.table-responsive
        %thead
          %th{width: "21%"} Model #
          %th{width: "16%"} SF2405
          %th{width: "16%"} SF4805
          %th{width: "16%"} SF9605
          %th{width: "16%"} SF9010
          %th{width: "15%"} SF Fibre Channel
        %tbody
          %tr
            %td.left Drives
            %td (10)240 GB 2.5" SSD
            %td (10) 480GB 2.5" SSD
            %td (10)960 GB 2.5" SSD
            %td (10) 960GB 2.5&#x201D; SSD
            %td N/A
          %tr
            %td.left System Memory / Read Cache
            %td 64GB
            %td 128GB
            %td 256GB
            %td 256GB
            %td 32GB
          %tr
            %td.left Effective Capacity**
            %td 8.75TB
            %td 17.25TB
            %td 34.5TB
            %td 34.5TB
            %td N/A
          %tr
            %td.left Performance per node
            %td 50,000 IOPS
            %td 50,000 IOPS
            %td 50,000 IOPS
            %td 75,000 IOPS
            %td N/A
          %tr
            %td.left Networking
            %td{colspan: 4} (2) 10GbE iSCSI SFP+, (2) 1GbE RJ45 management
            %td
              (4) 16Gb FC, (4) 10GbE iSCSI SFP+
              %br
              (2) 1GbE RJ45 management
          %tr
            %td.left Power Supply
            %td{colspan: 5} (2) Hot-plug redundant high-efficiency 750W
          %tr
            %td.left Average Watts
            %td{colspan: 2} 130W to 230W, depending on IO load and model
            %td 150W to 275W, depending on IO load
            %td 150W to 450W, depending on IO load and model
            %td 120W to 200W, depending on IO load and model
          %tr
            %td.left Enclosure
            %td{colspan: 5} 1RU, Height: 42.8mm (1.7&#x201D;), Width: 434mm (17.09&#x201D;), Depth: 731mm (28.8&#x201D;)
          %tr
            %td.left Rack Support
            %td{colspan: 5} 4 post rack, tool-less sliding rails
          %tr
            %td.left Weight
            %td{colspan: 4} 17.2 kg (38 lbs)
            %td 16.3kg (36 lbs)
          %tr
            %td.left Environmental Parameters
            %td{colspan: 5}
              Min operating temp: 50 degrees F
              %br/
              Max continuous operating temp: 95 degrees F
              %br/
              Humidity range: 10 - 80% (non-condensing)

  .section.videos
    .container
      .span12
        .span6
          %script{:type => 'text/javascript', :id => 'vidyard_embed_code_y8GCTjXjljPmEQThXsfI7Q', :src => '//play.vidyard.com/y8GCTjXjljPmEQThXsfI7Q.js?v=3.1.1&type=lightbox'}
          .outer_vidyard_wrapper
            .vidyard_wrapper{:onclick => 'fn_vidyard_y8GCTjXjljPmEQThXsfI7Q();'}
              %img{:src => '//play.vidyard.com/y8GCTjXjljPmEQThXsfI7Q.jpg?', :alt => 'SolidFire Node Installation'}
              .vidyard_play_button
                %a{:href => 'javascript:void(0);'}
        .span6last
          %script{:type => 'text/javascript', :id => 'vidyard_embed_code_eNn9-xm8IHVjl1IIYHvaPw', :src => '//play.vidyard.com/eNn9-xm8IHVjl1IIYHvaPw.js?v=3.1.1&type=lightbox'}
          .outer_vidyard_wrapper
            .vidyard_wrapper{:onclick => 'fn_vidyard_eNn9$xm8IHVjl1IIYHvaPw();'}
              %img{:src => '//play.vidyard.com/eNn9-xm8IHVjl1IIYHvaPw.jpg?', :alt => 'SolidFire Node Set Up'}
              .vidyard_play_button
                %a{:href => 'javascript:void(0);'}

  .bottom-angle-section.one
    .section-under-left
    .section-top-left.white-top
      .skew-fix-left
        .section.about
          .container
            %h2 About SolidFire Efficiencies
            %p SolidFire provides a scale-out all-flash storage platform designed to deliver guaranteed storage performance to thousands of application workloads side-by-side, allowing consolidation under a single storage platform. The SolidFire system can be combined together over a 10Gb Ethernet network or 8/16 Gb FC clients in clusters ranging from 4 to 100 nodes.
            %p The SolidFire primary storage solution scales up to 100 nodes, provides capacity from 35TB to 3.4PB, and can deliver between 200,000 and 7.5M guaranteed IOPS to more than 100,000 volumes / applications within a single system - increasing overall business productivity through consolidation, automation and granular scalability.
            %br
            %h2 Front View
            = image_tag 'platform/product_specifications/ProdSpec_node1.jpg', align: 'left', alt: 'Placeholder'

            %h2 Back View iSCSI
            = image_tag 'platform/product_specifications/ProdSpec_node2.jpg', align: 'left', alt: 'Placeholder'

            %h2 Back View Fiber Channel
            = image_tag 'platform/product_specifications/ProdSpec_node3.jpg', align: 'left', alt: 'Placeholder'

  .angle-section-2
    .section-under-left
    .section-top-left.dark-grey-top
      .datasheets-container
        .skew-fix-left
          %ul
            %li
              %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_ProductDatasheet.pdf', target: '_blank'}
                %i.icon-whitepapericon
                SolidFire Product Datasheet
            %li
              %a{href: show_resource_path('technical-brief-storage-networking-design-choices')}
                %i.icon-whitepapericon
                Storage Networking Technical Brief
            %li
              %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SF9010_Efficiency_Infographic.pdf', target: '_blank'}
                %i.icon-whitepapericon
                SF9010: Operational Efficiency at Scale Infographic

  .section.feature-set.hide-mobile
    .container
      %h2 The industry's leading feature set

      %table.specs
        %thead
          %th{width: "25%"} Scale-out agility
          %th{width: "25%"} Guaranteed performance
          %th{width: "25%"} Automated management
          %th{width: "25%"} Inline global efficiencies
        %tbody
          %tr
            %td.left.top
              %ul
                %li
                  %span Deploy 10s of TBs to multiple PBs
                %li
                  %span Scale non-disruptively with no downtime
                %li
                  %span Mix nodes in same cluster
            %td.left.top
              %ul
                %li
                  %span Allocate storage performance independent of capacity
                %li
                  %span Manage performance in real time
                %li
                  %span Guarantee performance to every volume
                %li
                  %span Use fine-grain Quality of Service settings
            %td.left.top
              %ul
                %li
                  %span Provision instantly
                %li
                  %span Distribute data automatically (no hot spots)
                %li
                  %span Balance loads automatically
                %li
                  %span Monitor comprehensively in the cloud
                %li
                  %span Comprehensive API
                %li
                  %span Upgrade regularly and non-disruptively
            %td.left.top
              %ul
                %li
                  %span Inline & post compression
                %li
                  %span Always-on deduplication
                %li
                  %span Global thin provisioning
      %table.specs.data
        %thead
          %th.left Data assurance
        %tbody
          %tr
            %td.left.top
              .span3
                .header
                  %strong High availability
                %ul
                  %li
                    %span Wear optimized for flash
                  %li
                    %span Automated drive and node rebuild
              .span3
                .header
                  %strong Security
                %ul
                  %li
                    %span 256-bit encryption-at-rest
                  %li
                    %span Comprehensive logging
                  %li
                    %span Role-based access controls
                  %li
                    %span Secure multi-tenant networking support
              .span3
                .header
                  %strong Data protection
                %ul
                  %li
                    %span Real-time replication (asynchronous and synchronous)
                  %li
                    %span Integrated backup and recovery
                  %li
                    %span Rapid, space-efficient snapshots and clones

      %table.specs.data
        %thead
          %th{width: "50%"} Integrations
          %th{width: "50%"} Data Protocols
        %tbody
          %tr
            %td.left.top
              .span3{style: "width: inherit;"}
                %ul
                  %li
                    %span VMware vCenter plug-in, VAAI, SRM
                  %li
                    %span OpenStack driver
                  %li
                    %span CloudStack plug-in
                  %li
                    %span VMware SRM/SRA
              .span3{style: "width: inherit;"}
                %ul
                  %li
                    %span Microsoft VSS provider, PowerShell
                  %li
                    %span OnApp built-in SolidFire control
                  %li
                    %span Microsoft PowerShell
            %td.left.top
              .span6
                %ul
                  %li
                    %span iSCSI
                  %li
                    %span Fibre Channel

      %p.sub-text
        *SolidFire’s usable capacity is based on efficiencies gained from global compression and deduplication and include full data redundancy from SolidFire’s Helix data
        protection. On average SolidFire customers realize a 2x increase from compression and an added 2x of efficiency from deduplication. Effective capacity includes thin
        provisioning in the calculation resulting in an additional 2x capacity benefit. Data reduction benefits have no upper limit and will vary by workload.
