= content_for :head do
  = stylesheet_link_tag 'platform/resources', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'product_specifications.js'

= render 'sub_nav_with_demo_button'

.sub-nav-with-demo-button.section.hidden-nav
  .container
    %ul
      %li
        = link_to 'sf series hardware', hardware_path, class: 'hardware-link'
      %li
        = link_to 'product specifications', product_specifications_path, class: 'product-specifications-link'
      %li
        = link_to 'resources', platform_resources_path, class: 'resources-link'
    %a#demo.demo-button-red{:href => '#header-demo', :class => 'header-demo'} schedule a demo

#resources-toolbox
  .top-section
    .angle-section-0
      .section-under-left
      .section-top-left
        .container
          .skew-fix-left
            .fit-container-relative.page-top-margin
              .resources-section
                %h2 Resource Toolbox

                %h4 Collateral
                %ul
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('solidfire-product-datasheet')} SolidFire Product Datasheet &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('technical-brief-storage-networking-design-choices'), target: "_blank"} Storage Networking Technical Brief &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('solidfire-overview')} SolidFire Overview &raquo;
                  %li
                    %i.icon-whitepapericon
                    %a{href: show_resource_path('5-ways-your-storage-vendor-is-costing-you-more-than-you-think')} 5 Ways Your Storage Vendor Is Costing You More Than You Think &raquo;

                %h4 Videos
                %ul
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_y8GCTjXjljPmEQThXsfI7Q', :src => '//play.vidyard.com/y8GCTjXjljPmEQThXsfI7Q.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_y8GCTjXjljPmEQThXsfI7Q();'} System Installation & Configuration Video &raquo;
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_eNn9-xm8IHVjl1IIYHvaPw', :src => '//play.vidyard.com/eNn9-xm8IHVjl1IIYHvaPw.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_eNn9$xm8IHVjl1IIYHvaPw();'} System Setup & Overview Video &raquo;
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_5xAlisY0r1wr3eVFvQb68w', :src => '//play.vidyard.com/5xAlisY0r1wr3eVFvQb68w.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_5xAlisY0r1wr3eVFvQb68w();'} Capacity Planning & Scale-out Architecture &raquo;
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_UI96axY9RJX-kiu0EqyntQ', :src => '//play.vidyard.com/UI96axY9RJX-kiu0EqyntQ.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_UI96axY9RJX$kiu0EqyntQ();'} True Scale-out Architecture &raquo;
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_El89AL0b-C0z62t0ugvXIQ', :src => '//play.vidyard.com/El89AL0b-C0z62t0ugvXIQ.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_El89AL0b$C0z62t0ugvXIQ();'} High Performance Architecture - SolidFire &raquo;
                  %li
                    %i.icon-icon_playVideo22
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_frOGNAW8O7SXwY2vJXODyw', :src => '//play.vidyard.com/frOGNAW8O7SXwY2vJXODyw.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_frOGNAW8O7SXwY2vJXODyw();'} Great Good: SolidFire for the Next Generation Data Center &raquo;
                  %li
                    %script(type='text/javascript' id='vidyard_embed_code_q23ZalMAkE-UP2H0UXI-AQ' src='//play.vidyard.com/q23ZalMAkE-UP2H0UXI-AQ.js?v=3.1.1&type=lightbox')
                    .outer_vidyard_wrapper
                    .vidyard_wrapper(onclick='fn_vidyard_q23ZalMAkE$UP2H0UXI$AQ();')
                      %i.icon-icon_playVideo22
                      %a(href="javascript:void(0);") Whiteboard Overview: Mixed-node clusters (Derek Leslie) &raquo;

  .border-bottom
    .container
      %hr