= content_for :head do
  = stylesheet_link_tag 'platform/scale_out', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'scale_out'

= render 'automated_management_nav'
= render 'hidden_nav'

#scale-out
  .scale-out-section-one.skew-right
    .scale-out-container.page-top-margin
      .skew-fix.right
        .content
          .span3
            = image_tag 'platform/scale_out/red-oval.png'
          .span9
            %h1 Scale-out storage
            %h3 The world’s most scalable all-flash storage system
            %p SolidFire’s true scale-out architecture delivers flexible, independent scalability.

            .play-video.margin-right
              %script{:type => 'text/javascript', :id => 'vidyard_embed_code_O__Ku-4K5grXZur_O1yy_w', :src => '//play.vidyard.com/O__Ku-4K5grXZur_O1yy_w.js?v=3.1.1&type=lightbox'}
              %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_O__Ku$4K5grXZur_O1yy_w();', :class => 'play-video-link'}
                %i{:class => 'icon-icon_playVideo2 play-video-link'}
                %p.link Watch the scale-out storage video
            .go-to-resource
              %a{:class => 'fancybox-media play-video-link', :href => element_os_resources_path}
                %i{:class => 'icon-whitepapericon play-video-link'}
                %p.link Element Software Resources
  .scale-out-section-two
    .scale-out-container
      .span12.marginTop
        %h2 Scale-out
        .span6
          %h3 The benefits of a scale-out storage design
          %p Understanding how storage systems scale matters. It means the difference between getting trapped when managing independent storage silos and having the flexibility to adapt to any workload demand.
          %p SolidFire’s scale-out storage platform expands storage clusters through the addition of nodes, each instantly expanding the capacity and performance of the system -- no controller upgrades necessary. Simply add new nodes as your business and application demands dictate.
          %p Nothing to migrate, no interruptions, no settings to change.
        .span6.right.animation-container
          .animation
            %p.help-text Add or subtract nodes to see the gains
            .ellipse
              = image_tag 'platform/scale_out/ellipse.png'
            %p.minus -
            %p.plus +
            .plus-and-minus-back
            .node-one
              = image_tag 'platform/scale_out/singlenodeRed.png'
            .node-two
              = image_tag 'platform/scale_out/singlenodeRed.png'
            .node-three
              = image_tag 'platform/scale_out/singlenodeRed.png'
            .node-four
              = image_tag 'platform/scale_out/singlenodeRed.png'
            .node-cluster
              = image_tag 'platform/scale_out/4nodeclusterRed.png'
            .blue-box
              .blue-curtain
              %p.box-text.blue PERFORMANCE POOL
            .yellow-box
              .yellow-curtain
              %p.box-text CAPACITY POOL

  .scale-out-section-four
    .scale-out-container
      .span12.marginTop
        .span6
          %h3 The end of forklift upgrades
          %p Imagine a storage system that never requires a full-scale generational upgrade.
          %p With SolidFire, forklift upgrades are a thing of the past. Simply add new nodes with more capacity and performance into an established cluster, while old nodes are removed and retired.
        .span6.right
          = image_tag 'platform/scale_out/54-percent.png', align: 'right'

  .scale-out-section-six
    .scale-out-container
      .span12
        %h3 Automatically rebalance data across the cluster
        %p Expanding a SolidFire system never requires rebalancing, restriping, or volume reallocation. You simply add 1U storage nodes to an established cluster — all without disrupting service or compromising volume - level Quality of Service (QoS) settings.
        %p As nodes are added to a cluster, each delivers an exact amount of additional performance and capacity for a predictable pattern of linear scalability. Data is automatically redistributed in the background across all nodes in the cluster, maintaining perfect balance as the system grows.
      .span12
        .animation-two
          .second-node-one
            = image_tag 'platform/scale_out/Single Node.png'
          .second-node-two
            = image_tag 'platform/scale_out/Single Node.png'
          .second-node-three
            = image_tag 'platform/scale_out/Single Node.png'
          .second-node-four
            = image_tag 'platform/scale_out/Single Node.png'

          =image_tag 'platform/scale_out/pools.png', class: 'pools'
          =image_tag 'platform/scale_out/4nodecluster.png', class: 'cluster'
          .tiles-five
            .row.eight
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
            .row.seven
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.transparent
              .tile.transparent
            .row.six
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
            .row.five
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
              .tile.green
              .tile.green
            .row.four
              .tile.tansparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
            .row.three
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
            .row.two
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.red
            .row.one
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow

          .tiles-four
            .row.seven
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.transparent
              .tile.transparent
            .row.six
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
            .row.five
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
            .row.four
              .tile.tansparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
            .row.three
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
            .row.two
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.red
            .row.one
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow

          .tiles-three
            .row.six
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
            .row.five
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
            .row.four
              .tile.tansparent
              .tile.transparent
              .tile.transparent
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
            .row.three
              .tile.transparent
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
            .row.two
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.green
              .tile.red
            .row.one
              .tile.transparent
              .tile.transparent
              .tile.transparent
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow

          .tiles-two
            .row.five
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
            .row.four
              .tile.tansparent
              .tile.transparent
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
            .row.three
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.transparent
              .tile.transparent
            .row.two
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.transparent
              .tile.transparent
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
            .row.one
              .tile.transparent
              .tile.transparent
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow

          .tiles
            .row.four
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
            .row.three
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
            .row.two
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
            .row.one
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow
              .tile.green
              .tile.green
              .tile.red
              .tile.blue
              .tile.yellow

          .ellipse-two
            = image_tag 'platform/scale_out/ellipse.png'
          %p.second-minus -
          %p.second-plus +
          .plus-and-minus-back
          %p.help-text Add or subtract nodes to see data automatically rebalance


  .scale-out-section-seven
    .scale-out-container
      .span12
        %h3 Granular, nondisruptive scalability
        %p With SolidFire’s scale-out architecture, you simply manage flexible pools of capacity and performance, eliminating storage islands and the need to deploy different architectures for different workloads.

  .scale-out-section-three
    .scale-out-container
      .span12.marginTop
        %hr
        .span3
          = image_tag 'platform/christian_dawson.png', align: 'right'
        .span9.right
          %p.quote-text
            “With mixed-node support, SolidFire has eradicated the concept of “generational” or “forklift upgrades” common with traditional disk and other all-flash storage systems.”
            %br
            &#45;  Christian Dawson, COO, ServInt
          .links
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf', target: "_blank"}
              read the case study
              %span &#187;

  .angle-section#mixed-node-support
    .section-under-left.blue-under
    .section-top-left.white-top
      .scale-out-section-two
        .scale-out-container
          .skew-fix-left
            .span12.marginTop
              .span6right
                %h3 Mix nodes, mix capacity, mix performance
                %p Start with exactly what you require and scale your storage infrastructure over time with the confidence of the industry's most comprehensive platform compatibility.
                %ul
                  %li
                    %p.list-item Mix, match, and add new nodes as demand dictates
                  %li
                    %p.list-item Make new performance and capacity resources instantly available to all volumes
                  %li
                    %p.list-item Add and remove nodes from production clusters without downtime
              .span6
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_q23ZalMAkE-UP2H0UXI-AQ', :src => '//play.vidyard.com/q23ZalMAkE-UP2H0UXI-AQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_q23ZalMAkE$UP2H0UXI$AQ();'}
                  = image_tag 'platform/scale_out/Vid1.jpg', align: 'left', class: 'mix-nodes-img'
                  %p.play-video-link

            .span12.marginTop
              %hr
              .span6
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_5xAlisY0r1wr3eVFvQb68w', :src => '//play.vidyard.com/5xAlisY0r1wr3eVFvQb68w.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_5xAlisY0r1wr3eVFvQb68w();'}
                  = image_tag 'platform/scale_out/Vid2.jpg', align: 'middle'
                  %p.play-video-link True Scale-Out Architecture &#187;
              .span6.right
                %script{:type => 'text/javascript', :id => 'vidyard_embed_code_UI96axY9RJX-kiu0EqyntQ', :src => '//play.vidyard.com/UI96axY9RJX-kiu0EqyntQ.js?v=3.1.1&type=lightbox'}
                %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_UI96axY9RJX$kiu0EqyntQ();'}
                  = image_tag 'platform/scale_out/Vid 3.jpg', align: 'middle'
                  %p.play-video-link Capacity Planing and Scale-Out Architecture &#187;