= content_for :head do
  = stylesheet_link_tag 'platform/support', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'support.js'
  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('7797-372-10-6287');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7797-372-10-6287/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->

#support
  .support-sub-nav.section
    .container
      %ul
        %li.no-padding-left
          = link_to 'support', '#support', class: 'support-link anchorLink'
        %li.support-resources
          = link_to 'resources', '#resources', class: 'resources-link anchorLink'
      .buttons
        .button
          %a.right-margin.demo-button-red.nav-button-three{href: 'https://support.solidfire.com/login', target: "_blank"} support portal login
        .button
          %a.request-form.right-margin.demo-button-red-outline.nav-button-two{:href => '#request-form'} request access

  .support-sub-nav.section.hidden-nav
    .container
      %ul
        %li.no-padding-left
          = link_to 'support', '#support', class: 'support-link anchorLink'
        %li.support-resources
          = link_to 'resources', '#resources', class: 'resources-link anchorLink'
      .buttons
        .button
          %a.right-margin.demo-button-red.nav-button-three{href: 'https://support.solidfire.com/login', target: "_blank"} support portal login
        .button
          %a.request-form.right-margin.demo-button-red-outline.nav-button-two{:href => '#request-form'} request access

  .top-grey-angle#support-section
    .section.grey.hero.skew-right
      .container.page-top-margin
        .skew-fix
          .span12
            .top
              %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/SFSupport.pdf', :target => 'blank', :class => 'netapp-sf-support'} Welcome to SolidFire + NetApp Support
              %br
              = image_tag 'support/proactive-support.png', align: 'middle', alt: 'Proactive Support'
              .text
                %h1 SolidFire Active Support
                %h4 We solve up to 80% of issues before you even know about them.
                %p Unplanned downtime is never a good time. So at SolidFire, we deliver complete, proactive support that helps you prevent up to 80% of your issues altogether, likely without you knowing there was a problem to begin with. Starting the moment you deploy a cluster, SolidFire Active Support continuously monitors your systems to ensure the highest possible level of availability and performance. If not, we fix it.
            .icons
              .span12
                .span4first
                  .round-icon
                    %i.icon-ProactiveSupport
                  %h4 Proactive philosophy
                  %p We monitor for potential issues and solve them before they become problems — addressing 80% of overall issues and 90% of issues that could cause data unavailability.
                .span4middle
                  .round-icon
                    %i.icon-247
                  %h4 24/7/365 worldwide availability
                  %p Our support is always on with full international coverage and, if necessary, on-site response for critical system issues within four hours.
                .span4last
                  .round-icon
                    %i.icon-SecureAssist
                  %h4 Secure assist
                  %p We provide secure, proactive, hands-on assistance in real time — most of the time before you even become aware of an issue.
              .span12
                .span4first
                  .round-icon
                    %i.icon-ActiveIQ
                  %h4 Active IQ
                  %p Active IQ provides real-time global storage infrastructure health diagnostics and historical trending at the whole system, node, and volume levels for one or multiple locations.
                .span4middle
                  .round-icon
                    %i.icon-ExpertTier3
                  %h4 Expert-level, Tier 3 support engineers only
                  %p We give you rapid access to a team of top support engineers for every support issue. No entry-level support personnel.

  .section.padded-section.active-iq
    .container
      %h2 Active IQ: monitoring / reporting
      .text
        %h3 Real-time system visibility
        %p
          The SolidFire Active IQ SaaS platform, a key element of Active Support, provides real-time health diagnostics, historical performance, and trending from the system level all the way down to each individual volume. This holistic approach to infrastructure monitoring, combined with SolidFire’s unique abilities to upgrade, tune, and scale on-demand without disruption, redefines operational success for storage infrastructure.
        %ul
          %li
            %strong Anticipate business demands:
            Real-time usage modeling and granular system data increase agility — enabling you to proactively plan for evolving business demands, simplifying storage resource optimization.
          %li
            %strong Increased productivity:
            Consolidated monitoring saves time when managing multiple clusters/sites, and comprehensive storage metrics reduce assessment efforts. This means you have continuous visibility into changing conditions, empowering you to avoid issues rather than react to them.
          %li
            %strong Reduced risk:
            Customizable alerts notify you instantly of possible issues. Faster response reduces risk for the business.
      .image.hide-mobile
        = image_tag 'support/real-time-system-visability.png', align: 'middle', alt: 'Active IQ Monitoring', class: 'active-iq-img'

  .angle-section
    .angle-section-0
      .section-under-left
      .section-top-left
        .section.table
          .container
            .skew-fix-left
              %h2 SolidFire Active Support levels
              %p Choose the ideal level of support for your specific business needs. In addition to our comprehensive warranty, SolidFire offers two levels of Active Support:

              %table.specs.table-responsive
                %thead
                  %th{width: "50%"}
                  %th{width: "25%"} Support
                  %th{width: "25%"} Premium
                %tbody
                  %tr
                    %td.left Four-hour on-site support with spare arrays
                    %td
                    %td &#x2714;
                  %tr
                    %td.left Assigned technical account lead and on-site services
                    %td
                    %td &#x2714;
                  %tr
                    %td.left Active cluster monitoring and problem notification
                    %td &#x2714;
                    %td &#x2714;
                  %tr
                    %td.left Upgrade availability notification for Element OS releases and upgrades
                    %td &#x2714;
                    %td &#x2714;
                  %tr
                    %td.left Replacement parts delivery time
                    %td Next business day
                    %td 4-hour
                  %tr
                    %td.left Support availability
                    %td 24/7/365
                    %td 24/7/365
                  %tr
                    %td.left Support response time
                    %td
                      Sev1 - 2 hour
                      Sev2 - 4 hour
                      Sev3 - Next business day
                    %td
                      Sev1 - 30 min
                      Sev2 - 2 hour
                      Sev3 - 4 hour
                  %tr
                    %td.left Unlimited access to customer knowledge base and support portal
                    %td &#x2714;
                    %td &#x2714;
                  %tr
                    %td.left Unlimited access to SolidFire updates and patches
                    %td &#x2714;
                    %td &#x2714;
                  %tr
                    %td.left Unlimited access to updated release notes, API guides, and user guides
                    %td &#x2714;
                    %td &#x2714;
                  %tr
                    %td.left Active IQ monitoring of unlimited number of clusters
                    %td &#x2714;
                    %td &#x2714;

  .section.datasheets#resources
    .container
      .resources-section
        %h2 Resource toolbox
        %ul
          %li
            %a{href: ' http://info.solidfire.com/rs/solidfire/images/SolidFireActiveSupport_Datasheet.pdf', target: '_blank'}
              %i.icon-whitepapericon
              Active Support datasheet &#187;
          %li
            %a{href: 'http://info.solidfire.com/rs/538-SKP-058/images/EULA_SolidFire_End_User_License_Agreement_1.4.pdf', target: '_blank'}
              %i.icon-whitepapericon
              EULA SolidFire End User License Agreement &#187;
          -#%li
          -#  %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_ProductDatasheet.pdf', target: '_blank'}
          -#    %i.icon-whitepapericon
          -#    SSD retention program &#187;
          -#%li
          -#  %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_ProductDatasheet.pdf', target: '_blank'}
          -#    %i.icon-whitepapericon
          -#    Active Support incident - SLA guidelines &#187;

        .text
          For more information or to purchase SolidFire Active Support, please <a href="mailto:support@solidfire.com">contact support</a> or call:
        %br
        <a href="tel:7205233278">US: 720-523-3278</a>
        %br
        <a href="tel:+4402038084138">UK:  +44 (0)203 808 4138

  .border-bottom
    .container
      %hr

#hidden-form
  #request-form
    #request-form
      %p
        To request access, fill out
        %br
          the form below
      %form(accept-charset="UTF-8"){:action=>"https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8", :method=>"post"}
        %input{:type=>"hidden", :name=>"orgid", :value=>"00D30000000nkVk"}
        %input{:type=>"hidden", :id=>"retURL", :name=>"retURL", :value=>"http://www.solidfire.com/lp/support-thank-you"}

        // NOTE: These fields are optional debugging elements. Please uncomment
        // these lines if you wish to test in debug mode.
        // %input{:type=>"hidden", :name=>"debug", :value=>1}
        // %input{:type=>"hidden", :name=>"debugEmail", :value=>"molly@vertiba.com"}

        %input{:id=>"name", :maxlength=>"80", :name=>"name", :size=>"20", :type=>"text", :placeholder=>"Contact Name"}
        %br
        %input{:id=>"company", :maxlength=>"80", :name=>"company", :size=>"20", :type=>"text", :placeholder=>"Company"}
        %br
        %input{:id=>"email", :maxlength=>"80", :name=>"email", :size=>"20", :type=>"text", :placeholder=>"Email"}
        %br
        %input{:id=>"phone", :maxlength=>"40", :name=>"phone", :size=>"20", :type=>"text", :placeholder=>"Phone"}
        %br
        %textarea{:name=>"description", :placeholder=>"Description"}
        %input{:type=>"hidden", :name=>"recordType", :id=>"recordType", :value=>"01214000001FtUY"}
        %input{:type=>"hidden", :name=>"subject", :id=>"subject", :value=>"New Customer Portal User Request"}
        %input{:type=>"hidden", :id=>"external", :name=>"external", :value=>"1" }
        %br
        %input{:type=>"hidden", :id=>"external", :name=>"external", :value=>"1"}
        %br
        %input{:type=>"submit", :name=>"submit", :class=>"button-blue"}
