.legal
  .legal__container
    %sup Last updated March 2, 2016
    %h1 Solidfire.com Cookie Policy
    %p SolidFire, a NetApp Company, Sites (as defined below) use Cookies to ensure that we provide those individuals that visit our sites with the best possible experience by providing personalized information, remembering marketing, sales, product, services, and other specific SolidFire-related preferences, and helping obtain the right information. Information about SolidFire Cookies and Similar Technologies, how we use them, and how to control them can be found below.
    .full-row.privacy
      %h4
        How SolidFire Uses Cookies 
      %p
        This Policy describes how SolidFire, our partners, and our other third parties use Cookies or similar technologies (such as pixel tags, web beacons, clear GIFs, JavaScript, and local storage). We refer to these Cookies and similar technologies simply as “Cookies” throughout this Policy. We also describe what options you may have regarding those Cookies. This Policy covers SolidFire’s use of Cookies that may be used in connection with the websites (including mobile websites and apps) owned and controlled by SolidFire (the “Sites”).
      %p
        In some cases, we may use Cookies to collect information that is defined as Personal Data, or that can become Personal Data if we combine it with other information. In such cases, the SolidFire Data Privacy Policy will apply in addition to this SolidFire Cookie Policy.
      %h4
        What are cookies?
      %p
        Cookies are small files, usually consisting of letters and numbers, placed on your computer, tablet, phone, or similar device, when you use that device to visit a website. Cookies are widely used by website owners to make their websites operate, work more efficiently, and provide analytic information.
      %p
        These are the different types of Cookies we and our service providers may use on our Sites:
      %ul
        %li Strictly necessary Cookies. These Cookies are required for the operation of our Sites (for example, to enable you to log into secure areas of our website or use a shopping cart). These Cookies enable you to move around the Sites and use their features. Disabling these Cookies will encumber the Sites’ performance and may make the features and service unavailable.
        %li Analytical and performance Cookies. These Cookies allow us to analyze activities on our Sites and on other sites where we post content in order to improve and optimize the way our Sites work. For example, we may use these types of Cookies to ensure that visitors can easily find the information they are looking for on our websites. One way we do this is to recognize and count the number of visitors and see how they move around our website when they are using it. Analytics cookies also help us measure the performance of our advertising campaigns in order to help us improve our advertising campaigns and to optimize our Sites’ content for those who engage with our advertising.
        %li Functionality Cookies. These Cookies are used to recognize you when you return to our Sites. This enables us to personalize our content for you, greet you by name, and remember your preferences (for example, your choice of language or region).
        %li Advertising Cookies. These Cookies record your online activities, including your visits to our Sites, the pages you have visited, and the links and advertisements you have clicked. One purpose of this is to help make the content displayed on our Sites more relevant to you. Another purpose is to allow us and our service providers to deliver advertisements or other communications to you that are designed to be more relevant to your apparent interests. (When we and our service providers do so, this also involves partners such as publishers, data management platforms, and demand side platforms that help to manage the data). For example, if you look at one page on one of our Sites, we may cause an advertisement to be delivered to you, on our Sites or on other sites, for products referenced on that page or for similar products and services. We and our service providers and partners may also append other data to information collected by these Cookies, including information obtained from third parties, and share this information with third parties for the purpose of delivering ads to you.
      %h4
        How does SolidFire Collect and Use Other Information? 
      %p
        How does SolidFire Collect and Use Other Information?  We and our service providers may use Cookies for a variety of purposes, including to:
      %ul
        %li Help us and third parties obtain information about your visits to the Sites;
        %li Process your orders;
        %li Analyze your visiting patterns to improve our Sites;
        %li Deliver advertising, communications, social features, and content from us and third parties, on our Sites and those of third parties, specific to your interests;
        %li Remember your language and other preferences;
        %li Help you obtain information you are looking for;
        %li Provide a safe and secure service for online transactions;
        %li Measure how many people use our Sites, and how they use them, to keep our Sites running efficiently and to better understand our Sites’ audiences.
        %li If you register on one of our Sites (e.g. SolidFire Community), or otherwise provide us with your personal information, we may associate that information with other information we collect from or about you or that you provide, information regarding your use of our Sites, or information we receive from or about you from third parties. We will use this combined data for marketing and analytics purposes.

      %h4
        How long do Cookies stay devices? 
      %p Other Cookies operate from the time you visit a SolidFire service to the end of that particular web-browsing session. These Cookies expire and are automatically deleted when you close your internet browser. These Cookies are called “session” cookies.
      %p Some Cookies will stay on your device between browsing sessions. They do not expire when you close your browser. These Cookies are called “persistent” cookies. The length of time a persistent cookie stays on your device varies from cookie to cookie. We and others use persistent Cookies for a variety of purposes, such as to store your preferences so that they are available for the next visit, and to keep a more accurate account of how often you visit our Sites, how often you return, how your use of the Sites may vary over time, and the effectiveness of advertising efforts.

      %h4
        Who puts the Cookies on devices? 
      %p Cookies may be placed on your device by SolidFire as the Site operator. These cookies are called “first party” cookies. Some Cookies may be placed on your device by a party other than SolidFire. These cookies are called “third party” cookies. For example, a SolidFire partner may place a third party cookie to enable online chat services.
      %p Cookies may also be used that allow us and third parties to know when you visit our Sites, and to understand how you interact with emails, advertisements, or other content. Through Cookies, aggregate and other information not considered to be Personal Data (such as your operating system, browser version, and the URL you came from, including from emails and advertisements) may be obtained and used to enhance your experience and understand traffic patterns. This technology counts the number of users who visit a particular service from specific banner advertisements outside the SolidFire Site or who clicked on links or graphics included in email newsletters received from SolidFire. It is also used as a tool to compile aggregated statistics about how SolidFire Sites are used, to perform and analytics and help us to optimize our Sites, and to help serve you advertising based on your interests, as described in further detail below.
      %h4
        How does SolidFire Use Online and Mobile Advertising? 
      %p We and third parties, including technology partners, and service providers engage in interest-based advertising to deliver advertisements and personalized content that we and other advertisers believe will be of interest to you. To the extent third party vendors are using Cookies to perform these services for SolidFire, SolidFire does not control the use of this technology or the resulting information, and is not responsible for any actions or policies of such third parties.
      %p Ads may be delivered to you based on your online or mobile behavior (on SolidFire Sites and non-SolidFire sites), your search activity, your responses to one of our advertisements or emails, the pages you visit, your general geographic location, or other information. These ads may appear on our Sites or on third party websites. The technology partners we work with to help us conduct interest-based advertising are mainly members of self-regulatory associations such as the Network Advertising Initiative (NAI) and the Digital Advertising Alliance (DAA). For Sites directed at individuals located in the European Economic Area (EEA), we may work with technology partners who are members of the European Digital Advertising Alliance (EDAA). You may also see advertisements for third parties on SolidFire Sites or other websites or properties, based on your visits to, and activities on, SolidFire Sites and other sites.
      %p
        If you do not want to receive e-mails from us in the future, go to the SolidFire subscription center to unsubscribe or to update your subscription preferences:
        %a{href:"http://www.netapp.com/us/forms/sp-update.aspx"} www.netapp.com/us/forms/sp-update.aspx
        , or you may contact privacy@netapp.com. SolidFire follows the country-specific requirements to implement the opt-out within the legally allowed time period.

      %h4
        How do I Manage Cookies? 
      %p
        You can decide whether or not to accept Cookies. SolidFire complies with all global regulations related to the use of Cookies. Where applicable by local law, visitors to our Sites are asked whether or not they want Cookies placed on their browsers. If you choose not to have Cookies placed on your device, SolidFire will comply with your opt out and no Cookies that we personally control will be placed on your device. In countries where an explicit opt in is not required, we offer you the opportunity to opt out at any time; otherwise, we will place Cookies on your device for the purposes stated above.
      %p
        It is important to know that SolidFire was the first global company to comply with the European Union Cookie Directive. As Data Protection laws change around the world, SolidFire changes our policies, procedures and processes to ensure compliance with all relevant laws, regulations and directives.

      %h4
        SolidFire Compliance with Cookie Laws and Regulations 
      %p
        SolidFire is committed to compliance with all applicable country-specific laws regardless of our corporate headquarters. We take the privacy of our employees, customers, prospects, suppliers, partners, and any other visitor to our Sites very seriously and ensure that we have put in place the necessary policies, procedures and processes to ensure we meet our legal obligations and protect the privacy of all data subjects. Where required by law, we require an explicit opt-in from you before placing any Cookies on your devices. If local law does not require an explicit opt-in, we do offer you the opportunity to opt-out. However, we will place Cookies on your devices as stated above until you choose to opt-out.

      %h4
        Privacy at SolidFire 
      %p
        SolidFire is committed to privacy. For more information about SolidFire’s approach to privacy see our SolidFire Data Privacy Policy or contact our Legal Privacy Office at
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com

      %h4
        How to Contact Us 
      %p
        If you have any questions about how SolidFire uses Cookies, you can contact SolidFire by using the mailing address below or by emailing us at 
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com
        Please include your contact information, the name of the SolidFire web site or service, and a detailed description of your request or cookie concern.
      %p
        NetApp, Inc. 
        %br
        ATTN: Legal Operations Privacy Group 
        %br
        495 E. Java Drive 
        %br
        Sunnyvale, CA 94089 
        %br
        USA

      %p We may change this Policy at any time. The “LAST UPDATED” section at the bottom of this page lists when this Policy was last revised. Any changes to this Notice will become effective when we make the revised Policy available on or through the Sites.




