.legal
  .legal__container
    %sup Last updated March 2, 2016
    %h1 SolidFire Privacy Policy
    .full-row.privacy
      %h4
        SolidFire Commitment to Data Privacy Protection  
      %p
        SolidFire, a NetApp Company, is committed to compliance with all applicable country-specific data privacy laws. Protecting the privacy and security of your Personal Data is of the highest importance to SolidFire; therefore, we conduct our business by abiding by applicable laws on data privacy and data security.
      %p
        This Privacy Policy tells you about SolidFire’s policies and practices for the collection, use, processing, storage, transfer, and disclosure of information that we may collect about you through our sites and services, including, but not limited to the Web site or subdomains of
        %a{href: root_path} www.solidfire.com,
        (e.g. our Communities site, Training site, and Support site). Before using our sites and services, you will be asked to provide your authorization and consent, agreeing to the terms of this Privacy Policy and consenting to the processing of information about you as described here and in compliance with relevant data protection laws. The collection, use, storage, transfer and disclosure of your Personal Data will be strictly limited to the terms for which you provide your authorization. For the purpose of this policy, the reference to Personal Data includes the term “personally identifiable information.”
      %p
        SolidFire is committed to compliance with all relevant country-specific data privacy laws, including approval and adoption of our Binding Corporate Rules (BCRs) within the European Union. SolidFire’s global data privacy compliance program also consists of the implementation of unambiguous authorizations and consents, EU Standard Contractual Clauses, model contracts/transfer agreements, privacy principles, privacy statements, privacy policies, and country-specific registrations and filings. This privacy policy covers the Web site
        %a{href: root_path} www.solidfire.com,
        and all other applicable SolidFire or NetApp Sites
      %h4
        Personal data 
      %p
        Through our Web sites, SolidFire will not collect any Personal Data about you (e.g. your name, address, telephone number or e-mail address), unless you voluntarily choose to provide us with it (e.g. by registration, survey, contest participation), provide your explicit consent, or unless otherwise permitted by applicable laws and regulations for the protection of your Personal Data.
      %h4
        Purpose of Use 
      %p
        When you do voluntarily provide us with Personal Data, we will use it to respond to your inquiry, process your orders, register you for an event, provide information related to SolidFire products, services and events, manage your Community, Support and/or NOW accounts, offer you the opportunity to participate in surveys and contests, register for SolidFire training courses, or provide you access to additional information or offers. Also, to support our customer relationship with you:
      %ul
        %li we may store and process Personal Data and share it with our worldwide affiliates to better understand your business needs and how we can improve our products and services; or
        %li we (or a third party on our behalf) may use Personal Data to contact you about a SolidFire offer in support of your business needs or to conduct online surveys to understand better our customers' needs.

      %p If you choose not to have your Personal Data used to support our customer relationship (especially direct marketing or market research), we will respect your choice. We do not sell or otherwise market your Personal Data to third parties, except to SolidFire affiliates.

      %h4
        Information That We Collect and Use 
      %p
        We collect personal information from you when you register with SolidFire. Examples of personal information are name, address, telephone number, e-mail address, company name, position and any other contact details you willingly provide to us. For a complete list of all data elements that we collect and the use of those data elements, contact us at
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com.
      %p
        We collect Personal Data about those who communicate with us such as e-mail address, user-specific information on what pages visitors access or visit, and information volunteered by the visitor, such as survey information and site registrations. This information is used to personalize our communications with you about products that are specific to your needs and interests. Rather than burden you with information that is not relevant or of interest to you, we try to target information that is specifically important to you. No Personal Data is collected, used, accessed, stored, transferred or distributed without your explicit authorization. At any time, even after you have given authorization, you can opt out of receiving these communications by contacting us at
        %a{href:"mailto:privacy@netapp.com"}privacy@netapp.com
        or by clicking on our “Unsubscribe” link, located at
        %a{href:"http://www.netapp.com/us/subscriptions"}http://www.netapp.com/us/subscriptions.
      %p
        We use the information that we collect to improve the content of our Web pages by incorporating information that is relevant to our clients, to notify customers about updates to our Web site, to contact customers for marketing and sales purposes (including notifications related to product enhancements, warranties, and renewals) that are related specifically to their needs and interests, to track applicants for career opportunities, and to communicate with our partners. This information is not shared with other organizations for any reason, commercial or business, without your prior explicit consent.
      %p
        If you browse and/or apply for jobs in the Careers portion of our Web site, your application and any additional information that you provide may be used to assess your skills and interests against career opportunities at SolidFire, and for reporting purposes as may be required by U.S. law or country-specific laws. This usage is covered in the initial authorization that you provide to SolidFire. When you access our Applicant Tracking System, you are asked to provide your authorization for us to collect, use, process, store, transfer and distribute your Personal Data before you enter any Personal Data. We use your information to communicate with you and to inform you of career opportunities.
      %p
        SolidFire does use third-party entities to provide valuable services on our behalf. To provide these services to you, we need your explicit consent to share your Personal Data with them. Third parties with which we share your information are bound by all relevant data privacy laws, terms of confidentiality, SolidFire’s BCRs, and this Privacy Policy. All of our approved third party providers go through an extensive data protection compliance vetting process before being selected as a third party provider. For a complete list of these third parties and the services they provide, contact us at
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com.
      %p
        SolidFire supplements the data it collects with additional data received from third-party sources, by using data append services or data brokers. The additional supplemental data consists of contact, company, and industry data, as well as title, department, address, phone number, and updated e-mail addresses. When using the information provider through these services, we will contact you via email to obtain either your explicit opt-in to continue marketing to you, or your explicit opt-out to remove you from our contact database, depending on the applicable data privacy regulation. For additional information about supplemental data and the third-party sources, contact us at privacy@netapp.com.
      %p
        The company does not share, sell, rent, or trade Personal Data with third parties for their promotional purposes or for any purposes without your explicit consent. If you do not want to receive e-mails from us in the future, go to the SolidFire subscription center to unsubscribe or to update your subscription preferences:
        %a{href:"http://www.netapp.com/us/forms/sp-update.aspx"} www.netapp.com/us/forms/sp-update.aspx,
        or you may contact
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com.
        SolidFire follows the country-specific requirements to implement the opt-out within the legally allowed time period.
      %p
        SolidFire also offers a partial opt-out option. This option allows you to choose the data elements you want to provide and those you do not. For more information about opting out of providing certain data elements, contact us at privacy@netapp.com.
      %p
        If you supply us with your postal address online, as well as your consent, you may receive periodic mailings from us with information about new products and services or upcoming events. If you do not want to receive such mailings at any point after your consent has been given, contact us at privacy@netapp.com, write to us at the postal address at the end of this document, or go to
        %a{href:"http://www.netapp.com/us/forms/sp-update.aspx"} www.netapp.com/us/forms/sp-update.aspx.
        Send us your name and address and we will remove your name from all lists that we use internally and/or share with other noncommercial organizations. SolidFire follows the country-specific requirements to implement the opt-out within the legally allowed time periods.
      %p
        If you give us your telephone number online, and provide consent, you may receive telephone calls from us with information about new products and services or upcoming events. If you do not want to receive such telephone calls at any point after giving your consent, contact us at privacy@netapp.com, write to us at the postal address at the end of this document, or go to
        %a{href:"http://www.netapp.com/us/forms/sp-update.aspx"}www.netapp.com/us/forms/sp-update.html.
        Send us your name and phone number and we will remove your name from all lists that we use internally and/or share with other noncommercial organizations. SolidFire follows the country-specific requirements to implement the opt-out within the legally allowed time periods.

      %p
        Customers and applicants can prevent their information from being used for purposes other than those for which it was originally collected and for which consent was given by contacting us at
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com
        or by going to
        %a{href:"http://www.netapp.com/us/forms/site-feedback.aspx"} www.netapp.com/us/forms/site-feedback.aspx.

      %p
        Upon request, SolidFire offers visitors the ability to have their information deleted or corrected for inaccuracies. To have your information corrected, contact us at
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com
        , write to us at the address at the end of this document, or go to
        %a{href:"http://www.netapp.com/us/forms/site-feedback.aspx"} www.netapp.com/us/forms/site-feedback.aspx.
        We will respond to your request within the country-specific time frames, which can range from 5 to 30 business days.
      %p
        We will retain your personal information for the length of time needed to fulfill the purposes outlined in this privacy policy and/or in accordance with applicable federal, regional, country, state or local data retention regulations. If you use communities, blogs, or chat rooms on SolidFire Web sites, you should be aware that any Personal Data you submit there can be read, collected, and used by other users of these forums, and could be used to send you unsolicited messages. SolidFire is not responsible for the Personal Data that you choose to submit in these forums, unless it was released by SolidFire without your consent.
      %p
        For each visitor to our Web page, our Web server automatically recognizes only the visitor's domain name, but not the e-mail address.

      %h4
        Purpose Limitation 
      %p
        SolidFire will collect, use or disclose Personal Data supplied by you online only for the purposes disclosed to you, unless the disclosure
      %ul
        %li
          is a use of the Personal Data for any additional purpose that is directly related to the original purpose for which the Personal Data was collected
        %li
          is necessary to prepare, negotiate and perform a contract with you
        %li
          is required by law or the competent governmental or judicial authorities
        %li
          is necessary to establish or preserve a legal claim or defense
        %li
          is necessary to prevent fraud or other illegal activities, such as willful attacks on SolidFire information technology systems.

      %h4
        Communications or Utilization Data 
      %p
        Through your use of telecommunications services to access our Web site, your communications data (e.g. Internet protocol address) or utilization data (e.g. information on the beginning, end and extent of each access, and information on the telecommunications services you accessed) are technically generated and could conceivably relate to Personal Data. To the extent that there is a compelling necessity, the collection, processing and use of your communications or utilization data will occur and will be performed in accordance with the applicable data privacy protection legal framework.
      %h4
        Terms and Conditions
      %p
        Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at
        = link_to 'http://solidfire.com/legal', legal_path
      %h4
        Non-Personal Data Collected Automatically 
      %p
        When you access our Web sites, we may automatically (i.e., not by registration) collect non-Personal Data (e.g. type of Internet browser and operating system used, domain name of the Web site from which you came, number of visits, average time spent on the site, pages viewed). We may use this data and share it with our worldwide affiliates to monitor the relevancy of our Web sites and improve their performance or content.
      %h4
        "Cookies" - Information Stored Automatically on Your Computer
      %p
        Propensity management is the management of an individual’s inclination or natural tendency toward certain interests, products, needs, and so on. In order to tailor our communications with you to make sure that we are addressing your specific needs and not overwhelming you with unwanted information, we use cookies to handle propensity management. A cookie is a piece of information that is stored on your computer's hard drive by your Web browser. When you revisit
        %a{href:"http://www.netapp.com"} www.netapp.com
        , our server recognizes the cookie, giving us information about your last visit. Most browsers accept cookies automatically, but you can alter the settings of your browser to prevent automatic acceptance. If you choose not to receive cookies, you can still use most of the features of our Web site, including ordering items.
      %p
        This privacy statement covers the use of propensity management by this site only and does not cover the use of propensity management by any advertisers. We work with companies, such as Adobe, that use third-party cookies and Web beacons to collect anonymous information that helps us measure and improve our content and advertising effectiveness. Adobe collects and analyzes anonymous usage and volume statistical information from our users. This data is collected only in aggregate form.
      %p
        SolidFire complies with all global regulations regarding the use of cookies, including the EU Cookie Directive. Visitors to our site are asked to provide their consent before we place any cookies on your device. For detailed information regarding SolidFire’s use of cookies, please refer to the
        %a{href: cookies_path} SolidFire Cookie Policy.
      %h4
        Clear Gifs (Web Beacons, Web Bugs) 
      %p
        We employ a software technology called clear gifs (also known as Web beacons or Web bugs) along with other technologies such as e-tags, and javascript that help us better manage content on our site by informing us what content is effective. Clear gifs are tiny graphics with a unique identifier, similar in function to cookies that are used to track the online movements of Web users. In contrast to cookies, which are stored on a user’s computer hard drive, clear gifs, which are about the size of a period, are embedded invisibly on Web pages. We do not tie the information gathered by clear gifs, e-tags, or javascripts to our customers’ personally identifiable information. For detailed information regarding SolidFire’s use of Clear Gifs and other technologies, please refer to the
        %a{href: cookies_path} SolidFire Cookie Policy.

      %h4 Children 
      %p
        SolidFire will not knowingly collect Personal Data from children without insisting that they seek prior parental consent if required by applicable law. We will only use or disclose Personal Data about a child to the extent permitted by law, to seek parental consent pursuant to local law and regulations or to protect a child. The definition of "child" or "children" should take into account applicable laws as well as national and regional cultural customs.

      %h4 Security 
      %p
        To protect your Personal Data against accidental or unlawful destruction, loss or alteration and against unauthorized disclosure or access, SolidFire uses technical and organizational security measures.

      %h4 Links to Other Web Sites 
      %p
        SolidFire Web sites contain links to other Web sites. SolidFire is not responsible for the privacy practices or the content of other Web sites.

      %h4 Data Security Breaches 
      %p
        To protect your Personal Data from unauthorized access and use, or accidental loss and destruction, SolidFire has implemented strict security controls and intrusion detection software to notify us in the case of any potential or actual invasion of our systems. We have implemented a Data Breach Notification Policy and Remediation Plan and have established an Incident Response Team that has been trained to react immediately to any unauthorized access of our databases and systems. Should any data security breach occur that negatively impacts your Personal Data, you will be notified as soon as possible once the breach has been determined.

      %h4 Right to Be Forgotten 
      %p
        SolidFire is committed to taking all reasonable steps necessary to ensure that any data you request to be forgotten and can be erased with existing technology will be done so. However, any data you post to our sites that you agree to make available to third parties or for which you make public, is outside the boundaries of which SolidFire can erase. SolidFire will do everything technically possible to erase your data if you feel it is being held for longer than needed or if you withdraw your consent to receive information from us and request the right to be forgotten. However, SolidFire will not be able to erase your data if:
      %ul
        %li it is technically impossible;
        %li for legal reasons (if mandated by local law);

      %h4 Do Not Track
      %p
        SolidFire may receive data lists containing your contact details from third parties. In countries, states or regions where Do Not Track laws are in place, SolidFire will take every reasonable action to validate the lists we have received with the Do Not Track lists available through government agencies before communicating with you. SolidFire abides by all Do Not Track regulations.

      %h4 Questions and Comments 
      %p
        SolidFire will respond to reasonable requests to review your Personal Data and to correct, amend or delete any inaccuracies. If you have any questions or comments about the SolidFire Global Data Privacy Policy (e.g. to review and update your Personal Data), please send us your questions and feedback. You can contact us at the following address or phone number.

      %p
        NetApp, Inc.
        %br
        495 East Java Drive
        %br
        Sunnyvale, CA 94089
        %br
        USA

      %p
        We can be reached
        %a{href: root_path}via the Web
        , by telephone at
        %a{href:"tel:+18772638277"} +1 877 263 8277
        , or at
        %a{href:"staffingsupport@netapp.com"}
        staffingsupport@netapp.com
        for job inquiry-related issues.

      %p
        As the Internet, technology and our systems mature, so will our global Data Privacy Policy. We will post changes to our Global Data Privacy Policy on this page, and will take steps to notify you of material changes to this policy by posting a notice on
        %a{href:"http://www.netapp.com"} www.netapp.com
        , or email. Please check this page regularly to keep up-to-date.  You may also request a copy of SolidFire’s BCRs by contacting
        %a{href:"mailto:privacy@netapp.com"} privacy@netapp.com
      %p
        We may change this Policy at any time. The “LAST UPDATED” section at the bottom of this page lists when this Policy was last revised. Any changes to this Notice will become effective when we make the revised Policy available on or through the Sites.



