.login
  .login_container
    %h1 SolidFire Marketing CMS Login

    .form-wrapper
      %p
        - flash.each do |name, msg|
          = content_tag :div, msg, class: (flash[:error] ? 'alert' : 'success')
      = simple_form_for @user, :url => cms_login_check_path, :id => "login-form", :enctype => "multipart/form-data" do |f|
        = f.input :email, :required => true, :placeholder => 'Email', label: false
        = f.input :password, :required => true, :placeholder => 'Password', label: false
        = f.button :submit, :id => "login-btn", :class => "button--red", :value => "Login"
        %br
        = link_to "(Forgot Password)", new_cms_password_reset_path, class: 'forgot-password'


