.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p Editing CMS Tag

      .link
        = link_to 'Manage Tags', cms_tags_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Tags', cms_tags_path, :class => 'cms-white-button'
