.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading CMS Tags

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_tag_path}
        %span.plus +
        New Tag


    .record-wrapper.events
      .record-email
        %strong Title
      .record-destroy
        &nbsp;

    - @cms_tags.each do |cms_tag|
      .custom-landing-item
        .record-email
          = cms_tag.title
        .record-destroy
          = link_to 'Destroy', cms_tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_tag_path(cms_tag), :class => 'edit button--grey--small margin-right-fifteen'
          = link_to 'View', cms_tag, :class => 'view button-light-blue-small margin-right-fifteen'

    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_tag_path}
          %span.plus +
          New Tag

      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
