@import "variables";

#global-efficiencies {

  .refresh {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 178px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 3px;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
  }

  button.refresh:hover {
    background-color: #555;
    color: $white;
    text-decoration: none;
  }

  button.refresh:focus {
    outline: none;
  }

  td {
    position: relative;
  }

  .tooltip{
    color: lightgrey;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    right: 45px;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
  }
  a.tooltip {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.1em;
    padding-left: 7px;
    padding-top: 1px;
  }
  
  a:hover {
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color: #cc1f26;
    border: 1px solid #cc1f26;
  }

  .tooltip-box {
    width: 200px;
    background-color: #797979;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: white;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    left: 12px;
  }

  .tooltip-box:after,
  .tooltip-box:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #797979;
    bottom: -10px;
    content: '';
    left: 75%;
    margin-left: -10px;
    position: absolute;
  }

  .tooltip-box:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    bottom: -12px;
    margin-left: -12px;
  }

  .hidden {
    visibility: hidden;
  }

  .error {
    border: 2px solid #da4e32;
  }
  .disabled-error {
    border: 2px solid #da4e32;
  }

  .error-message {
    position: relative;
    color: #da4e32;
    top:270px;
    left: 240px;
    font-weight: 100;
    visibility: hidden;
  }

  h1, h2, h4 {
    font-family: "Source Sans Pro",sans-serif;
    font-color: #4A4A4A;
    font-weight: 100;
  }

  h1 {
    font-size: 42px;
  }


  h4 {
    font-size: 1.250em;
  }

  p {
    line-height: 1.7em;
    padding-top: 0;
  }

  .button-red {
    background-color: #dc0000;
    color: $white;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border: none;
    transition: background-color 0.5s ease;
  }

  .button-red:hover {
    background-color: $red-03;
    color: $white;
  }
}

.top-ribbon-section {
  @include span(12 of 12);
  background-color: #565455;
  border-top: 1px solid #f4f4f4;
}

.efficiencies-section {
  @include span(12 of 12);
  background-color: #f4f4f4;
}

.calculator-section {
  @include span(12 of 12);
  background-color: #f4f4f4;
}

.data-brief-section {
  @include span(12 of 12);
  background-color: #dc0000;
}

.data-efficiency-section {
  @include span(12 of 12);
  background-color: #ffffff;
}

.environmental-benefits-section {
  @include span(12 of 12);
  background-color: #ffffff;
}

.demo-section {
  @include span(12 of 12);
  background-color: #ffffff;
}

.get-started-section {
  @include span(12 of 12);
  background-color: #ffffff;
}

.efficiences-container {
  @include container(960px);

  padding-right: 20px;
  padding-left: 20px;

  .global-deduplication, .two-layer-compression, .granular {
    margin-top: 70px;
  }

  .granular {
    img {
      padding-top: 50px;
    }
  }
}

.top-ribbon-container {
  @include container(960px);

  padding-right: 20px;
  padding-left: 20px;

  p {
    color: white;
    font-size: 16px;
    margin-top: 13px;
    font-weight: 100;
  }

  .text {
    p {
      font-weight: 100;
      font-size: 14px;
      position: relative;
      top: 10px;
    }
  }

  .icons-wrap {
    padding-top: 3px;

    .icon {
      color: white;
      width: 39px;
      height: 53px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-size: 35px;
      display: inline-block;
      float: left;
      margin-right: 6px;
    }
    .icon-icon_ScaleOut {
      background-color: #f58220;
    }
    .icon-icon_ScaleOut:before {
      margin: 3px 0px 3px 3px;
    }
    .icon-icon_GuaranteedPerformance {
      background-color: #e86630;
    }
    .icon-icon_Automation {
      background-color: #e2522f;
    }
    .icon-icon_Automation:before {
      margin: 5px 0px 5px 5px;
    }
    .icon-icon_DataAssurance {
      background-color: #cc232d;
    }
    .icon-icon_DataAssurance:before {
      margin: 7px 0px 7px 7px;
    }
    .icon-icon_GlobalEfficiencies {
      background-color: #9c1c20;
    }
    .icon-icon_GlobalEfficiencies:before {
      margin: 4px 0px 4px 4px;
    }
  }
}

.calculator-container {
  @include container(960px);

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 50px;

  h2 {
    margin: 30px;
    text-align: center;
  }

  tr#deduplication {
    border-bottom: 1px solid white;
  }

  table {
    background-color: #4a4a4a;
    border-radius: 10px;
    margin: auto;
    width: 900px;
    th {
      color: white;
      font-weight: 100;
    }

    th.side {
      padding-right: 35px;
      padding-left: 40px;
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: right;
      font-size: 18px;
    }

    th.top {
      padding-right: 100px;
      padding-top: 60px;
      padding-bottom: 20px;
      text-align: left;
      font-size: 22px;
    }

    #number-of-vms {
      th {
        max-width: 150px;
        padding-top: 14px;
        padding-bottom: 14px;
      }

    }

    select, input {
      width: 180px;
      height: 35px;
      font-size: 1.2em;
      border-radius: 3px;
      text-indent: 12px;
    }

    #workload-options, #percent-of-system, #number-of-vms, #divergence {
      input {
        background-color: white;
      }

      select {
        background-color: #dbdbdb;
      }

      input.grey {
        background-color: transparent;
        border-color: #979797;
      }
    }

    #deduplication, #compression, #thin-provisioning {
      input {
        color: white;
        background-color: transparent;
        border-color: #979797;
      }
    }

    #workload-efficiency {
      td {
        color: #00afff;
        font-size: 25px;
        font-weight: 500;
        padding-left: 15px;
      }
    }

    #total-efficiency {
      td {
        color: #2cfee1;
        font-size: 25px;
        font-weight: 500;
        padding-left: 15px;
      }
    }
  }
}

.data-brief-container {
  text-align: center;
  height: 110px;

  a {
    display: inline-block;
    position: relative;
    top: -5px;
    color: white;
    font-weight: 100;
    font-size: 20px;
  }

  .icon {
    display: inline-block;
    position: relative;
    top: 33px;
    color: white;
    font-size: 3em;
    padding-right: 20px;
  }
}

.demo-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.data-efficiency-container {
  padding-right: 20px;
  padding-left: 20px;

  h2, h3 {
    text-align: center;
  }

  h2 {
    padding-top: 90px;
    font-size: 38px;
  }

  h3 {
    font-size: 25px;
    font-weight: 400;
  }

  p {
    padding-bottom: 15px;
  }

  img.node {
    padding-top: 75px;
    margin: 0;
  }
}

.environmental-benefits-container {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  margin: auto;
  max-width: 800px;

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 25px;
    font-weight: 400;
  }

  p {
    padding-bottom: 30px;
  }
}

.get-started-container {
  @include container(960px);
  padding-right: 20px;
  padding-left: 20px;

  a {
    float: right;
    margin-top: 30px;
  }
}

@media (max-width: $phone) {
}

@media (max-width: $tablet - 1) {
  .top-ribbon-section {
    margin-top: 0;
    height: 0;
  }

  .top-ribbon-container {
    .blank {
      width: 0;
    }
    .text {
      width: 0;
    }
    .icons-wrap {
      width: 0;
    }
    .icon {
      visibility: hidden;
    }
  }

  .efficiences-container {
    padding-top: 100px;

    .global-deduplication {
      @include span(12 of 12);

      .text {
        @include span(12 of 12);
      }

      .image {
        @include span(12 of 12);
        margin-top: 10px;
      }
    }

    .granular, .two-layer-compression {
      @include span(12 of 12);

      .text {
        @include span(12 of 12);
      }

      img {
        @include span(12 of 12);
        padding: 0;
      }
    }
  }

  .calculator-container {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .demo-container {
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .top-ribbon-section {
    margin-top: 110px;
    height: 80px;
  }

  .top-ribbon-container {
    .blank {
      @include span(2 of 12)
    }
    .text {
      @include span(6 at 3 of 12);
      text-align: right;
      padding-right: 20px;
    }
    .icons-wrap {
      @include span(4 of 12 last);
    }
  }

  .efficiences-container {
    padding-top: 50px;

    h1 {
      text-align: left;
      margin-bottom: 0;
    }

    .global-deduplication, .granular {
      @include span(12 of 12);

      .text {
        @include span(5 of 12);
        p {
          padding-right: 40px;
          padding-top: 0;
        }
      }

      img {
        @include span(7 of 12 last);
        margin-right: 0;
      }
    }

    .two-layer-compression {
      @include span(12 of 12);

      img {
        @include span(7 of 12);
        margin-left: 0;
        margin-right: 10px;
      }

      .text {
        @include span(5 of 12 last);
        padding-left: 50px;

        p {
          padding-top: 0;
        }
      }
    }
  }

  .data-efficiency-container {
    .text {
      margin: auto;
      width: 80%;
      max-width: 800px;
    }
  }
}




