.text
  %h2 Fueled by SolidFire
  %p Following a thorough evaluation and testing process, decision makers standardized on the SolidFire Storage system to underpin their next generation cloud offering. With SolidFire, Crucial has achieved:

  %ul
    %li
      %p An infrastructure that can support high-performance IaaS
    %li
      %p Granular visibility of application performance
    %li
      %p Cost-effective, flexible provisioning
    %li
      %p Silo-free scaling
    %li
      %p Higher efficiency and utilization rates in a smaller data footprint
    %li
      %p Greater than 8x environmental cost savings
    %li
      %p Predictable customer solution costs
    %li
      %p Automation and customer self-service