.text
  %h2 Fueled by SolidFire
  %p Datapipe’s rich Stratosphere platform delivers support for a wide range of solutions including high performance computing (HPC), an elastic self-service public cloud, managed private cloud and a self service private cloud offering all accessible via the Stratosphere Portal or programmatically via API.

  %ul
    %li
      %p All-SSD performance
    %li
      %p Solutions for enterprises or all sizes
    %li
      %p Flexible storage architecture
    %li
      %p Private and public cloud solutions
    %li
      %p No Noisy Neighbors


