.text
  %h2 Fueled by SolidFire
  %p Elastx chose SolidFire in order to have one storage system that could support both Elastx cloud platforms while also scaling efficiently as business grew. In addition, SolidFire is able to support the performance load generated by the growing number of hosted business-critical applications, and is capable of supporting firm SLAs around performance. With SolidFire, Elastx has achieved:

  %ul
    %li
      %p A reliable and predictable cloud hosting experience
    %li
      %p The elimination of legacy SAN and noisy neighbors
    %li
      %p Extreme customer density
    %li
      %p Linear scale
    %li
      %p The automation of all systems functionality
    %li
      %p Performance at a price point that makes sense to their customers
    %li
      %p Higher profitability and reduced customer churn
