.text
  %h2 Fueled by SolidFire
  %p The ability to deliver a consistent application performance experience gave iWeb the ability to write an SLA guaranteeing systems performance for the life of the virtual machine stating that the application will perform exactly the same way on day 600 as it did on day one. Additional drivers included deep compatibility, along with the ability to support the need for linear scale.
  %p To achieve these goals iWeb needed a storage platform that t consisted of the following criteria:

  %ul
    %li
      %p All-SSD system delivered with costs of spinning disk
    %li
      %p All efficiencies must be executed inline and not be "add-ons"
    %li
      %p Efficiencies must not have any performance limiting effects
    %li
      %p Must integrate tightly with Openstack
    %li
      %p System wide linear scale
    %li
      %p Sub 1 millisecond latency
    %li
      %p 10GB/E for maximum, cost effective cross-platform integration.