.text
  %h2 Fueled by SolidFire
  %p RFA uses SolidFire for its customers’ mission-critical workloads, as a storage tier handling large databases and applications that require consistent, predictable performance. The solution’s greater density significantly reduces rack and power consumption and raises RFA’s overall storage return on investment (ROI). “The consumption on the spinning disk side was so high that for certain applications it was becoming wildly expensive,” Grigoriy said. “On SolidFire, it becomes a lot more economical for us, and then we can repurpose the spinning disks more efficiently.”

  %ul
    %li
      %p Scale-out

    %li
      %p High Availability

    %li
      %p Deep VMware Integration

    %li
      %p Guaranteed Performance

  %p SOLUTION

  %ul
    %li
      %p One five-node SF3010 cluster that supports VMware, Microsoft SQL, and Microsoft

    %li
      %p Exchange workloads for RFA cloud customers

    %li
      %p Ensure transaction processing within milliseconds

    %li
      %p Decrease performance issues 100%

    %li
      %p 10GB/E for maximum, cost effective cross-platform integration


