.text
  %h2 Fueled by SolidFire
  %p ServInt, an early pioneer in VP based cloud hosting offers both managed and self service cloud solutions to its customers.  In addition to the Flex VPS cloud solution ServInt has added a new tier of guaranteed performance hosting called SolidFire SSD VPS that delivers a level of guaranteed performance unheard of from a hosted VPS solution.

  %ul
    %li
      %p All-SSD performance
    %li
      %p Cost effective Solutions
    %li
      %p Scalable SAN infrastructure
    %li
      %p Private and fully managed cloud solutions
    %li
      %p No Noisy Neighbors

.image
