.text
  %h2 Fueled by SolidFire
  %p Sungard AS considered a variety of all-flash arrays to help them ensure availability, recoverability and support for complex IT environments for their customers. Sungard AS’ requirements were scale out, integration, and software – the ability to install and deploy storage very quickly and to be able to operate in fashion that could go to market very quickly. Their search ultimately led them to choose SolidFire.

  %ul
    %li
      %p Quality of Service Brings Predictable Performance
    %li
      %p SolidFire’s guaranteed performance Quality of Service enables Sungard AS to provide service level agreements and the delivery of service to ensure their customers get predictable performance. By choosing SolidFire, Sungard AS can guarantee minimum application performance to its customers.
    %li
      %p Storage that Scales
    %li
      %p Customers of Sungard AS demand storage that scales. Sungard AS had a key requirement that their storage providers scale easily and quickly as customers demand. SolidFire’s scale-out architecture and non-disruptive addition of new nodes provide Sungard AS with the IT infrastructure to support their scale requirements.
    %li
      %p Automation and Integration
    %li
      %p Sungard AS has standardized on CloudStack as their cloud orchestration platform. When selecting storage, integration with CloudStack was a must.
    %li
      %p Looking at that integration – and we look at the network, the compute and storage - we needed to know which providers are able to integrate into CloudStack. SolidFire was one of those providers. They were the number one provider in the flash market place, and were able to meet those requirements,” said Simon Withers.
    %li
      %p SolidFire’s integration, automation, software, quality of service and scalability are key to Sungard AS. “That is why we made the decision to be fueled by SolidFire,” Withers said.

