@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
}

.container {
  background-color:transparent;
  @include container(960px);
}

#contact span {
  font-weight: 600;
}

#contact p {
  @include font-size(16px);
}

.col5 {
  .image-wrapper {
    margin-top: 80px;
  }
}

.contact-form {

  .mktoForm {
    margin: 0 auto;

    .mktoButton:hover {
      background-color: $red-04 !important;
    }

    .mktoButton {
      background-color: $red-01 !important;
      min-width: 245px !important;
      font-weight: 400;
      font-size: 18px !important;
      margin-top: 15px;
    }
  }
}

@media (max-width: $tablet - 1) {
  #contact {
    margin-top: 0;
  }
}
