@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
}

.container {
  background-color:transparent;
  @include container(960px);
}

img.iweb {
  margin-left: 40px;
}

.customers-top {
  width: 100%;
  position: relative;
  float: left;
  background-color: $alt-grey-01;
  margin-top: 102px;

  h1 {
    text-align: center;
    font-weight: 300;
    padding: 30px 0;
    border-bottom: solid 1px $grey-03;
    margin-bottom: 0;
  }

  .ello-top {
    width: 100%;
    float: left;
    text-align: center;

    img {
      display: inline-block;
      margin: 0;
    }
  }
}

.customer-success-stories {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 50px;
  padding: 0 20px;

  h2 {
    font-weight: 300;
    margin-bottom: 0;
  }

  .customers-wrapper {
    width: 100%;
    float: left;
    margin-top: 25px;

    .customer-container {
      width: 23.5%;
      float: left;
      margin-right: 2%;
      border-top: solid 4px $red-01;
      border-left: solid 1px $grey-01;
      border-right: solid 1px $grey-01;
      border-bottom: solid 1px $grey-01;
      min-height: 260px;
      background-color: $alt-grey-01;

      .customer-text, .customer-image {
        width: 100%;
        float: left;
      }

      .customer-image {
        text-align: center;
        height: 128px;
        background-color: #FFF;

        img {
          display: inline-block;
        }
      }

      .customer-text {

        .customer-name {
          font-weight: 600;
          margin: 10px 5px;
        }

        .customer-category {
          color: $grey-03;
          margin: 0 5px 10px 5px;
        }

        .customer-download {
          margin: 0 5px 10px 5px;
        }
      }

    }

    .right-zero {
      margin-right: 0;
    }
  }

  .more-customer-success-stories {
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 25px;

    .more-css-link {
      color: $red-01;
      text-transform: uppercase;
      font-weight: 600;
    }

    .more-css-link:hover {
      color: $red-04;
    }
  }
}

.featured-customer-success-stories {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 50px;
  padding: 0 20px;
  background-color: $alt-grey-01;
  padding-bottom: 40px;

  .customer-wrapper {
    width: 100%;
    float: left;

    .sub-header {
      @include font-size(22px);
      color: $grey-03;
      margin-bottom: 15px;
      font-weight: 300;
    }
  }

  .customer-video {
    width: 48%;
    float: left;
    margin-right: 2%;
  }

  .customer-text {
    width: 50%;
    float: left;
    margin-left: 0;

    img {
      margin: 0;
    }

    .case-study-link {
      color: $red-01;
      text-transform: uppercase;
      font-weight: 600;
    }

    .case-study-link:hover {
      color: $red-04;
    }

    .link-wrapper {
      width: 100%;
      float: left;
      text-align: right;
    }
  }
}

.fueled-by-solidfire-section {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 50px;
  padding: 0 20px;

  .fueled-by-solidfire-text {
    width: 71%;
    float: left;
    margin-right: 4%;
  }

  .fueled-by-solidfire-image {
    width: 25%;
    float: left;
    margin-right: 0;
    text-align: right;

    .learn-more-link {
      color: $red-01;
      text-transform: uppercase;
      font-weight: 600;
    }

    .learn-more-link:hover {
      color: $red-04;
    }
  }

}

.request-demo {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 70px;

  .full-row {
    border-top: solid 1px $grey-01;
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }

  .sub-header {
    @include font-size(20px);
    width: 100%;
    float: left;
    margin: 25px 0;
  }

}

#request-demo {
  display: none;

  .mktoForm {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }

  button.mktoButton:hover {
    background-color: $red-04;
  }

  button.mktoButton {
    background-color: $red-01;
  }
}

@media (max-width: $tablet - 1) {
  .customer-success-stories .customers-wrapper .customer-container {
    width: 48%;
    margin-bottom: 20px;
  }

  .featured-customer-success-stories .customer-video, .featured-customer-success-stories .customer-text {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: $phone - 1) {
  .customer-success-stories .customers-wrapper .customer-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .fueled-by-solidfire-section .fueled-by-solidfire-text, .fueled-by-solidfire-section .fueled-by-solidfire-image {
    width: 100%;
    margin-right: 0;
  }

  .fueled-by-solidfire-section .fueled-by-solidfire-image img {
    display: none;
  }
}
