@import "variables";

#hidden-form{
  display:none;
}

#request-form{
  form {
    text-align: center;
    padding-bottom: 20px;
    p {
      text-align:center;
    }
  }

  p {
    font-family: "Source Sans Pro";
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  input[type=text], input[type=email], input[type=tel], textarea {
    font: normal normal 400 15px/22px "Source Sans Pro", sans-serif !important;
    border-radius: 5px;
    padding: 10px;
    max-width: 230px;
    color: #5a5a5a;
    border: 1px solid #ccc;
    padding: 0 20px !important;
    width: 100% !important;
    height: 30px;
    text-align: left;
  }

  .button-blue {
    background-color: #0CA2B3;
    color: $white;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: right;
    border: none;
    margin-top: 30px;
    transition: background-color 0.5s ease;

  }

  .button-blue:hover {
    background-color: #248397;
    color: $white;
  }
}

#support {
  h1, h2, p {
    font-weight: 100;
  }

  h3.more-info {
    font-weight: 300;
  }

  a.contact {
    text-decoration: none;
    font-weight: 300;
  }

  a.contact:hover {
    color: $burgundy-02;
  }

  h1 {
    margin-top: 0;
    line-height: 1em;
  }

  p.indent {
    padding-left: 50px;
  }

  .bolder {
    font-weight: 400;
  }

  .button-burgundy {
    background-color: $burgundy-01;
    @extend .button-general;
    margin-left: 10px;
  }

  .button-burgundy:hover {
    background-color: $burgundy-02;
    color: $white;
  }

  .button-orange {
    background-color: $orange-01;
    margin-right: 10px;
    @extend .button-general;
  }

  .button-orange:hover {
    background-color: $orange-02;
    color: $white;
  }

  .button-general {
    color: $white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    border: none;
    transition: background-color 0.5s ease;
  }

  .support-container, .holistic-container {
    .image {
      margin-top: 0;
    }

    .text {
      h1 {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .five-elements {
      li.header {
        font-weight: 400;
      }
    }
  }
}

.button-section {
  @include container(960px);
  background-color: #ffffff;
}

.support-section {
  @include container(960px);
  background-color: #ffffff;
}

.holistic-section {
  padding-top: 50px;
  background-color: #f3f3f3;
}

.levels-of-support-section {
  @include container(960px);
  background-color: #ffffff;
}

.more-information-section {
  background-color: #f3f3f3;
}

.button-container {
  @include span(12 of 12);
  padding-right: 20px;
  padding-left: 20px;
}

.support-container {
  @include span(12 of 12);
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.holistic-container {
  @include container(960px);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 100px;
}

.levels-of-support-container {
  @include span(12 of 12);
  padding-right: 20px;
  padding-left: 20px;

  table {
    margin: auto;
    td, th {
      font-size: 18px;
      padding: 12px 8px;
      font-weight: 100;
      border: 1px solid #a1a1a1;
    }

    td.center {
      text-align: center;
    }

    th {
      background-color: #9c1c20;
      color: white;
    }
  }

  .white-paper-links {
    .icon-whitepapericon {
      display: inline-block;
      padding-right: 10px;
    }

    a {
      display: inline-block;
      font-size: 18px;
      font-weight: 300;
      color: #c07274;
      text-decoration: none;
    }

    a:hover {
      color: #9b1d20;
    }

    .dark-red {
      color:#af4b4e;
    }
  }
}

.more-information-container {
  @include container(960px);
  text-align: center;

  h3 {
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .red {
    color: #9f2629;
    line-height: 1.2em;
  }
}

@media(min-width: $tablet) {
  .more-information-container {
    padding-right: 100px;
    padding-left: 100px;
  }

  h1 {
    font-size: 42px;
    text-align: left;
  }

  h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .button-container {
    margin-top: 150px;

    .buttons {
      float: right;
    }
  }

  .support-container, .holistic-container {
    .image {
      @include span(2 of 12);
      margin-top: 30px;
    }

    .text, .five-elements {
      @include span(10 of 12 last)
    }
  }

  .levels-of-support-container {
    .links {
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 84px;

      .icon-whitepapericon {
        top: 20px;
        left: -28px;
        color: #e0001f;
        font-size: 1.7em;
      }
    }
  }
}

@media(max-width: $tablet - 1) {
  h1 {
    font-size: 28px;
    text-align: left;
  }

  h3 {
    font-size: 25px;
    font-weight: 400;
  }

  .button-container {
    margin-top: 75px;

    .buttons {
      text-align: center;
    }

    .button-burgundy {
      margin-left: 0 !important;
      margin-top: 20px;
    }
  }

  .support-container, .holistic-container {
    .image {
      @include span(2 of 12);
    }

    .text, .five-elements {
      @include span(10 of 12 last)
    }
  }

  .levels-of-support-container {
    .links {
      margin-bottom: 0px;
      margin-left: 25px;

      .icon-whitepapericon {
        top: 20px;
        left: -25px;
      }
    }
  }
}

@media(max-width: $phone) {
  h1, h3 {
    text-align: center;
  }

  .button-container {

    .buttons {
      .button-orange, .button-burgundy {
        @include span(12 of 12);
      }
    }
  }

  .support-container, .holistic-container {
    .image {
      @include span(12 of 12);
    }

    .text, .five-elements {
      @include span(12 of 12);
    }

    ul {
      padding-left: 10px;
    }
  }

  #support p.indent {
    padding-left: 0;
  }

  .more-information-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .levels-of-support-container {
    .links {
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 0px;

      .icon-whitepapericon {
        top: 20px;
        left: -28px;
        color: #e0001f;
        font-size: 1.7em;
      }
    }
  }
}


.chevron-container {
  @include container(960px);

  padding-right: 20px;
  padding-left: 20px;

  a {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    color: #555555;
  }

  .chevron-image {
    position: relative;
    top: -25px;
    left: 30px;
  }

  .chevron-white-logo {
    position: relative;
    top: -115px;
    left: 30px;
  }
}

.chevron-section.gradient {
  background-color: #f1f1f1;
  background: -webkit-gradient(linear,right,left,from(#9fadad),to(#f1f1f1));
  background: -webkit-linear-gradient(right,#9fadad,#f1f1f1);
  background: -moz-linear-gradient(right,#9fadad,#f1f1f1);
  background: -ms-linear-gradient(right,#9fadad,#f1f1f1);
  background: -o-linear-gradient(right,#9fadad,#f1f1f1);
}

@media (min-width: 986px) {
  .chevron-container {
    height: 106px;
    .chevron-images {
      @include span(2 of 12);
      position: relative;
      top: 10px;
      left: -50px;
    }

    .feature-sheet {
      a {
        @include span(3 at 3 of 12);
        font-size: 20px;
        text-align: right;
        margin-top: 40px;
      }

      img {
        @include span(2 at 6 of 12);
        margin: 0;
        margin-top: 3px;
        width: 62px;
        height: 100px;
        text-align: right;
      }
    }

    .capacity-planning {
      a {
        @include span(3 at 8 of 12);
        text-align: right;
        margin-top: 30px;
        margin-left: 125px;
      }

      img {
        @include span(2 of 12 last);
        width: 106px;
        height: 106px;
        margin: 0;
        float: right;
      }
    }
  }
}

@media (max-width: 985px) {
  .chevron-container {
    height: 192px;
    padding-top: 20px;
    padding-bottom: 20px;
    .chevron-images {
      @include span(0 of 12);
      width: 0;
      height: 0;
      visibility: hidden;
    }

    .feature-sheet {
      @include span(6 of 12);
      text-align: center;
      padding-top: 10px;

      img {
        width: 62px;
        height: 90px;
        margin-top: 30px;
      }
    }

    .capacity-planning {
      @include span(6 of 12 last);
      text-align: center;
    }
  }

  .levels-of-support-container {
      margin-top: 70px;
  }
}

@media(max-width: 765px) {
  .chevron-container {
    height: 400px;
  }

  .capacity-planning {
    margin-top: 15px;
  }
}


@media (max-width: $tablet - 1) {
  .chevron-container {
    .image {
      @include span(2 of 12);
    }

    .text {
      @include span(9 of 12);
    }

    .five-elements {
      @include span(9 of 12 last)
    }

    .feature-sheet {
      @include span(12 of 12);
    }

    .capacity-planning {
      @include span(12 of 12);
    }

    .chevron-images {
      visibility: hidden;
    }
  }

  .more-information-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: $phone) {
  .chevron-container {
    padding-top: 30px;
    padding-bottom: 10px;

    .image{
      @include span(12 of 12);
      text-align: center;
    }

    .text{
      @include span(12 of 12)
    }
  }
}
