.business-challenge-section
  .case-studies-container
    %h2 Business Challenge
    %p The company's market research showed that existing cloud offerings grossly underserved customers wanting to host business-critical applications with consistent and predictable performance. Unfortunately, the company's legacy storage solution lacked the visibility and performance Quality of Service (QoS) functionality necessary to confidently roll out a high-performance service offering. Adding to the issues, the newly expanded legacy system was extremely inefficient to be profitable supporting new and existing services.
    %p The business was hampered with an untenable growth model based on siloed storage systems each allocated to a separate application. This motivated Crucial to seek out alternative solutions to economically scale their infrastructure, manage it more efficiently, and profitably deliver high-performance IaaS services.

