.business-challenge-section
  .case-studies-container
    %h2 Business Challenge
    %p The founders of Elastx understood that legacy storage architectures would not be capable of meeting their customer's application performance requirements and would be broadly unpredictable as more customers were added to the system. As a result, Elastx focused on the deployment of an all-SSD storage system. In addition, Elastx had five technology requirements that were mandatory for their new cloud platform:
    %ul
      %li
        %p All-SSD system
      %li
        %p All efficiencies must be executed inline (without any performance-limiting effects)
      %li
        %p Must integrate with Openstack and Jelastic
      %li
        %p Linear scalability
      %li
        %p Sub 1 millisecond latency
