.business-challenge-section
  .case-studies-container
    %h2 Business Challenge
    %p As one of Canada's largest managed hosting providers, iWeb had some tough decisions to make when planning the architecture of its new predictable cloud offering.
    %p In the past iWeb had experimented with many available cloud platforms from largest brand names to a self-built system but each had its challenges and its promises.  However none were ideal and none seemed to be a natural fit for the iWeb culture from both technical and customer perspectives.  Furthermore iWeb wanted to move away from server based storage platform and into a true multi-tenant SAN environment that would allow iWeb to scale internally while delivering a predictable application performance experience.