.business-challenge-section
  .case-studies-container
    %h2 Business Success
    %p After a year of testing SolidFire’s storage solution, and following a two month beta phase, it was clear to Javier the benefits SolidFire’s all-flash arrays could deliver to 1&1. The primary benefit was how the new storage platform allowed 1&1 to more closely align itself to its goal of simplifying the cloud experience for its customers. With the SolidFire platform, 1&1 has been able to remove the difference performance tiers, so that all customers now get the same high level of performance without the complexity of choosing between the different tiers and payment models. It’s given customers even more flexibility when it comes to choosing the type of cloud they need to support their business. “Compared to the 1,000 server configurations that could previously be delivered in 10 minutes, thanks to SolidFire’s platform 1&1 can now offer its customers two million server configurations in 55 seconds, which is clearly a massive improvement for us and our users,” said Javier.
