.business-challenge-section
  .case-studies-container
    %h2 Business Challenge
    %p These transaction-processing applications, which include trading systems, portfolio accounting management systems, Microsoft SQL workloads, and Microsoft Exchange, ingest large amounts of data in real time and must execute transactions  near-instantaneously.
    %p RFA aimed to improve its customers’ application experience. Using a conventional storage solution from a well-known company, it ran into noisy neighbor and density problems. It wanted to guarantee high performance for every customer workload during peak demand, with no infrastructure co-tenants slowing performance for others by monopolizing bandwidth even at 50,000 IOPS.
