.business-challenge-section
  .case-studies-container
    %h2 Business Success
    %p ServInt primarily sells a Virtual Private Server service but was looking to move upmarket with a new offering for the shared environment. ServInt’s industry is highly competitive with extremely high customer expectations. ServInt’s customers run a variety of applications, from e-commerce and CRM applications to MySQL databases, which is the workload that causes ServInt the most noisy neighbor issues.
    %p By offering fully managed support, ServInt has to solve any problem their customers have, particularly with their storage platform. “It’s very, very important for us to offer premium support all the way down to our base product offering. Everyone has full access to our managed services team,” Kevin Nicastro, Vice President of Innovation and Technology at ServInt said.
    %p Because resource availability is critical for ServInt customers, they needed a way to to provide that availability – guaranteed IOPS – to their customers. They wanted to launch a solid state-based VPS product, along with new SLAs that ensure 100 percent uptime and real-time access to statistics providing proof that customers are getting their guarantee.
    %p Storage that would allow Sungard AS to provide a service availability agreement to their customers, who could then pass those SLAs on to other business units, departments and application sets, was an essential buying requirement.

