.business-challenge-section
  .case-studies-container
    %h2 Business Success
    %p Customers of Sungard AS are concerned about the delivery of their applications within the cloud. Performance is not just about ensuring 100 percent application up-time, it’s also about ensuring customers receive a consistent level of performance, especially with mission critical applications such as SAP, Oracle or ERP. These applications require a level of performance with a Service Level Agreement (SLA) tied to storage IOPS capability. For Sungard AS, cloud services is a way for customers to ensure they get industry-best levels of availability around performance, security and the continuity of their applications.
    %p Storage that would allow Sungard AS to provide a service availability agreement to their customers, who could then pass those SLAs on to other business units, departments and application sets, was an essential buying requirement.
