.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q SolidFire will enable us to go after customers that have traditionally utilized dedicated servers for their business operations. Now, we can not only offer them a reliable environment but guaranteed disk performance as well, which is going to be a massive game changer.
  .author
    %p - Ijan Kruizinga, Sales & Marketing Director, Crucial

  .links
    %a{href: 'http://info.solidfire.com/rs/solidfire/images/CaseStudy_Crucial.pdf', target: '_blank'}
      %p
        Read the complete Crucial success story.
        %span
          &nbsp; &#187;
