.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q The ability of SolidFire to dynamically adjust its performance and capacity is a real benefit. It means we don’t need multiple arrays. We can now do everything from one.
  .author
    %p – Mark Thomas, Solution Architect, Databarracks

  .links
    %a{href: "http://www.databarracks.com/secure-infrastructure-as-a-service/", target: "_blank"}
      %p
        Learn more about how Databarracks is offering infrastructure as a service
        %span
          &nbsp; &#187;

    %a{href: show_resource_path('benchmark-test-how-databarracks-delivers-guaranteed-performance-in-its-multi-tenant-public-cloud')}
      %p
        Read the Databarracks Benchmark on Guaranteed Performance in its Cloud
        %span
          &nbsp; &#187;

    %a{href: 'http://info.solidfire.com/rs/solidfire/images/DataBarracksCaseStudy.pdf', target: "_blank"}
      %p
        Read the full Databarracks success story
        %span
          &nbsp; &#187;





