.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q The integration of SolidFire’s fine-grain Quality of Service (QoS) into the CloudStack management framework was a key driver behind our decision to move forward with the technology.
  .author
    %p Robb Allen, CEO, Datapipe

  .links
    %a{href: 'http://www.datapipe.com/', target: "_blank"}
      %p Learn more about DataPipe