.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q We chose SolidFire because it was purpose-built for cloud service providers and because its architecture gives Elastx linear scalability for both performance and capacity.
  .author
    %p Joakim Öhman, CEO, Elastx

  .links
    %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf', target: '_blank'}
      %p
        Read the complete Elastx success story
        %span
          &nbsp; &#187;
    %a{href: 'http://elastx.com/', target: '_blank'}
      %p
        Learn more about how Elastx built their new platform from the ground up with SolidFire Storage
        %span
          &nbsp; &#187;
    %a{href: show_resource_path('benchmark-test-how-elastx-delivers-breakthrough-performance-for-platform-as-a-service-paas-applications')}
      %p
        Elastx Delivers Breakthrough I/O Performance for Platform as a Service Applications
        %span
          &nbsp; &#187;
