.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q SolidFire is the backbone of our data center. It's the only storage platform that can handle our dense workload consolidation and our staggering I/O requirements while still ensuring that every application gets the performance it needs, no matter what other demands are being placed on the platform
  .author
    %p Ben Town, Managing Director, Hosted Network

  .links
    %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_HostedNetwork.pdf', target: '_blank'}
      %p
        Case Study: Hosted Network
        %span
          &nbsp; &#187;
    %a{href: 'http://www.hostednetwork.net.au/', target: '_blank'}
      %p
        Visit Hosted Network Website
        %span
          &nbsp; &#187;
    %a{href: 'http://www.hostednetwork.net.au/desktop-as-a-service/', target: '_blank'}
      %p
        Learn about their DaaS
        %span
          &nbsp; &#187;
