.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q SolidFire allows iWeb the ability to deliver SLA’s around a predictable cloud hosting experience.
  .author
    %p - Christian Primeau – President/COO iWeb

  .links
    %a{href: 'http://info.solidfire.com/rs/solidfire/images/iWeb_Case_Study.pdf', target: "_blank"}
      %p
        Read the complete iWeb success story
        %span
          &nbsp; &#187;


    %a{href:'http://top.com/cloud', target: '_blank'}
      %p
        Find out more about iWeb's Fueled by SolidFire Solution.
        %span
          &nbsp; &#187;
