.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q Our aim is to make the cloud easy – that’s our promise to our customers. We take the complexity of building a cloud away from end-users, and focus on giving them what they need to have a first class cloud experience – low latency, maximum performance, and a simple pricing structure.
  .author
    %p Javier Salcedo Gadea, Head Of Project Management Cloud, 1&1
