.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q SolidFire set us free, because it unlocked the scalability and guaranteed performance of our platforms.
  .author
    %p Grigoriy Milis Chief Technology Officer, RFA

  .links
    %a{href: 'http://info.solidfire.com/rs/538-SKP-058/images/RFA_CaseStudy.pdf', target: '_blank'}
      %p
        Download the case study
        %span
          &nbsp; &#187;