.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q Guaranteeing IO QoS is very, very difficult when done on the direct hardware platform. A lot of time it fails to function properly, and measures taken to guarantee that QoS can cause more harm. With SolidFire, we are able to fully guarantee IO, and we have never really been able to do that before.
  .author
    %p Kevin Nicastro, Vice President of Innovation and Technology at ServInt

  .links
    %a{href: 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf', target: '_blank'}
      %p
        Download customer case study
        %span
          &nbsp; &#187;
    %a{href: 'http://www.servint.net/ssd-vps-about.php', target: '_blank'}
      %p
        Learn more about Servint
        %span
          &nbsp; &#187;
