.image
  =image_tag 'solutions/case_studies/FueledBySolidFire.png'
.text
  .quote
    %p
      %q Our customers come to us with very complex IT needs. They need availability. They need application security and they need continued access and connectivity to their applications. They also need that scalability to support their growth – the ability to flex up and down as their business needs change.
  .author
    %p Simon Withers, Vice President for Cloud Services, Sungard Availability Services Global

  .links
    %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Sungard.pdf", target: "_blank"}
      %p
        Download customer case study
        %span
          &nbsp; &#187;
