.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Layout Templates

    .float-right.margin-bottom-twenty-five
      = link_to 'New Layout Template', new_cms_layout_template_path, :class => 'cms-green-button'
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'


    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;
    - @cms_layout_templates.each do |cms_lp|
      .custom-landing-item
        .record-email
          = cms_lp.name
        .record-destroy
          = link_to 'Destroy', cms_lp, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_layout_template_path(cms_lp), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        = link_to 'New Layout Template', new_cms_layout_template_path, :class => 'cms-green-button'
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms--button margin-right-fifteen'