.resources
  .resources__container
    %p
      %h2
        The resource
        = @cms_layout_template.name
        has been successfully created.
    .back-btn
      = link_to 'cms layout templates', cms_layout_templates_path, :class => 'cms-red-button'