= simple_form_for(@cms_project_request) do |f|
  = f.error_notification

  .radio-wrapper
    %p
      %span.required-filed
        &#42;
      Request type
      .error-project-request-type
      %p
        %select{:name => 'cms_project_request[type]', :id => 'cms_project_request_type'}
          %option{:value => 0}
            Select project request type
          - if @cms_type_find
            - @cms_type_find.each do |type_find|
              %option{:value => type_find.id, :selected => true}
                = type_find.name
          - @cms_project_request_types.each do |type|
            %option{:value => type.id}
              = type.name

  .request-items
    - if @is_edit
      .radio-wrapper
        %p
          %span.required-filed
            &#42;
          Request item
          %p
            %select{:name => 'cms_project_request[item]', :id => 'cms_project_request_item'}
              %option{:value => 0}
                Select project request item
              - if @cms_item_find
                - @cms_item_find.each do |item_find|
                  %option{:value => item_find.id, :selected => true}
                    = item_find.name
              - if @cms_project_request.other_info != ''
                %option{:value => 1, :selected => true}
                  Other
              - if @cms_project_request_items
                - @cms_project_request_items.each do |item|
                  %option{:value => item.id}
                    = item.name
  .form-inputs.other-info
    = f.input :other_info, :label => 'Please describe item type:'
  .radio-wrapper
    %p
      %span.required-filed
        &#42;
      Project priority
    %p
      %select{:name => 'cms_project_request[priority]', :id => 'cms_project_request_priority'}
        - if @is_edit
          %option{:value => @cms_project_request.priority, :selected => true}
            = @cms_project_request.priority
        %option{:value => 0}
          Select project priority
        %option{:value => 'Normal'}
          Normal
        %option{:value => 'Medium'}
          Medium
        %option{:value => 'High'}
          High
  .form-inputs
    %span.required-filed
      &#42;
    = f.input :title, :label => 'Title/Summary:', :class => 'required-field-width'
    %span.required-filed
      &#42;
    = f.input :description, as: :text, :label => 'Project Overview (Description of project & purpose):', :class => 'required-field-width'
    %span.required-filed
      &#42;
    = f.input :due_date, :label => 'Due date of project', :class => 'required-field-width'
    %span.required-filed
      &#42;
    = f.input :pm_name, :label => 'Requested by:', :placeholder => 'Name', :class => 'required-field-width'
    %span.required-filed
      &#42;
    = f.input :pm_email, :label => 'Requestor email:', :placeholder => 'requested.by@solidfire.com'
    = f.input :client_email, :label => 'Stakeholders email', :placeholder => 'email1@solidfire.com, email2@solidfire.com'
    = f.input :pr_id, :as => 'hidden', :input_html => { :value => @cms_project_request.id }

  .radio-wrapper.creative-brief
    %p
      Creative Brief
    .form-inputs
      = f.input :audience, :label => 'Target Audience:'
      = f.input :graphic_guidelines, :label => 'Graphic Guidelines (paste in links to logos, photos, graphics, and illustrations below)', as: :text
      = f.input :creative_direction, :label => 'Creative Direction', as: :text
      = f.input :inspiration, :label => 'Examples for Inspiration/Direction (links to Google docs or webpages)', as: :text

  .radio-wrapper.file-types
    %p
      Final File Type (JPG, PDF, etc.)
    .form-inputs
      - if @is_edit
        - if @get_collateral
          - @get_collateral.each do |item|
            %p
              %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => item}, :checked => true}
                = item
          %p
            = link_to 'show more collateral options', 'javascript://', :class => 'collateral-options-link'

    .form-inputs{:class => (@is_edit ? 'collateral-list' : '')}
      .form-inputs
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'pdf'}} Adobe PDF
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'powerpoint'}} Microsoft PowerPoint
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'indesign'}} Adobe Indesign
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'illustrator'}} Adobe Illustrator
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'photoshop'}} Adobe Photoshop
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'eps vector art'}} .EPS Vector art
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'jpeg photos'}} JPEG photos
        %p
          %input{:type => 'checkbox', :class => 'collateral-type', :data => {:collateral => 'tiff photos'}} .TIFF Photos
          %input{:type => 'hidden', :value => (@is_edit ? @cms_project_request.collateral_type : ''), :name => 'cms_project_request[collateral_type]', :id => 'cms_project_request_collateral_type', :class => 'collateral-type'}
        %p
          = f.input :file_size, :label => 'File Size (width x height) and file size limit'
          = f.input :bleed, as: :text, :label => 'Project specifications (insert link to specifications document)'
          = f.input :intended_use, :label => 'Intended Use (print, web, or both)'
          = f.input :submit_final, :label => 'Who will submit final files for print? (Designer or project owner, include link if applicable)'

  .request-logic
    .radio-wrapper{:style => 'margin-bottom:30px;'}
      .form-inputs.web-page-update
        = f.input :current_url, :label => 'Current URL:', :value => (@is_edit ? @cms_project_request.current_url : '')
      .form-inputs.new-page
        = f.input :new_url, :label => 'URL that you would like:', :value => (@is_edit ? @cms_project_request.new_url : '')
    .radio-wrapper.digital-item{:style => 'margin-bottom:30px;'}
      %p
        Who will provide graphics?
      %p
        %input{:type => 'radio', :value => 0, :name => 'graphics', :id => 'creative-team-graphics'}
          Creative team
        %input{:type => 'radio', :value => 1, :name => 'graphics', :id => 'final-graphics'}
          Final graphics
      .form-inputs.graphics-direction
        = f.input :graphics_direction, as: :text, :label => 'Graphics direction:'
      .form-inputs.google-doc-graphics
        = f.input :google_doc_graphics, :label => 'Google doc URL:'
    .radio-wrapper.digital-item{:style => 'margin-bottom:30px;'}
      %p
        Who will provide content?
      %p
        %input{:type => 'radio', :value => 0, :name => 'content', :id => 'creative-team-content'}
          Creative team
        %input{:type => 'radio', :value => 1, :name => 'content', :id => 'final-content'}
          Final content url
      .form-inputs.content-direction
        = f.input :content_direction, as: :text, :label => 'Graphics direction:'
      .form-inputs.final-content-url
        = f.input :final_content_url, :label => 'Google doc URL:'
    .radio-wrapper.digital-item.seo-requirements{:style => 'margin-bottom:30px;'}
      %p
        Are there any SEO requirements?
      %p
        %input{:type => 'radio', :value => 0, :name => 'seo', :id => 'seo-requirements-true'}
          yes
        %input{:type => 'radio', :value => 1, :name => 'seo', :id => 'seo-requirements-false'}
          no
      .form-inputs.seo-requirements
        = f.input :seo_requirements, as: :text, :label => 'SEO requirements:'
    .form-inputs.new-page
      = f.input :url_examples, as: :text, :label => 'Examples of web pages to emulate:', :placeholder => 'http://www.example.com'
    .radio-wrapper.new-graphics
      .form-inputs
        - if @is_edit
          %p
            Selected graphics needed:
          - if @get_graphic
            - @get_graphic.each do |item|
              %p
                %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => item}, :checked => true}
                  = item
            %p
              = link_to 'show more graphic options', 'javascript://', :class => 'graphic-options-link'
      .form-inputs{:class => (@is_edit ? 'graphic-list' : '')}
        %p
          Type of graphic needed:
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'logo'}} Logo
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'stickers'}} Stickers
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'buttons'}} Buttons
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'pull-up banners'}} Pull-up banners
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'email signature banner'}} Email signature banner
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'illustration'}} Illustration
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'photography'}} Photography
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 't-shirt'}} T-shirt
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'reference architecture renderings'}} Reference architecture renderings
        %p
          %input{:type => 'checkbox', :class => 'graphics-type', :data => {:graphics => 'other'}} Other
          %input{:type => 'text', :value => '', :id => 'graphics-type-other'}

          %input{:type => 'hidden', :value => (@is_edit ? @cms_project_request.graphic_type : ''), :name => 'cms_project_request[graphic_type]', :id => 'cms_project_request_graphic_type', :class => 'graphics-type'}

  - if @is_edit
    .radio-wrapper
      %p
        Status
        %p
          %select{:name => 'cms_project_request[status]', :id => 'cms_project_request_status'}
            %option
              Change project request status
            - if @cms_status_find
              - @cms_status_find.each do |status_find|
                %option{:value => status_find.id, :selected => true}
                  = status_find.name
            - @cms_project_request_status.each do |status|
              %option{:value => status.id}
                = status.name
  - else
    = f.input :status, :as => 'hidden', :input_html => { :value => '55959ffd6363330009000000' }
    = f.input :submit_date, :as => 'hidden', :input_html => { :value => Date.today }
  .form-inputs.additional-info
    = f.input :additional_information, as: :text, :label => 'Additional information needed'
  - if @cms_project_request.jira_id
    .form-inputs.jira-link
      = link_to 'View story in Jira', 'https://solidfire.atlassian.net/browse/' + @cms_project_request.jira_id, :target => '_blank'
  .form-actions.submit-wrapper
    = link_to 'create project request', 'javascript://', :class => 'cms-red-button', :id => 'submit-project-request'

#errors-modal

