.record-wrapper-unarchived
  - @cms_project_requests.each do |cms_pr|
    .record-wrapper-item
      .record-email
        = cms_pr.title
      .record-status
        - @cms_status_find.each do |stat|
          - if stat[:id] == cms_pr.status
            = stat[:name]
      .record-date
        = (cms_pr.submit_date ? cms_pr.submit_date.strftime("%b %d, %y") : 'not available')
      .record-destroy
        = link_to 'Edit', edit_cms_project_request_path(cms_pr), :class => 'edit button--grey--small margin-right-fifteen'
        = link_to 'Destroy', cms_pr, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small margin-right-fifteen'
        = link_to 'Archive', 'javascript://', :class => 'archive button--purple-small archive-project-request', :data => {:pid => cms_pr.id.to_s}
