.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_project_request.title
      .link
        = link_to 'Manage Project Requests', cms_project_requests_path, :class => 'cms-white-button'

    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Project Requests', cms_project_requests_path, :class => 'cms-white-button'
