.resources.project-request-index
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Project request tool dashboard

    .resource-options.float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms--button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_project_request_path}
        %span.plus +
        New Project Request

    .record-wrapper
      .record-email
        %span.title Title
      .record-status
        %span.current_status Current Status
      .record-date
        %span.submitted Submitted
      .record-destroy
        &nbsp;
    .record-wrapper-ajax-unarchived

    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_project_request_path}
          %span.plus +
          New Project Request
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms--button margin-right-fifteen'
      .button-container
        = link_to 'Show Archived Project Requests', 'javascript://', :class => 'show-archive-button margin-right-fifteen'

    .resource-options.float-right
      .option-item
    .archive-section-wrapper
      .archive-section
        %h3.cms-margin-top.float-left Archived Project Requests
        .record-wrapper
          .record-email
            %span Title
          .record-status
            %span Current Status
          .record-date
            %span Submitted
          .record-destroy
            &nbsp;
      .record-wrapper-ajax-archived
    .back-btn
