.resources
  .resources__container
    %p
      %h2
        The project request
        = @cms_project_request.title
        has been successfully created.
    .back-btn
      = link_to 'project requests', cms_project_requests_path, :class => 'cms-red-button'