.main-tile-wrapper
  .great-feats-main-tile.great-feats-main-tile--background-competitive-comparison.great-feats-main-tile--border-left-top-right
    .great-feats-main-tile__competitive-comparison
      %h1
        how does
        %br
        %span
          pure storage
        %br
        stack up against
        %br
        %span.solidfire
          solidfire?
      .great-feats-main-tile--copy
        %h3
          See how the Pure Storage architecture ranks vs. SolidFire's scale-out, all-flash arrays. Look into where the solutions differ and how suitable each architecture is for the next generation data center.
  .great-feats-main-form
    .great-feats-main-form--wrapper
      .great-feats-main-form--wrapper--header
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            GET
          the Storage QoS Guide
      .great-feats-main-form--wrapper--form-body