.great-feats-sub-tile-wrapper-updated-bottom.great-feats-hover{:data => {:roll => 'fade-comp'}, :style => 'margin-right:0;'}
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'competitive-comparison'}}
    .great-feats-sub-tile.great-feats-sub-tile--margin-top
      .great-feats-sub-tile__image
        .great-feats-sub-tile__image.great-feats-sub-tile__image--comparison
          .great-feats-sub-tile__text--comparison
            %h4
              how does
              %br
              %span.small
                pure storage
              %br
              stack up against
              %br
              %span
                solidfire?
    .great-feats-sub-title--cta
      .great-feats-sub-title--padding-wrapper.great-feats-cta-blue-grey-color
        .great-feats-sub-title--icons.great-feats-sub-title--explore-icon
        .great-feats-sub-title--text
          %span
            read
          the Comparison Paper
  %a{:href => 'http://www.solidfire.com/comparing-flash-storage-platforms', :class => 'tile-link various', :id => 'great-feats-competitive-comparison-click', :data => {:asset => 'competitive-comparison'}}
    .great-feats-sub-tile-wrapper-roll.fade-comp{:style => 'margin-top: -25px;'}
      %p.great-feats-sub-tile__rollover-text
        %span.header-call-out-big
          See how Pure ranks vs. SolidFire
        %span.call-out
          AS A SCALE-OUT,
          %br
          ALL-FLASH ARRAY.
        Look into where the solutions differ and how suitable each architecture is for the next generation data center.
        .great-feats-sub-title--padding-wrapper.great-feats-cta__rollover-div.great-feats-cta-solidfire-red-color
          .great-feats-sub-title--icons.great-feats-sub-title--explore-icon
          .great-feats-sub-title--text
            %span
              read
            the Comparison Paper