.great-feats-sub-tile-wrapper-updated-bottom.great-feats-hover{:data => {:roll => 'fade-esg'}}
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'esg'}}
    .great-feats-sub-tile.great-feats-sub-tile--margin-top
      .great-feats-sub-tile__image
        .great-feats-sub-tile__image.great-feats-sub-tile__image--esg
          .great-feats-sub-tile__text--esg
            %h4
              enterprise strategy group
              %br
              %span.bottom-border
                lab report
              %br
              %span.small
                Quantify the savings you'll
                %br
                realize with SolidFire storage.
    .great-feats-sub-title--cta
      .great-feats-sub-title--padding-wrapper.great-feats-cta-blue-grey-color
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            download
          the Analyst Report
  %a{:href => 'http://www.solidfire.com/esg', :id => 'great-feats-esg-click', :class => 'tile-link various', :data => {:asset => 'esg'}}
    .great-feats-sub-tile-wrapper-roll.fade-esg{:style => 'margin-top: -25px;'}
      %p.great-feats-sub-tile__rollover-text
        %span.header-call-out-big
          Discover how SolidFire
        %span
          CAN LOWER OPERATING EXPENSES BY 67%
        over traditional storage and help you
        %br
        eliminate up to 93% of
        %br
        storage performance-related issues.
        .great-feats-sub-title--padding-wrapper.great-feats-cta__rollover-div.great-feats-cta-solidfire-red-color
          .great-feats-sub-title--icons.great-feats-sub-title--download-icon
          .great-feats-sub-title--text
            %span
              download
            the Analyst Report
