.main-tile-wrapper
  .great-feats-main-tile.great-feats-main-tile--background-esg.great-feats-main-tile--border-left-top-right
    .great-feats-main-tile__esg
      %h1
        enterprise strategy group
        %br
        %span
          lab report
      .great-feats-main-tile--copy
        %h3
          Discover how SolidFire will lower your operating expenses by 67% over traditional storage and avoid up to 93% of storage performance-related issues.
  .great-feats-main-form
    .great-feats-main-form--wrapper
      .great-feats-main-form--wrapper--header
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            GET
          the Storage QoS Guide
      .great-feats-main-form--wrapper--form-body
