%a{:href => '#inline', :class => 'tile-link various main-tile', :data => {:asset => 'ezverify-case-study'}}
  .main-tile-wrapper
    .great-feats-main-tile.great-feats-main-tile--background-ezverify.great-feats-main-tile--border-left-top-right
      .great-feats-main-tile__ezverify
        %h1
          health insurance
          %br
          verification
          %br
          %span
            in real time
        .great-feats-main-tile--copy
          %h3
            ezVerify launched a seamlessly integrated platform built on SolidFire that allows doctors to verify insurance in an instant &mdash; so they can practice medicine without worrying about databases, insurance carriers, or storage performance.
    .great-feats-main-tile.great-feats-main-tile--border-left-bottom-right
      .great-feats-main-tile--cta
        .great-feats-sub-title--padding-wrapper
          .great-feats-sub-title--icons.great-feats-sub-title--download-icon
          .great-feats-sub-title--text
            %span
              read
            the Case Study