.great-feats-sub-tile-wrapper-updated-bottom.great-feats-hover{:data => {:roll => 'fade-ezverify'}}
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'ezverify-case-study'}}
    .great-feats-sub-tile.great-feats-sub-tile--margin-top
      .great-feats-sub-tile__image
        .great-feats-sub-tile__image.great-feats-sub-tile__image--ezverify
          .great-feats-sub-tile__text--ezverify
            %h4
              health insurance
              %br
              verification
              %br
              %span
                in real time
              %br
            %span.small
              Dr. Gerald Glass, ezVerify Founder
    .great-feats-sub-title--cta
      .great-feats-sub-title--padding-wrapper.great-feats-cta-blue-grey-color
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            read
          the Case Study
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'ezverify-case-study'}}
    .great-feats-sub-tile-wrapper-roll.fade-ezverify{:style => 'margin-top: -25px;'}
      %p.great-feats-sub-tile__rollover-text
        %span.header-call-out-big.header-call-out-big--ezverify
          ezVerify launched a seamless platform
        %span
          FOR VERIFYING INSURANCE IN AN INSTANT
        so doctors can practice medicine without worrying about databases, insurance carriers, or storage performance.
        .great-feats-sub-title--padding-wrapper.great-feats-cta__rollover-div.great-feats-cta-solidfire-red-color
          .great-feats-sub-title--icons.great-feats-sub-title--download-icon
          .great-feats-sub-title--text
            %span
              read
            the Case Study











