.great-feats-sub-tile-wrapper-updated-bottom.great-feats-hover{:data => {:roll => 'fade-gmq'}}
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'gmq'}}
    .great-feats-sub-tile.great-feats-sub-tile--margin-top
      .great-feats-sub-tile__image.great-feats-sub-tile__image--gmq
        .great-feats-sub-tile__text--gmq
          %h4
            why is
            %br
            %span
              solidfire
            %br
            Gartner's highest-rated solid state array?
    .great-feats-sub-title--cta
      .great-feats-sub-title--padding-wrapper.great-feats-cta-blue-grey-color
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            get
          the Gartner Reports
  %a{:href => 'http://www.solidfire.com/lp/gmq-2015', :class => 'tile-link various', :id => 'great-feats-gmq-click', :data => {:asset => 'gmq'}}
    .great-feats-sub-tile-wrapper-roll.fade-gmq{:style => 'margin-top: -25px;'}
      %p.great-feats-sub-tile__rollover-text
        %span.header-call-out-big
          Gartner named SolidFire
        %span.call-out
          A VISIONARY AND THE
          %br
          &#35;1 SSD ARRAY
        in its Magic Quadrant report dedicated to solid-state arrays, and the accompanying Critical Capabilities Study.
        .great-feats-sub-title--padding-wrapper.great-feats-cta__rollover-div.great-feats-cta-solidfire-red-color
          .great-feats-sub-title--icons.great-feats-sub-title--download-icon
          .great-feats-sub-title--text
            %span
              get
            the Gartner Reports