.main-tile-wrapper
  .great-feats-main-tile.great-feats-main-tile--background-gmq.great-feats-main-tile--border-left-top-right
    .great-feats-main-tile__gmq
      %h1
        Why is SolidFire
        %br
        %span
          Gartner's #1
          %br
          solid-state array?
      .great-feats-main-tile--copy
        %h3
          In its Magic Quadrant report dedicated to solid-state arrays, and the accompanying Critical Capabilities Study, Gartner named SolidFire a leading "Visionary" and the #1 solid-state array overall.
  .great-feats-main-form
    .great-feats-main-form--wrapper
      .great-feats-main-form--wrapper--header
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            GET
          the Storage QoS Guide
      .great-feats-main-form--wrapper--form-body

