.main-tile-wrapper.great-feats-main-tile--background-qos
  .great-feats-main-tile
    .great-feats-main-tile__qos
      %h1
        Who says you can’t
        %br
        %span
          eliminate performance issues?
      .great-feats-main-tile--copy
        %h3
          You 100% can by guaranteeing storage performance to all applications in your infrastructure.
          %span
            %br
            Download this guide to learn:
          %ul
            %li The right approach for guaranteeing workload performance
            %li The best way to ensure predictable IOPS
            %li How to identify a faux-guarantee
  .great-feats-main-form
    .great-feats-main-form--wrapper
      .great-feats-main-form--wrapper--header
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            GET
          the Storage QoS Guide
      .great-feats-main-form--wrapper--form-body
        %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
        %form{:id => 'mktoForm_2716'}
        :javascript
            MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2716);