.great-feats-sub-tile-wrapper-updated-bottom.great-feats-hover{:data => {:roll => 'fade-qos'}, :style => (@asset_id == 'competitive_comparison' ? 'margin-right:0;' : 'margin-right:4%;')}
  %a{:href => '#inline', :class => 'tile-link various'}
    .great-feats-sub-tile.great-feats-sub-tile--margin-top
      .great-feats-sub-tile__image
        .great-feats-sub-tile__image.great-feats-sub-tile__image--qos
          .great-feats-sub-tile__text--qos
            %h4
              Why Storage workloads need
              %br
              %span.top-border
                guaranteed
                %br
                performance
    .great-feats-sub-title--cta
      .great-feats-sub-title--padding-wrapper.great-feats-cta-blue-grey-color
        .great-feats-sub-title--icons.great-feats-sub-title--download-icon
        .great-feats-sub-title--text
          %span
            get
          the Storage QoS Guide
  %a{:href => '#inline', :class => 'tile-link various', :data => {:asset => 'qos'}}
    .great-feats-sub-tile-wrapper-roll.fade-qos{:style => 'margin-top: -25px;'}
      %p.great-feats-sub-tile__rollover-text
        %span.header-call-out-big
          Learn all you need to know about
        %span
          GUARANTEEING APPLICATION PERFORMANCE
        with Quality of Service (QoS). Raw speed is not the most important metric in your data center. Consistent QoS for consolidated workloads is.
        .great-feats-sub-title--padding-wrapper.great-feats-cta__rollover-div.great-feats-cta-solidfire-red-color
          .great-feats-sub-title--icons.great-feats-sub-title--download-icon
          .great-feats-sub-title--text
            %span
              get
            the Storage QoS Guide
