= content_for :head do
  = stylesheet_link_tag 'all_resources', media: 'all'

.resources.category-page.cats-tags-page
  .resources__container
    %h1 Explore the SolidFire Resource Center
.card-section
  .card-section__container
    .content-type-outer-wrapper
      .content-type-wrapper
        .content-type-header.top
          Content type
        .content-type-content.top
          %span.checkbox-container
            %input{:type => 'checkbox', :name => 'resource_all', :value => 'all', :class => 'checkbox', :id => 'all'}
            %label{:for => 'all', :data => 'all'}
              %span
              All
          - @cms_tags.each do |tags|
            %span.checkbox-container
              %input{:type => 'checkbox', :name => 'resource[tags][]', :value => tags.title, :class => 'tags checkbox', :id => 'cms_resource_tags_' + tags.title, :data => {:tag => tags.id }}
              %label{:for => 'cms_resource_tags_' + tags.title, :data => {:tag => tags.id}}
                %span
                = tags.title
      .content-type-wrapper
        .content-type-header.bottom
          Categories
        .content-type-content
          - @cms_cats.each do |cats|
            %span.checkbox-container
              %input{:type => 'checkbox', :name => 'resource[tags][]', :value => cats.title, :class => 'tags checkbox', :id => 'resource_cats_' + cats.slugs[0], :data => {:tag => cats.id}}
              %label{:for => 'resource_cats_' + cats.slugs[0], :data => {:cat => cats.id}}
                %span
                = cats.title
    .card-wrapper.all-resources
      - @cms_resources.each_with_index do |re|
        .card-container{:class => re.id}
          %a{:href => resources_path + '/' + re.slugs[0]}
            .link-wrap
            - @tag_image.each_with_index do |tag|
              - if !re.tags
                .card-image{:class => 'documents-image-container'}
                  = image_tag 'resources/icon-product-documents.png'
                .card-title
                  = re.title
                .card-summary
                  = re.description.try(:html_safe)
                .card-link
                  = link_to tag[:link], resources_path + '/' + re.slugs[0]
              - if re.tags
                - if tag[:tid] == re.tags[0]
                  .card-image{:class => (re.custom_image? ? '' : tag[:cname])}
                    - if re.custom_image_id?
                      = image_tag 'http://assets3.solidfire.com/uploads/resources/' + re.custom_image_id + '-' + re.custom_image, :class => 'custom'
                    - else
                      = image_tag 'resources/' + tag[:img]
                  .card-title
                    = re.title
                  .card-summary
                    = re.description.try(:html_safe)
                  .card-link
                    = link_to tag[:link], resources_path + '/' + re.slugs[0]
    .hidden-fileds
      %input{:type => 'hidden', :id => 'current_page'}
      %input{:type => 'hidden', :id => 'show_per_page'}
    #page-navigation





