- @cms_resources.each_with_index do |re|
  .card-container{:class => @get_tag_param, :id => re.id, :data => {:tid => @get_tag_param}}
    - @tag_image.each_with_index do |tag|
      - if tag[:tid] == re.tags[0]
        %a{:href => resources_path + '/' + re.slugs[0]}
          .link-wrap
            .card-image{:class => (re.custom_image? ? '' : tag[:cname])}
              - if re.custom_image_id?
                = image_tag 'http://assets3.solidfire.com/uploads/resources/' + re.custom_image_id + '-' + re.custom_image, :class => 'custom'
              - else
                = image_tag 'resources/' + tag[:img]
            .card-title
              = re.title
            .card-summary
              = re.description.try(:html_safe)
            .card-link
              = link_to tag[:link], resources_path + '/' + re.slugs[0]

