.resources__landingpage
  .social_icons_vertical
    .social_header
      %p Share
    .arrow-down
    .social_icons
      = link_to 'Twitter', '', :target => '_blank', :class => 'twitter', :id => 'social_twitter', :title => 'Twitter'
      = link_to 'Facebook', '', :target => '_blank', :class => 'facebook', :id => 'social_facebook', :title => 'Facebook'
      = link_to 'Google +', '#', :target => '_blank', :class => 'gplus', :id => 'social_google', :title => 'Google +'
      = link_to 'Linkedin', '#', :target => '_blank', :class => 'linkedin', :id => 'social_linkedin', :title => 'Linkedin'
  .resources__container__lp.full-row
    - if @resource.mkto_form_id? || @resource.asset_link?
      .col6.leftContainer
        - if @resource.landing_title?
          %h1
            = @resource.landing_title
        - else
          %h1
            = @resource.title
        - if @resource.sub_title?
          %h2
            = @resource.sub_title
        - if @resource.custom_image_id?
          = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @resource.custom_image_id + '-' + @resource.custom_image
        - else
          = image_tag 'resources/Resource_generic_lp_image.png'
        .description
          %p
            - if @resource.landing_description?
              = @resource.landing_description.try(:html_safe)
            - else
              = @resource.description.try(:html_safe)
        .tags
          %p
            - if @tags
              Types:
              - @tags.each do |tag|
                = (@tags.length > 1 ? tag.title + ',' : tag.title)
        .categories
          %p
            - if @cats
              Categories:
              - @cats.each do |cat|
                = (@cats.length > 1 ? cat.title + ',' : cat.title)
      .col5.rightContainer
      - if @resource.mkto_form_id?
        .formContainer
          %p
            Complete the form below:
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_' + @resource.mkto_form_id}
          :javascript
            if('#{@resource.thank_you_url}'){
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", "#{@resource.mkto_form_id}", function(form){
                //Add an onSuccess handler
                form.onSuccess(function(values, followUpUrl){
                //Take the lead to a different page on successful submit, ignoring the form's configured followUpUrl.
                location.href = '#{@resource.thank_you_url}';
                //return false to prevent the submission handler continuing with its own processing
                return false;
                });
              });
            }
            else{
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", "#{@resource.mkto_form_id}");
             }
          = link_to 'Privacy policy', 'http://www.solidfire.com/legal/privacy', :class => 'privacy-policy-link', :target => '_blank'
      - if !@resource.mkto_form_id?
        .buttonContainer
          %p
            Download asset now!
          %a.download-link{:href => @resource.asset_link }Download
    - if @resource.utube_id?
      .col12.videoContainer
        - if @resource.landing_title?
          %h1
            = @resource.landing_title
        - else
          %h1
            = @resource.title
        - if @resource.sub_title?
          %h2.sub-title-centered
            = @resource.sub_title
        %iframe{:id => 'youtubeFrame', :src => 'https://www.youtube.com/embed/' + @resource.utube_id, :frameborder => '0', :allowFullScreen => true}
        .description
          %p
            - if @resource.landing_description?
              = @resource.landing_description.try(:html_safe)
            - else
              = @resource.description.try(:html_safe)
        .tags
          %p
            - if @tags
              Types:
              - @tags.each do |tag|
                = (@tags.length > 1 ? tag.title + ',' : tag.title)
        .categories
          %p
            - if @cats
              Categories:
              - @cats.each do |cat|
                = (@cats.length > 1 ? cat.title + ',' : cat.title)
    - if @resource.vidyard_id?
      .col12.videoContainer
        - if @resource.landing_title?
          %h1
            = @resource.landing_title
        - else
          %h1
            = @resource.title
        - if @resource.sub_title?
          %h2.sub-title-centered
            = @resource.sub_title
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_' + @resource.vidyard_id, :src => '//play.vidyard.com/' + @resource.vidyard_id + '.js?v=3.1.1&type=inline'}
        .description
          %p
            - if @resource.landing_description?
              = @resource.landing_description.try(:html_safe)
            - else
              = @resource.description.try(:html_safe)
        .tags
          %p
            - if @tags
              Types:
              - @tags.each do |tag|
                = (@tags.length > 1 ? tag.title + ',' : tag.title)
        .categories
          %p
            - if @cats
              Categories:
              - @cats.each do |cat|
                = (@cats.length > 1 ? cat.title + ',' : cat.title)
    - if @resource.podcast_url?
      .col12.videoContainer
        - if @resource.landing_title?
          %h1
            = @resource.landing_title
        - else
          %h1
            = @resource.title
        - if @resource.sub_title?
          %h2.sub-title-centered
            = @resource.sub_title
        .audio-player
          %audio{ :controls => true, :autoplay => true }
            %source{ :src => @resource.podcast_url }
        - if @resource.custom_image_id?
          .audio-player
            = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @resource.custom_image_id + '-' + @resource.custom_image
        .description
          %p
            - if @resource.landing_description?
              = @resource.landing_description.try(:html_safe)
            - else
              = @resource.description.try(:html_safe)
        .tags
          %p
            - if @tags
              Types:
              - @tags.each do |tag|
                = (@tags.length > 1 ? tag.title + ',' : tag.title)
        .categories
          %p
            - if @cats
              Categories:
              - @cats.each do |cat|
                = (@cats.length > 1 ? cat.title + ',' : cat.title)
    - if !@resource.utube_id? && !@resource.mkto_form_id? && !@resource.asset_link? && !@resource.podcast_url? && !@resource.vidyard_id?
      .col12.videoContainer
        - if @resource.landing_title?
          %h1
            = @resource.landing_title
        - else
          %h1
            = @resource.title
        - if @resource.sub_title?
          %h2
            = @resource.sub_title
        .description
          %p
            - if @resource.landing_description?
              = @resource.landing_description.try(:html_safe)
            - else
              = @resource.description.try(:html_safe)
        .tags
          %p
            - if @tags
              Types:
              - @tags.each do |tag|
                = (@tags.length > 1 ? tag.title + ',' : tag.title)
        .categories
          %p
            - if @cats
              Categories:
              - @cats.each do |cat|
                = (@cats.length > 1 ? cat.title + ',' : cat.title)