.flash__array__guides__landingpage
  .flash__array__guides__container__lp.full-row
    %h1 Data Storage Architecture
    %h2 SolidFire provides superior data storage architecture - across the data center
    .buttonContainer
      %p
        Download assets now!
      .asset__links__description
        %a.download-link.single{:href => '/resources/solidfire-product-datasheet'}SolidFire Product Datasheet
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta sem metus. Vestibulum eu.
      .asset__links__description
        %a.download-link.single{:href => '/resources/solidfire-overview'}SolidFire Overview
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta sem metus. Vestibulum eu.
      .asset__links__description
        %a.download-link{:href => '/resources/gartner-2014-magic-quadrant-for-solid-state-arrays'}Gartner Magic Quadrant for Solid-State Arrays
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta sem metus. Vestibulum eu.
    .description
      %p When building a data center infrastructure to support a cloud, large virtual environments, or to simply consolidate application sprawl, data storage plays into every design decision as a crucial component that defines the next generation data center.

      %p SolidFire provides automated and highly scalable flash-based data storage for public, private, and hybrid cloud architectures. It integrates seamlessly with a variety of orchestration softwares, operating systems, and hypervisor providers, including OpenStack, CloudStack, Flexiant, OnApp VMware, Hyper-V, KVM, Linux, & Microsoft.

      %p Flash-based storage solutions are deployed in a variety of ways in both server and the network topologies. Today, we see flash deployed to meet both performance and capacity requirements in high- demand environments. As flash solutions in the data center ramp, automated and scalable storage architectures will be needed to achieve additional secondary economic benefits such as consolidation of smaller server and storage infrastructures, reduced energy and floor space costs, and lowered software licensing costs.

      %p SolidFire's guaranteed performance, high availability, and scalability enable enterprises to confidently host performance-sensitive applications regardless of the infrastructure business objective. SolidFire-related features include:
      %ul
        %li Complete SolidFire driver integration with the latest orchestration software, hypervisors, and operating systems
        %li Ability to maintain Quality of Service levels on per‑volume basis
        %li Tight integration with the virtual environment ensuring storage performance matches virtual machine needs
        %li Complete storage automation driving the evolution to self-service IT
        %li Ability to decouple performance from capacity to simplify resource requirements
        %li Enabling customers to match storage performance & capacity requests as demand requires
      %p If you are looking for guaranteed performance, scale, and high availability for your data storage architecture, there is no better block storage option than SolidFire. Contact SolidFire today to learn more.
    %hr