.flash__array__guides__landingpage
  .flash__array__guides__container__lp.full-row
    %h1
      = @landing.title
    %h2
      = @landing.sub_title
    .buttonContainer
      %p
        View related resources
      .asset__links__description
        %a.download-link{:href => @landing.cta_link_one}
          = @landing.cta_one
      .asset__links__description
        %a.download-link{:href => @landing.cta_link_two}
          = @landing.cta_two
      .asset__links__description
        %a.download-link{:href => @landing.cta_link_three}
          = @landing.cta_three
    .description
      = @landing.body.try(:html_safe)
    %hr