#customer-success-stories
  .full-row
    .customers__container
      %h3 Customer Success Stories:
      .story-content
        .story.story-span
          .image-container
            = image_tag 'company/customers/PUC_ColorSeal.png', :align => 'middle'
          .info-box
            .description
              %p <strong>California Public Utilities Commission</strong>
              %p.sub-item Public Sector
            .links
              %p
                %a{href:"http://info.solidfire.com/rs/538-SKP-058/images/SolidFire-Case-Study-CPUC.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/RFAnewsimage_218x97.jpg', :align => 'middle'
          .info-box
            .description
              %p <strong>RFA</strong>
              %p.sub-item Service Provider
            .links
              %p
                %a{href:"http://info.solidfire.com/rs/538-SKP-058/images/RFA_CaseStudy.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/lg-1and1.png', :align => 'middle'
          .info-box
            .description
              %p <strong>1&1</strong>
              %p.sub-item Service Provider
            .links
              %p
                %a{href:"http://info.solidfire.com/rs/538-SKP-058/images/1%261_CaseStudy_Be-Do_v2.pdf", target: "_blank"} Download case study
        .story.story-span
          .featured
            %p <strong>FEATURED</strong>
          .image-container
            = image_tag 'company/customers/ultimate_softare.jpg', :align => 'middle'
          .info-box
            .description
              %p <strong>Ultimate Software</strong>
              %p.sub-item Software as a service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/uf1ccquufz?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Ultimate Software"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/Case%20Study%20-%20Ultimate%20Software.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/endicia-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>endicia</strong>
              %p.sub-item Online postage software solutions
            .links
              %p
                %a{:class => 'fancybox-media openstack-video', :href => 'https://www.youtube.com/watch?v=yIbiB4-aTZQ&feature=youtu.be'} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Endicia_RGB.pdf", target: "_blank"} Download case study
        .story.story-span
          .featured
            %p <strong>FEATURED</strong>
          .image-container
            = image_tag 'company/customers/ezverify-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>ezVerify</strong>
              %p.sub-item Healthcare Software as a Service
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/c2aq61zhba?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "ezVerify"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_AHCS.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/mercado-libre-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>MercadoLibre</strong>
              %p.sub-item E-commerce
            .links
              %p
                %a Read press release
              %p
                %a{href:"http://www.solidfire.com/press-releases/latin-america%E2%80%99s-1-online-marketplace,-mercadolibre,-powered-by-solidfire%E2%80%99s-all-flash-scale-out-storage-platform/", target: "_blank"}
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_MercadoLibre.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/sungard-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Sungard Availability Services</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/customers/sungard/", target: "_blank"} Learn more
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Sungard.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/servint-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>ServInt</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/qaizh5xghr?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "ServInt"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/elastx-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Elastx</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/ccts1xnitm?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Elastx"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Elastx_Bandtrace.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/hosted-network-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Hosted Network</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/hbmznerljd?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Hosted Network"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_HostedNetwork.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/colt-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>colt</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/v4go5h0u73?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Colt"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Colt.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/crucial-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Crucial</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/owds3kghdj?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Crucial"} Watch Video
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/CaseStudy_Crucial.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/iweb-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>iWeb</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/customers/iweb/", target: "_blank"} Learn more
              %p
                %a{href:"http://info.solidfire.com/rs/solidfire/images/iWeb_Case_Study.pdf", target: "_blank"} Download case study
        .story.story-span
          .image-container
            = image_tag 'company/customers/datapipe-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Datapipe</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/customers/datapipe/", target: "_blank"} Learn more
        .story.story-span
          .image-container
            = image_tag 'company/customers/databarracks-logo.png', :align => 'middle'
          .info-box
            .description
              %p <strong>Databarracks</strong>
              %p.sub-item Service provider
            .links
              %p
                %a{href:"http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/customers/databarracks/", target: "_blank"} Learn more
              %p
                %a{href:"http://fast.wistia.net/embed/iframe/vb6xv45crs?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", title: "Databarracks"} Watch Video
      .link_to_more
        = link_to "more customer success stories", resources_path, {class: 'resources-link'}


