#featured-success-stories
  .gray-row
    .customers__container

      %h3 Featured Success Stories

      %h3 ezVerify
      %p Automated HealthCare Services Benefits from SolidFire's Performance, Scalability and Uptime
      .success-story
        .video
          %a{href:"http://fast.wistia.net/embed/iframe/jclugtye5e?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", style:"display: block; margin: 0 auto;"}
            %img{src:"https://embed-ssl.wistia.com/deliveries/892249e939434460ed706ef277bc9f578cf3766e.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=460x259"}
        .quote
          %blockquote "Being a technology shop, touting cutting-edge software platforms, we wanted to have cutting-edge infrastructure. SolidFire offered us that."
          %cite - Edward Dibeler <br> AHCS Chief Information Officer
          = image_tag 'company/customers/ezverify-logo.png', :align => 'left'
        .link_to_more
          = link_to "download case study", 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_AHCS.pdf', {class: 'resources-link', target: '_blank'}

      %h3 Ultimate Software
      %p Leading human capital management SaaS provider standardizes on SolidFire all-flash storage
      .success-story
        .video
          %a{href:"http://fast.wistia.net/embed/iframe/uf1ccquufz?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]", style:"display: block; margin: 0 auto;"}
            %img{src:"https://embed-ssl.wistia.com/deliveries/f75c12453ed9211bc542c366967e1b15280a4395.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=460x259"}
        .quote
          %blockquote We’re getting 4x the performance with SolidFire, from 25,000 IOPS to 100,000 IOPS — with reliable performance and fast, easy recovery.
          %cite - Steven May <br> Senior Director of Cloud Operations
          = image_tag 'company/customers/ultimate-software.png', :align => 'left'

        .link_to_more
          = link_to "download case study", 'http://info.solidfire.com/rs/solidfire/images/Case%20Study%20-%20Ultimate%20Software.pdf', {class: 'resources-link', target: '_blank'}
