#fueled-by-solidfire
  .full-row
    .customers__container
      .fueled-container

        .fueled-text
          %h3 Fueled by SolidFire Program
          %p SolidFire is the de facto all-flash block storage system used by service providers worldwide. Leveraging SolidFire's scale-out, all-flash architecture with volume-level Quality of Service (QoS) controls, service providers now can guarantee storage performance to thousands of customer applications within a multi-tenant hosting infrastructure. <br>
          %p The Fueled by SolidFire program is designed to help service providers define, develop and capitalize on the new market opportunities made available by implementing and deploying SolidFire storage as part of their next generation hosting infrastructure.

        .fueled-logo
          = image_tag 'company/customers/fueled-by-solidfire.png', :align => 'right'

      .link_to_more
        = link_to "learn more", 'http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/', {class: 'resources-link'}
