%script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'}
#analyst-reviews
  .container
    .full-row
      %h1 Proven in the most demanding enterprise and service provider data centers
      %h3 SolidFire receives highest product score for overall use case in Gartner's Critical Capabilities Study for solid-state arrays and is named a "Visionary" in 2014 Magic Quadrant
    .full-row.gmq
      .col6
        = image_tag 'company/gmq_image.png', :align => 'left', :class => 'gmq_image'
      .col5.gmqForm
        %p Complete this form to read the Magic Quadrant and the companion Critical Capabilities Study:
        <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
        %form#mktoForm_1619
        <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1619);</script>
#analyst-reviews-video.even_row
  .container
    .full-row
      %h3 Learn how SolidFire meets today's enterprise performance demands while driving greater consolidation, automation and scale across your entire storage infrastructure.
      .col6
        %ul
          %li See how <a href='/competitivecomparison/'>SolidFire compares</a> to other vendors in our field. Watch the  SolidFire CEO <a href='/competitivecomparison/'>presentation videos</a> from Storage Tech Field Day 5.
          %li Download <a href='#'>Gartner's 2014 Magic Quadrant</a> for Solid-State Arrays
          %li Get the <a href='#'>Critical Capabilities research</a> from Gartner
        .buttonContainer
          %a{:class => 'btn', :href => 'http://www.solidfire.com/competitivecomparison/'}See how we Compare
      .col6.rightContainer
        %p SolidFire's CEO on the Gartner Magic Quadrant
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_BErKl34Zl6P_cN2t76PyiQ', :src => '//play.vidyard.com/BErKl34Zl6P_cN2t76PyiQ.js?v=3.1.1&type=lightbox'}
        %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_BErKl34Zl6P_cN2t76PyiQ();'}
          = image_tag 'company/gmq_video_thumbnail.png', :class => 'gmq_video'
      %p{:class => 'disclaimerText'}
        %span{:class => 'disclaimerBold'} Disclaimer:
        Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose. This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. The Gartner document is available upon request from SolidFire, Inc.
#analyst-reviews-esg
  .container
    .full-row
      %h2 SolidFire in the enterprise: ESG lab validation
      %p
        = image_tag 'company/ESG_ScreenShot_220x300.jpg', :align => 'left'
        Enterprise Strategy Group has evaluated more than a dozen emerging flash-based storage solutions and highlights the approach SolidFire is taking in its development and go-to-market efforts. Instead of trying to compete with emerging flash versions of the traditional modular disk arrays, ESG points out that SolidFire is focused on scale-out needs of enterprise-class data centers and the largest cloud service providers.
      %p.quote “If your organization is frustrated with the limitations of traditional storage for scale-out workloads and you’re striving to deliver IT-as-a-Service from a next-generation data center, ESG Laboratories strongly recommends that you consider SolidFire for the enterprise.”
      .buttonContainer
        %a.btn.mkto-lightbox-form{:href => 'javascript://', :data => {:mkto =>'1089'}}Download report
        %br
        %a{:class => 'fancybox-media esg-video', :href => 'https://www.youtube.com/watch?v=S89mVeQ1Iik'}Watch ESG Video: SolidFire for the Enterprise
#analyst-quotes
  .container
    .full-row
      %h2 Quotes from analysts & press
    .full-row
      .col6.left
        .quoteContainer
          %p.quoteTitle Architecting IT
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            I've talked about SolidFire many times as I think their architecture is the way forward for dedicated storage in the data centre. They also have a couple of features (Quality of Service and API driven management) that differentiates them from much of the competition out there. As we move to a more Software Defined Data Centre world, storage will need to exist standalone and deliver to service levels, which is exactly what SolidFire does."
          %p
            Chris Evans, March 27, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://blog.architecting.it/2014/03/27/storage-field-day-5-vendor-profiles-part-2/'}Storage Field Day 5: Vendor Profiles (Part 2)

        .quoteContainer
          %p.quoteTitle Storage Swiss
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            Providing storage for a modern, next generation data center is tough duty. Companies like SolidFire have developed all-flash arrays to support the needs of the enterprise and cloud storage providers. Leveraging a scale-out, clustered architecture, RAID-less data protection and performance virtualization these systems have designed in a true quality of service capability that’s essential for the next generation data center.
          %p
            Eric Slack, June 9, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://storageswiss.com/2014/06/09/how-to-design-storage-for-the-next-generation-data-center/'}How to design Storage for the Next Generation Data Center

        .quoteContainer
          %p.quoteTitle Juku
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            When compared to other solutions, even when you think about EMC XtremIO, SolidFire is faster, more reliable and much more scalable than the competition. Its set of features is designed from the ground up to solve problems at scale without compromises in terms of performance or availability.”
          %p
            Enrico Signoretti, May 5, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://juku.it/en/articles/is-solidfire-the-symmetrix-of-the-cloud-era/'}Is SolidFIre the Symmetrix of the Cloud Era?

        .quoteContainer
          %p.quoteTitle 451 Research
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            SolidFire is in a stronger position than other startups that have also been pioneering all-flash arrays (AFAs) or stand-alone storage systems [...] SolidFire has developed a high-end scale-out AFA that sports a number of cloud-friendly features that are not matched by incumbent suppliers' flash storage systems.”
          %p
            Tim Stammers, March 20, 2014
            %br
            %a{:class => 'quoteLink', :href => 'https://451research.com/report-short?entityId=80650'}SolidFire bolsters flashy cloud storage with new software

        .quoteContainer
          %p.quoteTitle The VAR Guy
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            With a focus on what it calls the ‘Next Generation Data Center,’ SolidFire hopes to court additional enterprise customers by adding new features to its flash storage arrays [...] What's notable in this feature list is that none of the new functionality relates to flash storage specifically. In fact, Element OS 6 and the new features SolidFire is introducing with it seem to be about expanding the company's value offering beyond flash-based storage.”
          %p
            Christopher Tozzi, March 14, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://thevarguy.com/secure-cloud-data-storage-news-and-information/031414/solidfire-enhances-all-flash-enterprise-storage-array'}SolidFire Enhances All-Flash Storage Arrays

        .quoteContainer
          %p.quoteTitle InfoStor
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            This time, the company is giving data protection a boost. Dubbed Carbon, Element OS v.6 now includes real-time replication support for disaster recovery without additional hardware or software. Under the SolidFire implementation, clusters can be paired with up to four other clusters in a setup that allows data to flow in both directions, enabling failover and failback operations.”
          %p
            Pedro Hernandez, March 13, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://www.infostor.com/disk-arrays/ssd-drives/solidfire-continues-its-all-ssd-push-into-the-enterprise.html'}SolidFire Continues Its All-SSD Push into the Enterprise

        .quoteContainer
          %p.quoteTitle IT Trends & Analysis
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            However, for now, the all-flash storage vendor that got its start at cloud and hosting provider Rackspace, is bolstering its leadership claims with the latest release of its Element OS (V6).”
          %p “SolidFire attacks what to me is the most glaring missing element in tomorrow’s enterprise data center – Quality of Service.” [Steve Duplessie, founder and senior analyst, ESG]
          %p
            Steve Wexler, March 13, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://it-tna.com/2014/03/13/solidfire-os-provides-performance-large-ngdcs/'}SolidFire OS Provides More Than Performance To Large NGDCs

      .col6.right
        .quoteContainer
          %p.quoteTitle Forrester Research
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            Storage QoS will become mainstream. Enterprise-class storage systems provide capacity on demand, but struggle to efficiently allocate performance resources. Storage QoS gives customers the ability to guarantee transaction (IOPS) and throughput performance to key workloads. Startups SolidFire and CloudBytes designed their first storage platforms around storage QoS...Service providers quickly recognized the business value of creating enforceable storage performance SLAs for their customers, and this value proposition will translate to the enterprise where resource contention greatly impacts virtualization and application performance."
          %p
            Henry Baltazar, May 21, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://www.forrester.com/Seven+Influential+Storage+Trends+Shaping+Your+NearTerm+Strategy/fulltext/-/E-RES115673'}Seven Influential Storage Trends Shaping Your Near-Term Strategy

        .quoteContainer
          %p.quoteTitle The Virtualization Practice
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            Where SolidFire differs, though, is in its focus. It has made decisions with its product to reduce what I like to call “mental friction,” or the ongoing drag on IT staff from operational complexity. A good example of this is its scaling: you can scale up to 100 nodes with 3.4 petabytes of storage and 7.5 million IOPS. This is quite a bit larger than the scaling of other competitors in this area, and it’s intentional. Multiple arrays means more complexity, more management, and more orphaned and lost space. It is almost always better to have one large pool of resources to deal with rather than five or six.”
          %p
            Bob Plankers, April 24, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://www.virtualizationpractice.com/solidfire-storage-system-reducing-complexity-scale-26265/'}The SolidFire Storage System: Reducing Complexity at Scale

        .quoteContainer
          %p.quoteTitle Data Center Knowledge
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            While a lot of competitors have jumped into providing Flash storage, SolidFire argues that just Flash isn’t enough. The company provides control and performance management for better predictability in addition to the all-flash solution.”
          %p
            Jason Verge, March 13, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://www.datacenterknowledge.com/archives/2014/03/13/solidfire-introduces-new-features-target-enterprise/'}SolidFire Introduces New Feature To Target Enterprise

        .quoteContainer
          %p.quoteTitle ComputerWeekly
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            The resulting dearth of M&A activity removes one key exit option for all-flash array startups, for which 2014 is likely to be a make-or-break year [...] it goes without saying that only a couple of companies – at best – are likely to succeed along this path and at this point well-funded Pure Storage and fast-growing SolidFire seem the most likely candidates.”
          %p
            Simon Robinson, February 19, 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://www.computerweekly.com/opinion/Hybrid-flash-hot-but-all-flash-not-in-2014-storage-MAs'}Hybrid flash hot, all-flash not, in 2014

        .quoteContainer
          %p.quoteTitle Data Center Knowledge
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            Cloud providers are looking to differentiate from cut-and-dry public clouds, and flash storage allows them to offer better performance. SolidFire, a provider of all-flash storage systems designed for large scale cloud infrastructure, continues to capitalize on this trend, showing great momentum among cloud service providers (SPs).”
          %p
            Jason Verge, December 10, 2013
            %br
            %a{:class => 'quoteLink', :href => 'http://www.datacenterknowledge.com/archives/2013/12/10/solidfire-rise-flash-among-cloud-providers/'}SolidFire and the Rise of Flash Among Cloud Providers

        .quoteContainer
          %p.quoteTitle Search Solid State Storage
          %p
            = image_tag 'company/quote.png', :align => 'left', :class => 'quote'
            All-flash arrays change that game, and SolidFire promotes its flash arrays squarely as storage QoS delivery vehicles. SolidFire allows IOPS to be provisioned on a per-volume basis with minimum, maximum and burst parameters. This throttling, along with dynamic adjustment, gives storage managers an additional mechanism for precisely delivering performance where it's needed. SolidFire also suggests that guaranteed QoS solves the "noisy neighbor" problem.”
          %p
            Phil Goodwin, January 2014
            %br
            %a{:class => 'quoteLink', :href => 'http://searchsolidstatestorage.techtarget.com/feature/Hybrid-storage-arrays-vs-all-flash-arrays-A-little-flash-or-a-lot'}Hybrid Storage Arrays vs. All-Flash Arrays: A Little Flash or A Lot?
    %hr.analyst-review-hr

