= content_for :head do
  = stylesheet_link_tag 'careers/careers', :media => 'all'
  = stylesheet_link_tag 'shared/fixed_subnav', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'careers/careers'
  = javascript_include_tag 'jquery.visible.min'

.sub-nav.section
  .container
    .navigation
      %a.button-red{:href => jobs_path}Job openings
      %a.button-trans-white-border{:href => 'https://youtu.be/qCWnfEiZYDA', :class => 'fancybox-media'}
        %p watch Solidfire

.hero-image.page-top-margin
  = image_tag 'careers/hero_careers.jpg'
.careers-section-one.section
  .careers-container.container
    .hero-title
      %h1
        We want
        %span YOU
        to do what's never been done.
    .button-container
      %a.button-red{:href => jobs_path}all Job openings
      %script{:type => 'text/javascript', :id => 'vidyard_embed_code_0UtXn59zgXGbOll4_Ko88g', :src => '//play.vidyard.com/0UtXn59zgXGbOll4_Ko88g.js?v=3.1.1&type=lightbox'}
      %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_0UtXn59zgXGbOll4_Ko88g();', :class => 'button-trans-white-border'}
        %p watch Solidfire

.careers-section-two
  .careers-container.container
    %h3 Are you ready to disrupt the IT storage industry?
    %p
      At SolidFire, our goal is to help our customers achieve things they never thought possible. We know the success of our company and your success as an employee go hand in hand. No matter your role at SolidFire, join others with a shared sense of purpose, commitment to core values, and the autonomy to make your own decisions. You can look forward to celebrating the wins with good beer, strong coffee, lunch rides and 14’ers.
    %br
    %p
      Have questions?
      = link_to 'Check out our FAQ »', '#faq', class: 'bold'
    .span12.hide-desktop
      = image_tag 'company/careers_section_one_image_two.png';
    .span12.hide-mobile
      = image_tag 'company/1_lg.jpg', id: 'large_image';
      .span4
        = image_tag 'company/1.jpg', id: 'img_one';
      .span4
        = image_tag 'company/6.jpg', id: 'img_two';
      .span4.right
        = image_tag 'company/10.jpg', id: 'img_three';
.careers-section-three.section.gradient-background-section
  .careers-container.container
    .span12.section-header#numbers
      %h2 OUR NUMBERS
      %i{:class => 'icon-RightArrow20 icon-with-bg numbers-icon'}
    .span12.section-content.numbers-content
      .span3.robot
        = image_tag 'company/careers_robot.png'
      .span3
        %p.number.hide 0
        %p.number.count.counted-numbers 7
        %p.description Countries
      .span3
        %p.number.hide 0
        %p.number.count.counted-numbers 425
        %p.description Employees
      .span3.right
        %p.number.hide 0
        %p#big-number.number.count.counted-numbers 150000
        %p.description Businesses Fueled
.careers-section-eight.gradient-background-section
  .careers-container.container
    .span12.section-header#teams
      %h2 MEET OUR TEAMS
      %i{:class => 'icon-RightArrow20 icon-with-bg teams-icon'}
    .span12.section-content.teams-content
      %p
        Each of our teams have a unique role to play in support of the SolidFire mission.
        %br
          Learn more about each team here, then check out open positions.
      .span12
        .blocks
          .block
            %a{href: team_path('productandengineering')}
              =image_tag 'careers/thumbnail_ProdEngineering.jpg'
              %p PRODUCT & ENGINEERING
          .block
            %a{href: team_path('sales')}
              =image_tag 'careers/thumbnail_sales.jpg'
              %p SALES
          .block
            %a{href: team_path('marketing')}
              =image_tag 'careers/thumbnail_Marketing.jpg'
              %p MARKETING
          .block
            %a{href: team_path('operationsandadministration')}
              =image_tag 'careers/operationsThumbnail.jpg'
              %p
                OPERATIONS &
                %br
                  ADMINISTRATION
          .block
            %a{href: team_path('interns')}
              =image_tag 'careers/thumbnail_Interns.jpg'
              %p INTERNS
.careers-section-five.section.gradient-background-section
  .careers-container.container
    .span12.section-header#awards
      %h2 TOP WORKPLACE
      %i{:class => 'icon-RightArrow20 icon-with-bg awards-icon'}
    .span12.section-content.awards-content
      %p Did we say top workplace?  Yes we did.  We think we're doing amazing things here at SolidFire and some very impressive independent organizations think so, too.  Here's a sampling  of our recent accolades.
      .top-work-places
        .header
          %h2 RECOGNIZED FOR EXCELLENCE & INNOVATION
        .awards-container
          .span12
            .span3
              .award
                %a{:href => ' http://www.solidfire.com/press-releases/solidfires-dave-wright-named-ceo-of-the-year-by-the-colorado-technology-association', :target => '_blank'}
                  = image_tag 'company/apex-ceo-award.png', class: 'award-logo apex'
            .span3.grey-bg
              .award
                %a{:href => 'http://www.crn.com/slide-shows/networking/300077522/25-emerging-vendors-you-need-to-know-about.htm/pgno/0/19', :target => '_blank'}
                  = image_tag 'company/CRN-award.png', class: 'award-logo crn'
            .span3
              .award
                %a{:href => 'http://greatist.com/health/healthiest-companies', :target => '_blank'}
                  = image_tag 'company/G_HealthiestCompanies2015.png', class: 'award-logo g'
            .span3.grey-bg
              .award
                %a{:href => 'http://reviews.greatplacetowork.com/solidfire', :target => '_blank'}
                  = image_tag 'company/Logo_GPTW_2015.png', class: 'award-logo great'
          .span12
            .span3.grey-bg
              .award
                %a{:href => 'http://www.builtincolorado.com/2015/11/10/top-100-digital-employers-colorado', :target => '_blank'}
                  = image_tag 'company/b_top_100.png', class: 'award-logo top'
            .span3
              .award
                %a{:href => 'http://www.bintelligence.com/stratus-awards', :target => '_blank'}
                  = image_tag 'company/stratus_award.png', class: 'award-logo stratus'
            .span3.right.grey-bg
              %a{:href => 'http://www.bestinbizawards.com/2014-winners-company/', :target => '_blank'}
                = image_tag 'company/BiBA-2014-bronze-midres.png'
            .span3
              .award
                %a{:href => 'http://www.solidfire.com/press-releases/solidfire-named-all-flash-systems-product-of-the-year-by-storage-magazine-slash-searchstorage-dot-com', :target => '_blank'}
                  = image_tag 'company/product-year-2015.png', class: 'Product of the Year 2015'
          .span12
            .span3
              .award
                %a{:href => 'http://www.solidfire.com/press-releases/solidfires-mark-conley-recognized-as-a-channel-chief-by-crn', :target => '_blank'}
                  = image_tag 'company/crn-cc-2016.png', class: 'Channel Chief by CRN 2016'
.careers-section-seven.section.gradient-background-section
  .careers-container.container
    .span12.section-header#faqs
      %h2{:class => 'offset', :id => 'faq'} FAQ's
      %i{:class => 'icon-RightArrow20 icon-with-bg faqs-icon'}
    .span12.section-content.faqs-content
      %h4.question#1 How do I apply?
      %p.answer
        Please visit
        = link_to 'our jobs page ', jobs_path
        to get started.  Search through the list of jobs by department or by the entire company.  If you don’t see the job you want, follow the link to share your resume with our team.
      %h4.question#2 What should I expect from the recruiter phone screen?
      %p.answer You may be asked some questions about your skill set/explanation of the role/Q&A about SolidFire.  Time will vary from 30-60 minutes.
      %h4.question#3 What do SolidFire recruiters and hiring managers look for?
      %p.answer Our recruiters will look for relevant skills and experience for our jobs (close alignment with relevant skills, experiences, and keywords).  We also look for candidates who align well to the SolidFire culture.  We look for folks who are eager to work in a high-performing, fast-paced, collaborative environment.  You may not be able to answer every question in the interview.  We embrace candidates who have integrity and the confidence to say “I don’t know.”  Hiring managers may go more in-depth with questions during our hiring process.
      %h4.question#4 What does the interview process look like?
      %p.answer The process is a combination of phone screens, onsite interviews, and various assessments for behavioral and technical skills.  Your individual recruiter will keep you well informed of what you should expect throughout our hiring process.  We are flexible enough to move the process as fast as you need.  If you need more time, we can accommodate that, too.
      %h4.question#5 How should I prepare for the interview?
      %p.answer
        Do your research about SolidFire.  Read our blog and follow our social channels.  
        %br
        Learn about our product, our people and where we fit in the world of data storage.  Get your hands on a copy of
        %a{href: 'http://www.solidfire.com/lp/gmq-2015'} Gartner’s Critical Capabilities study for Solid-State Arrays.  
        Use your LinkedIn network to connect with our employees and ask questions about working at SolidFire.  Take the time to thoroughly review the job description and prepare some answers to reflect how you would get the job done.
      %h4.question#6 How soon will I be contacted?
      %p.answer If you are applying for a specific position, you will be contacted immediately if one of our recruiters has selected you.  We take pride in ensuring a great candidate experience.  We will keep you informed of your status every step of the way.
      %h4.question#7 How else can I connect with SolidFire?
      %p.answer
        We are actively posting great news and content on our blog, as well as your favorite social channel:
        = link_to 'Twitter, ', 'https://twitter.com/solidfire', :target => '_blank'
        = link_to 'Facebook, ', 'https://www.facebook.com/SolidFire', :target => '_blank'
        = link_to 'YouTube, ', 'https://www.youtube.com/channel/UC1Ovc5q08uE_trkdaeqwb_A', :target => '_blank'
        and
        = link_to 'LinkedIn ', 'https://www.linkedin.com/company/solidfire-inc-/', :target => '_blank'