%script{:src => "//app-ab03.marketo.com/js/forms2/js/forms2.min.js"}
#channel-partners
  .container
    .full-row
      %h1 Resellers, solutions providers and systems integrators
      = image_tag 'company/Cloud-Builder-Logo-Flat.jpg', :align => 'left', :class =>'cloud-builder-logo'
      %h3 Cloud Builder Partner Program
      %p The SolidFire Cloud Builder Partner Program enables you to provide technology solutions for the Next Generation Data Center to your enterprise customers.  Enterprises are increasingly looking to trusted advisors to help them assemble the proper technology building blocks for their next generation infrastructure. By leveraging SolidFire’s innovative all-flash architecture, our Cloud Builder Partners now have a solution to address the performance, scale, and management challenges inherent to legacy storage systems.
      .buttons
        = link_to 'Register a deal / Partner Resources', 'https://solidfirepartners.force.com/CloudBuilders/PortalLogin', :class => 'button--grey'
#channel-partners-benefits.even
  .container
    .full-row
      %h2 Benefits of the Cloud Builder Program
      .col5.left-content
        %p The Cloud Builder Program:
        %ul
          %li Recognizes your expertise
          %li Rewards you for the total impact you have in the marketplace
          %li Delivers value that helps your business thrive
        %p Partners in the SolidFire Cloud Builder Program are a select group of Solution Providers, Systems Integrators, and Value-Added Resellers that have established expertise within the domains of storage and cloud infrastructure.
      .col5
        %p.quote-text “Our business is focused on delivering customers best-in-class solutions for large scale IT infrastructure. Storage is always a major pain-point for these customers. Traditional storage simply wasn’t designed to accommodate the performance, capacity and scale demands of these mission critical environments. We feel that SolidFire was architected for these environments from the start. The scale, density, automation and QoS functionality delivered out of the box is what sets SolidFire apart from any other storage system on the market.”
        = image_tag 'company/Redapt-Logo.jpg', :align => 'left', :class => 'redapt-logo'
        %p.quote-text - David Cantu, Co-Founder & COO, Redapt
#channel-partners-key-benefits
  .container
    .full-row
      .buttons
        = link_to 'Key benefits', '#channel-partners-key-benefits', :class => 'button--red first anchorLink'
        = link_to 'Requirements', '#channel-partners-requirements', :class => 'button--red second anchorLink'
        = link_to 'Partner tiers', '#channel-partners-tiers', :class => 'button--red third anchorLink'
        = link_to 'training', '#channel-partners-training', :class => 'button--red fourth anchorLink'
      %h2 Cloud Builder key benefits
      %ul
        %li Highly competitive partner program with protective registrations, tools, technical resources and high-touch field engagement
        %li
          Access to differentiated all-flash storage platform with
          %a{:href => 'http://www.solidfire.com/solutions/'}best-in-class integrations with CloudStack, OpenStack & VMware
        %li Scale-out architecture creates incremental opportunities and healthy recurring revenue streams
        %li Opportunity to capitalize on market momentum behind cloud and shared infrastructure initiatives
      %table{ :border => '0', :align => 'center'}
        %tbody
          %tr.tableHeader
            %td.left Benefits
            %td Platinum
            %td Gold
            %td Silver
            %td Authorized
          %tr
            %td.left Deal registration
            %td ✓
            %td ✓
            %td ✓
            %td ✓
          %tr
            %td.left Discount off list
            %td ✓
            %td ✓
            %td ✓
            %td ✓
          %tr
            %td.left New account rebate
            %td ✓
            %td ✓
            %td ✓
            %td
          %tr
            %td.left Co-Op $
            %td ✓
            %td ✓
            %td ✓
            %td
          %tr
            %td.left MDF program eligibility
            %td ✓
            %td ✓
            %td ✓
            %td
          %tr
            %td.left Demo gear
            %td ✓
            %td ✓
            %td
            %td
          %tr
            %td.left vPOC
            %td ✓
            %td ✓
            %td ✓
            %td ✓
      %p.learn-more
        Learn more about becoming a Cloud Builder Partner.
        = link_to 'Get Started', 'javascript://', :class => 'button--red mkto-lightbox-form get-started', :data => {:mkto =>'1082'}
#channel-partners-requirements.even
  .container
    .full-row
      %h2 Cloud Builder tier requirements
      %p To help partners get the most from the SolidFire relationship, the Cloud Builder Partner Program is a tiered program. The program has an entry point and three programmatic membership tiers. Partners complete specific requirements to move up through the tiers, and benefits improve at each level of the program. Our requirements ensure that you have the right competencies to create and sell SolidFire solutions, and to differentiate your offerings in the marketplace, while the benefits reward you for your investment in the program. As partners grow, their ability to successfully sell and deliver SolidFire based solutions, they will realize greater returns.
      %table{ :border => '0', :align => 'center'}
        %tbody
          %tr.tableHeader
            %td.left Requirements
            %td Platinum
            %td Gold
            %td Silver
            %td Authorized
          %tr
            %td.left Partner agreement
            %td ✓
            %td ✓
            %td ✓
            %td ✓
          %tr
            %td.left Quarterly business plan review
            %td ✓
            %td ✓
            %td
            %td
          %tr
            %td.left Quarterly bookings commitment
            %td ✓
            %td ✓
            %td
            %td
          %tr
            %td.left Executive team (sponsor, technical lead, marketing lead) commitment
            %td ✓
            %td ✓
            %td
            %td
          %tr
            %td.left Quarterly demand generation commitment
            %td (2)
            %td (1)
            %td
            %td
      %p.learn-more
        Learn more about becoming a Cloud Builder Partner.
        = link_to 'Get Started', 'javascript://', :class => 'button--red mkto-lightbox-form get-started', :data => {:mkto =>'1082'}
#channel-partners-tiers
  .container
    .full-row
      %h2 Cloud Builder tiers
      %p
        %span Platinum Partner
        %br
        The Platinum tier is the highest within the SolidFire Cloud Builder Program. This partnership tier is for partners who have committed their business resources to understanding and delivering higher-level cloud computing and infrastructure solutions. In addition to the requirements needed for the Gold Tier partner, the Platinum partner is required to help customers design, plan, integrate and deploy the most sophisticated virtual infrastructures to meet the high-end technical and demanding business needs of the customer. Advanced knowledge and clear understanding of the technical capabilities of SolidFire’s Solutions will be essential in optimizing efficiency resource use across infrastructures, as well as the benefits of increased scalability and performance that are derived from larger applications. Platinum partners must show significant SolidFire selling success and have the ability to sell and support across all SolidFire Solution areas, providing customers with the most complex cloud infrastructure solutions offered.
      %p
        %span Gold Partner
        %br
        The Gold tier membership is intended for organizations which are able to help customers design, plan and deploy both traditional computing infrastructures and virtual infrastructures in a high performance, multi-tenant cloud scale environment. Strong technical knowledge, planning and design best practices, and a clear understanding of the technical capabilities of SolidFire’s solutions are essential. To achieve Gold level, partners must complete a Partner Agreement, the required SolidFire Sales Training and Technical Training, and show a base level SolidFire selling success and achieve SolidFire competencies to attain the Gold Tier.
      %p
        %span Silver Partner
        %br
        The Silver tier membership recognizes and rewards partners that invest in training and who are actively selling SolidFire solutions. Selling products that involve sophisticated cloud computing platforms, requires sales and technical knowledge and understanding of the capabilities of such products. To achieve Silver level, partners must complete a Partner Agreement and SolidFire Sales Training and Technical Training.
      %p
        %span Authorized Partner
        %br
        Authorized tier membership is the entry point for interested partners  to learn more about SolidFire’s Cloud Builder Solutions, explore the  partner opportunity with SolidFire and gain access to advance their SolidFire knowledge and skills. An Authorized Partner will be required  to complete a Partner Agreement and have completed Cloud Ready  Sales Builder Training for membership.
      %p.learn-more
        Learn more about becoming a Cloud Builder Partner.
        = link_to 'Get Started', 'javascript://', :class => 'button--red mkto-lightbox-form get-started', :data => {:mkto =>'1082'}
#channel-partners-training.even
  .container
    .full-row
      %h2 “Cloud Builder Ready” training & enablement
      %p Our competency-based SolidFire Cloud Builder Partner Program for Solution Providers positions you to meet any customer need. The program also provides incremental rewards and benefits as you achieve higher levels of proficiency and move up in the program's tiered structure.
      %p Training and development are critical components of the Cloud Builder Program. It's crucial for our partners to develop the sales and technical skills necessary to be successful in the marketplace.  The program includes a clear path to help you become an expert in a short period of time.
      %p.learn-more
        Learn more about becoming a Cloud Builder Partner.
        = link_to 'Get Started', 'javascript://', :class => 'button--red mkto-lightbox-form get-started', :data => {:mkto =>'1082'}
