= content_for :head do
  = stylesheet_link_tag 'company/contact', :media => 'all'
= content_for :javascript do
  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('7797-372-10-6287');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7797-372-10-6287/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->
#contact
  .container
    .full-row
      %h1 Contact Us
    .full-row
      .col6
        %p
          %span SolidFire Headquarters:
          %br
          1600 Pearl St, Suite 200
          %br
          Boulder Colorado 80302
          %br
          Phone: 720.523.3278
          %br
          Fax: 303.557.0724
          %br
          Email:
          %a{:href => 'mailto:info@solidfire.com'}info@solidfire.com
          %br
          Media / PR:
          %a{:href => 'mailto:pr@solidfire.com'} pr@solidfire.com
        %p
          %span SolidFire EMEA:
          %br
          NetApp c/o SolidFire
          %br
          10th Floor.
          %br
          88 Wood St,
          %br
          London.
          %br
          EC2V 7RS
          %br
          UK
          %br
          Email:
          %a{:href => 'mailto:info_emea@solidfire.com'} info_emea@solidfire.com
        %p
          %span SolidFire Singapore:
          %br
          One Raffles Place, Tower 2, #19-61
          %br
          Singapore 048616
          %br
          Phone: +65 6679 5833
          %br
          Email:
          %a{:href => 'mailto:info.apj@solidfire.com'}info.apj@solidfire.com
        %p
          %span SolidFire Australia:
          %br
          L12, 1 Pacific Hwy
          %br
          North Sydney NSW 2060
          %br
          Phone: +61416288726
          %br
          Email:
          %a{:href => 'mailto:info.anz@solidfire.com'}info.anz@solidfire.com
          %br
        %p
          %span SolidFire South Korea:
          %br
          16fl. POSCO P&S tower, Teheran-ro, 134
          %br
          Gangnam-gu, Seoul 135-923
          %br
          Email:
          %a{:href => 'mailto:info.korea@solidfire.com'}info.korea@solidfire.com
        %p
          %span SolidFire Japan:
          %br
          NetApp  c/o SolidFire
          %br
          Chuo-ku, Tokyo, 104-0031 Japan
          %br
          Email:
          %a{:href => 'mailto:info.japan@solidfire.com'}info.japan@solidfire.com
        %p
          %span SolidFire Asia:
          %br
          Email:
          %a{:href => 'mailto:info.apj@solidfire.com'}info.apj@solidfire.com
          %br
          Phone: +65 6679 5833

      .col5
        %h3 Talk with us
        %p If you would like to have a conversation with us at SolidFire about how we are solving the unique challenges of block storage solutions at cloud scale, please provide your contact information below and we will get back to you right away.
        .contact-form
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1314'}
          :javascript
            MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1314);
        .image-wrapper
          =image_tag 'company/global-map.png'


