= content_for :head do
  = stylesheet_link_tag 'company/customers', :media => 'all'
.customers-top
  .container
    %h1 Powering the most demanding data centers in the world
    .ello-top
      = image_tag 'company/ello-customers-robot.png'
.customer-success-stories
  .container
    %h2 Customer Success Stories:
    .customers-wrapper
      .customer-container
        .customer-image
          = image_tag 'company/PUC_ColorSeal.png'
        .customer-text
          .customer-name
            California Public Utilities Commission
          .customer-category
            Public Sector
          .customer-download
            = link_to 'Download case study', 'http://info.solidfire.com/rs/538-SKP-058/images/SolidFire-Case-Study-CPUC.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/RFAnewsimage_218x97.jpg'
        .customer-text
          .customer-name
            RFA
          .customer-category
            Service Provider
          .customer-download
            = link_to 'Download case study', 'http://info.solidfire.com/rs/538-SKP-058/images/RFA_CaseStudy.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/lg-1and1.png'
        .customer-text
          .customer-name
            1&1
          .customer-category
            Service Provider
          .customer-download
            = link_to 'Download case study', 'http://info.solidfire.com/rs/538-SKP-058/images/1%261_CaseStudy_Be-Do_v2.pdf', :target => '_blank'
      .customer-container.right-zero
        .customer-image
          = image_tag 'company/ultimate_softare.jpg'
        .customer-text
          .customer-name
            Ultimate Software
          .customer-category
            Software as a service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_1I1TfIiRRZ0WLALXX0Rtjw', :src => '//play.vidyard.com/1I1TfIiRRZ0WLALXX0Rtjw.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_1I1TfIiRRZ0WLALXX0Rtjw();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/Case%20Study%20-%20Ultimate%20Software.pdf', :target => '_blank'
    .customers-wrapper
      .customer-container
        .customer-image
          = image_tag 'company/endicia-logo.png'
        .customer-text
          .customer-name
            Endicia
          .customer-category
            Online postage software solutions
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_cNEDoHPUE_iSqxoEyfJoyg', :src => '//play.vidyard.com/cNEDoHPUE_iSqxoEyfJoyg.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_cNEDoHPUE_iSqxoEyfJoyg();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Endicia_RGB.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/ezverify-logo.png'
        .customer-text
          .customer-name
            ezVerify
          .customer-category
            Healthcare Software as a Service
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_aU6rUcvgIQ8jtom-4wWSgw', :src => '//play.vidyard.com/aU6rUcvgIQ8jtom-4wWSgw.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_aU6rUcvgIQ8jtom$4wWSgw();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_AHCS.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/mercado-libre-logo.png'
        .customer-text
          .customer-name
            MercadoLibre
          .customer-category
            E-commerce
          .customer-download
            = link_to 'Read press release', show_pr_path('latin-americas-number-1-online-marketplace-mercadolibre-powered-by-solidfires-all-flash-scale-out-storage-platform')
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_MercadoLibre.pdf', target: '_blank'
      .customer-container.right-zero
        .customer-image
          = image_tag 'company/sungard-logo.png'
        .customer-text
          .customer-name
            Sungard Availability Services
          .customer-category
            Service provider
          .customer-download
            = link_to 'Learn more', 'http://www.solidfire.com/solutions/service-providers/fueled-by-solidfire/customers/sungard/', :target => '_blank'
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Sungard.pdf', :target => '_blank'
    .customers-wrapper
      .customer-container
        .customer-image
          = image_tag 'company/servint-logo.png'
        .customer-text
          .customer-name
            ServInt
          .customer-category
            Service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_IcVK_WdlUU0OpwRuLN5n8w', :src => '//play.vidyard.com/IcVK_WdlUU0OpwRuLN5n8w.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_IcVK_WdlUU0OpwRuLN5n8w();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/elastx-logo.png'
        .customer-text
          .customer-name
            Elastx
          .customer-category
            Service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_DpNZLDCK8HENPzYJZh46JA', :src => '//play.vidyard.com/DpNZLDCK8HENPzYJZh46JA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_DpNZLDCK8HENPzYJZh46JA();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Elastx_Bandtrace.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/hosted-network-logo.png'
        .customer-text
          .customer-name
            Hosted Network
          .customer-category
            Service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_1j4pBVErc18kQpynDNt1DA', :src => '//play.vidyard.com/1j4pBVErc18kQpynDNt1DA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_1j4pBVErc18kQpynDNt1DA();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_HostedNetwork.pdf', :target => '_blank'
      .customer-container.right-zero
        .customer-image
          = image_tag 'company/colt-logo.png'
        .customer-text
          .customer-name
            Colt
          .customer-category
            Service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_eVx1heTZAwcqwoiGX8_MLA', :src => '//play.vidyard.com/eVx1heTZAwcqwoiGX8_MLA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_eVx1heTZAwcqwoiGX8_MLA();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Colt.pdf', :target => '_blank'
    .customers-wrapper
      .customer-container
        .customer-image
          = image_tag 'company/crucial-logo.png'
        .customer-text
          .customer-name
            Crucial
          .customer-category
            Service provider
          .customer-download
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_w-bvaIqdkufHca77bnyaLg', :src => '//play.vidyard.com/w-bvaIqdkufHca77bnyaLg.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_w$bvaIqdkufHca77bnyaLg();'}
              Watch video
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/CaseStudy_Crucial.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'solutions/case_studies/logo_iweb.png', class: 'iweb'
        .customer-text
          .customer-name
            iWeb
          .customer-category
            Service provider
          .customer-download
            = link_to 'Learn more', case_studies_path('iweb')
            %br
            = link_to 'Download case study', 'http://info.solidfire.com/rs/solidfire/images/iWeb_Case_Study.pdf', :target => '_blank'
      .customer-container
        .customer-image
          = image_tag 'company/datapipe-logo.png'
        .customer-text
          .customer-name
            Datapipe
          .customer-category
            Service provider
          .customer-download
            = link_to 'Learn more', case_studies_path('datapipe')
      .customer-container.right-zero
        .customer-image
          = image_tag 'company/databarracks-logo.png'
        .customer-text
          .customer-name
            Databarracks
          .customer-category
            Service provider
          .customer-download
            = link_to 'Learn more', case_studies_path('databarracks')
            %br
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_yqvY8IRHnmkDU3ALOl6MKQ', :src => '//play.vidyard.com/yqvY8IRHnmkDU3ALOl6MKQ.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_yqvY8IRHnmkDU3ALOl6MKQ();'}
              Watch video
    .more-customer-success-stories
      %a{:href => 'http://www.solidfire.com/resources/?s=case+study',:class => 'more-css-link'}
        more customer success stories &#8594;
.featured-customer-success-stories
  .container
    %h2 Featured Success Stories
    .customer-wrapper
      .header
        %h3 ezVerify
      .sub-header
        Automated HealthCare Services Benefits from SolidFire's Performance, Scalability and Uptime
      .customer-video
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_aU6rUcvgIQ8jtom-4wWSgw', :src => '//play.vidyard.com/aU6rUcvgIQ8jtom-4wWSgw.js?v=3.1.1&type=lightbox'}
        .outer_vidyard_wrapper
          .vidyard_wrapper{:onclick => 'fn_vidyard_aU6rUcvgIQ8jtom$4wWSgw();'}
            = image_tag '//play.vidyard.com/aU6rUcvgIQ8jtom-4wWSgw.jpg?'
            .vidyard_play_button
              %a{:href => 'javascript:void(0);'}
      .customer-text
        %p
          "Being a technology shop, touting cutting-edge software platforms, we wanted to have cutting-edge infrastructure. SolidFire offered us that."
        %p
          &#150; Edward Dibeler
          %br
          AHCS Chief Information Officer
        = image_tag 'company/success-story-ezverify.png'
        .link-wrapper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_AHCS.pdf',:class => 'case-study-link', :target => '_blank'}
            download case study &#8594;
    .customer-wrapper
      .header
        %h3 Ultimate Software
      .sub-header
        Leading human capital management SaaS provider standardizes on SolidFire all-flash storage
      .customer-video
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_1I1TfIiRRZ0WLALXX0Rtjw', :src => '//play.vidyard.com/1I1TfIiRRZ0WLALXX0Rtjw.js?v=3.1.1&type=lightbox'}
        .outer_vidyard_wrapper
          .vidyard_wrapper{:onclick => 'fn_vidyard_1I1TfIiRRZ0WLALXX0Rtjw();'}
            = image_tag '//play.vidyard.com/1I1TfIiRRZ0WLALXX0Rtjw.jpg?'
            .vidyard_play_button
              %a{:href => 'javascript:void(0);'}
      .customer-text
        %p
          "We're getting 4x the performance with SolidFire, from 25,000 IOPS to 100,000 IOPS — with reliable performance and fast, easy recovery.""
        %p
          &#150; Steven May
          %br
          Senior Director of Cloud Operations
        = image_tag 'company/ultimate-software.png'
        .link-wrapper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/Case%20Study%20-%20Ultimate%20Software.pdf',:class => 'case-study-link', :target => '_blank'}
            download case study &#8594;
.fueled-by-solidfire-section
  .container
    %h2 Fueled by SolidFire Program
    .fueled-by-solidfire-text
      %p
        SolidFire is the de facto all-flash block storage system used by service providers worldwide. Leveraging SolidFire's scale-out, all-flash architecture with volume-level Quality of Service (QoS) controls, service providers now can guarantee storage performance to thousands of customer applications within a multi-tenant hosting infrastructure.
      %p
        The Fueled by SolidFire program is designed to help service providers define, develop and capitalize on the new market opportunities made available by implementing and deploying SolidFire storage as part of their next generation hosting infrastructure.
    .fueled-by-solidfire-image
      = image_tag 'company/fueled-by-solidfire.png'
      %a{:href => '/solutions/success-stories/#fueled',:class => 'learn-more-link'}
        learn more &#8594;
.request-demo.section
  .container
    .full-row
      %h2 Are you ready to make the complex simple?
      .sub-header
        Get started today.
        %br
        %br
        = link_to 'request a demo', '#header-demo', :class => 'button-red header-demo'
