.events
  .events__container
    %h1 Events
    .events__calendar
      .events-wrapper
        - @events.each do |item|
          %div.events__calendar--month-header.month-header{:class => item[0], :data => {:date => item[0]}}
            = item[0]
          - item[1].each do |jarr|
            .events-item
              .events-item__date
                .events-item__date--month
                  = jarr.start_date.strftime("%b")
                .events-item__date--day
                  = jarr.start_date.strftime("%e")
                  - if jarr.start_date.strftime("%e") != jarr.end_date.strftime("%e")
                    %span &#45;
                    = jarr.end_date.strftime("%e")
              .events-item__title
                = link_to jarr.title, 'javascript://', :target => '_blank', :class => 'link-height event-item', :data => {:id => jarr.slugs[0]}
                .events-item__location
                  = jarr.location
                %div.events-item__description{:class => jarr.slugs[0]}
                  = jarr.description.try(:html_safe)
                  - if jarr.custom_image?
                    %p.event-image-wrapper
                      = image_tag 'http://assets3.solidfire.com/uploads/resources/' + jarr.custom_image_id + '-' + jarr.custom_image
                  %p
                    = link_to jarr.cta_title, jarr.cta_url, :class => 'button--green', :target => '_blank'
                .events-item__more-link
                  = link_to 'More Details', 'javascript://', :class => 'event-item more-link', :id => jarr.slugs[0], :data => {:id => jarr.slugs[0]}
        .events-archive-header
          Events Archive
          .older-events
            = link_to 'view past events', 'javascript://', :class => 'button--grey view-old-events-top'
        - @events_past.each do |item|
          %div.events__calendar--month-header.month-header.past-events{:style => 'display:none;', :class => item[0], :data => {:date => item[0]}}
            = item[0]
          - item[1].each do |jarr|
            .events-item{:style => 'display:none;', :class => 'past-events'}
              .events-item__date
                .events-item__date--month
                  = jarr.start_date.strftime("%b")
                .events-item__date--day
                  = jarr.start_date.strftime("%e")
                  - if jarr.start_date.strftime("%e") != jarr.end_date.strftime("%e")
                    %span &#45;
                    = jarr.end_date.strftime("%e")
              .events-item__title
                = link_to jarr.title, 'javascript://', :target => '_blank', :class => 'link-height event-item', :data => {:id => jarr.slugs[0]}
                .events-item__location
                  = jarr.location
                %div.events-item__description{:class => jarr.slugs[0]}
                  = jarr.description.try(:html_safe)
                  - if jarr.custom_image?
                    %p.event-image-wrapper
                      = image_tag 'http://assets3.solidfire.com/uploads/resources/' + jarr.custom_image_id + '-' + jarr.custom_image
                  %p
                    = link_to jarr.cta_title, jarr.cta_url, :class => 'button--green', :target => '_blank'
                .events-item__more-link
                  = link_to 'More Details', 'javascript://', :class => 'event-item more-link', :id => jarr.slugs[0], :data => {:id => jarr.slugs[0]}
        .older-events
          = link_to 'view past events', 'javascript://', :class => 'button--grey view-old-events'
    .hidden-fileds
      %input{:type => 'hidden', :id => 'current_page'}
      %input{:type => 'hidden', :id => 'show_per_page'}
    #page-navigation



