= content_for :head do
  = stylesheet_link_tag 'careers/careers', :media => 'all'

= content_for :head do
  = stylesheet_link_tag 'careers/careers', :media => 'all'

.careers-section-six.section.gradient-background-section.page-top-margin
  .careers-container.container
    %h2{:class => 'offset', :id => 'job-openings'} Job openings
    %script(id="gnewtonjs" type="text/javascript" src="//newton.newtonsoftware.com/career/iframe.action?clientId=8a699b9842ea121b014307fe4e91096f")