= content_for :head do
  = stylesheet_link_tag 'overview', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'overview.js'

.sub-nav.overview.top.section
  .container
    %ul
      %li
        = link_to 'Company Overview', '#company-overview', class: 'overview-link'
      %li
        = link_to 'Management', '#management', class: 'management-link'

.sub-nav.overview.section.hidden-nav
  .container
    %ul
      %li
        = link_to 'Company Overview', '#company-overview', class: 'overview-link'
      %li
        = link_to 'Management', '#management', class: 'management-link'

#overview
  .overview-section.first.skew-right#company-overview
    .overview-container
      .skew-fix.right
        .titles
          %h1 SolidFire delivers an unstoppable force for data center transformation
          %h3 Together with NetApp, we’re accelerating customers’ transition to the next generation data center
        %p SolidFire is born out of the largest cloud infrastructures in the world and built to solve the challenge of delivering high-performance applications from a multi-tenant infrastructure.  Founded in 2010, SolidFire is a market leader in all-flash storage systems built for the next-generation data center where simple scaling, set-and-forget management, assured performance and multi-tenancy, and cloud economic models are driving new market growth.
        %p NetApp acquired SolidFire for $870 Million in February 2016 to create a combined flash portfolio that accelerates data center transformation. Customers can now achieve unrivaled scale, speed and data services for all their data center needs.
        %p With SolidFire, NetApp can better address customer needs in the growing, rapidly changing storage market . For the next-generation infrastructure buyer, SolidFire’s all-flash architecture, with volume-level Quality of Service (QoS) controls, gives customers guaranteed storage performance. SolidFire’s distributed, self-healing, webscale architecture also delivers seamless scalability, whitebox economics, and radically simple management. These capabilities enables customers to accelerate third platform use cases and webscale economics. SolidFire is an active leader in the cloud community with extensive integrated storage management capabilities with OpenStack, VMware, and other cloud frameworks.

  .overview-section.second#management
    .overview-container
      .span12
        .span5
          =image_tag 'company/overview/Dave_thumb.jpg', align: 'left'
        .span7last
          %h3 Dave Wright, SolidFire Founder, Vice President, and GM
          %p Dave Wright left Stanford in 1998 to help start GameSpy Industries, a leader in online video game media, technology, and software. While at GameSpy, Dave led the team that created a backend infrastructure powering thousands of games and millions of gamers. GameSpy merged with IGN Entertainment in 2004 to create one of the largest Internet gaming & entertainment media companies.  Dave served as Chief Architect for IGN and led technology integration with FIM / MySpace after IGN was acquired by NewsCorp in 2005.
          %p In 2007 Dave founded Jungle Disk, a pioneer and early leader in cloud-based storage and backup solutions for consumers and businesses.  Jungle Disk was acquired by leading cloud provider Rackspace in 2008 and Dave worked closely with the Rackspace Cloud division to build a cloud platform supporting tens of thousands of customers. In December 2009 Dave left Rackspace to start SolidFire.

      .span12
        .span5
          =image_tag 'company/overview/Dan_thumb.jpg', align: 'left'
        .span7last
          %h3 Daniel Berg, Vice President,  Product Operations
          %p Daniel is responsible for the engineering, development, and quality of all products at SolidFire.  He is focused on expanding SolidFire's core and sustaining engineering teams while driving excellence in execution, innovation, and technical strategy.
          %p Daniel joins SolidFire from Avaya where he served as Vice President of Research and Development. Prior to Avaya he served as Chief Technology Officer and head of Research and Development at Skype where he was responsible with developing Skype's full range of technologies and products. During Daniel's time at Skype he was based in Europe and recently returned home to Colorado with his wife and son.  Prior to Skype, Daniel spent 15 years at Sun Microsystems in a variety of engineering and management roles including being named a Distinguished Engineer at Sun.  Prior to his career at Sun, Daniel held positions at IBM and Honeywell as well as a few technology related startups.  Daniel has also authored a number of books and papers detailing Java technologies, concurrent programming and development methodologies and

      .span12
        .span5
          =image_tag 'company/overview/James_thumb.jpg', align: 'left'
        .span7last
          %h3 James Whitemore, Vice President, Sales and Marketing
          %p James Whitemore is the Vice President of Sales and Marketing, responsible for all corporate, product and field marketing and sales functions at Solidfire. His focus is on building teams, programs and solutions that are organized around the customer, understanding and meeting the needs of an ever more diverse and global customer base.
          %p A veteran of the cloud computing and storage industry, James has more than 25 years experience leading, developing and executing successful global sales, product management and marketing strategies. He most recently served as SVP of Sales and Marketing at West IP Communications, a leading provider of technology-driven communications services, where he led the company’s Unified Communications-as-a-Services (UCaaS) business. Prior to his tenure at West IP Communications, James was EVP of Sales and Marketing at Smoothstone IP Communications.
          %p Prior to Smoothstone, James was the Chief Marketing Officer at Savvis and he has held a variety of sales and marketing positions in Europe, Asia and the U.S. with Sun Microsystems, IBM, StorageTek and Standard Telephones and Cables (STC).  James holds a bachelor’s degree in business administration and management from Northumbria University.

      .span12
        .span5
          =image_tag 'company/overview/Brian_thumb.jpg', align: 'left'
        .span7last
          %h3 Brian McCloskey, Vice President Americas Sales
          %p Brian McCloskey is the Vice President of Americas Sales at SolidFire.  With more than 20 years of enterprise storage sales and sales management experience, Brian has a proven track record of growing organizations in highly competitive market segments.  Prior to SolidFire, Brian served as Senior Director of Enterprise East and Canada for the Isilon Storage Division at EMC.  Brian started with Isilon in 2007, and led teams that delivered a significant percentage of Isilon's revenue and growth through both direct and indirect sales channels prior to acquisition by EMC.  Prior to Isilon, Brian held various management, sales, and systems engineering roles at EMC and Data General.  Brian holds MBAs in Corporate Finance and International Marketing from New York University.

      .span12
        .span5
          =image_tag 'company/overview/Tim_thumb.jpg', align: 'left'
        .span7last
          %h3 Tim Pitcher, Vice President International Sales
          %p Tim Pitcher is the Vice President, International, at SolidFire, where he is responsible for expanding SolidFire's presence globally. Tim has significant international experience, most recently serving as Senior Director of Global Account Storage at Hewlett Packard after its acquisition of 3PAR. While at HP, his primary responsibilities included customer retention and leading HP global storage growth. Prior to HP, Tim was Vice President of 3PAR where he focused on the rapid growth of customers, channel partners and strategic service providers. Prior to 3Par, Tim served for eight years at NetApp as VP of global accounts and VP of Northern Europe.
