.request-form
  %p
    To request access, fill out
    %br
    the form below
  %form{:action => 'https://cs23.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8', :method => 'POST'}
    %input{:type => 'hidden', :name => 'orgid', :value => '00D180000000mrM'}
    %input{:type => 'hidden', :name => 'retURL', :value => 'http://www.solidfire.com' }
    %input{:id => 'name', :maxlength =>'80',  :name => 'name',  :size => '20',  :type => 'text', :placeholder => 'Contact Name'}
    %br
    %input{ :id => 'email', :maxlength => '80', :name => 'email', :size => '20', :type => 'text', :placeholder => 'Email'}
    %br
    %input{:id => 'phone', :maxlength => '40', :name =>'phone',  :size => '20', :type => 'text', :placeholder => 'Phone'}
    %br
    %input{:id => 'subject', :maxlength => '80', :name => 'subject', :size => '20', :type => 'text', :placeholder => 'Subject'}
    %br
    %textarea{:name => 'description', :placeholder => 'Description'}
    %br
    %input{:type => 'hidden', :id => 'external', :name => 'external', :value => '1'}
    %br
    %input{:type => 'submit', :name =>'submit', :class => 'submit-button'}