= content_for :head do
  = stylesheet_link_tag 'company/support', :media => 'all'
= content_for :javascript do
  = javascript_include_tag 'company/support.js'

#support
  .button-section
    .button-container
      .buttons
        %a.button-orange{:href => 'http://support.solidfire.com', target: '_blank'}SUPPORT PORTAL LOGIN
        %a{:href => '#request-form', :class => 'request-form button-burgundy'}
          REQUEST ACCESS

  .support-section
    .support-container
      .image
        = image_tag 'company/support/2c_icon_activesupport_small.png', :class => 'stack'

      .text
        %h1 Enterprise flash storage support should go beyond helping you react to issues, it should enable you to avoid problems.
        %p At SolidFire, support is an active process beginning the moment a SolidFire cluster is deployed. SolidFire Active Support continuously monitors your systems, ensuring SolidFire products are maintained and operated at the highest possible level of availability and performance.

      .five-elements
        %h3 The 5 elements of SolidFire Active Support:
        %ul

          %li.header Proactive philosophy
          %ul
            %li We monitor and alert you as soon as a problem is present
            %li SolidFire addresses up to 80% of issues before customers are even aware of them.

          %li.header Secure assist
          %ul
            %li We provide secure,proactive, hands-on assistance in real-time, or even before you become aware of an issue.

          %li.header 24/7/365 worldwide availability
          %ul
            %li International support offerings with up to 4 hour break-fix

          %li.header Expert tier 3 support engineers only
          %ul
            %li No entry level support personnel

          %li.header Active IQ
          %ul
            %li The SolidFire cloud SaaS platform provides real-time health diagnostics and historical trending at the cluster, node, and volume level for multiple systems from anywhere in the world.

  .holistic-section
    .holistic-container
      .image
        = image_tag 'company/support/Active-IQ-Logo.png', :class => 'stack'

      .text
        %h1 Holistic system monitoring: The intelligence to proactively plan and rapidly respond, enabling business innovation.
        %h3 Real-time system monitoring to maximize resource agility and value of your IT infrastructure
        %p The SolidFire Active IQ SaaS platform, a key element of Active Support, provides real-time health diagnostics, historical performance, and trending at the cluster, node, and volume level. Visibility into single or multiple clusters/sites increases agility enabling immediate response to changing business demands and the flexibility to increase productivity while reducing risk. This holistic approach to infrastructure monitoring, combined with SolidFire’s unique abilities to upgrade, tune, and scale on demand without disruption, redefines operational success for storage infrastructure.
        %p As a SolidFire customer with Active IQ, you can expect:

        %p.indent
          %span.bolder Anticipate business demands:
          Real-time usage modeling and granular system data increase agility — enabling you to proactively plan for evolving business demands, simplifying storage resource optimization.
        %br
        %p.indent
          %span.bolder Increased productivity:
          Consolidated monitoring saves time when managing multiple clusters/sites, and comprehensive storage metrics reduce assessment efforts. This means you have continuous visibility into changing conditions, empowering you to avoid issues rather than react to them.
        %br
        %p.indent
          %span.bolder Reduced risk:
          Customizable alerts notify you in real time of possible issues. Faster response reduces risk for the business.

  #news-ribbon.chevron-section.gradient
    .chevron-container
      .chevron-images
        .chevron-image
          = image_tag 'company/support/chevron.png', :class => 'stack'
        .chevron-white-logo
          = image_tag 'company/support/white-logo.png', :class => 'stack'
      .feature-sheet
        %a{href:"http://info.solidfire.com/rs/solidfire/images/SolidFire%20Active%20IQ%20Feature%20Sheet.pdf"} Active IQ Feature Sheet
        = image_tag 'company/support/4h_icon_noiseyneighpaper.png', :class => 'stack'

      .capacity-planning
        %a{href:"http://fast.wistia.net/embed/iframe/ujnduu43ko?popover=true", class:"wistia-popover[height=371,playerColor=7b796a,width=660]"}
          Capacity Planning &amp;
          %br
            Scale-Out Architecture
        = image_tag 'company/support/Capacity-Planning-Scale-Out-Architecture.png', :class => 'stack'

  .levels-of-support-section
    .levels-of-support-container
      %h1 Levels of SolidFire Active Support

      %table
        %thead
          %th &nbsp;
          %th Support
          %th Premium

        %tbody
          %tr
          %td.left 4 hour onsite support with spares
          %td.center &nbsp;
          %td.center ✓
          %tr
          %td.left Assigned technical account lead and onsite services
          %td.center &nbsp;
          %td.center ✓
          %tr
          %td.left Active cluster monitoring and problem notification
          %td.center ✓
          %td.center ✓
          %tr
          %td.left Active case upgrades and notification of Element OS release/upgrades
          %td.center ✓
          %td.center ✓
          %tr
          %td.left Replacement parts delivery time
          %td.center NBD
          %td.center 4 hour
          %tr
          %td.left Support availability
          %td.center 24/7/365
          %td.center 24/7/365
          %tr
          %td.left Support response time
          %td.center
            Sev1 - 2 hour
            %br
              Sev2 - 4 hour
              %br
              Sev3 - NBD
          %td.center
            Sev1 - 30 min
            %br
              Sev2 - 2 hour
              %br
              Sev3 - 4 hour
          %tr
          %td.left Unlimited access to customer knowledge base / support portal
          %td.center ✓
          %td.center ✓
          %tr
          %td.left Unlimited access to SolidFire update and patches
          %td.center ✓
          %td.center ✓
          %tr
          %td.left Unlimited access to updated release notes, API guides and user guides
          %td.center ✓
          %td.center ✓
          %tr
          %td.left Active IQ of unlimited clusters
          %td.center ✓
          %td.center ✓
      .links
        .white-paper-links
          %p.icon-whitepapericon
          %a{:href=>"http://info.solidfire.com/rs/solidfire/images/SolidFireActiveSupport_Datasheet.pdf", target: "_blank"}
            Active Support Datasheet
            %span.dark-red
              →
        .white-paper-links
          %p.icon-whitepapericon
          %a{:href=>"http://info.solidfire.com/rs/solidfire/images/SolidFireInstallation_Datasheet.pdf", target: "_blank"}
            Installation Datasheet
            %span.dark-red
              →
        .white-paper-links
          %p.icon-whitepapericon
          %a{:href=>"http://info.solidfire.com/rs/solidfire/images/SolidFire_KeepyourSSDProgram_Brief.pdf", target: "_blank"}
            SSD Retention Program
            %span.dark-red
              →
        .white-paper-links
          %p.icon-whitepapericon
          %a{:href=>"http://info.solidfire.com/rs/538-SKP-058/images/SolidFire_Handout_Customer Incident Report SLA Doc.pdf", target: "_blank"}
            Active Support Incident - SLA Guidelines
            %span.dark-red
              →
        .white-paper-links
          %p.icon-whitepapericon
          %a{:href=>"http://info.solidfire.com/rs/538-SKP-058/images/SolidFire-Brief-EOL-Policy.pdf", target: "_blank"}
            Storage Equipment & Software EOL Policy
            %span.dark-red
              →

  .more-information-section
    .more-information-container
      %h3.more-info
        For more information or to purchase SolidFire Active Support, please
        %a.contact{:href=>"mailto:support@solidfire.com"}contact support
        or call 720-523-3278.

  #hidden-form
    #request-form
      #request-form
        %p
          To request access, fill out
          %br
            the form below
        %form(accept-charset="UTF-8"){:action=>"https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8", :method=>"post"}
          %input{:type=>"hidden", :name=>"orgid", :value=>"00D30000000nkVk"}
          %input{:type=>"hidden", :id=>"retURL", :name=>"retURL", :value=>""}

          // NOTE: These fields are optional debugging elements. Please uncomment
          // these lines if you wish to test in debug mode.
          // %input{:type=>"hidden", :name=>"debug", :value=>1}
          // %input{:type=>"hidden", :name=>"debugEmail", :value=>"molly@vertiba.com"}

          %input{:id=>"name", :maxlength=>"80", :name=>"name", :size=>"20", :type=>"text", :placeholder=>"Contact Name"}
          %br
          %input{:id=>"company", :maxlength=>"80", :name=>"company", :size=>"20", :type=>"text", :placeholder=>"Company"}
          %br
          %input{:id=>"email", :maxlength=>"80", :name=>"email", :size=>"20", :type=>"text", :placeholder=>"Email"}
          %br
          %input{:id=>"phone", :maxlength=>"40", :name=>"phone", :size=>"20", :type=>"text", :placeholder=>"Phone"}
          %br
          %textarea{:name=>"description", :placeholder=>"Description"}
          %input{:type=>"hidden", :name=>"recordType", :id=>"recordType", :value=>"01214000001FtUY"}
          %input{:type=>"hidden", :name=>"subject", :id=>"subject", :value=>"New Customer Portal User Request"}
          %input{:type=>"hidden", :id=>"external", :name=>"external", :value=>"1" }
          %br
          %input{:type=>"hidden", :id=>"external", :name=>"external", :value=>"1"}
          %br
          %input{:type=>"submit", :name=>"submit", :class=>"button-blue"}