= content_for :head do
  = stylesheet_link_tag 'careers/careers', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'careers/careers'
.sub-nav.section
  .container
    .team-navigation
      %ul
        %li
          %a{href: careers_path} careers
        %li
          %a{href: team_path('productandengineering'), class: 'product-and-engineering'}product & engineering
        %li
          %a{href: team_path('sales'), class: 'sales'} sales
        %li
          %a{href: team_path('marketing'), class: 'marketing'} marketing
        %li
          %a{href: team_path('operationsandadministration'), class: 'operations-and-administration'} operations & administration
        %li
          %a{href: team_path('interns'), class: 'interns'} interns

.hero-image.page-top-margin
  = image_tag 'careers/hero_' + @category + '.jpg'
.careers-section-one.section
  .careers-container.container
    %h1.job-description
      = @tagline
    .button-container
      %a.button-red{:href => jobs_path} All job openings
      %script{:type => 'text/javascript', :id => 'vidyard_embed_code_0UtXn59zgXGbOll4_Ko88g', :src => '//play.vidyard.com/0UtXn59zgXGbOll4_Ko88g.js?v=3.1.1&type=lightbox'}
      %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_0UtXn59zgXGbOll4_Ko88g();', :class => 'button-trans-white-border'}
        %p watch Solidfire

.department-description-section
  .careers-container.container
    .links
      %a{href: careers_path} careers
      %a{href: team_path('productandengineering'), class: 'product-and-engineering'}product & engineering
      %a{href: team_path('sales'), class: 'sales'} sales
      %a{href: team_path('marketing'), class: 'marketing'} marketing
      %a{href: team_path('operationsandadministration'), class: 'operations-and-administration'} operations & administration
      %a{href: team_path('interns'), class: 'interns'} interns
    .span12
      =render 'shared/team_sections/department_description/' + @category

.job-openings-section.gradient-background-section
  .careers-container.container
    %h2 JOB OPENINGS

    -if @category == 'interns'
      %h3.department-title Interns
      %hr
      .department-jobs
        %p.no-jobs
          For current intern openings, please visit our
          %a.intern{href: jobs_path}
            jobs list
          and search for keyword intern.
    -else
      %h3.department-title= @department
      %hr
      .department-jobs
        - if @jobs[@department].nil?
          %p.no-jobs No openings at the moment, but check back soon.
        - else
          - @jobs[@department].each do |job|
            .job{:id => "job-#{job['job_id']}"}
              %a.job-title{:class => 'job-link'}= job['title']
              %p.job-location{:id => "job-details-#{job['job_id']}"}= job['location']
              .job-descriptions{:style => 'display:none;', :data => {:job_id => job['id']}, :class => 'job-id-' + job['id']}
                .job-details{:id => "job-details-#{job['job_id']}"}
                  %br
                  = raw job['summary']
                  .apply-buttons
                    = link_to "Apply Now", jobs_path + '?gnk=job&gni=' + job['id'], :class => "btn btn-primary btn-large"
                    %a.btn.btn-large.share-btn Share
                    %input.share-link{ type:"text", value: 'http://www.solidfire.com/about/careers/jobs?gnk=job&gni=' + job['id']}
