#technology-partners
  .container
    .full-row.top
      %h1.technology-partners Technology Partners
      %h2 Assembling the building blocks for your Next Generation Data Center
      %p Integration across the infrastructure stack is essential to achieve the true promises of cloud computing. SolidFire's strategic partnerships are focused on aligning our innovative all-flash architecture with the people, technologies and communities that our customers lean on to accelerate the transformation of their storage infrastructure to achieve new levels of performance, flexibility, scale, and automation.
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.arista.com/en/solutions', :target => '_blank'}
          = image_tag 'company/arista_logo.jpg'
      .col10
        %p
          %a{:href => 'http://www.arista.com/en/solutions', :target => '_blank'} Arista
        %p Arista Networks was founded to deliver software defined cloud networking solutions for cloud infrastructure, large data center and high-performance computing environments. Arista delivers a portfolio of 1/10/40 and 100 GbE capable products that redefine network architectures, bring extensibility to networking, and dramatically change the price/performance of data center networks.
        %p
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/PartnerDatasheet_Arista.pdf', :target => '_blank'} Arista Partner Datasheet
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.citrix.com/products/cloudplatform/overview.html', :target => '_blank'}
          = image_tag 'company/ctx_r_dimensional_rgb.png', :style => 'max-height: 82px;'
      .col10
        %p
          %a{:href => 'http://www.citrix.com/products/cloudplatform/overview.html', :target => '_blank'} Citrix Systems
        %p Citrix is the cloud company that enables mobile workstyles—empowering people to work and collaborate from anywhere, securely accessing apps and data on any of the latest devices, as easily as they would in their own office. Citrix solutions help IT and service providers build clouds, leveraging virtualization and networking technologies to deliver high-performance, elastic and cost-effective cloud services. With market-leading solutions for mobility, desktop virtualization, cloud networking, cloud platforms, collaboration and data sharing, Citrix helps organizations of all sizes achieve the speed and agility necessary to succeed in a mobile and dynamic world. Citrix products are in use at more than 260,000 organizations and by over 100 million users globally.
        %p
          %a{:href => 'http://www.citrix.com/tv/#videos/7272', :target => '_blank'} SolidFire and Citrix CloudPlatform Solution Overview
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.cleversafe.com/', :target => '_blank'}
          = image_tag 'company/cleversafe_logo.jpg'
      .col10
        %p
          %a{:href => 'http://www.cleversafe.com/', :target => '_blank'} Cleversafe Inc.
        %p Cleversafe’s patented scale-out storage solution leverages information dispersal algorithms coupled with encryption to expand, virtualize, transform, slice and disperse data across a network of storage nodes. This limitless scale storage system stores data much more efficiently than other traditional storage systems that need to maintain multiple copies of the same data, Cleversafe’s unique information dispersal architecture uses a single instance of data with a minimal expansion of the data in order to maintain data integrity and availability.  This solution drives 65 percent or more of the storage cost from the business while enabling secure and reliable global access and collaboration. Some of the world's largest data repositories rely on Cleversafe.
        %p
          To learn more about Cleversafe and its solutions, please visit
          %a{:href => 'http://www.cleversafe.com/', :target => '_blank'} www.cleversafe.com
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://cloudstack.apache.org/', :target => '_blank'}
          = image_tag 'company/cloudstack_logo_jpegsmall.jpg'
      .col10
        %p
          %a{:href => 'http://cloudstack.apache.org/', :target => '_blank'} CloudStack
        %p Apache CloudStack is open-source software written in Java that is designed to deploy and manage large networks of virtual machines as a highly available, scalable, cloud-computing platform. CloudStack currently supports popular hypervisors, including the following: XenServer, Xen Cloud Platform, VMware and KVM. CloudStack offers three ways to manage cloud-computing environments: an easy-to-use web interface, a command line and a full-featured, REST-like API.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.flexiant.com/', :target => '_blank'}
          = image_tag 'company/flexiant_logo-1.png'
      .col10
        %p
          %a{:href => 'http://www.flexiant.com/', :target => '_blank'} Flexiant
        %p
          Flexiant is a leading international provider of
          %a{:href => 'http://www.flexiant.com/flexiant-cloud-orchestrator/', :target => '_blank'}cloud orchestration software
          for on-demand, fully automated provisioning of cloud services. Headquartered in Europe, Flexiant's software gives cloud service providers' business agility, freedom and flexibility to scale, deploy and configure cloud services, simply and cost-effectively. Vendor agnostic and supporting multiple hypervisors,
          %a{:href => 'http://www.flexiant.com/flexiant-cloud-orchestrator/', :target => '_blank'} Flexiant Cloud Orchestrator
          is a software suite that is service provider ready, enabling cloud service provisioning through to granular metering, billing and reseller management. Used by over one hundred organisations worldwide, from small hosters to large Managed Service Providers (MSPs) and Enterprises, Flexiant Cloud Orchestrator is simple to understand, simple to deploy and simple to use. Flexiant customers include
          %a{:href => 'http://www.cartika.com/', :target => '_blank'}Cartika
          , FP7 Consortium,
          %a{:href => 'http://en.isenterprise.com/', :target => '_blank'}IS Group
          ,
          ITEX
          , and
          %a{:href => 'http://www.netgroup.ee/', :target => '_blank'}NetGroup.
        %p
          %a{:href => 'http://www.solidfire.com/resources/partner-datasheet-flexiant/', :target => '_blank'} Flexiant Partner Datasheet
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.intel.com/content/www/us/en/homepage.html', :target => '_blank'}
          = image_tag 'company/intellogo1.jpg'
      .col10
        %p
          %a{:href => 'http://www.intel.com/content/www/us/en/homepage.html', :target => '_blank'} Intel
        %p
          Intel (NASDAQ: INTC) is a world leader in computing innovation. The company designs and builds the essential technologies that serve as the foundation for the world's computing devices. Embedded in SolidFire's all-flash storage system, the Intel® Solid-State Drives and visibly smart Intel® Xeon™ E5 Processors deliver the optimal blend of performance, durability and efficiency to accommodate the stringent demands of SolidFire's cloud service provider customers. Additional information about Intel is available at
          %a{:href => 'http://www.intel.com/content/www/us/en/homepage.html', :target => '_blank'} newsroom.intel.com and
          %a{:href => 'http://blogs.intel.com/', :target => '_blank'} blogs.intel.com.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.marvell.com/', :target => '_blank'}
          = image_tag 'company/marvell_m_smalllogo.png'
      .col10
        %p
          %a{:href => 'http://www.marvell.com/', :target => '_blank'} Marvell
        %p
          Intel (NASDAQ: INTC) is a world leader in computing innovation. The company designs and builds the essential technologies that serve as the foundation for the world's computing devices. Embedded in SolidFire's all-flash storage system, the Intel® Solid-State Drives and visibly smart Intel® Xeon™ E5 Processors deliver the optimal blend of performance, durability and efficiency to accommodate the stringent demands of SolidFire's cloud service provider customers. Additional information about Intel is available at
          %a{:href => 'http://www.intel.com/content/www/us/en/homepage.html', :target => '_blank'} newsroom.intel.com and
          %a{:href => 'http://blogs.intel.com/', :target => '_blank'} blogs.intel.com.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.mirantis.com/', :target => '_blank'}
          = image_tag 'company/mirantislogo_hires_taglinesm.png'
      .col10
        %p
          %a{:href => 'http://www.mirantis.com/', :target => '_blank'} Mirantis
        %p
          Mirantis delivers all the software, services, training and support needed for running OpenStack. More customers rely on Mirantis than any other company to get to production deployment of OpenStack at scale. Among the top five companies worldwide in contributing open source software to OpenStack, Mirantis has helped build and deploy some of the largest OpenStack clouds at companies such as AT&T, Cisco WebEx, Comcast, Dell, The Gap, NASA, NTT Docomo, PayPal, Red Hat, Sprint and Verizon. Mirantis is venture-backed by Intel, Dell, Red Hat and WestSummit Capital. For more information, visit
          %a{:href => 'http://www.mirantis.com/', :target => '_blank'} www.mirantis.com.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.mongodb.com/', :target => '_blank'}
          = image_tag 'company/mongodb_logo_full.png'
      .col10
        %p
          %a{:href => 'http://www.mongodb.com/', :target => '_blank'} MongoDB
        %p
          MongoDB is reinventing data management and powering big data as the leading NoSQL database. Designed for how we build and run applications today, MongoDB empowers organizations to be more agile and scalable. It enables new types of applications, better customer experience, faster time to market and lower costs. MongoDB has a thriving global community with over 4 million downloads, 100,000 online education registrations, 20,000 user group members and 20,000 MongoDB Days attendees. The company has more than 600 customers, including many of the world's largest organizations. To learn more, please visit
          %a{:href => 'http://www.mongodb.com/', :target => '_blank'} www.mongodb.com.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://onapp.com/cloud/', :target => '_blank'}
          = image_tag 'company/onapp-smalllogo-2995.png'
      .col10
        %p
          %a{:href => 'http://onapp.com/cloud/', :target => '_blank'} OnApp
        %p
          OnApp's cloud management software brings next-generation cloud infrastructure into reach for any host, service provider or enterprise. The OnApp Cloud platform combines enterprise-class scalability and resilience with low entry costs, an easy-to-use control panel and a rich feature-set for service providers. OnApp's software enable providers to stay profitable and competitive by launching their own unique cloud services, quickly, easily and cost-effectively.
        %p
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/onapp_solidfire_datasheet.pdf', :target => '_blank'} OnApp Partner Datasheet
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.openstack.org/', :target => '_blank'}
          = image_tag 'company/built-for-openstack.png'
      .col10
        %p
          %a{:href => 'http://www.openstack.org/', :target => '_blank'} OpenStack
        %p
          Lauched in 2010, OpenStack is open source software for building clouds. Created to drive industry standards, end cloud lock-in and speed cloud adoption, OpenStack is a common, open platform for both public and private clouds with the support of over 185 industry leading companies, more than 3,300 global project participants and 200,000+ downloads. The open source cloud operating system enables businesses to manage compute, storage and networking resources via a self-service portal and APIs on standard hardware at massive scale.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.plexxi.com/', :target => '_blank'}
          = image_tag 'company/plexxi_logo_small.png'
      .col10
        %p
          %a{:href => 'http://www.plexxi.com/', :target => '_blank'} Plexxi
        %p
          Plexxi is the creator of Affinity Networking solutions for data centers and clouds. This scale-out data center fabric leverages advanced SDN-based tools to visualize, manage, and optimize the network ultimately leading to optimal application user experience and greatly simplified operations.
        %p
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/PartnerDatasheet_Plexxi.pdf', :target => '_blank'} Plexxi Partner Datasheet
          |
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/Plexxi_Solution_Brief.pdf', :target => '_blank'} Plexxi Solution Brief
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.rackspace.com/cloud/private/', :target => '_blank'}
          = image_tag 'company/poweredby_rackspace_occ_logo-red.png'
      .col10
        %p
          %a{:href => 'http://www.rackspace.com/cloud/private/', :target => '_blank'} Rackspace
        %p
          Rackspace Private Cloud combines the power of OpenStack-the leading open-source cloud operating system-with a streamlined deployment process that allows you to get your private cloud up and running in less than an hour.
          %a{:href => 'http://www.rackspace.com/cloud/private/openstack_software/', :target => '_blank'} Rackspace Private Cloud Software
          is a complete open-source package that is available at no cost. Rackspace also offers a
          %a{:href => 'http://www.rackspace.com/cloud/private/training/', :target => '_blank'} training and certification program,
          %a{:href => 'http://www.rackspace.com/cloud/private/architecture/', :target => '_blank'}architectural guidance,
          managed services, and
          %a{:href => 'http://www.rackspace.com/cloud/private/support/', :target => '_blank'} support options
          to help customers successfully build and deploy their private cloud infrastructure.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.redhat.com/', :target => '_blank'}
          = image_tag 'company/rhoscipn_logo.png'
      .col10
        %p
          %a{:href => 'http://www.redhat.com/', :target => '_blank'} Red Hat
        %p
          Red Hat is the world’s leading provider of open source software solutions, taking a community-powered approach to reliable and high-performing cloud, Linux, middleware, storage and virtualization technologies. Red Hat also offers award-winning support, training, and consulting services. As the connective hub in a global network of enterprises, partners, and open source communities, Red Hat helps create relevant, innovative technologies that liberate resources for growth and prepare customers for the future of IT. Learn more at
          %a{:href => 'http://www.redhat.com/', :target => '_blank'} http://www.redhat.com.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.samsung.com/us/computer/memory-storage', :target => '_blank'}
          = image_tag 'company/samsung.jpg'
      .col10
        %p
          %a{:href => 'http://www.samsung.com/us/computer/memory-storage', :target => '_blank'} Samsung Electronics Co., Ltd.
        %p
          Samsung Electronics is the world leader in advanced memory technology. Samsung's flash-based SSDs help maintain 24 x 7 uptime for mission-critical servers, RAID systems, and network-attached storage. Samsung maintains outstanding quality control over the design and production of its SSDs, from NAND flash and DRAM components to controllers and firmware. Samsung's leadership in the SSD market is a direct result of unmatched expertise in semiconductor technology, along with  demonstrated ability to design and develop memory solutions in-house. For more information about Samsung's memory and SSD products, please visit
          %a{:href => 'http://www.samsung.com/us/computer/memory-storage', :target => '_blank'} www.samsung.com/GreenMemory and www.samsung.com/SSD.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.sciencelogic.com/', :target => '_blank'}
          = image_tag 'company/sl-logo-non-fade-hrsmall.png'
      .col10
        %p
          %a{:href => 'http://www.sciencelogic.com/', :target => '_blank'} ScienceLogic
        %p
          ScienceLogic is the award-winning developer of Smart IT™ software. Our mission is to empower companies to visualize, automate, and modernize their IT operations, maximizing efficiency and effectiveness with the operational intelligence needed to run the business smarter. We provide unified monitoring and management solutions for modern IT environments - from the data center to public, private, and hybrid clouds - and deliver the scale, security, automation, and resiliency necessary to simplify the exponentially harder task of managing resources, services, and applications that are constantly in motion.
        %p
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/PartnerDatasheet_Sciencelogic.pdf', :target => '_blank'} ScienceLogic Partner Datasheet
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.vikingtechnology.com/', :target => '_blank'}
          = image_tag 'company/viking_png_smalllogo.png'
      .col10
        %p
          %a{:href => 'http://www.vikingtechnology.com/', :target => '_blank'} Viking Technology
        %p
          Viking Technology leads the enterprise storage market in Solid State Drives (SSD), DRAM, and Non-Volatile Memory technologies. Viking's offerings span from high-performance computing SSDs to innovative technology solutions that optimize the value and performance of customers' applications. As a pioneer of SSDs in the DIMM form factor, Viking Technology in enabling partners like SolidFire to address the flash storage market with high quality, high performance solutions.
      %hr
    .full-row.technologyPartners
      .col2
        %a{:href => 'http://www.vmware.com/', :target => '_blank'}
          = image_tag 'company/VMW_LGO_VMwareReady_77_105x70.jpg'
      .col10
        %p
          %a{:href => 'http://www.vmware.com/', :target => '_blank'} VMware
        %p
          VMware, Inc., the global leader in virtualization and cloud infrastructure, delivers customer-proven solutions that accelerate IT by reducing complexity and enabling more flexible, agile service delivery. VMware enables enterprises to adopt a cloud model that addresses their unique business challenges. VMware's approach accelerates the transition to cloud computing while preserving existing investments and improving security and control. With more than 350,000 customers and 50,000 partners, VMware solutions help organizations of all sizes lower costs, increase business agility and ensure freedom of choice.
      %hr