.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Privately-held Crucial has been in business since 2003. The Sydney, Australia, company started out by providing web hosting and dedicated servers. In 2007, executives identified new opportunities to move beyond simple web hosting to serve customers with more dynamic and flexible workload requirements. Today, Crucial is aggressively pursuing cloud infrastructure and hybrid solutions to lure lucrative customers whose applications demand the right balance of flexibility, performance, and reliability.

