.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Established in 2003, Databarracks is one of the UK's first providers of managed backup and virtual disaster recovery services. Growing rapidly for the last ten years, the company's infrastructure footprint today spans more than ten petabytes of data across over 1,000 customers worldwide.
