.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Elastx is a Platform as a Service (PaaS) hosting provider based in Stockholm, Sweden, that delivers scale-out solutions for hosting Java and PHP-based applications. Enterprise customers look to Elastx for application lifecycle management and the ability to host and easily grow their applications without vendor lock-in. Elastx delivers a linearly scalable cloud architecture that delivers predictable, market-leading performance.
    %p Elastx offers two integrated platforms designed for both performance and scale: the Jelastic-based "Easy" platform and the Openstack-based "Extreme" platform.
