.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Hosted Network is Australia’s first and only white-label Desktop as a Service (DaaS) provider, specifically built and marketed to Managed Service Providers and IT integrators. Hosted Network allows its partners to quickly and easily go to market with a DaaS service and a range of value-add products without the need for any large up-front capital expenses.
    %p Products and features include:

    %ul
      %li
        %p All-SSD performance
      %li
        %p Dense workload handling
      %li
        %p Automated management
      %li
        %p Quality of Service
      %li
        %p Scaling without disruption
      %li
        %p No noisy neighbors
      %li
        %p For more information, visit the Hosted Network website.
