.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p iWeb is a managed hosting provider based in Montreal, Canada that has been delivering reliable managed hosting and colocation services for over a decade.

    %p Today iWeb is one of the largest web hosts and Internet hosting infrastructures provider in Canada. iWeb's operations centers shelter a total of more than 90,000 square feet of latest generation data center and office floor space in Montreal and offers a wide variety of first class web hosting and server management services.

    %p iWeb is recognized for the quality of its customer service and its highly competitive prices. In January 2010, iWeb announced the addition of the new 31,000 square feet data center, in the LaSalle borough (western part of Montreal), with the capacity to host 20,000 dedicated servers. This new facility brings the total dedicated server capacity of iWeb to nearly 35,000 servers.

    %p In 2013 iWeb expanded its service offering to include the first guaranteed performance cloud in Canada based on OpenStack and SolidFire.
