.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Combining over 70,000 highly efficient web servers with the renowned performance of Foundry, Cisco and SolidFire in our data centers, 1&1 utilizes the best products from the world’s leading technology manufacturers and service providers to provide customers with 99.9% uptime. The infrastructure supporting 1&1’s technology is a system of state-of-the-art hardware and efficient software run in highly secure data centers across the US and Europe. 1&1’s Kansas data center, for example, is strategically located to ensure maximum uptime for customers due to equal latency for both coasts.  Choosing a reliable web host is important and 1&1 Internet Inc., a leader amongst global Web hosting providers, makes this decision a simple one. Our global community is over 14.11 million customer contracts strong.


