.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p For more than 20 years, Richard Fleischman & Associates (RFA) has served the IT needs of some of the most demanding financial customers in the world: hedge funds, private equity funds, funds of funds, wealth managers, and alternative asset management firms. Even milliseconds of delay in processing financial transactions can cost financial firms big bucks.


