.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p ServInt is a provider of high-reliability web hosting for business customers worldwide and has been in business for 19 years. As a fully managed hosting company, ServInt offers a comprehensive portfolio of web hosting solutions, including VPS, dedicated and self-managed options, and provides a high level of support to customers. ServInt has multiple US-based data centers, as well as an international presence and provides services to thousands of customers in more than 60 countries.

