.at-a-glace-section
  .case-studies-container
    %h2 Customer at-a-Glance
    %p Sungard Availability Services (Sungard AS) provides IT infrastructure management services capability to over 8,000 customers globally. Sungard AS has 40 data centers worldwide encompassing 5 million square feet – and supports more than 8,000 customers, including 70 percent of the Fortune 500. Sungard AS provides responsive and integrated disaster recovery, managed IT services, IT consulting and business continuity management software solutions to help organizations keep people and information connected.
