= simple_form_for(@cms_press_release) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :label => 'Title'
    = f.input :sub_title, :label => 'Sub title'
    = f.input :location, :label => 'Location'
    = f.input :pub_date, :label => 'Publication date'
    = f.input :schedule_day, :label => 'Scheduled day'
    %label{:class => 'string optional', :for => 'cms_press_release_schedule_time'}
      Scheduled time
    %select{:name => 'cms_press_release[schedule_time]', :id => 'cms_press_release_schedule_time'}
      - if @cms_press_release.schedule_time
        %option{:value => @cms_press_release.schedule_time, :selected => true}
          = @cms_press_release.schedule_time
      %option
        Select scheduled time
      %option{:value => '00:00'}
        00:00
      %option{:value => '00:30'}
        00:30
      %option{:value => '01:00'}
        01:00
      %option{:value => '01:30'}
        01:30
      %option{:value => '02:00'}
        02:00
      %option{:value => '02:30'}
        02:30
      %option{:value => '03:00'}
        03:00
      %option{:value => '03:30'}
        03:30
      %option{:value => '04:00'}
        04:00
      %option{:value => '04:30'}
        04:30
      %option{:value => '05:00'}
        05:00
      %option{:value => '05:30'}
        05:30
      %option{:value => '06:00'}
        06:00
      %option{:value => '06:30'}
        06:30
      %option{:value => '07:00'}
        07:00
      %option{:value => '07:30'}
        07:30
      %option{:value => '08:00'}
        08:00
      %option{:value => '08:30'}
        08:30
      %option{:value => '09:00'}
        09:00
      %option{:value => '09:30'}
        09:30
      %option{:value => '10:00'}
        10:00
      %option{:value => '10:30'}
        10:30
      %option{:value => '11:00'}
        11:00
      %option{:value => '11:30'}
        11:30
      %option{:value => '12:00'}
        12:00
      %option{:value => '12:30'}
        12:30
      %option{:value => '13:00'}
        13:00
      %option{:value => '13:30'}
        13:30
      %option{:value => '14:00'}
        14:00
      %option{:value => '14:30'}
        14:30
      %option{:value => '15:00'}
        15:00
      %option{:value => '15:30'}
        15:30
      %option{:value => '16:00'}
        16:00
      %option{:value => '16:30'}
        16:30
      %option{:value => '17:00'}
        17:00
      %option{:value => '17:30'}
        17:30
      %option{:value => '18:00'}
        18:00
      %option{:value => '18:30'}
        18:30
      %option{:value => '19:00'}
        19:00
      %option{:value => '19:30'}
        19:30
      %option{:value => '20:00'}
        20:00
      %option{:value => '20:30'}
        20:30
      %option{:value => '21:00'}
        21:00
      %option{:value => '21:30'}
        21:30
      %option{:value => '22:00'}
        22:00
      %option{:value => '22:30'}
        22:30
      %option{:value => '23:00'}
        23:00
      %option{:value => '23:30'}
        23:30
    = f.input :body, as: :text, :label => 'Body'
    = f.input :about, as: :text, :label => 'About section'

  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"

