.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_press_release.title
      .link
        = link_to 'Manage Press Releases', cms_press_releases_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Press Releases', cms_press_releases_path, :class => 'cms-white-button'
