.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading  Press Releases

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_press_release_path}
        %span.plus +
        New Press Release
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'


    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_press_releases.each do |cms_pr|
      .custom-landing-item
        .record-email
          = cms_pr.title

        .record-destroy
          = link_to 'Destroy', cms_pr, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_press_release_path(cms_pr), :class => 'edit button--grey--small margin-right-fifteen'
          = link_to 'View', pr_index_path + '/' + cms_pr.slugs[0], :class => 'view button-light-blue-small margin-right-fifteen', :target => '_blank'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_press_release_path}
          %span.plus +
          New Press Release
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms--button margin-right-fifteen'
    .back-btn
      = will_paginate @cms_press_releases

