.resources
  .resources__container
    %p
      %h2
        The press release
        %strong
          = @cms_press_release.title
        has been successfully created.
    .back-btn
      = link_to 'cms press releases', cms_press_releases_path, :class => 'cms-red-button'
