= simple_form_for(@cms_resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :required => true
    = f.input :landing_title, :label => 'Landing page headline'
    = f.input :sub_title, :label => 'Landing page sub headline'
    = f.input :description, as: :text, :required => true
    = f.input :landing_description, as: :text, :label => 'Landing page description'
    = f.input :asset_link, :label => 'Link to asset'
    = f.input :mkto_form_id, :label => 'Marketo form id'
    = f.input :thank_you_url, :label => 'Thank you page URL'
    = f.input :utube_id, :label => 'YouTube video id'
    = f.input :vidyard_id, :label => 'Vidyard video id'
    = f.input :podcast_url, :label => 'Podcast URL'
  .radio-wrapper
    %p
      - if @cms_resource.custom_image_id?
        Current custom image
        = image_tag 'http://assets3.solidfire.com/uploads/resources/' + @cms_resource.custom_image_id + '-' + @cms_resource.custom_image
      - else
        Add custom image
      %input{:type => 'hidden', :id => 'cms_resource_custom_image', :name => 'cms_resource[custom_image]', :value => @cms_resource.custom_image}
      %input{:type => 'hidden', :id => 'cms_resource_custom_image_id', :name => 'cms_resource[custom_image_id]', :value => @cms_resource.custom_image_id}
    .display-images
  .add-image-wrapper
    .add-image-container
      .back-btn.margin-bottom-twenty-five
        %a{:herf => 'javascript://', :id => 'add-image-button', :class => 'cms-white-button'}
          - if @cms_resource.custom_image_id?
            update custom image
          - else
            add image
    - if @cms_resource.custom_image_id?
      .add-image-container
        .back-btn.margin-bottom-twenty-five
          = link_to 'remove custom image', 'javascript://', :class => 'button--grey', :id => 'remove-image-button'
  .radio-wrapper
    %p
      - if @is_edit == true
        Selected Categories
        %p
          - if @cms_cats_find
            - @cms_cats_find.each do |used_cat|
              %input{:type => 'checkbox', :name => 'cms_resource[cats][]', :value => used_cat.id, :id => 'cms_resource_cats_' + used_cat.id, :checked => true}
                = used_cat.title
        %p
          All Available Categories
        %p
          - if @is_edit == true
            - @cms_cats.each do |cats|
              %span{:id => cats.id}
                %input{:type => 'checkbox', :name => 'cms_resource[cats][]', :value => cats.id, :id => 'cms_resource_cats_' + cats.id}
                  = cats.title
      - else
        %p
          Categories
        - @cms_cats.each do |cats|
          %span
            %input{:type => 'checkbox', :name => 'cms_resource[cats][]', :value => cats.id, :id => 'cms_resource_cats_' + cats.id}
              = cats.title
  .radio-wrapper
    %p
      - if @is_edit == true
        Selected Types
        %p
          - if @cms_tags_find
            - @cms_tags_find.each do |used_tag|
              %input{:type => 'checkbox', :name => 'cms_resource[tags][]', :value => used_tag.id, :id => 'cms_resource_tags_' + used_tag.id, :checked => true}
                = used_tag.title

        %p
          All Available Types
        %p
          - if @is_edit == true
            - @cms_tags.each do |tags|
              %span{:id => tags.id}
                %input{:type => 'checkbox', :name => 'cms_resource[tags][]', :value => tags.id, :id => 'cms_resource_tags_' + tags.id}
                  = tags.title
      - else
        %p
          Types
        - @cms_tags.each do |tags|
          %span
            %input{:type => 'checkbox', :name => 'cms_resource[tags][]', :value => tags.id, :id => 'cms_resource_tags_' + tags.id}
              = tags.title
  .back-btn.margin-bottom-twenty-five
    = link_to 'meta tags', 'javascript://', :class => 'cms-white-button', :id => 'meta-tags-button'
  .form-inputs
    #meta-tags
      = f.input :meta_title
      = f.input :meta_description, as: :text
  .form-actions.submit-wrapper
    = f.button :submit, class: 'cms-red-button cms-form-button', style:"background-color: #e00000; font-size: 13px; padding: 9px 30px; line-height: 28px;"

