.res-image-wrapper
  - @cms_resource_images.each do |res_image|
    .res-image-container
      %p
        = res_image.title
      %p
        = image_tag 'http://assets3.solidfire.com/uploads/resources/' + res_image.id + '-' + res_image.res_image_file_name
      %p
        .back-btn.margin-bottom-twenty-five
          %a{:href => 'javascript://', :class => 'cms-white-button image-select', :data => {:image_id => res_image.id, :image_name => res_image.res_image_file_name}}
            select image
      %p
        = @getImage
.hidden-fileds
  %input{:type => 'hidden', :id => 'current_page'}
  %input{:type => 'hidden', :id => 'show_per_page'}
  #page-navigation

