.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Resources

    .float-right.margin-bottom-twenty-five
      = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      %a.cms-green-button{href: new_cms_resource_path}
        %span.plus +
        New Resource


    .record-wrapper.events
      .record-email
        %span.title Title
      .record-destroy
        &nbsp;

    - @cms_resources.each do |cms_resource|
      .custom-landing-item
        .record-email
          = cms_resource.title
        .record-destroy
          = link_to 'Destroy', cms_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_resource_path(cms_resource), :class => 'edit button--grey--small margin-right-fifteen'
          = link_to 'View', resources_path + '/' + cms_resource.slugs[0], :class => 'view button-light-blue-small margin-right-fifteen', :target => '_blank'
    .span12.border-top
      .button-container
        %a.cms-green-button{href: new_cms_resource_path}
          %span.plus +
          New Resource
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
      .button-container
        = link_to 'Change Resource Order', cms_resource_order_index_path, :class => 'cms-white-button margin-right-fifteen'
    .back-btn
      = will_paginate @cms_resources
