.resources
  .resources__container
    %p
      %h2
        The resource
        = @cms_resource.title
        has been successfully created.
    .back-btn
      = link_to 'cms resources', cms_resources_path, :class => 'cms-red-button'
