.resources
  .resources__container
    %h1 Order of Resources
    .all-resources
      %h2 All Resources
      .resources-wrapper
        %ul#resource-order.list
          - @cms_resources.each do |res|
            %li{:id => res.id, :class => 'res-item'}
              = res.title
      .back-btn
        .hidden-fileds
          %input{:type => 'hidden', :id => 'current_page'}
          %input{:type => 'hidden', :id => 'show_per_page'}
        #page-navigation
    .order-resources-container
      %h2 Current Order
      .order-resources
        %ul#resource-order-final.list
          - @cms_resources_order_list.each do |odr|
            - if odr.order_id != 'false'
              %li{:id => odr.id, :class => 'res-item ' + cycle('odd', 'even'), :data => {:order_id => odr.order_id}}
                = odr.title
        .array-holder{:data => {:array_value => ''}}
      .back-btn.margin-bottom-twenty-five
        %a{:herf => 'javascript://', :id => 'save-order', :class => 'button--green'}
          save resources order
    .back-btn
      = link_to 'back to resources', cms_resources_path, :class => 'button--grey'