@import "susy";

// breakpoints for devices
$desktop: 980px;
$tablet-desktop: 768px 980px;
$tablet: 768px;
$phone: 480px;
$small: 320px;
$tablet-max: max-width 768px;
$phone-max: max-width 480px;
$small-max: max-width 320px;

// random variables for sitewide use
$solidfire-red: #9d1b1b;
$cta-green: #75a25e;
$cta-green-hover: #8dc173;
$white: #FFF;
$alternate-gray: #f6f6f6;
$cta-grey: #ebebeb;
$cta-grey-hover: #d6d3d3;
$cta-blue-hover: #1A7AA2;
$cta-blue: #1D96BB;
$cta-red: #1D96BB;
$alt-grey: #fcfcfc;
$alt-grey-01: #f6f6f6;
$alt-grey-02: #fdfdfd;
$alt-grey-03: #f5f5f5;
$alt-grey-04: #fafafa;
$white-01: #fbfbfb;

//colors
$red-01: #CC1F26;
$red-02: #BC1E24;
$red-03: #AC1D22;
$red-04: #9C1C20;

$burgundy-01: #9b1d20;
$burgundy-02: #781619;

$orange-01: #e45125;
$orange-02: #c9461e;

$yellow-01: #FFCC00;
$yellow-02: #FFC200;
$yellow-03: #FFB800;
$yellow-04: #FFAE00;

$green-01: #2BB3A3;
$green-02: #27A495;
$green-03: #249487;
$green-04: #208579;

$aqua-01: #0CA2B3;
$aqua-02: #1892A5;
$aqua-03: #248397;
$aqua-04: #307389;

$blue-01: #459DC4;
$blue-02: #3F8FB6;
$blue-03: #3A82A7;
$blue-04: #347499;

$grey-01: #D8D8D8;
$grey-02: #A9A9A9;
$grey-03: #797979;
$grey-04: #4A4A4A;

$grey-nav: #606060;
$cms_nav: #f5f5f5;
$cms-dark-grey: #6D6E70;
$cms-purple: #9D70AC;
$cms-fuscia: #af49a4;
$cms-light-purple: #9D70AC;
$cms-light-blue: #5AC0ED;
$cms-dark-blue: #0067C5;
$cms-orange: #f77d00;
$cms-green: #69c54e;
$cms-dark-green: #006838;
$cms-red: #e00000;

$pg-bg:             #dcdcdc;
$rr-bg:             #232E39;
$rr-bg-hover:       darken($rr-bg, 10%);

$rr-height:         70px;
$rr-slant:          20px;
$rr-gutter:         1%;
$rr-width:          50%;



  // this function calculates rem values
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// adds a pixel value first for ie < 9
@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
  -webkit-backface-visibility: hidden;
}

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
  -webkit-backface-visibility: hidden;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


