@import "variables";

.mktoModalContent {
  padding: 30px !important;
}

label.mktoLabel {
  margin-bottom: 10px !important;
  margin-left: 10px !important;

}

#board, #investors, #analyst-reviews, #analyst-reviews-video, #analyst-reviews-esg, #analyst-quotes, #overview, #technology-partners, #contact, #get-started, .events,
#management, #channel-partners, #channel-partners-benefits, #channel-partners-key-benefits, #channel-partners-requirements, #channel-partners-tiers, #channel-partners-training
{
  width:100%;
  position: relative;
  float: left;
  margin-top: 120px;
  padding: 30px 20px 0 20px;


  .container, .events__container {
    background-color:transparent;
    @include container(960px);

    .col1 {
      @include span(2 of 12);
    }
  }

  .full-row {
    @include span(12 of 12);

    h1 {
      text-align: center;
      @include font-size(42px);
      font-weight: 300;
    }

    img {
      float: left;
      margin: 4px 25px 10px 0
    }
  }

  .col2 {
    @include span(8 of 12);
  }

  .col3 {
    @include span(2 of 12 last);
  }
}


// investors css


#investors, #analyst-reviews-video{
  margin-top: 70px;
  padding: 70px 20px;
}

#board .container, #investors .container, #overview .container {
  background-color:transparent;
  @include container(960px);
}

#board .full-row, #investors .full-row, #overview .full-row {
  @include span(12 of 12);
}

#board .container .col1, #investors .container .col1, #overview .container .col1 {
  @include span(2 of 12);
}

#board .container .col2, #investors .container .col2, , #overview .container .col2 {
  @include span(8 of 12);
}

#board .container .col3, #investors .container .col3 , #overview .container .col3 {
  @include span(2 of 12 last);
}


#investors h1{
  text-align: left;
}


//analyst reviews


#analyst-reviews, #analyst-reviews-video, #analyst-reviews-esg, #analyst-quotes {

  .col6 {
    @include span(6 of 12);
    margin: 0;
  }

  .col5 {
    @include span(5 of 12);
  }

  h3 {
    text-align: left;
    @include font-size(21px);
  }

  li{
    margin-bottom: 10px;
  }

  .rightContainer{
    text-align: center;
    padding-left: 30px;
  }

  .gmq_video{
    margin: auto;
    padding-bottom: 30px;

  }

  .gmq_image{
    width: 360px;
  }

  .gmqForm{
    p{
      color: #9c1d20;
    }

    margin: 0 0 0 40px;
  }


  .buttonContainer{
    text-align: right;
    margin-top: 60px;
  }

  .disclaimerText{
    @include font-size(10px);
    margin-top: 20px;
  }

  .disclaimerBold{
    font-weight: 600;
  }

  .full-row{
    .quote{
      margin: 0 5px 0 0;
    }

    .quoteLink{
      @include font-size(15px);
    }

    .quoteTitle
    {
      @include font-size(28px);
      line-height: 1.2em;
      font-weight: 400;
      color: $solidfire-red;
    }

    .quoteContainer{
      margin-bottom: 30px;
    }
  }
}

#analyst-reviews-esg{
  background-color: #D5D6D8;
  margin-top: 0;
  padding: 70px 20px;

  .full-row.quote{
    font-size: 20px;
    color: #9b1d20;
    font-style: italic;
  }

  .esg-video{
    @include font-size(18px);
    font-weight: 300;
  }

  .btn{
    margin-bottom: 10px;
  }
}

#analyst-quotes{
  .left{
    padding-right: 30px;
  }

  .right{
    padding-left: 30px;
  }
}


//company overview
#overview{
  .full-row{
    img{
      float: none;
      margin: auto;
    }
  }

}

.video{
 margin: 30px auto;
}

.awardLogos{
  margin-top: 20px;

  .logo{
    float: left;
    width: 25%;
    height: 132px;
    line-height: 132px;
    text-align: center;
    margin: 20px auto;

  }

  .logo img{
    max-height: 132px;
    vertical-align: middle;
    display: inline;
    margin: 0;
  }
}



//technology partners

#technology-partners{
  h2{
    text-align: center;
  }

  hr{
    border-top: solid 1px #bbb;
  }

  .technologyPartners:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .technologyPartners {
    margin-top: 50px;
  }

  .col2{
    @include span(2 of 12);
    float: none;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .col2:before{
    display: inline-block;
    vertical-align: middle;
  }


  .col10{
    @include span(9 of 12);
    float:none;
    display: inline-block;
    vertical-align: middle;
  }
}

//get started
#get-started, .bottomSection {
  .container {
    @include container;
  }

  .contact__container {
    background-color: transparent;
    @include container(960px);
    padding: 0 20px;
  }
}

#get-started{
  position: relative;
  float: left;
  width: 100%;
  color: $white;
  margin-top: 70px;

  h2 {
    margin-top: 0;
  }

  .col12{
    @include span(12 of 12 last);

    h1 {
      padding-top: 110px;
      text-align: left;
      @include font-size(42px);
      font-weight: 200;
      line-height: 2.5rem;
      line-height: 3rem;
    }
  }

  .rocketContainer{
    margin: auto;
    .rocket{
      margin: 60px 0 0 50px;
      float: left;
    }
  }

}

.bottomSection {
  position: relative;
  float: left;
  width: 100%;
  background-color: #313131;
  padding: 70px 0;
  color: $white;

  .col6 {
    @include span(6 of 12 last);
    float: left;

    p {
      color: $white;
      @include font-size(15px);
    }

    h3 {
      margin-bottom: 40px;
      max-width: 450px;
      @include font-size(24px);
    }

    ul {
      padding: 0;
    }

    li {
      margin-top: 15px;
      list-style-type: none;
      color: $white;
      @include font-size(15px);

      a {
        color: $white;
        text-decoration: none;
      }

      a:hover {
        transition: border-bottom 0.5s ease;
        border-bottom: 1px dotted white;
        color: #fff;
        text-decoration: none;
        padding-bottom: 5px;
      }
    }

    .icon-News:before {
      margin-right: 15px;
    }

    .helpfulResources {
      border-bottom: 1px dotted $white;
      padding-bottom: 15px;
      margin-top: 40px;

      p {
        @include font-size(24px);
        font-weight: 300;
      }

      img {
        float: left;
        margin: 20px 15px 0 0;
      }
    }
  }
  .col4 {
    @include span(4 of 12 last);
    float: right;

    p {
      color: $white;
      @include font-size(15px);
    }

    form {
      margin-top: 0px;
    }

    .formTitle {
      @include font-size(32px);
    }
  }
}


//contact

#contact{
  .top{
    padding-top: 70px;
  }

  span{
    font-weight: 400;
  }

  p{
    @include font-size(13px);
  }

  h3{
    margin: 0;
  }
  .full-row {
    img {
      margin: 70px 0 30px 0;
    }

    hr{
      margin-bottom: 0;
    }

    .col5 {
      @include span(5 of 12);
    }

    .col6 {
      @include span(6 of 12);
    }
  }
}

// events
.events__container {
  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.events-wrapper, .events-item {
  @include span(12 of 12 last);
}

.events-item {
  border-top: solid 1px #e5e5e5;
  margin-top: 25px;
  padding-top: 25px;
}

.events__calendar--month-header {
  @include span(12 of 12 last);
  @include font-size(28px);
  margin-top: 70px;
}

.events-item__date {
  @include span(2 of 12);
  text-align: center;
  @include font-size(20px);

  .events-item__date--month {
    color: #ababab;
    padding: 10px;
  }

  .events-item__date--day {
    color: #595959;
  }
}

.events-item__title {
  @include span(10 of 12 last);

  a {
    @include font-size(28px);
  }
}

.events-item__description {
  margin: 25px 0 0 0;

  a {
    @include font-size(16px);
    font-weight: 400;
  }
}

.events-item__more-link {
  margin-top: 25px;

  a {
    @include font-size(16px);
  }
}

.older-events {
  margin: 50px 0;
  float: left;
}

.events-archive-header {
  color: $grey-04;
  @include font-size(42px);
  line-height: 1em;
  font-weight: 200;
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 50px;
  display: none;
}


#channel-partners, #channel-partners-benefits, #channel-partners-key-benefits, #channel-partners-requirements, #channel-partners-tiers, #channel-partners-training{
  .full-row {
    p, ul li {
      @include font-size(16px);
      line-height: 24px;
    }

    span{
      font-weight: 500;
    }

    table{
      border-top: none;
      max-width: 800px;
      background: none;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 16px;
      width: 100%;
      margin-top: 50px;

      .tableHeader{
        background-color: #9c1c20;
        color: #fff;
      }

      td {
        border: 1px solid #a1a1a1;
        padding: 12px 8px;
        text-align: center;
      }

      .left{
        text-align: left;
      }
    }

    .col5{
      @include span(5 of 12 last);
      float: left;
    }

    .left-content{
      margin-right: 80px;
    }

    .quote-text{
      color: $solidfire-red;
      font-style: italic;
    }

    .redapt-logo{
      width: 200px;
      margin-right: 100%;
    }

    .learn-more{
      text-align: right;

      .get-started{
        margin-left: 20px;
      }
    }
  }
}

#channel-partners-tiers{
  padding-top: 70px;
  margin-top: 0;
}

#channel-partners{
  .buttons{
    margin-top: 20px;

    .second, .third{
      margin-left: 95px;
    }
  }
}

#channel-partners-benefits, #channel-partners-requirements, #channel-partners-training{
  .full-row{
    padding-bottom: 70px;
    padding-top: 50px;
  }
}

#channel-partners-key-benefits{
  .buttons{
    max-width: 730px;
    margin: 0 auto 40px;

    a{
      margin-top: 0;
    }

    .first, .second, .third{
      margin-right: 20px;
    }

    .second{
      background: #f48120;
    }

    .third{
      background: #e56524;
    }

    .fourth{
      background: #ce2026;
    }

    .second:hover, .third:hover, .fourth:hover{
      background: #555;
    }

  }
}

@media (max-width: $tablet) {
  #channel-partners, #channel-partners-benefits, #channel-partners-key-benefits, #channel-partners-requirements, #channel-partners-tiers, #channel-partners-training{
    padding-top: 0;
  }
  #channel-partners{
    .buttons {
      max-width: 400px;
      margin: auto;
      text-align: center;

      .second, .third{
        margin-left: 0px;
      }
    }
  }

  #channel-partners-benefits{
    .full-row {
      .col5 {
        width: 100%;
        float: none;
      }
    }
  }

  #channel-partners-key-benefits{
    .buttons{
      display: none;
    }
  }

  #contact {
    .top {
      padding-top: 35px;
    }
  }

  #technology-partners {
    .top {
      padding-top: 35px;
    }
    .col2, .col10 {
      display: block;
      width: 100%
    }

    .col2 {
      img {
        margin: 0 auto 10px;
        float: none;
      }
    }
  }

  .logo {
    width: 33%;
  }
  #get-started {
    .contact {
      .rocketContainer {
        h1 {
          @include font-size(32px);
        }

        .rocket {
          margin: 60px 0 0 0;
        }
      }
    }
  }

  .bottomSection {
    .col6, .col4 {
      width: 100%;
      margin: auto;

      h3 {
        max-width: 100%;
      }
    }

    .col4 {
      margin-top: 40px;
    }
  }
}


@media (max-width: $phone) {
  #site-content h1.technology-partners{
    margin-top: -100px;
  }

  #channel-partners{
    .full-row{
      img{
        float: none;
        margin: auto;
      }
    }
  }

  .logo {
    width: 50%;
  }

  #overview hr{
    display: none;
  }

  #get-started{
    .rocketContainer {
      h1 {
        @include font-size(20px);
        line-height: 1.2em;
      }

      .rocket{
        margin: 60px 0 0 0px;
      }
    }
  }

  #contact {
    .full-row {
      .col5, .col6 {
        width: 100%;
        float: none;
      }

      .col5{
        margin-top: 30px;
      }

      hr{
        display: none;
      }
    }
  }
}



@media (min-width: $small) and (max-width: $tablet) {
  #analyst-reviews, #analyst-reviews-video, #analyst-reviews-esg, #analyst-quotes {
    h2 {
      text-align: center;
    }

    .col5, .col6 {
      width: 100%;
    }

    .col5.gmqForm {
      margin: 0;
    }

    .full-row img {
      float: none;
      margin: 0 auto 20px;
    }

    .buttonContainer {
      text-align: center;
      margin: 20px 0;
    }

    .rightContainer {
      padding-left: 0;
    }

    .right {
      padding-left: 0px;
    }

    .analyst-review-hr {
      display: none;
    }

    .mktoForm {
      margin: auto;
    }
  }
}

//form
/* Add your custom CSS below */



.request-form {
  input[type=text], input[type=email], input[type=tel], textarea {

    font: normal normal 400 15px/22px "Source Sans Pro", sans-serif !important;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px;
    color: #5a5a5a;
    border: 1px solid #ccc;
    padding: 0 10px !important;
    width: 100% !important;
    height: 30px;
  }

  input:focus {
    box-shadow: none;
  }

  form{
    padding: 0 12px;
  }

  p {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    min-width: 300px;
  }

  .submit-button {
    background-color: #0CA2B3;
    color: $white;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border: none;
    margin-left: 105px;
    transition: background-color 0.5s ease;
    box-shadow: none;
  }

  .submit-button:hover {
    background-color: #248397;
    color: $white;
  }
}

