@import "variables";

#developers {
  width:100%;
  position: relative;
  float: left;
  margin-top: 70px;
  padding: 70px 20px 0 20px;

  .full-row {
    .developersTitle {

      color: $solidfire-red;
      text-align: left;
    }

    hr {
      width: 100%;
    }
  }

  hr{
    margin: 35px 0 0;
  }

  .container {
    background-color:transparent;
    @include container(960px);
  }

  .full-row {
    @include span(12 of 12);

    h1 {
      text-align: center;
      @include font-size(42px);
    }
  }

  .col6 {
    @include span(6 of 12);
  }

  .col5 {
    @include span(5 of 12);
    float: right;
    border: 1px #454545 solid;
    padding: 20px 10px;
    border-radius: 8px;
    margin-top: 32px;
    width: 37%;
  }

  .elio_rocket{
    margin: 40px 0;

  }

  .elio{
    max-width: 294px;
    margin: auto
  }


  form{
    margin: auto;
    width: 255px !important;
  }

  .formInstructions{
    padding: 0 40px;
  }

  @media (min-width: $small) and (max-width: $tablet) {
    padding: 30px 20px 0 20px;
    .col6 {
      width: 100%;
      margin-bottom: 30px;
    }

    .col5 {
      width: 100%;
      max-width: 325px;
      float: none;
      margin: 20px auto 0 auto;
    }

  }

  @media (min-width: $small) and (max-width: $phone) {
    hr{
      display: none;
    }
  }
}


