@import "variables";
#errors {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 30px 20px 0 20px;

  canvas{
    max-width: 600px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    margin: auto;
    display: block;
  }

  .container{
    @include container(960px);
  }

  .full-row {
    @include span(12 of 12);

    hr {
      background-color: #bbb;
      margin: 35px 0 0;

    }

    h1{
      margin-bottom: 0;
      padding-bottom: 10px;
      text-align: center;
    }

    p{
      text-align: center;
    }

    .previousPageLink{
      cursor: pointer;
    }
  }
}