@import "variables";

.header__container {
  margin-top: -130px;
}

.flash__array__guides__landingpage {
  @include container(960px);
  width:100%;
  position: relative;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    text-align: left;
  }

  h2 {
    @include font-size(20px);
    font-weight: 200;
    text-align: left;
  }

  ul li{
    line-height: 25px;
  }

  .buttonContainer {
    border: 1px #555 solid;
    border-radius: 5px;
    padding: 10px 30px 30px 30px;
    @include span(12 of 12);
    margin: 15px 0;

    p {
      text-align: center;
      font-weight: 400;
      @include font-size(24px);
      margin-bottom: 10px;
    }

    .asset__links__description {
      width: 33%;
      float: left;

      a {
        width: 250px;
        background-color: $cta-green;
        border: 1px solid $cta-green;
        border-radius: 5px;
        padding: 0.75em 1em;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        margin: 10px 20px;
        display: block;
        text-decoration: none;
        float: left;
        padding: 20px 0 18px 0;
      }

      a:last-child {
        margin-right: 0;
      }

      a.single{
        padding-top: 21px;
      }

      p {
        text-align: center;
        margin: 0 25px;
        font-weight: 300;
        @include font-size(16px);
      }
    }
  }
}

.flash__array__guides__container__lp.full-row {

  .description {
    float: left;
    width: 100%;
    margin: 20px 0 50px 0;
  }
}



@media (max-width: $tablet) {
  .flash__array__guides__landingpage {
    h1, h2 {
      text-align: center;
    }

    .buttonContainer {
      width: 100%;
      max-width: 350px;
      margin: 0 auto 30px auto;
      float: none;
      border: none;

      .asset__links__description {
        width: 100%;
        float: none;
      }
    }
  }
}

@media (max-width: $phone) {
  hr {
    display: none;
  }

}