@import "variables";

.great-feats {
  width:100%;
  position: relative;
  float: left;
  padding: 110px 20px 0 20px;
  background: image-url('great-feats/great-feats-bg.png')  no-repeat;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    @include font-size(36px);
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    color: #000;
    text-transform: uppercase;
    margin: 50px auto 10px;
    width: 100%;

    span {
      @include font-size(60px);
      text-transform: uppercase;
      color: $solidfire-red;
      text-align: center;
      margin: 20px 0 auto;
      font-weight: 400;
      border-bottom: dashed #000 3px;
      padding-bottom: 20px;
      display: inline-block;
      line-height: 60px;
      font-family: "Source Sans Pro",sans-serif;
    }
  }

  h2 {
    @include font-size(20px);
    font-weight: 200;
    text-align: center;
  }

  h3 {
    color: #4a4a4a;
  }
}

.great-feats-no-background-image {
  width: 100%;
  float: left;
  padding: 50px 20px 0 20px;
  background-color: #313131;
  text-align: center;
  min-height: 400px;

  p {
    color: #f4f4f4;
  }
}

.great-feats-iframe {
  width: 100%;
  float: left;
  padding: 0;
  background-color: #313131;
  text-align: center;
  min-height: 400px;
}

header.no__navigation .header-nav .column-1.align-left {
  margin: 0;
}

.great-feats__container {
  @include container(1160px);
}

.great-feats__logo-wrapper {
  @include span(12 of 12 last);
  text-align: left;
  margin-bottom: 50px;

  .great-feats__logo-image {
    @include span(4 of 12);

    img {
      margin: 0;
      padding: 0;
    }
  }

  .great-feats__logo-text {
    @include span(8 of 12 last);
    @include font-size(18px);
    line-height: 26px;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    margin-top: 50px;

    span {
      font-weight: 600;
      color: $solidfire-red;
      @include font-size(28px);
    }
  }
}

.main-tile-wrapper {
  @include span(12 of 12 last);
  border: solid 1px #979797;
  background-color: #FFF;

  .great-feats-main-tile {
    @include span(8 of 12);
    float: left;
    text-align: center;

    i.icon-Download {
      @include font-size(19px);
      margin-right: 5px;
      background-color: $solidfire-red;
      float: left;
    }

    .great-feats-sub-title--icons {
      width: 35%;
      float: left;
      padding-left: 5px;
      height: 60px;
    }

    .great-feats-sub-title--text {
      padding-top: 20px;
      @include font-size(22px);
      width: 60%;
    }

    .great-feats-sub-title--download-icon {
      background: image-url('great-feats/download-icon-large.png') no-repeat right center;
    }

    span {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .great-feats-main-form {
    @include span(4 of 12 last);


    .great-feats-main-form--wrapper {
      width: 90%;
      margin-top: 30px;
      border: solid 1px $grey-04;
      float: left;

      .great-feats-main-form--wrapper--header {
        background-color: #4a4a4a;
        padding: 10px;
        text-align: center;
        float: left;
        width: 100%;
        color: #FFF;
        @include font-size(20px);
        font-weight: 300;

        span {
          font-weight: 600;
        }

      }

      .great-feats-main-form--wrapper--form-body {
        background-color: #f5f5f5;
        height: 320px;
        float: left;
        width: 100%;

        .mktoForm {
          margin: 0 auto;
        }

        .mktoFieldWrap {
          margin-left: 10px !important;
        }

        .mktoButtonWrap {
          margin-left: 10px !important;
        }
      }
    }
  }

}

.bottom-content-other-resources {
  text-align: center;
  @include font-size(20px);

  hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
  }

  hr.other-resources-hr {
    border-top: 1px solid $grey-02;
    text-align: center;
    margin-top: 50px;
  }
  hr.other-resources-hr:after {
    content: 'You may also like these resources';
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 10px;
    color: #8c8b8b;
    @include font-size(24px);
    font-weight: 300;
    background-color: #f5f5f6;
    font-family: "Source Sans Pro",sans-serif;
    color: $grey-04;
  }
}

.great-feats-main-tile--background-esg {
  background: image-url('great-feats/esg-large.png') no-repeat left bottom #FFF;
}

.great-feats-main-tile--background-qos {
  background: image-url('great-feats/qos-large.jpg') no-repeat 450px bottom #FFF;
}

.great-feats-main-tile--background-gmq {
  background: image-url('great-feats/gmq-large.png') no-repeat right bottom #FFF;
}

.great-feats-main-tile--background-competitive-comparison {
  background: image-url('great-feats/comparison-paper-large.png') no-repeat right bottom #FFF;
}

.great-feats-main-tile--background-ezverify {
  background: image-url('great-feats/ezverify-large.png') no-repeat left bottom #FFF;
}

.great-feats-cta__rollover-div {
  position: absolute;
  bottom: 0;
}

.great-feats-cta-blue-grey-color {
  background-color: #5e6e7d;
}

.great-feats-cta-dark-grey-color {
  background-color: #5c5c5c;
}

.great-feats-cta-light-grey-color {
  background-color: #9a9a9a;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.great-feats-cta-purple-color {
  background-color: #593976;
}

.great-feats-cta-aqua-color {
  background-color: #576c80;
}

.great-feats-cta-solidfire-red-color {
  background-color: $solidfire-red;
}

.great-feats-sub-title--icons {
  width: 15%;
  height: 40px;
  float: left;
  padding-left: 5px;
}

.great-feats-sub-title--download-icon {
  background: image-url('great-feats/download-icon-small.png') no-repeat right center;
}

.great-feats-sub-title--play-icon {
  background: image-url('great-feats/play-icon.png') no-repeat right center;
}

.great-feats-sub-title--explore-icon {
  background: image-url('great-feats/go-icon.png') no-repeat right center;
}

.great-feats-sub-tile {
  width: 100%;
  float: left;
  border: solid 1px #979797;
}

.great-feats-sub-tile--margin-top {
  margin-top: 40px;
}

.great-feats-sub-tile--right-align {
  margin-right: 0;
  float: right;
}

.great-feats-main-tile--copy {
  @include font-size(18px);
  display: inline-block;

  h3 {
    text-align: left;
    @include font-size(22px);
    width: 65%;
    line-height: 30px;
    margin: 0;
    font-weight: 200;
  }
}

.great-feats-sub-tile__right-rollover--margin-top {
  margin-top: 30px;
}

.great-feats-sub-tile__right-rollover, .great-feats-sub-tile-wrapper-roll {
  width: 100%;
  float: left;
  position: relative;
  background-color: #313131;
  z-index:1002;
  display: none;

  p.great-feats-sub-tile__rollover-text {
    color: #FFF;
    padding: 20px;
    text-align: center;
    @include font-size(16px);

    span {
      display: inline-block;
      width: 100%;
      color: #fade39;
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      font-weight: 600;
      @include font-size(20px);
      text-transform: none;
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    }

    span.header-call-out-big {
      @include font-size(22px);
      border: none;
      color: #FFF;
      margin: 0;
      padding: 0;
      text-transform: none;
      font-family: "Source Sans Pro",sans-serif;
    }

    span.header-call-out-big--ezverify {
      @include font-size(18px);
    }

    span.small-text {
      @include font-size(18px);
      border: none;
      color: #FFF;
      font-weight: 300;
      margin: 0;
    }
  }

  span {
    font-weight: 600;
    text-transform: uppercase;
  }

  .great-feats-sub-title--icons {
    width: 15%;
  }

  .great-feats-sub-title--text {
    width: 80%;
    position: relative;
  }

}

.great-feats-sub-tile-wrapper {
  width: 30.66%;
  float: left;
  position: relative;
}

.great-feats-sub-tile-wrapper-updated {
  width: 100%;
  float: left;
  position: relative;
}

.great-feats-sub-tile-wrapper-updated-bottom {
  width: 30.66%;
  float: left;
  position: relative;
  margin-right: 4%;
}

.great-feats-sub-tile-wrapper-roll {
  width: 100%;
  position: absolute;
  display: none;
  background-color: #313131;
  height: 245px;
}

/*.great-feats-sub-tile-wrapper-updated:hover, .great-feats-sub-tile-wrapper-updated-bottom:hover {
  .great-feats-sub-tile-wrapper-roll {
    display: block;
  }
}*/

.home-promos__promo:hover {
  .home-promos__rollover {
    display: block;
  }
}

.great-feats-sub-tile-margin-right {
  margin-right: 4%;
}

.button--solidfire-red {
  background-color: $solidfire-red;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  @include font-size(18px);
  font-weight: 200;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--solidfire-red:hover{
  background-color: $cta-grey-hover;
  color: #FFF;
  text-decoration: none;
}

.great-feats-sub-title--cta {
  width: 100%;
  height: 65px;
  text-align: center;

  span {
    font-weight: 600;
    text-transform: uppercase;
  }

  i.icon-Download {
    margin-right: 10px;
    float: left;
  }

  .icon-image {
    margin: 0;
    padding: 0;
  }

}

.great-feats-sub-tile__image {
  width: 100%;
  float: left;
  overflow: hidden;
  min-height: 173px;

}

.great-feats-sub-title--padding-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  float: left;
  z-index: 100;
}

.great-feats-sub-title--text {
  width: 80%;
  float:left;
  padding-top: 10px;
  text-align: left;
  padding-left: 10px;
  z-index: 1;
}

a.tile-link {
  color: #FFF;
  @include font-size(20px);
  font-weight: 200;
}

a.tile-link:hover {
  color: #FFF;
}

.sidepan img {
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  transition: margin 1s ease;
}

.sidepan img:hover {
  margin-left: -200px;
}

.roll-overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  transition: margin 1s ease;
}

.zindex-change {
  z-index:1002;
}

.great-feats__form--header {
  background-color: #c80e1c;
  text-align: center;
  padding: 10px 0;

  img {
    margin: 0 auto;
    padding: 0;
  }
}

.great-feats__form--body {
  background-color: #313131;
  color: #f4f4f4;
  width: 460px;
  text-align: center;
  padding-bottom: 25px;

  p {
    color: #f4f4f4;
    @include font-size(20px);
  }
}

.great-feats__form--body input {
  width: 260px;
  height: 45px;
  text-align: center;
  @include font-size(20px);
}

.great-feats__form--body input[type="submit"] {
  width: 258px;
  height: 43px;
  border: solid 1px #FFF;
  text-transform: uppercase;
  @include font-size(20px);
  background-color: transparent;
  color: #f4f4f4;
}

.great-feats-iframe {

  p {
    color: #f4f4f4;
    @include font-size(20px);
  }
}

.great-feats-main-tile__qos {
  width: 80%;
  margin: 0 auto;
  text-align: left;

  h1 {
    margin: 38px auto 10px;

    span {
      @include font-size(34px);
      font-weight: 600;
      line-height: 42px;
    }
  }

  h3 {
    padding-bottom: 18px;
    @include font-size(18px);
    margin-bottom: 42px;
  }
}

.great-feats-main-tile__gmq {
  width: 80%;
  margin: 0 auto;
  text-align: left;

  h1 {
    margin: 38px auto 10px;
    text-align: left;
    @include font-size(42px);
    line-height: 42px;
    margin-top: 20px;

    span {
      text-align: left;
      @include font-size(42px);
      line-height: 42px;
    }
  }

  h3 {
    padding-bottom: 88px;
    width: 60%;
  }
}

.great-feats-main-tile__esg {
  width: 80%;
  margin: 0 auto;
  text-align: left;

  h1 {
    margin: 38px auto 10px;
  }

  h3 {
    padding-bottom: 130px;
    width: 60%;
    margin-left: 50%;
  }
}

.great-feats-main-tile__competitive-comparison {
  width: 60%;
  text-align: center;

  h1 {
    margin: 38px auto 10px;
    text-align: center;
    @include font-size(30px);
    line-height: 30px;
    margin-top: 20px;

    span {
      text-align: left;
      @include font-size(40px);
      line-height: 40px;
      border-bottom: none;
      padding: 10px 0;
      margin: 0;
      font-weight: 600;
    }

    span.solidfire {
      border-bottom: dashed #000 3px;
      @include font-size(56px);
      line-height: 56px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }

  h3 {
    padding-bottom: 34px;
    width: 90%;
    margin-left: 4%;
    text-align: center;
  }
}

.great-feats-main-tile__ezverify {
  width: 60%;
  text-align: center;
  float: right;

  h1 {
    margin: 38px auto 10px;
    text-align: center;
    @include font-size(36px);
    line-height: 40px;
    margin-top: 20px;

    span {
      text-align: left;
      @include font-size(54px);
      line-height: 54px;
      padding: 10px 0;
      margin: 0;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  h3 {
    padding-bottom: 50px;
    width: 90%;
    margin-left: 4%;
    text-align: center;
  }
}

.great-feats-sub-tile__text {
  color: #FFF;
  margin-left: 20px;
  width: 70%;

}

h4 {
  font-weight: 300;
  font-family: "Source Sans Pro",sans-serif;
  @include font-size(20px);
  line-height: 28px;
  margin: 10px;
  text-transform: uppercase;

  span {
    font-weight: 500;
    @include font-size(24px);
  }
}

.great-feats-sub-tile__text--gmq {
  text-transform: uppercase;

}

.great-feats-sub-tile__image--gmq {
  background: image-url('great-feats/gmq-small.png') no-repeat right center;
}

.great-feats-sub-tile__text--comparison {

  h4 {
    color: #313134;

    span.small {
      @include font-size(22px);
    }

    span {
      @include font-size(30px);
    }
  }

}

.great-feats-sub-tile__image--comparison {
  background: image-url('great-feats/comparison-paper-small.png') no-repeat right center;
}

.great-feats-sub-tile__image--video {
  background: image-url('great-feats/os-cloud-video.png') no-repeat right center;
  min-height: 173px;
}

.great-feats-sub-tile__text--ezverify {
  width: 60%;
  float: right;

  h4 {
    color: #313134;
    margin: 35px 0 0 0;
    text-align: center;
    font-weight: 400;

    span.small {
      @include font-size(22px);
    }

    span {
      @include font-size(30px);
      margin-top: 10px;
      display: inline-block;
      font-weight: 600;
    }
  }

  span.small {
    @include font-size(14px);
    display: inline-block;
    font-weight: 400;
    color: #000;
    margin-top: 20px;
  }

}

.great-feats-sub-tile__image--ezverify {
  background: image-url('great-feats/ezverify-small.png') no-repeat #abaeb0 right center;
  min-height: 173px;
}

.great-feats-sub-tile__text--esg {

  h4 {
    color: #FFF;
    text-align: center;
    margin-top: 20px;

    span.bottom-border {
      @include font-size(30px);
      display: inline-block;
      border-bottom: dashed #FFF 3px;
      line-height: 36px;
      padding-bottom: 5px;
    }

    span.small {
      @include font-size(18px);
      font-weight: 300;
      color: #FFF;
      margin-top: 10px;
      text-transform: none;
      display: inline-block;
    }
  }

}

.great-feats-sub-tile__image--esg {
  background: image-url('great-feats/esg-small.png') no-repeat #9199a4 right center;
  min-height: 173px;
}

.great-feats-sub-tile__text--qos {

  h4 {
    color: #302f2e;
    text-align: center;
    margin-top: 20px;
    text-transform: none;
    font-weight: 500;

    span.small {
      @include font-size(22px);
    }

    span.top-border {
      @include font-size(30px);
      display: inline-block;
      border-top: dashed #302f2e 3px;
      line-height: 36px;
      padding-bottom: 5px;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }

}

.qos-block {
  p.great-feats-sub-tile__rollover-text {
    margin-top:5px;
    font-size:22px;
  }
}

.great-feats-sub-tile__image--qos {
  background: image-url('great-feats/qos-small.png') no-repeat #9199a4 right center;
  min-height: 173px;
}

a.video-link {
  color: #FFF;
  @include font-size(18px);
}

.bottom-content-containers {
  float:left;
  margin-right:0;
  width: 100%;
}

.great-feats-sub-tile__right-rollover.block-two.great-feats-sub-tile__right-rollover--esg-margin-left {
  margin-left: 0;
}

.video-link:hover {
  .great-feats-cta-light-grey-color {
    background-color: $solidfire-red;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }

  .great-feats-sub-title--text {
    color: #FFF;
  }
}

.main-tile:hover {
  .main-tile-wrapper .great-feats-main-tile .great-feats-main-tile--cta {
    background-color: $solidfire-red;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
}

// media queries
@media (max-width: $desktop) {

  .main-tile-wrapper, .great-feats-hover {
    width: 100%;
    margin-bottom: 50px;
  }

  .great-feats-sub-tile-wrapper, .right-rail-small-content > .great-feats-sub-tile-wrapper {
    width: 38.66%;
  }

  .gmq-block, .qos-block, .ezverify-block, .comparison-block, .esg-block  {
    margin-top: 25px;
    margin-right: 3%;

    .great-feats-sub-tile--margin-top {
      margin-top: 0;
    }
  }

  .right-rail-small-content {
    width: 100%;
  }

  .great-feats-sub-tile__right-rollover {
    margin-left: 0;
  }

  .great-feats-sub-tile__image--ezverify {
    background-position: left center;
  }

  .great-feats-sub-tile__text--ezverify {
    width: 100%;
    float: none;
  }

  .great-feats-sub-tile__text--ezverify {
    span.small {
      text-align: center;
      width: 100%;
    }
  }

  .great-feats-sub-tile-wrapper, .right-rail-small-content > .great-feats-sub-tile-wrapper {
    width: 100%;
    background-color: #d4d5d5;
  }

  .great-feats-sub-tile__image--video, .great-feats-sub-tile__image--qos, .great-feats-sub-tile__image--comparison, .great-feats-sub-tile__image--esg, .great-feats-sub-tile__image--ezverify {
    background-position: center center;
  }

  .great-feats-sub-tile__text--comparison {
    text-align:center;
  }

  .great-feats-sub-tile {
    border: none;
  }

  .main-tile-wrapper .great-feats-main-tile {
    width: 50%;
  }

  .great-feats-main-tile__qos {
    width: 100%;
    margin-left: 20px;
  }

  .main-tile-wrapper .great-feats-main-form {
    width: 48%;
  }

  .main-tile-wrapper .great-feats-main-form .great-feats-main-form--wrapper {
    width: 98%;
  }

  .great-feats-main-tile--background-qos {
    background-position: 250px bottom;
  }

  .main-tile-wrapper .great-feats-main-form {
    margin: 0 1% 20px 1%;
    width: 45%;
  }

}

@media (max-width: $tablet) {

  .great-feats {
    position: static;
  }

  .great-feats-sub-tile-wrapper, .right-rail-small-content > .great-feats-sub-tile-wrapper {
    width: 100%;
  }

  .great-feats-sub-tile__image--gmq, .great-feats-sub-tile__image--esg, .great-feats-sub-tile__image--qos, .great-feats-sub-tile__image--comparison, .great-feats-sub-tile__image--ezverify, .great-feats-sub-tile__image--video {
    background-image: none;
    background-color: #9da4ab;
  }

  .great-feats-sub-tile__image--video, .great-feats-sub-tile__text--ezverify span.small {
    display: none;
  }

  .great-feats-sub-tile__text--ezverify, .great-feats-sub-tile__text--comparison, .great-feats-sub-tile__text--gmq, .great-feats-main-tile__competitive-comparison {
    width: 100%;
    text-align: center;
  }

  .great-feats-main-tile--background-ezverify, .great-feats-main-tile--background-competitive-comparison, .great-feats-main-tile--background-esg, .great-feats-main-tile--background-gmq, .great-feats-main-tile--background-qos {
    background-image: none;
  }

  .great-feats-main-tile__ezverify {
    width: 100%;
  }

  #site-content .great-feats h1 {
    margin-top: 25px;
    @include font-size(28px);
  }

  .great-feats-main-tile__esg h3, .great-feats-main-tile__gmq h3, .great-feats-main-tile__qos h3 {
    margin-left: 0;
    width: 100%;
    padding-bottom: 25px;
  }

  .great-feats-sub-tile__right-rollover.block-three.great-feats-sub-tile__right-rollover--compare-height {
    height: 145%;
    width: 100%;
    margin-left: 0;
  }

  .main-tile-wrapper .great-feats-main-form {
    width: 95%;
    margin-left: 20px;
  }

  .main-tile-wrapper .great-feats-main-tile {
    width: 95%;
  }

}

@media (max-width: $phone) {

  .great-feats__logo-wrapper .great-feats__logo-text, .great-feats__logo-wrapper .great-feats__logo-image {
    width: 100%;
  }

  .great-feats-main-tile__qos h1 span {
    @include font-size(30px);
  }

  .great-feats-main-tile--background-qos {
    background-image: none;
  }

  .great-feats-main-tile--copy h3 {
    width: 100%;
  }

  .great-feats-main-tile__ezverify h1 span, .great-feats-main-tile__competitive-comparison h1 span, .great-feats-main-tile__competitive-comparison h1 span.solidfire {
    text-align: center;
    @include font-size(40px);
  }

  .great-feats-main-tile__ezverify h3, .great-feats-main-tile__competitive-comparison h3 {
    margin-left: 0;
  }

}



