@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.slider{
  background-color: #323232;
}

.container {
  @include container;
}

.page-top-margin {
  margin-top: 180px;
}

/* home page header only classes */
.header__container .header__container--logo .header__container--logo__wrapper i.logo-icon, .header__container .header__container--main-nav .header__container--main-nav__item a, .header__container .header__container--burger-menu .header__container--burger-menu--image span, .header__container .header__container--burger-menu .header__container--burger-menu--image .burger-image {
  color: #FFF;
}

.header__container {
  border-bottom: none;
  background-color: transparent;
}

.header__container .header__container--bsp-container {
  background-color: rgba(121, 121, 121, .3);
  border-bottom: 2px solid #AC1D22;
}

.home-container {
  background-color:transparent;
  @include container(960px);
}

.home-section-one {
  width:100%;
  position: relative;
  float: left;
  background: image-url('home/HeroFPO1440x668.jpg') 50% 100% no-repeat;
  min-height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-color: #323232;
  padding: 0 20px;

  .home-section-one--copy-area {
    width: 63%;
    float: left;
    margin-right: 1.5%;

    h1 {
      color: #FFF;
      text-align: left;
      font-weight: 300;
      margin-top: 10px;
      line-height: 50px;
      margin-bottom: 0;

      span {
        display: block;
      }
    }

    p, li {
      color: #FFF;
    }

    ul {
      margin: 25px 0 0 25px;
    }

    li {
      line-height: 30px;
    }

    .button--aqua {
      margin-bottom: 30px;
    }
  }

  .home-section-one--form-content {
    width: 35%;
    float: left;
    margin-right: 0;

    .home-section-one--form-content--form-container {
      border: solid 1px #FFF;
      background-color: rgba(121, 121, 121, .3);
      width: 100%;
      margin-bottom: 25px;
      padding: 0 10px 25px 10px;

      #mktoForm_2759 {
        margin: 0 auto;
        width: 266px;

        input {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          border-radius: 0;
          height: 40px !important;
        }

        .mktoButton {
          background-color: transparent !important;
          border: solid 1px #FFF !important;
          padding-top: 5px !important;
          padding-bottom: 10px !important;
          max-height: 43px !important;
          margin-top: 20px;
        }

        .mktoButton:hover {
          color: $grey-02 !important;
        }
      }

      .home-section-one--form-content--form-container--header {
        text-align: center;
        @include font-size(26px);
        color: #FFF;
        font-weight: 300;
        margin-top: 25px;
        line-height: 34px;
      }
    }
  }
}

.home-section-two {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 0 20px;

  .home-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .why-solidfire-leader-wrapper {
    @include span(12 of 12);
    min-height: 350px;

    .why-solidfire-node {
      background: image-url('home/SolidFire-4Node-Right.jpg') no-repeat;
      position: absolute;
      width: 754px;
      height: 417px;
      margin-left: -350px;
    }

    .why-solidfire-leader {
      @include span(7 of 12 last);
      margin-top: 75px;
    }

    p {
      color: $grey-03;
    }
  }

  h2 {
    color: $red-01;
    @include font-size(33px);
  }
}

.home-section-three {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background: image-url('home/home-automation.jpg') repeat-x;


  .solidfire-automation-wrapper {
    @include span(12 of 12 last);
    position: relative;
    height: 420px;
    padding: 0 20px;

    .solidfire-automation {
      @include span(7 of 12);
      margin-top: 75px;
    }

    .solidfire-automation-esg {
      @include span(5 of 12 last);
    }
  }

  .home-container-absolute {}

  h2 {
    color: $red-01;
    @include font-size(33px);
  }

  .solidfire-automation--left-side-image {
    background: image-url('home/CoffeeCup.png') no-repeat;
    position: absolute;
    width: 236px;
    height: 235px;
    left: 0;
    top: 0;
  }

  .solidfire-automation--right-side-image {
    background: image-url('home/Keyboard.png') no-repeat;
    position: absolute;
    width: 481px;
    height: 243px;
    right: 0;
    top: 0;
  }

  .solidfire-automation--esg-paper {
    background: image-url('home/ESGPaper.png') no-repeat;
    position: absolute;
    width: 404px;
    height: 353px;
    margin-top: 67px;
  }

  .solidfire-automation-absolute {
    position: absolute;
    z-index: 500;
  }
}

.home-section-four {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 0 20px;

  .home-section-four-wrapper {
    @include span(12 of 12 last);
    margin-top: 50px;

    .whats-new-wrapper {
      @include span(7 of 12);

      .whats-new-title {
        width:80%;
        float: left;
        border-top: solid 2px $grey-01;
        border-bottom: solid 2px $grey-01;

        h3 {
          color: #000000;
          margin: 20px;
        }
      }

      .whats-new-item {
        width:80%;
        float: left;
        margin-top: 30px;

        .whats-new-item--icon {
          width: 15%;
          float: left;
          margin-top: 15px;
          margin-right: 10px;

          .icon-whats-new {
            @include font-size(33px);
            color: $green-02;
            border: solid 1px $green-02;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            -khtml-border-radius: 50%;
            border-radius: 50%;
            padding: 10px;
          }

        }
        .whats-new-item--content {
          width: 80%;
          float: left;

          .whats-new-item--title {
            width: 100%;
            float: left;
            @include font-size(18px);
            color: #000;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 22px;
          }

          .whats-new-item--body, .whats-new-item--news, .whats-new-item--blog {
            width: 100%;
            float: left;
            @include font-size(15px);
            color: $grey-02;
            font-weight: 200;
            line-height: 20px;
            margin: 5px 0;
          }

          .whats-new-item--read-more {
            width: 100%;
            float: left;

            a {
              color: $green-02;
              @include font-size(16px);
              text-transform: uppercase;
            }
          }
        }

      }
    }

    .event-wrapper {
      @include span(5 of 12 last);

      .events-title {
        border-top: solid 1px $grey-03;
        border-bottom: solid 1px $grey-03;

        h3 {
          color: #000000;
          margin: 20px;
        }
      }

      .event-details-date {
        font-weight: 500;
        margin: 25px 0 25px 20px;
        width: 100%;
        float: left;
        @include font-size(18px);
      }

      .event-details-body, .event-details-body p {
        width: 100%;
        float: left;
        color: $grey-02;
        margin-left: 20px;
      }

      .event-details-body p {
        margin-left: 0;
      }
    }
  }
}

.home-section-five {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 0 20px 80px 20px;
  background-color: $alt-grey;
  margin: 50px 0;
  border-top: solid 1px $grey-01;
  border-bottom: solid 1px $grey-01;

  h3 {
    color: #000;
    text-align: center;
    font-weight: 300;
    margin-top: 80px;
  }


  .customers-wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;

    .home-container {
      text-align: center;
    }

    .customer-image {
      background: image-url('home/customers-sprite.png') no-repeat;
    }

    .customer-one {
      height: 40px;
      width: 40px;
      display: inline-block;
      background-position: 0 0;
      margin-right: 40px;
    }

    .customer-one:hover {
      background-position: 0 -40px;
    }

    .customer-two {
      height: 40px;
      width: 90px;
      display: inline-block;
      background-position: -40px 0;
      margin-right: 40px;
    }

    .customer-two:hover {
      background-position: -40px -40px;
    }

    .customer-three {
      height: 40px;
      width: 112px;
      display: inline-block;
      background-position: -140px 0;
      margin-right: 40px;
    }

    .customer-three:hover {
      background-position: -140px -40px;
    }

    .customer-four {
      height: 40px;
      width: 110px;
      display: inline-block;
      background-position: -260px 0;
      margin-right: 40px;
    }

    .customer-four:hover {
      background-position: -260px -40px;
    }

    .customer-five {
      height: 40px;
      width: 122px;
      display: inline-block;
      background-position: -378px 0;
      margin-right: 40px;
    }

    .customer-five:hover {
      background-position: -378px -40px;
    }

    .customer-six {
      height: 40px;
      width: 120px;
      display: inline-block;
      background-position: -501px 0;
      margin-right: 40px;
    }

    .customer-six:hover {
      background-position: -501px -41px;
    }
  }

}


/* media queries */

@media (max-width: $desktop - 1) {
  .home-section-two .why-solidfire-leader-wrapper .why-solidfire-node {
    width: 70%;
  }
}

@media (max-width: $tablet - 1) {
  .home-section-one .home-section-one--copy-area, .home-section-one .home-section-one--form-content {
    width: 100%;
  }

  .home-section-two .why-solidfire-leader-wrapper .why-solidfire-node {
    display: none;
  }

  .home-section-two .why-solidfire-leader-wrapper .why-solidfire-leader {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .home-section-three {
    background-image: none;
    background-color: #e6e5e3;
  }

  .home-section-three .solidfire-automation--left-side-image, .home-section-three .solidfire-automation--right-side-image, .home-section-three .solidfire-automation-wrapper .solidfire-automation-esg {
    display: none;
  }

  .home-section-three .solidfire-automation-wrapper {
    height: auto;
    padding-bottom: 35px;
  }

  .home-section-three .solidfire-automation-absolute {
    position: relative;
  }

  .home-section-three .solidfire-automation-wrapper .solidfire-automation {
    width: 100%;
    margin-top: 0;
  }

  .home-section-three .solidfire-automation-wrapper .solidfire-automation p {
    text-align: center;
  }

  .home-section-four .home-section-four-wrapper .whats-new-wrapper, .home-section-four .home-section-four-wrapper .event-wrapper, .home-section-four .home-section-four-wrapper .whats-new-wrapper .whats-new-title {
    width: 100%;
  }

  .home-section-four .home-section-four-wrapper .event-wrapper {
    margin-top: 40px;
  }

  @media (max-width: $phone - 1) {
    .home-section-four .home-section-four-wrapper .whats-new-wrapper .whats-new-item .whats-new-item--icon .icon-whats-new {
      display: none;
    }

    .home-section-four .home-section-four-wrapper .whats-new-wrapper .whats-new-item .whats-new-item--content {
      width: 100%;
    }
  }
}




