@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
}

.page-top-margin {
  margin-top: 300px;
}

h2.no-margin-top {
  margin-top: -20px;
}

i.logo-icon.icon-SFNTAPP-HZ-Logo-Black.animation-logo {
  display: block;
  color: $red-01;
  font-size: 1.25rem;
  position: relative;
  top: 58px;
  left: 20px;
}

img.banner-nodes {
  position: relative;
  top: 20px;
}

@-webkit-keyframes slideUp { from { opacity:0; margin-top: 50px;} to { opacity:1; margin-top: 0px;} }
@-moz-keyframes slideUp { from { opacity:0; margin-top: 50px;} to { opacity:1; margin-top: 0px;} }
@keyframes slideUp { from { opacity:0; margin-top: 50px;} to { opacity:1; margin-top: 0px;} }


#red-overlay-fade-out {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: white;
  min-width: 100%;
  min-height: 100%;
}

.fade-in-three {
  opacity:0;  /* make things invisible upon start */
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.slide-up {
  margin-top: 50px;
  opacity: 0;
  -webkit-animation:slideUp ease-in ;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:slideUp ease-in ;
  animation:slideUp ease-in ;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.3s;
  -moz-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;

  .button-white-outline.press-link {
    background-color: transparent;
    margin-left: 15px;
    padding: 8px 15px;
    @include font-size(14px);
  }

  h1 {
    margin-top: 100px;
  }

  .button-red.red-changes {
    padding: 10px 20px;
    @include font-size(14px);
  }

  .button-white-outline.press-link:hover {
    color: #CCC;
  }

  img {
    margin-top: 50px;
  }
}

/* home page header only classes */
.header__container .header__container--logo .header__container--logo__wrapper i.logo-icon, .header__container .header__container--main-nav .header__container--main-nav__item a, .header__container .header__container--burger-menu .header__container--burger-menu--image span, .header__container .header__container--burger-menu .header__container--burger-menu--image .burger-image {
  color: #FFF;
}

.header__container {
  border-bottom: none;
  background-color: transparent;
}

.header__container .header__container--bsp-container {
  background-color: rgba(121, 121, 121, .3);
  border-bottom: 2px solid #AC1D22;
}

.home-container {
  background-color:transparent;
  @include container(960px);
}

.home-section-one {
  width:100%;
  position: relative;
  float: left;
  background: image-url('home/HeroBackGround-1.jpg') 50% -100px no-repeat;
  min-height: 737px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-color: #FFF;
  padding: 0 20px;

  .home-section-one--full-racks {
    position: relative;
    top: -90px;
    opacity: 0;
    @include span(6 of 12);

    img {
      margin: 0;
    }
  }

  .home-section-one--content {
    @include span(6 of 12 last);
    position: relative;

    h1 {
      font-weight: 400;
      color: $white;
    }

    .bottom-copy {
      width: 90%;
      border-top: 1px solid $grey-02;
      margin-top: 50px;

      p {
        @include font-size(16px);
        font-weight: 500;
      }
    }
  }
}

.home-section-two {
  width:100%;
  position: relative;
  padding: 0 20px;
  float: left;
  margin-top: 50px;
  padding-bottom: 50px;

  span {
    position: relative;
    top: 1px;
    font-size: 22px;
  }

  .home-container {
    margin-top: 0;
  }

  .home-section-two--item-wrapper, .home-section-two--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 5%;

    .item-wrapper-red {
      border-top: 1px solid $red-01;
      padding-top: 15px;
      margin-top: 15px;

      a {
        color: $red-01;
        text-transform: uppercase;
        font-weight: 600;
      }

      a:hover {
        color: $red-04;
      }
    }

    .icon-ScaleOutNew, .icon-ProvisionIcon, .icon-GuaranteedTotalPerf {
      color: $red-01;
      @include font-size(50px);
      margin-bottom: 25px;
      display: block;
    }

    p {
      font-weight: 300;
    }
  }

  .home-section-two--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 0;
  }
}

.home-section-three {
  padding: 0 20px;
  padding-bottom: 40px;

  h2 {
    padding: 10px 0;
    margin-bottom: 0;
  }

  span {
    font-size: 32px;
    position: relative;
    top: 1px;
    left: 5px;
  }

  .span6, .span6right {
    img {
      position: absolute;
    }
  }
}

.home-section-four {
  padding: 0 20px;
  margin-bottom: 100px;

  #home-card-one, #home-card-two, #home-card-three{
    margin-right: 20px;
    margin-bottom: 20px;
    height: 320px;

    .front, .back {
      border: 1px solid $grey-02;
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 20px;
      border-radius: 5px;
      height: 320px;
    }

    .back {
      background-color: $aqua-01;

      p{
        color: $white;
        @include font-size(18px);
        font-weight: 400;
        margin:10px 0 0;
      }

      ul{
        color: $white;
        @include font-size(14px);
        font-weight: 400;
        padding-left: 15px;
      }

      a.button-white-outline {
        font-size: 14px;
        padding: 5px 10px;
        float: right;

      }
    }
  }

  .span12 {
    padding-top: 40px;
  }
}

.angle-section-1 {
  .content {
    height: 600px;
    padding: 80px 0px;
  }

  h2 {
    margin-bottom: 50px;
  }

  span {
    font-size: 24px;
    position: relative;
    top: 1px;
  }

  span.blog-author, span.blog-date, span {
    font-size: 16px;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    color: $grey-04;
    font-weight: 300;
    line-height: 24px;
  }

  h4.blog-title, h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  a span {
    color: $red-01;
    font-size: 24px;
  }
}

.angle-section-1, .home-section-four {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: transparent;
  border: none;

  .home-container {
    margin-top: 0;
  }

  h2 {
    padding: 10px 0;
  }

  .home-section-two--item-wrapper, .home-section-two--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 5%;

    h4 {
      margin-bottom: 10px;
    }

    .item-wrapper-red {
      border-top: 1px solid $red-01;
      padding-top: 15px;
      margin-top: 15px;

      a {
        color: $red-01;
        text-transform: uppercase;
        font-weight: 600;
      }

      a:hover {
        color: $red-04;
      }
    }

    .icon-BlogP1, .icon-EventP1 {
      color: $grey-04;
      @include font-size(40px);
      margin-bottom: 25px;
      display: block;
    }

    p, ul {
      font-weight: 500;
    }

    ul {
      padding-left: 25px;
    }

    .uppercase-red-link {
      margin-top: 5px;
      a {
        color: $red-01;
        text-transform: uppercase;
        font-weight: 600;
      }

      a:hover {
        color: $red-04;
      }
    }

  }

  .home-section-two--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 0;
  }
}

.angle-section-0, .angle-section-1{
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;

  .content {
    max-width: 100%;
    overflow: hidden;
  }
}

.angle-section-0 {
  span {
    font-size: 24px;
    position: relative;
    top: 1px;
  }
}

.angle-section-0, .angle-section-2 {
  h2 {
    color: whitesmoke;
    text-align: center;
    font-weight: 300;
    @include font-size(28px);
    padding-top: 50px;
    padding-bottom: 0;
  }

  .fit-container-relative {
    text-align: center;
  }

  .customer-logos {
    text-align: center;

    .paypal-image {
      width: 15%;
      display: inline-block;
      margin: auto;
      float: left;
      margin-top: 12px;
      margin-right: 30px;
    }

    .ebay-image {
      width: 15%;
      display: inline-block;
      margin: auto;
      float: left;
      margin-top: 6px;
      margin-right: 45px;
    }

    .endicia-image {
      width: 15%;
      display: block;
      float: left;
      margin-right: 60px;
      margin-top: 7px;
    }

    .sungard-image {
      width: 15%;
      display: inline-block;
      margin: auto;
      float: left;
      margin-top: 14px;
      margin-right: 60px;
    }

    .ezverify-image {
      width: 15%;
      display: inline-block;
      margin: auto;
      float: left;
      margin-top: 3px;
    }
  }

  .learn-how {
    border-top: $grey-02 1px solid;
    width: 200px;
    margin: 30px auto;
    padding-bottom: 50px;
    padding-top: 10px;

    a {
      color: whitesmoke;
      text-transform: uppercase;
      @include font-size(16px);
    }

    a:hover {
      color: $grey-03;
    }
  }
}

.angle-section-1 {
  .angle-section-1-content {
    width: 800px;
    max-width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }
}

.right-double-angle-quotes {
  @include font-size(24px);
}

.header__container {
  background-color: transparent;
}

.header__container .header__container--bsp-container {
  background-color: #bb282a;
}

.header__container .header__container--bsp-container a {
  font-weight: 500;
}

.icon-SFNTAPP-HZ-Logo-Black {
  color: $red-01;
}

.header__container .header__container--logo .header__container--logo__wrapper i.logo-icon {
  color: $red-01;
}

.header__container .header__container--main-nav .header__container--main-nav__item a, .header__container .header__container--burger-menu .header__container--burger-menu--image span, .header__container .header__container--burger-menu .header__container--burger-menu--image .burger-image {
  color: $grey-04;
  font-weight: 600;
}

.header__container .header__container--bsp-container a {
  color: $grey-01;
}

.header__container--home-style-01 {
  background-color: #FFF;
  border-bottom: solid 1px #D8D8D8;
  margin-top: 0;
}

.header__container--home-style-02 {
  background-color: #797979;
  border-bottom: none;
}

.header__container--home-style-03 {
  color: #A9A9A9;
}

.header__container--home-style-04 {
  color: #CC1F26;
}

/* media queries */

@media (max-width: $desktop - 1) {
  .home-section-two .why-solidfire-leader-wrapper .why-solidfire-node {
    width: 70%;
  }

  .angle-section-1-content{
    height: 630px
  }

  .slide-up .button-white-outline.press-link {
    margin-left: 0;
    @include font-size(14px);
  }

  .slide-up {
    h1 {
      margin-top: 50px;
    }
  }
}

@media(min-width: $tablet) {
  h2.no-margin-top.investment {
    margin-top: -30px;
  }

  .grey-text {
    color: $grey-01 !important;
  }

  .white-text {
    color: white !important
  }

  .home-section-one--content {
    top: -90px;

    h1 {
      color: $white-01;
    }

    .bottom-copy {
      p {
        color: $grey-01;
      }

      span.bold a {
        color: $grey-01;
        text-decoration: underline;
      }
    }
  }

  .span4middle {
    @include span(4 at 5 of 12);
  }

  .span4last {
    @include span(4 of 12 last);
  }

  .angle-section-1 {
    .content {
      height: 550px;
    }
  }
}

@media(min-width: 835px) {
  .span6, .span6right {
    padding-top: 200px;
  }

  .span6 {
    img {
      top: 70px;
    }
    p {
      width: 80%;
    }
  }

  .span6right {
    padding-left: 100px;
    img {
      top: 20px;
      right: 100px;
    }
  }
}

@media(max-width: 834px) {
  .span6, .span6right {
    @include span(12 of 12);
    p {
      width: 50%;
    }
  }

  .span6 {
    padding-top: 200px;
  }

  .span6right {
    padding-top: 240px;
  }

  .span6 {
    img {
      top: 70px;
    }
  }

  .span6right {
    padding-left: 0;
    img {
      top: 430px;
      left: 0px;
    }
  }
}

@media(min-width: 823px) {
  .angle-section-0 {
    .content {
      height: 360px;
    }
  }
}

@media(max-width: 822px) {
  .angle-section-0 .customer-logos .paypal-image, .angle-section-0 .customer-logos .ebay-image, .angle-section-0 .customer-logos .endicia-image, .angle-section-0 .customer-logos .sungard-image, .angle-section-0 .customer-logos .ezverify-image {
    display: inline-block;
    width: 100%;

    img {
      margin: 10px auto;
    }

    .content {
      height: 550px;
    }
  }
}

@media (max-width: $tablet - 1) {
  h2.no-margin-top.happening {
    margin-bottom: 0;
  }

  .grey-text {
    color: $grey-01 !important;
  }

  .white-text {
    color: white !important
  }

  .header__container {
    background-color: transparent !important;
  }

  .home-section-one {
    h1 {
      padding-top: 50px;
    }
  }

  .home-section-one .home-section-one--full-racks {
    display: none !important;
    opacity: 0 !important;
  }

  .home-section-one .home-section-one--content {
    width: 100%;
  }

  .home-section-two .home-container {
    margin-top: -200px;
  }

  .home-section-one--content {
    top: 10px;
    h1 {
      color: $white-01;
    }

    .bottom-copy {
      p {
        color: $grey-01;
      }

      span.bold a {
        color: $grey-01;
        text-decoration: underline;
      }
    }
  }

  .home-section-one {
    margin-top: 30px;
  }

  .angle-section-1 {
    .content {
      height: 950px;
    }
  }

  .span4, .span4middle, .span4last {
    @include span(12 of 12);
    #home-card-one, #home-card-two, #home-card-three {
      width: 100%;
    }
  }

  .angle-section-1-content{
    height: 1100px
  }

  .page-top-margin {
    margin-top: 80px;
  }

  .angle-section-1, .home-section-two {
    .home-section-two--item-wrapper, .home-section-two--item-wrapper--last {
      width: 100%;
    }

    i {
      margin-top: 40px;
    }
  }

  .home-section-four {
    i {
      margin-top: 40px;
    }

    .home-section-two--item-wrapper, .home-section-two--item-wrapper--last {
      width: 100%;
    }
  }

  .home-section-three .ultimate-storage-investment-protection-left, .home-section-three .ultimate-storage-investment-protection-right, .home-section-three p {
    width: 100%;
  }

  .home-section-three .ultimate-storage-investment-protection-left {
    border-bottom: solid 1px $grey-03;
  }

  .home-section-four .agile-data-centers .cal-logo, .home-section-four .agile-data-centers .one-logo {
    margin-top: 30px;
  }

}

@media(max-width: 767px) {
  .header__container {
    background-color: white;
  }
}

@media (max-width: $phone - 1) {
  h2.no-margin-top.investment {
    margin-top: -30px;
  }
  .home-section-one {
    h1 {
      padding-top: 50px;
    }
    min-height: auto;
    padding-bottom: 200px;
  }

  .header__container {
    background-color: transparent !important;
  }
  .home-section-one--content {
    h1 {
      color: $grey-04;
    }

    .bottom-copy {
      p {
        color: $grey-04;
      }

      span.bold a {
        color: $red-01;
        text-decoration: none;
      }
    }
  }
  .home-section-one .home-section-one--content {
    width: 100%;
  }

  .home-section-two .home-container {
    margin-top: -30px;
  }

  .home-section-two {
    margin-top: -100px;
  }
}



