@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

a#how-to-buy {
  color: $red-01
}

a.how-to-buy-mobile {
  color: $red-01
}

.container {
  @include container;
}

.container {
  background-color:transparent;
  @include container(960px);
}


.angle-section-0 {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
}

.angle-section-0 {
  margin-top: 25px;

  h1 {
    text-align: left;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .fit-container-relative {
    text-align: center;
  }

  .how-to-buy-left-column {
    width: 52%;
    float: left;
    margin-right: 2%;

    p {
      text-align: left;
    }
  }

  .how-to-buy-right-column {
    width: 46%;
    float: left;
    margin-right: 0;

    .how-to-buy-request-demo-wrapper {
      width: 100%;
      float: left;
      background-color: #FFF;
      border: solid 1px $grey-03;
      min-height: 100px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      margin-top: 75px;

      .button-red {
        @include font-size(16px);
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 0;
      }

      h3 {
        margin-bottom: 0;
        margin-top: 40px;
      }

      p {
        margin-top: 0;
      }
    }
  }

  .feature-block-margin {
    padding: 0 0 100px 0;
  }

  .features-wrapper-left {
    width: 46%;
    float: left;
    margin-right: 4%;
    margin-top: 50px;
  }

  .features-wrapper-right {
    width: 50%;
    float: left;
    margin-right: 0%;
    margin-top: 50px;
  }

  .icon-StorageNodes, .icon-ServiceProviders, .icon-ConvergedInfrastructure, .icon-SoftwareAsCommSW {
    display: block;
    float: left;
    @include font-size(42px);
    width: 10%;
    margin-right: 6%;
    color: $red-01;
  }

  .feature-text {
    width: 84%;
    float: left;

    a {
      float: left;
      display: inline-block;
      margin-top: 15px;
      text-align: left;
    }

    a:hover {
      color: $red-04;
    }
  }

  span {
    text-align: left;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    font-weight: 300;
    @include font-size(16px);
    line-height: 26px;
    color: $grey-04;
    display: inline-block;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    @include font-size(16px);
    font-weight: 600;
  }
}

#inline-demo {
  display: none;

  h3 {
    text-align: center;
  }

  #mktoForm_1087 {
    margin: 0 auto;
  }

  button.mktoButton {
    background-color: $red-01;
  }

  button.mktoButton:hover {
    background-color: $red-04;
  }
}

@media (min-width: $tablet) {
  .top-section-margin {
    margin-top: 50px;
  }
}

@media (max-width: $tablet - 1) {
  .angle-section-0 {
    margin-top: -90px;
  }

  .top-section-margin {
    margin-top: 70px;
  }

  .angle-section-0 .how-to-buy-left-column, .angle-section-0 .how-to-buy-right-column, .angle-section-0 .features-wrapper-left, .angle-section-0 .features-wrapper-right {
    width: 100%;
  }
}

@media (max-width: $phone) {
  .how-to-buy-section-one {
    .span6{
      width: 100%;
    }

    .page-top-margin{
      margin-top: 0px;
    }
  }
}

