@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon/icomoon.eot');
  src:font-url('icomoon/icomoon.eot#iefix') format('embedded-opentype'),
  font-url('icomoon/icomoon.svg#icomoon') format('svg'),
  font-url('icomoon/icomoon.woff') format('woff'),
  font-url('icomoon/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SFNTAPP-HZ-Logo-Black:before {
  content: "\e918";
}
.icon-Comparison:before {
  content: "\e917";
}
.icon-managedhosting:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e915";
}
.icon-performance:before {
  content: "\e912";
}
.icon-provision:before {
  content: "\e913";
}
.icon-scale:before {
  content: "\e914";
}
.icon-VAAI:before {
  content: "\e910";
}
.icon-CloudDatabase:before {
  content: "\e904";
}
.icon-PaaS:before {
  content: "\e905";
}
.icon-Dev-Test:before {
  content: "\e906";
}
.icon-SaaS:before {
  content: "\e907";
}
.icon-IaaS2:before {
  content: "\e908";
}
.icon-SRM:before {
  content: "\e909";
}
.icon-SIOCQoS:before {
  content: "\e90a";
}
.icon-PowerShell:before {
  content: "\e90b";
}
.icon-SPBM:before {
  content: "\e90c";
}
.icon-vRealize:before {
  content: "\e90d";
}
.icon-vCenter:before {
  content: "\e90e";
}
.icon-VVOLQoS:before {
  content: "\e90f";
}
.icon-VASA:before {
  content: "\e911";
}
.icon-SoftwareAsCommSW:before {
  content: "\e901";
}
.icon-ConvergedInfrastructure:before {
  content: "\e902";
}
.icon-AsAService:before {
  content: "\e903";
}
.icon-pig:before {
  content: "\e900";
}
.icon-uniE808:before {
  content: "\e808";
}
.icon-QoS:before {
  content: "\e809";
}
.icon-X:before {
  content: "\e80a";
}
.icon-RapidRespond:before {
  content: "\e80b";
}
.icon-Consolidate:before {
  content: "\e80c";
}
.icon-DevMon:before {
  content: "\e80d";
}
.icon-Speedup:before {
  content: "\e80e";
}
.icon-CTAarrow:before {
  content: "\e807";
}
.icon-ProvisionIcon:before {
  content: "\e802";
}
.icon-BlogP1:before {
  content: "\e803";
}
.icon-GuaranteedTotalPerf:before {
  content: "\e804";
}
.icon-ScaleOutNew:before {
  content: "\e805";
}
.icon-EventP1:before {
  content: "\e806";
}
.icon-InfoIcon:before {
  content: "\e801";
}
.icon-analystreporticon:before {
  content: "\e637";
}
.icon-datbaseicon1:before {
  content: "\e638";
}
.icon-refarchicon:before {
  content: "\e639";
}
.icon-productdocicon:before {
  content: "\e63a";
}
.icon-openstackicon:before {
  content: "\e63b";
}
.icon-GooglePlus:before {
  content: "\e630";
}
.icon-Instagram:before {
  content: "\e631";
}
.icon-Youtube:before {
  content: "\e632";
}
.icon-SlideShare:before {
  content: "\e633";
}
.icon-Twitter:before {
  content: "\e634";
}
.icon-Facebook:before {
  content: "\e635";
}
.icon-podcast2:before {
  content: "\e636";
}
.icon-IaaS:before {
  content: "\e616";
}
.icon-blog:before {
  content: "\e627";
}
.icon-ResourcesHP:before {
  content: "\e62d";
}
.icon-NewsPress:before {
  content: "\e62e";
}
.icon-podcasts:before {
  content: "\e62f";
}
.icon-OpenStack:before {
  content: "\e626";
}
.icon-ExpertTier3:before {
  content: "\e614";
}
.icon-ActiveIQ:before {
  content: "\e61a";
}
.icon-SecureAssist:before {
  content: "\e61e";
}
.icon-247:before {
  content: "\e621";
}
.icon-ProactiveSupport:before {
  content: "\e622";
}
.icon-ServiceProviders:before {
  content: "\e623";
}
.icon-VMware:before {
  content: "\e624";
}
.icon-iconAI:before {
  content: "\e625";
}
.icon-icon_GlobalEfficiencies:before {
  content: "\e628";
}
.icon-icon_DataAssurance:before {
  content: "\e629";
}
.icon-icon_Automation:before {
  content: "\e62a";
}
.icon-icon_GuarPerformance2:before {
  content: "\e800";
}
.icon-icon_GuaranteedPerformance:before {
  content: "\e62b";
}
.icon-icon_ScaleOut:before {
  content: "\e62c";
}
.icon-icon_playVideo22:before {
  content: "\e919";
}
.icon-icon_playVideo2:before {
  content: "\e61d";
}
.icon-icon_AccelerateDatabase:before {
  content: "\e61f";
}
.icon-icon_BuildPrivateCloud:before {
  content: "\e620";
}
.icon-Resources:before {
  content: "\e601";
}
.icon-Virtualization:before {
  content: "\e607";
}
.icon-ElementX:before {
  content: "\e608";
}
.icon-VDI:before {
  content: "\e60c";
}
.icon-CloudOrchestration:before {
  content: "\e60f";
}
.icon-DataProtection:before {
  content: "\e610";
}
.icon-Menu:before {
  content: "\e611";
}
.icon-Support:before {
  content: "\e612";
}
.icon-StorageNodes:before {
  content: "\e613";
}
.icon-Careers:before {
  content: "\e615";
}
.icon-Blog2:before {
  content: "\e617";
}
.icon-ContactUs:before {
  content: "\e618";
}
.icon-PartnerPortal:before {
  content: "\e619";
}
.icon-SolutionsOverview:before {
  content: "\e61b";
}
.icon-ElementOS:before {
  content: "\e61c";
}
.icon-SFhztLogo:before {
  content: "\e600";
}
.icon-whitepapericon:before {
  content: "\e60e";
}
.icon-RightArrow20:before {
  content: "\e60b";
}
.icon-LeftArrow20:before {
  content: "\e60d";
}
.icon-rightArrow:before {
  content: "\e602";
}
.icon-Events:before {
  content: "\e603";
}
.icon-Blog:before {
  content: "\e604";
}
.icon-News:before {
  content: "\e605";
}
.icon-Download:before {
  content: "\e606";
}
.icon-Webinars:before {
  content: "\e60a";
}
