@import "variables";
@import "jquery-anyslider";


#elementOS{
  background-image: image-url("landing_pages/backgroundorigamedic.jpg");
  .container {
    background-color: transparent;
    @include container(960px);
  }

  .full-row {
    @include span(12 of 12);

    h1{
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    }

    h2, h3{
      text-align: center;
    }

    .center{
      text-align: center;
      @include font-size(24px);
    }

    .announcing-os-container{
      margin-top: 70px;
      display: inline-block;
    }

    .button-container{
      text-align: center;

      .button--green{
        margin-top: 50px;
      }
    }

    .div-one, .div-two, .div-three{
      float: left;
      width: 300px;
      height: 254px;
      padding: 25px;
      text-align: center;
      background-image: image-url("landing_pages/element-os-small-bg.png");

        p{
          color: #fff;
          @include font-size(28px);
          font-weight: 400;
          line-height: 30px;
        }

        a{
          color: #fff;
          @include font-size(17px);
          text-transform: uppercase;
        }
    }

    .div-one{
      margin-right: 19px;
      background-image: image-url("landing_pages/element-os-small-bg-blue.png");
        p{
          margin-bottom: 110px;
        }
    }

    .div-two{
      margin-right: 19px;
      background-image: image-url("landing_pages/element-os-small-bg-green.png");
      p{
        margin-bottom: 80px;
      }
    }

    .div-three{
      background-image: image-url("landing_pages/element-os-small-bg-purple.png");

      p{
        margin-bottom: 60px;
      }
    }

    .enhancements-container{
      margin-top: 80px;
      max-width: 940px;
      width: 100%;
      margin-bottom: 60px;
      display: inline-block;

      .enhancements-text{
        display: inline-block;
        background-color: rgba(0, 0, 0, .60);
        padding: 15px 90px 20px;

        p{
          color: #fff;
          @include font-size(28px);
          text-align: center;
        }
      }

      .enhancements-left, .enhancements-right{
        max-width: 455px;
        width: 100%;
        float: left;
        background-color: rgba(0, 0, 0, .50);
      }

      .enhancements-spacer{
        width: 30px;
        background-color: rgba(0, 0, 0, .60);
        height: 1017px;
        float: left;
      }
    }

    .dataprotection, .synchronous-replication, .scheduler-manager, .snapshot-replication, .security, .vlan, .ldap{
      padding: 30px 0;
      max-width: 400px;
      margin: auto;
      text-align: center;
      border-bottom: #fff 1px dotted;

      .title{
        color: #fff;
        @include font-size(24px);
      }

      p{
        color: #fff;
      }
    }

    .scheduler-manager, .ldap{
      border: 0;
    }

    .vlan, .ldap{
      padding: 40.6px 0;
    }
  }
}

#logo-slider{
  position: absolute;
  top: 30px;
  z-index: 100;
  left: 130px;
  width: 170px;
}

#dell-training #logo{
  position: inherit;
}

#gmq, #esg, #gmq_b, #opestack__getting__it__right, #storage__mrd__template, #net_app_lp, #dell-training, #elementOS{
  width: 100%;
  position: relative;
  float: left;
  margin-top: 70px;
  padding: 70px 20px 0 20px;
}

#lp_video {
  width: 100%;
  position: relative;
  float: left;
  background-color: $cta-green;

  .videoContainer{
    .col6 {
      @include span(6 of 12);
      float: left;
      margin: 0 !important;

      .text {
        position: relative;
        max-width: 510px;
        height: 250px;

        p {
          text-align: right;
          color: $white;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 5px;
        }
      }
    }


    .gmq_video{
      float: right;
      img {
        margin: 0;
      }
    }
  }
}

#gmq, #lp_video, #esg, #dell-training{
  .container {
    background-color: transparent;
    @include container(960px);
  }

  .full-row {
    @include span(12 of 12);

    h1 {
      text-align: center;
      @include font-size(40px);
      font-weight: 400;
      font-family: "Source Sans Pro",sans-serif;
      line-height: 45px;
    }

    h2 {
      text-align: center;
      @include font-size(24px);
      line-height: 32px;
    }

    ul{
      list-style-type: none;
      padding: 0px;
      max-width: 450px;
      width: 100%;
      margin: 40px auto;

      li{

        background: image-url('landing_pages/orang_checkbox_bullet.png') no-repeat 0 0;
        padding:0 0 5px 40px;
        margin-top: 15px;
      }
    }

    hr{
      //margin: 0;
      background-color: #bbb;
    }

    .col5{
      @include span(5 of 12);
      float: left;
      margin: 0 50px 0 0;
    }


    .col6 {
      @include span(6 of 12);
      .formContainer {
        border: 1px #555 solid;
        border-radius: 5px;
        padding: 10px 30px 30px 30px;
        float: right;
        margin: 0;
        max-width: 350px;

        form {
          margin: auto;

          .mktoButton {
            background-color: $cta-green !important;
            border: 1px solid $cta-green !important;
          }

          .mktoButton:hover {
            background-color: $cta-green-hover !important;
            border: 1px solid $cta-green-hover !important;
          }

          .mktoButtonRow{
            margin-top: 10px;
          }

          .mktoButtonWrap{
            margin-left: 0 !important;

            button{
              width: 250px !important;
              height: 42px;
              padding: 8px 0;
            }
          }
        }

        p {
          text-align: center;
        }
      }
    }

    .headline{
      color: $solidfire-red;
      font-weight: 300;
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    }

    .disclaimer{
      @include font-size(10px);
      margin-bottom: 20px;
    }

    .text-link{
      color: $cta-blue;
      :hover{
        color: $cta-blue-hover;
      }
    }
  }
}

#esg, #dell-training{
  .col6.leftContainer{
    @include span(6 of 12);
    margin: 0;
  }

  .full-row ul {
    margin: 5px 15px 40px;
    float: left;
    width: 45%;
  }
}

#gmq_b{
  .container {
    background-color: transparent;
    @include container(960px);
  }

  h1.gmq_b_headline {
    text-align: center;
    @include font-size(40px);
    color: #555;
    font-weight: 400;
    font-family: "Source Sans Pro",sans-serif;
    padding-bottom: 0;
    line-height:45px;
  }

  h2.gmq_b_sub_headline {
    color: #555555;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
  }

  h2.even_row_sub_headline{
    color: #555555;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
  }

  ul li{
    padding-bottom: 8px;
  }

  .gmq_image{
    max-width: 360px;
    width: 100%;
  }

  .disclaimer{
    @include font-size(10px);
    margin-bottom: 20px;
  }

  .col4{
    @include span(4 of 12);
    margin: 0;

    p{
      @include font-size(14px);
      text-align: center;
    }

    img{
      padding-left: 20px;
    }

    .button--green{
      padding: 7px 25px;
      margin: 10px 0 20px 20px;
    }
  }

  .col5 {
    @include span(5 of 12);
    margin-right: 60px;
  }

  .col6 {
    @include span(6 of 12);
    .form {
      padding: 10px 30px 30px 30px;
      margin: auto;
      max-width: 350px;

      p{
        color: $solidfire-red;
      }

      form {
        margin: auto;

        .mktoButton {
          background-color: $cta-green !important;
          border: 1px solid $cta-green !important;
        }

        .mktoButton:hover {
          background-color: $cta-green-hover !important;
          border: 1px solid $cta-green-hover !important;
        }

        .mktoButtonRow {
          margin-top: 10px;
        }

        .mktoButtonWrap {
          margin-left: 0 !important;

          button {
            width: 250px !important;
            height: 42px;
            padding: 8px 0;
          }
        }
      }
    }
  }

  .col8{
    @include span(8 of 12);
  }

}

#opestack__getting__it__right, #storage__mrd__template, #net_app_lp{
  .formContainer form .mktoButton {
    background-color: $red-01 !important;
    border: none !important;
    @include border-radius(5px !important);
    @include transition(background-color 0.5s ease !important);
    text-transform: uppercase !important;
    font-size: 20px !important;
  }

  .formContainer form .mktoButton:hover {
    background-color: $red-03 !important;
    border: none !important;
  }

  .formContainer form .mktoButton, .buttonContainer form .mktoButton {
    background-image: none !important;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }

  .container {
    background-color: transparent;
    @include container(960px);
  }

  .full-row {
    @include span(12 of 12);

    h1 {
      text-align: left;
      @include font-size(40px);
      font-weight: 400;
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      line-height: 45px;
    }

    h2 {
      text-align: left;
      @include font-size(24px);
      line-height: 32px;
    }

    ul {
      list-style-type: none;
      padding: 0px;
      max-width: 450px;
      width: 100%;
      margin: 40px auto 10px auto;

      li {

        background: image-url('landing_pages/orang_checkbox_bullet.png') no-repeat 0 0;
        padding: 0 0 5px 40px;
        margin-top: 15px;
      }
    }

    hr {
      margin: 0;
      background-color: #bbb;
    }

    .col5 {
      @include span(5 of 12);
      float: left;
      margin: 0 50px 0 0;
    }

    .col6 {
      @include span(6 of 12);
      margin: 0 0 35px 0;

      .redText{
        color: $solidfire-red;
      }

      .formContainer {
        border: 1px #555 solid;
        border-radius: 5px;
        padding: 10px 30px 30px 30px;
        float: right;
        margin: 0;
        max-width: 350px;

        form {
          margin: 10px auto;

          .mktoButton {
            background-color: $cta-green !important;
            border: 1px solid $cta-green !important;
          }

          .mktoButton:hover {
            background-color: $cta-green-hover !important;
            border: 1px solid $cta-green-hover !important;
          }

          .mktoButtonRow {
            margin-top: 10px;
          }

          .mktoButtonWrap {
            margin-left: 0 !important;

            button {
              width: 250px !important;
              height: 42px;
              padding: 8px 0;
            }
          }

          .mktoFormRow{
            select{
              margin-top: 20px;
              width: 250px !important;
            }
          }
        }

        p {
          text-align: center;
        }
      }
    }

    .bold{
      font-weight: 400;
    }
  }

  .bottom_logos{
    margin-top: 20px;
  }
}

.opestack__summit__vancouver {
  width: 100%;
  position: relative;
  float: left;
  padding: 70px 20px;
  transition: transform 0.6s ease-in-out;
  transform: translateZ( 0 );

  .SF-title{
    @include font-size(26px);
  }

  .date{
    @include font-size(22px);
    color: $solidfire-red;
  }
}


.opestack__summit__vancouver, #opestack__summit__vancouver__navigation {

  h1{
    @include font-size(40px);
    text-align: left;
    line-height: 45px;
    font-weight: 400;
  }

  h2 {
    @include font-size(24px);
    text-align: left;
    line-height: 32px;
    font-weight: 400;
  }

  ul{
    margin-left: 25px;
  }

  .container {
    @include container(960px);
  }

  .bold{
    font-weight: 400;
  }

  .full-row {
    @include span(12 of 12);

    .col7{
      @include span(6 of 12);
    }

    .col5{
      @include span(5 of 12);
      float: right;
      border-left: #555 solid 1px;
      padding: 30px 0 10px 30px;

    }

    .cisco-right{
      height: 322px;
    }

    .col2{
      @include span(2 of 12);
      margin-right: 40px;
    }

    .col9{
      @include span(9 of 12);
      float: left;
    }

    form{
      margin-top: 20px;
    }
  }

  .keynote{
    font-weight: 400;
    @include font-size(24px);
  }

  .keynoteTitle{
    font-weight: 400;
    color: $solidfire-red;
  }

  .nav-section.first{
    border-left: solid 5px $white;
  }

  .nav-section{
    width: 25%;
    height: 74px;
    float: left;
    border-right: solid 1px $white;
    p {
      color: $white;
      @include font-size(16px);
      text-align: center;
      padding-top: 25px;
    }
  }

  .cisco{
    .nav-section {
      width: 33%;
    }
  }

  .nav-section:hover{
    background-color: $cta-green-hover;
    cursor: pointer;
  }

  .nav-section.last{
    border-right: solid 5px $white;
  }

  .active{
    background-color: $cta-green-hover;
    cursor: pointer;
  }
}

#opestack__summit__vancouver__navigation{
  background-color: #434343;
}

#sticky-anchor{
  height: 2px;
}

a[ id= "opestack__summit__vancouver__section__one" ] {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

#opestack__summit__vancouver__navigation.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.take-your-cloud__slide-wrapper, .talk-to-us-slider__wrapper, .selfies-slider__wrapper{
  img{
    margin-top: 0;
  }
}

#opestack__summit__vancouver__section__four{
  .full-row{
    p{
      margin-bottom: 20px;
    }
  }
}


.slider-wrapper{
  height: 680px;

  p{
    @include font-size(30px);
  }

  .as-nav{
    top: 20px;
  }

  .take-your-cloud__slide-wrapper, .talk-to-us-slider__wrapper, .selfies-slider__wrapper{
    background: #000;
  }

  #talk-to-us-slider, #selfies-slider {
    .talk-to-us-text, .selfies-text{
      max-width: 810px;
      margin: auto;
      padding-top: 10px;
    }
    p{
      @include font-size(25px);
      padding-top: 6px;
    }

    .win_big{
      float: left;
    }
    .schedule_meeting, .take_picture {
      height: 47px;
      border: solid 1px $cta-green;
      color: $cta-green;
      width: 240px;
      float: left;
      margin-right: 10px;

      p{
        color: $cta-green;
        padding-top: 2px;
        @include font-size(28px);
      }
    }

    .schedule_meeting:hover, .take_picture:hover {
      border-color: $cta-green-hover;
      p{
        color: $cta-green-hover;
      }
    }
  }

   #selfies-slider {
     .selfies-text {
       max-width: 870px;
     }
   }
}

#opestack__summit__vancouver__section__five{
  img{
    max-width: 150px;
    margin: 0 auto;
  }
}

.cisco{
  img{
    margin-top: 30px;
  }

  .nav-section{
    width: 33%;
  }
}

#dell-training{
  .full-row {
    td {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: 300;
      min-width: 110px;
      line-height: 26px;
      vertical-align: top;
    }

    strong {
      font-weight: 500;
    }

    ul {
      list-style-type: disc;
      float: none;
      padding-left: 15px;
      margin: 0px 15px 2px;

      li {
        background: none;
        padding: 0 0 0 5px;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 1185px) {
  #vmworld {
    header {
      .header-content {
        padding: 0 30px;
      }
    }

    .schedule-table {
      margin-bottom: 30px;
    }

    .right{
      max-width: 525px;
      margin: auto;
      float: none;

      .thirsty-bear{
        margin-left: 30px;
        min-height: 455px;
      }
    }

    .left{
      float: none;
      margin: auto;
    }

    .fine-print {
      margin: 50px auto;
    }
  }
}

@media (max-width: 945px) {
  #vmworld{
    .great-feats, .meet-wmworld{
      float: none;
      margin: 0 auto 30px;
    }
  }

  img.elio-weights {
    display: none;
  }

  #vmworld header .header-content-images {
    width: 50%;
  }

  #vmworld header .header-content-social {
    width: 50%;
  }
}

@media (max-width: $tablet) {

  #vmworld {
    header {
      .header-content {
        .social {
          display: none;
        }

        .vmworld-logo {
          float: none;
          padding: 20px;
          margin: 0 auto
        }
      }
    }
  }

  #elementOS {
    background-image: none;
    .full-row {

      .announcing-os-container {
        width: 100%;
      }

      .div-one, .div-two, .div-three {
        float: none;
        margin: auto;
      }

      .div-two {
        margin: 15px auto
      }
      .enhancements-container {
        margin-bottom: 0;

        .enhancements-text {
          padding: 10px 20px 15px;
        }
        .enhancements-spacer{
          display: none;
        }

        .enhancements-left, .enhancements-right{
          max-width: 100%;
        }
        .scheduler-manager{
          border-bottom: #fff 1px dotted;
        }
      }
    }
  }

  #gmq, #lp_video, #esg, #gmq_b, #opestack__getting__it__right, #storage__mrd__template, #net_app_lp, #elementOS {
    .formContainer form .mktoButton {
      background-color: $red-01 !important;
      border: none !important;
      @include border-radius(5px !important);
      @include transition(background-color 0.5s ease !important);
      text-transform: uppercase !important;
      font-size: 20px !important;
    }

    .formContainer form .mktoButton:hover {
      background-color: $red-03 !important;
      border: none !important;
    }

    .formContainer form .mktoButton, .buttonContainer form .mktoButton {
      background-image: none !important;
    }

    p {
      font-size: 16px;
      line-height: 30px;
    }

    .full-row {
      .col5, .col6 {
        width: 100%;
        margin-bottom: 20px;
      }

      .col5{
        img{
          margin: 0 auto 20px auto;
          float: none;
        }
      }

      .col6{
        display: inline-block;
        .formContainer{
          float: none;
          margin: auto;
          width: 100%;
        }

        .text{
          position: inherit;
          height: 30px;
          margin: 20px auto 0 auto;

          p{
            position: inherit;
            text-align: center;
            padding: 0 15px;
          }
        }

        img{
          margin: 0 auto 20px auto;
          float: none;
        }

        .gmq_video{
          float: none;

          img{
            margin: auto;
            float: none;
            padding-bottom: 35px;

          }
        }


      }

      .videoText{
        margin: 0 auto;
      }

      .imageThumbnail{
        margin: 0;
      }
    }

    .videoContainer{
      padding-top: 10px;
    }
  }
  #esg{
    .full-row ul {
      margin: auto;
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
    }
    hr {
      display: none;
    }
  }

  #gmq_b{
    margin-top: 0;
    br{
      display: none;
    }

    .col8, .col4{
      width: 100%;

      img{
        float: none;
        margin: 15px auto;
      }

      .button--green{
        margin: 10px auto 20px auto;
        text-align: center;
        display: block;
        max-width: 250px;
      }
    }
  }

  #opestack__summit__vancouver__navigation{
    .nav-section {
      width: 50%;
    }

    .nav-section.last, .nav-section.first, .nav-section{
      border: solid 1px $white;
    }
  }

  .opestack__summit__vancouver {
    .full-row {
      .col7, .col5 {
        width: 100%;
      }

      .cisco-right{
        height: inherit;
      }
    }
  }

  #opestack__summit__vancouver__section__two{
    .keynote{
      text-align: center;
    }

    form{
      margin: 20px auto 0 auto;
    }
  }
 .slider-wrapper {
   #talk-to-us-slider {
     .schedule_meeting {
       float: none;
       margin: auto;
     }
   }

   #logo{
     position: absolute;
     top: 30px;
     z-index: 100;
     left: 130px;
     width: 170px;
   }
 }

  #vmworld .schedule-mobile {
    display: block;
  }

  .schedule {
    display: none;
  }
}

@media (max-width: 700px) {
  #vmworld {

    .mobile{
      display: block;
      padding-top: 25px;
    }

    .desktop{
      display: none;
    }

    .great-feats{
      margin-bottom: 80px;
    }
    .schedule-table {
      .day {
        border: none;
        width: 100%;

        .day-agenda{
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: $phone) {
  #vmworld {
    .right{
      .vmware-expert, .thirsty-bear {
        float: none;
        margin: 30px auto 0 auto;
      }
    }
  }

  .opestack__summit__vancouver {
    .full-row {
      .col2, .col9 {
        width: 100%;
      }

      .col2{
        img{
          width: 40%;
        }
      }
    }
  }
}

