@import "variables";

.legal__container {
  @include container(960px);
}

.legal {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
  }

  h2 {
    @include font-size(30px);
    font-weight: 200;
    text-align: center;
  }

  .privacy {
    li {
      font-weight: 300;
    }
  }
}

