@import "variables";

.custom-landing {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(40px);
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    line-height: 45px;
  }

  h2 {
    @include font-size(24px);
    font-weight: 400;
    text-align: center;
  }
}

.custom-landing.layout-id-557092e5303562000e000000 {
  margin-top: 130px;
}

.custom-landing__container {
  @include container(960px);
}

.custom-landing {
  .formContainer form .mktoButton {
    background-color: $red-01 !important;
    border: none !important;
    @include border-radius(5px !important);
    @include transition(background-color 0.5s ease !important);
    text-transform: uppercase !important;
    font-size: 20px !important;
  }

  .formContainer form .mktoButton:hover {
    background-color: $red-03 !important;
    border: none !important;
  }

  .formContainer form .mktoButton, .buttonContainer form .mktoButton {
    background-image: none !important;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }

  .full-row {
    hr {
      background-color: #bbb;
      margin: 35px 0 0;

    }

    h2 {
      text-align: left;
      @include font-size(24px);
    }
  }

  .related-resources{
    display: none;
    margin-top: 50px;

    hr{
      margin-top: 5px;
    }

    img{
      margin-bottom: 0;
    }

    .resource {
      float: left;

      .resource-footer {
        background-color: $grey-02;
        max-width: 300px;
        padding: 10px 0 10px 20px;
        min-height: 53px;

        img {
          margin: 0 15px 10px 0;
          float: left;
        }

        p {
          color: $white;
          padding-top: 4px;
          @include font-size(16px);
          line-height: 30px;
        }
      }
    }

    .first{
      margin-right: 30px;
      .first-btn {
        text-decoration: none;
        .resource-footer {
          background-color: $grey-02;
        }
      }

      .first-btn:hover{
        .resource-footer {
          background-color: $grey-03;
        }
      }
    }

    .second{
      margin-right: 30px;
      .second-btn {
        text-decoration: none;
        .resource-footer {
          background-color: $grey-03;
        }
      }

      .second-btn:hover{
        .resource-footer {
          background-color: $grey-04;
        }
      }
    }

    .third{
      .third-btn {
        text-decoration: none;
        .resource-footer {
          background-color: $grey-04;
        }
      }

      .third-btn:hover{
        .resource-footer {
          background-color: #393939;
        }
      }
    }
  }
}

.landing-page-no-header {
  width: 100%;
  float: left;
  padding: 10px 20px 30px;
  text-align: center;
  border-bottom: solid 1px #A9A9A9;

  .icon-SFNTAPP-HZ-Logo {
    @include font-size(22px);
    color: $red-01;
    float: none;
  }
}

.custom-landing__container {
  img {
    margin: 30px 0 16px 0;
  }

  h1 {
    @include font-size(40px);
    font-family: "Source Sans Pro",sans-serif;
    text-align: left;
    line-height:45px;
  }
}

.col6 {
  @include span(6 of 12 last);
  float: left;
}

.leftContainer {
  margin-right: 60px;

  .description {
    @include font-size(18px);
    font-weight: 300;
  }
}

.col6.leftContainer {
  .description {
    @include font-size(18px);
    font-weight: 300;
    margin-bottom: 80px;
  }
}

.formContainer, .buttonContainer {
  border: 1px #555 solid;
  border-radius: 5px;
  padding: 10px 30px 30px 30px;
  @include span(5 of 12);
  float: left;
  margin: 0 0 80px 0;
  max-width: 350px;

  p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }

  a {
    width: 250px;
    background-color: $cta-green;
    border: 1px solid $cta-green;
    border-radius: 5px;
    padding: 0.75em 1em;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    margin: 10px auto;
    display: block;
    text-decoration: none;

  }

  a:hover {
    background-color: $cta-green-hover;
  }

  form {
    margin: auto;
    max-width: 250px;

    .mktoButton {
      background-color: $cta-green !important;
      border: 1px solid $cta-green !important;
    }

    .mktoButton:hover {
      background-color: $cta-green-hover !important;
      border: 1px solid $cta-green-hover !important;
    }

    .mktoButtonRow {
      margin-top: 10px;
    }

    .mktoButtonWrap {
      margin-left: 0 !important;

      button {
        width: 250px !important;
        height: 42px;
        padding: 8px 0;
      }
    }
  }

  .privacy-policy-link {
    background-color: transparent;
    padding: 0;
    border: none;
    color: $blue-02;
    text-transform: capitalize;
    text-align: right;
    @include font-size(12px);
  }

  .privacy-policy-link:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}
.videoContainer {
  position: relative;
  h1{
    text-align: center;
  }

  h2.sub-title-centered {
    text-align: center;
  }

  #youtubeFrame {
    display: block;
    margin: 30px auto 20px auto;
    width: 100%;
    height: auto;
    max-width: 660px;
    max-height: 371px;
  }
}

.form-description {
  width: 100%;
  @include font-size(18px);
  margin: 20px 0;
}

.form-message {
  float: left;
  width: 100%;
  margin-bottom: 25px;

  p {
    @include font-size(16px);
    line-height: 30px;
    font-weight: 400;
  }
}



@media (max-width: $tablet) {
  .custom-landing {
    h1 {
      text-align: center;
    }

    .resources__container__lp img {
      margin: 30px auto 16px auto;
    }

    .col6, .col5 {
      width: 100%;
      float: none;
    }

    .formContainer, .buttonContainer {
      width: 100%;
      max-width: 350px;
      margin: 0 auto 30px auto;
      float: none;
    }
  }

  .related-resources {
    display: none;
  }
}
