@import "variables";

.news {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  }

  h2 {
    @include font-size(30px);
    font-weight: 200;
    text-align: center;
  }
}


.news__container {
  @include container(960px);
}

.news-item {
  @include span(12 of 12 last);
  border-top: 1px solid #CCC;
  @include font-size(18px);
  margin-top: 20px;
}

.news-item__title {
  @include span(12 of 12 last);
  padding:20px 0;

  a.link-height {
    color: $solidfire-red;
    @include font-size(24px);
    line-height: 30px;
  }
}

.news-item__date-pub {
  @include span(12 of 12 last );
}

.news-social-container {
  margin: 0 auto;
  width: 170px;
  float: left;
  margin-top: 20px;

  a.twitter {
    background-image: image-url("global/social-footer@2x.png");
    background-position: 0 0;
    width: 30px;
    height: 28px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.linkedin {
    background-image: image-url("global/social-footer@2x.png");
    width: 30px;
    height: 22px;
    background-position: -30px 0;
    margin-left: 0;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.gplus {
    background-image: image-url("global/social-footer@2x.png");
    background-position: -60px 0;
    width: 30px;
    height: 22px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.facebook {
    background-image: image-url("global/social-footer@2x.png");
    background-position: -90px 0;
    width: 20px;
    height: 22px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }
}



