@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

.overview-container {
  @include container(960px);
}

.hidden-nav {
  display: none;
}

.sub-nav.overview{
  margin-top: -100px !important;
  a {
    font-size: 15px;
  }
}

.sub-nav.overview.top {
  background-color: transparent;
}

.sub-nav ul li a.overview-link{
  color: $red-01;
}

#overview {
  padding: 0;

  .skew-right {
    @include transform(skewY(3deg));
  }

  img {
    margin-top: 30px;
    width: 100%;
  }

  .skew-fix.right {
    @include transform(skewY(-3deg));
  }

  .overview-section {
    width:100%;
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
  }

  .overview-section.first {
    padding: 80px 20px;
    background-color: #fafafa;

    h1 {
      text-align: center;
      font-weight: 300;
    }
  }

  .overview-section.second {
    margin-top: 0px;
  }

  .span12 {
    margin-top: 80px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

   h3 {
     line-height: 34px;
   }

  .dave {
    width: 100%;
  }
}

@media(min-width: $tablet) {
  .overview-section.first {
    margin-top: -200px;
    h1 {
      padding-top: 50px;
    }
  }

  .sub-nav.overview{
    margin-top: 50px !important;
  }

  .span7last {
    @include span(7 of 12 last);
  }

  img {
    padding-right: 10px;
  }
}

@media(max-width: $tablet - 1) {
  .overview-section.first.skew-right {
    margin-top: -280px !important;
  }

  h1 {
    padding-top: 200px;
  }

  .sub-nav.overview{
    margin-top: -100px !important;
  }

  .span7last, .span5 {
    @include span(12 of 12);
  }

  img {
    padding-right: 0px;
    max-width:250px;
  }
}