@import "variables";

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */

footer {
  background-color: white;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  width: 100%;
}

section {
  padding-right: 20px;
  padding-left: 20px;
}

section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: image-url("landing_pages/analyst-day/Header-Hero-image2.jpg");
}

section.module.parallax-2 {
  background-image: image-url("landing_pages/analyst-day/eventsBG.jpg");
}

section.module.parallax-3 {
  background-image: image-url("landing_pages/analyst-day/background3");
}


.logo-row {
  margin-left: 20px;
  margin-top: 30px;

  .icon-SFNTAPP-HZ-Logo-Black {
    @include font-size(40px);
    color: #FFF;
  }
}

.animation {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  opacity: 0.3;
}

canvas {
  margin: 0 auto;
}

.analyst-day-container {
  @include container (960px);
}

.background-image {
  background: image-url('landing_pages/analyst-day/Header-Hero-image2.jpg') 50% 100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width:100%;
  position: fixed;
  height: 700px;
  z-index: -2000;
}
.analyst-day {
  width:100%;
  position: fixed;
  height: 700px;
  z-index: 2000;
  background-color: transparent;
  .analyst-day-container {
    max-width: 700px;
    margin: 0 auto;
  }

  h1, h3, p {
    text-align: center;
    color: white;
  }

  h1 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    font-weight: 300;
  }

  .analyst-day--top-cta {
    .button-blue.link-margin-right {
      background-color: #00a9e3;
      width: 100%;
      z-index: 3000;
    }

    .button-blue:hover{
      opacity: .8 !important;
    }

    .button-red:hover {
      opacity: .8;
      background-color: $red-01;
    }

    .button-red {
      width: 100%;
    }
  }
}

.what-is-analyst-day {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  position: relative;
  top: 550px;
  margin-bottom:550px;
  z-index: 2000;

  h2 {
    margin: 0 0 40px;
    color: black;
    text-align: center;
  }

  p {
    color: black;
    @include font-size(18px);
    line-height: 30px;
  }

  p.margin-bottom {
    margin-bottom: 30px;
  }
}

section.module.parallax.event-agenda {
  height: 670px;
}

.event-agenda {
    padding-top: 80px;
    padding-bottom: 80px;

  h2 {
    margin-top: 0;
    text-align: center;
    color: $white;
    font-weight: 300;
  }

  p {
    font-size: 18px;
  }

  .event-container {
    width: 100%;
    float: left;
    border-top: #1c759b 1px solid;
    margin-bottom: 100px;
    padding-bottom: 25px;

    .white-top-border {
      border-top: solid 1px #1c759b;
      padding-top: 25px;
    }

    .event-item {
      width: 100%;
      float: left;
      margin-top: 30px;

      .event-day {
        width: 25%;
        float: left;
        text-transform: uppercase;
        color: $white;
        font-weight: 300;
        line-height: 40px;

        .arrow-box.light-blue {
          background-color: #37c1f0;
        }

        .arrow-box.light-blue:after {
          border-left-color: #37c1f0;
        }

        .arrow-box.medium-blue {
          background-color: #00a9e3;
        }

        .arrow-box.medium-blue:after {
          border-left-color: #00a9e3;
        }

        .arrow-box.dark-blue {
          background-color: #0073c2;
        }

        .arrow-box.dark-blue:after {
          border-left-color: #0073c2;
        }

        .arrow-box {
          position: relative;
          text-align: center;
          min-height: 60px;
          padding: 14px;
          margin-top: 10px;
        }
        .arrow-box:after, .arrow-box:before {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        .arrow-box:after {
          border-color: rgba(0, 0, 0, 0);
          border-width: 13px;
          margin-top: -13px;
        }
        .arrow-box:before {
          border-color: rgba(255, 255, 255, 0);
          border-left-color: #FFF;
          border-width: 11px;
          margin-top: -11px;
        }
      }

      .event-details {
        width: 75%;
        float: left;

        p {
          color: $white;
          margin-left: 35px;

          a {
            color:#2e99c1;
            font-size: 18px;
          }

          a:hover {
            color: $aqua-04;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.meet-solidfire {
  width: 100%;
  position: relative;
  background-color: $white;
  padding: 70px 20px 70px 20px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    @include font-size(24px);
  }

  p {
    @include font-size(18px);
    line-height: 30px;
  }

  .meet-solidfire-bio-wrapper {
    width: 100%;
    float: left;
    margin-top: 50px;
  }

  .meet-solidfire-bio {
    width: 30%;
    float: left;
    border-top: solid 1px $grey-04;
    margin-right: 5%;

    .title {
      font-weight: 300;
      @include font-size(18px);
      color: black;
    }
  }

  .no-right-margin {
    margin-right: 0;
  }

  img {
    margin-top: 15px;
    margin-left: 0;
  }
}

.sacrafice-nothing {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  margin-bottom: -70px;

  .analyst-day-container {
    h2 {
      font-weight: 300;
      color: $white;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 0;
    }

    h3 {
      font-weight: 300;
      color: $white;
      margin-bottom: 50px;
      text-align: left;
    }

  }


  .sacrafice-nothing--text {
    width: 100%;
    float: left;

    p {
      color: $white;
      @include font-size(18px);
      line-height: 30px;
    }
  }
}


@media all and (min-width: $tablet) {
  .meet-solidfire {
    h2 {
      margin-bottom: 30px;
    }

    .meet-solidfire-bio {
      .title {
        height: 40px;
      }
    }
  }

  section.module.parallex.sacrafice-nothing{
    height: 600px;
  }

  section.module.parallax.event-agenda {
    height: 670px;

    .arrow-box {
      font-size: 24px;
    }
  }

  .analyst-day {
    .analyst-day-container {
      margin-top: 60px;
      h1 {
        @include font-size(60px);
        line-height: 50px;
      }

      h3 {
        margin: 20px 0;
        @include font-size(30px);
      }

      p.small-text {
        padding-top: 140px;
      }

      .analyst-day--top-cta {
        .button-container {
          @include gallery(6 of 12);
        }
        .button-blue.link-margin-right, a.button-red  {
          margin-top: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .analyst-day-container {
    h3 {
      @include font-size(30px);
    }

    h2 {
      @include font-size(45px);
      text-align: center;
      margin-top: 0;
    }
  }

  .what-is-analyst-day {
    h2 {
      line-height: 55px;
    }
  }
}

@media all and (max-width: $tablet - 1) {
  .meet-solidfire {
    h2 {
      margin-bottom: 0px;
    }

    .meet-solidfire-bio {
      .title {
        height: 60px;
      }
    }
  }

  section.module.parallex.sacrafice-nothing {
    height: 700px;
  }

  section.module.parallax-3 {
    margin-bottom: -80px;
  }

  section.module.parallax.event-agenda {
    height: 670px;
    .arrow-box {
      font-size: 24px;
    }
  }

  section.module.parallax h1 {
    @include font-size(40px);
    line-height: 40px;
  }

  .analyst-day {
    .analyst-day-container {
      margin-top: 50px;
    }

    h1 {
      @include font-size(40px);
      line-height: 40px;
    }

    h3 {
      @include font-size(22px);
      margin-top: 15px;
      margin-bottom: 15px;
    }

    p.small-text {
      padding-top: 170px;
    }

    .analyst-day--top-cta {
      .button-blue.link-margin-right  {
        width: 100%;
        font-size: 18px;
      }
      a.button-red{
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
      }
    }
  }

  .analyst-day-container {
    h2 {
      @include font-size(30px);
      text-align: center;
    }
  }

  .what-is-analyst-day {
    h2 {
      line-height: 40px;
    }
  }
}

@media(max-width: $phone - 1) {
  .meet-solidfire {
    .meet-solidfire-bio {
      .title {
        height: 40px;
      }
    }
  }
  section.module.parallax.event-agenda {
    height: 830px;

    .arrow-box {
      font-size: 18px;
    }
  }

  .analyst-day {
    .analyst-day-container {
      margin-top: 40px;
    }

    h1 {
      @include font-size(40px);
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      @include font-size(22px);
      margin-top: 15px;
      margin-bottom: 15px;
    }

    p.small-text {
      padding-top: 160px;
    }

    .analyst-day--top-cta {
      .button-blue.link-margin-right {
        width: 100%;
        font-size: 13px;
        font-weight: 400;
      }
      a.button-red {
        width: 100%;
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 400;
      }
    }
  }

  .meet-solidfire .analyst-day-container h2 {
    margin: 0;
  }

  .meet-solidfire .meet-solidfire-bio-wrapper {
    margin-top: 0;
  }

  .meet-solidfire .meet-solidfire-bio {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  .sacrafice-nothing {
    .analyst-day-container {
      h2 {
        margin-bottom: 0px;
      }
    }

    .sacrafice-nothing--text {
      width: 100%;
    }
  }
}
