@import "variables";

.pr {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  }

  h2 {
    @include font-size(30px);
    font-weight: 200;
    text-align: center;
  }
}

.pr__container {
  @include container(960px);
}

.pr-item {
  @include span(12 of 12 last);
  border-top: 1px solid #CCC;
  @include font-size(18px);
  margin-top: 20px;
}

.pr-item__title {
  @include span(12 of 12 last);
  padding:20px 0;
  line-height: 30px;
  @include font-size(30px);
  color: $solidfire-red;

  a {
    color: $solidfire-red;
    @include font-size(30px);
  }
}

.pr-item__sub-title {
  @include span(12 of 12 last);
  padding: 20px 0;
  line-height: 30px;
  @include font-size(24px);
}

.pr-item__date-pub {
  @include span(12 of 12 last );
}

.pr-item__no-padding-bottom {
  padding-bottom: 0;
}

.pr-wrapper-single {
  span {
    display: block;
    font-weight: 600;
  }
}

.pr-item__title-index {
  @include span(9 of 12);
  padding:20px 0;

  a {
    color: $solidfire-red;
    @include font-size(24px);
    line-height: 30px;
  }
}

.pr-item__date-pub-index {
  @include span(3 of 12 last);
  text-align: right;
  padding:20px 0;
}

.press-header {

  h1 {
    text-align:left;
    color: $solidfire-red;
    margin-bottom: 0;
  }

}

.pr-social {
  @include span(12 of 12 last);
  margin-bottom: 20px;
}

.pr-social-container {
  margin: 0 auto;
  width: 170px;
  float: left;
  margin-top: 20px;

  a.twitter {
    background-image: image-url("global/social-footer@2x.png");
    background-position: 0 0;
    width: 30px;
    height: 28px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.linkedin {
    background-image: image-url("global/social-footer@2x.png");
    width: 30px;
    height: 22px;
    background-position: -30px 0;
    margin-left: 0;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.gplus {
    background-image: image-url("global/social-footer@2x.png");
    background-position: -60px 0;
    width: 30px;
    height: 22px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }

  a.facebook {
    background-image: image-url("global/social-footer@2x.png");
    background-position: -90px 0;
    width: 20px;
    height: 22px;
    background-size: auto 100%;
    text-indent: -9999em;
    float: left;
  }
}

