@import "variables";

.sub-nav a.resources-link {
  color: $red-01;
}

.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
  position: relative !important;
  left: -5px !important;
  height: 30px !important;
}

.resources, .card-section, .resources__landingpage {
  width:100%;
  position: relative;
  float: left;
  margin-top: 150px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    text-align: center;
  }

  h2 {
    @include font-size(20px);
    font-weight: 200;
    text-align: center;
  }
}


.resources__container, .card-section__container, .resources__container__lp, .resource--categories {
  @include container(960px);
}

.content-type-outer-wrapper {
  @include span(12 of 12 last);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #313131;
  margin: -40px 0 50px 0;

  .content-type-wrapper {
    @include span(12 of 12 last);

    .top{
      margin-bottom: 1px;
    }

    .content-type-header {
      @include span(2 of 12);
      background-color: #313131;
      color: #FFF;
      @include font-size(18px);
      padding: 35px 10px;
      font-weight: 300;
      text-align: center;
      margin-right: 0;
      height: 90px;
    }

    .content-type-content {
      width: 84.7%;
      float: right;
      margin: 0;
      padding: 12px 25px 8px 25px;

      span {
        @include font-size(16px);
        display: inline-block;
      }
    }

    .content-type-content.top {
      border-bottom: solid 1px #979797;
    }
  }

  .checkbox-container{
    padding: 0 20px;

    label{
      @include font-size(14px);
      margin-bottom: 5px;
    }
  }

  input[type="checkbox"] {
    display:none;
  }

  input[type="checkbox"] + label span{
    display:inline-block;
    width:21px;
    height:21px;
    margin: 3px 10px 6px 0;
    vertical-align:middle;
    border: solid 1px #555;
    border-radius: 5px;
    cursor:pointer;
  }

  input[type="checkbox"]:checked + label {
    background: image-url('resources/checkbox_clicked_background.png') no-repeat 0px 3px;
    border: 0;
    padding: 3px 0 1px 0;
  }
}

.card-section {
  background-color: $alternate-gray;
  margin-top: 50px;
}

.card-wrapper {
  width: 400px;
  float: left;
  margin-left: 12px;

  .card-container {
    width: 298px;
    float:left;
    background-color: #FFF;
    border: solid 1px #979797;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .card-image {
    float:left;
    min-height: 151px;
    img {
      margin: 0 auto;
      max-width: 100px;
      padding-top: 20px;
    }

    img.custom {
      width:296px;
      max-width: 296px;
      padding-top: 0px;
    }

  }

  .card-title {
    float:left;
    @include font-size(18px);
    font-weight: 500;
    padding:10px;
    color: #000;
  }

  .card-summary {
    float:left;
    @include font-size(16px);
    font-weight: 300;
    padding:10px;
    color: #000;

    a {
      color: #000;
    }
  }

  .card-link {
    float:left;
    padding:10px;

    a {
      @include font-size(16px);
      color: #76A55A;
    }
  }
}

.card-wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.documents-image-container, .reference-architecture-image-container, .analytics-reports-image-container, .case-study-image-container, .video-image-container, .webinar-image-container, .popcasts-image-container {
  text-align: center;
  width: 100%;
  padding: 25px 0;
}

.documents-image-container {
  background-color: #F2763D;
}

.reference-architecture-image-container {
  background-color: #1AADA8;
}

.analytics-reports-image-container {
  background-color: #1B8FB3;
}

.case-study-image-container {
  background-color: #76A55A;
}

.video-image-container {
  background-color: #906091;
}

.webinar-image-container {
  background-color: #EE923C;
}

.popcasts-image-container {
  background-color: #D65B2F;
}

.resources__container__lp {
  width: 100%;
  position: relative;
  padding: 0 20px;

  h1 {
    @include font-size(34px);
    font-weight: lighter;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    color: $solidfire-red;
    text-align: left;
  }

  img {
    margin: 30px 0 16px 0;
  }

  p {
    @include font-size(18px);
  }

  .col6 {
    @include span(6 of 12 last);
    float: left;
  }

  .leftContainer {
    margin-right: 60px;

    .tags {
      margin: 30px 0 0 0;
    }

    .categories {
      margin: 20px 0 30px 0;
    }

    .description {
      @include font-size(18px);
      font-weight: 300;
    }
  }

  .audio-player {
    text-align: center;

    img {
      display: inline;
    }
  }

  .formContainer, .buttonContainer {
    border: 1px #555 solid;
    border-radius: 5px;
    padding: 10px 30px 30px 30px;
    @include span(5 of 12);
    float: left;
    margin: 0;
    max-width: 350px;

    p {
      text-align: center;
    }

    a {
      width: 250px;
      background-color: $cta-green;
      border: 1px solid $cta-green;
      border-radius: 5px;
      padding: 0.75em 1em;
      color: $white;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      margin: 10px auto;
      display: block;
      text-decoration: none;
    }

    a:hover {
      background-color: $cta-green-hover;
    }

    form {
      margin: auto;
      max-width: 250px;

      .mktoButton {
        background-color: $cta-green !important;
        border: 1px solid $cta-green !important;
      }

      .mktoButton:hover {
        background-color: $cta-green-hover !important;
        border: 1px solid $cta-green-hover !important;
      }

      .mktoButtonRow {
        margin-top: 10px;
      }

      .mktoButtonWrap {
        margin-left: 0 !important;

        button {
          background-color: $red-01 !important;
          border: $red-01 !important;
          height: 42px;
          padding: 8px 0;
        }

        button:hover {
          background-color: $red-04 !important;
          border: $red-04 !important;
        }
      }
    }

    .privacy-policy-link {
      background-color: transparent;
      padding: 0;
      border: none;
      color: $blue-02;
      text-transform: capitalize;
      text-align: right;
      @include font-size(12px);
    }

    .privacy-policy-link:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
  .videoContainer {
    position: relative;
    h1{
      text-align: center;
    }

    h2.sub-title-centered {
      text-align: center;
    }

    #youtubeFrame {
      display: block;
      margin: 30px auto 20px auto;
      width: 100%;
      height: auto;
      max-width: 660px;
      max-height: 371px;
    }
  }
}
.resources__landingpage {
  .full-row {
    hr {
      background-color: #bbb;
      margin: 35px 0 0;
      width: 100%;

    }

    h2 {
      text-align: left;
      @include font-size(24px);
    }
  }
}

.paginate-wrapper, .paginate-wrapper-index {
  margin-top: 20px;
  float: left;
  position: relative;
}

.resource--categories{
  .span12{
    width: 100%
  }
  .categories{
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 20px;
  }

  i{
    font-size: 70px;
    color: $red-01;
  }

  p{
    @include font-size(17px);
    font-weight: 400;
  }

  .categories:hover{
    i{
      color: $red-04;
    }

    a{
      color: inherit;
      text-decoration: none;
    }
  }
}

.column-widths {
    h3.resources {
    margin-left: 0;
    padding-left: 0;
  }
}

@media(min-width: $tablet) {
  .resources__container__lp .formContainer form .mktoButtonWrap button {
    width: 250px !important;
  }
}

@media (max-width: $tablet) {
  .resources__landingpage {
    margin-top: 60px !important;
  }

  .resources__container__lp .formContainer form .mktoButtonWrap button {
    width: 250px !important;
  }

  .resources__landingpage {
    h1{
      text-align: center;
    }

    .resources__container__lp img {
      margin: 30px auto 16px auto;
    }

    .col6, .col5{
      width: 100%;
      float: none;
    }

    .formContainer, .buttonContainer {
      width: 100%;
      max-width: 350px;
      margin: 0 auto 30px auto;
      float: none;
    }
  }

  .content-type-outer-wrapper {
    .content-type-wrapper {
      .content-type-header {
        width: 100%;
        padding: 10px 10px;
        height: auto;
      }
      .content-type-content{

      }
      .content-type-content.top{
        border-bottom: 0;
      }

      .checkbox-container{
        padding: 0;
        width: 100%;
      }
    }
  }

  .bottom{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: solid 1px #000;
  }

  .pagination{
    a{
      margin-bottom: 15px;
    }
  }

  .resource--categories{

    i{
      font-size: 60px;
    }

    p{
      @include font-size(15px);
    }
  }
}

@media (max-width: $phone) {
  .resources__landingpage {
    margin-top: 60px !important;
  }

  .resources__container__lp .formContainer form .mktoButtonWrap button {
    width: 100px !important;
  }

  .resources__container__lp .formContainer .privacy-policy-link {
    margin-left: 0px !important;
    width: 90px !important;
  }

  hr {
    display: none;
  }

  .resource--categories{

    i{
      font-size: 40px;
    }

    p{
      @include font-size(12px);
      line-height: 14px;
    }
  }

}

