@import "variables";

.search {
  width:100%;
  position: relative;
  float: left;
  margin-top: 130px;
  padding: 0 20px;

  h1 {
    @include font-size(44px);
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  }

  h2 {
    @include font-size(30px);
    font-weight: 200;
    text-align: center;
  }
}

.search__container {
  @include container(960px);
}

.total-results {
  width: 100%;
  float: left;

  h4 {
    font-weight: 300;

    span {
      font-weight: 600;
    }
  }
}

.search-item {
  margin-bottom: 30px;
  @include font-size(16px);
  line-height: 24px;
  color: $grey-04;

  a {
    @include font-size(16px);
    line-height: 24px;
  }
}

.page-result {
  margin-top: 55px;

  ul, li {
    display: inline-block;
    list-style: none;
    margin-top: 0;
  }

  #page-navigation {
    margin-top: 0;
  }

  .prev, .next {
    display: inline-block;
    padding-top: 20px;
    float: left;

    a {
      @include font-size(16px);
    }
  }

  .next {
    padding-left: 25px;
  }
}

@media(max-width: $phone) {
  ul#page-navigation {
    li {
      width: 45px;
    }
  }

  .search {
    margin-top: 40px;
  }
}
