@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true),
        columns: 12,
);

@include border-box-sizing;

.border-bottom {
  width: 100%;
  position: relative;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  .container {
    @include container(960px);
  }

  hr {
    border: 0;
    height: 1px;
    background: $grey-02;
  }
}

.container {
  @include container;
}

#site-content {
  width: 100%;
}

.right-margin-zero {
  margin-right: 0;
}

// content area

#content-area {
  width:100%;
  position: relative;
  float: left;
  margin-top: 100px;
}

#content-area .container {
  background-color:#FFF;
  @include container(960px);
}

#content-area .full-row {
  @include span(12 of 12);
}

.default-bottom-horizontal-line {
  border-bottom: solid 1px #bbb;
}

body {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  @include font-size(15px);
}

strong {
  font-weight: 600;
}

// footer styles

footer {
  background-color: #FAFAFA;
  width:100%;
  position: relative;
  float: left;
  margin-top: 60px;
  padding: 0 20px;
  padding-top: 80px;
}

footer.active {
  position: absolute;
  background-color: #d3d3d3;
  margin-top: 40px;
  top: 0;
}

footer h3 {
  color: #565455;
  @include font-size(12px);
  font-weight: 400;
  margin: 42px 0 0 0;
  text-transform: uppercase;
}

footer .platform, footer .resources{
  margin-top: 15px
}


footer h3 a {
  font-weight: 600;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
}

footer ul li {
  margin-top: 6px;
  text-transform: uppercase;
}

footer a, .ft-btm-col3, footer .company {
  color:#565455;
  line-height:1.3em;
  @include font-size(12px);
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}

footer .additional-resources {
  width: 100%;
}

footer #footer-column-wrapper {
  text-align:left;
}

footer #footer-column-container {
  padding: 0;
}

footer .column-widths {
  width: 100%;
}

footer .container {
  background-color:transparent;
  @include container(960px);
}

footer .container .col1 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col2 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col3 {
  width: 24%;
  float: left;
  margin-right: 1%;
}

footer .container .col4 {
  width: 25%;
  float: left;
  margin-right: 0;
}

footer #bottom-section {
  width:100%;
  position: relative;
  float: left;
  margin-top: 30px;
}

footer #bottom-section .container {
  border-top: solid 1px #bbb;
}

footer #bottom-section .container .ft-btm-col1 {
  @include span(7 of 12);
  margin-top:10px;
  color: $grey-02;
  font-weight: 300;
  @include font-size(12px);

  span {
    display: block;
    color: $grey-02;
    @include font-size(12px);
  }

  span.font-weight-thick {
    color: $grey-03;
    display: inline;
    font-weight: 600;
  }

  a {
    color: $grey-03;
    text-decoration: none;
  }

  .legal-links {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
  }

  .contact-us{
    margin-right: 3px;
  }
}

footer #bottom-section .container .ft-btm-col2 {
  @include span(5 of 12 last);
  margin: 20px 0 0 0;
  text-align: center;
  float: right;
}

footer #bottom-section .container .ft-btm-col3 {
  @include span(3 of 12);
  margin-top:20px;
  text-align: left;
  float: left;
  margin-right: 0;
}

footer .phone-number{
  background-image: image-url("global/phone_icon.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  height: 20px;
  text-align: left;
}

footer #bottom-section  .logo {
  text-indent: -9999em;
  background-image: image-url("global/logo-footer@2x.png");
  width: 129px;
  height: 15px;
  background-size: auto 100%;
  display: block;
  background-repeat: no-repeat;
}

footer #social-wrapper {
  display: block;
  float: left;
  list-style: none;
  width: 100%;
}

footer .social-container {
  margin: 0 auto;
  width: 230px;
  float: right;
}

footer i {
  @include font-size(18px);
  margin-right: 15px;
}

footer .slideshare{
  margin-right: 0;
}

footer .facebook:hover{
  color: #4a619d;
}

footer .twitter:hover{
  color: #429cc1;
}

footer .instagram:hover{
  color: #104778;
}

footer .gplus:hover{
  color: #d23a39;
}

footer .youtube:hover{
  color: #c60f27;
}

footer .slideshare:hover{
  color: #2076b4;
}


footer .container .footer-search {
  @include span(12 of 12 last);
  text-align: center;
  display: none;
}

footer .container .footer-search input {
  height: 30px;
  width: 70%;
  border: solid 1px #565455;
}

footer form {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

footer .search-form label {
  background-image: image-url("global/icon-search-eeeeee.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  cursor: pointer;
  display: block;
  height: 19px;
  position: absolute;
  right: 16%;
  top: 5px;
  width: 19px;
  z-index: 1;
}

footer #top-footer-links a:hover {
  color: #9d1b1b;
}

footer .text-transform-normal {
  text-transform: none;
}

table.specs {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: 300;
  border: solid 1px $red-02;
  border-right: solid 1px white;
  color: $grey-02;
  width: 100%;

  thead {
    background-color: $red-02;
    color: white;
    text-align: left;
    tr {
      height: 50px;

      th {
        font-weight: 300;
        font-size: 18px;
        border: solid 1px $red-02;
        border-right: solid 1px white;
        padding: 0px 15px;

        &.left { text-align: left; }
      }

      th:last-child {
        border-right: 1px solid $red-02;
      }
    }
  }

  td {
    border: solid 1px $grey-02;
    padding: 15px 5px 15px 10px;
    font-size: 14px;
    text-align: center;

    &.left { text-align: left; }
    &.top { vertical-align: top; }

    .header {
      padding-bottom: 10px;
    }

    ul {
      font-size: 8px;
      padding-left: 15px;
      margin-top: 0;

      li span {
        font-size: 14px;
      }
    }

    strong {
      font-weight: 400;
      color: $grey-04;
    }
  }

  &.data {
    margin-top: -2px;
    .span3 {
      margin: 10px 0px 0px 20px;
    }
  }
}

/* break points for footer */
@media(min-width: $tablet) {
  .play-video {
    width: 350px;
  }

  .go-to-resource {
    width: 300px;
  }
}

@media (max-width: $tablet - 1) {
  .play-video, .go-to-resource {
    width: 400px;
  }

  footer .container .col1 {
    width: 50%;
  }

  footer .container .col2 {
    width: 43%;
  }

  footer .container .col3 {
    width: 50%;
    clear: both;
  }

  footer .container .col4 {
    width: 43%;
    float: left;
  }

  footer .social-container {
    margin-left: 50%;
  }

  footer #bottom-section .container .ft-btm-col2 {
    //width: 50%;
  }

  footer #bottom-section .container .ft-btm-col3 {
    //width :30%;
  }

  #site-content h1 {
    margin-top: 0;
  }

  #site-content h1.resource {
    margin-top: -100px;
  }
}

#page-navigation {
  @include font-size(20px);
  margin: 55px 0;
  float: left;

  .active-page {
    border: solid 1px #979797;
    color: #FFF;
    background-color: #979797;
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 7px 10px;
  }

  a {
    border: solid 1px #979797;
    color: #979797;
    @include font-size(20px);
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 7px 10px;
    text-decoration: none;
  }
}

.social_icons_vertical{
  width: 41px;
  position: fixed;
  top: 200px;
  left: 0;


  .social_header{
    width: 41px;
    background-color: $solidfire-red;

    p{
      color: $white;
      @include font-size(12px);
      text-align: center;
      padding: 8px 0;
      margin: 0;
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $solidfire-red;
    z-index: 0;
    position: absolute;
    left: 14px;
  }

  .social_icons{
    width: 41px;
    height: 158px;
    background-color: $cta-grey;
    padding: 0 8px;

    a{
      width: 25px;
      height: 25px;
      background-size: auto 100%;
      text-indent: -9999em;
      float: left;
      margin-top: 12px;
    }
  }
}

.social_icons_vertical .twitter{
  background-image: image-url("global/social-footer@2x.png");
  background-position: 0 0;

}

.social_icons_vertical .linkedin {
  background-image: image-url("global/social-footer@2x.png");
  background-position: -35px 0;
}

.social_icons_vertical .gplus {
  background-image: image-url("global/social-footer@2x.png");
  background-position: -70px 0;

}

.social_icons_vertical .facebook {

  background-image: image-url("global/social-footer@2x.png");
  background-position: -102px 0;
}

@media (max-width: $phone - 1) {
  .play-video , .go-to-resource{
    width: 100%;
  }
  #site-content h1.resource {
    margin-top: -100px;
  }

  .social_icons_vertical{
    display: none;
  }

  footer #bottom-section .container .ft-btm-col1 {
    width: 100%;
    text-align: center;
  }

  footer #bottom-section .container .ft-btm-col2 {
    width: 100%;
  }

  footer #bottom-section .container .ft-btm-col3 {
    text-align: center;
    float: none;
    width: 100%;
  }

  footer #bottom-section .container {
    .phone-number{
      text-align: center;
      max-width: 120px;
      margin: 60px auto 0;
    }
  }

  footer #bottom-section .logo {
    margin: 0 auto;
  }

  #top-footer-links {
    display: none;
  }

  footer .container .col1 {
    width: 100%;
  }

  footer .container .col2 {
    width: 100%;
  }

  footer .container .col3 {
    width: 100%;
    clear: both;
  }

  footer .container .col4 {
    width: 100%;
  }

  footer .social-container {
    margin-left: 0;
    margin: 0 auto;
    float: none;
  }

  footer .column-widths {
    width: 100%;
  }
}

img {
  display: block;
  height: auto;
  margin: 10px auto 20px;
  max-width: 100%;
  width: auto;
}

// background colors for sections
.even, .even-row {
  background-color: #F3F3F3;
}

.button--red{
  background-color: $solidfire-red;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  @include font-size(14px);
  font-weight: 200;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--red:hover{
  background-color: $red-01;
  color: $white;
  text-decoration: none;
}

.button--green{
  background-color: $cta-green;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--green:hover{
  background-color: $cta-green-hover;
  color: $white;
  text-decoration: none;
}

.button--grey{
  background-color: $cta-grey;
  color: #686868;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
  border: solid 1px #bbbbbb;
}

.button--grey:hover{
  background-color: $cta-grey-hover;
  color: #686868;
  text-decoration: none;
}

.button--aqua-blue-03{
  background-color: $aqua-03;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
  border: solid 1px #bbbbbb;
}

.button--aqua-blue-03:hover{
  background-color: $green-03;
  color: #FFF;
  text-decoration: none;
}

.button-trans-white-border {
  background-color: transparent;
  color: #FFF;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  border: solid 2px #fff;
}

.button-trans-white-border:hover {
  background-color: transparent;
  border-color: $red-01;
  color: $red-01;
}

.button--width-full {
  width: 100%;
}

.btn{
  background-color: $cta-green;
  color: $white;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
}

.btn:hover{
  background-color: $cta-green-hover;
  color: $white;
  text-decoration: none;
}

.button--default-styles {
  color: $white;
  text-decoration: none;
  padding: 5px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
}

.button--blue {
  background-color: $blue-02;
}

.button--blue:hover {
  background-color: $blue-04;
  color: $white;
  text-decoration: none;
}

.button--aqua {
  background-color: $aqua-01;
  color: $white;
}

.button--aqua:hover {
  background-color: $aqua-04;
  color: $white;
  text-decoration: none;
}

.button--white {
  background-color: $white;
  color: $red-01;
  font-weight: 500;
}

.button--aqua:hover {
  background-color: $red-01;
  color: $white;
  text-decoration: none;
}

.margin-left-twenty {
  margin-left: 20px;
}

.solidfire-red {
  color: $solidfire-red
}

.even_row{
  padding: 70px 0;
}

/* new header changes */
.header__container {
  width: 100%;
  float: left;
  z-index: 700;
  position: fixed;
  border-bottom: solid 1px $grey-01;
  background-color: #FFF;

  a {
    @include font-size(15px);
  }

  .header__container--bsp-container {
    background-color: $grey-03;
    padding: 5px 20px 8px 20px;
    width: 100%;
    float: left;

    a {
      color: #d5d5d5;
      @include font-size(12px);
      display: inline-block;
      font-weight: 300;
    }

    a:last-child {
      margin-right: 10px;
    }

    i.top-nav-links {
      color: #d5d5d5;
      @include font-size(16px);
      margin-right: 3px;
      display: inline-block;
    }

  }

  .header__container--logo-container {
    width: 28%;
    float: left;
    margin-right: 1.5%;
  }

  .header__container--logo {
    max-width: 260px;

    .header__container--logo__wrapper {
      position: relative;
      height: 70px;
      padding-top: 25px;
      margin-left: 20px;

      i.logo-icon {
        color: $red-01;
        @include font-size(34px);
        display: block;
      }

      a {
        text-decoration: none;
      }
    }

    .header__container--logo__wrapper:after,
    .header__container--logo__wrapper:before {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
    }
    .header__container--logo__wrapper--slant:after {
      right: 0;
      border-left: 30px solid rgba(255, 255, 255, 0);
      border-bottom: 70px solid #FFF;
    }
  }

  .header__container--main-nav {
    width: 58%;
    float: left;
    margin-top: 25px;

    .header__container--main-nav__item {
      display: inline-block;
      text-transform: uppercase;
      @include font-size(16px);
      margin-right: 50px;
      position: relative;

      a {
        color: $grey-nav;
        font-weight: 400;
        display: inline-block;
      }

      a:hover {
        color: $red-01;
        text-decoration: none;
      }

      a.trans-nav-link {
        color: #FFF;
      }

      a.trans-nav-link:hover {
        color: $grey-02;
      }

      #why-sf-nav-mobile {
        display: none;
      }

      .header__container--main-nav__item--vertical-bar {
        color: $grey-nav;
        display: inline-block;
      }
    }

    .header__container--main-nav__item:hover {
      a {
        color: $red-01;
      }
    }

    .header__container--main-nav__item.trans-top-item:hover {
      a {
        color: $grey-02;
      }
    }

    .header__container--main-nav__item:hover {
      .header__container--main-nav__item__rollover-box {
        display: block;
      }
    }
  }

  .header__container--main-nav__item.no-right-margin {
    margin-right: 0;
  }

  .header__container--main-nav__item--rollover {
    position: absolute;
    width: 100%;
    padding-bottom: 25px;
  }

  .header__container--burger-menu {
    width: 90px;
    float: right;
    margin-right: 10px;

    .header__container--burger-menu--image {
      margin-top: 25px;
      float: right;
      width: 90px;
      color: $grey-nav;

      .burger-image {
        @include font-size(19px);
        color: $grey-nav;
        display: block;
        float: left;
        width: 40px;
        margin-right: 10px;
      }

      span {
        display: block;
        float: left;
        width: 40px;
        text-align: right;
        @include font-size(15px);
        font-weight: 400;
        color: $grey-nav;
        font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      }
    }

    .header__container--burger-menu--image:hover {
      /* background-position: -24px 0; */

      cursor: pointer;

      span, .burger-image {
        color: $red-01;
      }


    }

    .header__container--burger-menu--div-padding-bottom {
      padding-bottom: 18px;
    }

  }

  .header__container--main-nav__item__rollover-box:hover {
    display: block;
  }

  .header__container--main-nav__item__rollover-box {
    position: absolute;
    left: 50px;
    background: #FFF;
    border: 1px solid #D8D8D8;
    border-top: 1px solid #bfbfbf;
    width: 440px;
    margin-top: 25px;
    padding: 20px 20px 0 10px;
    display: none;
    z-index: 500;
    -webkit-box-shadow: 0px 2px 3px 1px $grey-02;
    -moz-box-shadow: 0px 2px 3px 1px $grey-02;
    box-shadow: 0px 2px 3px 1px $grey-02;

    .main-nav__item--wrapper {
      width: 100%;
      float: left;
      margin-bottom: 25px;
    }

    .main-nav__item--icon {
      width: 15%;
      float: left;

      img {
        margin: 0;
      }
    }
  }

  .header__container--main-nav__item__rollover-box--use-cases {
    width: 960px;
    padding-right: 0;
    padding-left: 0;

    .main-nav__item--wrapper--left, .main-nav__item--wrapper--middle, .main-nav__item--wrapper--right {
      width: 300px;
      float: left;
      margin-right: 20px;
    }

    .main-nav__item--wrapper--right {
      margin-right: 0;
    }

    .main-nav__item--wrapper {
      width: 100%;
      float: left;
      margin-bottom: 25px;
    }

    .main-nav__item--icon {
      width: 15%;
      float: left;

      img {
        margin: 0;
      }
    }

  }

  .main-nav__item--wrapper {
    float: left;
    width: 100%;
    margin: 10px 0;

    .main-nav__item--text {
      width: 80%;
      float: left;
      color: $grey-03;
      text-transform: none;
      font-weight: 300;
      line-height: 22px;
      @include font-size(16px);

      span.icon-link {
        display: block;
        margin-top: 5px;
        line-height: 30px;

        a {
          color: $grey-04;
          font-weight: 600;
          @include font-size(16px);
          text-transform: uppercase;
          display: block;
        }

        a:hover {
          color: $red-01;
        }
      }
    }
  }

  .main-nav__item--sub-text-items {
    width:100%;
    float:left;
    margin-top:20px;

    span {
      display: block;
      @include font-size(15px);
      margin-bottom: 10px;

      a:hover {
        color: $red-01;
      }
    }
  }

  .main-nav__item--wrapper.drop-down-nav {
    float: left;
    width: 100%;
    margin: 10px 0 25px 30px;
    text-align: left;

    .icon-wrapper {
      width: 70px;
      float: left;

      .icon-OpenStack {
        @include font-size(30px);
      }

      .icon-Virtualization {
        @include font-size(30px);
      }

      .icon-VMware {
        @include font-size(30px);
      }

      .icon-CloudOrchestration {
        @include font-size(30px);
      }

      .icon-VDI {
        @include font-size(30px);
      }

      .icon-icon_AccelerateDatabase {
        @include font-size(30px);
      }

      .icon-iconAI {
        @include font-size(30px);
      }

      .icon-ElementX {
        @include font-size(30px);
      }

      .icon-ServiceProviders {
        @include font-size(30px);
      }
    }

    .main-nav__item--text {
      width: 300px;
      float: left;
      color: $grey-03;
      text-transform: none;
      font-weight: 300;
      @include font-size(16px);
      margin: 0 0 15px 0;
      line-height: 22px;

      span.icon-link {
        display: block;
        margin-top: 5px;
        line-height: 30px;

        a {
          color: $grey-04;
          font-weight: 600;
          @include font-size(16px);
          text-transform: uppercase;
          display: block;
        }

        a:hover {
          color: $red-01;
        }
      }

    }

    .main-nav__item--text-thirds {
      width: 200px;
    }

    .icon-nav {
      float: right;
    }

    .icon-ConvergedInfrastructure.icon-nav {
      @include font-size(24px);
      margin-top: 10px;
    }
  }

  .storage-nodes-icon-nav {
    display: inline-block;
    color: $red-01;
    @include font-size(32px);
    margin-right: 18px;
    margin-bottom: 0px;
    float: right;
  }

  .element-icon-nav {
    display: inline-block;
    color: $red-01;
    @include font-size(32px);
    margin-right: 10px;
    margin-bottom: 0px;
    float: right;
  }

  .support-icon-nav {
    display: inline-block;
    color: $red-01;
    @include font-size(32px);
    margin-right: 6px;
    margin-bottom: 0px;
    float: right;
  }

  .icon-nav {
    display: inline-block;
    color: $red-01;
    @include font-size(35px);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
  }

  .icon-Blog2, .icon-Resources, .icon-Careers {
    font-weight: 500;
    margin-top: 10px;
  }

  .icon-Resources {
    margin-right: 15px;
  }

  .header__container--main-nav__item__rollover-box:after, .header__container--main-nav__item__rollover-box:before {
    bottom: 100%;
    left: 74%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }


  @media (min-width: 985px) {
    .header__container--main-nav__item__rollover-box--use-cases:after, .header__container--main-nav__item__rollover-box--use-cases:before {
      left: 61%;
    }
  }

  @media (max-width: 984px) {
    .header__container--main-nav__item__rollover-box--use-cases:after, .header__container--main-nav__item__rollover-box--use-cases:before {
      left: 56%;
    }
  }

  .header__container--main-nav__item__rollover-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
  }
  .header__container--main-nav__item__rollover-box:before {
    border-color: rgba(216, 216, 216, 0);
    border-bottom-color: #bfbfbf;
    border-width: 11px;
    margin-left: -11px;
  }

  .rollover-box-explore--margin-left {
    margin-left: -340px;
  }

  .rollover-box-use--margin-left {
    margin-left: -600px;
  }

  .rollover-box-get-started--margin-left {
    margin-left: -320px;
  }

  .rollover-box-burger--margin-left {
    margin-left: -670px;
  }

  .header__container--burger-menu--rollover-box {
    position: absolute;
    background: #FFF;
    border: 1px solid $grey-02;
    width: 760px;
    margin-top: 70px;
    padding: 0;
    display: none;
    z-index: 300;

    .burger-menu--rollover-box--hiring {
      color: #FFF;
      background-color: $grey-04;
      width: 100%;
      float: left;
      text-align: center;
      padding: 20px 0 18px 0;

      span {
        @include font-size(20px);
        text-transform: uppercase;
      }

      img {
        display: inline;
        margin: 0;
      }
    }

    .burger-menu--rollover-box--padding {
      padding: 20px;
    }

    .burger-menu--rollover-box--demo {
      width: 340px;
      float: left;
      margin-right: 25px;

      .button--red {
        background-color: $red-01;
      }

      .button--red:hover {
        background-color: $red-04;
      }
    }

    .burger-menu--rollover-box--menu {
      width: 100%;
      float: left;
      margin-bottom: 30px;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        list-style: none;
        width: 50%;
        float: left;

        a {
          color: $grey-04;
          font-weight: 400;
          line-height: 30px;
        }

        a:hover {
          color: $red-04;
        }
      }
    }
  }

  .burger-menu--rollover-box--search {
    margin: 30px 0;
    border: solid 1px #CCC;
    float: left;
    width: 340px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    input {
      width:80%;
      height: 50px;
      color: $grey-04;
      @include font-size(20px);
      text-align: center;
      float: left;
      border: solid 1px #FFF;
      box-shadow: none;
      margin-bottom: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      font-weight: 300;
    }

    label {
      background-color: $grey-03;
      height: 50px;
      width: 50px;
      float: right;
      margin: 0;
      border: solid 1px $grey-03;
      -moz-border-right-radius: 5px;
      -webkit-border-right-radius: 5px;
      -khtml-border-right-radius: 5px;
      border-right-radius: 5px;
      -moz-border-bottom-radius: 5px;
      -webkit-border-bottom-radius: 5px;
      -khtml-border-bottom-radius: 5px;
      border-bottom-radius: 5px;
    }

    .icon-search {
      color: $white;
      @include font-size(20px);
      font-weight: 600;
      display: inline-block;
      padding-top: 15px;
      padding-left: 14px;
    }

    label:hover {
      background-color: $red-04;
    }
  }

  .burger-menu--rollover-box--left-column-nav {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }

  .burger-menu--rollover-box--middle-column-nav {
    width: 20%;
    float: left;
  }

  .burger-menu--rollover-box--right-column-nav {
    width: 30%;
    float: left;
  }

  .burger-menu--rollover-box--left-column-nav, .burger-menu--rollover-box--middle-column-nav, .burger-menu--rollover-box--right-column-nav {

    a {
      color: $grey-03;
      font-weight: 300;
      text-transform: uppercase;
    }

    a:hover {
      color: $red-01;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 32px;
    }

    ul {
      padding: 0;
    }
  }

  .header__container--burger-menu--rollover-box:after, .header__container--burger-menu--rollover-box:before {
    bottom: 100%;
    left: 91.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .header__container--burger-menu--rollover-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
  }
  .header__container--burger-menu--rollover-box:before {
    border-color: rgba(216, 216, 216, 0);
    border-bottom-color: #D8D8D8;
    border-width: 11px;
    margin-left: -11px;
  }

}

.header__container--burger-menu--rollover-box--mobile {
  width: 100%;
  position: absolute;
  background-color: $white;
  top: 103px;
  left: 0;
  display: none;

  .rollover-box--mobile--item {
    width: 100%;
    float: left;
    border-bottom: solid 1px $grey-01;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    font-weight: 600;
    color: $grey-04;

    .plus-expand {
      color: $red-01;
      position: absolute;
      left: 150px;
      margin-top: -28px;
      font-weight: 600;
      @include font-size(30px);
    }

    .minus-close {
      color: $red-01;
      position: absolute;
      left: 150px;
      margin-top: -28px;
      font-weight: 600;
      @include font-size(30px);
      display: none;
    }

    .burger-menu--rollover-box--search {
      width: 100%;
    }

    .button--red {
      color: $white;
    }
  }

  .rollover-box--mobile--item--no-right-padding {
    padding-right: 0;
  }

  .rollover-box--mobile--item-text-reg {
    text-transform: capitalize;
  }

  a {
    color: $grey-04;
  }

  a:hover {
    color: $red-01;
  }

  .rollover-box--mobile-sub-nav {
    background-color: $alt-grey-03;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 20px 0 5px 0;
    display: none;
    -moz-box-shadow: 0 1px 0 $grey-02;
    -webkit-box-shadow: 0 1px 0 $grey-02;
    box-shadow: 0 1px 0 $grey-02;

    .mobile-sub-nav--wrapper {
      width: 100%;
      float: left;
      margin-left: 25px;

      .icon-wrapper {
        width: 50px;
        float: left;
      }

      .main-nav__item--text {
        width: 200px;
        float: left;
        color: $grey-02;
        text-transform: none;
        font-weight: 200;
        @include font-size(15px);
        margin: 0 0 15px 0;

        span.icon-link {
          display: block;
          margin-top: 5px;
          line-height: 30px;

          a {
            color: $grey-03;
            font-weight: 600;
            @include font-size(15px);
            text-transform: uppercase;
            display: block;
          }

          a:hover {
            color: $red-01;
          }
        }
      }
    }

    .icon-CloudOrchestration {
      @include font-size(25px);
      padding-top: 5px;
    }

  }
}

@media (max-width: $desktop - 1) {
  .header__container .header__container--main-nav__item__rollover-box--use-cases {
    width: 670px;
  }

  .header__container .header__container--main-nav__item__rollover-box--use-cases .main-nav__item--wrapper--left, .header__container .header__container--main-nav__item__rollover-box--use-cases .main-nav__item--wrapper--right {
    width: 100%;
  }

  .header__container .rollover-box-use--margin-left {
    margin-left: -380px;
  }

  .header__container--main-nav__item__rollover-box.header__container--main-nav__item__rollover-box--use-cases {
    .main-nav__item--wrapper--left, .main-nav__item--wrapper--middle, .main-nav__item--wrapper--right {
      width: 30%;
      margin-right: 20px;
    }
  }
}

@media(min-width: 435px) {
  .header__container--bsp-container {
    text-align: right;

    a {
      margin-right: 40px;
    }

    .country {
      width: 40px;
    }
  }
}

@media(max-width: 434px) {
  .header__container--bsp-container {
    text-align: left !important;

    a {
      margin-right: 10px;
    }

    .country {
      width: 20px;
    }
  }
}

@media (max-width: 852px) {
  .header__container .header__container--main-nav .header__container--main-nav__item {
    margin-right: 4%;
  }

  .header__container .header__container--main-nav .header__container--main-nav__item a#why-sf-nav {
    display: none;
  }

  .header__container .header__container--main-nav .header__container--main-nav__item a#why-sf-nav-mobile {
    display: block;
  }

  .header__container .header__container--main-nav {
    width: 52%;
    text-align: center;
  }
}

@media (max-width: $tablet - 1) {
  .header__container .header__container--main-nav {
    display: none !important;
    opacity: 0 !important;
  }

  .header__container, .header__container .header__container--burger-menu {
    text-align: left;
  }

  .header__container {
    position: relative;
  }

}

@media (max-width: $phone - 1) {

}

.top-section{
  margin-top: 70px;
}

.top-margin-25 {
  margin-top: 25px;
}

.top-margin-35 {
  margin-top: 35px;
}

.top-margin-45 {
  margin-top: 45px;
}

.top-margin-50 {
  margin-top: 50px;
}

.top-margin-75 {
  margin-top: 75px;
}

.page-top-margin {
  margin-top: 120px;
}

.section {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 20px;
  margin-top: 50px;
  .container {
    @include container(960px);
  }
}

h1 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  @include font-size(40px);
  color: $grey-04;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(32px);
  line-height: 40px;
  color: $grey-04;
}

h3 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(24px);
  line-height: 31px;
  color: $grey-04;
}

h4 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(20px);
  line-height: 25px;
  color: $grey-04;
}

h5 {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(15px);
  line-height: 25px;
  color: $grey-04;
  margin-bottom: 0;
}

p {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: 300;
  @include font-size(16px);
  line-height: 26px;
  color: $grey-04;
}

a {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: normal;
  @include font-size(15px);
  color: $red-01;
  text-decoration: none;
}

a:hover {
  color: $red-04;
}

ul {
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: 200;
  @include font-size(16px);
  line-height: 27px;
  color: $grey-04;
}

.button-red {
  background-color: $red-01;
  color: $white;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
  transition: background-color 0.5s ease;
}

.demo-button-red {
  @extend .button-red;
  padding: 5px 40px;
  font-size: 14px;
  margin-top: 20px;
}

.demo-button-red-outline {
  @extend .demo-button-red;
  background-color: transparent;
  color: $red-01;
  border-radius: 5px ;
  position: relative ;
}

.demo-button-red-outline:after{
  content: '' ;
  display: block ;
  position: absolute ;
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  border-radius: 5px ;
  border: 1px solid $red-01;
}

.button-red:hover {
  background-color: $red-03;
  color: $white;
}

.button-blue {
  background-color: #0CA2B3;
  color: $white;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-top: 30px;
  transition: background-color 0.5s ease;
}

.button-blue:hover {
  background-color: #248397;
  color: $white;
}

.button-blue-outline {
  background-color: $white;
  color: #0CA2B3;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  border: 1px solid #0CA2B3;
  transition: background-color 0.5s ease;
}

.button-blue-outline:hover {
  background-color: #248397;
  color: $white;
}

.button-white-outline {
  background-color: $aqua-01;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  border: 1px solid #fff;
  transition: background-color 0.5s ease;
}

.button-white-outline:hover {
  background-color: #fff;
  color: $aqua-01;
}

.gradient-background-section {
  background: #FFFFFF;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.00) 73%);
}

.content-module-thirds {
  width: 30%;
  float: left;
  margin-right: 5%;

  .icon-with-bg {
    @include font-size(70px);
    color: #FFF;
    background-color: $aqua-01;
    border: solid 1px $aqua-01;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    width: 130px;
    height: 130px;
  }

  .icon-trans-bg {
    @include font-size(70px);
    color: $aqua-01;
    background-color: transparent;
    border: solid 1px $aqua-01;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    width: 130px;
    height: 130px;
  }

  p a {
    text-transform: capitalize;
    font-weight: 400;
  }

  p a:hover {
    color: $aqua-01;
  }

  a.content-module-thirds-link {

    position: relative;
    float: left;
    display: block;

  }
}

.content-module-thirds:hover {
  cursor: pointer;

  .icon-with-bg {
    background-color: $aqua-04;
    border: solid 1px $aqua-04;
  }

  a {
    color: $aqua-04;
  }

}

.content-module-thirds.right-margin-zero, .content-module-half.right-margin-zero {
  margin-right: 0;
}

.content-module-half {
  width: 45%;
  float: left;
  margin-right: 5%;

  p a {
    text-transform: capitalize;
    font-weight: 400;
  }

  p a:hover {
    color: $aqua-01;
  }
}

.span1 {
  @include span(1 of 12);
}
.span2{
  @include span(2 of 12);
}
.span3 {
  @include span(3 of 12);
}
.span3last {
  @include span(3 of 12 last);
}
.span4 {
  @include span(4 of 12);
}
.span4last {
  @include span(4 of 12 last);
}
.span5 {
  @include span(5 of 12);
}
.span6 {
  @include span(6 of 12);
}
.span6last {
  @include span(6 of 12 last);
}
.span7 {
  @include span(7 of 12);
}
.span8 {
  @include span(8 of 12);
}
.span9 {
  @include span(9 of 12);
}
.span10 {
  @include span(10 of 12);
}
.span11 {
  @include span(11 of 12);
}
.span12 {
  @include span(12 of 12);
}

.span6right {
  @include span(6 of 12 last);
}

.span9right {
  @include span(9 of 12 last);
}

@media (max-width: $tablet - 1) {
  .border-bottom {
    display: none;
  }
  .hide-mobile {
    display: none !important;
  }
}

@media (max-width: $tablet) {
  .hide-tablet-portrait {
    display: none;
  }
}

/* default style guide colors and helpers */

.red-01-background-color {
  background-color: $red-01;
}

.red-02-background-color {
  background-color: $red-02;
}

.red-03-background-color {
  background-color: $red-03;
}

.red-04-background-color {
  background-color: $red-04;
}

.grey-01-background-color {
  background-color: $grey-01;
}

.grey-02-background-color {
  background-color: $grey-02;
}

.grey-03-background-color {
  background-color: $grey-03;
}

.grey-04-background-color {
  background-color: $grey-04;
}

.red-01-color {
  color: $red-01;
}

.red-02-color {
  color: $red-02;
}

.red-03-color {
  color: $red-03;
}

.red-04-color {
  color: $red-04;
}

.grey-01-color {
  color: $grey-01;
}

.grey-02-color {
  color: $grey-02;
}

.grey-03-color {
  color: $grey-03;
}

.grey-04-color {
  color: $grey-04;
}

.strong-upper {
  text-transform: uppercase;
  font-weight: 600;
}

.fit-container-relative {
  width: 100%;
  float: left;
  position: relative;
}

.item-wrapper-red {
  border-top: 1px solid $red-01;
  padding-top: 15px;
  margin-top: 15px;

  a {
    color: $red-01;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.item-wrapper-white {
  border-top: 1px solid $white-01;
  padding-top: 15px;
  margin-top: 15px;

  a {
    color: $white-01;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.item-wrapper-grey {
  border-top: 1px solid $grey-04;
  padding-top: 15px;
  margin-top: 15px;

  a {
    color: $grey-04;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.icon-icon_playVideo2{
  @include font-size(30px);
  float: left;
  color: $aqua-01;
  margin-right: 10px;
  position: relative;
  top: 14px;
}

.play-video.margin-right {
  margin-right: 50px;
}

.play-video {
  display: inline-block;
  border-top: 1px solid $red-01;
  margin-top: 30px;

  .play-video-link{
    i {
      position: relative;
      bottom: 8px;
      font-size: 14px;
      text-transform: uppercase;
    }

    .icon-icon_playVideo2, .icon-whitepapericon{
      @include font-size(30px);
      float: left;
      color: $aqua-01;
      margin-right: 10px;
      position: relative;
      top: 14px;
    }

    p.link {
      font-size: 14px !important;
      text-transform: uppercase;
      color: $red-01;
      font-weight: 500;
    }

    p.link:hover {
      color: $red-03;
    }

    color: $red-01 !important;
    font-weight: 400;
  }

  .play-video-link:hover{
    i{
      color: $red-04;
    }

    a{
      color: $red-04;
    }
  }
}

.go-to-resource {
  @extend .play-video;
}


.country {
  display:inline-block;
  position:relative;
  float: right;

  img {
    display: inline-block;
    margin: 0;
    max-width:25px;
  }

  .country-list {
    display:none;
    position:absolute;
    width:25px;
    margin-top:8px;
  }

  .country-item {
    display:inline-block;
    position:relative;
    width:25px;
  }
}

.resources-section {
  width: 100%;
  position: relative;
  float: left;
  padding: 130px 20px;

  ul{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    padding-bottom: 50px;
  }

  li{
    margin-bottom: 10px;
  }

  i{
    @include font-size(24px);
    margin-right: 8px;
  }

  .icon{
    float: left;
    padding-top: 2px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  a {
    font-size: 18px;
  }
}

.links {
  max-width: 460px;
  margin-top: 30px;

  p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;

    span {
      font-size: 26px;
      position: relative;
      top: 1px;
    }
  }

  p:hover {
    color: $red-04;
  }
}

#header-demo {
  display: none;

  h3 {
    text-align: center;
  }

  #mktoForm_1087 {
    margin: 0 auto;
  }

  button.mktoButton {
    background-color: $red-01;
  }

  button.mktoButton:hover {
    background-color: $red-04;
  }
}

.resources-section {
  padding: 0;
  margin: 0;
  ul {
    list-style-type: none;
    padding: 0;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    font-weight: 200;
    line-height: 27px;
    padding-bottom: 0px;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-decoration: none;
    }

    .icon-icon_playVideo2 {
      color: $red-01 !important;
      font-size: 18px;
      position: relative;
      top: 7px;
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      padding-right: 10px;
    }

    i {
      padding-right: 10px;
      font-size: 18px;
      line-height: 1;
      margin-right: 0;
    }
  }

  h4 {
    margin-top: 0px;
  }
}

.hidden-nav {
  display: none;
  background-color: #fbfbfb;
  -webkit-transition: background-color .1s linear; /* Safari */
  transition: background-color .1s linear;
  position: fixed;
  z-index: 600;
}

.plus-expand:hover, .minus-close:hover {
  cursor: pointer;
}

