@import "variables";

#elementx, #continuum {
  width:100%;
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 0 20px;
}

#elementx, #continuum {
  margin-top: 70px;
  padding: 70px 20px 0 20px;
}

#elementx .container, #continuum .container {
  background-color:transparent;
  @include container(960px);
}

#elementx .full-row, #continuum .full-row {
  @include span(12 of 12);
}

#elementx .container .col1 {
  @include span(2 of 12);
  margin-right: 0;
}

#elementx .container .col2 {
  @include span(8 of 12);
}

#elementx .container .col3{
  @include span(2 of 12 last);
}

#elementx .container .col4 {
  @include span(10 of 12);
}

#elementx .container .col5 {
  @include span(10 of 12);
  float: right;
}


#elementx .container .full-row img {
  float: left;
  margin: 4px 25px 10px 0
}

//element X css

.elementx_icon{
  width: 130px;
  padding-top: 7px;
  margin: auto;
}

#elementx .container .col5 h3, #continuum .container .full-row h3{
  text-align: left;
  @include font-size(21px);
}

#elementx .container .col4 h1, #continuum .container .full-row h1{
  text-align: left;
  @include font-size(42px);
  margin: 0px;
  padding-bottom: 0;
}

.btnContainer {
  margin: 30px 0 50px 0;
  height: 30px;

  .btn {
    float: none;
    margin: 0 20px 15px auto;
  }

  .greyBtn{
    background-color: #7b7b7b;
  }

  .greyBtn:hover{
    background-color: #686868;
  }
}

  .btn{
    float: left;
    margin-right:30px;
  }


.CTAText{
  max-width: 475px;
}

.contactUsToday{
  max-width: 400px;
}

.bold{
  font-weight: 500;
  color: #333;
}

.staticElements{
  margin: 43px 0;
}

#elementx .container .full-row hr, #continuum .container .full-row hr {
  margin: 100px 0 0 0;
}

.redText{
  color: #9E1E1C;
}

footer{
  margin-top: 5px !important;

}

@media(min-width: $tablet) {
  .section.top-section {
    margin-top: 170px;
  }
}

@media (min-width: $small) and (max-width: $tablet - 1) {
  .section.top-section {
    margin-top: 90px;
  }

  #elementx {
    padding-top: 0;
  }
  #elementx .container .col4 h1 {
    @include font-size(28px);
  }

  #elementx .container .col1, #elementx .container .col2, #elementx .container .col3, #elementx .container .col4, #elementx .container .col5 {
    width: 100%;
    float: none;
  }

  #elementx .container .full-row hr {
    display: none;
  }


  #elementx .container .col5 {
    text-align: center;
  }

  #elementx .container .col5 p, ul {
    text-align: left;
  }

  .elementx_icon {
    float: none;
    padding-bottom: 10px;
  }

  //continuum LP
  #continuum{
    padding: 0 20px;
    margin-top: 100px;
  }

  #continuum .container .full-row {
    .col1, .col2 {
      width: 100%;
      float: none;
    }

    .col1{
      margin-bottom: 30px;
    }

    h1{
      @include font-size(28px);
    }

    hr{
      display: none;
    }

    .continuumContainer, .col4{
      display: none;
    }

    .continuumContainerMobile{
      display: block;
    }

    .col8 {
      width: 100%;
      margin-top: 0;
    }

    .col8 img {
      margin: auto;
    }

    .supplementPaper{
      margin-top: 30px;
    }

    .desktopInstructions{
      display: none;
    }

    .mobileInstructions{
      display: block;
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  #elementx .container .col4 h1 {
    @include font-size(28px);
    text-align: center;
  }

  #elementx .container .col1, #elementx .container .col2, #elementx .container .col3,  #elementx .container .col4, #elementx .container .col5 {
    width: 100%;
    float: none;
  }

  .btn{
    float: none;
    margin: 0 auto 15px auto;
  }

  #elementx .container .col5{
    text-align: center;
  }

  #elementx .container .col5 p, ul{
    text-align: left;
  }

  .elementx_icon{
    float: none;
    padding-bottom: 10px;
  }

  .staticElements{
    margin: 43px auto;
  }

  //continuum LP
  #continuum{
    padding: 0 20px;
    margin-top: 100px;
  }

  #continuum .container .full-row {
    .col1, .col2 {
      width: 100%;
      float: none;
    }

    .col1{
      margin-bottom: 30px;
    }

    h1{
      @include font-size(28px);
    }

    hr{
      display: none;
    }

    .continuumContainer, .col4{
      display: none;
    }

    .continuumContainerMobile{
      display: block;
    }

    .col8 {
      width: 100%;
      margin-top: 0;
    }

    .col8 img {
      margin: auto;
    }

    .supplementPaper{
      margin-top: 30px;
    }

    .desktopInstructions{
      display: none;
    }

    .mobileInstructions{
      display: block;
    }
  }
}

//continuum LP

#continuum .container .col1{
  @include span(8 of 12);
}

#continuum .container .col2{
  @include span(4 of 12);
  background-color: #ECECEC;
  border: solid 1px #979797;
  border-radius: 8px;
  margin-right: 0;
  padding: 0 18px;
}

#continuum .container .continuumContainer{
  width: 100%;
  margin: 40px 0 50px 0;
  min-height: 155px;
  min-width: 630px;
}

#continuum .container .col3{
  width: 105px;
  height: 70px;
  float: left;
  color: $white;
  background-color: #77787B;
  padding: 0 5px;
  margin-right: 3px;
  display: table-cell;
  vertical-align: middle;

  p{
    color: $white;
    text-align: center;
    font-size: 12px;
  }
}

#continuum .container .col4{
  width: 100%;
  height: 60px;
  min-width: 630px;
}

#continuum .container {
  .col3{
    width: 105px;
    height: 70px;
    float: left;
    color: $white;
    background-color: #77787B;
    padding: 0 5px;
    margin-right: 3px;
    display: table-cell;
    vertical-align: middle;

    p{
      color: $white;
      text-align: center;
      font-size: 12px;
    }
  }

  .col4{
    width: 100%;
    height: 60px;
    min-width: 630px;
  }

  .continuumContainerMobile {
    display: none;
  }

  .col5, .col6, .col7 {
    float: left;
    margin-right: 5px;
    padding: 0 5px;
    p {
      font-size: 15px;
      padding-top: 0;
    }
  }

  .col5 {
    width: 100px;
  }

  .col7 {
    width: 170px;
  }

  .col6 img {
    margin: 5px auto 20px;
  }

  .col8 {
    @include span(4 of 12);
    margin: 20px 0 0 0;
    padding: 0 18px;
  }

  .col8 img {
    margin: 0;
    max-width: 155px;
  }

  .rightAlign p{
    text-align: right;
  }

  .centerAlign p{
    text-align: center;
  }
  .selectable{
    background-color: #D8D8D8;
    cursor: pointer;
  }

  .selectable:hover{
    background-color: #77787B;
  }

  .leftArrowImage{
    margin: 10px 3px 0 6px;
    float: left;
  }
  .rightArrowImage{
    margin: 10px 0 0 3px;
    float: left
  }
  .asService p, .hyperConverged p{
    margin-top: 17px;
  }

  .convergedInfrastructure p, .bestOfBreed p{
    margin-top: 11px;
  }

  .topImage img{
    margin-bottom: 10px;
  }

  .continuumInstructions{
    border: 2px solid #f5f5f5;
    padding: 5px 15px 15px 15px;
    margin-top: 20px;
  }

  .continuumInstructions p{
    @include font-size(17px);
  }

  .supplementPaper{
    margin-top: 65px;
    text-align: center;
  }

  .mobileInstructions{
    display: none;
  }

  .left {
    border-bottom-left-radius: 10px;
  }

  .right {
    border-bottom-right-radius: 10px;
  }
}

.bold{
  font-weight: 500;
}



