@import "variables";
.main_page
{
  width:100%;
  position: relative;
  float: left;
  padding: 0 20px;

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .container {
    background-color:transparent;
    @include container(960px);
    margin-top: 70px;

  }

  .full-row {
    @include span(12 of 12);
    margin-top: 70px;

    h1 {
      text-align: center;
      @include font-size(42px);
      margin-top: 0;
    }

    img{
      margin-bottom: 0;
    }

    h2{
      font-weight: 300;
      @include font-size(30px);
    }

    .red-text{
      color: $solidfire-red;
      @include font-size(22px);
      margin: 40px 0 20px;
    }

    .col5{
      @include span(5 of 12);
    }

    .left{
      margin-right: 100px;
    }

  }
  .bottom{
    margin-bottom: 20px;
  }
}