@import "variables";


.section {
  padding: 70px 20px;
  .container {
    @include container(960px);

    h1 {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: 200;
      @include font-size(40px);
      line-height: 50px;
      color: $grey-04;
      text-align: center;
    }

    h2 {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: 200;
      @include font-size(32px);
      line-height: 40px;
      color: #4A4A4A;
    }

    h3 {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: normal;
      @include font-size(24px);
      line-height: 31px;
      color: $grey-04;
    }

    h4 {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: normal;
      @include font-size(20px);
      line-height: 25px;
      color: $grey-04;
    }

    p {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: 200;
      @include font-size(16px);
      line-height: 26px;
      color: $grey-04;
    }

    a {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: normal;
      @include font-size(18px);
      color: #CC1F26;
    }

    a:hover {
      color: #9C1C20;
    }

    ul {
      font-family: "Source Sans Pro", arial, helvetica, sans-serif;
      font-weight: 200;
      @include font-size(16px);
      line-height: 27px;
      color: $grey-04;
    }

    .button-blue {
      background-color: #0CA2B3;
      color: $white;
      text-decoration: none;
      padding: 10px 40px;
      text-transform: uppercase;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      text-align: center;
      display: inline-block;
      border: none;
      margin-top: 30px;
      transition: background-color 0.5s ease;
    }

    .button-blue:hover {
      background-color: #248397;
      color: $white;
    }

    .button-blue-outline {
      background-color: $white;
      color: #0CA2B3;
      text-decoration: none;
      padding: 10px 40px;
      text-transform: uppercase;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 25px;
      text-align: center;
      display: inline-block;
      margin-top: 30px;
      border: 1px solid #0CA2B3;
      transition: background-color 0.5s ease;
    }

    .button-blue-outline:hover {
      background-color: #248397;
      color: $white;
    }

    .text-display {
      h1, h2, h3, h4 {
        text-align: left;
        margin: 0;
        padding-bottom: 0;
      }

      p{
        margin-bottom: 20px;
      }

      .p-text{
        margin-bottom: 0;
        max-width: 600px;
      }

      .bold{
        font-weight: 600;
      }
    }

    .button-blue, .button-blue-outline {
      margin-right: 30px;
    }
  }
}

  .full-row {
    @include span(12 of 12);

    .icon{
      background-color: #555;
      padding: 20px;
      margin-right: 20px;

      .icon-text{
        color: $white;
      }

      .doc-icon{
        padding-right: 10px;
      }
    }
  }


.colors {

  .color {
    float: left;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #fff;

    p {
      text-align: center;
      padding: 10px
    }

    .color-box {
      height: 40px;
      min-width: 180px
    }
  }
}

.red {
  .color-one {
    background-color: $red-01;
  }

  .color-two {
    background-color: $red-02;
  }

  .color-three {
    background-color: $red-03;
  }

  .color-four {
    background-color: $red-04;
  }
}

.yellow {
  .color-one {
    background-color: $yellow-01;
  }

  .color-two {
    background-color: $yellow-02;
  }

  .color-three {
    background-color: $yellow-03;
  }

  .color-four {
    background-color: $yellow-04;
  }
}

.green {
  .color-one {
    background-color: $green-01;
  }

  .color-two {
    background-color: $green-02;
  }

  .color-three {
    background-color: $green-03;
  }

  .color-four {
    background-color: $green-04;
  }
}

.blue-green {
  .color-one {
    background-color: $aqua-01;
  }

  .color-two {
    background-color: $aqua-02;
  }

  .color-three {
    background-color: $aqua-03;
  }

  .color-four {
    background-color: $aqua-04;
  }
}

.blue {
  .color-one {
    background-color: $blue-01;
  }

  .color-two {
    background-color: $blue-02;
  }

  .color-three {
    background-color: $blue-03;
  }

  .color-four {
    background-color: $blue-04;
  }
}

.black {
  .color-one {
    background-color: $grey-01;
  }

  .color-two {
    background-color: $grey-02;
  }

  .color-three {
    background-color: $grey-03;
  }

  .color-four {
    background-color: $grey-04;
  }
}

.dark-bg {
  background-color: #555;

  .container {
    h2 {
      color: $white;
    }
  }
}



