@import "variables";

html,body {
  height: 100%;
  padding: 0 20px;
}

/* video take over */
.video-page__container {
  @include container(100%);
}

.video-container {
  width:100%;
  height:100%;
  margin:0 auto 0;
  position: relative;
}

.h_iframe  {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;}

.h_iframe iframe {
  position: absolute;
  width: 100%;
  height: 110%;
  left: 0; top: 0;}


.div-overlay {
  position:absolute;
  z-index:500;
  bottom:-60px;
  width:100%;
  height:100%;
  display: none;
}

.close-btn {
  color:#b8b8b8;
  position:absolute;
  z-index:500;
  right:0;
  margin-top:30px;
  margin-right:0px;
  padding-right: 20px;

  a {
    color:#b8b8b8;
    @include font-size(24px);
  }
}

.close-btn-splash {
  color:#b8b8b8;
  position:absolute;
  z-index:500;
  right:0;
  margin-top:30px;
  margin-right:-20px;
  display: none;

  a {
    color:#b8b8b8;
    @include font-size(24px);
  }
}


.header__container, footer, .home-section-one, .home-section-two, .home-section-three, .home-section-four, .angle-section-0, .angle-section-1, .fade-in-three {
  display: none;
}