@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

a#why-sf-nav {
  color: $red-01;
}

a.why-solidfire-mobile {
  color: $red-01;
}


.container {
  @include container;
}

.container {
  background-color:transparent;
  @include container(960px);
}

#why-solidfire {
  .skew-fix-left {
    padding: 0;
  }
  .bottom-angle-section.two, .lowering-the-cost-section {
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
  }

  .top-section {
    width: 100%;
    position: relative;
    float: left;
    background: image-url('why_solidfire/WhySFHeroV3.jpg') 50% -20% no-repeat;
    min-height: 580px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-color: #FFF;
    padding: 0 20px;
    margin-top: 70px;

    .text {
      display: block;
      margin: auto;
      max-width: 600px;
    }

    h1 {
      text-align: center;
      color: white;
      font-weight: 300;
      margin-top: 90px;
    }
  }

  #why-card-one, #why-card-two, #why-card-three, #why-card-four, #why-card-five, #why-card-six {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 350px;

    .front, .back {
      border: 1px solid $grey-02;
      background-image: image-url('platform/automated_management/flip-icon.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 20px;
      border-radius: 5px;
      height: 350px;
      width: 100%;
    }
  }

  .angle-section-0 {
    margin-top: -15px;

    h1 {
      text-align: left;
      font-weight: 500;
      padding-top: 50px;
      padding-bottom: 0;
      width: 70%;
    }

    .fit-container-relative {
      text-align: center;
    }

    img {
      position: absolute;
      top: 30px;
      right: -250px;
    }

    .container {
      padding: 80px 0;
    }
  }

  .inner-angle-section {
    padding-right: 0;
    padding-left: 0;
  }

  .bottom-angle-section-right {
    h2, h5, p {
      color: $white-01;

      .platform-height {
        float: left;
        width: 100%;
        height: 230px;
        border-bottom: solid 1px $grey-01;
        margin-bottom: 15px;
      }

      span {
        font-weight: 500;
      }
    }

    h2 {
      margin-bottom: 50px;
    }

    .links {
      border-top: 1px solid white;
      position: relative;
      bottom: 0;
      width: 100%;

      p {
        padding-top: 5px;
      }
    }

    .section-top-right {
      background-color: $grey-04;
    }

    .section--item-container {
      margin-bottom: 60px;
      float: left;
    }

    .skew-fix-right {
      @include transform(skewY( -1deg));
    }
  }

  .lowering-the-cost-section, .bottom-angle-section-right {
    h2 {
      font-size: 30px;
    }

    .icon-circle-wrapper {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
      background-color: $red-01;
      border: solid 4px $white-01;
      display: block;
      padding: 10px;
      width: 78px;
      height: 78px;
      margin-bottom: 20px;
    }

    .icon-ElementOS, .icon-StorageNodes, .icon-Support, .icon-X, .icon-QoS, .icon-icon_ScaleOut, .icon-uniE808, .icon-GuaranteedTotalPerf, .icon-managedhosting {
      color: $white-01;
      @include font-size(40px);
      background-color: $red-01;
      display: inline-block;
      margin-left: 8px;
      margin-top: 5px;
    }

    .icon-uniE808, .icon-GuaranteedTotalPerf {
      margin-left: 6px;
    }

    .icon-StorageNodes {
      margin-left: 5px;
    }

    .icon-Support {
      margin-left: 3px;
    }

    .icon-managedhosting {
      position: relative;
      right: 4px;
    }

    .one-platform {
      h5 {
        @include font-size(18px);
        font-weight: 400;
      }

      p {
        @include font-size(18px);
        line-height: 30px;
        font-weight: 200;
      }
    }

    .margin-section-top {
      margin-top: 80px;
    }
  }

  .lowering-the-cost-section {
    z-index: 100;
    margin-top: 100px;
    background-color: white;
    padding-bottom: 40px;

    .section--item-container {
      margin-bottom: 30px;
      float: left;
    }

    .container {
      padding: 0 20px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      span {
        font-weight: 600;
      }
    }

    .icon-rounded-wrapper {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 10px;
      background-color: $red-01;
      border: solid 4px $white-01;
      display: block;
      padding: 10px;
      width: 78px;
      height: 78px;
      margin-bottom: 20px;
      margin-top: 50px;
    }
  }

  .lowering-the-cost-section, .section-two {
    a.button-red.discover {
      float: none;
      display: block;
      margin: auto;
    }

    hr {
      margin-bottom: 50px;
    }
  }

  .bottom-angle-section.two {

    a.button-red.discover {
      float: right;
    }

    a.demo-button-red-outline {
      float: left;
    }

    hr {
      margin-bottom: 50px;
    }

    .section-two {
      padding-top: 100px;
      height: 1000px;
    }

    h5 {
      font-weight: 600;
      margin-top: 10px;
    }

    i {
      font-size: 50px;
      color: $red-01;
    }

    .padding-top {
      padding-top: 50px;
    }

    .span3, .span3second, .span3third, .span3last {
      padding-right: 30px;
    }
  }

  .section-one {
    margin-top: 0px;
  }

  .section-one, .section-two, .section-three {
    width: 100%;
    position: relative;
    padding: 0 20px;
    float: left;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      font-weight: 500;
    }

    h5 {
      font-weight: 600;
    }

    ul {
      padding-left: 20px;
    }

    li {
      font-weight: 300;
      color: $grey-03;
    }

    h2.italic-style {
      font-style: italic;
      font-weight: 300;
      margin-top: 0;

      span.heavy-weight {
        font-style: normal;
        font-weight: 600;
        @include font-size(38px);
        display: inline-block;
        margin: 20px 0;
      }
    }

    .top-text {
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
      }
    }

    .section--item-container {
      width: 100%;
      float: left;
    }

    .icon-Careers, .icon-SIOCQoS, .icon-RapidRespond, .icon-Consolidate, .icon-Speedup, .icon-DevMon, .icon-pig, .icon-icon_ScaleOut, .icon-icon_Automation, .icon-icon_GuarPerformance2, .icon-icon_DataAssurance, .icon-icon_GlobalEfficiencies, .icon-managedhosting {
      color: $red-01;
      @include font-size(50px);
      margin-bottom: 25px;
      display: block;
    }

    .icon-Speedup {
      @include font-size(70px);
      margin-top: -30px;
      display: inline-block;
    }

    .icon-pig {
      @include font-size(50px);
      margin-top: -12px;
      display: inline-block;
      margin-bottom: 0;
    }

    .section-top-margin {
      margin-top: 80px;
    }

    .section--item-wrapper--last {
      margin-right: 0;
    }
  }

  p.discover {
    padding: 10px 0;
    font-weight: 300;
    line-height: 30px;
    width: 230px;
    font-size: 21px;
    color: $red-01;
    border-top: 2px dotted $grey-03;
    border-bottom: 2px dotted $grey-03;
  }

  a.button-red.discover, a.demo-button-red-outline {
    font-size: 14px;
    margin-top: 0;
    padding: 8px 40px;

    span {
      font-size: 24px;
      position: relative;
      top: 1px;
      padding-left: 5px;
    }
  }

  .angle-section-0, .lowering-the-cost-section {
    a.button-red.discover {
      font-size: 14px;
      margin-top: 0;
      padding: 8px 40px;

      span {
        font-size: 24px;
        position: relative;
        top: 1px;
        padding-left: 5px;
      }
    }
  }

  .section-one {
    padding-bottom: 60px;
    h5 {
      font-size: 18px;
    }
  }

  .section-two {
    padding-top: 100px;

    h2 {
      font-size: 30px;
      line-height: 45px;
    }

    h2.margin-top {
      margin-top: 50px;
    }

    h5 {
      font-size: 18px;
    }
  }

  .section-three {
    padding-top: 100px;
    img {
      display: inline-block;
      float: left;
      margin: 30px 0;
    }

    li {
      @include font-size(18px);
    }

    .flash-forward-features-left {
      width: 50%;
      float: left;
      margin-right: 2%;
    }

    .flash-forward-features-right {
      width: 48%;
      float: left;
      margin-right: 0;
    }

    .button-container {
      padding-top: 50px;
      float: none;
      text-align: center;
    }
  }

  .section--item-wrapper, .section--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 5%;

  }

  .section--item-wrapper--last {
    width: 30%;
    float: left;
    margin-right: 0;
  }

  @media(min-width: $tablet) {
    a.button-red, a.demo-button-red-outline {
      width: 300px !important;
    }

    .top-section {
      margin-top: 100px;
    }

    .bottom-angle-section-right {
      height: 450px;
    }

    .section--item-container {
      margin-top: 50px;
    }

    .bottom-angle-section.one {
      margin-bottom: 1100px;
    }

    .bottom-angle-section.two {
      height: 1000px;
      margin-bottom: 0px;


      a.button-red.discover {
        float: right;
      }

      a.demo-button-red-outline {
        float: left;
      }
    }

    .platform-height {
      height: 170px;
    }

    .span3second {
      @include span(3 at 4 of 12);
    }

    .span3third {
      @include span(3 at 7 of 12);
    }

    .span3last {
      @include span(3 of 12 last);
    }

    .bottom-angle-section.three {
      margin-bottom: 500px;
    }
  }

  @media (max-width: $tablet - 1) {
    .span4, .span4last {
      width: 100%;
    }
    a.button-red, a.demo-button-red-outline {
      width: 300px !important;
    }

    .top-section {
      margin-top: 0px;
    }

    .section-one {
      padding-bottom: 0px;
    }

    .bottom-angle-section-right {
      height: 1000px;
    }

    .bottom-angle-section.one {
      margin-bottom: 1900px;
    }

    .bottom-angle-section.two {
      height: 1500px;
      margin-bottom: 0px;
      a.button-red.discover {
        float: left;
        margin-bottom: 20px;
      }
    }

    .section--item-container {
      margin-top: 0;
    }

    .bottom-angle-section.three {
      margin-bottom: 600px;
    }

    .section-one .section--item-wrapper, .section-one .section--item-wrapper--last, .section-two .section--item-wrapper, .section-two .section--item-wrapper--last, .section-three .section--item-wrapper, .section-three .section--item-wrapper--last {
      width: 100%;
    }

    .section-one .section--item-wrapper p, .section-one .section--item-wrapper--last p, .section-two .section--item-wrapper p, .section-two .section--item-wrapper--last p, .section-three .section--item-wrapper p, .section-three .section--item-wrapper--last p {
      text-align: left;
    }

    .section--item-wrapper, .section--item-wrapper--last {
      width: 100%;
      margin-bottom: 40px;
    }

    .angle-section-1 .one-platform p {
      text-align: left;
    }

    .bottom-angle-section.two, .infrastructure-content-left, .infrastructure-content-right {
      width: 100%;
    }

    .section-three .flash-forward-features-left, .section-three .flash-forward-features-right {
      width: 100%;
    }

    .section-three img {
      text-align: center;
      display: block;
      float: none;
    }

    i {
      margin-top: 25px;
    }

    .section-one .section-top-margin, .section-two .section-top-margin, .section-top-margin {
      margin-top: 0;
    }

    .platform-height {
      height: auto;
    }

    .span3, .span3second, .span3third, .span3last {
      @include span(12 of 12);
    }

    .lowering-the-cost-section {
      .section--item-wrapper {
        margin-bottom: 0;
      }
    }

    .span6, .span6right {
      @include span(12 of 12);
      float: left;
    }
  }
  
  @media(max-width: 490px) {
    .bottom-angle-section.one {
      margin-bottom: 2000px;
    }

    ul li {
      padding: 0;
    }
  }

  @media(max-width: $phone) {
    a.demo-button-red-outline {
      padding-right:10px;
      padding-left: 10px;
      width: 100% !important;
    }

    a.button-red {
      width: 100% !important;
    }

    .section-one {
      padding-bottom: 0px;
    }

    .bottom-angle-section-right {
      height: 1200px;
    }

    .bottom-angle-section.one {
      margin-bottom: 2350px;
    }

    .bottom-angle-section.two {
      height: 1800px;
      margin-bottom: 0px;
    }

    .bottom-angle-section.three {
      margin-bottom: 750px;
    }

    .angle-section-0 {
      img {
        display: none;
      }

      h1 {
        width: 100%;
      }
    }
  }
}

