<html>
  <body>
    <div style="max-width:980px;font-family:sans-serif, Arial, Helvetica;font-size:18px;line-height:24px;margin:0 auto;border-top:solid 4px #9d1b1b;color:#000000;">
        <div style="background-color:#313131;text-align:left;width:100%;">
            <img src="https://s3-us-west-2.amazonaws.com/solidfire-static/emails/images/%402x-solidfire-logo.png" style="padding:25px 20px 28px 20px;max-width:356px;width:80%;">
            <div style="float:left;width:90%;padding:50px 20px;">
              <p style="color:#000000;">An update has been made to a project that you are involved in:</p>
              <p style="color:#000000;">
                <strong>Title / summary:</strong> <%= @cms_project_request.title %>
                </p>
              <p style="color:#000000;">
                <strong>Current status:</strong> <%= @get_status_name %>
                </p>
              <%= @add_info %>
              <p style="color:#000000;">
                <strong>Link to project request:</strong> <a href="http://www.solidfire.com/cms/project_requests/<%= @cms_project_request.id %>/edit">http://www.solidfire.com/cms/project_requests/<%= @cms_project_request.id %>/edit</a>
              </p>
            </div>
        </div>
    </div>
  </body>
</html>