#flash_forward.main_page
  .container
    .full-row
      = image_tag 'storage_system/FF_logo.png', :align => 'middle', :class => 'flash_forward_img'
    .full-row
      %h1 Eliminate your storage refresh cycles, compatibility concerns, and drive wear for good.
      %h2 SolidFire Platform Compatibility Guarantee
      %p With flash densities and cost profiles changing faster then ever, how do you keep up? Effortlessly. The SolidFire Platform Compatibility Guarantee ensures your new SF-series nodes and the Element OS will be compatible with your current SolidFire infrastructure.
      .col5.left
        %p.red-text Mix and match nodes
        %p Add the latest all-flash technology into our SolidFire platform seamlessly and as you see fit. Just mix and match new nodes, even those with different drive geometries and performance characteristics.
        %p.red-text Forget about forklift or controller upgrades
        %p Put an end to storage controller upgrade extortion — forever. SolidFire's scale-out architecture eliminates the need for generational storage upgrades combined with the cost and complexity of the data migrations that go with it.
      .col5
        %p.red-text Never worry about obsolete storage
        %p Flash storage and cost changing rapidly. With your SolidFire platform, incorporating new nodes with the most current flash media is a snap. Just add them into the cluster and performance and capacity resources are instantly available.
        %p.red-text Say no to data migration or downtime
        %p Install, remove, and update nodes without losing a minute of productivity for migrating data.
    .full-row
      %h2 Unlimited Drive Wear Guarantee
      %p Get ready to have your storage platform in place almost indefinitely — and be sure your drives last just as long. SolidFire's unlimited wear guarantee ensures your drives will never fail.
      .col5.left
        %p.red-text No limits to what your storage can do
        %p Drives within every SolidFire platform are guaranteed against wear no matter how you use them or what you workloads you run.
      .col5
        %p.red-text Free replacements (if you ever need them)
        %p Worst case, we will replace any failed drives at no cost under a valid support contract. Enough said.
    .full-row.bottom
      %p
        Additional
        %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/flash_forward_guarantee_terms_and_conditions.pdf', :target => '_blank'} terms and conditions
        apply
    %hr

