= content_for :head do
  = stylesheet_link_tag 'storage_system/global_efficiencies', :media => 'all'

#global-efficiencies
  .top-ribbon-section
    .top-ribbon-container
      .blank
        %p &nbsp
      .text
        %p The All-Flash Array Built for the Next Generation Data Center.
      .icons-wrap
        %p.icon.icon-icon_ScaleOut
        %p.icon.icon-icon_GuaranteedPerformance
        %p.icon.icon-icon_Automation
        %p.icon.icon-icon_DataAssurance
        %p.icon.icon-icon_GlobalEfficiencies

  .efficiencies-section
    .efficiences-container
      %h1 Efficiencies architected for the modern data center
      %p With comprehensive data reduction from in-line deduplication, compression, thin provisioning, and space-efficient snapshots, SolidFire makes flash at scale an economic reality.
      .global-deduplication
        .text
          %h2 Global Deduplication
          %p SolidFire’s always-on data deduplication works non-disruptively across the entire cluster to maximize data reduction.
        .image.right
          = image_tag 'storage_system/global-efficiencies/GlobalDuplication.png', :class => 'stack'
      .two-layer-compression
        .text
          %h2 Two-layer Compression
          %p SolidFire utilizes both an inline and post-process compression, optimizing for space without sacrificing performance.
        .image.left
          = image_tag 'storage_system/global-efficiencies/twolayercompression.png', :class => 'stack'
      .granular
        .text
          %h2 4k granular thin provisioning
          %p SolidFire uses 4k granular thin provisioning that does not require any reserve space, returning data immediately back to free space for use by other SolidFire volumes.
        .image
          = image_tag 'storage_system/global-efficiencies/4kGranularThinProvisioning.png', :class => 'stack'


  .calculator-section
    .calculator-container
      %p.error-message Total percent of system must equal 100.
      %h2 SolidFire data efficiencies calculator
      %table
        %thead
          %tr
            %th.blank.top &nbsp
            %th.top Workload 1
            %th.top Workload 2
            %th.top Workload 3
        %tbody
          %tr#workload-options
            %th.side Choose Workload
            %td
              %select#workload-one
                %option N/A
                %option VDI
                %option Virtualization
                %option Database
                %option Cloud
            %td
              %select#workload-two
                %option N/A
                %option VDI
                %option Virtualization
                %option Database
                %option Cloud
            %td
              %select#workload-three
                %option N/A
                %option VDI
                %option Virtualization
                %option Database
                %option Cloud
          %tr#percent-of-system
            %th.side % of System Capacity
            %td.workload-one
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-two
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-three
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
          %tr#number-of-vms
            %th.side # of: VMs / Databases / Instances / Desktops
            %td.workload-one
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-two
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-three
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
          %tr#divergence
            %th.side % of Unique Data
            %td.workload-one
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-two
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
            %td.workload-three
              %input.grey(disabled)
              %a.tooltip.hidden i
              %p.tooltip-box.hidden
          %tr#compression
            %th.side Compression
            %td
              %input.workload-one(disabled)
            %td
              %input.workload-two(disabled)
            %td
              %input.workload-three(disabled)
          %tr#thin-provisioning
            %th.side Thin Provisioning
            %td
              %input.workload-one(disabled)
            %td
              %input.workload-two(disabled)
            %td
              %input.workload-three(disabled)
          %tr#deduplication
            %th.side Deduplication
            %td
              %input.workload-one
            %td
              %input.workload-two
            %td
              %input.workload-three
          %tr#workload-efficiency
            %th.side Workload Efficiency
            %td.workload-one
            %td.workload-two
            %td.workload-three
          %tr#total-efficiency
            %th.side Total Efficiency
            %td &nbsp
            %td.total
          %tr#refresh
            %th.side &nbsp
            %td &nbsp
            %td
            %td
              %button.refresh Reset Calculator


  .data-brief-section
    .data-brief-container
      .icon.icon-whitepapericon
        = link_to 'Data Efficiencies Brief', 'http://info.solidfire.com/rs/538-SKP-058/images/SolidFire-Data-Efficiencies-Breif.pdf'

  .demo-section
    .demo-container
      %h2 All-flash storage for less than the cost of disk -- requiring a fraction of the space, power and cooling.
      %a.button-red{:href => 'http://www.solidfire.com/contact/'} SCHEDULE A DEMO

  .data-efficiency-section
    .data-efficiency-container
      .text
        %h2 Don't settle for "bolt-on" efficiency
        %h3 Native, always on, in-line data reduction
        %p With data efficiency fast becoming a requirement for customers, traditional array vendors are scrambling to “bolt-on” technologies to meet the need. Don’t be fooled. Bolt-on efficiency techniques create performance bottlenecks that crush storage performance, putting you right back where you started.
        = image_tag 'storage_system/global-efficiencies/in-lineeffchart1.png', :align => 'middle'
        = image_tag 'storage_system/global-efficiencies/solidfire_1node_front.png', :align => 'middle', :class => 'node'

  .environmental-benefits-section
    .environmental-benefits-container
      %h2 SolidFire environmental benefits
      %h3 Money isn't the only thing you'll save.
      %p With significantly higher efficiency than a legacy array, SolidFire's all-flash systems dramatically cut the energy, heating and cooling costs required by your storage infrastructure.
      = image_tag 'storage_system/global-efficiencies/5sf-environmetal_benifits_graphics.png', :align => 'middle', :class => 'node'
      %em.caption(style="text-align: center; font-size: 14px;") <strong>The SF9010 compared with traditional storage*</strong>
      %p.caption(style="text-align: center; font-size: 14px;") *Compared with a leading disk-based array configured with 240, 600GB 15k Fibre Channel drives in a RAID 10 configuration.
  .get-started-section
    .get-started-container
      = link_to 'GET STARTED', get_started_path, :class => 'button-red', :target => '_blank'

= javascript_include_tag 'storage_system/global_efficiencies.js'

