= content_for :head do
  = stylesheet_link_tag 'solutions/agile_infrastructure', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'jquery.flip.min'
  = javascript_include_tag 'demo_form'
  = javascript_include_tag 'agile_infrastructure'

#agile-infrastructure
  .sub-nav.agile.section
    .container
      %ul
        %li
          = link_to 'ai overview', '#ai-overview', class: 'ai-overview-link anchorLink'
        %li.padding-right-wide
          = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
        %li.padding-right-wide
          = link_to 'resources', '#resources', class: 'resources-link anchorLink'

  .sub-nav.section.hidden-nav
    .container
      %ul
        %li
          = link_to 'ai overview', '#ai-overview', class: 'ai-overview-link anchorLink'
        %li.padding-right-wide
          = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
        %li.padding-right-wide
          = link_to 'resources', '#resources', class: 'resources-link anchorLink'

  .angle-section#ai-overview
    .top-grey-angle
      .skew-right
        .section-one
          .agile-infrastructure-container.page-top-margin
            .skew-fix
              .span12
                .image
                  = image_tag "solutions/agile-infrastructure/overview/AI-image.png"
                .text
                  %h1 Agile Infrastructure built for the Next Generation Data Center
                  %h3 Converged reference architectures to simplify and accelerate your journey to a next generation cloud
                  %p SolidFire’s tested and proven reference architectures are the simplest, fastest path to next generation technologies like cloud, converged infrastructure, VDI, and more. Rather than stifling business innovation with outdated, rigid data center infrastructure, SolidFire Agile Infrastructure (AI) eliminates the complexity of delivering predictable performance to every workload at scale, every time.
  .section-two
    .agile-infrastructure-container
      %h2 An agile, scalable infrastructure without the complexity
      .span6
        %h3 Build faster, develop sooner, and run multiple projects on one shared platform
        %p Built for the next generation data center, SolidFire is the leading block storage solution in highly virtualized and automated environments. SolidFire Agile Infrastructure combines our leading storage with best-in-class compute, networking, and orchestration technologies.
        %p By simplifying converged infrastructure deployment with this combination of technologies, SolidFire AI enables rapid development and deployment of applications, services, and innovation.
      .span6right
        = image_tag 'solutions/agile-infrastructure/overview/line-graph.png'

      .span12
        .span6right
          %h3 Accelerate both time to cloud and time  to value
          %p With SolidFire AI, customers can stand up a dynamic cloud infrastructure in significantly less time, less space, and for less money than competing converged infrastructure offerings. SolidFire AI allows enterprises to experience the benefits of nNext gGeneration dData cCenter design today while providing a repeatable, validated implementation that drives down operational costs associated with deploying and managing new infrastructures.
          %p Additionally, with a modular pre-validated design, SolidFire AI prevents unnecessary hardware or software lock-in, so you can continue to benefit from the latest innovations.
        .span6
          = image_tag "solutions/agile-infrastructure/overview/cloud.png"

  .bottom-angle-section.one
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-three
          .agile-infrastructure-container
            %h2 Assemble the right mix of platforms and solutions
            .span6
              %h3 Platforms — Build with confidence using the industry’s leading components
              %p Start with a foundation of hardware specifically selected for workload sizes and expected output needs. SolidFire AI outlines everything required to interconnect SolidFire storage, vendor networking, and vendor compute hardware from start to finish.
            .span6right
              = image_tag "solutions/agile-infrastructure/overview/DELLCiscoAIUseCases.png", align: 'right';

            .span12
              .span6right
                %h3 Solutions — Speed time to value with cloud- ready designs.
                %p Optimize the hardware foundation to achieve ideal results when running your desired application workload. SolidFire AI contains the testing, validation, and documentation for running specific application workloads most effectively.
              .span6
                = image_tag "solutions/agile-infrastructure/overview/redhat-vmware.png", align: 'left';

  .bottom-angle-section.two#use-cases
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-four
          .agile-infrastructure-container
            %h2 What do you want to build for today?
            .span12
              .span4
                #card-one
                  .front
                    %h5 VDI
                    = image_tag "solutions/agile-infrastructure/overview/VDI.png"
                  .back
                    %p Eliminate dedicated storage silos  and provide guaranteed performance to  VDI deployments...
                    %a{href: vdi_path} Learn more
              .span4middle
                #card-two
                  .front
                    %h5 IaaS
                    = image_tag "solutions/agile-infrastructure/overview/IaaS.png"
                  .back
                    %p Deliver a  dynamic infrastructure capable of generating greater productivity and profitability...
                    %a{href: infrastructure_as_a_service_path} Learn more
              .span4last
                #card-three
                  .front
                    %h5 Dev/Test
                    = image_tag "solutions/agile-infrastructure/overview/dev-test.png"
                  .back
                    %p Confidently build, test, validate, and deliver applications and services on a single platform...
                    %a{href: cloud_orchestration_path} Learn more

            .demo-container
              %hr
              %h2 Are you ready to make the complex simple?
              %h3 Get started today.
              %a.button-red{:href => '#demo-form', :class => 'demo-form'} request a demo for VMware

  .bottom-angle-section.three#resources
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-five
          .agile-infrastructure-container
            .resources-section
              %h2 Resource toolbox
              %h4 Agile Infrastructure Overview & Platforms
              %ul
                %li
                  %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/Introduction%20to%20Agile%20Infrastructure.pdf", target: '_blank'}
                    %i.icon-whitepapericon
                    Introduction to Agile Infrastructure
                %li
                  %a{href: show_resource_path('agile-infrastructure-datasheet')}
                    %i.icon-whitepapericon
                    AI Datasheet
                %li
                  %a{href: "http://www.google.com/url?q=http%3A%2F%2Fwww.solidfire.com%2Fresources%2Fagile-infrastructure-faq&sa=D&sntz=1&usg=AFQjCNEH400y2zCtvksAyxGkGQoADyfh-A"}
                    %i.icon-whitepapericon
                    AI FAQ
                %li
                  %a{href: show_resource_path('agile-infrastructure-openstack-reference-architecture-cisco-based')}
                    %i.icon-whitepapericon
                    Cisco Reference Architecture
                  %li
                    %a{href: show_resource_path('reference-architecture-solidfire-agile-infrastructure-openstack')}
                      %i.icon-whitepapericon
                      Dell Reference Architecture

              %h4 Agile Infrastructure Applications
              %ul
                %li
                  %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire_AI_Virtual_Infrastructure_SolutionBrief.pdf", target: "_blank"}
                    %i.icon-whitepapericon
                    Solution Brief
                %li
                  %a{href: show_resource_path('reference-architecture-solidfire-and-vmware-horizon-view')}
                    %i.icon-whitepapericon
                    Reference Architecture for VMware Horizon View
                %li
                  %a{href: "https://drive.google.com/a/solidfire.com/file/d/0B7csFhtYR8NCWURMMnZsclNCZWc/view", target: "_blank"}
                    %i.icon-whitepapericon
                    Reference Architecture for VMware Infrastructures (gated link)
                %li
                  %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/Solution%20Brief-%20AI%20for%20OpenStack%20on%20Cisco.pdf", target: "_blank"}
                    %i.icon-whitepapericon
                    Solution Brief - AI for OpenStack (Cisco)
                %li
                  %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_AgileInfrastructure.pdf", target: "_blank"}
                    %i.icon-whitepapericon
                    Solution Brief - AI for OpenStack (Dell)

              %h4 Videos and Webinars
              %ul
                %li
                  %a{href: show_resource_path('animation-about-solidfires-agile-infrastructure')}
                    %i.icon-icon_playVideo22
                    About SolidFire’s Agile Infrastructure
                %li
                  %a{href: show_resource_path('webinar-zero-to-openstack-cloud-in-90-minutes')}
                    %i.icon-icon_playVideo22
                    From Zero to Cloud with OpenStack
                %li
                  %a{href: show_resource_path('webinar-accelerate-your-openstack-deployment')}
                    %i.icon-icon_playVideo22
                    Accelerate your OpenStack Deployment
                %li
                  %a{href: show_resource_path('webinar-openstack-at-the-speed-of-business')}
                    %i.icon-icon_playVideo22
                    Webinar - OpenStack at the Speed of Business
                %li
                  %a{href: show_resource_path('whiteboard-video-5-key-benefits-of-solidfire-agile-infrastructure-for-openstack')}
                    %i.icon-icon_playVideo22
                    5 Key benefits of SolidFire Agile Infrastructure for OpenStack
                %li
                  %a{href: "https://www.youtube.com/watch?v=_SjxnhaO-NY", target: '_blank'}
                    %i.icon-icon_playVideo22
                    Agile Infrastructure Mix Workload Demo
#demo-form
  .form
    %h3 Schedule a live demo
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1115'}
