= content_for :head do
  = stylesheet_link_tag 'solutions/case_studies', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'case_studies'

#case-studies
  .case-studies-section.one.skew-right
    .case-studies-container.page-top-margin
      .skew-fix.right

        .side-links
          .case-link
            = link_to 'RFA', case_studies_path('rfa'), class: 'rfa'
            %br

          .case-link
            = link_to '1&1', case_studies_path('one_and_one'), class: 'one_and_one'
            %br

          .case-link
            = link_to 'Datapipe', case_studies_path('datapipe'), class: 'datapipe'
            %br

          .case-link
            = link_to 'Sungard', case_studies_path('sungard'), class: 'sungard'
            %br

          .case-link
            = link_to 'ServInt', case_studies_path('servint'), class: 'servint'
            %br

          .case-link
            = link_to 'Elastx', case_studies_path('elastx'), class: 'elastx'
            %br

          .case-link
            = link_to 'HostedNetwork', case_studies_path('hosted_network'), class: 'hosted_network'
            %br

          .case-link
            = link_to 'Crucial', case_studies_path('crucial'), class: 'crucial'
            %br

          .case-link
            = link_to 'iWeb', case_studies_path('iweb'), class: 'iweb'
            %br

          .case-link
            = link_to 'Databarracks', case_studies_path('databarracks'), class: 'databarracks'
            %br

        .main
          =render 'shared/case_studies_sections/top/' + @case

  =render 'shared/case_studies_sections/at_a_glance/' + @case


  .quote-section
    .case-studies-container
      =render 'shared/case_studies_sections/quote/' + @case


  =render 'shared/case_studies_sections/business_challenge/' + @case


  .bottom-angle-section.three
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .fueled-by-section
          .case-studies-container
            =render 'shared/case_studies_sections/fueled_by/' + @case

            .span12
              %hr
                %a{href: how_to_buy_path}
                  %p.link
                    Discover more of what SolidFire can fuel for you
                    %span
                      &nbsp; &#187;

                %a{href: how_to_buy_path}
                  %p.link
                    Contact us today and advance the way your customers use the cloud
                    %span
                      &nbsp; &#187;
