= content_for :head do
  = stylesheet_link_tag 'solutions/citrix_xen_desktop', :media => 'all'
#mongodb.section.top-section
  .container
    .full-row
      = image_tag 'solutions/citrix_ready.png', :align => 'middle', :class => 'citrix-logo'
      %h1 Storage optimized for XenDesktop deployments
      %h3 Simple, flexible, cost-effective storage with complete performance control
      .span6
        %h2 SolidFire and Citrix XenDesktop
        %p
          SolidFire is the only storage system that can cost-effectively deliver the flexibility and adaptability required to drive an evolving large scale virtual desktop infrastructure (VDI) environment. With granular Quality of Service controls and a scale-out architecture SolidFire is uniquely suited to manage the mixed and unpredictable workloads profiles that exist in VDI environments.
        %h2 Provision with XenDesktop how you want
        %p
          Whether you are looking for the simplicity that MCS provides or the power and flexibility that PVS delivers, provisioning virtual desktops on SolidFire storage will simplify administration, maximize user experience and deliver the economics required in a large scale VDI deployment.
        %p.list-title Provisioning on SolidFire:
        %ul
          %li Simplify catalog creation with streamlined storage provisioning
          %li Leverage storage performance virtualization to provide customize IOPS for streamed, pooled and dedicated desktop
          %li Support both provisioning methods allows for agility
          %li Eliminate the storage licensing madness
        %p.list-title MCS
        %ul
          %li Thin provisioning eliminates “recommendation” for NFS
          %li Add storage resources without adjusting MCS processes
          %li Compress, deduplicate and thin provision base, clone and ID disks across multiple catalogs
        = image_tag 'solutions/citrix_mcs.jpg', :align => 'MIDDLE', :class => 'mcs-graphic'
        %p.list-title PVS
        %ul
          %li Simplify by placing Master, vDisk and Cache volumes on SolidFire
          %li Eliminate IO bottlenecks during vDisk streaming with QoS controls
          %li SolidFire data distribution algorithm means no vDisk alignment issues
          %li Thin provisioning allows you to over-provision vDisks without losing efficiencies
          %li Eliminate the need to restrict vDisk design to available RAM
        = image_tag 'solutions/citrix_pvs.jpg', :align => 'middle', :class => 'pvs-graphic'
      .span5
        .form
          %h3
            Request a demo of
            %br
            Citrix XenDesktop and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1081'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1081);
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code__Pj0wir1NyhFtvhY8flk5A', :src => '//play.vidyard.com/_Pj0wir1NyhFtvhY8flk5A.js?v=3.1.1&type=lightbox'}
        %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard__Pj0wir1NyhFtvhY8flk5A();'}
          = image_tag 'solutions/Citrix-XenDesktop-video.png', :style => 'display: block; margin: 0 auto;', :alt => 'Citrix Whiteboard', :rel =>'499,282'
        %p.bold Watch this whiteboard video on Citrix XenDesktop & SolidFire
        .white-paper
          %p
            %a{:href => show_resource_path('reference-architecture-solidfire-and-citrix-xendesktop')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Citrix XenDesktop Reference Architecture →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/XenDesktop_Datasheet.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Citrix XenDesktop Solution Brief →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/Brinkster_SolidFire_Hosted_Desktop_v1__1___1_.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Customer Solution: Hosted Desktop Service on SolidFire →
    .full-row.benefits
      %h2 Key benefits of XenDesktop on SolidFire:
      .span1
        = image_tag 'solutions/vdi-graphic-one.jpg', :align => 'left'
      .span10
        %p
          %span.list-title Adaptable infrastructure -
          Adjust storage performance and capacity independently, increasing your ability to dynamically respond to evolving desktop requirements and user profiles
        %ul.list
          %li Go from pilot to production and beyond (no issues)
          %li Design for X and change to Y on the fly
          %li Size smaller environment and grow incrementally without redesign
          %li Adjust QoS controls to accommodate boot storms, virus scans, patching and recompose operations
      .span1
        = image_tag 'solutions/vdi-graphic-two.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Eliminate storage sprawl -
          Isolate and guarantee performance to each application, eliminating the need for dedicated
          %br.nomobile
          VDI storage
        %ul.list
          %li Extremely dense deployment with 1000+ desktops per node keeps footprint small
          %li QoS eliminates need for a dedicated VDI storage
          %li Efficiently leverage both linked clones and persistent full clones
      .span1
        = image_tag 'solutions/vdi-graphic-three.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Granular scalability -
          Incrementally scale storage resources one node at a time to accommodate desktop growth
          %br.nomobile
          without downtime
        %ul.list
          %li Incrementally add nodes to increase total IOPS
          %li Grow your View footprint 1 node at a time
          %li No forklift replacements when desktop capacity is outgrown
          %li No downtime required to scale environment
      .span1
        = image_tag 'solutions/vdi-graphic-four.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Simplified VDI administration -
          Drastically simplify storage management by removing VDI design complexity, streamlining desktop maintenance tasks and reducing administration time
        %ul.list
          %li Leverage known / existing desktop management tools
          %li Speed up desktop provisioning and booting
          %li Automatically balances desktops across the system
      .span1
        = image_tag 'solutions/vdi-graphic-five.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Lowest $/desktop -
          Industry leading storage density delivers 1,000+ desktops per U at less than $50 per desktop without sacrificing performance
        %ul.list
          %li All-SSD system will inline data efficiency means all desktop profiles are cost effective
          %li VDI storage costs under $50 / desktop
          %li Less than $1 per desktop IO
          %li Fit 1,000+ desktops per node = optimal data center footprint
