= content_for :head do
  = stylesheet_link_tag 'solutions/cloudstack', :media => 'all'
#cloudstack.section.top-section
  .container
    .full-row
      = image_tag 'solutions/cloudstack_logo.jpg', :align => 'middle', :class => 'openstack-logo'
      %h1 The block storage solution for CloudStack
      %h3 Demand more from the storage behind your CloudStack infrastructure
      .span6
        %h2 CloudStack and SolidFire
        %p Hosting performance-sensitive applications in a CloudStack-powered cloud infrastructure requires an advanced block storage platform like SolidFire. No other vendor can combine a supported storage integration behind a production-ready CloudStack deployment, with the performance and quality-of-service controls required to confidently host performance-sensitive applications in a multi-tenant infrastructure.
        %h2 The Apache CloudStack project
        %p
          %a{:href => 'http://cloudstack.apache.org/about.html', :target => '_blank'}Apache CloudStack
          is a top-level project of the Apache Software Foundation (ASF). The CloudStack project was created after Citrix's donation of the Cloudstack project to The Apache Foundation. The project develops open source software designed to deploy and manage large networks of virtual machines, as a highly available, highly scalable Infrastructure as a Service (IaaS) cloud computing platform. CloudStack is used by a number of service providers to offer public cloud services, and by many companies to provide an on-premises (private) cloud offering, or as part of a hybrid cloud solution.
        %h2 CloudStack block storage
        %p CloudStack allows an administrator to provision two types of storage: Primary Storage and Secondary Storage. Primary storage is configured at the Cluster level and is intended to store the disk volumes of all the virtual machines (VMs) in the associated cluster. Secondary storage is typically NFS or object storage configured at the Zone level (multiple clusters). SolidFire's integration point with CloudStack is as a Primary Storage pool. By exploiting SolidFire's unique quality-of-service functionality and storage APIs, CloudStack storage can now be provisioned with guaranteed IOPS to deliver predictable and repeatable performance. No other block storage vendor can deliver this functionality to CloudStack like SolidFire.
        = image_tag 'solutions/CloudStack-1.jpg', :align => 'middle', :class => 'openstack-logo'
        %h2 Committed to CloudStack
        %p SolidFire has dedicated resources that drive real contributions to the CloudStack community. We strive to deliver the industry's most comprehensive storage integration for CloudStack. SolidFire has already validated multi-hypervisor support within CloudStack while continually pushing to expand the supported use cases for the combined solution. Going forward, we are focused on driving continued improvements into the CloudStack storage architecture to ensure it can exploit the most advanced next-generation storage functionality.
        %h2 Citrix Ready Cloud Verified
        %p
          Citrix remains the largest contributor to the developer community. Citrix's CloudPlatform is the first commercially supported cloud orchestration system based on Apache CloudStack. As a Citrix Ready Cloud Verified partner, SolidFire's customers can be confident that the integration between CloudPlatform and SolidFire has been properly testing and validated. In fact,
          %a{:href => 'http://blogs.citrix.com/2013/02/28/my-cloudplatform-cloud-goes-ssd-with-solidfire/', :target => '_blank'}Citrix's CloudPlatform Showcase Cloud is Fueled by SolidFire.
          For a demo of of CloudPlatform and SolidFire in action please contact
          %a{:href => 'mailto:citrixcloud@solidfire.com'}citrixcloud@solidfire.com.
        %h2 What does this mean for you?
        %p Apache CloudStack, Citrix Cloud Platform and SolidFire are dynamic and rapidly evolving platforms that will continue to enhance the ability to provision, manage and automate storage resources in a cloud infrastructure. SolidFire is committed to continually driving advanced storage features into the CloudStack project to ensure users can have native access to advanced storage functionality required to host mission-critical applications in their cloud infrastructure.
      .span5
        .form
          %h3
            Request a demo of
            %br
            CloudStack and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1086'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1086);
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_cZo6-dcBuF0b37usXmtNGw', :src => '//play.vidyard.com/cZo6-dcBuF0b37usXmtNGw.js?v=3.1.1&type=lightbox'}
        %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_cZo6$dcBuF0b37usXmtNGw();'}
          = image_tag 'solutions/cloudstack_499x278.jpg', :style => 'display: block; margin: 0 auto;', :alt => 'Openstack Whiteboard', :rel =>'499,282'
        %p.bold Watch this technical demo on CloudStack & SolidFire
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolutionBrief_CloudStack.pdf', :target => '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              CloudStack Solution Brief →
          %p
            %a{:href => show_resource_path('configuration-guide-solidfire-and-cloudstack')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              CloudStack Configuration Guide →
        .videos
          %p
            %a{:href => 'https://www.youtube.com/watch?v=6Z0pB5QtpYk&amp;list=PLU2OcwpQkYCyPx_cwJxyOK0YKSM86Mj9n', :class => 'fancybox-media'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Key Design Considerations for your Cloud Storage →
          %p
            %a{:href => 'https://www.youtube.com/watch?v=-pOj6mEzMMk', :class => 'fancybox-media'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Watch Webinar with ShapeBlue →
          %p
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MpprfOVNFIGR734SLq56gA', :src => '//play.vidyard.com/MpprfOVNFIGR734SLq56gA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MpprfOVNFIGR734SLq56gA();'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Guaranteeing Storage Performance →
