= content_for :head do
  = stylesheet_link_tag 'solutions/cloud_orchestration', :media => 'all'
#cloud-orchestration.section.top-section
  .container
    .full-row
      %h1 Cloud Orchestration
      .span6
        %h3 Deepest cloud integration of any storage vendor
        %p When building large-scale public or private cloud infrastructures there is only one choice for block storage. SolidFire delivers the most comprehensive block storage integration with all of the industry leading orchestration softwares. Each integration surfaces SolidFire's patent-pending Quality of Service (QoS) controls allowing for complete performance automation and the development of end user self service tools.
      .span4
        = image_tag 'solutions/cogs.gif', :align => 'middle', :class => 'cogs'
#partners.section.even
  .container
    .full-row
      %h2 Learn more about our cloud orchestration partners:
      .partners
        %a{:href => '/solutions/cloud-orchestration/openstack'}
          = image_tag 'solutions/openstack-logo1.png', :align => 'middle', :class => 'openstack-logo'
        %a{:href => '/solutions/cloud-orchestration/cloudstack'}
          = image_tag 'solutions/cloudstackgray.gif', :align => 'middle', :class => 'cloudstack-logo'
        %a.anchorLink{:href => '#onapp'}
          = image_tag 'solutions/OnApp-logo-2995.png', :align => 'middle', :class => 'onapp-logo'
        %a.anchorLink{:href => '#flexiant'}
          = image_tag 'solutions/flexiantgray.gif', :align => 'middle', :class => 'flexiant-logo'
#features.section
  .container
    .full-row
      .icons
        .multi-tenancy
          = image_tag 'solutions/truemultitenancy.png', :align => 'middle'
          %p
            True
            %br
            Multi-Tenancy
        .resource-agility
          = image_tag 'solutions/resourceagility.png', :align => 'middle'
          %p
            Resource
            %br
            Agility
        .maximum-availability
          = image_tag 'solutions/maximumavailability.png', :align => 'middle'
          %p
            Maximum
            %br
            Availability
        .complete-automation
          = image_tag 'solutions/complete-automation.png', :align => 'middle'
          %p
            Complete
            %br
            Automation
        .efficiency
          = image_tag 'solutions/efficiency.png', :align => 'middle'
          %p
            Efficiency
#sungard.section
  .container
    .full-row
      .span6
        %p.quote “SolidFire’s integration, automation, software, Quality of Service and scalability are key to Sungard AS. We looked at the network, compute and storage and we needed to know which providers were able to integrate into CloudStack. SolidFire was one of those providers. They were the number one provider in the flash market place, and were able to meet those requirements.”
        = image_tag 'solutions/sungard.png', :align => 'left'
        %p
          Simon Withers
          %br
          VP Cloud Product Management,
          %br
          Sungard Availability Services
#openstack.section
  .container
    .full-row
      %h2 Cloud Orchestration Partners
      = image_tag 'solutions/openstack-logo1.png', :align => 'left', :class => 'openstack_logo'
      .text
        %h2
          OpenStack
        %p
          SolidFire delivers the industry’s most comprehensive OpenStack block storage integration. Combining this integration with SolidFire’s guaranteed performance, high availability, and scale, customers can now confidently host performance-sensitive applications in their OpenStack cloud infrastructure.
        %a.button-red{:href => '/solutions/cloud-orchestration/openstack/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/OpenStack_Solution_Brief.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p OpenStack Solution Brief →
#cloudstack.section.even
  .container
    .full-row
      = image_tag 'solutions/cloudstackgray.gif', :align => 'left', :class => 'cloudstack_logo'
      .text
        %h2
          CloudStack
        %p
          SolidFire is the most advanced storage solution for CloudStack and combines a supported storage integration behind a CloudStack deployment, with the performance and Quality of Service controls required to confidently host performance sensitive applications in a multi-tenant infrastructure.
        %a.button-red{:href => '/solutions/cloud-orchestration/cloudstack/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolutionBrief_CloudStack.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p CloudStack Solution Brief →
#onapp.section
  .container
    .full-row
      = image_tag 'solutions/OnApp-logo-2995.png', :align => 'left', :class => 'onapp_logo'
      .text
        %h2
          OnApp
        %p
          With SolidFire and OnApp, it's easy to launch high-performance cloud services that give customers the confidence to migrate dedicated server workloads and guarantee disk performance for public and private clouds.
        .white-paper
          %a{:href => 'http://cdn.onapp.com/files/datasheets/onapp_solidfire_datasheet.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p OnApp Datasheet →
#flexiant.section.even
  .container
    .full-row
      = image_tag 'solutions/flexiantgray.gif', :align => 'left', :class => 'flexiant_logo'
      .text
        %h2
          Flexiant
        %p
          SolidFire's blend of storage performance and Quality of Service, when paired with Flexiant's mature, reliable and feature-rich management software, offers customers ready-to-use cloud infrastructure.
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/PartnerDatasheet_Flexiant.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p Flexiant Datasheet →
