= content_for :head do
  = stylesheet_link_tag 'solutions/competitive_comparison', :media => 'all'

= content_for :javascript do
  = javascript_include_tag "competitive_comparison"

#competitive-comparison
  .competitive-comparison-section-one
    .competitive-comparison-container.page-top-margin
      .skew-fix
        %h1 Comparing the Design Choices of SolidFire, Pure Storage, and XtremIO
        %h3 How storage architecture impacts the success of your Next Generation Data Center
        %p Flash storage is one of the most transformative technologies being deployed with today’s enterprise data center. The falling cost of flash combined with array-based data reduction techniques, has quickly made all-flash architectures viable for a broad set of enterprise applications and use cases.
        %p Yet for large-scale enterprises and leading service providers, broad deployment of an all-flash storage architecture is a risk - financially and from an infrastructure perspective.
        %p Below, we will walk through four key design choices made by each all flash array vendor: scale, redundancy, data organization and flash data layout. Understanding the choices made in each area will help you decide which product will best enable the scale, predictability, and automation of your next generation data center.

        .play-video.margin-right
          %a{:href => '#cc-pure', :class => 'cc-pure'}
            %p.link
              SolidFire and Pure Storage Architectural Comparison
              %span &nbsp; &raquo;

        .play-video
          %a{:href => '#cc-emc', :class => 'cc-emc'}
            %p.link
              SolidFire and EMC XtremIO Architectural Comparison
              %span &nbsp; &raquo;

  .competitive-comparison-section-two
    .competitive-comparison-container
      %h2 System Scale
      .span12
        .span7
          %ul
            %li How are capacity and performance scaled in all-flash architectures?
            %li How does architecture allow me to eliminate “islands of storage”?
            %li Where are the most interesting developments in storage?

          %blockquote "Combining an all-flash architecture with advanced QoS and self-healing clustering technologies means that the SolidFire array can scale both capacity and guaranteed levels of performance on demand and non-disruptively for thousands of volumes within a storage cluster."
          %p.author - Enterprise Strategy Group
        .span5last
          %script(type='text/javascript' id='vidyard_embed_code_BErKl34Zl6P_cN2t76PyiQ' src='//play.vidyard.com/BErKl34Zl6P_cN2t76PyiQ.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_jK8DJT6fv4cm5DG9eJ8hfw();')
              %img(alt="System Scale" width="360" src="//play.vidyard.com/BErKl34Zl6P_cN2t76PyiQ.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")

  .competitive-comparison-section-three
    .competitive-comparison-container
      %h2 System Redundancy
      .span12
        .span7
          %ul
            %li How are high availability and data protection achieved?
            %li What are the tradeoffs between dual-controller, shared disk and shared nothing?
            %li How is data protected against power failure, as well as failure of any individual component in the system?

          %blockquote "High availability has always been the cornerstone of the enterprise data center. Today, however, it is not enough to simply protect data. Systems must be designed to protect data in an agile manner by quickly self-healing and rebalancing in order to guarantee protection from additional failures and to return to expected levels of performance following a failure."
          %p.author - Enterprise Strategy Group
        .span5last
          %script(type='text/javascript' id='vidyard_embed_code_jK8DJT6fv4cm5DG9eJ8hfw' src='//play.vidyard.com/jK8DJT6fv4cm5DG9eJ8hfw.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_\jK8DJT6fv4cm5DG9eJ8hfw();')
              %img(alt="System Redundancy" width="360" src="//play.vidyard.com/jK8DJT6fv4cm5DG9eJ8hfw.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")

  .competitive-comparison-section-four
    .competitive-comparison-container
      %h2 Data Organization
      .span12
        .span7
          %ul
            %li How is data organized, placed, and located within the storage system
            %li How does deduplication influence architectural considerations?
            %li How is data that is no longer referenced eliminated from the system?

          %blockquote "An ESG Lab audit of a SolidFire cluster deployed at a typical production customer site yielded a combined capacity efficiency of over 12X savings, with roughly 5X of this attributable to compression and deduplication savings. This efficiency reduced the amount of work necessary to replicate data to a remote site and to rebuild and rebalance data following a node failure— helping to reduce the time required to protect data on the system."
          %p.author - Enterprise Strategy Group
        .span5last
          %script(type='text/javascript' id='vidyard_embed_code_ktUZqIZu0ZMLockt1Adl-A' src='//play.vidyard.com/ktUZqIZu0ZMLockt1Adl-A.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_ktUZqIZu0ZMLockt1Adl$A();')
              %img(alt="Data Organization" width="360" src="//play.vidyard.com/ktUZqIZu0ZMLockt1Adl-A.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")

  .competitive-comparison-section-five
    .competitive-comparison-container
      %h2 Flash data layout
      .span12
        .span7
          %ul
            %li How is data organized, placed, and located within the storage system
            %li How does deduplication influence architectural considerations?
            %li How is data that is no longer referenced eliminated from the system?

          %blockquote "Although every use case is different, it was evident that the efficiencies built into the SolidFire array allow users to deploy less physical capacity to achieve their goals - ultimately resulting in a far better total cost of ownership (TCO)"
          %p.author - Enterprise Strategy Group
        .span5last
          %script(type='text/javascript' id='vidyard_embed_code_H8fXa6U3cBDZIfKUr1IOmQ' src='//play.vidyard.com/H8fXa6U3cBDZIfKUr1IOmQ.js?v=3.1.1&type=lightbox')
          .outer_vidyard_wrapper
            .vidyard_wrapper(onclick='fn_vidyard_H8fXa6U3cBDZIfKUr1IOmQ();')
              %img(alt="Flash data layout" width="360" src="//play.vidyard.com/H8fXa6U3cBDZIfKUr1IOmQ.jpg?")
                .vidyard_play_button
                  %a(href="javascript:void(0);")
  .bottom-angle-section.one
    .section-under-left.netapp-blue-under
    .section-top-left
      .skew-fix-left
        .competitive-comparison-container
          %h2 Only SolidFire Brings Storage Agility to the Next Generation Data Center
          %h3 Get started today.
          .span6.align-right
            = link_to 'Learn more', platform_overview_path, :class => 'button-red margin-right'
          .span6right
            %button.button-red{:href => '#header-demo', :class => 'header-demo'} Request a demo

#cc-pure
  .form
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1439'}
#cc-emc
  .form
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1440'}


