= content_for :head do
  = stylesheet_link_tag 'solutions/database_as_a_service', :media => 'all'
.dbaas-section-one.section
  .dbaas-container.page-top-margin.container
    .span12
      %h1 Database as a Service
      %h3 Deploy thousands of databases from a single shared storage platform.
      .span7
        %p Performance constraints of legacy storage architectures have forced service providers into dedicating costly infrastructure resources in order to host performance sensitive and business critical applications.
        %p With SolidFire’s fine-grain Quality of Service (QoS) control, service providers can now deliver guaranteed storage performance from a shared storage infrastructure - delivering critical applications more predictably and cost effectively than ever before.
        %p With proven solutions around Oracle, MongoDB, and Microsoft SQL Server, service providers are now able to offer a broad set of Database as a Service offerings and host them all from a single storage platform.
      .span5.right
        = image_tag 'solutions/databaseimage.jpg', align: 'right'
.dbaas-section-two.section
  .dbaas.container
    .span12
      %h3 Learn more about our database partners
      .partners
        %a{:href => '/solutions/database/oracle/'}
          = image_tag 'solutions/oraclegray.gif', align: 'left', class:'oracle'
        %a{:href => '/solutions/database/mssql/'}
          = image_tag 'solutions/sqlservergray.gif', align: 'left', class:'sql'
        %a{:href => '/solutions/database/mongodb/'}
          = image_tag 'solutions/mongodbgray.gif', align: 'left', class:'mongo'
.dbaas-section-three.section
  .dbaas.container
    .span12
      %h2 Set firm database performance SLAs
      .span6
        = image_tag 'solutions/service-provider-dbaas-graphic-lg.jpg', align: 'left'
      .span6.right
        %p With guaranteed storage performance comes firm database performance SLAs. This capability has become a key differentiator for service providers, opening up the opportunity to host a broad range of performance sensitive databases. By offering databased performance SLAs to customers, service providers can deliver a new level of comfort to enterprises looking to run their critical applications in a hosted environment.

.dbaas-section-four.section.gradient-background-section
  .dbaas.container
    .span12
      %h2 Guaranteed Quality of Service (QoS) at the core
      %h3 Deliver predictable storage performance to thousands of customer databases
      .span12
        .span2
          .image-container
            = image_tag 'solutions/performance_control_v3.png', align: 'middle'
            %p.orange-one
              Performance
              %br
              Control
        .span10.right
          %p Performance Control: Dynamically adjust storage performance on thousands of independent volumes to ensure each database delivers optimal throughput with minimal latency for each customer.
      .span12
        .span2
          .image-container
            = image_tag 'solutions/horizontal_scaling_v3.png', align: 'middle'
            %p.orange-two
              Horizontal
              %br
              Scaling
        .span10.right
          %p Horizontal Scaling: Linearly scale storage capacity and performance resources to meet the demands of your clients rapid application data growth. SolidFire’s patented storage QoS allows service providers to offer dedicated SAN performance with the pricing and value proposition of a multi-tenant cloud.
      .span12
        .span2
          .image-container
            = image_tag 'solutions/adaptive_database_architecture_v3.png', align: 'middle'
            %p.orange-three
              Adaptive Database
              %br
              Architecture
        .span10.right
          %p Adaptive Infrastructure: SolidFire is the only all-flash storage platform that gives service providers the flexibility to align storage resources with the needs of their enterprise clients, and to respond to changes in real time. No need to design infrastructure for the application high-water mark.
      .span12
        .span2
          .image-container
            = image_tag 'solutions/simplified_management_v3.png', align: 'middle'
            %p.red-one
              Simplified
              %br
              Management
        .span10.right
          %p Simplified Management: Drastically simplified storage provisioning and management allows DBA’s and Operations technicians to easily map customer business logic needs against available storage resources. By eliminating the need for multiple dedicated database servers SolidFire consolidates systems support and management into one simple API/UI reducing labor overhead and drastically lowering operational costs.
          .link-container
            %h5 Mold your storage infrastructure to meet the needs of different database architectures.
            %a.button-blue{:href => '/solutions/database/'}Learn More

