= content_for :head do
  = stylesheet_link_tag 'solutions/data_protection', :media => 'all'
#data-protection.section.top-section
  .container
    .full-row
      %h1 Enabling a comprehensive storage data protection strategy
      .span6
        %p
          A complete plan must include a disaster recovery strategy to maintain business continuity and an exhaustive backup and recovery plan to alleviate the overarching threat to operational solvency. SolidFire’s seamless data protection integrations embrace the tools of today and provide a bridge to the innovative data protection strategies of tomorrow.
        = image_tag 'solutions/end-to-end-data-protection.png', :align => 'middle', :class => 'end-graphic'
        %h2 Demand Protection - DR delivered through powerful integrated features
        %h3 End-to-end protection ensures business continuity
        %p SolidFire’s built-in real-time replication, consistent group snapshots and integration with Site Recovery Manager (SRM) provide a comprehensive set of features that ensure end-to-end system integrity and promote a competitive advantage by:
        %ul
          %li Reducing risk - SolidFire’s complete feature set facilitates robust disaster recovery capabilities — providing peace of mind by ensuring uninterrupted business operations in the wake of disaster
          %li Reducing complexity - With built-in features and broad integrations, SolidFire makes it easier to create and execute a comprehensive disaster recovery strategy — allowing business operations to continue without impact
        = image_tag 'solutions/srm_graphic.png', :align => 'middle', :class => 'srm_graphic'
        %h2 Forging a bridge to next generation data protection
        %h3 Native data protection to any S3 or SWIFT-compatible system
        %p SolidFire’s native data protection feature delivers snapshot-based backup and restore functionality usable with any object store or device that has an S3 or SWIFT-compatible API. SolidFire enables integrated cloud data protection solutions that couple massive scalability with guaranteed performance for virtualized and cloud environments. This seamless integration aims to eliminate the cost of managing backups and simplifies data protection management.
        = image_tag 'solutions/integratedbackup.png', :align => 'middle', :class => 'integrated_graphic'
        %h2 Integration with leading third-party backup solutions
        %h3 Ease integration through non-disruptive implementation, ensuring that immediate data protection needs are met today
        %p SolidFire offers seamless integration with third-party backup applications, simplifying complex backup operations. SolidFire reduces the burden on production storage by:
        %ul
          %li Integrating with your existing backup applications
          %li Extending use cases around VM backup with SolidFire datastores, direct-attached SolidFire volumes and SolidFire volumes as a disk backup pool
          = image_tag 'solutions/VM-backup-with-SolidFire-datastores.png', :align => 'middle', :class => 'vm-backup'
      .span5
        .form
          %h3
            Schedule my live demo
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1087'}

        .white-paper
          %p
            %a{:href => '/blog/a-storage-replication-adapter-to-keep-you-out-of-deep-water/'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              A Storage Replication Adapter to Keep You Out of Deep Water →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SwiftStack_Solution_Brief.pdf'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              SolidFire/SwiftStack Solution Brief →
          %p
            %a{:href => 'http://www.rackspace.com/blog/syncing-private-cloud-swift-containers-to-rackspace-cloud-files/'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Syncing Private Cloud SWIFT Containers to Rackspace Cloud →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/Configuring%20CommVault%20for%20SolidFire.pdf'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Commvault Best Practices Guide →
          %p
            %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/Configuring%20NetBackup%20for%20SolidFire.pdf'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              NetBackup Best Practices →
        .videos
          %p
            %a{:href => 'http://fast.wistia.net/embed/iframe/nrtkhlh4w4?popover=true', :class => 'wistia-popover[height=371,playerColor=7b796a,width=660]'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Learn about Real-Time Replication  →
          %p
            %a{:href => 'http://fast.wistia.net/embed/iframe/fdtbassqd9?popover=true', :class => 'wistia-popover[height=371,playerColor=7b796a,width=660]'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Learn about Integrated Backup & Restore  →