= content_for :head do
  = stylesheet_link_tag 'solutions/database', :media => 'all'
#database.section.top-section
  .container
    .full-row
      %h1 Database
      .span6
        %h3 Support your data model with flexible, scalable, and predictable storage performance
        %p SolidFire’s unique Quality of Service architecture is the critical missing link to delivering predictable performance from a shared storage infrastructure. SolidFire ensures that both SQL and NoSQL (e.g. MongoDB) database workloads get the resources they need to run properly without the capex and opex burden of dedicated hardware. Now you can mold a single shared storage platform to meet the unique capacity and performance demands of each of your database architectures.
      .span5
        = image_tag 'solutions/databaseimage.png', :align => 'middle', :class => 'database-img'
#partners.section.even
  .container
    .full-row
      %h2 Learn more about our database partners:
      .partners
        %a{:href => '/solutions/database/oracle'}
          = image_tag 'solutions/oraclegray.gif', :align => 'middle', :class => 'oracle-logo'
        %a{:href => '/solutions/database/mysql'}
          = image_tag 'solutions/mysql-logo_new_147x100.jpg', :align => 'middle', :class => 'mysql-logo'
        %a{:href => '/solutions/database/mssql'}
          = image_tag 'solutions/sqlservergray.gif', :align => 'middle', :class => 'sql-logo'
        %a{:href => '/solutions/database/mongodb'}
          = image_tag 'solutions/mongodbgray.gif', :align => 'middle', :class => 'mongo-logo'
#features.section
  .container
    .full-row
      %h2 Hello database consolidation. Goodbye storage silos
      %h3 Remove complexity from your database IT infrastructure
      %p SolidFire’s Quality of Service enables you to confidently consolidate multiple databases and secondary copies on a single storage platform. Start reducing cost and complexity with SolidFire’s independent capacity and performance pools and no impact scaling, ensuring all your databases are receiving optimized storage resources.
      %hr
      .icons
        .multi-tenancy
          = image_tag 'solutions/performance_control_v3.png', :align => 'middle'
          %p
            Performance
            %br
            Control
        .resource-agility
          = image_tag 'solutions/horizontal_scaling_v3.png', :align => 'middle'
          %p
            Horizontal
            %br
            Scaling
        .maximum-availability
          = image_tag 'solutions/adaptive_database_architecture_v3.png', :align => 'middle'
          %p
            Adaptive Database
            %br
            Architecture
        .complete-automation
          = image_tag 'solutions/simplified_management_v3.png', :align => 'middle'
          %p
            Simplified
            %br
            Management
#oracle.section
  .container
    .full-row
      %h2 Database Partners
      = image_tag 'solutions/oraclegray.gif', :align => 'left', :class => 'oracle-section-logo'
      .text
        %h2
          Oracle
        %p
          SolidFire is uniquely suited to run a variety of Oracle database workloads - from OLTP, DSS, heavily indexed VLDB all the way to backup and disaster recovery copies - and is the only storage system that can guarantee performance to each and every Oracle database volume.
        %a.button-red{:href => '/solutions/database/oracle/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_Oracle__1___1_.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p Oracle Datasheet →
#mysql.section.even
  .container
    .full-row
      = image_tag 'solutions/mysql-logo_new_147x100.jpg', :align => 'left', :class => 'mysql-section-logo'
      .text
        %h2
          MySQL
        %p
          SolidFire’s scale-out architecture and guaranteed Quality of Service (QoS) are a perfect fit for consolidating multiple MySQL databases and database copies. Facilitate multi-petabyte scale in a horizontal and non-disruptive fashion while guaranteeing QoS for each and every data volume.
        %a.button-red{:href => '/solutions/database/mysql/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/MySQL-Solution-Brief-RGB-05.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p MySQL Solution Brief →
#sqlserver.section
  .container
    .full-row
      = image_tag 'solutions/Microsoft-SQL-Server-Database.png', :align => 'left', :class => 'sql-section-logo'
      .text
        %h2
          Microsoft SQL Server
        %p
          SolidFire is well-suited to run a variety of Microsoft SQL Server workloads. SolidFire gives DBAs unmatched flexibility to change database volume characteristics on the fly and provides a single platform on which to consolidate tens to hundreds of databases.
        %a.button-red{:href => '/solutions/database/mssql/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_MSSQL.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p Microsoft SQL Server Solution Brief →
#flexiant.section.even
  .container
    .full-row
      = image_tag 'solutions/mongodbgray.gif', :align => 'left', :class => 'mongo-section-logo'
      .text
        %h2
          MongoDB
        %p
          SolidFire is the only storage system that combines dynamic performance control with the simplicity and scalability delivered in a MongoDB environment.
        %a.button-red{:href => '/solutions/database/mongodb/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFireMongoDB_Datasheet.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p MonogDB Datasheet →
