= content_for :head do
  = stylesheet_link_tag 'solutions/desktop_as_a_service', :media => 'all'
.daas-section-one.section
  .daas-container.page-top-margin.container
    .span12
      %h1 Desktop as a Service
      %h3 Deliver agile, profitable virtual desktop services
      %p SolidFire is the only storage system that can help service providers deliver large scale virtual desktop infrastructure (VDI) environment for its customers. With granular Quality of Service controls and a scale-out architecture SolidFire is uniquely suited to manage the mixed and unpredictable workload profiles that exist in VDI environments.
      = image_tag 'solutions/daas_hero_image.png', align: 'middle'
.daas-section-two.section.gradient-background-section
  .daas.container
    .span12
      = image_tag 'solutions/sf_inlineef_server-front.png', align: 'middle'
.daas-section-three.section.gradient-background-section
  .daas.container
    .span12
      %h2 Reduces time to revenue: faster deployment
      .span12
        .span2
          .image-container
            = image_tag 'solutions/adaptable_infrastructure.png', align: 'middle'
            %p.orange-one
              Adaptable
              %br
              Infrastructure
        .span10.right
          %p Adaptable infrastructure - service providers can adjust storage performance and capacity independently, increasing their ability to dynamically respond to evolving desktop environments and end customer demands.
          %ul
            %li Scale on demand with your enterprise customers
            %li Deliver customized performance-based VDI services to enterprises
            %li Adjust individual QoS control to accommodate boot storms, virus scans, patching and recompose operations
      .span12
        .span2
          .image-container
            = image_tag 'solutions/lowest_cost.png', align: 'middle'
            %p.orange-two
              Lowest Cost
              %br
              Per Desktop
        .span10.right
          %p Lowest cost per desktop - Industry leading storage density delivers 1000+ desktops per single rack unit at less than $50 per desktop without impact on performance.
          %ul
            %li SolidFire’s all flash architecture with built in data efficiency ensures service providers can deliver competitive services and maintain profitability.
            %li VDI Storage costs of $50 per desktop ($1.38/mo over 36 Month contract)
            %li Less than $1 per desktop IO
            %li Maximize data center footprint with by provisioning over 42,000 desktops per 42U rack
      .span12
        .span2
          .image-container
            = image_tag 'solutions/eliminate_storage_sprawl.png', align: 'middle'
            %p.orange-three
              Eliminate
              %br
              Storage Sprawl
        .span10.right
          %p Eliminate storage sprawl - service providers can guarantee performance to each virtual desktop and each application, eliminating the need for islands dedicated storage
          %ul
            %li Linear scale-out architecture reduces planning complexity
            %li Extremely dense deployment ratios reduce data center footprint lowering monthly facility costs
            %li The ability to guarantee QoS to each application eliminates need for dedicated storage
            %li Efficiently leverage both linked clones and persistent full clones
      .span12
        .span2
          .image-container
            = image_tag 'solutions/granular_scalability.png', align: 'middle'
            %p.red-one
              Granular
              %br
              Scalability
        .span10.right
          %p Granular scalability - Deliver incremental VDI service growth one node at a time without downtime
          %ul
            %li service providers can add both performance and capacity as needed without service interruption
            %li Reduce operational headaches with no forklift upgrades
            %li Always production ready. No downtime required to patch and scale the environment
      .span12
        .span2
          .image-container
            = image_tag 'solutions/simplified_vdi.png', align: 'middle'
            %p.red-two
              Simplified VDI
              %br
              Administration
        .span10.right
          %p Simplify administration - Simplify complex operational tasks by removing VDI design complexity, streaming desktop maintenance tasks and by reducing administration time
          %ul
            %li Leverage known/existing desktop management tools
            %li All-flash system speeds up provisioning operation and overall boot time.
            %li Distributed cluster architecture automatically balances the workload across the system
          .link-container
            %h5 Learn more about SolidFire’s VDI Solutions.
            %a.button-blue{:href => '/solutions/vdi/'}Learn More
