= content_for :head do
  = stylesheet_link_tag 'solutions/elementx', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'contact_form'

#elementx-page
  .angle-section
    .top-grey-angle
      .skew-right
        .section-one
          .elementx-container.page-top-margin
            .skew-fix
              .span12
                .span2
                  = image_tag "solutions/elementx/elementX-logo.png"
                .span9
                  %h1 SolidFire Element X
                  %h3 Delivering Gartner’s highest-rated solid-state storage solution* to hyperscale customers on their terms.
                  %p Enterprises and service providers that consume multiple PBs of storage annually can now leverage the full functionality of the SolidFire storage architecture on the hardware platform of their choice — allowing them to capitalize on their extensive IT volume purchasing power and supply chain expertise.
                  %p With the SolidFire Element X program, qualified hyperscale customers can license SolidFire’s Element Operating System to run on hardware chosen from SolidFire’s existing Hardware Compatibility List (HCL). Customers can also partner with SolidFire to jointly validate new hardware platforms, enabling guaranteed Quality of Service (QoS), in-line data reduction, complete system automation, and scale-out functionality.
  .section-two
    .elementx-container
      %h2 Are you hyperscale?
      %p The Element X program embraces our customers’ established system integration capabilities or partnerships to ensure they receive an experience consistent with what they have come to expect from SolidFire.
      %ul
        %li
          %p
            Do you have an extensive data center footprint spanning multiple continents?
        %li
          %p
            Do you build your own storage hardware or have established volume purchasing and support agreements with preferred hardware platform partners?
        %li
          %p
            Are you experiencing significant storage growth as a result of business growth?
        %li
          %p
            Have you invested to optimize your supply chain, inventory management, system integration, and just-in-time delivery expertise?

      %p If you can answer “yes”, you’re ready to realize the full functionality of the SolidFire storage platform within the comfort of your hardware supply chain.
      %p
        Contact us today to discuss the Element X program, or
        %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire-SolutionBrief-ElementX.pdf", target: "_blank"} download the solution brief
        to learn more.

      %a.demo-button-red{:href => '#contact-form', :class => 'contact-form'} contact us
      %a.demo-button-red-outline{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire-SolutionBrief-ElementX.pdf", target: "_blank"} download the solution brief

      .sub-text-section
        %p.sub-text * SolidFire received highest score for Overall Use Case in Gartner’s 2015 Critical Capabilities for Solid-State Arrays
        %p.sub-text * SolidFire received the highest overall score for:
        %ul
          %li
            %p.sub-text
              Vendors' Product Scores for the Overall Use Case
          %li
            %p.sub-text
              Vendors' Product Scores for the Online Transaction Processing Use Case
          %li
            %p.sub-text
              Vendors' Product Scores for the Server Virtualization Use Case
          %li
            %p.sub-text
              Vendors' Product Scores for the High-Performance Computing Use Case
          %li
            %p.sub-text
              Vendors' Product Scores for the Analytics Use Case

        %p.sub-text Gartner does not endorse any vendor, product, or service depicted in its research publications and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

#contact-form
  %h3 Contact us
  %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
  %form{:id => 'mktoForm_1314'}
  :javascript
      MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1314);


