= content_for :head do
  = stylesheet_link_tag 'solutions/infrastructure_as_a_service', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'infrastructure_as_a_service'

.iaas-section-one.section
  .iaas-container.page-top-margin.container
    .span12
      %h1 Infrastructure as a Service
      %h3 No one understands IaaS challenges better than SolidFire
      %p Whether you are building a new IaaS offering, or looking to add Guaranteed Performance services to your existing offering, SolidFire delivers the most comprehensive block storage solution to fuel your IaaS offerings.
      = image_tag 'solutions/Iaas-Graphic.png', align: 'middle'
.iaas-section-two.section.gradient-background-section
  .iaas-container.container
    .span12
      %h2 Designed for service providers
      %h3 Built-in competitive advantage
      .span3
        %a{:href => '/solutions/success-stories/#fueled'}
          = image_tag 'solutions/fbsf.png', align: 'left'
      .span8.right
        .span10
          %ul
            %li Develop new service offerings and gain competitive advantage with firm performance SLAs.
            %li Profitably deploy and scale performance sensitive applications from a single shared storage infrastructure.
            %li Dramatically increase EBITDA with greater Infrastructure agility, automation, and end-user self service.
            %li Enable customers to independently provision storage capacity and performance.
            %li Dramatically decrease time to deployment and drive revenue faster with key orchestration integrations.
    .span12
      .link-container
        %h5 Learn more about the Fueled by SolidFire Program.
        %a.button-red{:href => '/solutions/success-stories/#fueled'}Yes, Please
.iaas-section-three.section.gradient-background-section
  .iaas-container.container
    .span12
      %h2 The broadest hosting platform integration
    .span12
      %a{:href => '/solutions/vmware-solutions/'}
        = image_tag 'solutions/vmware_logo.png', align: 'left', class:'vmware'
      %a{:href => '/solutions/cloud-orchestration/openstack/'}
        = image_tag 'solutions/openstack_logo.png', align: 'left', class:'openstack'
      %a{:href => '/solutions/cloud-orchestration/cloudstack/'}
        = image_tag 'solutions/cloudstack_logo.png', align: 'left', class:'cloudstack'
      %a{:href => '/solutions/cloud-orchestration/onapp/'}
        = image_tag 'solutions/onApp_logo.png', align: 'left', class:'onapp'
      %a{:href => '/solutions/cloud-orchestration/flexiant/'}
        = image_tag 'solutions/flexiant_logo.png', align: 'left', class:'flexiant'
    .span12
      %p Broad platform integration allows service providers to quickly and easily integrate SolidFire into their environments. SolidFire’s unique scale, automation, and guaranteed quality of service capabilities, dramatically simplify storage management and provisioning - making true end-user self-service a reality.
    .span12
      .link-container
        %h5 Build your IaaS with the most comprehensively integrated block storage.
        %a.button-red{:href => '/solutions/cloud-orchestration/'}Learn More

.iaas-section-four.section.gradient-background-section
  .iaas-container.container
    .span12
      .span5
        = image_tag 'solutions/terminal_window.png', align: 'left'
      .span7.right
        %h2 Complete storage automation
        %p With a REST-based API at the core of our architecture, SolidFire enables Service Providers to automate every aspect of storage provisioning, management, monitoring, and reporting.
        %p Service Providers are now able to easily integrate storage into their management frameworks and develop clear utilization reports that help you and your customer monitor their performance SLAs.
        .span12
          .link-container
            %h5 Request our complete REST-based API documentation
            %a.button-red{:href => '#request-form', :class => 'request-form'} Request

#request-form
  .form
    %h3 Request form
    %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
    %form{:id => 'mktoForm_1024'}

.iaas-section-five.section.gradient-background-section
  .iaas-container.container
    .span12
      %h2 Deliver guaranteed storage performance to every customer application
      = image_tag 'solutions/4sf-noisy-neighbor.png', align: 'middle'
      %h3 SolidFire solves the Noisy Neighbor problem
      %p SolidFire Solves the Noisy Neighbor problem. When multiple applications share the same storage infrastructure, they also share storage performance (both IOPS and bandwidth). One application – or “noisy neighbor” – can easily consume an unfair share of the resources. Leaving mere scraps for others. SolidFire’s QoS settings eliminate resource contention and delivers rock steady performance to each and every application.

.iaas-section-five.section.gradient-background-section
  .iaas-container.container
    .span12
      .span3
        = image_tag 'solutions/coder_logo.gif', align: 'left'
      .span9.right
        %p.quote “The rich API available with the SolidFire system allowed us to deliver a superior quality of service guarantee to our customers, and also pass through a high level of control via the Codero Server Portal,”
        %p.quote &#45; Chandler Vaughn, Sr. Vice President of Product Management, Codero
      .span12
        .link-container
          %h5 See more SolidFire customer success stories.
          %a.button-red{:href => '/solutions/success-stories#case-studies'}Case Studies
.iaas-section-six.section.gradient-background-section
  .iaas-container.container
    .span12
      %h2 The world’s most scalable primary storage system for delivering IaaS
      %h3 Performance and capacity. In perfect balance.
      = image_tag 'solutions/scale_out.png', align: 'middle'
      .link-container
        %h5
          Explore SolidFire’s Scale-Out storage technology.
        %a.button-red{:href => '/storage-system/scale-out/'}Learn More
.iaas-section-seven.section.gradient-background-section
  .iaas-container.container
    .span12
      %h2 SolidFire Environmental Benefits
      %h3 Money isn’t the only thing you’ll save.
      %p With significantly higher efficiency than a legacy array, SolidFire's all-flash systems dramatically cut the energy, heating and cooling costs required by your storage infrastructure.
      = image_tag 'solutions/5sf-environmetal_benifits_graphics.png', align: 'middle'
      %h5 The SF9010 compared with traditional storage*
      %p *Compared with a leading disk-based array configured with 240, 600GB 15k Fibre Channel drives in a RAID 10 configuration.
      %a.button-red{:href => '/get-started/', :id => 'disclaimer'}Get Started
.iaas-section-eight.section
  .iaas-container.container
    .span12
      %p.disclaimer-text
        *SolidFire’s usable capacity is based on efficiencies gained from global compression and deduplication and include full data redundancy from SolidFire’s Helix data protection. On average SolidFire customers realize a 2x increase from compression and an added 2x of efficiency from deduplication. Effective capacity includes thin provisioning in the calculation resulting in an additional 2x capacity benefit. Data reduction benefits have no upper limit and will vary by workload.