#continuum
  .container
    .full-row
      %h1
        Welcome to the SolidFire Infrastructure
        %br
        Consumption Continuum
      %h3 Your step-by-step guide to choosing your next generation infrastructure
      .col1
        %p
          %span.bold.redText STEP 1<br>
          %span{:style => 'font-weight: 600; color: #555;'}Use the Infrastructure Consumption Continuum<br>
          Selecting your next infrastructure is never simple. What tradeoffs are you okay making and what does that mean for your future infrastructure? We call this situation the Infrastructure Consumption Continuum.
        %p Find out which infrastructure model is best suited for your needs by clicking your two most important priorities below.
        .continuumInstructions
          %p.desktopInstructions Click two of the five priority boxes below (Ease of Implementation, etc.). Your first click will eliminate — grey out — two infrastructure models that do not meet your needs. Your second click will reveal the two models best suited for you. Start over after two clicks by clicking a new priority.
          %p.mobileInstructions Please visit the Infrastructure Consumption Tool from your desktop to experience the full functionality of the tool.
        .continuumContainerMobile
          = image_tag 'solutions/ContinuumTool_mobile.png'
        .continuumContainer
          .topImage
            = image_tag 'solutions/Top.png'
          .leftArrowImage
            = image_tag 'solutions/leftArrow.png'
          .col3.left.asService
            %p As a Service
          .col3.hyperConverged
            %p Hyperconverged
          .col3.convergedInfrastructure
            %p Converged Infrastructure
          .col3.bestOfBreed
            %p Best of Breed Appliances
          .col3.right.softwareCommodity
            %p Software on Commodity Hardware
          .rightArrowImage
            = image_tag 'solutions/rightArrow.png'
        .col4
          .col5.rightAlign
            %p Easier
          .col6
            = image_tag 'solutions/arrowleft.png'
          #ease.col7.centerAlign.selectable
            %p Ease of Implementation
          .col6
            = image_tag 'solutions/arrowright.png'
          .col5
            %p Harder
        .col4
          .col5.rightAlign
            %p More Lock-in
          .col6
            = image_tag 'solutions/arrowleft.png'
          #vendorLockin.col7.centerAlign.selectable
            %p Degree of Vendor Lock-in
          .col6
            = image_tag 'solutions/arrowright.png'
          .col5
            %p Less Lock-in
        .col4
          .col5.rightAlign
            %p Less Flexible
          .col6
            = image_tag 'solutions/arrowleft.png'
          #flexibility.col7.centerAlign.selectable
            %p Implementation Flexibility
          .col6
            = image_tag 'solutions/arrowright.png'
          .col5
            %p More Flexible
        .col4
          #smallScale.col5.rightAlign.selectable
            %p At Small Scale
          .col6
            = image_tag 'solutions/arrowleft.png'
          .col7.centerAlign
            %p Cost Efficiency
          .col6
            = image_tag 'solutions/arrowright.png'
          #largeScale.col5.selectable
            %p At Large Scale
      .col2
        %p
          %span.bold.redText STEP 2<br>
          %span{:style => 'font-weight: 600; color: #555;'}Now make sense of your results<br>
          Download an in-depth, complimentary vision paper from Dave Wright, SolidFire Founder and CEO, to understand:
        %ul
          %li Why each model exists
          %li The key considerations and tradeoffs of each model
          %li How to use the tool to select the best consumption model for you
        <script src="http://app-ab03.marketo.com/js/forms2/js/forms2.js" type="text/javascript"></script>
        <form id="mktoForm_2127" style="margin: auto auto 20px;"></form>
        <script>MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2127);</script>
      .col1
        %h3{:style => 'text-align: center; margin-top: 75px; font-weight: 300;'}
          Download the supplementary paper,
          %span{:style => 'font-style: italic; color:#555;'}Using the Infrastructure Consumption Continuum,
          to learn more about your results.
      .col8
        %a{:href => "http://www.solidfire.com", :class => "comparisonLink"}
        = image_tag 'solutions/InfrastructureContinuumTN.png'
    .full-row
      %hr