= content_for :head do
  = stylesheet_link_tag 'solutions/managed_dedicated_san', :media => 'all'
#managed-dedicated-san.section.top-section
  .container
    .full-row
      %h1 SolidFire managed dedicated SAN
      %h3 Scalable, predictable and secure dedicated SAN deployments
      = image_tag 'solutions/Managed-SAN-Graphic.png', :align => 'middle'
      %P SolidFire’s scale-out, all-flash storage architecture is quickly becoming the standard for service providers delivering multi-tenant cloud services with guaranteed performance. In addition to cloud services, providers are also taking advantage of SolidFire’s scale, predictability and automation to deliver Managed Dedicated SAN solutions that support their customer’s broad regulatory and compliance requirements.
      %p
        Managed dedicated SAN deployments that are
        %a{:href => '/solutions/success-stories/#fueled'}Fueled by SolidFire
        are easier to deploy, manage and scale than any other storage infrastructure. In addition, service providers are now able to offer a new level of application performance control by extending guaranteed Quality of Service (QoS) to their managed SAN customers.
#scalabilty.section.even
  .container
    .full-row
      %h2 Managed dedicated SAN - scalability
      %p Delivering managed dedicated SAN infrastructure with SolidFire is simple. SolidFire’s true scale-out architecture delivers consistent linear scalability of both capacity and performance as the system grows. Initial implementations begin with a simple 4 node / 4U cluster configuration and enables you to scale customer environments easily via 1U node increments, adding performance and capacity* resources as a customer’s needs dictate.
      = image_tag 'solutions/mds-scalability.png', :align => 'middle'

      .white-paper
        %p
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_Managed_SAN_Datasheet.pdf', :target => '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            Download the Managed Dedicated SAN Datasheet →
#scalabilty.section
  .container
    .full-row
      .span6
        %h2 Guaranteed SAN performance, unmatched VM density
        %p
          SolidFire’s guaranteed
          %a{:href => '/storage-system/qos-benchmark/'}Quality of Service (QoS) technology
          allows service providers to offer managed dedicated SAN customers the most predictable storage platform behind each of their virtual machines. No longer do you have to spec infrastructure per application; now you can provide customers with true private cloud storage infrastructure in which performance and capacity can be controlled independently. SolidFire QoS eliminates the need to over-provision storage resources, and allows your enterprise customer the ability to set and enforce fine-grain QoS policies to each and every virtual disk.
      .span5
        = image_tag 'solutions/mds_performance.png', :align => 'middle'
        %p Control performance and capacity independent of each other.
#scalability.section.even
  .container
    .full-row
      %h2 Deployment Flexibility
      %p
        SolidFire’s
        %a{:href => scale_out_path} mixed-node cluster support
        allows service providers to offer the most flexible managed dedicated SAN infrastructure to their enterprise customers.
      %ul
        %li Start small with initial 4 node cluster and scale up incrementally on demand to PBs of storage*
        %li Change the performance and capacity characteristics of managed dedicated SAN environments in real-time and without application disruption.
        %li React to customer capacity and storage demands by moving storage nodes into and out of managed dedicated SAN environments without compromising any Quality of Service (QoS) settings.
        %li Protect your storage investment with the ability to re-deploy and re-allocate storage nodes between different clusters without any data migration, reconfiguration or additional licensing costs.
      %a.button-blue{:href => scale_out_path}Learn More
#scalability.section
  .container
    .full-row
      %h2 Automated management and self-service
      = image_tag 'solutions/openstackflexcloudonapp.png', :align => 'middle'
      %p Deeply integrated with the industry’s leading orchestration softwares, SolidFire storage platforms dramatically reduce customer deployment times.
      %p Combined with rich REST-based API control, service providers and enterprise customers can fully automate their storage infrastructure and deliver unique self-service portals that give end users an unprecedented amount of transparency and control of their storage systems.
      %a.button-blue{:href => '/get-started/'}Request Demo

