= content_for :head do
  = stylesheet_link_tag 'solutions/mongodb', :media => 'all'
#mongodb.section.top-section
  .container
    .full-row
      = image_tag 'solutions/mongodb_logo.jpg', :align => 'middle', :class => 'mongodb-logo'
      %h1 Flexible, scalable storage with dedicated performance
      %h3 Unlocking the power of MongoDB
      .span6
        %h2 SolidFire and MongoDB
        %p
          SolidFire is the only storage system that combines dynamic performance control with the simplicity and scalability delivered in a MongoDB environment.
        = image_tag 'solutions/cloudenvironment_mongodb_500x326.jpg', :align => 'middle', :class => 'mongodb-graphic'
        %h2 About MongoDB
        = image_tag 'solutions/mongodb-certified_partner_solutions-badge-26-300x660.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
        %p
          MongoDB is a scalable, high-performance, NoSQL document database system. It’s an agile database that allows schemas to change quickly as applications evolve, while still providing the functionality developers expect from a traditional relational database. This design enables extremely scalable and agile applications and drives improved customer experience, faster time to market and lower cost.
      .span5
        .form
          %h3
            Request a demo of
            %br
            MySQL and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1093'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1093);
        .white-paper
          %p
            %a{:href => show_resource_path('whitepaper-mongodb-performance-on-solidfire-with-ycsb')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MongoDB Performance on SolidFire with YCSB Whitepaper &#8594;
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_MongoDB.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MongoDB Solution Brief &#8594;
          %p
            %a{:href => show_resource_path('use-case-performance-tuning-mongodb-on-solidfire')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MongoDB Use Case &#8594;
          %p
            %a{:href => show_resource_path('best-practices-mongodb-on-solidfire')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MongoDB Best Practices &#8594;
          %p
            %i.icon-icon_playVideo2
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_NS7iCyw3qHlhlhFANOfjOA', :src => '//play.vidyard.com/NS7iCyw3qHlhlhFANOfjOA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_NS7iCyw3qHlhlhFANOfjOA();'}
              MongoDB and SolidFire: Quick-Cloning a Replica Set Member &#8594;
          %p
            %i.icon-icon_playVideo2
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_TzXzmOGXj-T4KZ1eBZACrw', :src => '//play.vidyard.com/TzXzmOGXj-T4KZ1eBZACrw.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_TzXzmOGXj$T4KZ1eBZACrw();'}
              MongoDB and SolidFire: Data Protection, Instant Backup and Restore &#8594;
    .full-row.benefits
      %h2 Key benefits of MongoDB on SolidFire
      .span1
        = image_tag 'solutions/MongoDB_Performance-Control.png', :align => 'left', :class => 'mongodb-certified-graphic'
      .span11
        %p
          %span.list-title Performance control -
          SolidFire allows you to dynamically adjust storage performance as needed to ensure your MongoDB environment delivers optimal throughput with minimal latency.
        %ul.list
          %li Adjust database volume performance on the fly
          %li API integration enables auto-scaling and full-stack performance automation
          %li Control performance (IOPS) independent of capacity (GBs)
          %li All-SSD architecture delivers optimal throughput with minimal latency
      .span1
        = image_tag 'solutions/MongoDB_Horizontal-Scaling.png', :align => 'left', :class => 'mongodb-certified-graphic'
      .span11
        %p
          %span.list-title Horizontal scaling -
          With SolidFire you can linearly scale storage capacity and performance resources to meet the demands of rapid application data growth.
        %ul.list
          %li True scale-out design complements architecture of NoSQL datastores
          %li Support rapid application growth without downtime or migration
          %li 1-click volume expansion
          %li Rapid volume cloning capabilities unlocks new deployment and scaling strategies
      .span1
        = image_tag 'solutions/MongoDB_Unlock.png', :align => 'left', :class => 'mongodb-certified-graphic'
      .span11
        %p
          %span.list-title Unlock adaptive database architectures -
          SolidFire is the only platform that gives you the flexibility to align storage resources to your MongoDB infrastructure in support of your application needs.
        %ul.list
          %li Adapt database performance real time with dynamic QoS controls
          %li Architect as needed by tailoring volumes to the exact needs of the database
          %li Breaking the traditional over-provisioning model allows for new approaches to provisioning volumes
      .span1
        = image_tag 'solutions/simplified_management_v3.png', :align => 'left', :class => 'mongodb-certified-graphic'
      .span11
        %p
          %span.list-title Simplified administration -
          Simplified storage provisioning and management allows DBAs to easily map their business logic needs against available storage resources.
        %ul.list
          %li Virtualized storage resources means no RAID groups, pools or spares to manage
          %li Provision based on GBs and IOPS makes it easy for the DBA to translate business logic to the storage system
          %li Consolidate applications and eliminate islands of storage
