= content_for :head do
  = stylesheet_link_tag 'solutions/mssql', :media => 'all'
#mssql.section.top-section
  .container
    .full-row
      = image_tag 'solutions/sql-server-2012.png', :align => 'middle', :class => 'mssql-logo'
      %h1 High performance storage for Microsoft SQL Server
      %h3 Simple, intuitive deployment with granular scalability
      .span6
        %h2 SolidFire and Microsoft SQL Server
        %p
          SolidFire is well-suited to run a variety of Microsoft SQL Server workloads. SolidFire gives DBAs unmatched flexibility to change database volume characteristics on the fly and provides a single platform on which to consolidate tens to hundreds of databases. Additionally, SolidFire is the only storage system that can guarantee performance to each and every Microsoft SQL Server volume.
        = image_tag 'solutions/mssql_graphic.jpg', :align => 'middle', :class => 'mssql-graphic'
        %h2 Consolidate, virtualize Microsoft SQL Server
        %p Reduce datacenter sprawl and overall Total Cost of Ownership (TCO) by consolidating Microsoft SQL databases onto a single SolidFire storage system. Fine grain QoS makes virtualizing Microsoft SQL Servers an option, especially when running large numbers of databases with varying storage and performance requirements.
        %h2 About Microsoft SQL Server
        %p Microsoft SQL Server is a widely used relational database management system. Customers rely on Microsoft SQL Server to power business critical applications across OLTP, data warehousing, business intelligence and analytics workloads.
        %h2 Key benefits of Microsoft SQL Server on SolidFire
        %p.list-title Guaranteed performance
        %ul.list
          %li All-flash architecture speeds database performance
          %li Fine-grain Quality of Service guarantees performance to every database volume
        %p.list-title Database flexibility
        %ul.list
          %li SolidFire has a simple, intuitive deployment
          %li Easily change database resources on the fly as business needs dictate
          %li Scale granularly through the non-disruptive addition of new storage nodes
        %p.list-title Seamless consolidation
        %ul.list
          %li Run tens to hundreds of Microsoft SQL Server databases on a single system
          %li Easily and predictably virtualize your Microsoft SQL Server environment on SolidFire
      .span5
        .form
          %h3
            Request a demo of
            %br
            Microsoft SQL Server
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1096'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1096);
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_MSSQL.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Microsoft SQL Server Solution Brief →
          %p
            %a{:href => show_resource_path('best-practices-microsoft-sql-server-on-solidfire')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Microsoft SQL Server Best Practices →