= content_for :head do
  = stylesheet_link_tag 'solutions/mysql', :media => 'all'
#mysql.section.top-section
  .container
    .full-row
      = image_tag 'solutions/mysql-logo_new.jpg', :align => 'middle', :class => 'oracle-logo'
      %h1 Accelerate and consolidate MySQL with confidence
      %h3 High performance storage ideal for multiple databases and copies
      .span6
        %h2 SolidFire and MySQL
        %p
          SolidFire’s scale-out architecture and guaranteed Quality of Service (QoS) are a perfect fit for consolidating multiple MySQL databases and database copies. Facilitate multi-petabyte scale in a horizontal and non-disruptive fashion while guaranteeing QoS for each and every data volume.
        %h2 Perfect fit for consolidating multiple databases
        %p SolidFire’s ability to tailor resource needs to every single volume through QoS allows for each database to be precisely customized to support the needs of the application, without the risk of I/O contention or the need to over provision storage. Consolidating reduces database licensing costs, eliminates storage silos, and drives down overall administration, enabling virtualized architectures.
        %h2 About MySQL
        %p MySQL is the world’s most commonly deployed open source relational database management system. A critical component in LAMP stacks (Linux, Apache, MySQL, Perl/PHP/Python), MySQL helps its users deploy high-volume web applications, business-critical systems, packaged software and open source projects that require a full-feature RDBMS.
        %h2 Key benefits of MySQL on SolidFire
        %p.list-title Guaranteed application performance
        %ul.list
          %li QoS ensures databases perform at the speed of the business
          %li Accelerate database performance on the fly without re-architecting underlying storage
          %li Back up, restore multi-terabyte MySQL databases in seconds vs. hours, minimizing disruption to business in the event production data is lost or corrupted
        %p.list-title Consolidate with confidence
        %ul.list
          %li QoS enables databases to be consolidated onto single storage system, reducing management complexity and infrastructure costs
          %li Zero-overhead clones enable multiple useable copies of MySQL, all with custom QoS, with little to no capacity overhead
          %li Inline deduplication reduces amount of data for consolidated workloads with cloned copies, providing low $/GB and improved total cost of ownership
          %li Data center consolidation enables virtualized architectures
        %p.list-title Run at web-scale
        %ul.list
          %li Quickly and non-disruptively change database performance and capacity without re-architecting or migration
          %li Scale-out architecture eliminates disruption of forklift upgrades; adjust volume capacity on the fly or add additional nodes to non-disruptively scale the entire storage layer
          %li Automate all aspects of DBaaS deployment, accelerating time to market
          = image_tag 'solutions/mysql_sb_image.png', :align => 'middle', :class => 'mysql-graphic'
      .span5
        .form
          %h3
            Request a demo of
            %br
            MySQL and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1717'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1717);
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/MySQL-Solution-Brief-RGB-05.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MySQL Solution Brief &#8594;
          %p
            %a{:href => '/resources/whitepaper-mysql-on-solidfire-scale-through-consolidation'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MySQL Whitepaper &#8594;
          %p
            %a{:href => show_resource_path('best-practices-mysql-on-solidfire')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              MySQL Best Practices &#8594;
          %p
            %i.icon-icon_playVideo2
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_-QCGhCZ918BvcUImtVDHCQ', :src => '//play.vidyard.com/-QCGhCZ918BvcUImtVDHCQ.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_$QCGhCZ918BvcUImtVDHCQ();'}
              MySQL Replication Cloning on SolidFire
              %br
              Demonstration &#8594;
          %p
            %i.icon-icon_playVideo2.no-padding
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_x2rIT7WhRozLJh0GyO1gfg', :src => '//play.vidyard.com/x2rIT7WhRozLJh0GyO1gfg.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_x2rIT7WhRozLJh0GyO1gfg();'}
              SolidFire: MySQL Backup & Restore Demo &#8594;