= content_for :head do
  = stylesheet_link_tag 'solutions/openstack', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'openstack.js'

.sub-nav.section
  .container
    %ul
      %li
        = link_to 'solidfire and openstack', '#openstack', class: 'openstack-link anchorLink'
      %li.padding-right-wide
        = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
      %li.padding-right-wide
        = link_to 'integrations', '#integrations', class: 'integrations-link anchorLink'
      %li.padding-right-wide
        = link_to 'resources', '#resources', class: 'resources-link anchorLink'

.sub-nav.section.hidden-nav
  .container
    %ul
      %li
        = link_to 'solidfire and openstack', '#openstack', class: 'openstack-link anchorLink'
      %li.padding-right-wide
        = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
      %li.padding-right-wide
        = link_to 'integrations', '#integrations', class: 'integrations-link anchorLink'
      %li.padding-right-wide
        = link_to 'resources', '#resources', class: 'resources-link anchorLink'

#openstack
  .angle-section
    .top-grey-angle
      .skew-right
        .section-one
          .openstack-container.page-top-margin
            .skew-fix
              .span3
                = image_tag "solutions/openstack/openstack.png"
              .span8
                %h1 OpenStack block storage built for the most demanding environments
                %h3 Take your cloud to places others can’t
                %p Discover what’s possible with your OpenStack cloud when Cinder block storage works for you, not against you. SolidFire believes storage should never be a barrier to cloud computing. That’s why our all-flash, scale-out system is the best block storage for OpenStack and is built to enable the demands of production-ready cloud environments.

  .section-two
    .openstack-container
      %h2 What can you accomplish when you have the right OpenStack infrastructure?
      .span6
        %h3 Seize the advantages of the leading block storage choice for OpenStack
        %p In today’s age of global business, the importance of IT infrastructure cannot be understated. Reliable and flexible infrastructure is critical to any business, and the era of cloud services has raised the bar on what it means to deliver IT services. When you deploy the right OpenStack storage, you can focus up the stack on application deployments, iterate and innovate more, and get back to the business of your business. SolidFire’s all-flash, scale-out storage:
        %ul
          %li
            %p Provides industry-best Cinder integration and can be deployed for use in OpenStack in under a minute
          %li
            %p Scales nondisruptively, enabling you to grow your Cinder block storage resources without impact as business needs demand
          %li
            %p Guarantees performance to all tenants and applications in your cloud
          %li
            %p Ensures all your cloud data is available and protected against loss and corruption
          %li
            %p Is an easily programmable resource through our full-featured API and complete automation, reducing manual coding and errors
          %li
            %p Is fully compatible with Swift object storage for integrated backup and restore

      .span6right
        = image_tag "solutions/openstack/storage-solved.png", class: 'storage-solved'

      .span12.margin-top
        .span6right
          %h3 Guarantee performance to the most demanding OpenStack workloads
          %p Confidently host your most critical applications in a multi-tenant, OpenStack cloud infrastructure — whether you are a service provider or enterprise — and even if you’re migrating legacy virtualized workloads to OpenStack or running them side-by-side. Only SolidFire combines proven OpenStack block storage deployments with an all-flash architecture and Quality of Service (QoS) controls that meet the needs of legacy and cloud-native applications. Now you can not just provide accelerated performance, but you can guarantee that performance, all on a single system.
        .span6
          .span12
            =image_tag "solutions/openstack/quote.png", align: 'left'
          .span12
            %p.quote-text
              We're getting 4x the performance with SolidFire, from 25k IOPS to 100k IOPS - with
              %span RELIABLE PERFORMANCE
              and
              %span FAST, EASY RECOVERY."

            %p.author STEVEN MAY
            %p.title Senior Director of Cloud Operations, Ultimate Software

      .span12.margin-top
        .span6
          %h2 Scale and automate your cloud nondisruptively as you grow
          %p Cloud computing implementations are all about the ability to scale and automate. Your OpenStack storage must scale, too. SolidFire storage systems leverage a true scale-out architecture that delivers linear scalability of both capacity and performance, allowing you to easily add resources as needs dictate, non-disruptively and without stopping Cinder services. Eliminate multi-year capacity planning and performance projections, and scale on demand. SolidFire’s complete set of APIs and deep OpenStack Cinder integration enable increased automation and end user self-service. Eliminate error-prone manual tasks, troublesome scripting hacks, and build an unrivaled foundation for scaled automation and full orchestration.
        .span6right
          =image_tag "solutions/openstack/cloud.png"

  .bottom-angle-section.one#use-cases
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-three
          .openstack-container
            %h2 Many OpenStack use cases. One block storage system.
            .span12.small-margin
              .span4
                %i{:class => 'icon-IaaS2'}
                %h4 Infrastructure as a Service
                %p Quickly provision hundreds to thousands of virtual machines or containers, reducing IT management time
              .span4middle
                %i{:class => 'icon-PaaS'}
                %h4 Platform as a Service
                %p Deliver a linearly scalable development platform that ensures a predictable application experience to each developer
              .span4last
                %i{:class => 'icon-SaaS'}
                %h4 Software as a Service
                %p Guarantee application performance, and nondisruptively scale your service as your user base expands

            .span12.small-margin
              .span4
                %i{:class => 'icon-Dev-Test'}
                %h4 Development/Test
                %p Iterate and evolve applications, and test them in an environment that mimics production to reduce risks, time, and cost
              .span4middle
                %i{:class => 'icon-CloudDatabase'}
                %h4 Cloud Databases/Database as a Service
                %p Reduce deployment times, scale services horizontally, and make efficient use of storage resources through automated database provisioning, setup, and configuration

            .span12.margin-top
              .span6right
                %h2 Deploy orchestrated, shared infrastructure done right
                %p When it comes to deploying OpenStack, one size doesn’t fit all. You need to choose the right tool for the job. SolidFire has strong partnerships with leading OpenStack distribution providers, including Red Hat® Enterprise Linux® OpenStack Platform, Mirantis, Platform9, and Cisco Metapod, accelerating your process of deploying and managing an OpenStack cloud. Deployment tools, such as Puppet modules, the Mirantis Fuel plug-in, or Platform9 Cinder integration, further streamline and accelerate the delivery of your OpenStack cloud.

              .span6
                = image_tag "solutions/openstack/logos-cloud.jpg", class: 'logos-cloud'

            .span12.margin-top
              .span6
                %h2 Go from zero to OpenStack cloud in under 90 minutes
                %p
                  %a{href: agile_infrastructure_path, class: 'agile-infrastructure-link'} SolidFire’s Agile Infrastructure
                  converged infrastructure reference architecture for OpenStack enables you to quickly and efficiently deploy an OpenStack cloud. No matter your use case, Agile Infrastructure delivers the performance of dedicated storage and the economy of shared infrastructure.

              .span6right
                = image_tag "solutions/openstack/AI.png"

  .bottom-angle-section.two#integrations
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-four
          .openstack-container
            %h2 SolidFire has industry-leading Cinder integrations
            %h3 Committed to OpenStack Cinder
            %p.padding-bottom SolidFire was there at the beginning when Cinder became a separate project from Nova, and our first Cinder driver released with OpenStack Folsom in 2012. That’s six generations of drivers and continued integration, exposing the depth and breadth of SolidFire features to OpenStack via our APIs. We remain a committed corporate sponsor of the OpenStack Foundation and regularly submit code into the Cinder project.

            %h3 Quickly configure SolidFire block storage in OpenStack
            %p SolidFire’s Cinder driver is elegant and straightforward, allowing customers to configure OpenStack for SolidFire in minutes, without the need for additional configuration libraries or add-ons. The maturity of the driver reveals itself in its easy setup for users and the completeness of the feature set once setup is complete:
            %ul
              %li
                %p Clone full environment with no impact to storage capacity
              %li
                %p Guarantee performance through full Quality of Service (QoS)
              %li
                %p Speed deployment with Glance image caching, and boot from volume capabilities
              %li
                %p Live migrate instances between OpenStack compute servers completely nondisruptively
              %li
                %p Easily triage issues through 1:1 ID mapping between Cinder Vol-ID and SolidFire volume name
              %li
                %p Automate configuration of SolidFire’s Cinder driver through available Puppet module

            .span12.margin-top
            =image_tag "solutions/openstack/computer.png", class: "computer"

  .bottom-angle-section.three#resources
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-five
          .openstack-container
            .resources-section
              %h2 Resources
              %h4 Documents
              %ul
                %li
                  %a{:href => 'http://info.solidfire.com/rs/solidfire/images/OpenStack_Solution_Brief.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    OpenStack Solution Brief »

                %li
                  %a{:href => show_resource_path('reference-architecture-solidfire-and-openstack')}
                    %i.icon-whitepapericon
                    OpenStack Reference Architecture »

                %li
                  %a{:href => show_resource_path('configuration-guide-solidfire-and-openstack')}
                    %i.icon-whitepapericon
                    OpenStack Configuration Guide »

                %li
                  %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_Mirantis.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    Mirantis Solution Brief »

                %li
                  %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/SolidFirePlatform9SolutionBrief.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    Platform9 Solution Brief »

                %li
                  %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/SolidFireCiscoMetapodSolutionBrief.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    Cisco Metapod Solution Brief »

                %li
                  %a{:href => 'http://info.solidfire.com/rs/solidfire/images/RackspacePrivateCloud_SolidFireDatasheet.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    RackSpace Solution Brief »

                %li
                  %a{:href => show_resource_path('reference-architecture-solidfire-and-rackspace-private-cloud')}
                    %i.icon-whitepapericon
                    RackSpace Reference Architecture »

                %li
                  %a{:href => 'http://info.solidfire.com/rs/538-SKP-058/images/Private%20Cloud%20-%20A%20Compelling%20Infrastructure%20Delivery%20Model.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    Private Cloud: A compelling infrastructure delivery model »

                %li
                  %a{:href => custom_landing_path('openstack-deployments-done-right-block-vs-object-storage'), :target => '_blank'}
                    %i.icon-whitepapericon
                    OpenStack Deployments Done Right: Block Vs Object Storage »

                %li
                  %a{:href => custom_landing_path('orchestrating-your-it-infrastructure-with-openstack'), :target => '_blank'}
                    %i.icon-whitepapericon
                    Orchestrating your Infrastructure with OpenStack »
                %li
                  %a{:href => show_resource_path('getting-it-right-openstack-private-cloud-storage')}
                    %i.icon-whitepapericon
                    Getting It Right: OpenStack Private Cloud Storage »

                %li
                  %a{:href => show_resource_path('why-solidfire-for-your-openstack-private-cloud')}
                    %i.icon-whitepapericon
                    Why SolidFire for your OpenStack Private Cloud »

                %li
                  %a{:href => show_resource_path('openstack-use-case-database-as-a-service-dbaas')}
                    %i.icon-whitepapericon
                    OpenStack Use Case: Database as a Service (DBaaS) »

                %li
                  %a{:href => show_resource_path('openstack-use-case-development-slash-test')}
                    %i.icon-whitepapericon
                    OpenStack Use Case: Development/Test »

              %h4 Podcasts
              %ul
                %li
                  %a{:href => 'http://www.talkshoe.com/talkshoe/web/audioPop.jsp?episodeId=972291&cmd=apop', :target => '_blank'}
                    %i.icon-whitepapericon
                    OpenStack Live Podcast »
                %li
                  %a{:href => 'http://www.talkshoe.com/talkshoe/web/audioPop.jsp?episodeId=1004284&cmd=apop', :target => '_blank'}
                    %i.icon-whitepapericon
                    Choosing an OpenStack Distribution Podcast »
                %li
                  %a{:href => 'http://www.talkshoe.com/talkshoe/web/audioPop.jsp?episodeId=1009836&cmd=apop', :target => '_blank'}
                    %i.icon-whitepapericon
                    Deploying with Fuel Podcast »
                %li
                  %a{:href => 'http://www.talkshoe.com/talkshoe/web/audioPop.jsp?episodeId=1015391&cmd=apop', :target => '_blank'}
                    %i.icon-whitepapericon
                    Cloud Management as a Service Podcast »
              %h4 Videos
              %ul
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('great-feats-of-storage-openstack-unlimited')}
                    %i.icon-icon_playVideo22
                    Great Feats of Storage: OpenStack Unlimited »
                %li
                  %script{:type => 'text/javascript', :id => 'vidyard_embed_code_ztt79l5nLEmYCwihXk0cng', :src => '//play.vidyard.com/ztt79l5nLEmYCwihXk0cng.js?v=3.1.1&type=lightbox'}
                  %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_ztt79l5nLEmYCwihXk0cng();'}
                    %i.icon-icon_playVideo22
                    SolidFire + OpenStack Technical Demo  »
                %li
                  %script{:type => 'text/javascript', :id => 'vidyard_embed_code_Y7NOFcQNuZCK3sxTCvQlFQ', :src => '//play.vidyard.com/Y7NOFcQNuZCK3sxTCvQlFQ.js?v=3.1.1&type=lightbox'}
                  %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_Y7NOFcQNuZCK3sxTCvQlFQ();'}
                    %i.icon-icon_playVideo22
                    OpenStack Live Migration Demo  »

              %h4 Webinars
              %ul
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('webinar-getting-it-right-openstack-private-cloud-storage')}
                    %i.icon-icon_playVideo22
                    Getting it Right: OpenStack Private Cloud Storage »
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('webinar-solidfire-plus-platform9-simply-faster-openstack')}
                    %i.icon-icon_playVideo22
                    SolidFire + Platform9: Simply faster OpenStack »
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('webinar-the-power-of-automation-rapidly-deploy-an-openstack-cloud')}
                    %i.icon-icon_playVideo22
                    Power of Automation: Rapidly Deploy an OpenStack Cloud »
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('webinar-accelerate-your-openstack-deployment'), :target => '_blank'}
                    %i.icon-icon_playVideo22
                    Accelerate Your OpenStack Deployment »
                %li
                  %a{:class => 'fancybox-media', :href => show_resource_path('webinar-get-the-most-out-of-openstack-block-storage-with-solidfire')}
                    %i.icon-icon_playVideo22
                    Get the Most out of OpenStack Block Storage with SolidFire »

              %h4 Case Studies
              %ul
                %li
                  %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_MercadoLibre.pdf', :target => '_blank'}
                    %i.icon-whitepapericon
                    MercadoLibre Case Study »
                %li
                  %a{:href => 'http://www.solidfire.com/blog/ficos-transition-to-an-openstack-paas-model/', :target => '_blank'}
                    %i.icon-whitepapericon
                    FICO’s Transition to an OpenStack PaaS Model »