= content_for :head do
  = stylesheet_link_tag 'solutions/openstack_infrastructure', :media => 'all'
#openstack-infrastructure.section
  .container
    .full-row
      %h1 SolidFire AI for OpenStack
      = image_tag 'solutions/ai-openstack.png', :align => 'middle', :class => 'vi-logo'
      .span12
        %h3.h3header
          A validated infrastructure for OpenStack data center design
        %p Converged infrastructure offerings are often an exercise in retrofitting legacy components into a pretty wrapper.
        %p SolidFire’s Agile Infrastructure (AI) solution is a series of reference architectures built for OpenStack infrastructures. It packages best-of-breed components (Red Hat, OpenStack, Dell or Cisco compute and networking, and SolidFire) together in a pre-validated design for IT departments so they can confidently and quickly embark on their journey to the Next Generation Data Center.
      .span12.center
        %p
          = link_to 'REFERENCE ARCHITECTURE: AI FOR OPENSTACK ON CISCO', '#openstack-cisco', :class => 'button-red openstack-cisco-link'
        %p
          = link_to 'REFERENCE ARCHITECTURE: AI FOR OPENSTACK ON DELL', '#openstack-dell', :class => 'button-red openstack-dell-link'
.operational-benifits.section
  .container
    .feature-wrapper
      %h2
        Operational benefits of AI for OpenStack
      .span2
        %p.advantage Agile
        = image_tag 'solutions/Verify_Icon.png', :align => 'middle', :class => 'automate'
      .span10
        %ul.list
          %li
            %span <1 hour
            to deploy from bare metal to OpenStack.
          %li
            %span 2.5 hours
            to create and boot 1,000 new persistent instances with 100GB root disks and key injection.
          %li
            %span
              15 minutes
            to clone 1,000 volumes (100GB each)
          %li
            %span
              15 minutes
            to add additional OpenStack compute nodes and deployed instances
      .span12
        .span2
          %p.advantage Automated
          = image_tag 'solutions/icons_03.png', :align => 'middle', :class => 'automate'
        .span10
          %ul.list
            %li
              %span <30 minutes
              to provision from bare metal to operating system across 17 nodes
            %li
              %span <30 minutes
              to install and configure OpenStack across 17 nodes
      .span12
        .span2
          %p.advantage Scalable
          = image_tag 'solutions/icons_07.png', :align => 'middle', :class => 'automate'
        .span10
          %ul.list
            %li
              %span Host up to 1,000 virtual machines
              consuming < 25% of available storage performance
            %li
              %span Headroom to 2x
              compute capacity from within initial single rack configuration
            %li
              %span Zero downtime
              of compute and storage nodes added without downtime or disruption
      .span12
        .span2
          %p.advantage Predictable
          = image_tag 'solutions/Predictable_Icon.png', :align => 'middle', :class => 'automate'
        .span10
          %ul.list
            %li
              %span Support for mixed workload
              environment with varying IO characteristics
            %li
              %span Maintain consistent performance levels
              across all instances via storage QoS settings
      .span12
        .span2
          %p.advantage Efficient
          = image_tag 'solutions/Efficient_Icon.png', :align => 'middle', :class => 'automate'
        .span10
          %ul.list
            %li
              %span Extreme data reduction:
              cluster wide deduplication and compression
            %li
              %span 3x IOPS per GB
              compared to traditional converged infrastructure
            %li
              %span 27U rack footprint
              including 360 cores, 4TBs RAM, ~1000 vCPUs, 250,000 IOPS and 60TBs
      .span12
        .helpful-resources
          = image_tag 'solutions/helix.png'
          Helpful Resources
        %p
          = link_to 'Solution Brief: AI for OpenStack on Cisco', 'http://info.solidfire.com/rs/538-SKP-058/images/Solution%20Brief-%20AI%20for%20OpenStack%20on%20Cisco.pdf', :class => 'whitePaperIcon'
        %p
          = link_to 'Solution Brief: AI for OpenStack on Dell', 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_AgileInfrastructure.pdf', :class => 'whitePaperIcon'
        %p
          = link_to 'Reference Architecture: AI for OpenStack on Cisco', '#openstack-cisco', :class => 'whitePaperIcon openstack-cisco-link'
        %p
          = link_to 'Reference Architecture: AI for OpenStack on Dell', '#openstack-dell', :class => 'whitePaperIcon openstack-dell-link'

.openstack-for-everyone.section
  .container
    %h2
      OpenStack for Everyone
    .span12.center
      %script{:type => 'text/javascript', :id => 'vidyard_embed_code_af5n-FhE5X6KDhLLiVeOtQ', :src => '//play.vidyard.com/af5n-FhE5X6KDhLLiVeOtQ.js?v=3.1.1&type=lightbox'}
      %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_af5n$FhE5X6KDhLLiVeOtQ();'}
        = image_tag 'solutions/openstack-ai-video.jpg'
    .span12
      %h3
        Accelerate the adoption of OpenStack with SolidFire’s AI solution
      %p
        Built for the Next Generation Data Center, SolidFire is the leading block storage solution in
        = link_to 'OpenStack.', openstack_path
        For customers that need scalable, highly available, agile, predictable, automated block storage there is no better option in OpenStack.
.request-demo.section
  .container
    .full-row
      %h2 Are you ready to make the complex simple?
      .sub-header
        Get started today.
        %br
        %br
        = link_to 'request a demo', '#header-demo', :class => 'button-red header-demo'
#openstack-cisco
  %h3
    Get started today.
  %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
  %form{:id => 'mktoForm_2415'}
  :javascript
    MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2415);
#openstack-dell
  %h3
    Get started today.
  %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
  %form{:id => 'mktoForm_1079'}
  :javascript
    MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1079);
