= content_for :head do
  = stylesheet_link_tag 'solutions/oracle', :media => 'all'
#oracle.section.top-section
  .container
    .full-row
      = image_tag 'solutions/oracle_gp.png', :align => 'middle', :class => 'oracle-logo'
      %h1 Guaranteed performance for Oracle
      %h3 Flexible, highly available low-latency storage perfect for database applications
      .span6
        %h2 SolidFire and Oracle
        %p
          SolidFire is uniquely suited to run a variety of Oracle database workloads - from OLTP, DSS, heavily indexed VLDB all the way to backup and disaster recovery copies - and is the only storage system that can guarantee performance to each and every Oracle Database volume. See Oracle Validated Configuration
          = link_to '11g', 'http://linux.oracle.com/pls/apex/f?p=102:2:1335283850740056::NO::P2_VC_ID:651', :target => '_blank'
          and
          = link_to '12c.', 'http://linux.oracle.com/pls/apex/f?p=102:2:8224112327512412::NO::P2_VC_ID:657', :target => '_blank'
        %h2 Ideal for database consolidation
        %p Eliminate database silos by consolidating multiple Oracle databases onto a single SolidFire storage system, allowing significant reduction in infrastructure costs with a single platform for all database workloads. Granular QoS control guarantees IOPS to all databases, enabling greater database density from a shared storage infrastructure.
        %h2 About Oracle
        %p The Oracle database is an object-relational database management system used the world over. Customers rely on the Oracle database to power their business critical applications and workloads: online transaction processing, online analytics processing, decision support systems, data warehouses and very large databases, as well as backup & recovery, disaster recovery and secondary processing.
        %h2 Key benefits of Oracle on SolidFire
        %p.list-title Guaranteed application performance
        %ul.list
          %li Faster application and transaction response times
          %li Guaranteed performance in recovery scenarios via RMAN switch-to-copy or Data Guard switchover
          %li Eliminate Data Guard lag by applying random updates quickly, accommodating bursty workloads
        %p.list-title Accelerate innovation
        %ul.list
          %li Faster queries, more queries helps derive additional revenue from data
          %li Space efficient snaps, clones coupled with robust automation helps create additional data copies quickly and easily, shortening development cycle time
          %li Reduce storage capital and operational expenses by consolidating multiple databases onto a single SolidFire cluster
        %p.list-title Enterprise-class data protection
        %ul.list
          %li Shrink backup windows by implementing RMAN incrementally updated backup strategy
          %li Utilize SolidFire snaps, clones for revision control when applying incremental updates
          %li RAID-less data protection provides fast rebuilds, minimal performance impact during failures
          = image_tag 'solutions/oracle_graphic.jpg', :align => 'middle', :class => 'oracle-graphic'
      .span5
        .form
          %h3
            Request a demo of
            %br
            Oracle and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1111'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1111);
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_eHSj6scpzdnyJxfNcZ104Q', :src => '//play.vidyard.com/eHSj6scpzdnyJxfNcZ104Q.js?v=3.1.1&type=lightbox'}
        %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_eHSj6scpzdnyJxfNcZ104Q();'}
          = image_tag 'solutions/oracle_video.jpg', :height => '260', :style => 'display: block; margin: 0 auto;', :width => '460', :alt => 'oracle', :rel =>'499,282'
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_SolutionBrief_Oracle__1___1_.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Oracle Solution Brief →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/OracleDataMartsSolutionBrief-092014.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Oracle Data Mart Solution Brief →
          %p
            %a{:href => show_resource_path('best-practices-oracle-database-on-solidfire')}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              Oracle Best Practices →
        .videos
          %p
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_n3sp2QTPJISANusP6Fr7mA', :src => '//play.vidyard.com/n3sp2QTPJISANusP6Fr7mA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_n3sp2QTPJISANusP6Fr7mA();'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              How to Pay for Disaster Recovery with Test/Dev →
          %p
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_BNQIAoZbKutjD3vQHnCbeA', :src => '//play.vidyard.com/BNQIAoZbKutjD3vQHnCbeA.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_BNQIAoZbKutjD3vQHnCbeA();'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Run Oracle at Web Scale with Oracle Data Guard →
          %p
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_SD3V-NiKcugTdeo-SACezQ', :src => '//play.vidyard.com/SD3V-NiKcugTdeo-SACezQ.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_SD3V$NiKcugTdeo$SACezQ();'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Oracle Databases from a Single LUN →
          %p
            %script{:type => 'text/javascript', :id => 'vidyard_embed_code_LB6uwjeowp3OcE-5QM8KJw', :src => '//play.vidyard.com/LB6uwjeowp3OcE-5QM8KJw.js?v=3.1.1&type=lightbox'}
            %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_LB6uwjeowp3OcE$5QM8KJw();'}
              = image_tag 'solutions/video_icon.png', :align => 'left', :class => 'white-paper-icon'
              Get More Value from your Oracle Database Deployment →