= content_for :head do
  = stylesheet_link_tag 'solutions/service_providers', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'service_providers'

#service-providers
  .service-providers-nav.section
    .container
      %ul
        %li
          = link_to 'solidfire service providers', service_providers_path, class: 'service-providers-link'
        %li.padding-right-wide
          = link_to 'success stories', success_stories_path, class: 'success-stories-link'
        %li.padding-right-wide
          = link_to 'use cases', success_stories_path(anchor: 'success-use-cases'), class:'use-cases-link'
        %li.padding-right-wide
          = link_to 'become fueled by solidfire', success_stories_path(anchor: 'fueled'), class: 'fueled-link'
        %li.padding-right-wide
          = link_to 'resources', success_stories_path(anchor: 'success-resources'), class: 'resources-link'

  .service-providers-nav.section.hidden-nav
    .container
      %ul
        %li
          = link_to 'solidfire service providers', service_providers_path, class: 'service-providers-link'
        %li.padding-right-wide
          = link_to 'success stories', success_stories_path, class: 'success-stories-link'
        %li.padding-right-wide
          = link_to 'use cases', success_stories_path(anchor: 'success-use-cases'), class:'use-cases-link'
        %li.padding-right-wide
          = link_to 'become fueled by solidfire', success_stories_path(anchor: 'fueled'), class: 'fueled-link'
        %li.padding-right-wide
          = link_to 'resources', success_stories_path(anchor: 'success-resources'), class: 'resources-link'

  .angle-section
    .top-grey-angle
      .skew-right
        .section-one
          .service-providers-container.page-top-margin
            .skew-fix
              .span12
                %h1 Monetize your storage like never before
                %h3  The only storage system designed from the ground up for service providers
                %p We know what matters most to service providers in a storage platform. Ensure a better hosting and cloud computing experience to customers by delivering more performance and more predictability from your infrastructure — competitive advantage guaranteed.
                = image_tag 'solutions/service_providers/homepage-node.png', align: 'middle'

  .section-two
    .service-providers-container
      %h2 Deliver new storage services to market more profitably
      %p.section-description In the hyper-competitive cloud and hosting business, finding new areas of growth is critical to survival. Boost revenue and enhance profitability in your public, private, and hybrid cloud and dedicated environments.
      .span6right
        %h3 Finally address your customers’ needs for predictable storage performance.
        %p 68% of enterprise applications stay in-house*, partly because service providers can’t guarantee storage performance in their multi-tenant platforms. Now you can deliver new services based on storage performance to win those applications, offering dedicated performance with the economies and advantages of shared.
        .links
          %a{href: "http://info.solidfire.com/rs/solidfire/images/Next-Growth-for-SP-Whitepaper.pdf?utm_source=marketo&utm_medium=email&utm_content=execbuyer&utm_campaign=serviceproviderpropsecting&mkt_tok=3RkMMJWWfF9wsRomrfCcI63Em2iQPJWpsrB0B%2FDC18kX3RUvIbmZbwfind1SFJk7a8C6XFdDS91S6zwVSrXN", target: "_blank"}
            %p
              Learn more
              %span  &nbsp; &#187
      .span6
        = image_tag "solutions/service_providers/report.png", class: 'report'
      .span12
        .span6
          %h3 Cut operating costs by up to 67%.
          %p Monetizing storage doesn’t just mean finding ways to increase revenue. It also means lowering costs to maximize profitability. Learn how SolidFire helps customers reduce management headaches and cut operational costs in their next generation data centers.
          .links
            %a{href: "http://www.solidfire.com/esg"}
              %p
                Learn more
                %span  &nbsp; &#187
        .span6right
          = image_tag "solutions/service_providers/magnifying-glass.png", class: "magnifying-glass"

  .bottom-angle-section.one
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-three
          .service-providers-container
            %h2 Reduce storage operational headaches and create  operational efficiencies
            %p.section-description In the cloud and hosting business, it’s all about repeatable operations tasks that can be automated, orchestrated, and integrated. We can help you streamline storage operations to create efficiencies, reduce headaches, and improve customer satisfaction.

            .span6right
              %h3 Avoid up to 93% of storage performance issues.
              %p Spend 12x less time scaling your storage to meet your growth, deploy VMs up to 15x faster with rich APIs, and save up to 226 hours of administrative productivity over five years.
              .links
                %a{href: "http://www.solidfire.com/esg"}
                  %p
                    Download the report
                    %span  &nbsp; &#187
            .span6
              = image_tag "solutions/service_providers/93.png"

            .span12
              .span6
                %h3 Get storage that’s predictable, not just fast.
                %p Experts agree guaranteeing storage quality of service (QoS) in multi-tenant environments is one of the most critical advancements in data center technology. Without it, application performance is unpredictable and trouble tickets are many.
                .links
                  %a{href: "http://info.solidfire.com/rs/solidfire/images/QoSChecklist.pdf", target: "_blank"}
                    %p
                      Download the report
                      %span  &nbsp; &#187
              .span6right
                = image_tag "solutions/service_providers/SP_reportimage5.png"

            .span12
              .span6right
                %h3 Address your most critical capabilities.
                %p SolidFire’s scale-out all-flash array was purpose-built for the large-scale, multi-tenant data centers of service providers and received the highest rating from Gartner for overall use.
                .links
                  %a{href: custom_landing_path('gmq-2015'), target: "_blank"}
                    %p
                      Download the report
                      %span  &nbsp; &#187
              .span6
                = image_tag "solutions/service_providers/SP_reportimage6.png"

  .bottom-angle-section.two
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-four
          .service-providers-container
            %h2 Reduce your business risk by aligning expenses tightly with revenue
            %p.section-description When costs are as high as they are in the service provider business, most organizations can’t afford to have their expenses out of alignment with revenue. SolidFire reduces this risk by allowing you to better manage the unknown variability in capacity and performance requirements, permitting you to scale both independently as business demands without needing to over-provision capacity just to get better performance.

            .span6right
              %h3 No more unused assets.
              %p Capacity needs change regularly from data center to data center. With SolidFire, service providers can swap out nodes in one data center and send them to another in need of more capacity, reducing the risk of stranded assets and creating greater cost efficiency.
              .links
                %a{href: scale_out_path}
                  %p
                    Learn more
                    %span  &nbsp; &#187

            .span6
              = image_tag "solutions/service_providers/dusty-node.png", class: 'node'

            .span12
              .span6
                %h3 Manage performance without disrupting customers.
                %p SolidFire enables you to increase or decrease performance to each workload in seconds without disruption, data migration, or data redistribution, creating happy operations staff and happier customers.
                .links
                  %a{href: scale_out_path}
                    %p
                      Learn more
                      %span  &nbsp; &#187

              .span6right
                = image_tag "solutions/service_providers/performance-capacity-node.png", class: 'performance-capacity'

            .span12
              .span6right
                %h3 Say goodbye to forklift upgrades.
                %p With our FlashForward program’s Platform Compatibility Guarantee, we guarantee both software and hardware compatibility for all systems for five years. This allows you to get new functionality free of charge and eliminate the hardware replacement, storage migration, and forklift upgrades common with traditional storage systems
                .links
                  %a{href: "http://www.solidfire.com/storage-system/"}
                    %p
                      Learn more
                      %span  &nbsp; &#187

              .span6
                = image_tag "solutions/service_providers/SP_forklift.png", class: 'forklift'

  .bottom-angle-section.three
    .section-under-left.dark-red-under
    .section-top-left
      .skew-fix-left
        .section-five
          .service-providers-container
            %h2 Attract more applications and more customers to your cloud.
            %p.section-description Win more business from performance-sensitive, mission-critical applications in your multi-tenant platforms, such as e-commerce/transaction processing, analytics/big data, ERP, CRM, and VDI, opening up new markets and opportunities that were previously out of reach.

            .span6right
              %h3 Differentiate your services.
              %p Service differentiation within the cloud and hosting industry is difficult, but you can do it by offering new storage products and capabilities, such as performance SLAs based on SolidFire’s quality of service (QoS) capability, without having to lower your prices.
              .links
                %a{href: "http://info.solidfire.com/rs/solidfire/images/Five-Ways-to-Differentiate-SP-Cheat-Sheet.pdf?utm_source=marketo&utm_medium=email&utm_content=busbuyer&utm_campaign=serviceproviderpropsecting&mkt_tok=3RkMMJWWfF9wsRomrfCcI63Em2iQPJWpsrB0B%2FDC18kX3RUvIbmZbgfind1SFJk7a8C6XFdDS91S6zwVSrXN", target: "_blank"}
                  %p
                    download the report
                    %span  &nbsp; &#187
            .span6
              = image_tag "solutions/service_providers/SP_reportimage8.png", class: 'differentiate-glass'

            .span12
              .span6
                %h3 Perfect your storage offerings and go-to-market (GTM) approach.
                %p We believe your technology vendors should offer you expert consultation on how best to take technology to market. SolidFire’s Fueled by SolidFire program was designed to do just that, helping you win in the market.
                .links
                  %a{href: success_stories_path(:anchor => 'fueled')}
                    %p
                      learn more
                      %span  &nbsp; &#187

              .span6right
                = image_tag "solutions/service_providers/fueled-by-solidfire.png", class: 'fueled-by'

