= content_for :head do
  = stylesheet_link_tag 'solutions/overview', :media => 'all'
#solutions-overview
  .angle-section
    .top-grey-angle
      .skew-right
        .top-section.page-top-margin
          .container
            .skew-fix
              %h1 Solutions Overview
              %h3 Combine your use case with revolutionary scale, automation, and performance control
              %p SolidFire storage systems are built on the native ability to achieve significant scale, guarantee storage performance, and enable complete system automation. Combined with enterprise applications and deeply integrated with key management frameworks, SolidFire delivers validated solutions that make your next generation data center deployment more cohesive, automated, and dynamically scalable.

              .navigation
                %a.button-red.anchorLink{:href => '#vmware'}VMware
                %a.button-red.anchorLink{:href => '#ai'}Agile Infrastructure
                %a.button-red.anchorLink{:href => '#cloud-orchestration'}Cloud Orchestration
                %a.button-red.anchorLink{:href => '#database'}Database
                %a.button-red.anchorLink{:href => '#vdi'}VDI
  .vmware-section#vmware
    .container
      %h2 Predictable storage performance to every VMware virtual machine
      .images
        = image_tag 'solutions/vmware_ready_logo.jpg', :align => 'middle', :class => 'vmware-logo'
      .text
        %h3 VMware Solutions
        %p
          Similar to the way VMware virtualizes compute resources, SolidFire storage systems
          %a{:href => '/solutions/vmware-solutions/'}virtualize performance
          separate from capacity enabling IT managers an unprecedented level of storage control. You can now provision, change and guarantee storage performance on demand without interruption or downtime.
        %a.button-red{:href => '/solutions/vmware-solutions'} Learn more
  .ai-section#ai
    .container
      %h2 Making the complex simple
      .images
        = image_tag 'solutions/aiicon.png', :align => 'middle', :class => 'ai-logo'
      .text
        %h3 Agile Infrastructure
        %p
          SolidFire Agile Infrastructure (AI) is a
          %a{:href => '/solutions/vmware-solutions/'}pre-validated, converged infrastructure design
          that has been thoroughly tested and validated by SolidFire. Built with SolidFire’s all-flash storage system at the foundation, each AI design also includes leading compute, networking and orchestration technologies, which enables start-to-finish deployment of an OpenStack cloud infrastructure in less than one hour.
        %a.button-red{:href => '/solutions/agile-infrastructure'} Learn more
  .cloud-orchestration-section#cloud-orchestration
    .container
      %h2 Automate capacity and performance allocation and enable end-user self-service
      .images
        =image_tag 'solutions/overview/Openstack.png', class: 'openstack', align: 'middle'
        =image_tag 'solutions/overview/CloudStack.png', class: 'cloudstack', align: 'middle'
        =image_tag 'solutions/overview/Flexiant.png', class: 'flexiant', align: 'middle'
      .text
        %h3 Cloud Orchestration
        %p
          When building large-scale public or private cloud infrastructures there is only one choice for block storage. SolidFire delivers the most
          %a{:href => '/solutions/cloud-orchestration/'}comprehensive block storage integration
          with all of the industry leading orchestration softwares. Each integration surfaces SolidFire’s patent-pending Quality of Service (QoS) controls allowing for complete performance automation and the development of end user self service tools.
        %a.button-red{:href => 'solutions/cloud-orchestration'} Learn more
  .database-section#database
    .container
      %h2 Dedicated database performance…now within a shared infrastructure
      .images
        = image_tag 'solutions/overview/oracleGoldPartner.png', :align => 'middle', :class => 'database-logos'
        = image_tag 'solutions/overview/MySQL.png', :align => 'middle', :class => 'database-logos'
        = image_tag 'solutions/overview/microsoftSQL.png', :align => 'middle', :class => 'database-logos'
        = image_tag 'solutions/overview/MongoDB.png', :align => 'middle', :class => 'database-logos'
      .text
        %h3 Database
        %p
          Up until now, the only way to get
          %a{:href => '/solutions/database/'}predictable database performance
          has been through the use of dedicated storage infrastructure. With SolidFire’s guaranteed Quality of Service functionality and scale-out architecture, all of your databases can now be run within a single storage system - more efficiently and predictably than ever before.
        %a.button-red{:href => 'solutions/database'} Learn more
  .vdi-section#vdi
    .container
      %h2 The most predictable and adaptable storage infrastructure for VDI deployments
      .images
        = image_tag 'solutions/overview/VMwareReady.png', :align => 'middle', :class => 'vdi-logos'
        = image_tag 'solutions/overview/CItrixReady.png', :align => 'middle', :class => 'vdi-logos'
      .text
        %h3 VDI
        %p
          SolidFire is the only storage system that can cost-effectively deliver the flexibility and adaptability required to support evolving
          %a{:href => '/solutions/vdi/'}large scale virtual desktop infrastructure (VDI) deployments.
          With granular Quality of Service (QoS) controls and a scale-out architecture SolidFire is uniquely suited to manage and adapt to the mixed and unpredictable workload profiles that exist in VDI environments.
        %a.button-red{:href => vdi_path} Learn more