= content_for :head do
  = stylesheet_link_tag 'solutions/success_stories', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'success_stories'
  = javascript_include_tag 'jquery.flip.min'

#success-stories
  .service-providers-nav.section
    .container
      %ul
        %li
          = link_to 'solidfire service providers', service_providers_path, class: 'service-providers-link'
        %li.padding-right-wide
          = link_to 'success stories', '#success-stories', class: 'success-stories-link anchorLink'
        %li.padding-right-wide
          = link_to 'use cases', '#success-use-cases', class: 'use-cases-link anchorLink'
        %li.padding-right-wide
          = link_to 'become fueled by solidfire', '#fueled', class: 'fueled-link anchorLink'
        %li.padding-right-wide
          = link_to 'resources', '#success-resources', class: 'resources-link anchorLink'
  .service-providers-nav.section.hidden-nav
    .container
      %ul
        %li
          = link_to 'solidfire service providers', service_providers_path, class: 'service-providers-link'
        %li.padding-right-wide
          = link_to 'success stories', '#success-stories', class: 'success-stories-link anchorLink'
        %li.padding-right-wide
          = link_to 'use cases', '#success-use-cases', class: 'use-cases-link anchorLink'
        %li.padding-right-wide
          = link_to 'become fueled by solidfire', '#fueled', class: 'fueled-link anchorLink'
        %li.padding-right-wide
          = link_to 'resources', '#success-resources', class: 'resources-link anchorLink'
  .angle-section#success
    .top-grey-angle
      .skew-right
        .section-one
          .success-stories-container.page-top-margin
            .skew-fix
              %h1 Delivering greater profitability, attracting new customers, and elevating service levels, all fueled by SolidFire.

  .section-two
    .success-stories-container
      %h2 We power some of the world’s most demanding data centers.

      #card-one
        .front
          = image_tag 'solutions/success_stories/iWeb.png', align: 'middle'
          %blockquote “SolidFire allows iWeb the ability to deliver SLAs around a predictable cloud hosting experience."
        .back
          %a{href: case_studies_path('iweb')}
            %h4 iWeb
          %ul
            %li Offered cloud storage with the same reliable performance as dedicated
            %li Improved managed hosting service levels in an OpenStack environment
            %li Guaranteed data integrity and availability

      #card-two
        .front
          = image_tag 'solutions/success_stories/1.1logo.png', align: 'middle', class: 'one-and-one'
          %blockquote “We can now offer two million server configurations in 55 seconds — a massive improvement for our users."
        .back
          %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/1%261_CaseStudy_Be-Do_v2.pdf", target: "_blank"}
            %h4 1 & 1
          %ul
            %li Guaranteed customer performance
            %li Reduced storage complexity
            %li Dramatically improved flexibility

      #card-three
        .front
          = image_tag 'solutions/success_stories/RFAlogo.png', align: 'middle', class: 'one-and-one'
          %blockquote “SolidFire opens revenue-generating services we otherwise would not be able to provide.”
        .back
          %a{href: "http://info.solidfire.com/rs/538-SKP-058/images/RFA_CaseStudy.pdf", target: "_blank"}
            %h4 RFA
          %ul
            %li Decreased performance issues by 100%
            %li Ensured transaction processing within milliseconds
            %li Greatly improved customer satisfaction
            %li Reduced costs and improved overall storage ROI

      #card-four
        .front
          = image_tag 'solutions/success_stories/ServIntlogo.png', align: 'middle', class: 'one-and-one'
          %blockquote "With SolidFire, we are able to fully guarantee I/O, and we have never really been able to do that before.”
        .back
          %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_ServInt.pdf", target: "_blank"}
            %h4 ServInt
          %ul
            %li Guaranteed IOPS to customers with 100% uptime SLA
            %li Scaled-out capacity without forklift upgrades

      #card-five
        .front
          = image_tag 'solutions/success_stories/SUNGARDlogo.png', align: 'middle', class: 'one-and-one'
          %blockquote "We guarantee every customer gets a competitive edge."
        .back
          %a{href: "http://info.solidfire.com/rs/solidfire/images/SolidFire_CaseStudy_Sungard.pdf", target: "_blank"}
            %h4 SUNGARD
          %ul
            %li Provided SLAs for storage IOPS
            %li Launched business-critical service offering
            %li Ensured consistent levels of performance for SAP, Oracle, and ERP

      #card-six
        .front
          = image_tag 'solutions/success_stories/Databarracks.png', align: 'middle', class: 'one-and-one'
          %blockquote "“The ability of SolidFire to dynamically adjust its performance and capacity is a real benefit. It means we don’t need multiple arrays. We can now do everything from one.”
        .back
          %a{href: case_studies_path('databarracks')}
            %h4 Databarracks
          %ul
            %li Offered more flexible and differentiated services to customers
            %li Delivered far higher performance for less


  .bottom-angle-section.one#success-use-cases
    .section-under-left
    .section-top-left
      .skew-fix-left
        .section-three
          .success-stories-container
            %h2 Solutions designed for every service provider use case

            .card
              %a{href: infrastructure_as_a_service_path}
                %h5 Public cloud
              %p Guarantee performance to each and every customer application in your public cloud, eliminating “noisy neighbors” and reducing support headaches.

            .card
              %a{href: show_resource_path('datasheet-all-flash-storage-for-your-managed-private-cloud-services')}
                %h5 Private cloud
              %p Offer the higher levels of support, performance SLAs, and customization required of managed private clouds with the flexibility, simplified provisioning, scale, and economics of multi-tenant.

            .card
              %a{href: managed_dedicated_san_path }
                %h5 Dedicated hosting
              %p Reduce capacity and performance management headaches to deliver the service levels dedicated hosting customers expect. SolidFire’s scale-out architecture delivers consistent linear scalability of both storage capacity and performance as the system grows.

            .card
              %a{href: database_as_a_service_path }
                %h5 Database as a Service
              %p Deploy thousands of databases from a single shared storage platform and make efficient use of storage resources through automated database provisioning, setup, and configuration. Guarantee predictable storage performance to 1,000s of customer databases.

            .card
              %a{href: desktop_as_a_service_path}
                %h5 Desktop as a Service
              %p Deliver agile, profitable virtual desktop services. With granular Quality of Service controls and a scale-out architecture, SolidFire is uniquely suited to manage the mixed and unpredictable workload profiles that exist in VDI environments.

  .bottom-angle-section.two#fueled
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .section-four
          .success-stories-container
            %h2 Get storage service pricing, positioning, and marketing support. Get Fueled by SolidFire.
            %h3 Offering not just technology but the tools and support to help you truly win in the marketplace

            %p.section-description
              The Fueled by SolidFire program helps cloud and hosting providers define, develop, and capitalize on new market opportunities made available by implementing SolidFire storage technology.
              %a{href: 'http://info.solidfire.com/rs/solidfire/images/Fueled_by_SolidFire_Overview.pdf', target: "_blank"}
                Learn more
            %p.section-description We understand the wider storage market trends and opportunities for service providers, and how to successfully sell storage services to enterprise and SMBs. We use that knowledge to help you shape your storage offerings and go-to-market (GTM) approach. We work as a partner to help execute on your service strategies, so you get to market faster and with more revenue-generating impact for your business.

            %h3.fueled-by The Fueled by SolidFire program sets the industry standard for go-to-market support

            .arrow-chart
              .first-half
                .arrow
                  .arrow-column.one
                    .above-text
                      %h5 Phase 1
                    .text
                      %h5 SolidFire Overview
                      %ul
                        %li Market opportunity identification
                        %li Use case identification
                        %li Business model overview
                        %li Technical deep dive
                        %li Live product demonstration
                .arrow
                  .arrow-column.two
                    .above-text
                      %h5 Phase 2
                    .text
                      %h5 Productization
                      %p Hands-on productization  workshop
                      %ul
                        %li Packaging
                        %li Pricing
                        %li Positioning
                        %li Business model detail definition
                        %li QoS SLA reference documents
                      %p Tools to assist
                      %ul
                        %li Margin analytics
                        %li MRD
                        %li Service description
                        %li Trading deck / materials

              .second-half
                .arrow
                  .arrow-column.three
                    .above-text
                      %h5 Phase 3
                    .text
                      %h5 Integration
                      %p Fueled by SolidFire program delivery
                      %ul
                        %li Joint press release
                        %li SolidFire video case study
                        %li Co-branded collateral
                        %li Sales and sales engineering training
                        %li Billing integration support
                        %li Management stack integration support
                .arrow
                  .arrow-column.four
                    .above-text
                      %h5 Phase 4
                    .text
                      %h5 Acceleration
                      %p
                        Post-sale program implementation
                      %ul
                        %li Joint customer case study
                        %li Lead acceleration (MDF pending)
                        %li Field marketing and events planning
                        %li Joint press release
                        %li SolidFire video case study
                        %li Co-branded collateral
                        %li Sales and sales engineering training
                        %li Billing integration support
                        %li Management stack integration support

            %h2.benefits Benefits of the Fueled by SolidFire Program
            %p.section-description Go-to-market assistance with storage service strategy, pricing, packaging, and positioning
            %ul.bullets
              %li
                %p.red
                  %a{href: "http://www.solidfire.com/resources/storage-market-requirements-document-mrd-template"} Storage Market Requirements Document template
              %li
                %p.red
                  %a{href: custom_landing_path('storage-rfi-guide-with-template'), target: "_blank"} Storage Request For Information (RFI) template
              %li
                %p.red
                  %a{href: custom_landing_path('sp-benchmark-report'), target: "_blank"} Flash-Based Storage Services Benchmark Report
              %li
                %p.red
                  %a{href: show_resource_path('451-research-storage-performance-tools-hit-prime-time-with-enterprises'), target: "_blank"} Storage analyst research
              %li
                %p On-site training of your sales and sales engineering teams
              %li
                %p On-site systems integration support
              %li
                %p Marketing and lead generation support to help accelerate time-to-revenue


  .bottom-angle-section.three#success-resources
    .section-under-left.aqua-under
    .section-top-left
      .skew-fix-left
        .section-five
          .success-stories-container
            %h2 Resource Toolbox
            .white-papers
              %h4 White papers
              %ul
                %li
                  %a{href: show_resource_path('2015-service-provider-storage-services-benchmark-report')}
                    %i.icon-whitepapericon
                    2015 Storage Services Benchmark Report
                %li
                  %a{href: custom_landing_path('gmq-2015'), target: "_blank"}
                    %i.icon-whitepapericon
                    Gartner 2015 Magic Quadrant for Solid State Arrays
                %li
                  %a{href: show_resource_path('introduction-to-storage-quality-of-service-article')}
                    %i.icon-whitepapericon
                    Introduction to Storage Quality of Service
                %li
                  %a{href: show_resource_path('storage-market-requirements-document-mrd-template')}
                    %i.icon-whitepapericon
                    Storage Market Requirements Document template
                %li
                  %a{href: custom_landing_path('storage-rfi-guide-with-template'), target: "_blank"}
                    %i.icon-whitepapericon
                    Storage Request For Information (RFI) template
                %li
                  %a{href: show_resource_path('5-ways-your-storage-vendor-is-costing-you-more-than-you-think')}
                    %i.icon-whitepapericon
                    5 ways your storage vendor is costing you more than you think
                %li
                  %a{href: 'http://info.solidfire.com/rs/solidfire/images/Next-Growth-for-SP-Whitepaper.pdf?utm_source=marketo&utm_medium=email&utm_content=execbuyer&utm_campaign=serviceproviderpropsecting&mkt_tok=3RkMMJWWfF9wsRomrfCcI63Em2iQPJWpsrB0B%2FDC18kX3RUvIbmZbwfind1SFJk7a8C6XFdDS91S6zwVSrXN', target: '_blank'}
                    %i.icon-whitepapericon
                    Where’s the next growth opportunity for cloud & hosting providers?
                %li
                  %a{href: show_resource_path('5-ways-to-differentiate-your-cloud-and-hosting-services')}
                    %i.icon-whitepapericon
                    5 ways to differentiate your cloud and hosting services
                %li
                  %a{href: show_resource_path('451-research-solidfire-secures-service-provider-win-muzzles-noisy-neighbors-with-qos')}
                    %i.icon-whitepapericon
                    451 research: SolidFire secures service-provider win, muzzles noisy neighbors with QoS
                %li
                  %a{href: show_resource_path('451-research-servint-guarantees-iops-with-solidfire-ssd-vps-product')}
                    %i.icon-whitepapericon
                    451 research: ServInt guarantees IOPS with SolidFire SSD VPS product

            %h4#case-studies Case Studies

            .case-studies
              %a{href: case_studies_path('rfa')}
                .case
                  = image_tag "solutions/success_stories/RFA.png"

              %a{href: case_studies_path('one_and_one')}
                .case
                  = image_tag "solutions/success_stories/1n1.png"

              %a{href: case_studies_path('sungard')}
                .case
                  = image_tag "solutions/success_stories/SUNGARDlogo.png"

              %a{href: case_studies_path('servint')}
                .case
                  = image_tag "solutions/success_stories/ServIntlogo.png"

              %a{href: case_studies_path('elastx')}
                .case
                  = image_tag "solutions/success_stories/Elastx.png"

              %a{href: case_studies_path('hosted_network')}
                .case
                  = image_tag "solutions/success_stories/HostedNetwork.png"

              %a{href: case_studies_path('crucial')}
                .case
                  = image_tag "solutions/case_studies/logo_crucial.png"

              %a{href: case_studies_path('iweb')}
                .case
                  = image_tag "solutions/success_stories/iWeb.png"

              %a{href: case_studies_path('databarracks')}
                .case
                  = image_tag "solutions/success_stories/Databarracks.png"

              %a{href: case_studies_path('datapipe')}
                .case
                  = image_tag "solutions/success_stories/Datapipe.png"