= content_for :head do
  = stylesheet_link_tag 'solutions/vdi', :media => 'all'
#vdi.section.top-section
  .container
    .full-row
      %h1 Virtual Desktop Infrastructure
      = image_tag 'solutions/vdi_graphic_v2.png', :align => 'middle', :class => 'vdi-graphic'
      %h3 Agile, scalable storage for your virtual desktop environments. At any scale.
      %p SolidFire is the only storage system that can cost-effectively deliver the flexibility and adaptability required to support evolving large scale virtual desktop infrastructure (VDI) deployments. With granular Quality of Service (QoS) controls and a scale-out architecture, SolidFire is uniquely suited to manage and adapt to the mixed and unpredictable workload profiles that exist in VDI environments.
#partners.section.even
  .container
    .full-row
      %h2 Learn more about our VDI partners:
      .partners
        %a{:href => '/solutions/vdi/vmware-horizon-view/'}
          = image_tag 'solutions/VMW_LGO_VMwareReady.png', :align => 'middle', :class => 'vmware-ready-logo'
        %a{:href => '/solutions/vdi/citrix-xendesktop/'}
          = image_tag 'solutions/citrix_ready.png', :align => 'middle', :class => 'citrix-ready-logo'
#features.section
  .container
    .full-row
      .icons
        .multi-tenancy
          = image_tag 'solutions/adaptable_infrastructure.png', :align => 'middle'
          %p
            Adaptable
            %br
            Infrastructure
        .resource-agility
          = image_tag 'solutions/lowest_cost.png', :align => 'middle'
          %p
            Lowest Cost
            %br
            Per Desktop
        .maximum-availability
          = image_tag 'solutions/eliminate_storage_sprawl.png', :align => 'middle'
          %p
            Eliminate
            %br
            Storage Sprawl
        .complete-automation
          = image_tag 'solutions/granular_scalability.png', :align => 'middle'
          %p
            Granular
            %br
            Scalability
        .simplified-vdi
          = image_tag 'solutions/simplified_vdi.png', :align => 'middle'
          %p
            Simplified VDI
            %br
            Administration
#vmware.section
  .container
    .full-row
      %h2 VDI Partners
      = image_tag 'solutions/VMW_LGO_VMwareReady.png', :align => 'left', :class => 'vmware-section-logo'
      .text
        %h2
          VMware Horizon View
        %p
          SolidFire is simple, flexible, cost-effective storage with complete performance control and changing the expectations of storage in large scale VDI deployments.
        %a.button-red{:href => '/solutions/vdi/vmware-horizon-view/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/VMwareViewSolidFire_Datasheet.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p VMware Horizon View Datasheet →
#citix.section.even
  .container
    .full-row
      = image_tag 'solutions/citrix_ready.png', :align => 'left', :class => 'citrix-section-logo'
      .text
        %h2
          Citrix XenDesktop
        %p
          SolidFire provides the flexibility and adaptability necessary to cost effectively drive a large-scale Citrix XenDesktop environment.
        %a.button-red{:href => '/solutions/vdi/citrix-xendesktop/'}Learn More
        .white-paper
          %a{:href => 'http://info.solidfire.com/rs/solidfire/images/XenDesktop_Datasheet.pdf', target: '_blank'}
            = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
            %p Citrix XenDesktop Datasheet →