= content_for :head do
  = stylesheet_link_tag 'solutions/virtual_infrastructure', :media => 'all'
#virtual_infrastructure.section.top-section
  .container
    .full-row
      %h1 SolidFire AI for virtualized infrastructure
      = image_tag 'solutions/solution_overview_mark1.png', :align => 'middle', :class => 'vi-logo'
      .span12
        %h3.h3header
          An ecosystem of providers, one
          %br.nomobile
          pre-validated design
        %p Other converged infrastructure offerings are an exercise in retrofitting legacy components into a pretty wrapper. Contrary to that notion, SolidFire has designed a converged infrastructure stack purpose-built to consolidate, automate and scale IT infrastructure for VMware .
        %p Using only best-of-breed components (VMware, Cisco compute & networking, and SolidFire) SolidFire’s AI for Virtual Infrastructure enables and accelerates enterprise IT deployments with deep integration, QoS and modularity for scalability. With this pre-validated design, IT departments can quickly and confidently embark on their journey to the Next Generation Data Center.
        %h2 The SolidFire AI advantage
        %p With AI for Virtual Infrastructure, SolidFire has uniquely demonstrated the ability for enterprises to easily and efficiently accommodate the demands of mixed workloads from a single storage platform. Leveraging SolidFire’s unique QoS capabilities, storage policies can be provisioned and enforced to isolate each workload while running simultaneously within a shared infrastructure.
      .span12
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_AI_Virtual_Infrastructure_SolutionBrief.pdf'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              AI for Virtual Infrastructure Solution Brief →
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_AI_Virtual_Infrastructure_SolutionBrief.pdf'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              SolidFire AI for VMware Solution Brief →
      .feature-wrapper
        .span2
          %p.advantage Automate
          = image_tag 'solutions/png_baseAutomation-Icon.png', :align => 'middle', :class => 'automate'
        .span10
          %ul.list
            %li
              %strong Reduce risk -
              Scripted workflows to simplify management, increase productivity and reduce possibility of human error.
            %li
              %strong Repeatable control -
              Automated performance allocation to support changing application and VM needs.
        .span12
          .span2
            %p Consolidate
            = image_tag 'solutions/png_baseConsolidation-Icon.png', :align => 'middle', :class => 'consolidate'
          .span10
            %ul.list
              %li
                %strong Do more with less -
                Quality of Service eliminates stranded resources and allows for the consolidation of all your mission-critical applications, operating from a single platform.
              %li
                %strong In-line efficiencies -
                With no performance penalty for deduplication, thin provisioning or compression, you’ll consistently drive down cost though data reduction.
        .span12
          .span2
            %p Scale
            = image_tag 'solutions/icons_07.png', :align => 'middle', :class => 'scale'
          .span10
            %ul.list
              %li
                %strong Scalable -
                Scale your infrastructure to meet business demand non-disruptively and without downtime.
              %li
                %strong Incremental growth -
                Scale granulary. Purchase only what you need when you need it.
#ai-in-action.section.even
  .container
    .full-row
      %h2 AI in action
      %p To demonstrate the mixed workload capabilities of architecture through the validation process, here’s a sampling of operations that can run concurrently on the AI design:
      %ul
        %li Boot storm of 200 VMware Horizon View desktops
        %li Two hosted Oracle OLTP database workloads running approximately 230,000 TPM
        %li MongoDB job running 70 concurrent threads
        %li Inline data reduction, including deduplication, compression and thin provisioning, driving 13.5x efficiency rates across all three workloads
#ai-in-action.section
  .container
    .full-row
      = image_tag 'solutions/NGDC_vi.png', :align => 'middle', :class => 'NGDC_vi'
      %h2 Accelerating the adoption of the Next Generation Data Center for a virtualized infrastructure
      %p
        Built for the Next Generation Data Center, SolidFire is the leading block storage solution for virtualized infrastructures. SolidFire AI helps enterprises maximize benefit while reducing risk from powerful virtualization and orchestration tools. Through a pre-validated design the SolidFire AI solution for
        %a{:href => '/solutions/vmware-solutions/'}VMware
        speeds deployment of the Next Generation Data Center, accelerating the path to an IT-as-a-Service environment by maximizing inherent architectural functionality to provide scalability, consolidation and automation.
.request-demo.section
  .container
    .full-row
      %h2 Are you ready to make the complex simple?
      .sub-header
        Get started today.
        %br
        %br
        = link_to 'request a demo', '#request-demo', :class => 'button-red request-demo-link'
#request-demo
  %h3
    Get started today.
  %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
  %form{:id => 'mktoForm_1087'}
  :javascript
              MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1087);
