= content_for :head do
  = stylesheet_link_tag 'solutions/vmware_horizon_view', :media => 'all'
#mongodb.section.top-section
  .container
    .full-row
      = image_tag 'solutions/VMW_LGO_VMwareReady_90.png', :align => 'middle', :class => 'vmware-logo'
      %h1 Simplified storage for VMware Horizon View
      %h3 Flexible, cost-effective storage for large scale VDI deployments
      .span6
        %h2 SolidFire and VMware Horizon View
        %p
          SolidFire is the only storage system that can cost-effectively deliver the flexibility and adaptability required to drive an evolving large scale virtual desktop infrastructure (VDI) environment. With granular quality-of-service controls and a scale-out architecture SolidFire is uniquely suited to manage the mixed and unpredictable workloads profiles that exist in VDI environments.
        = image_tag 'solutions/vdiview_deployingvmwareview_220x320.jpg', :align => 'middle', :class => 'vdi-view-graphic'
        %h2 About VMware Horizon View
        %p VMware View allows IT to simplify and automate the management of thousands of desktops and to securely deliver desktop as a service to users from a central location with levels of availability and reliability unmatched by traditional PCs. By delivering secure access to applications and data to any device, when and where the user needs it, VMware View provides end users with the highest levels of mobility and flexibility.
      .span5
        .form
          %h3
            Request a demo of VMware
            %br
            Horizon View and SolidFire
          %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
          %form{:id => 'mktoForm_1115'}
          :javascript
                MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 1115);
        %script{:type => 'text/javascript', :id => 'vidyard_embed_code_OiPpmjjEf8boVm78KG8dtA', :src => '//play.vidyard.com/OiPpmjjEf8boVm78KG8dtA.js?v=3.1.1&type=lightbox'}
        %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_OiPpmjjEf8boVm78KG8dtA();'}
          = image_tag 'solutions/Garrett_video.png', :style => 'display: block; margin: 0 auto;', :rel =>'499,282'
        %p.bold Watch this whiteboard video on Citrix XenDesktop & SolidFire
        .white-paper
          %p
            %a{:href => 'http://info.solidfire.com/rs/solidfire/images/VMwareViewSolidFire_Datasheet.pdf', target: '_blank'}
              = image_tag 'solutions/white_paper_icon.png', :align => 'left', :class => 'white-paper-icon'
              VMware Horizon View Solution Brief →
    .full-row.benefits
      = image_tag 'solutions/vdiview_unpredictableworkloads_500x188.jpg', :align => 'middle', :class => 'vdi-view-graphic'
      %h2 Key benefits of VMware Horizon View on SolidFire:
      .span1
        = image_tag 'solutions/vdi-graphic-one.jpg', :align => 'left'
      .span10
        %p
          %span.list-title Adaptable infrastructure -
          Adjust storage performance and capacity independently, increasing your ability to dynamically respond to evolving desktop requirements and user profiles
        %ul.list
          %li Go from pilot to production and beyond (no issues)
          %li Design for X and change to Y on the fly
          %li Size smaller environment and grow incrementally without redesign
          %li Adjust QoS controls to accommodate boot storms, virus scans, patching and recompose operations
      .span1
        = image_tag 'solutions/vdi-graphic-two.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Eliminate storage sprawl -
          Isolate and guarantee performance to each application, eliminating the need for dedicated
          %br.nomobile
          VDI storage
        %ul.list
          %li Extremely dense deployment with 1000+ desktops per node keeps footprint small
          %li QoS eliminates need for a dedicated VDI storage
          %li Efficiently leverage both linked clones and persistent full clones
      .span1
        = image_tag 'solutions/vdi-graphic-three.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Granular scalability -
          Incrementally scale storage resources one node at a time to accommodate desktop growth
          %br.nomobile
          without downtime
        %ul.list
          %li Incrementally add nodes to increase total IOPS
          %li Grow your View footprint 1 node at a time
          %li No forklift replacements when desktop capacity is outgrown
          %li No downtime required to scale environment
      .span1
        = image_tag 'solutions/vdi-graphic-four.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Simplified VDI administration -
          Drastically simplify storage management by removing VDI design complexity, streamlining desktop maintenance tasks and reducing administration time
        %ul.list
          %li Leverage known / existing desktop management tools
          %li Speed up desktop provisioning and booting
          %li Automatically balances desktops across the system
      .span1
        = image_tag 'solutions/vdi-graphic-five.jpg', :align => 'left', :class => 'mongodb-certified-graphic'
      .span10
        %p
          %span.list-title Lowest $/desktop -
          Industry leading storage density delivers 1,000+ desktops per U at less than $50 per desktop without sacrificing performance
        %ul.list
          %li All-SSD system will inline data efficiency means all desktop profiles are cost effective
          %li VDI storage costs under $50 / desktop
          %li Less than $1 per desktop IO
          %li Fit 1,000+ desktops per node = optimal data center footprint
