= content_for :head do
  = stylesheet_link_tag 'solutions/vmware_solutions', :media => 'all'

= content_for :javascript do
  = javascript_include_tag 'vmware.js'

.sub-nav.section
  .container
    %ul
      %li
        = link_to 'solidfire & VMware', '#vmware', class: 'vmware-link anchorLink'
      %li.padding-right-wide
        = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
      %li.padding-right-wide
        = link_to 'integrations', '#integrations', class: 'integrations-link anchorLink'
      %li.padding-right-wide
        = link_to 'resources', '#resources', class: 'resources-link anchorLink'

.sub-nav.section.hidden-nav
  .container
    %ul
      %li
        = link_to 'solidfire & VMware', '#vmware', class: 'vmware-link anchorLink'
      %li.padding-right-wide
        = link_to 'use cases', '#use-cases', class: 'use-cases-link anchorLink'
      %li.padding-right-wide
        = link_to 'integrations', '#integrations', class: 'integrations-link anchorLink'
      %li.padding-right-wide
        = link_to 'resources', '#resources', class: 'resources-link anchorLink'

#vmware
  .angle-section#vmware
    .top-grey-angle
      .skew-right
        .vmware-section-one
          .vmware-container.page-top-margin
            .skew-fix
              .span3
                = image_tag 'solutions/elio_vmware.png', align: 'middle', class: 'elio'
              .span9
                %h1 The most agile storage platform available for VMware
                %h3 Meet the diverse storage needs of the VMware software defined data center with a single platform
                %p Escape the performance and efficiency limitations of your traditional storage array with scale-out, all-flash storage from SolidFire. More than just high-performance storage, SolidFire’s platform enables you to put all your workloads on a single, secure, high-availability solution that completely automates your VMware storage and easily scales to closely match your compute platform growth. SolidFire also enables independent allocation of capacity and performance — just like allocating CPU and memory — to align virtual machine storage precisely to application requirements.

  .vmware-section-two
    .vmware-container
      .span12
        %h2
          Manageable, mixed-workload performance for VMware users
        .span6
          %h3 Scale to match your high-availability workload needs.
          %p Scaling your VMware storage should not require huge investments or data migrations. With SolidFire’s scale-out architecture, you can easily and nondisruptively achieve linear scale of both capacity and performance without downtime or performance impact.
          %p Also, feel confident your storage platform can deliver all the performance you require while reducing the impact hardware failures can cause for virtualized applications. The SolidFire shared-nothing architecture quickly heals itself to restore full redundancy and protect against future failures. Rebuilds take minutes, compared to hours or days for traditional storage platforms.
          %p
            %a{:href => '#demo-form', :class => 'demo-form', target: "_blank"} See how
            scale-out storage can improve your growth planning process while delivering the uptime your VMs require.

          #demo-form
            .form
              %h3 Schedule a live demo
              %script(src ='//app-ab03.marketo.com/js/forms2/js/forms2.min.js')
              %form{:id => 'mktoForm_1115'}

        .span6.right
          = image_tag 'solutions/vmware/nodes.png', align: 'middle', class: 'nodes'
      .span12.marginTop
        .span6right
          %h2 End the “noisy neighbor” problem for good.
          %p Maintaining VMware performance for a range of individual workloads is virtually impossible using traditional storage. Noisy neighbor applications monopolize the storage resources necessary for other applications. Rather than trying to overcome the problem by throttling traffic, solve the problem at the storage layer.
          %p
            SolidFire guarantees that storage performance will always meet a minimum level expected for application performance. Guaranteed
            %a{href: guaranteed_performance_path} Quality of Service (QoS)
            sets the standard for delivering an exact level of performance and bandwidth across multiple workloads, allowing you to set minimum, maximum, and burst thresholds as a way to ensure you deliver the storage performance every application requires.
          %p
            %a{:href => '#demo-form', :class => 'demo-form', target: "_blank"} Schedule a demo
            to see for yourself how SolidFire QoS ensures your applications will always receive the minimum performance required to meet your SLAs.
        .span6
          = image_tag 'solutions/vmware/noisy-neighbor.png', align: 'left', class: 'noisy-neighbor'
      .span12.marginTop
        .span6
          %h2  Reduce your management challenges.
          %p Provisioning and managing hundreds or thousands of VMs across an orƒganization is an operational nightmare. The VMware software-defined data center model is designed to help by providing a way to automate many of the management tasks required to maintain an efficient VM environment. SolidFire advances those capabilities with policy-based provisioning that greatly simplifies management.
          %p The SolidFire platform is designed with a full-featured interface that integrates seamlessly into VAAI, VASA, VVol, and vRealize — the tools you already use to automate your VMware infrastructure. In fact, when quantifying the value of SolidFire, the Enterprise Strategy Group (ESG) determined that 93% of typical performance management tasks can be eliminated, and that operating expenses can be cut by 67%.
          %p
            Reduce your VMware management obstacles even more with our
            %a.anchorLink{href: "#integrations"} vCenter plug-in and automation-enabling PowerShell scripting,
            allowing for true software-defined storage.
        .span6right
          = image_tag 'solutions/vmware/terminal-window.png', align: 'middle', class: 'terminal-window'

  .bottom-angle-section.one#use-cases
    .section-under-left
    .section-top-left
      .skew-fix-left
        .vmware-section-three
          .vmware-container
            %span{:class => 'anchor', :id => 'use-cases'}
            .span12.marginTop
              %h2 What do you want to solve today?
            .span6
              %h3 Infrastructure delivery
              %p The storage needed for virtual servers is becoming increasingly complex, requiring dynamic resources and a high-performance infrastructure. Traditional storage does not supply the scale, flexibility, and agility necessary to deliver infrastructure via the software-defined data center. As a result, organizations can’t deliver infrastructure as quickly or easily as external IaaS providers, which drives users to take corporate data offsite.
              %p The more agile SolidFire scale-out storage platform provides the foundation for the next generation data center, allowing the flexibility to deliver infrastructure the way users want to consume it.  Grow the storage platform without downtime. Provision storage capacity and performance independently. And automate storage features with ease.
              %ul
                %li
                  %p Easily adapt to support growing virtual server requirements, allowing for mixing and matching nodes to ensure investment protection
                %li
                  %p Be certain new workloads do not infringe on existing application performance with SolidFire Quality of Service (QoS)
                %li
                  %p Automate all management features through API and vSphere integrations
            .span6right
              = image_tag 'solutions/infrastructure_delivery.png', align: 'middle', class: 'infrastructure-delivery'

            .span12.marginTop
              .span12
                .span6right
                  %h2 End-user compute
                  %p Virtual desktop deployment is growing rapidly as organizations look to reduce cost of managing traditional desktop environments. SolidFire’s guaranteed QoS controls ensure predictable desktop performance that meets the varying needs of diverse users — from call centers, to finance, or even shipping. By provisioning storage capacity and performance independently, your organization can eliminate the dip in performance that boot storms cause at many points throughout a global operation.
                  %p Maximize your virtual desktop ROI by improving the flexibility and agility of your storage infrastructure, and deliver exactly the performance your desktop users require, complying with the per-desktop cost in your budget.
                  %ul
                    %li
                      %p Start VDI pilot for free along with existing enterprise applications without interference using performance guarantees
                    %li
                      %p Increase the density of desktops per node to remove economic barriers for adoption
                    %li
                      %p Support multiple VDI projects (e.g. call center, finance, design) from a single storage platform, leveraging global data reduction to reduce total storage requirements
                .span6
                  = image_tag 'solutions/vmware/end-user-compute.png', align: 'left', class: 'end-user-compute'
            .span12.marginTop
              .span6.right
                %h2 Application delivery
                %p The rate of application deployment is exploding, creating massive new virtualization challenges. Delivering clones of the application server, database server, or web servers is only part of the process.  In addition, you create nightly clones as you traverse the development effort. As you progress through the development/test/production cycle, performance needs continue to grow as well. But migrating your virtual machines across storage targets to increase performance is another barrier to releasing new applications.
                %p With SolidFire, the need to migrate the virtual machine to increase performance is no longer a challenge. As you move applications into testing, which requires higher levels of traffic to test the scale of your application, simply increase SolidFire’s QoS control settings. You can immediately meet the higher storage performance required to push your test environment and sustain the production application — all without interrupting any other development projects.
                %ul
                  %li
                    %p Increase developer efficiency with rapid and space- efficient VM clones
                  %li
                    %p Provide performance control for each virtual environment at each phase of development
                  %li
                    %p Support multiple virtual environments in parallel to optimize costs
              .span6
                = image_tag 'solutions/application_delivery.png', align: 'middle', class: 'application-delivery'

  .bottom-angle-section.two#integrations
    .section-under-left
    .section-top-left
      .skew-fix-left
        .vmware-section-four.section.gradient-background-section
          .vmware-container.container
            .span12.marginTop
              %h2 Integrations
              %p.margin-bottom SolidFire takes advantage of VMware interfaces to enable unparalleled storage performance and efficiency for virtualized environments. Building your VMware storage with SolidFire will deliver the best experience possible.
              .span4
                %i{:class => 'icon-SIOCQoS icon-with-bg'}
                %h5 SIOC + QoS
                %p Use SolidFire QoS to match the VM SIOC settings to the storage volume, aligning storage performance with virtual machine requirements
              .span4
                %i{:class => 'icon-VAAI icon-with-bg'}
                %h5 VAAI
                %p Take on storage functions from the VMware ESXi host to improve compute resource availability
              .span4.right
                %i{:class => 'icon-VASA icon-with-bg'}
                %h5 VASA
                %p Connect the independent capacity and performance virtualization capabilities of SolidFire to the VMware ESXi host
            .span12.top-margin
              .span4
                %i{:class => 'icon-SRM icon-with-bg'}
                %h5 SRM
                %p Integrate SolidFire's real-time and synchronous replication technology with VMware Site Recovery Manager
              .span4
                %i{:class => 'icon-VVOLQoS icon-with-bg'}
                %h5 VVol + QoS
                %p Deliver predictable performance with SolidFire QoS to truly leverage the value of per-VM storage control
              .span4.right
                %i{:class => 'icon-vCenter icon-with-bg'}
                %h5 vCenter Plug-in
                %p Manage SolidFire clusters through the VMware vSphere client
            .span12.top-margin
              .span4
                %i{:class => 'icon-PowerShell icon-with-bg'}
                %h5 PowerShell
                %p Leverage full scope of SolidFire API and controls to programmatically modify performance and capacity settings
              .span4
                %i{:class => 'icon-SPBM icon-with-bg'}
                %h5 SPBM
                %p Optimize the VM provisioning process by defining storage profiles used to provision datastores or VVols at scale
              .span4.right
                %i{:class => 'icon-vRealize icon-with-bg'}
                %h5 vRealize
                %p Integrate with the VMware vRealize interface to automate management of the SolidFire storage platform

  .bottom-angle-section.three#resources
    .section-under-left.red-under
    .section-top-left
      .skew-fix-left
        .vmware-section-five.section.gradient-background-section
          .vmware-container.container
            .span12.marginTop
              .resources-section
                %h2 Resource Toolbox
                %h4 Documents
                %ul
                  %li
                    %a{:href => show_resource_path('solution-brief-vmware-on-solidfire')}
                      %i.icon-whitepapericon
                      Solution Brief: VMware on SolidFire »
                  %li
                    %a{:href => show_resource_path('solution-brief-solidfire-vmware-vcenter-plug-in')}
                      %i.icon-whitepapericon
                      Solution Brief: SolidFire VMware vCenter Plug-in »
                  %li
                    %a{:href => show_resource_path('solution-brief-vmware-horizon-view-on-solidfire')}
                      %i.icon-whitepapericon
                      Solution Brief: VMware Horizon View on SolidFire »
                  %li
                    %a{:href => show_resource_path('configuration-guide-vmware-vsphere-on-solidfire')}
                      %i.icon-whitepapericon
                      Configuration Guide - VMware vSphere on SolidFire »
                  %li
                    %a{:href => show_resource_path('reference-architecture-solidfire-and-vmware-horizon-view')}
                      %i.icon-whitepapericon
                      VMware Horizon View Reference Architecture »
                  %li
                    %a{:href => show_resource_path('article-youre-risking-your-vmware-investment-and-heres-why')}
                      %i.icon-whitepapericon
                      Article - You're Risking Your VMware Investment, and Here's Why »

                %h4 Podcasts
                %ul
                  %li
                    %a{:href => show_resource_path('elements-of-solidfire-podcast-ep-2-vmware-and-solidfire')}
                      %i.icon-whitepapericon
                      Elements of SolidFire Podcast, Ep 2: VMware and SolidFire  »

                %h4 Videos
                %ul
                  %li
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_o0ZmOE97Mxv0vUOiaZxIDQ', :src => '//play.vidyard.com/o0ZmOE97Mxv0vUOiaZxIDQ.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_o0ZmOE97Mxv0vUOiaZxIDQ();'}
                      %i.icon-icon_playVideo22
                      Ask the Experts: VMware Virtual Volumes Implementations with SolidFire »
                  %li
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_MexzMI2CzxJbAyoKng9pBg', :src => '//play.vidyard.com/MexzMI2CzxJbAyoKng9pBg.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_MexzMI2CzxJbAyoKng9pBg();'}
                      %i.icon-icon_playVideo22
                      Whiteboard Video: SolidFire & Software-Defined Data Center »
                  %li
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_KfgFjkD_p8QaDmz3zR4JtA', :src => '//play.vidyard.com/KfgFjkD_p8QaDmz3zR4JtA.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_KfgFjkD_p8QaDmz3zR4JtA();'}
                      %i.icon-icon_playVideo22
                      Whiteboard Video: SIOC & SolidFire »
                  %li
                    %script{:type => 'text/javascript', :id => 'vidyard_embed_code_OiPpmjjEf8boVm78KG8dtA', :src => '//play.vidyard.com/OiPpmjjEf8boVm78KG8dtA.js?v=3.1.1&type=lightbox'}
                    %a{:href => 'javascript:void(0);', :onclick => 'fn_vidyard_OiPpmjjEf8boVm78KG8dtA();'}
                      %i.icon-icon_playVideo22
                      Whiteboard Video - Running your VDI Solution with VMware Horizon View and SolidFire »

                %h4 Webinars
                %ul
                  %li
                    %a{:href => show_resource_path('experts-round-table-webinar-why-should-you-care-about-vvols')}
                      %i.icon-icon_playVideo22
                      Experts Roundtable Webinar: Why should you care about VVOLs? »
                  %li
                    %a{:href => show_resource_path('webinar-consolidate-your-enterprise-workloads-without-creating-new-performance-constraints')}
                      %i.icon-icon_playVideo22
                      Webinar - Consolidate your enterprise workloads without creating new performance constraints »
                  %li
                    %a{:href => show_resource_path('webinar-vrealize-storage-automation-and-solidfire')}
                      %i.icon-icon_playVideo22
                      Webinar - vRealize Storage Automation and SolidFire »

                %h4 Case Studies
                %ul
                  %li
                    %a{:href => show_resource_path('case-study-ultimate-software')}
                      %i.icon-whitepapericon
                      Ultimate Software »
                  %li
                    %a{:href => show_resource_path('video-case-study-hosted-network')}
                      %i.icon-whitepapericon
                      Hosted Network »