.great-feats-iframe.form-great-feats
  - if @mobile
    .great-feats-mobile-logo
      = image_tag 'great-feats/great-feats-logo.png'
  .great-feats__form--body.great-feats-form-ty{:data => {:aid => @get_asset}}
    #top-form-text
      %p
        To have this asset emailed to you,
        %br
        please fill out the form.*

    %script{:src => '//app-ab03.marketo.com/js/forms2/js/forms2.min.js'}
    %form{:id => 'mktoForm_2396'}
    %script
      MktoForms2.loadForm("//app-ab03.marketo.com", "538-SKP-058", 2396, function(form){
      //Add an onSuccess handler
      form.onSuccess(function(values, followUpUrl){

      //Take the lead to a different page on successful submit, ignoring the form's configured followUpUrl.
      location.href = "/greatfeats/thank-you/#{@get_asset}";
      //return false to prevent the submission handler continuing with its own processing
      return false;
      });
      });
    #bottom-form-text
      %p
        * Please use a valid email address.



