.great-feats
  .great-feats__container
    .great-feats__logo-wrapper
      .great-feats__logo-image
        = image_tag 'great-feats/great-feats-logo.png'
      .great-feats__logo-text
        %span
          Here's to the IT innovators
        who expect more from an infrastructure.
        %br
        The ones who push the idea of where IT can go. It's time to do what's never been done.
    = render 'great_feats/shared/' + @asset_name + '_main'
    .bottom-content-containers
      .bottom-content-other-resources
        %hr.other-resources-hr
      - if  @asset_id == 'esg'
        = render 'great_feats/shared/qos'
      - else
        = render 'great_feats/shared/esg'
      - if  @asset_id == 'gmq'
        = render 'great_feats/shared/qos'
      - else
        = render 'great_feats/shared/gmq'
      - if  @asset_id == 'competitive_comparison'
        = render 'great_feats/shared/qos'
      - else
        = render 'great_feats/shared/competitive_comparison'
  #inline{:style => 'display:none;width:460px;'}
    .great-feats__form--header
      = image_tag 'great-feats/great-feates-form-header.png'
    .great-feats__form--body
      %iframe{:width => '450px', :height => '375px', :frameborder => 0, :scrolling => 'no', :style => 'margin:0;padding:0;', :id => 'iframe-form'}
