.great-feats-no-background-image.thank-you-visited
  %p
    The #{@asset_name} has been emailed to the email address you provided.
%script
  document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
%script
  Munchkin.init('538-SKP-058');

  var url = window.location.href;
  var newVar = url.substr(url.lastIndexOf('/') + 1);

  Munchkin.munchkinFunction('visitWebPage', {
  url: '/greatfeats/thank-you', params: 'id=' + newVar
  });




