.cms-home
  .cms-home__container
    %p
      - flash.each do |name, msg|
        = content_tag :div, msg, class: (flash[:error] ? 'alert' : 'success')

    %h2.welcome= "Solidfire Internal Request App"

    %p What would you like to do today?

    %p.bold.margin-top Categories
    %hr
    .span12
      = link_to @project_request_section.title, @project_request_section.url, :class => 'cms-red-button cms-button-grid'

      - @non_admin_sections.each do |item|
        -if item.title == 'Press Releases'
          = link_to item.title, item.url, :class => 'cms-dark-grey-button cms-button-grid'
        -elsif item.title == 'Organic Landing'
          = link_to item.title, item.url, :class => 'cms-purple-button cms-button-grid'
        -elsif item.title == 'Custom Landing'
          = link_to item.title, item.url, :class => 'cms-dark-blue-button cms-button-grid'
        -elsif item.title == 'News Posts'
          = link_to item.title, item.url, :class => 'cms-orange-button cms-button-grid'
        -elsif item.title == 'Events'
          = link_to item.title, item.url, :class => 'cms-light-blue-button cms-button-grid'

      - @resource_sections.each do |item|
        -if item.title == 'Resources'
          = link_to item.title, item.url, :class => 'cms-dark-green-button cms-button-grid'
        -elsif item.title == 'Resource Images'
          = link_to item.title, item.url, :class => 'cms-green-button cms-button-grid'

    - if @user.is_admin == 1
      .span12(style="margin-top: 50px;")
      %p.bold Admin Sections
      %hr
        .span12
          - @admin_sections.each do |item|
            = link_to item.title, item.url, :class => 'cms-white-button cms-button-grid'







