!!! 5

= content_for :javascript do
  = javascript_include_tag 'cms'

%html
  %head
    %title
      SolidFire Marketing CMS
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:data => {:source => @get_env} }
    %style{:type => "text/css"}
      = Rails.application.assets.find_asset("#{params[:controller]}.css").to_s.html_safe
    = stylesheet_link_tag 'application', :media => 'all'
    = favicon_link_tag 'global/favicon.ico'
    = yield :head
  %body
    = render 'shared/cms/header'
    #site-content
      = yield
    = render 'shared/cms/footer'
    = javascript_include_tag 'application'
    = yield :javascript
    = javascript_include_tag params[:controller]

