!!! 5
%html
  %head
    %link{:rel => "dns-prefetch", :href => "//www.google-analytics.com"}
    %link{:rel => "dns-prefetch", :href => "//www.googletagmanager.com"}
    %link{:rel => "dns-prefetch", :href => "//colodin.s3.amazonaws.com"}
    %link{:rel => "dns-prefetch", :href => "//munchkin.marketo.net"}
    %script{:charset => 'ISO-8859-1', :src => '//fast.wistia.com/assets/external/popover-v1.js'}

    = display_meta_tags
    - if @meta_title
      %title #{@meta_title}
    - if @meta_description
      %meta{:name => 'description', :content => @meta_description}
    - if @no_follow == 1
      %meta{:name => 'robots', :content => 'noindex, nofollow'}
      %meta{:name => 'googlebot', :content => 'noindex, nofollow'}
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:data => {:source => @get_env} }
    %style{:type => "text/css"}
      = Rails.application.assets.find_asset("#{params[:controller]}.css").to_s.html_safe
    = stylesheet_link_tag 'application', :media => 'all'
    = favicon_link_tag 'global/favicon.ico'
    = yield :head
  %body
    %noscript
      %iframe{:src => '//www.googletagmanager.com/ns.html?id=GTM-NN47KX', :width => '0', :height => '0', :style => 'display:none;visibility:hidden'}
    %script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NN47KX');
    .roll-overlay
    #site-content
      = yield
    = render 'shared/no_navigation_footer_with_disclaimer'
    %style{:href => 'http://info.solidfire.com/rs/solidfire/images/SolidFire_form.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.js'}
    %script{:type => 'text/javascript'}
      document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
    %script
      Munchkin.init('538-SKP-058');
    = javascript_include_tag 'application', params[:controller]
    = yield :javascript