.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p
          Editing
          = @cms_project_request_item.name
      .link
        = link_to 'Manage Project Request Items', cms_project_request_items_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Project Request Items', cms_project_request_items_path, :class => 'cms-white-button'
