.resources
  .resources__container.cms-margin-top
    %h3.float-left.cms-heading Project Request Items

    .float-right.margin-bottom-twenty-five
      %a.cms-green-button{href: new_cms_project_request_item_path}
        %span.plus +
        New Project Request Item
    .float-right.margin-bottom-twenty-five
      = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'

    .record-wrapper.events
      .record-email
        %span.title Items
      .record-destroy
        &nbsp;
    - @cms_project_request_items.each do |cms_project_request_item|
      .custom-landing-item
        .record-email
          = cms_project_request_item.name
        .record-destroy
          = link_to 'Destroy', cms_project_request_item, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'destroy button--red--small'
          = link_to 'Edit', edit_cms_project_request_item_path(cms_project_request_item), :class => 'edit button--grey--small margin-right-fifteen'
    .span12.border-top
      .button-container
        = link_to 'cms home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
        %a.cms-green-button{href: new_cms_project_request_item_path}
          %span.plus +
          New Project Request Item
