.radio-wrapper
  %p
    %span.required-filed
      &#42;
    Request item
    %p
      %select{:name => 'cms_project_request[item]', :id => 'cms_project_request_item'}
        %option{:value => 0}
          Select project request item
        - if @cms_item_find
          - @cms_item_find.each do |item_find|
            %option{:value => item_find.id, :selected => true}
              = item_find.name
        - @cms_project_request_items.each do |type|
          %option{:value => type.id}
            = type.name
        %option{:value => 1}
          Other