.resources.project-request-index
  .resources__container.cms-margin-top
    .edit-user-top
      .user
        %p  Create new project request item
      .link
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
        = link_to 'Manage Project Requests', cms_project_request_items_path, :class => 'cms-white-button'


    = render 'form'

    .span12.border-top
      .button-container
        = link_to 'Manage Project Requests', cms_project_request_items_path, :class => 'cms-white-button'
      .button-container
        = link_to 'CMS Home', cms_home_index_path, :class => 'cms-white-button margin-right-fifteen'
