.resources
  .resources__container
    %p
      %h2
        The item
        =  @cms_project_request_item.name
        has been successfully created.
    .back-btn
      = link_to 'project request types', cms_project_request_items_path, :class => 'cms-red-button'

