$(function () {
    show_secondary_navigation();

    //Image change on careers page
    var fade_speed = 1000;

    setInterval(random_function, 3000);

    function randomFrom(array) {return array[Math.floor(Math.random() * array.length)];}

    function random_function(){
        var func = randomFrom([displayNextImage_image_one, displayNextImage_image_two, displayNextImage_image_three, displayNextImage_large_image]);
        (func)();
    }

    var large_images = [], x = -1;
    large_images[0] = "<%= asset_path('company/1_lg.jpg') %>";
    large_images[1] = "<%= asset_path('company/2_lg.jpg') %>";
    large_images[2] = "<%= asset_path('company/3_lg.jpg') %>";
    large_images[3] = "<%= asset_path('company/4_lg.jpg') %>";
    large_images[4] = "<%= asset_path('company/5_lg.jpg') %>";
    large_images[5] = "<%= asset_path('company/6_lg.jpg') %>";
    large_images[6] = "<%= asset_path('company/7_lg.jpg') %>";

    function displayNextImage_large_image() {
        x = (x === large_images.length - 1) ? 0 : x + 1;
        $("#large_image").fadeOut(fade_speed, function(){
            document.getElementById("large_image").src = large_images[x];
            $("#large_image").fadeIn(fade_speed);
        });

        if(x == 7){
            x = 0;
        }
    }

    var images_one = [], i = -1;
    images_one[0] = "<%= asset_path('company/1.jpg') %>";
    images_one[1] = "<%= asset_path('company/2.jpg') %>";
    images_one[2] = "<%= asset_path('company/3.jpg') %>";
    images_one[3] = "<%= asset_path('company/4.jpg') %>";
    images_one[4] = "<%= asset_path('company/5.jpg') %>";

    function displayNextImage_image_one() {
        i = (i === images_one.length - 1) ? 0 : i + 1;
        $("#img_one").fadeOut(fade_speed, function(){
            document.getElementById("img_one").src = images_one[i];
            $("#img_one").fadeIn(fade_speed);
        });
        if(i == 5){
            i = 0;
        }
    }

    var images_two = [], t = -1;
    images_two[0] = "<%= asset_path('company/6.jpg') %>";
    images_two[1] = "<%= asset_path('company/7.jpg') %>";
    images_two[2] = "<%= asset_path('company/8.jpg') %>";
    images_two[3] = "<%= asset_path('company/9.jpg') %>";
    images_two[4] = "<%= asset_path('company/10.jpg') %>";

    function displayNextImage_image_two() {
        t = (t === images_two.length - 1) ? 0 : t + 1;
        $("#img_two").fadeOut(fade_speed, function(){
            document.getElementById("img_two").src = images_two[t];
            $("#img_two").fadeIn(fade_speed);
        });

        if(t == 5){
            t = 0;
        }
    }

    var images_three = [], q = -1;
    images_three[0] = "<%= asset_path('company/11.jpg') %>";
    images_three[1] = "<%= asset_path('company/12.jpg') %>";
    images_three[2] = "<%= asset_path('company/13.jpg') %>";
    images_three[3] = "<%= asset_path('company/14.jpg') %>";
    images_three[4] = "<%= asset_path('company/15.jpg') %>";

    function displayNextImage_image_three() {
        q = (q === images_three.length - 1) ? 0 : q + 1;
        $("#img_three").fadeOut(fade_speed, function(){
            document.getElementById("img_three").src = images_three[q];
            $("#img_three").fadeIn(fade_speed);
        });

        if(q == 5){
            q = 0;
        }
    }

    $( window ).scroll(function() {
        animate_numbers();
    });

    animate_numbers();

    function animate_numbers(){
        if(window.jQuery().visible) {
            if ($('.careers-section-three').visible()) {
                $('.counted-numbers').css('display', 'block');
                $('.hide').css('display', 'none');
                $('.count').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 4000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                    $('.count').removeClass('count')
                });
            }
        }
    }

    //perks

    //change font color to light grey

    function change_color(){
        $('.health h3, .health p').css('color', '#D8D8D8' );
        $('.flexibility h3, .flexibility p').css('color', '#D8D8D8' );
        $('.vacation h3, .vacation p').css('color', '#D8D8D8' );
        $('.community h3, .community p').css('color', '#D8D8D8' );
    }

    function remove_image(){
        $( ".health-img" ).css('display', 'none');
        $( ".flexibility-img" ).css('display', 'none');
        $( ".time-off-img" ).css('display', 'none');
        $( ".community-img" ).css('display', 'none');
    }

    $('.health').hover(function (){

          if ($('.health-img').css('display') == 'none') {

            remove_image();
            $( ".health-img" ).fadeIn( "slow" );
            change_color();
            $('.health h3, .health p').css('color', '#4A4A4A');
        }
    });

    $('.flexibility').hover(function (){
        if ($('.flexibility-img').css('display') == 'none') {
            remove_image();
            change_color();
            $( ".flexibility-img" ).fadeIn( "slow" );
            $('.flexibility h3, .flexibility p').css('color', '#4A4A4A');
        }
    });

    $('.vacation').hover(function (){
        if ($('.time-off-img').css('display') == 'none') {
            remove_image();
            change_color();
            $( ".time-off-img" ).fadeIn( "slow" );
            $('.vacation h3, .vacation p').css('color', '#4A4A4A');
        }
    });

    $('.community').hover(function (){
        if ($('.community-img').css('display') == 'none') {
            remove_image();
            change_color();
            $( ".community-img" ).fadeIn( "slow" );
            $('.community h3, .community p').css('color', '#4A4A4A');
        }
    });

    function show_secondary_navigation() {
        var elementPosition = $(' .careers-section-one').offset();
        var hidden = true;

        $(window).scroll(function () {

            if ($( window ).width() < 752 && hidden == false ) {
                $('.sub-nav.section').css('display', 'none');
                hidden = true;

            } else if ($( window ).width() >= 752 && $(window).scrollTop() > elementPosition.top + 400 && hidden == true) {
                $('.sub-nav.section').slideToggle();
                hidden = false;

            } else if ($( window ).width() >= 752 && $(window).scrollTop() < elementPosition.top + 400 && hidden == false) {
                $('.sub-nav.section').slideToggle();
                hidden = true;
            }
        })
    }

    //FAQs accordion

    $('h4.question').click( function () {
        if ( $(this).attr('id') !=  $('.selected-question').attr('id') ) {
            $('.selected-question').toggleClass('selected-question').next().slideToggle();
        }

        $(this).toggleClass('selected-question').next().slideToggle();
    });

    //accordion sections


    $('.icon-RightArrow20').click( function () {
        $(this).parent().toggleClass('selected-header').next().slideToggle();
    });

    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });

    //highlight active link
    if(window.location.href.indexOf("productandengineering") > -1) {
        $('a.product-and-engineering').css('color', '#CC1F26')
    } else if (window.location.href.indexOf("sales") > -1) {
        $('a.sales').css('color', '#CC1F26')
    } else if (window.location.href.indexOf("marketing") > -1) {
        $('a.marketing').css('color', '#CC1F26')
    } else if (window.location.href.indexOf("operationsandadministration") > -1) {
        $('a.operations-and-administration').css('color', '#CC1F26')
    } else if (window.location.href.indexOf("interns") > -1) {
        $('a.interns').css('color', '#CC1F26')
    }

    //show job description
    $(function () {
        $('.job-title').on('click', function () {
            $(this).toggleClass('highlight-title');
            $(this).next().next().slideToggle();
        })
    });

    //show share link
    $('a.share-btn').on('click', function () {
        $('input.share-link').toggle();
    })
});